<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abc-stridsmedel</string>
		<key>Word</key>
		<string>ABC-stridsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abdominal</string>
		<key>Word</key>
		<string>abdominal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abdul</string>
		<key>Word</key>
		<string>Abdul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abel</string>
		<key>Word</key>
		<string>Abel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aberrationsvinkel</string>
		<key>Word</key>
		<string>aberrationsvinkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abiel</string>
		<key>Word</key>
		<string>Abiel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abigail</string>
		<key>Word</key>
		<string>Abigail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abigal</string>
		<key>Word</key>
		<string>Abigal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abihail</string>
		<key>Word</key>
		<string>Abihail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abimael</string>
		<key>Word</key>
		<string>Abimael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abiturientbal</string>
		<key>Word</key>
		<string>abiturientbal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abl</string>
		<key>Word</key>
		<string>ABL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abm-avtal</string>
		<key>Word</key>
		<string>ABM-avtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abul</string>
		<key>Word</key>
		<string>Abul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>acceptabel</string>
		<key>Word</key>
		<string>acceptabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>acl</string>
		<key>Word</key>
		<string>ACL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>acrel</string>
		<key>Word</key>
		<string>Acrel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>actionspel</string>
		<key>Word</key>
		<string>actionspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>activex-kontroll</string>
		<key>Word</key>
		<string>ActiveX-kontroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adel</string>
		<key>Word</key>
		<string>adel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adressintervall</string>
		<key>Word</key>
		<string>adressintervall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adriel</string>
		<key>Word</key>
		<string>Adriel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adsl</string>
		<key>Word</key>
		<string>ADSL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adverbial</string>
		<key>Word</key>
		<string>adverbial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>advokatfiskal</string>
		<key>Word</key>
		<string>advokatfiskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aerosol</string>
		<key>Word</key>
		<string>aerosol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affarsmodell</string>
		<key>Word</key>
		<string>affärsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aftonsol</string>
		<key>Word</key>
		<string>aftonsol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agrell</string>
		<key>Word</key>
		<string>Agrell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahitofel</string>
		<key>Word</key>
		<string>Ahitofel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahl</string>
		<key>Word</key>
		<string>Ahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aizawl</string>
		<key>Word</key>
		<string>Aizawl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akilleshal</string>
		<key>Word</key>
		<string>akilleshäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akryl</string>
		<key>Word</key>
		<string>akryl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aktiekapital</string>
		<key>Word</key>
		<string>aktiekapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aktuell</string>
		<key>Word</key>
		<string>aktuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akvarell</string>
		<key>Word</key>
		<string>akvarell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>al</string>
		<key>Word</key>
		<string>al</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>albedyhl</string>
		<key>Word</key>
		<string>Albedyhl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>algol</string>
		<key>Word</key>
		<string>Algol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkohol</string>
		<key>Word</key>
		<string>alkohol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>all</string>
		<key>Word</key>
		<string>all</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amdahl</string>
		<key>Word</key>
		<string>Amdahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amfibiebil</string>
		<key>Word</key>
		<string>amfibiebil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amiral</string>
		<key>Word</key>
		<string>amiral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ampel</string>
		<key>Word</key>
		<string>ampel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ampull</string>
		<key>Word</key>
		<string>ampull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anabol</string>
		<key>Word</key>
		<string>anabol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anal</string>
		<key>Word</key>
		<string>anal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anbefall</string>
		<key>Word</key>
		<string>anbefall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andel</string>
		<key>Word</key>
		<string>andel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andrahandsval</string>
		<key>Word</key>
		<string>andrahandsval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anfall</string>
		<key>Word</key>
		<string>anfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anfoll</string>
		<key>Word</key>
		<string>anföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anglofil</string>
		<key>Word</key>
		<string>anglofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anhall</string>
		<key>Word</key>
		<string>anhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anholl</string>
		<key>Word</key>
		<string>anhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>animalielivsmedel</string>
		<key>Word</key>
		<string>animalielivsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ankel</string>
		<key>Word</key>
		<string>ankel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anmal</string>
		<key>Word</key>
		<string>anmäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anomal</string>
		<key>Word</key>
		<string>anomal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anrell</string>
		<key>Word</key>
		<string>Anrell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anspraksfull</string>
		<key>Word</key>
		<string>anspråksfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anstall</string>
		<key>Word</key>
		<string>anställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansvarsfull</string>
		<key>Word</key>
		<string>ansvarsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antal</string>
		<key>Word</key>
		<string>antal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antennkabel</string>
		<key>Word</key>
		<string>antennkabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aol</string>
		<key>Word</key>
		<string>AOL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apel</string>
		<key>Word</key>
		<string>apel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apelsingul</string>
		<key>Word</key>
		<string>apelsingul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apl</string>
		<key>Word</key>
		<string>APL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apollofjaril</string>
		<key>Word</key>
		<string>apollofjäril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apostel</string>
		<key>Word</key>
		<string>apostel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>appell</string>
		<key>Word</key>
		<string>appell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>april</string>
		<key>Word</key>
		<string>april</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apspel</string>
		<key>Word</key>
		<string>apspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>areal</string>
		<key>Word</key>
		<string>areal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arendal</string>
		<key>Word</key>
		<string>Arendal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arial</string>
		<key>Word</key>
		<string>Arial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ariel</string>
		<key>Word</key>
		<string>Ariel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkivlokal</string>
		<key>Word</key>
		<string>arkivlokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkivmaterial</string>
		<key>Word</key>
		<string>arkivmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkivpersonal</string>
		<key>Word</key>
		<string>arkivpersonal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>armbindel</string>
		<key>Word</key>
		<string>armbindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arrangorsstrul</string>
		<key>Word</key>
		<string>arrangörsstrul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsenal</string>
		<key>Word</key>
		<string>arsenal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artificiell</string>
		<key>Word</key>
		<string>artificiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artikel</string>
		<key>Word</key>
		<string>artikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artonhundratal</string>
		<key>Word</key>
		<string>artonhundratal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arunachal</string>
		<key>Word</key>
		<string>Arunachal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arvedel</string>
		<key>Word</key>
		<string>arvedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asael</string>
		<key>Word</key>
		<string>Asael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asfaltpartikel</string>
		<key>Word</key>
		<string>asfaltpartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asocial</string>
		<key>Word</key>
		<string>asocial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aspell</string>
		<key>Word</key>
		<string>Aspell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astral</string>
		<key>Word</key>
		<string>astral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asyl</string>
		<key>Word</key>
		<string>asyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aurvandill</string>
		<key>Word</key>
		<string>Aurvandill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>automathagel</string>
		<key>Word</key>
		<string>automathagel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>automobil</string>
		<key>Word</key>
		<string>automobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avbestall</string>
		<key>Word</key>
		<string>avbeställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avdragsgill</string>
		<key>Word</key>
		<string>avdragsgill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avel</string>
		<key>Word</key>
		<string>avel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avfall</string>
		<key>Word</key>
		<string>avfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avfoll</string>
		<key>Word</key>
		<string>avföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avhall</string>
		<key>Word</key>
		<string>avhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avholl</string>
		<key>Word</key>
		<string>avhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avkall</string>
		<key>Word</key>
		<string>avkall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avkyl</string>
		<key>Word</key>
		<string>avkyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avstall</string>
		<key>Word</key>
		<string>avställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avtal</string>
		<key>Word</key>
		<string>avtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axel</string>
		<key>Word</key>
		<string>Axel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axel</string>
		<key>Word</key>
		<string>axel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axfjall</string>
		<key>Word</key>
		<string>axfjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ackel</string>
		<key>Word</key>
		<string>äckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adel</string>
		<key>Word</key>
		<string>ädel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aggskal</string>
		<key>Word</key>
		<string>äggskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agodel</string>
		<key>Word</key>
		<string>ägodel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amnesportal</string>
		<key>Word</key>
		<string>ämnesportal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andamal</string>
		<key>Word</key>
		<string>ändamål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andringskarusell</string>
		<key>Word</key>
		<string>ändringskarusell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angel</string>
		<key>Word</key>
		<string>ängel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arendefil</string>
		<key>Word</key>
		<string>ärendefil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aril</string>
		<key>Word</key>
		<string>äril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkeangel</string>
		<key>Word</key>
		<string>ärkeängel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arofull</string>
		<key>Word</key>
		<string>ärofull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aventyrsspel</string>
		<key>Word</key>
		<string>äventyrsspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adal</string>
		<key>Word</key>
		<string>ådal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akerareal</string>
		<key>Word</key>
		<string>åkerareal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>al</string>
		<key>Word</key>
		<string>ål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angerfull</string>
		<key>Word</key>
		<string>ångerfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angestfull</string>
		<key>Word</key>
		<string>ångestfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aratal</string>
		<key>Word</key>
		<string>åratal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsgammal</string>
		<key>Word</key>
		<string>årsgammal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsmodell</string>
		<key>Word</key>
		<string>årsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artal</string>
		<key>Word</key>
		<string>årtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atal</string>
		<key>Word</key>
		<string>åtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atel</string>
		<key>Word</key>
		<string>åtel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterfall</string>
		<key>Word</key>
		<string>återfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterfoll</string>
		<key>Word</key>
		<string>återföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterhall</string>
		<key>Word</key>
		<string>återhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterholl</string>
		<key>Word</key>
		<string>återhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterstall</string>
		<key>Word</key>
		<string>återställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>attiotal</string>
		<key>Word</key>
		<string>åttiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>attondel</string>
		<key>Word</key>
		<string>åttondel</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Amal</string>
		<key>Word</key>
		<string>Åmål</string>
	</dict>
</array>
</plist>
