<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aarau</string>
		<key>Word</key>
		<string>Aarau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aargau</string>
		<key>Word</key>
		<string>Aargau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abihu</string>
		<key>Word</key>
		<string>Abihu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abu</string>
		<key>Word</key>
		<string>Abu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aclu</string>
		<key>Word</key>
		<string>ACLU</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aizuwakamatsu</string>
		<key>Word</key>
		<string>Aizuwakamatsu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allgäu</string>
		<key>Word</key>
		<string>Allgäu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alu</string>
		<key>Word</key>
		<string>ALU</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amu</string>
		<key>Word</key>
		<string>AMU</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>assabu</string>
		<key>Word</key>
		<string>Assabu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avsalu</string>
		<key>Word</key>
		<string>avsalu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ännu</string>
		<key>Word</key>
		<string>ännu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åttiosju</string>
		<key>Word</key>
		<string>åttiosju</string>
	</dict>
</array>
</plist>
