<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ablativ</string>
		<key>Word</key>
		<string>ablativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abolitionsbrev</string>
		<key>Word</key>
		<string>abolitionsbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ackumulativ</string>
		<key>Word</key>
		<string>ackumulativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ackusativ</string>
		<key>Word</key>
		<string>ackusativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adaptiv</string>
		<key>Word</key>
		<string>adaptiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>additiv</string>
		<key>Word</key>
		<string>additiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adelov</string>
		<key>Word</key>
		<string>Adelöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adjektiv</string>
		<key>Word</key>
		<string>adjektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>administrativ</string>
		<key>Word</key>
		<string>administrativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affarsliv</string>
		<key>Word</key>
		<string>affärsliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aggressiv</string>
		<key>Word</key>
		<string>aggressiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aktiv</string>
		<key>Word</key>
		<string>aktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkov</string>
		<key>Word</key>
		<string>alkov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alternativ</string>
		<key>Word</key>
		<string>alternativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alv</string>
		<key>Word</key>
		<string>alv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angav</string>
		<key>Word</key>
		<string>angav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angiv</string>
		<key>Word</key>
		<string>angiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antidepressiv</string>
		<key>Word</key>
		<string>antidepressiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>approximativ</string>
		<key>Word</key>
		<string>approximativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsliv</string>
		<key>Word</key>
		<string>arbetsliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkiv</string>
		<key>Word</key>
		<string>arkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artikelarkiv</string>
		<key>Word</key>
		<string>artikelarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arv</string>
		<key>Word</key>
		<string>arv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asov</string>
		<key>Word</key>
		<string>Asov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>associativ</string>
		<key>Word</key>
		<string>associativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>attraktiv</string>
		<key>Word</key>
		<string>attraktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>auktoritativ</string>
		<key>Word</key>
		<string>auktoritativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autoliv</string>
		<key>Word</key>
		<string>Autoliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>av</string>
		<key>Word</key>
		<string>av</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avforingsprov</string>
		<key>Word</key>
		<string>avföringsprov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avgav</string>
		<key>Word</key>
		<string>avgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avgiv</string>
		<key>Word</key>
		<string>avgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aviv</string>
		<key>Word</key>
		<string>Aviv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avkrav</string>
		<key>Word</key>
		<string>avkräv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avskrev</string>
		<key>Word</key>
		<string>avskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avskriv</string>
		<key>Word</key>
		<string>avskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alv</string>
		<key>Word</key>
		<string>älv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arv</string>
		<key>Word</key>
		<string>ärv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsbehov</string>
		<key>Word</key>
		<string>årsbehov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsperspektiv</string>
		<key>Word</key>
		<string>årsperspektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atergav</string>
		<key>Word</key>
		<string>återgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atergiv</string>
		<key>Word</key>
		<string>återgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterskrev</string>
		<key>Word</key>
		<string>återskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterskriv</string>
		<key>Word</key>
		<string>återskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterupplev</string>
		<key>Word</key>
		<string>återupplev</string>
	</dict>
</array>
</plist>
