<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abbyy</string>
		<key>Word</key>
		<string>ABBYY</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abomey</string>
		<key>Word</key>
		<string>Abomey</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>addison-wesley</string>
		<key>Word</key>
		<string>Addison-Wesley</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adenby</string>
		<key>Word</key>
		<string>Adenby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>albany</string>
		<key>Word</key>
		<string>Albany</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alby</string>
		<key>Word</key>
		<string>Alby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allegany</string>
		<key>Word</key>
		<string>Allegany</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ally</string>
		<key>Word</key>
		<string>Ally</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alzey</string>
		<key>Word</key>
		<string>Alzey</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amy</string>
		<key>Word</key>
		<string>Amy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andkhvoy</string>
		<key>Word</key>
		<string>Andkhvoy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andy</string>
		<key>Word</key>
		<string>Andy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aneby</string>
		<key>Word</key>
		<string>Aneby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anny</string>
		<key>Word</key>
		<string>Anny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkivmeny</string>
		<key>Word</key>
		<string>arkivmeny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aveny</string>
		<key>Word</key>
		<string>aveny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avsky</string>
		<key>Word</key>
		<string>avsky</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Älvkarleby</string>
		<key>Word</key>
		<string>Älvkarleby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åby</string>
		<key>Word</key>
		<string>Åby</string>
	</dict>
</array>
</plist>
