<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bab</string>
		<key>Word</key>
		<string>Bab</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bab-el-mandeb</string>
		<key>Word</key>
		<string>Bab-el-mandeb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bandyklubb</string>
		<key>Word</key>
		<string>bandyklubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bastuklubb</string>
		<key>Word</key>
		<string>bastuklubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bb</string>
		<key>Word</key>
		<string>BB</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beställningsjobb</string>
		<key>Word</key>
		<string>beställningsjobb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blixtsnabb</string>
		<key>Word</key>
		<string>blixtsnabb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bob</string>
		<key>Word</key>
		<string>Bob</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokklubb</string>
		<key>Word</key>
		<string>bokklubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bomb</string>
		<key>Word</key>
		<string>bomb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boxningsklubb</string>
		<key>Word</key>
		<string>boxningsklubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggjobb</string>
		<key>Word</key>
		<string>byggjobb</string>
	</dict>
</array>
</plist>
