<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bahnhof</string>
		<key>Word</key>
		<string>Bahnhof</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beowulf</string>
		<key>Word</key>
		<string>Beowulf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibliograf</string>
		<key>Word</key>
		<string>bibliograf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibliotaf</string>
		<key>Word</key>
		<string>bibliotaf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biff</string>
		<key>Word</key>
		<string>biff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biograf</string>
		<key>Word</key>
		<string>biograf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bluff</string>
		<key>Word</key>
		<string>bluff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brynolf</string>
		<key>Word</key>
		<string>Brynolf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byrachef</string>
		<key>Word</key>
		<string>byråchef</string>
	</dict>
</array>
</plist>
