<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>babi</string>
		<key>Word</key>
		<string>Babi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bageri</string>
		<key>Word</key>
		<string>bageri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bairiki</string>
		<key>Word</key>
		<string>Bairiki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baki</string>
		<key>Word</key>
		<string>baki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakteriologi</string>
		<key>Word</key>
		<string>bakteriologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bani</string>
		<key>Word</key>
		<string>Bani</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baraki</string>
		<key>Word</key>
		<string>Baraki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barbari</string>
		<key>Word</key>
		<string>barbari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bari</string>
		<key>Word</key>
		<string>Bari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnpornografi</string>
		<key>Word</key>
		<string>barnpornografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bataki</string>
		<key>Word</key>
		<string>Bataki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>batteri</string>
		<key>Word</key>
		<string>batteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baugi</string>
		<key>Word</key>
		<string>Baugi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bedrägeri</string>
		<key>Word</key>
		<string>bedrägeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begabberi</string>
		<key>Word</key>
		<string>begabberi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begravningsceremoni</string>
		<key>Word</key>
		<string>begravningsceremoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beltrami</string>
		<key>Word</key>
		<string>Beltrami</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berlusconi</string>
		<key>Word</key>
		<string>Berlusconi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bevarandestrategi</string>
		<key>Word</key>
		<string>bevarandestrategi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bi</string>
		<key>Word</key>
		<string>bi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibliografi</string>
		<key>Word</key>
		<string>bibliografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biografi</string>
		<key>Word</key>
		<string>biografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biokemi</string>
		<key>Word</key>
		<string>biokemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biologi</string>
		<key>Word</key>
		<string>biologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biometri</string>
		<key>Word</key>
		<string>biometri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bitti</string>
		<key>Word</key>
		<string>bitti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blandekonomi</string>
		<key>Word</key>
		<string>blandekonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bli</string>
		<key>Word</key>
		<string>bli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bmi</string>
		<key>Word</key>
		<string>BMI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokbinderi</string>
		<key>Word</key>
		<string>bokbinderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boktryckeri</string>
		<key>Word</key>
		<string>boktryckeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bombi</string>
		<key>Word</key>
		<string>Bombi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bondfångeri</string>
		<key>Word</key>
		<string>bondfångeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boutros-ghali</string>
		<key>Word</key>
		<string>Boutros-Ghali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brindisi</string>
		<key>Word</key>
		<string>Brindisi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>broccoli</string>
		<key>Word</key>
		<string>broccoli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>broderi</string>
		<key>Word</key>
		<string>broderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brunei</string>
		<key>Word</key>
		<string>Brunei</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bryderi</string>
		<key>Word</key>
		<string>bryderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bryggeri</string>
		<key>Word</key>
		<string>bryggeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>burundi</string>
		<key>Word</key>
		<string>Burundi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byråkrati</string>
		<key>Word</key>
		<string>byråkrati</string>
	</dict>
</array>
</plist>
