<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bandyportfolj</string>
		<key>Word</key>
		<string>bandyportfölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnfamilj</string>
		<key>Word</key>
		<string>barnfamilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>batalj</string>
		<key>Word</key>
		<string>batalj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beskolj</string>
		<key>Word</key>
		<string>beskölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>besvarj</string>
		<key>Word</key>
		<string>besvärj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>besorj</string>
		<key>Word</key>
		<string>besörj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boj</string>
		<key>Word</key>
		<string>boj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bragdmedalj</string>
		<key>Word</key>
		<string>bragdmedalj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>butelj</string>
		<key>Word</key>
		<string>butelj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boj</string>
		<key>Word</key>
		<string>böj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>borsportfolj</string>
		<key>Word</key>
		<string>börsportfölj</string>
	</dict>
</array>
</plist>
