<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>babylonisk</string>
		<key>Word</key>
		<string>babylonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>back</string>
		<key>Word</key>
		<string>back</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backuphårddisk</string>
		<key>Word</key>
		<string>backuphårddisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>badrock</string>
		<key>Word</key>
		<string>badrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bak</string>
		<key>Word</key>
		<string>bak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakduk</string>
		<key>Word</key>
		<string>bakduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakteriologisk</string>
		<key>Word</key>
		<string>bakteriologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakverk</string>
		<key>Word</key>
		<string>bakverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>balak</string>
		<key>Word</key>
		<string>Balak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>balk</string>
		<key>Word</key>
		<string>balk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ballistisk</string>
		<key>Word</key>
		<string>ballistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ballongdäck</string>
		<key>Word</key>
		<string>ballongdäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baltisk</string>
		<key>Word</key>
		<string>baltisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bangkok</string>
		<key>Word</key>
		<string>Bangkok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bank</string>
		<key>Word</key>
		<string>bank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>banverk</string>
		<key>Word</key>
		<string>banverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barack</string>
		<key>Word</key>
		<string>barack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barak</string>
		<key>Word</key>
		<string>Barak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barbarisk</string>
		<key>Word</key>
		<string>barbarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bardisk</string>
		<key>Word</key>
		<string>bardisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bark</string>
		<key>Word</key>
		<string>bark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barmark</string>
		<key>Word</key>
		<string>barmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnbok</string>
		<key>Word</key>
		<string>barnbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnevik</string>
		<key>Word</key>
		<string>Barnevik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnlek</string>
		<key>Word</key>
		<string>barnlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnmedicinsk</string>
		<key>Word</key>
		<string>barnmedicinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnmusik</string>
		<key>Word</key>
		<string>barnmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnrik</string>
		<key>Word</key>
		<string>barnrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barock</string>
		<key>Word</key>
		<string>barock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barockmusik</string>
		<key>Word</key>
		<string>barockmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barsebäck</string>
		<key>Word</key>
		<string>Barsebäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barsk</string>
		<key>Word</key>
		<string>barsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baruk</string>
		<key>Word</key>
		<string>Baruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basisk</string>
		<key>Word</key>
		<string>basisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baskisk</string>
		<key>Word</key>
		<string>baskisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>batik</string>
		<key>Word</key>
		<string>batik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bayersk</string>
		<key>Word</key>
		<string>bayersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beck</string>
		<key>Word</key>
		<string>beck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begick</string>
		<key>Word</key>
		<string>begick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begravningsbok</string>
		<key>Word</key>
		<string>begravningsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>belgisk</string>
		<key>Word</key>
		<string>belgisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bemärk</string>
		<key>Word</key>
		<string>bemärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bengalisk</string>
		<key>Word</key>
		<string>bengalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bensinmack</string>
		<key>Word</key>
		<string>bensinmack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berlock</string>
		<key>Word</key>
		<string>berlock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berusningsapologetik</string>
		<key>Word</key>
		<string>berusningsapologetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berättarteknisk</string>
		<key>Word</key>
		<string>berättarteknisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>besk</string>
		<key>Word</key>
		<string>besk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beskänk</string>
		<key>Word</key>
		<string>beskänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestack</string>
		<key>Word</key>
		<string>bestack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestialisk</string>
		<key>Word</key>
		<string>bestialisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestick</string>
		<key>Word</key>
		<string>bestick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestryk</string>
		<key>Word</key>
		<string>bestryk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beströk</string>
		<key>Word</key>
		<string>beströk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestyrk</string>
		<key>Word</key>
		<string>bestyrk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestänk</string>
		<key>Word</key>
		<string>bestänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>besök</string>
		<key>Word</key>
		<string>besök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betesmark</string>
		<key>Word</key>
		<string>betesmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betryck</string>
		<key>Word</key>
		<string>betryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betäck</string>
		<key>Word</key>
		<string>betäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betänk</string>
		<key>Word</key>
		<string>betänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibelspråk</string>
		<key>Word</key>
		<string>bibelspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibliotek</string>
		<key>Word</key>
		<string>bibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biblisk</string>
		<key>Word</key>
		<string>biblisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biffstek</string>
		<key>Word</key>
		<string>biffstek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bildspråk</string>
		<key>Word</key>
		<string>bildspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilsjuk</string>
		<key>Word</key>
		<string>bilsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilsnack</string>
		<key>Word</key>
		<string>bilsnack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bindestreck</string>
		<key>Word</key>
		<string>bindestreck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biobesök</string>
		<key>Word</key>
		<string>biobesök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biografisk</string>
		<key>Word</key>
		<string>biografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biokemisk</string>
		<key>Word</key>
		<string>biokemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biologisk</string>
		<key>Word</key>
		<string>biologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biomedicinsk</string>
		<key>Word</key>
		<string>biomedicinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biometrik</string>
		<key>Word</key>
		<string>biometrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biometrisk</string>
		<key>Word</key>
		<string>biometrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bioteknik</string>
		<key>Word</key>
		<string>bioteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bisak</string>
		<key>Word</key>
		<string>bisak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bismak</string>
		<key>Word</key>
		<string>bismak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bismarck</string>
		<key>Word</key>
		<string>Bismarck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bistick</string>
		<key>Word</key>
		<string>bistick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bitsk</string>
		<key>Word</key>
		<string>bitsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björck</string>
		<key>Word</key>
		<string>Björck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björk</string>
		<key>Word</key>
		<string>Björk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björk</string>
		<key>Word</key>
		<string>björk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björkevik</string>
		<key>Word</key>
		<string>Björkevik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bk</string>
		<key>Word</key>
		<string>BK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>black</string>
		<key>Word</key>
		<string>black</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blagovesjensk</string>
		<key>Word</key>
		<string>Blagovesjensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blank</string>
		<key>Word</key>
		<string>blank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bleck</string>
		<key>Word</key>
		<string>bleck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blek</string>
		<key>Word</key>
		<string>blek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blick</string>
		<key>Word</key>
		<string>blick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blink</string>
		<key>Word</key>
		<string>blink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>block</string>
		<key>Word</key>
		<string>block</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodfläck</string>
		<key>Word</key>
		<string>blodfläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodtryck</string>
		<key>Word</key>
		<string>blodtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blomsterrik</string>
		<key>Word</key>
		<string>blomsterrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bläck</string>
		<key>Word</key>
		<string>bläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bläckfisk</string>
		<key>Word</key>
		<string>bläckfisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blädderblock</string>
		<key>Word</key>
		<string>blädderblock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bländverk</string>
		<key>Word</key>
		<string>bländverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blänk</string>
		<key>Word</key>
		<string>blänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blåsmusik</string>
		<key>Word</key>
		<string>blåsmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bock</string>
		<key>Word</key>
		<string>bock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bofink</string>
		<key>Word</key>
		<string>bofink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bok</string>
		<key>Word</key>
		<string>bok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boktryck</string>
		<key>Word</key>
		<string>boktryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bolsjevik</string>
		<key>Word</key>
		<string>bolsjevik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bombastisk</string>
		<key>Word</key>
		<string>bombastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boolesk</string>
		<key>Word</key>
		<string>boolesk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bordsskick</string>
		<key>Word</key>
		<string>bordsskick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bornemark</string>
		<key>Word</key>
		<string>Bornemark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortgick</string>
		<key>Word</key>
		<string>bortgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortskänk</string>
		<key>Word</key>
		<string>bortskänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bosättningspolitik</string>
		<key>Word</key>
		<string>bosättningspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>botanik</string>
		<key>Word</key>
		<string>botanik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>botanisk</string>
		<key>Word</key>
		<string>botanisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bragderik</string>
		<key>Word</key>
		<string>bragderik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brak</string>
		<key>Word</key>
		<string>brak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brasiliansk</string>
		<key>Word</key>
		<string>brasiliansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brink</string>
		<key>Word</key>
		<string>brink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brittisk</string>
		<key>Word</key>
		<string>brittisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brjansk</string>
		<key>Word</key>
		<string>Brjansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bronsåldersmusik</string>
		<key>Word</key>
		<string>bronsåldersmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brosk</string>
		<key>Word</key>
		<string>brosk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brottsbalk</string>
		<key>Word</key>
		<string>brottsbalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bruk</string>
		<key>Word</key>
		<string>bruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brunnsvik</string>
		<key>Word</key>
		<string>Brunnsvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brunswick</string>
		<key>Word</key>
		<string>Brunswick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brysk</string>
		<key>Word</key>
		<string>brysk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bräck</string>
		<key>Word</key>
		<string>bräck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bräk</string>
		<key>Word</key>
		<string>bräk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brännmärk</string>
		<key>Word</key>
		<string>brännmärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bråck</string>
		<key>Word</key>
		<string>bråck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bråk</string>
		<key>Word</key>
		<string>bråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brödrafolk</string>
		<key>Word</key>
		<string>brödrafolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bröstmjölk</string>
		<key>Word</key>
		<string>bröstmjölk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buddhistisk</string>
		<key>Word</key>
		<string>buddhistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buddistisk</string>
		<key>Word</key>
		<string>buddistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buk</string>
		<key>Word</key>
		<string>buk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bulgarisk</string>
		<key>Word</key>
		<string>bulgarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>burk</string>
		<key>Word</key>
		<string>burk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>burlesk</string>
		<key>Word</key>
		<string>burlesk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>burträsk</string>
		<key>Word</key>
		<string>Burträsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>busstreck</string>
		<key>Word</key>
		<string>busstreck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>butik</string>
		<key>Word</key>
		<string>butik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggbibliotek</string>
		<key>Word</key>
		<string>byggbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggfusk</string>
		<key>Word</key>
		<string>byggfusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byk</string>
		<key>Word</key>
		<string>byk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byråkratisk</string>
		<key>Word</key>
		<string>byråkratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bysantinsk</string>
		<key>Word</key>
		<string>bysantinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bäck</string>
		<key>Word</key>
		<string>bäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bänk</string>
		<key>Word</key>
		<string>bänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bärsärk</string>
		<key>Word</key>
		<string>bärsärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bönbok</string>
		<key>Word</key>
		<string>bönbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>böök</string>
		<key>Word</key>
		<string>Böök</string>
	</dict>
</array>
</plist>
