<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backstrom</string>
		<key>Word</key>
		<string>Backström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>badam</string>
		<key>Word</key>
		<string>Badam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>badreform</string>
		<key>Word</key>
		<string>badreform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>badrum</string>
		<key>Word</key>
		<string>badrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakom</string>
		<key>Word</key>
		<string>bakom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>balsam</string>
		<key>Word</key>
		<string>balsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baltikum</string>
		<key>Word</key>
		<string>Baltikum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bandmedlem</string>
		<key>Word</key>
		<string>bandmedlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barm</string>
		<key>Word</key>
		<string>barm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barndom</string>
		<key>Word</key>
		<string>barndom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnim</string>
		<key>Word</key>
		<string>Barnim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnprogram</string>
		<key>Word</key>
		<string>barnprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnsjukdom</string>
		<key>Word</key>
		<string>barnsjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beckham</string>
		<key>Word</key>
		<string>Beckham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bedom</string>
		<key>Word</key>
		<string>bedöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behandlingshem</string>
		<key>Word</key>
		<string>behandlingshem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behaviorism</string>
		<key>Word</key>
		<string>behaviorism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beklam</string>
		<key>Word</key>
		<string>bekläm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bekom</string>
		<key>Word</key>
		<string>bekom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bekvam</string>
		<key>Word</key>
		<string>bekväm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bekymmersam</string>
		<key>Word</key>
		<string>bekymmersam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bentheim</string>
		<key>Word</key>
		<string>Bentheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bergamom</string>
		<key>Word</key>
		<string>Bergamom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bergskollegium</string>
		<key>Word</key>
		<string>bergskollegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bergstrom</string>
		<key>Word</key>
		<string>Bergström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bertram</string>
		<key>Word</key>
		<string>Bertram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berom</string>
		<key>Word</key>
		<string>beröm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beskarm</string>
		<key>Word</key>
		<string>beskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beslutsam</string>
		<key>Word</key>
		<string>beslutsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestsellerism</string>
		<key>Word</key>
		<string>bestsellerism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestam</string>
		<key>Word</key>
		<string>bestäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>besoksrum</string>
		<key>Word</key>
		<string>besöksrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betalningssystem</string>
		<key>Word</key>
		<string>betalningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betlehem</string>
		<key>Word</key>
		<string>Betlehem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betanksam</string>
		<key>Word</key>
		<string>betänksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bevaringsuniform</string>
		<key>Word</key>
		<string>beväringsuniform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bildskarm</string>
		<key>Word</key>
		<string>bildskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bileam</string>
		<key>Word</key>
		<string>Bileam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilism</string>
		<key>Word</key>
		<string>bilism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biofilm</string>
		<key>Word</key>
		<string>biofilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biografsystem</string>
		<key>Word</key>
		<string>biografsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>birmingham</string>
		<key>Word</key>
		<string>Birmingham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biskopssystem</string>
		<key>Word</key>
		<string>biskopssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bisvarm</string>
		<key>Word</key>
		<string>bisvärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bjurholm</string>
		<key>Word</key>
		<string>Bjurholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bjurstrom</string>
		<key>Word</key>
		<string>Bjurström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blam</string>
		<key>Word</key>
		<string>blam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blindtarm</string>
		<key>Word</key>
		<string>blindtarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blogger.com</string>
		<key>Word</key>
		<string>Blogger.com</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blom</string>
		<key>Word</key>
		<string>blom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blygsam</string>
		<key>Word</key>
		<string>blygsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bochum</string>
		<key>Word</key>
		<string>Bochum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bodstrom</string>
		<key>Word</key>
		<string>Bodström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bohem</string>
		<key>Word</key>
		<string>bohem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokform</string>
		<key>Word</key>
		<string>bokform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bolsjevism</string>
		<key>Word</key>
		<string>bolsjevism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bom</string>
		<key>Word</key>
		<string>bom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bondfilm</string>
		<key>Word</key>
		<string>Bondfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boo.com</string>
		<key>Word</key>
		<string>Boo.com</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boom</string>
		<key>Word</key>
		<string>boom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>borgholm</string>
		<key>Word</key>
		<string>Borgholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bornholm</string>
		<key>Word</key>
		<string>Bornholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortom</string>
		<key>Word</key>
		<string>bortom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortskym</string>
		<key>Word</key>
		<string>bortskym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostadsproblem</string>
		<key>Word</key>
		<string>bostadsproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostream</string>
		<key>Word</key>
		<string>Bostream</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostrom</string>
		<key>Word</key>
		<string>Bostrom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostrom</string>
		<key>Word</key>
		<string>Boström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boxholm</string>
		<key>Word</key>
		<string>Boxholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bristsjukdom</string>
		<key>Word</key>
		<string>bristsjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brom</string>
		<key>Word</key>
		<string>brom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brudgum</string>
		<key>Word</key>
		<string>brudgum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brattom</string>
		<key>Word</key>
		<string>bråttom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buddhism</string>
		<key>Word</key>
		<string>buddhism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buxbom</string>
		<key>Word</key>
		<string>buxbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggnadsterm</string>
		<key>Word</key>
		<string>byggnadsterm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backstrom</string>
		<key>Word</key>
		<string>Bäckström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bojningsform</string>
		<key>Word</key>
		<string>böjningsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>botom</string>
		<key>Word</key>
		<string>Bötom</string>
	</dict>
</array>
</plist>
