<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bamako</string>
		<key>Word</key>
		<string>Bamako</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>banco</string>
		<key>Word</key>
		<string>Banco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bankgiro</string>
		<key>Word</key>
		<string>bankgiro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bankkonto</string>
		<key>Word</key>
		<string>bankkonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barbro</string>
		<key>Word</key>
		<string>Barbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bebo</string>
		<key>Word</key>
		<string>bebo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bejbro</string>
		<key>Word</key>
		<string>Bejbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>belluno</string>
		<key>Word</key>
		<string>Belluno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>benevento</string>
		<key>Word</key>
		<string>Benevento</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>benito</string>
		<key>Word</key>
		<string>Benito</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bernardino</string>
		<key>Word</key>
		<string>Bernardino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bero</string>
		<key>Word</key>
		<string>bero</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betro</string>
		<key>Word</key>
		<string>betro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilkö</string>
		<key>Word</key>
		<string>bilkö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bingo</string>
		<key>Word</key>
		<string>bingo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bingolotto</string>
		<key>Word</key>
		<string>Bingolotto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bio</string>
		<key>Word</key>
		<string>bio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bioko</string>
		<key>Word</key>
		<string>Bioko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biskops-arnö</string>
		<key>Word</key>
		<string>Biskops-Arnö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bistro</string>
		<key>Word</key>
		<string>bistro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bjälbo</string>
		<key>Word</key>
		<string>Bjälbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björkö</string>
		<key>Word</key>
		<string>Björkö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björnemo</string>
		<key>Word</key>
		<string>Björnemo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bo</string>
		<key>Word</key>
		<string>Bo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bo</string>
		<key>Word</key>
		<string>bo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bobo</string>
		<key>Word</key>
		<string>Bobo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bolzano</string>
		<key>Word</key>
		<string>Bolzano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>borneo</string>
		<key>Word</key>
		<string>Borneo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostadskö</string>
		<key>Word</key>
		<string>bostadskö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bravo</string>
		<key>Word</key>
		<string>bravo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brevporto</string>
		<key>Word</key>
		<string>brevporto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bro</string>
		<key>Word</key>
		<string>bro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bruno</string>
		<key>Word</key>
		<string>Bruno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brutto</string>
		<key>Word</key>
		<string>brutto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brändö</string>
		<key>Word</key>
		<string>Brändö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bränslekonto</string>
		<key>Word</key>
		<string>bränslekonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buffalo</string>
		<key>Word</key>
		<string>Buffalo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bunkyo</string>
		<key>Word</key>
		<string>Bunkyo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>busfrö</string>
		<key>Word</key>
		<string>busfrö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bybo</string>
		<key>Word</key>
		<string>bybo</string>
	</dict>
</array>
</plist>
