<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backup</string>
		<key>Word</key>
		<string>backup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>badrumsskåp</string>
		<key>Word</key>
		<string>badrumsskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakkropp</string>
		<key>Word</key>
		<string>bakkropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakåtknapp</string>
		<key>Word</key>
		<string>bakåtknapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barndop</string>
		<key>Word</key>
		<string>barndop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barngrupp</string>
		<key>Word</key>
		<string>barngrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basbelopp</string>
		<key>Word</key>
		<string>basbelopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bastardpop</string>
		<key>Word</key>
		<string>bastardpop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bebop</string>
		<key>Word</key>
		<string>bebop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begrep</string>
		<key>Word</key>
		<string>begrep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begrepp</string>
		<key>Word</key>
		<string>begrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begrip</string>
		<key>Word</key>
		<string>begrip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bekantskap</string>
		<key>Word</key>
		<string>bekantskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>belopp</string>
		<key>Word</key>
		<string>belopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>belöp</string>
		<key>Word</key>
		<string>belöp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bensinpump</string>
		<key>Word</key>
		<string>bensinpump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beredskap</string>
		<key>Word</key>
		<string>beredskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bergstopp</string>
		<key>Word</key>
		<string>bergstopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biotop</string>
		<key>Word</key>
		<string>biotop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biskop</string>
		<key>Word</key>
		<string>biskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bitmapp</string>
		<key>Word</key>
		<string>bitmapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>björngrop</string>
		<key>Word</key>
		<string>björngrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodgrupp</string>
		<key>Word</key>
		<string>blodgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodkropp</string>
		<key>Word</key>
		<string>blodkropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodpropp</string>
		<key>Word</key>
		<string>blodpropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodtyp</string>
		<key>Word</key>
		<string>blodtyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bnp</string>
		<key>Word</key>
		<string>BNP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boskap</string>
		<key>Word</key>
		<string>boskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostadstyp</string>
		<key>Word</key>
		<string>bostadstyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bottennapp</string>
		<key>Word</key>
		<string>bottennapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bottenskrap</string>
		<key>Word</key>
		<string>bottenskrap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bottrop</string>
		<key>Word</key>
		<string>Bottrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brandskåp</string>
		<key>Word</key>
		<string>brandskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brasklapp</string>
		<key>Word</key>
		<string>brasklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brittpop</string>
		<key>Word</key>
		<string>brittpop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bröllop</string>
		<key>Word</key>
		<string>bröllop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>budskap</string>
		<key>Word</key>
		<string>budskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggstopp</string>
		<key>Word</key>
		<string>byggstopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bönerop</string>
		<key>Word</key>
		<string>bönerop</string>
	</dict>
</array>
</plist>
