<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bantu</string>
		<key>Word</key>
		<string>bantu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bastu</string>
		<key>Word</key>
		<string>bastu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beppu</string>
		<key>Word</key>
		<string>Beppu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bernau</string>
		<key>Word</key>
		<string>Bernau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bihustru</string>
		<key>Word</key>
		<string>bihustru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>birkenau</string>
		<key>Word</key>
		<string>Birkenau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bissau</string>
		<key>Word</key>
		<string>Bissau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bondhustru</string>
		<key>Word</key>
		<string>bondhustru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>breisgau</string>
		<key>Word</key>
		<string>Breisgau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bu</string>
		<key>Word</key>
		<string>bu</string>
	</dict>
</array>
</plist>
