<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cache</string>
		<key>Word</key>
		<string>cache</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cachelagrade</string>
		<key>Word</key>
		<string>cachelagrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cacheminne</string>
		<key>Word</key>
		<string>cacheminne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>café</string>
		<key>Word</key>
		<string>café</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calle</string>
		<key>Word</key>
		<string>Calle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cambridge</string>
		<key>Word</key>
		<string>Cambridge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>camouflage</string>
		<key>Word</key>
		<string>camouflage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campade</string>
		<key>Word</key>
		<string>campade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campare</string>
		<key>Word</key>
		<string>campare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cape</string>
		<key>Word</key>
		<string>Cape</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carnegie</string>
		<key>Word</key>
		<string>Carnegie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caroline</string>
		<key>Word</key>
		<string>Caroline</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carte</string>
		<key>Word</key>
		<string>carte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catherine</string>
		<key>Word</key>
		<string>Catherine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cathrine</string>
		<key>Word</key>
		<string>Cathrine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-spelare</string>
		<key>Word</key>
		<string>CD-spelare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-spelare</string>
		<key>Word</key>
		<string>cd-spelare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementerade</string>
		<key>Word</key>
		<string>cementerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorsämbete</string>
		<key>Word</key>
		<string>censorsämbete</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censurerade</string>
		<key>Word</key>
		<string>censurerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censurerande</string>
		<key>Word</key>
		<string>censurerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartistiske</string>
		<key>Word</key>
		<string>centerpartistiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralare</string>
		<key>Word</key>
		<string>centralare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralaste</string>
		<key>Word</key>
		<string>centralaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliserade</string>
		<key>Word</key>
		<string>centraliserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliserande</string>
		<key>Word</key>
		<string>centraliserande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralvärme</string>
		<key>Word</key>
		<string>centralvärme</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centre</string>
		<key>Word</key>
		<string>Centre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrerade</string>
		<key>Word</key>
		<string>centrerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatutfärdare</string>
		<key>Word</key>
		<string>certifikatutfärdare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersforskare</string>
		<key>Word</key>
		<string>chalmersforskare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champagne</string>
		<key>Word</key>
		<string>champagne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champagne-ardenne</string>
		<key>Word</key>
		<string>Champagne-Ardenne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansade</string>
		<key>Word</key>
		<string>chansade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chargé</string>
		<key>Word</key>
		<string>chargé</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlotte</string>
		<key>Word</key>
		<string>Charlotte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlottesville</string>
		<key>Word</key>
		<string>Charlottesville</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmade</string>
		<key>Word</key>
		<string>charmade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmerade</string>
		<key>Word</key>
		<string>charmerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmerande</string>
		<key>Word</key>
		<string>charmerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmigare</string>
		<key>Word</key>
		<string>charmigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmigaste</string>
		<key>Word</key>
		<string>charmigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmige</string>
		<key>Word</key>
		<string>charmige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chartrade</string>
		<key>Word</key>
		<string>chartrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattade</string>
		<key>Word</key>
		<string>chattade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinistiske</string>
		<key>Word</key>
		<string>chauvinistiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checkade</string>
		<key>Word</key>
		<string>checkade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chicare</string>
		<key>Word</key>
		<string>chicare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chicaste</string>
		<key>Word</key>
		<string>chicaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chickare</string>
		<key>Word</key>
		<string>chickare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chickaste</string>
		<key>Word</key>
		<string>chickaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chifferpunkare</string>
		<key>Word</key>
		<string>chifferpunkare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffonjé</string>
		<key>Word</key>
		<string>chiffonjé</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chile</string>
		<key>Word</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenare</string>
		<key>Word</key>
		<string>chilenare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenske</string>
		<key>Word</key>
		<string>chilenske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockade</string>
		<key>Word</key>
		<string>chockade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockerade</string>
		<key>Word</key>
		<string>chockerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockerande</string>
		<key>Word</key>
		<string>chockerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chokladmousse</string>
		<key>Word</key>
		<string>chokladmousse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christine</string>
		<key>Word</key>
		<string>Christine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirklade</string>
		<key>Word</key>
		<string>cirklade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulerade</string>
		<key>Word</key>
		<string>cirkulerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citerade</string>
		<key>Word</key>
		<string>citerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civile</string>
		<key>Word</key>
		<string>civile</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civiliserade</string>
		<key>Word</key>
		<string>civiliserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civiliserande</string>
		<key>Word</key>
		<string>civiliserande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilkurage</string>
		<key>Word</key>
		<string>civilkurage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clarence</string>
		<key>Word</key>
		<string>Clarence</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>claude</string>
		<key>Word</key>
		<string>Claude</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coachade</string>
		<key>Word</key>
		<string>coachade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailguide</string>
		<key>Word</key>
		<string>cocktailguide</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collage</string>
		<key>Word</key>
		<string>collage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>college</string>
		<key>Word</key>
		<string>college</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collie</string>
		<key>Word</key>
		<string>collie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbine</string>
		<key>Word</key>
		<string>Columbine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>commodore</string>
		<key>Word</key>
		<string>Commodore</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>condore</string>
		<key>Word</key>
		<string>Condore</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cone</string>
		<key>Word</key>
		<string>Cone</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cookie</string>
		<key>Word</key>
		<string>cookie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cove</string>
		<key>Word</key>
		<string>Cove</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cp-skadade</string>
		<key>Word</key>
		<string>CP-skadade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackade</string>
		<key>Word</key>
		<string>crackade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackare</string>
		<key>Word</key>
		<string>crackare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crawlade</string>
		<key>Word</key>
		<string>crawlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crusenstolpe</string>
		<key>Word</key>
		<string>Crusenstolpe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanväte</string>
		<key>Word</key>
		<string>cyanväte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklade</string>
		<key>Word</key>
		<string>cyklade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklande</string>
		<key>Word</key>
		<string>cyklande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyniske</string>
		<key>Word</key>
		<string>cyniske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>côte</string>
		<key>Word</key>
		<string>Côte</string>
	</dict>
</array>
</plist>
