<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>camping</string>
		<key>Word</key>
		<string>camping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederborg</string>
		<key>Word</key>
		<string>Cederborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>celsing</string>
		<key>Word</key>
		<string>Celsing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralisering</string>
		<key>Word</key>
		<string>centralisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraluppvärmning</string>
		<key>Word</key>
		<string>centraluppvärmning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrering</string>
		<key>Word</key>
		<string>centrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifug</string>
		<key>Word</key>
		<string>centrifug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalang</string>
		<key>Word</key>
		<string>Chalang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chang</string>
		<key>Word</key>
		<string>Chang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansning</string>
		<key>Word</key>
		<string>chansning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmig</string>
		<key>Word</key>
		<string>charmig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charteravdelning</string>
		<key>Word</key>
		<string>charteravdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterkatalog</string>
		<key>Word</key>
		<string>charterkatalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiang</string>
		<key>Word</key>
		<string>Chiang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chongqing</string>
		<key>Word</key>
		<string>Chongqing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelresonemang</string>
		<key>Word</key>
		<string>cirkelresonemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelsåg</string>
		<key>Word</key>
		<string>cirkelsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citytidning</string>
		<key>Word</key>
		<string>citytidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilrättslig</string>
		<key>Word</key>
		<string>civilrättslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coping</string>
		<key>Word</key>
		<string>coping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cracking</string>
		<key>Word</key>
		<string>cracking</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>craig</string>
		<key>Word</key>
		<string>Craig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>curling</string>
		<key>Word</key>
		<string>curling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanväterökning</string>
		<key>Word</key>
		<string>cyanväterökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelväg</string>
		<key>Word</key>
		<string>cykelväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykling</string>
		<key>Word</key>
		<string>cykling</string>
	</dict>
</array>
</plist>
