<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancersjuk</string>
		<key>Word</key>
		<string>cancersjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartistisk</string>
		<key>Word</key>
		<string>centerpartistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralafrikansk</string>
		<key>Word</key>
		<string>centralafrikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralasiatisk</string>
		<key>Word</key>
		<string>centralasiatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralbank</string>
		<key>Word</key>
		<string>centralbank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralistisk</string>
		<key>Word</key>
		<string>centralistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersk</string>
		<key>Word</key>
		<string>chalmersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinistisk</string>
		<key>Word</key>
		<string>chauvinistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>check</string>
		<key>Word</key>
		<string>check</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chick</string>
		<key>Word</key>
		<string>chick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilensk</string>
		<key>Word</key>
		<string>chilensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chock</string>
		<key>Word</key>
		<string>chock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chuck</string>
		<key>Word</key>
		<string>Chuck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clark</string>
		<key>Word</key>
		<string>Clark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comeback</string>
		<key>Word</key>
		<string>comeback</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>countrymusik</string>
		<key>Word</key>
		<string>countrymusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cybernetik</string>
		<key>Word</key>
		<string>cybernetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklisk</string>
		<key>Word</key>
		<string>cyklisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynisk</string>
		<key>Word</key>
		<string>cynisk</string>
	</dict>
</array>
</plist>
