<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-program</string>
		<key>Word</key>
		<string>C-program</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cam</string>
		<key>Word</key>
		<string>Cam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-rom</string>
		<key>Word</key>
		<string>CD-ROM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdrom</string>
		<key>Word</key>
		<string>CDROM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdrom</string>
		<key>Word</key>
		<string>cdrom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederhielm</string>
		<key>Word</key>
		<string>Cederhielm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederström</string>
		<key>Word</key>
		<string>Cederström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralhelgedom</string>
		<key>Word</key>
		<string>centralhelgedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralism</string>
		<key>Word</key>
		<string>centralism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrum</string>
		<key>Word</key>
		<string>centrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cham</string>
		<key>Word</key>
		<string>Cham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charm</string>
		<key>Word</key>
		<string>charm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattrum</string>
		<key>Word</key>
		<string>chattrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinism</string>
		<key>Word</key>
		<string>chauvinism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilekonom</string>
		<key>Word</key>
		<string>civilekonom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cm</string>
		<key>Word</key>
		<string>CM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cm</string>
		<key>Word</key>
		<string>cm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cm-system</string>
		<key>Word</key>
		<string>CM-system</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collegium</string>
		<key>Word</key>
		<string>collegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cronhielm</string>
		<key>Word</key>
		<string>Cronhielm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cunningham</string>
		<key>Word</key>
		<string>Cunningham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyankalium</string>
		<key>Word</key>
		<string>cyankalium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynism</string>
		<key>Word</key>
		<string>cynism</string>
	</dict>
</array>
</plist>
