<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-durskalan</string>
		<key>Word</key>
		<string>C-durskalan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-koden</string>
		<key>Word</key>
		<string>C-koden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-näten</string>
		<key>Word</key>
		<string>C-näten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-programmen</string>
		<key>Word</key>
		<string>C-programmen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-vitamin</string>
		<key>Word</key>
		<string>c-vitamin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-vitaminen</string>
		<key>Word</key>
		<string>c-vitaminen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cacheminnen</string>
		<key>Word</key>
		<string>cacheminnen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cachen</string>
		<key>Word</key>
		<string>cachen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cachuchan</string>
		<key>Word</key>
		<string>cachuchan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caen</string>
		<key>Word</key>
		<string>Caen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cafeterian</string>
		<key>Word</key>
		<string>cafeterian</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calderon</string>
		<key>Word</key>
		<string>Calderon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calicivirusen</string>
		<key>Word</key>
		<string>calicivirusen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>californiahalvön</string>
		<key>Word</key>
		<string>Californiahalvön</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>californiaviken</string>
		<key>Word</key>
		<string>Californiaviken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calvin</string>
		<key>Word</key>
		<string>Calvin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calypson</string>
		<key>Word</key>
		<string>calypson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cambrian</string>
		<key>Word</key>
		<string>Cambrian</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>camparen</string>
		<key>Word</key>
		<string>camparen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campingen</string>
		<key>Word</key>
		<string>campingen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancan</string>
		<key>Word</key>
		<string>cancan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancergalan</string>
		<key>Word</key>
		<string>cancergalan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancergåtan</string>
		<key>Word</key>
		<string>cancergåtan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancern</string>
		<key>Word</key>
		<string>cancern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cannabisen</string>
		<key>Word</key>
		<string>cannabisen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>canon</string>
		<key>Word</key>
		<string>Canon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carin</string>
		<key>Word</key>
		<string>Carin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carlshamn</string>
		<key>Word</key>
		<string>Carlshamn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carlson</string>
		<key>Word</key>
		<string>Carlson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carlsson</string>
		<key>Word</key>
		<string>Carlsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carlén</string>
		<key>Word</key>
		<string>Carlén</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carmen</string>
		<key>Word</key>
		<string>Carmen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carpaccion</string>
		<key>Word</key>
		<string>carpaccion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carpelan</string>
		<key>Word</key>
		<string>Carpelan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carson</string>
		<key>Word</key>
		<string>Carson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>casinon</string>
		<key>Word</key>
		<string>casinon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catalinaaffären</string>
		<key>Word</key>
		<string>Catalinaaffären</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catalinan</string>
		<key>Word</key>
		<string>Catalinan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cavallin</string>
		<key>Word</key>
		<string>Cavallin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-etiketten</string>
		<key>Word</key>
		<string>cd-etiketten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hyllan</string>
		<key>Word</key>
		<string>CD-hyllan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hyllan</string>
		<key>Word</key>
		<string>cd-hyllan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-pressen</string>
		<key>Word</key>
		<string>CD-pressen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-pressen</string>
		<key>Word</key>
		<string>cd-pressen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-rom-enheten</string>
		<key>Word</key>
		<string>CD-ROM-enheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skivan</string>
		<key>Word</key>
		<string>CD-skivan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skivan</string>
		<key>Word</key>
		<string>cd-skivan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-spelaren</string>
		<key>Word</key>
		<string>CD-spelaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-spelaren</string>
		<key>Word</key>
		<string>cd-spelaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdrom-enheten</string>
		<key>Word</key>
		<string>CDROM-enheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdromenheten</string>
		<key>Word</key>
		<string>cdromenheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cedergren</string>
		<key>Word</key>
		<string>Cedergren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cedern</string>
		<key>Word</key>
		<string>cedern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellen</string>
		<key>Word</key>
		<string>cellen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellisten</string>
		<key>Word</key>
		<string>cellisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellkärnan</string>
		<key>Word</key>
		<string>cellkärnan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellofan</string>
		<key>Word</key>
		<string>cellofan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellofanen</string>
		<key>Word</key>
		<string>cellofanen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellofanlicensen</string>
		<key>Word</key>
		<string>cellofanlicensen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellon</string>
		<key>Word</key>
		<string>cellon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>celluloiden</string>
		<key>Word</key>
		<string>celluloiden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellulosan</string>
		<key>Word</key>
		<string>cellulosan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cembalon</string>
		<key>Word</key>
		<string>cembalon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementen</string>
		<key>Word</key>
		<string>cementen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgrunden</string>
		<key>Word</key>
		<string>cementgrunden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementrören</string>
		<key>Word</key>
		<string>cementrören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementtrappan</string>
		<key>Word</key>
		<string>cementtrappan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorn</string>
		<key>Word</key>
		<string>censorn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorsämbeten</string>
		<key>Word</key>
		<string>censorsämbeten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censuren</string>
		<key>Word</key>
		<string>censuren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centern</string>
		<key>Word</key>
		<string>centern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartisten</string>
		<key>Word</key>
		<string>centerpartisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centilitern</string>
		<key>Word</key>
		<string>centilitern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centimetern</string>
		<key>Word</key>
		<string>centimetern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralasien</string>
		<key>Word</key>
		<string>Centralasien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralbanken</string>
		<key>Word</key>
		<string>centralbanken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralbyrån</string>
		<key>Word</key>
		<string>Centralbyrån</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralen</string>
		<key>Word</key>
		<string>centralen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralenheten</string>
		<key>Word</key>
		<string>centralenheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralgestalten</string>
		<key>Word</key>
		<string>centralgestalten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralhelgedomen</string>
		<key>Word</key>
		<string>centralhelgedomen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliseringen</string>
		<key>Word</key>
		<string>centraliseringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralismen</string>
		<key>Word</key>
		<string>centralismen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrallåsen</string>
		<key>Word</key>
		<string>centrallåsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralorten</string>
		<key>Word</key>
		<string>centralorten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralstation</string>
		<key>Word</key>
		<string>centralstation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralstationen</string>
		<key>Word</key>
		<string>centralstationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraluppvärmningen</string>
		<key>Word</key>
		<string>centraluppvärmningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralvärmen</string>
		<key>Word</key>
		<string>centralvärmen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centreringen</string>
		<key>Word</key>
		<string>centreringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugalkraften</string>
		<key>Word</key>
		<string>centrifugalkraften</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugen</string>
		<key>Word</key>
		<string>centrifugen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetalkraften</string>
		<key>Word</key>
		<string>centripetalkraften</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremonielen</string>
		<key>Word</key>
		<string>ceremonielen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremonien</string>
		<key>Word</key>
		<string>ceremonien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremonin</string>
		<key>Word</key>
		<string>ceremonin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cern</string>
		<key>Word</key>
		<string>CERN</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatarkiven</string>
		<key>Word</key>
		<string>certifikatarkiven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatbegäran</string>
		<key>Word</key>
		<string>certifikatbegäran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikaten</string>
		<key>Word</key>
		<string>certifikaten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikattjänsten</string>
		<key>Word</key>
		<string>certifikattjänsten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatutfärdarcertifikaten</string>
		<key>Word</key>
		<string>certifikatutfärdarcertifikaten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatutfärdaren</string>
		<key>Word</key>
		<string>certifikatutfärdaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cervin</string>
		<key>Word</key>
		<string>Cervin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceylon</string>
		<key>Word</key>
		<string>Ceylon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersforskaren</string>
		<key>Word</key>
		<string>chalmersforskaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersstudenten</string>
		<key>Word</key>
		<string>chalmersstudenten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champagnen</string>
		<key>Word</key>
		<string>champagnen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champinjon</string>
		<key>Word</key>
		<string>champinjon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champinjonen</string>
		<key>Word</key>
		<string>champinjonen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champion</string>
		<key>Word</key>
		<string>champion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>championaten</string>
		<key>Word</key>
		<string>championaten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansen</string>
		<key>Word</key>
		<string>chansen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansningen</string>
		<key>Word</key>
		<string>chansningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chapelon</string>
		<key>Word</key>
		<string>Chapelon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charaden</string>
		<key>Word</key>
		<string>charaden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chargén</string>
		<key>Word</key>
		<string>chargén</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlatan</string>
		<key>Word</key>
		<string>charlatan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlatanen</string>
		<key>Word</key>
		<string>charlatanen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlottetown</string>
		<key>Word</key>
		<string>Charlottetown</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmen</string>
		<key>Word</key>
		<string>charmen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmoffensiven</string>
		<key>Word</key>
		<string>charmoffensiven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charteravdelningen</string>
		<key>Word</key>
		<string>charteravdelningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterkatalogen</string>
		<key>Word</key>
		<string>charterkatalogen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chartern</string>
		<key>Word</key>
		<string>chartern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterresan</string>
		<key>Word</key>
		<string>charterresan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chatten</string>
		<key>Word</key>
		<string>chatten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattrummen</string>
		<key>Word</key>
		<string>chattrummen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauffören</string>
		<key>Word</key>
		<string>chauffören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinismen</string>
		<key>Word</key>
		<string>chauvinismen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinisten</string>
		<key>Word</key>
		<string>chauvinisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checken</string>
		<key>Word</key>
		<string>checken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefen</string>
		<key>Word</key>
		<string>chefen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefredaktören</string>
		<key>Word</key>
		<string>chefredaktören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefredaktörn</string>
		<key>Word</key>
		<string>chefredaktörn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefsmyndigheten</string>
		<key>Word</key>
		<string>chefsmyndigheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chevron</string>
		<key>Word</key>
		<string>Chevron</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiapasrevolten</string>
		<key>Word</key>
		<string>Chiapasrevolten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chifferpunkaren</string>
		<key>Word</key>
		<string>chifferpunkaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffonjén</string>
		<key>Word</key>
		<string>chiffonjén</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffren</string>
		<key>Word</key>
		<string>chiffren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenaren</string>
		<key>Word</key>
		<string>chilenaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenskan</string>
		<key>Word</key>
		<string>chilenskan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilin</string>
		<key>Word</key>
		<string>chilin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilipepparn</string>
		<key>Word</key>
		<string>chilipepparn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilisåsen</string>
		<key>Word</key>
		<string>chilisåsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chimären</string>
		<key>Word</key>
		<string>chimären</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chipsen</string>
		<key>Word</key>
		<string>chipsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockbeskeden</string>
		<key>Word</key>
		<string>chockbeskeden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chocken</string>
		<key>Word</key>
		<string>chocken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chokladen</string>
		<key>Word</key>
		<string>chokladen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chokladmoussen</string>
		<key>Word</key>
		<string>chokladmoussen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chon</string>
		<key>Word</key>
		<string>Chon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christensen</string>
		<key>Word</key>
		<string>Christensen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christian</string>
		<key>Word</key>
		<string>Christian</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christin</string>
		<key>Word</key>
		<string>Christin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christopherson</string>
		<key>Word</key>
		<string>Christopherson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christophersson</string>
		<key>Word</key>
		<string>Christophersson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chumphon</string>
		<key>Word</key>
		<string>Chumphon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciceron</string>
		<key>Word</key>
		<string>ciceron</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciceronen</string>
		<key>Word</key>
		<string>ciceronen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cidern</string>
		<key>Word</key>
		<string>cidern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigaretten</string>
		<key>Word</key>
		<string>cigaretten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigarren</string>
		<key>Word</key>
		<string>cigarren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkeln</string>
		<key>Word</key>
		<string>cirkeln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelresonemangen</string>
		<key>Word</key>
		<string>cirkelresonemangen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelsågen</string>
		<key>Word</key>
		<string>cirkelsågen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulation</string>
		<key>Word</key>
		<string>cirkulation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulationen</string>
		<key>Word</key>
		<string>cirkulationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulationsorgan</string>
		<key>Word</key>
		<string>cirkulationsorgan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulationsorganen</string>
		<key>Word</key>
		<string>cirkulationsorganen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkumflexen</string>
		<key>Word</key>
		<string>cirkumflexen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusartisten</string>
		<key>Word</key>
		<string>cirkusartisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusen</string>
		<key>Word</key>
		<string>cirkusen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciselören</string>
		<key>Word</key>
		<string>ciselören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisterciensklostren</string>
		<key>Word</key>
		<string>cisterciensklostren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisterciensorden</string>
		<key>Word</key>
		<string>cisterciensorden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cistern</string>
		<key>Word</key>
		<string>cistern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisternen</string>
		<key>Word</key>
		<string>cisternen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citadellen</string>
		<key>Word</key>
		<string>citadellen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citadellvägen</string>
		<key>Word</key>
		<string>Citadellvägen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citaten</string>
		<key>Word</key>
		<string>citaten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citation</string>
		<key>Word</key>
		<string>citation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citationen</string>
		<key>Word</key>
		<string>citationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citationstecken</string>
		<key>Word</key>
		<string>citationstecken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citationstecknen</string>
		<key>Word</key>
		<string>citationstecknen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citattecken</string>
		<key>Word</key>
		<string>citattecken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citattecknen</string>
		<key>Word</key>
		<string>citattecknen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citron</string>
		<key>Word</key>
		<string>citron</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citronen</string>
		<key>Word</key>
		<string>citronen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citroën</string>
		<key>Word</key>
		<string>Citroën</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cittran</string>
		<key>Word</key>
		<string>cittran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citytidningen</string>
		<key>Word</key>
		<string>citytidningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilekonomen</string>
		<key>Word</key>
		<string>civilekonomen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilingenjören</string>
		<key>Word</key>
		<string>civilingenjören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisation</string>
		<key>Word</key>
		<string>civilisation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisationen</string>
		<key>Word</key>
		<string>civilisationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisten</string>
		<key>Word</key>
		<string>civilisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilstånden</string>
		<key>Word</key>
		<string>civilstånden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>claeson</string>
		<key>Word</key>
		<string>Claeson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>claesson</string>
		<key>Word</key>
		<string>Claesson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clason</string>
		<key>Word</key>
		<string>Clason</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>classon</string>
		<key>Word</key>
		<string>Classon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>claëson</string>
		<key>Word</key>
		<string>Claëson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clinton</string>
		<key>Word</key>
		<string>Clinton</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clown</string>
		<key>Word</key>
		<string>clown</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clownen</string>
		<key>Word</key>
		<string>clownen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cm-systemen</string>
		<key>Word</key>
		<string>CM-systemen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cnn</string>
		<key>Word</key>
		<string>CNN</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coachen</string>
		<key>Word</key>
		<string>coachen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cockerspanieln</string>
		<key>Word</key>
		<string>cockerspanieln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cockpiten</string>
		<key>Word</key>
		<string>cockpiten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailen</string>
		<key>Word</key>
		<string>cocktailen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailguiden</string>
		<key>Word</key>
		<string>cocktailguiden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailpartyn</string>
		<key>Word</key>
		<string>cocktailpartyn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>codecen</string>
		<key>Word</key>
		<string>codecen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>codexen</string>
		<key>Word</key>
		<string>codexen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colan</string>
		<key>Word</key>
		<string>colan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colin</string>
		<key>Word</key>
		<string>Colin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collagen</string>
		<key>Word</key>
		<string>collagen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collien</string>
		<key>Word</key>
		<string>collien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collin</string>
		<key>Word</key>
		<string>Collin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colombian</string>
		<key>Word</key>
		<string>colombian</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colombianen</string>
		<key>Word</key>
		<string>colombianen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coloradofloden</string>
		<key>Word</key>
		<string>Coloradofloden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbiaingenjören</string>
		<key>Word</key>
		<string>Columbiaingenjören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comdexmässan</string>
		<key>Word</key>
		<string>Comdexmässan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>communityn</string>
		<key>Word</key>
		<string>communityn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>containern</string>
		<key>Word</key>
		<string>containern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cookien</string>
		<key>Word</key>
		<string>cookien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copingförmågan</string>
		<key>Word</key>
		<string>copingförmågan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copyrightinformation</string>
		<key>Word</key>
		<string>copyrightinformation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copyrightinformationen</string>
		<key>Word</key>
		<string>copyrightinformationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>corren</string>
		<key>Word</key>
		<string>Corren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>correspondenten</string>
		<key>Word</key>
		<string>Correspondenten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cortison</string>
		<key>Word</key>
		<string>cortison</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cortisonsprutan</string>
		<key>Word</key>
		<string>cortisonsprutan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>countrymusiken</string>
		<key>Word</key>
		<string>countrymusiken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>countryn</string>
		<key>Word</key>
		<string>countryn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>couscousen</string>
		<key>Word</key>
		<string>couscousen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>couscoussalladen</string>
		<key>Word</key>
		<string>couscoussalladen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cowboyen</string>
		<key>Word</key>
		<string>cowboyen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cpu-kraften</string>
		<key>Word</key>
		<string>CPU-kraften</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cpun</string>
		<key>Word</key>
		<string>CPUn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackaren</string>
		<key>Word</key>
		<string>crackaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackingen</string>
		<key>Word</key>
		<string>crackingen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crescendon</string>
		<key>Word</key>
		<string>crescendon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>croneman</string>
		<key>Word</key>
		<string>Croneman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crusebjörn</string>
		<key>Word</key>
		<string>Crusebjörn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>csn</string>
		<key>Word</key>
		<string>CSN</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cupen</string>
		<key>Word</key>
		<string>cupen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>curlingen</string>
		<key>Word</key>
		<string>curlingen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>curman</string>
		<key>Word</key>
		<string>Curman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>curryn</string>
		<key>Word</key>
		<string>curryn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>currysåsen</string>
		<key>Word</key>
		<string>currysåsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cuxhaven</string>
		<key>Word</key>
		<string>Cuxhaven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyan</string>
		<key>Word</key>
		<string>cyan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanvätedesinfektion</string>
		<key>Word</key>
		<string>cyanvätedesinfektion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanvätedesinfektionen</string>
		<key>Word</key>
		<string>cyanvätedesinfektionen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanväterökningen</string>
		<key>Word</key>
		<string>cyanväterökningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cybereliten</string>
		<key>Word</key>
		<string>cybereliten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cybernetiken</string>
		<key>Word</key>
		<string>cybernetiken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberrymden</string>
		<key>Word</key>
		<string>cyberrymden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberterroristen</string>
		<key>Word</key>
		<string>cyberterroristen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberterrorn</string>
		<key>Word</key>
		<string>cyberterrorn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cygwin</string>
		<key>Word</key>
		<string>Cygwin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelfärden</string>
		<key>Word</key>
		<string>cykelfärden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelkedjan</string>
		<key>Word</key>
		<string>cykelkedjan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykeln</string>
		<key>Word</key>
		<string>cykeln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykeltrampan</string>
		<key>Word</key>
		<string>cykeltrampan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelturen</string>
		<key>Word</key>
		<string>cykelturen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelvägen</string>
		<key>Word</key>
		<string>cykelvägen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklamen</string>
		<key>Word</key>
		<string>cyklamen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklingen</string>
		<key>Word</key>
		<string>cyklingen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklisten</string>
		<key>Word</key>
		<string>cyklisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklon</string>
		<key>Word</key>
		<string>cyklon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklonen</string>
		<key>Word</key>
		<string>cyklonen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklopen</string>
		<key>Word</key>
		<string>cyklopen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cylindern</string>
		<key>Word</key>
		<string>cylindern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cymbalen</string>
		<key>Word</key>
		<string>cymbalen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynikern</string>
		<key>Word</key>
		<string>cynikern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynismen</string>
		<key>Word</key>
		<string>cynismen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cypern</string>
		<key>Word</key>
		<string>Cypern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cypressen</string>
		<key>Word</key>
		<string>cypressen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cystan</string>
		<key>Word</key>
		<string>cystan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cytologin</string>
		<key>Word</key>
		<string>cytologin</string>
	</dict>
</array>
</plist>
