<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-vitaminer</string>
		<key>Word</key>
		<string>c-vitaminer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caesar</string>
		<key>Word</key>
		<string>Caesar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cafeterior</string>
		<key>Word</key>
		<string>cafeterior</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cafeer</string>
		<key>Word</key>
		<string>caféer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campar</string>
		<key>Word</key>
		<string>campar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancer</string>
		<key>Word</key>
		<string>cancer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancrar</string>
		<key>Word</key>
		<string>cancrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cantor</string>
		<key>Word</key>
		<string>Cantor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carl-gunnar</string>
		<key>Word</key>
		<string>Carl-Gunnar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carter</string>
		<key>Word</key>
		<string>Carter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>casper</string>
		<key>Word</key>
		<string>Casper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-etiketter</string>
		<key>Word</key>
		<string>cd-etiketter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hyllor</string>
		<key>Word</key>
		<string>CD-hyllor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hyllor</string>
		<key>Word</key>
		<string>cd-hyllor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-pressar</string>
		<key>Word</key>
		<string>CD-pressar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-pressar</string>
		<key>Word</key>
		<string>cd-pressar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-rom-enheter</string>
		<key>Word</key>
		<string>CD-ROM-enheter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skivor</string>
		<key>Word</key>
		<string>CD-skivor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skivor</string>
		<key>Word</key>
		<string>cd-skivor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdrom-enheter</string>
		<key>Word</key>
		<string>CDROM-enheter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdromenheter</string>
		<key>Word</key>
		<string>cdromenheter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceder</string>
		<key>Word</key>
		<string>ceder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cedrar</string>
		<key>Word</key>
		<string>cedrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>celler</string>
		<key>Word</key>
		<string>celler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellister</string>
		<key>Word</key>
		<string>cellister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellkarnor</string>
		<key>Word</key>
		<string>cellkärnor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellular</string>
		<key>Word</key>
		<string>cellulär</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cembalor</string>
		<key>Word</key>
		<string>cembalor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementerar</string>
		<key>Word</key>
		<string>cementerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgjuterier</string>
		<key>Word</key>
		<string>cementgjuterier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgrunder</string>
		<key>Word</key>
		<string>cementgrunder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementror</string>
		<key>Word</key>
		<string>cementrör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementtrappor</string>
		<key>Word</key>
		<string>cementtrappor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censor</string>
		<key>Word</key>
		<string>censor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorer</string>
		<key>Word</key>
		<string>censorer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censur</string>
		<key>Word</key>
		<string>censur</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censurerar</string>
		<key>Word</key>
		<string>censurerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>center</string>
		<key>Word</key>
		<string>center</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartister</string>
		<key>Word</key>
		<string>centerpartister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centiliter</string>
		<key>Word</key>
		<string>centiliter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centilitrar</string>
		<key>Word</key>
		<string>centilitrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centimeter</string>
		<key>Word</key>
		<string>centimeter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centimetrar</string>
		<key>Word</key>
		<string>centimetrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralbanker</string>
		<key>Word</key>
		<string>centralbanker</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralenheter</string>
		<key>Word</key>
		<string>centralenheter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraler</string>
		<key>Word</key>
		<string>centraler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralgestalter</string>
		<key>Word</key>
		<string>centralgestalter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralhelgedomar</string>
		<key>Word</key>
		<string>centralhelgedomar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliserar</string>
		<key>Word</key>
		<string>centraliserar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralorter</string>
		<key>Word</key>
		<string>centralorter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralstationer</string>
		<key>Word</key>
		<string>centralstationer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrar</string>
		<key>Word</key>
		<string>centrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrer</string>
		<key>Word</key>
		<string>centrer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrerar</string>
		<key>Word</key>
		<string>centrerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugalkrafter</string>
		<key>Word</key>
		<string>centrifugalkrafter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifuger</string>
		<key>Word</key>
		<string>centrifuger</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetalkrafter</string>
		<key>Word</key>
		<string>centripetalkrafter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremonier</string>
		<key>Word</key>
		<string>ceremonier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikattjanster</string>
		<key>Word</key>
		<string>certifikattjänster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cesar</string>
		<key>Word</key>
		<string>Cesar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersstudenter</string>
		<key>Word</key>
		<string>chalmersstudenter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champagner</string>
		<key>Word</key>
		<string>champagner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champinjoner</string>
		<key>Word</key>
		<string>champinjoner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chandler</string>
		<key>Word</key>
		<string>Chandler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansar</string>
		<key>Word</key>
		<string>chansar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chanser</string>
		<key>Word</key>
		<string>chanser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansningar</string>
		<key>Word</key>
		<string>chansningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charader</string>
		<key>Word</key>
		<string>charader</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charkuterier</string>
		<key>Word</key>
		<string>charkuterier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlataner</string>
		<key>Word</key>
		<string>charlataner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmar</string>
		<key>Word</key>
		<string>charmar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmerar</string>
		<key>Word</key>
		<string>charmerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmoffensiver</string>
		<key>Word</key>
		<string>charmoffensiver</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charpentier</string>
		<key>Word</key>
		<string>Charpentier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charter</string>
		<key>Word</key>
		<string>charter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterkataloger</string>
		<key>Word</key>
		<string>charterkataloger</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterresor</string>
		<key>Word</key>
		<string>charterresor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chartrar</string>
		<key>Word</key>
		<string>chartrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chassider</string>
		<key>Word</key>
		<string>chassider</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattar</string>
		<key>Word</key>
		<string>chattar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chatter</string>
		<key>Word</key>
		<string>chatter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauffor</string>
		<key>Word</key>
		<string>chaufför</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chaufforer</string>
		<key>Word</key>
		<string>chaufförer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinister</string>
		<key>Word</key>
		<string>chauvinister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checkar</string>
		<key>Word</key>
		<string>checkar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checker</string>
		<key>Word</key>
		<string>checker</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefer</string>
		<key>Word</key>
		<string>chefer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefredaktor</string>
		<key>Word</key>
		<string>chefredaktör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefredaktorer</string>
		<key>Word</key>
		<string>chefredaktörer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffer</string>
		<key>Word</key>
		<string>chiffer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffonjeer</string>
		<key>Word</key>
		<string>chiffonjéer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenskor</string>
		<key>Word</key>
		<string>chilenskor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilipeppar</string>
		<key>Word</key>
		<string>chilipeppar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chimar</string>
		<key>Word</key>
		<string>chimär</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chimarer</string>
		<key>Word</key>
		<string>chimärer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockar</string>
		<key>Word</key>
		<string>chockar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chocker</string>
		<key>Word</key>
		<string>chocker</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockerar</string>
		<key>Word</key>
		<string>chockerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>choser</string>
		<key>Word</key>
		<string>choser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christer</string>
		<key>Word</key>
		<string>Christer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christofer</string>
		<key>Word</key>
		<string>Christofer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christoffer</string>
		<key>Word</key>
		<string>Christoffer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christopher</string>
		<key>Word</key>
		<string>Christopher</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chrysler</string>
		<key>Word</key>
		<string>Chrysler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciceroner</string>
		<key>Word</key>
		<string>ciceroner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cider</string>
		<key>Word</key>
		<string>cider</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigaretter</string>
		<key>Word</key>
		<string>cigaretter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigarr</string>
		<key>Word</key>
		<string>cigarr</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigarrer</string>
		<key>Word</key>
		<string>cigarrer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelsagar</string>
		<key>Word</key>
		<string>cirkelsågar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirklar</string>
		<key>Word</key>
		<string>cirklar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulerar</string>
		<key>Word</key>
		<string>cirkulerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkular</string>
		<key>Word</key>
		<string>cirkulär</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkumflexer</string>
		<key>Word</key>
		<string>cirkumflexer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusar</string>
		<key>Word</key>
		<string>cirkusar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusartister</string>
		<key>Word</key>
		<string>cirkusartister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciselor</string>
		<key>Word</key>
		<string>ciselör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciselorer</string>
		<key>Word</key>
		<string>ciselörer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cistercienser</string>
		<key>Word</key>
		<string>cistercienser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cistercienskloster</string>
		<key>Word</key>
		<string>cistercienskloster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisterner</string>
		<key>Word</key>
		<string>cisterner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citationer</string>
		<key>Word</key>
		<string>citationer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citerar</string>
		<key>Word</key>
		<string>citerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citroner</string>
		<key>Word</key>
		<string>citroner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cittror</string>
		<key>Word</key>
		<string>cittror</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citytidningar</string>
		<key>Word</key>
		<string>citytidningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilekonomer</string>
		<key>Word</key>
		<string>civilekonomer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilingenjor</string>
		<key>Word</key>
		<string>civilingenjör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilingenjorer</string>
		<key>Word</key>
		<string>civilingenjörer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisationer</string>
		<key>Word</key>
		<string>civilisationer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civiliserar</string>
		<key>Word</key>
		<string>civiliserar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilister</string>
		<key>Word</key>
		<string>civilister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clowner</string>
		<key>Word</key>
		<string>clowner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coachar</string>
		<key>Word</key>
		<string>coachar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coacher</string>
		<key>Word</key>
		<string>coacher</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailar</string>
		<key>Word</key>
		<string>cocktailar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailguider</string>
		<key>Word</key>
		<string>cocktailguider</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collegier</string>
		<key>Word</key>
		<string>collegier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collier</string>
		<key>Word</key>
		<string>collier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colombianer</string>
		<key>Word</key>
		<string>colombianer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbiaingenjor</string>
		<key>Word</key>
		<string>Columbiaingenjör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbiaingenjorer</string>
		<key>Word</key>
		<string>Columbiaingenjörer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comdexmassor</string>
		<key>Word</key>
		<string>Comdexmässor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>container</string>
		<key>Word</key>
		<string>container</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>containrar</string>
		<key>Word</key>
		<string>containrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cooper</string>
		<key>Word</key>
		<string>Cooper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cortisonsprutor</string>
		<key>Word</key>
		<string>cortisonsprutor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cpuer</string>
		<key>Word</key>
		<string>CPUer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackar</string>
		<key>Word</key>
		<string>crackar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crawlar</string>
		<key>Word</key>
		<string>crawlar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cuper</string>
		<key>Word</key>
		<string>cuper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>currysaser</string>
		<key>Word</key>
		<string>currysåser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cuellar</string>
		<key>Word</key>
		<string>Cuéllar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cybereliter</string>
		<key>Word</key>
		<string>cybereliter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberterror</string>
		<key>Word</key>
		<string>cyberterror</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberterrorister</string>
		<key>Word</key>
		<string>cyberterrorister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelfarder</string>
		<key>Word</key>
		<string>cykelfärder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelkedjor</string>
		<key>Word</key>
		<string>cykelkedjor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykeltrampor</string>
		<key>Word</key>
		<string>cykeltrampor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykeltur</string>
		<key>Word</key>
		<string>cykeltur</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelturer</string>
		<key>Word</key>
		<string>cykelturer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelvagar</string>
		<key>Word</key>
		<string>cykelvägar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklar</string>
		<key>Word</key>
		<string>cyklar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykler</string>
		<key>Word</key>
		<string>cykler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklister</string>
		<key>Word</key>
		<string>cyklister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykloner</string>
		<key>Word</key>
		<string>cykloner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykloper</string>
		<key>Word</key>
		<string>cykloper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cylinder</string>
		<key>Word</key>
		<string>cylinder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cylindrar</string>
		<key>Word</key>
		<string>cylindrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cymbaler</string>
		<key>Word</key>
		<string>cymbaler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyniker</string>
		<key>Word</key>
		<string>cyniker</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynismer</string>
		<key>Word</key>
		<string>cynismer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cypresser</string>
		<key>Word</key>
		<string>cypresser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cystor</string>
		<key>Word</key>
		<string>cystor</string>
	</dict>
</array>
</plist>
