<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-nät</string>
		<key>Word</key>
		<string>C-nät</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-nätet</string>
		<key>Word</key>
		<string>C-nätet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-programmet</string>
		<key>Word</key>
		<string>C-programmet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-vitaminet</string>
		<key>Word</key>
		<string>c-vitaminet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cabernet</string>
		<key>Word</key>
		<string>Cabernet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cachelagrat</string>
		<key>Word</key>
		<string>cachelagrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cacheminnet</string>
		<key>Word</key>
		<string>cacheminnet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caféet</string>
		<key>Word</key>
		<string>caféet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caliciviruset</string>
		<key>Word</key>
		<string>caliciviruset</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>camouflaget</string>
		<key>Word</key>
		<string>camouflaget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campat</string>
		<key>Word</key>
		<string>campat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancersjukt</string>
		<key>Word</key>
		<string>cancersjukt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>capot</string>
		<key>Word</key>
		<string>capot</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>casinot</string>
		<key>Word</key>
		<string>casinot</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ccitt</string>
		<key>Word</key>
		<string>CCITT</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-etikett</string>
		<key>Word</key>
		<string>cd-etikett</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-ljudet</string>
		<key>Word</key>
		<string>CD-ljudet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-ljudet</string>
		<key>Word</key>
		<string>cd-ljudet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-rom-enhet</string>
		<key>Word</key>
		<string>CD-ROM-enhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdrom-enhet</string>
		<key>Word</key>
		<string>CDROM-enhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdromenhet</string>
		<key>Word</key>
		<string>cdromenhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederquist</string>
		<key>Word</key>
		<string>Cederquist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederqvist</string>
		<key>Word</key>
		<string>Cederqvist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederträet</string>
		<key>Word</key>
		<string>cederträet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellist</string>
		<key>Word</key>
		<string>cellist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellofanet</string>
		<key>Word</key>
		<string>cellofanet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellulärt</string>
		<key>Word</key>
		<string>cellulärt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cement</string>
		<key>Word</key>
		<string>cement</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementerat</string>
		<key>Word</key>
		<string>cementerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgjuteriet</string>
		<key>Word</key>
		<string>cementgjuteriet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementröret</string>
		<key>Word</key>
		<string>cementröret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorsämbetet</string>
		<key>Word</key>
		<string>censorsämbetet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censurerat</string>
		<key>Word</key>
		<string>censurerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartist</string>
		<key>Word</key>
		<string>centerpartist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartistiskt</string>
		<key>Word</key>
		<string>centerpartistiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralafrikanskt</string>
		<key>Word</key>
		<string>centralafrikanskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralasiatiskt</string>
		<key>Word</key>
		<string>centralasiatiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralast</string>
		<key>Word</key>
		<string>centralast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralenhet</string>
		<key>Word</key>
		<string>centralenhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralgestalt</string>
		<key>Word</key>
		<string>centralgestalt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliserandet</string>
		<key>Word</key>
		<string>centraliserandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliserat</string>
		<key>Word</key>
		<string>centraliserat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralistiskt</string>
		<key>Word</key>
		<string>centralistiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrallåset</string>
		<key>Word</key>
		<string>centrallåset</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralort</string>
		<key>Word</key>
		<string>centralort</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralt</string>
		<key>Word</key>
		<string>centralt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrerat</string>
		<key>Word</key>
		<string>centrerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centret</string>
		<key>Word</key>
		<string>centret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugalkraft</string>
		<key>Word</key>
		<string>centrifugalkraft</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugalt</string>
		<key>Word</key>
		<string>centrifugalt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetalkraft</string>
		<key>Word</key>
		<string>centripetalkraft</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetalt</string>
		<key>Word</key>
		<string>centripetalt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrumet</string>
		<key>Word</key>
		<string>centrumet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cerat</string>
		<key>Word</key>
		<string>cerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceratet</string>
		<key>Word</key>
		<string>ceratet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cerebralt</string>
		<key>Word</key>
		<string>cerebralt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremonielet</string>
		<key>Word</key>
		<string>ceremonielet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikat</string>
		<key>Word</key>
		<string>certifikat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatarkivet</string>
		<key>Word</key>
		<string>certifikatarkivet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatet</string>
		<key>Word</key>
		<string>certifikatet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikattjänst</string>
		<key>Word</key>
		<string>certifikattjänst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatutfärdarcertifikat</string>
		<key>Word</key>
		<string>certifikatutfärdarcertifikat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatutfärdarcertifikatet</string>
		<key>Word</key>
		<string>certifikatutfärdarcertifikatet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chaillotpalatset</string>
		<key>Word</key>
		<string>Chaillotpalatset</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmerskt</string>
		<key>Word</key>
		<string>chalmerskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersstudent</string>
		<key>Word</key>
		<string>chalmersstudent</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>championat</string>
		<key>Word</key>
		<string>championat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>championatet</string>
		<key>Word</key>
		<string>championatet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansat</string>
		<key>Word</key>
		<string>chansat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charkuteriet</string>
		<key>Word</key>
		<string>charkuteriet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmant</string>
		<key>Word</key>
		<string>charmant</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmat</string>
		<key>Word</key>
		<string>charmat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmerat</string>
		<key>Word</key>
		<string>charmerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmigast</string>
		<key>Word</key>
		<string>charmigast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmigt</string>
		<key>Word</key>
		<string>charmigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chartrat</string>
		<key>Word</key>
		<string>chartrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chassit</string>
		<key>Word</key>
		<string>chassit</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chatt</string>
		<key>Word</key>
		<string>chatt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattat</string>
		<key>Word</key>
		<string>chattat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattrummet</string>
		<key>Word</key>
		<string>chattrummet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinist</string>
		<key>Word</key>
		<string>chauvinist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinistiskt</string>
		<key>Word</key>
		<string>chauvinistiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checkat</string>
		<key>Word</key>
		<string>checkat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefskapet</string>
		<key>Word</key>
		<string>chefskapet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefsmyndighet</string>
		<key>Word</key>
		<string>chefsmyndighet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chevrolet</string>
		<key>Word</key>
		<string>Chevrolet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chicast</string>
		<key>Word</key>
		<string>chicast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chickast</string>
		<key>Word</key>
		<string>chickast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chickt</string>
		<key>Word</key>
		<string>chickt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chict</string>
		<key>Word</key>
		<string>chict</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffret</string>
		<key>Word</key>
		<string>chiffret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenskt</string>
		<key>Word</key>
		<string>chilenskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chipset</string>
		<key>Word</key>
		<string>chipset</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockat</string>
		<key>Word</key>
		<string>chockat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockbeskedet</string>
		<key>Word</key>
		<string>chockbeskedet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockerat</string>
		<key>Word</key>
		<string>chockerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chosefritt</string>
		<key>Word</key>
		<string>chosefritt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigarett</string>
		<key>Word</key>
		<string>cigarett</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelresonemanget</string>
		<key>Word</key>
		<string>cirkelresonemanget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirklat</string>
		<key>Word</key>
		<string>cirklat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulationsorganet</string>
		<key>Word</key>
		<string>cirkulationsorganet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulerat</string>
		<key>Word</key>
		<string>cirkulerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulärt</string>
		<key>Word</key>
		<string>cirkulärt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusartist</string>
		<key>Word</key>
		<string>cirkusartist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisterciensklostret</string>
		<key>Word</key>
		<string>cisterciensklostret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citadellet</string>
		<key>Word</key>
		<string>citadellet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citat</string>
		<key>Word</key>
		<string>citat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citatet</string>
		<key>Word</key>
		<string>citatet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citationstecknet</string>
		<key>Word</key>
		<string>citationstecknet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citattecknet</string>
		<key>Word</key>
		<string>citattecknet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citerat</string>
		<key>Word</key>
		<string>citerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civiliserandet</string>
		<key>Word</key>
		<string>civiliserandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civiliserat</string>
		<key>Word</key>
		<string>civiliserat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilist</string>
		<key>Word</key>
		<string>civilist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilkuraget</string>
		<key>Word</key>
		<string>civilkuraget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilrättsligt</string>
		<key>Word</key>
		<string>civilrättsligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilståndet</string>
		<key>Word</key>
		<string>civilståndet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilt</string>
		<key>Word</key>
		<string>civilt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clint</string>
		<key>Word</key>
		<string>Clint</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cm-systemet</string>
		<key>Word</key>
		<string>CM-systemet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coachat</string>
		<key>Word</key>
		<string>coachat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cockpit</string>
		<key>Word</key>
		<string>cockpit</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailpartyt</string>
		<key>Word</key>
		<string>cocktailpartyt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collaget</string>
		<key>Word</key>
		<string>collaget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collegiet</string>
		<key>Word</key>
		<string>collegiet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbiahaveriet</string>
		<key>Word</key>
		<string>Columbiahaveriet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comstedt</string>
		<key>Word</key>
		<string>Comstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>connecticut</string>
		<key>Word</key>
		<string>Connecticut</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coolt</string>
		<key>Word</key>
		<string>coolt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copyleft</string>
		<key>Word</key>
		<string>copyleft</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copyright</string>
		<key>Word</key>
		<string>copyright</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cortisonet</string>
		<key>Word</key>
		<string>cortisonet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coyet</string>
		<key>Word</key>
		<string>Coyet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cp-skadat</string>
		<key>Word</key>
		<string>CP-skadat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cpu-kraft</string>
		<key>Word</key>
		<string>CPU-kraft</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackat</string>
		<key>Word</key>
		<string>crackat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crawlat</string>
		<key>Word</key>
		<string>crawlat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crawlet</string>
		<key>Word</key>
		<string>crawlet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crescendot</string>
		<key>Word</key>
		<string>crescendot</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cricket</string>
		<key>Word</key>
		<string>cricket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cronstedt</string>
		<key>Word</key>
		<string>Cronstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>curt</string>
		<key>Word</key>
		<string>Curt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanet</string>
		<key>Word</key>
		<string>cyanet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyanvätet</string>
		<key>Word</key>
		<string>cyanvätet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberelit</string>
		<key>Word</key>
		<string>cyberelit</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberterrorist</string>
		<key>Word</key>
		<string>cyberterrorist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklat</string>
		<key>Word</key>
		<string>cyklat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykliskt</string>
		<key>Word</key>
		<string>cykliskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklist</string>
		<key>Word</key>
		<string>cyklist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklopögat</string>
		<key>Word</key>
		<string>cyklopögat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyniskt</string>
		<key>Word</key>
		<string>cyniskt</string>
	</dict>
</array>
</plist>
