<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagblad</string>
		<key>Word</key>
		<string>dagblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagtid</string>
		<key>Word</key>
		<string>dagtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dals-ed</string>
		<key>Word</key>
		<string>Dals-Ed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalsland</string>
		<key>Word</key>
		<string>Dalsland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dammad</string>
		<key>Word</key>
		<string>dammad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danad</string>
		<key>Word</key>
		<string>danad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danderyd</string>
		<key>Word</key>
		<string>Danderyd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dansad</string>
		<key>Word</key>
		<string>dansad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dansband</string>
		<key>Word</key>
		<string>dansband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datamängd</string>
		<key>Word</key>
		<string>datamängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daterad</string>
		<key>Word</key>
		<string>daterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorbaserad</string>
		<key>Word</key>
		<string>datorbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datoriserad</string>
		<key>Word</key>
		<string>datoriserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorstöd</string>
		<key>Word</key>
		<string>datorstöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorstödd</string>
		<key>Word</key>
		<string>datorstödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>david</string>
		<key>Word</key>
		<string>David</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debatterad</string>
		<key>Word</key>
		<string>debatterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattglad</string>
		<key>Word</key>
		<string>debattglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debiterad</string>
		<key>Word</key>
		<string>debiterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>decentraliserad</string>
		<key>Word</key>
		<string>decentraliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dechiffrerad</string>
		<key>Word</key>
		<string>dechiffrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dedicerad</string>
		<key>Word</key>
		<string>dedicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dedicierad</string>
		<key>Word</key>
		<string>dedicierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>definierad</string>
		<key>Word</key>
		<string>definierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deformerad</string>
		<key>Word</key>
		<string>deformerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>defragmenterad</string>
		<key>Word</key>
		<string>defragmenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>degenererad</string>
		<key>Word</key>
		<string>degenererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>degraderad</string>
		<key>Word</key>
		<string>degraderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dekad</string>
		<key>Word</key>
		<string>dekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deklamerad</string>
		<key>Word</key>
		<string>deklamerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deklarerad</string>
		<key>Word</key>
		<string>deklarerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dekorerad</string>
		<key>Word</key>
		<string>dekorerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dekrypterad</string>
		<key>Word</key>
		<string>dekrypterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delad</string>
		<key>Word</key>
		<string>delad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deland</string>
		<key>Word</key>
		<string>Deland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delegerad</string>
		<key>Word</key>
		<string>delegerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delmängd</string>
		<key>Word</key>
		<string>delmängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deltid</string>
		<key>Word</key>
		<string>deltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demaskerad</string>
		<key>Word</key>
		<string>demaskerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dementerad</string>
		<key>Word</key>
		<string>dementerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demodulerad</string>
		<key>Word</key>
		<string>demodulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demokratiserad</string>
		<key>Word</key>
		<string>demokratiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demolerad</string>
		<key>Word</key>
		<string>demolerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demonstrerad</string>
		<key>Word</key>
		<string>demonstrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demonterad</string>
		<key>Word</key>
		<string>demonterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demoraliserad</string>
		<key>Word</key>
		<string>demoraliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deponerad</string>
		<key>Word</key>
		<string>deponerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deporterad</string>
		<key>Word</key>
		<string>deporterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>depraverad</string>
		<key>Word</key>
		<string>depraverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deprimerad</string>
		<key>Word</key>
		<string>deprimerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deriverad</string>
		<key>Word</key>
		<string>deriverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desarmerad</string>
		<key>Word</key>
		<string>desarmerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deserterad</string>
		<key>Word</key>
		<string>deserterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>designad</string>
		<key>Word</key>
		<string>designad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>designhuvudstad</string>
		<key>Word</key>
		<string>designhuvudstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desillusionerad</string>
		<key>Word</key>
		<string>desillusionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desinficerad</string>
		<key>Word</key>
		<string>desinficerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desorienterad</string>
		<key>Word</key>
		<string>desorienterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>destillerad</string>
		<key>Word</key>
		<string>destillerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>destinerad</string>
		<key>Word</key>
		<string>destinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>detaljerad</string>
		<key>Word</key>
		<string>detaljerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>detekterad</string>
		<key>Word</key>
		<string>detekterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>determinerad</string>
		<key>Word</key>
		<string>determinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>detonerad</string>
		<key>Word</key>
		<string>detonerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>devalverad</string>
		<key>Word</key>
		<string>devalverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diabild</string>
		<key>Word</key>
		<string>diabild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diad</string>
		<key>Word</key>
		<string>diad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diagnostiserad</string>
		<key>Word</key>
		<string>diagnostiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialektord</string>
		<key>Word</key>
		<string>dialektord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>differentierad</string>
		<key>Word</key>
		<string>differentierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>digitaliserad</string>
		<key>Word</key>
		<string>digitaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diktad</string>
		<key>Word</key>
		<string>diktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dikterad</string>
		<key>Word</key>
		<string>dikterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dimensionerad</string>
		<key>Word</key>
		<string>dimensionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diod</string>
		<key>Word</key>
		<string>diod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dioxid</string>
		<key>Word</key>
		<string>dioxid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diplomerad</string>
		<key>Word</key>
		<string>diplomerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dirigerad</string>
		<key>Word</key>
		<string>dirigerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disciplinerad</string>
		<key>Word</key>
		<string>disciplinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskad</string>
		<key>Word</key>
		<string>diskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskoteksbrand</string>
		<key>Word</key>
		<string>diskoteksbrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskriminerad</string>
		<key>Word</key>
		<string>diskriminerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskuterad</string>
		<key>Word</key>
		<string>diskuterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskvalificerad</string>
		<key>Word</key>
		<string>diskvalificerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disponerad</string>
		<key>Word</key>
		<string>disponerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disputerad</string>
		<key>Word</key>
		<string>disputerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dissad</string>
		<key>Word</key>
		<string>dissad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dissekerad</string>
		<key>Word</key>
		<string>dissekerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>distanserad</string>
		<key>Word</key>
		<string>distanserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>distingerad</string>
		<key>Word</key>
		<string>distingerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>distraherad</string>
		<key>Word</key>
		<string>distraherad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>distribuerad</string>
		<key>Word</key>
		<string>distribuerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dividend</string>
		<key>Word</key>
		<string>dividend</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dividerad</string>
		<key>Word</key>
		<string>dividerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurgård</string>
		<key>Word</key>
		<string>djurgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dockad</string>
		<key>Word</key>
		<string>dockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doktorand</string>
		<key>Word</key>
		<string>doktorand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doktorsgrad</string>
		<key>Word</key>
		<string>doktorsgrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dokumenterad</string>
		<key>Word</key>
		<string>dokumenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dold</string>
		<key>Word</key>
		<string>dold</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dominerad</string>
		<key>Word</key>
		<string>dominerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domnad</string>
		<key>Word</key>
		<string>domnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dompterad</string>
		<key>Word</key>
		<string>dompterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domsord</string>
		<key>Word</key>
		<string>domsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>donald</string>
		<key>Word</key>
		<string>Donald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>donationsfond</string>
		<key>Word</key>
		<string>donationsfond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>donerad</string>
		<key>Word</key>
		<string>donerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dopad</string>
		<key>Word</key>
		<string>dopad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doppad</string>
		<key>Word</key>
		<string>doppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dortmund</string>
		<key>Word</key>
		<string>Dortmund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doserad</string>
		<key>Word</key>
		<string>doserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drabbad</string>
		<key>Word</key>
		<string>drabbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dramatiserad</string>
		<key>Word</key>
		<string>dramatiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>draperad</string>
		<key>Word</key>
		<string>draperad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drejad</string>
		<key>Word</key>
		<string>drejad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dresserad</string>
		<key>Word</key>
		<string>dresserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftad</string>
		<key>Word</key>
		<string>driftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftkostnad</string>
		<key>Word</key>
		<string>driftkostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drillad</string>
		<key>Word</key>
		<string>drillad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drivved</string>
		<key>Word</key>
		<string>drivved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drogad</string>
		<key>Word</key>
		<string>drogad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>droppad</string>
		<key>Word</key>
		<string>droppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drunknad</string>
		<key>Word</key>
		<string>drunknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dryftad</string>
		<key>Word</key>
		<string>dryftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drämd</string>
		<key>Word</key>
		<string>drämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dränerad</string>
		<key>Word</key>
		<string>dränerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drömbostad</string>
		<key>Word</key>
		<string>drömbostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drömd</string>
		<key>Word</key>
		<string>drömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dtd</string>
		<key>Word</key>
		<string>DTD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbad</string>
		<key>Word</key>
		<string>dubbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelbottnad</string>
		<key>Word</key>
		<string>dubbelbottnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelklickad</string>
		<key>Word</key>
		<string>dubbelklickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelriktad</string>
		<key>Word</key>
		<string>dubbelriktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubblad</string>
		<key>Word</key>
		<string>dubblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubblerad</string>
		<key>Word</key>
		<string>dubblerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duellerad</string>
		<key>Word</key>
		<string>duellerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dukad</string>
		<key>Word</key>
		<string>dukad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dumpad</string>
		<key>Word</key>
		<string>dumpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dunkad</string>
		<key>Word</key>
		<string>dunkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duperad</string>
		<key>Word</key>
		<string>duperad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duplicerad</string>
		<key>Word</key>
		<string>duplicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duschad</string>
		<key>Word</key>
		<string>duschad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dvd</string>
		<key>Word</key>
		<string>DVD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dygd</string>
		<key>Word</key>
		<string>dygd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dyrkad</string>
		<key>Word</key>
		<string>dyrkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dämpad</string>
		<key>Word</key>
		<string>dämpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>däribland</string>
		<key>Word</key>
		<string>däribland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>därmed</string>
		<key>Word</key>
		<string>därmed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>därvid</string>
		<key>Word</key>
		<string>därvid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dåd</string>
		<key>Word</key>
		<string>dåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dåtid</string>
		<key>Word</key>
		<string>dåtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>död</string>
		<key>Word</key>
		<string>död</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödad</string>
		<key>Word</key>
		<string>dödad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödfödd</string>
		<key>Word</key>
		<string>dödfödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödsdömd</string>
		<key>Word</key>
		<string>dödsdömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödssynd</string>
		<key>Word</key>
		<string>dödssynd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dömd</string>
		<key>Word</key>
		<string>dömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dörrhöjd</string>
		<key>Word</key>
		<string>dörrhöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dövad</string>
		<key>Word</key>
		<string>dövad</string>
	</dict>
</array>
</plist>
