<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dadaism</string>
		<key>Word</key>
		<string>dadaism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagdröm</string>
		<key>Word</key>
		<string>dagdröm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daghem</string>
		<key>Word</key>
		<string>daghem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dahlbom</string>
		<key>Word</key>
		<string>Dahlbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dahlström</string>
		<key>Word</key>
		<string>Dahlström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dam</string>
		<key>Word</key>
		<string>dam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>damm</string>
		<key>Word</key>
		<string>damm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danbom</string>
		<key>Word</key>
		<string>Danbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darwinism</string>
		<key>Word</key>
		<string>darwinism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datagram</string>
		<key>Word</key>
		<string>datagram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataprogram</string>
		<key>Word</key>
		<string>dataprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataskärm</string>
		<key>Word</key>
		<string>dataskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datasystem</string>
		<key>Word</key>
		<string>datasystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataterm</string>
		<key>Word</key>
		<string>dataterm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datormuseum</string>
		<key>Word</key>
		<string>datormuseum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorprogram</string>
		<key>Word</key>
		<string>datorprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorrum</string>
		<key>Word</key>
		<string>datorrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorskärm</string>
		<key>Word</key>
		<string>datorskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorsystem</string>
		<key>Word</key>
		<string>datorsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datum</string>
		<key>Word</key>
		<string>datum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattforum</string>
		<key>Word</key>
		<string>debattforum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattprogram</string>
		<key>Word</key>
		<string>debattprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>decennium</string>
		<key>Word</key>
		<string>decennium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>decsystem</string>
		<key>Word</key>
		<string>DECSYSTEM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>defaitism</string>
		<key>Word</key>
		<string>defaitism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>definitionsform</string>
		<key>Word</key>
		<string>definitionsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delirium</string>
		<key>Word</key>
		<string>delirium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delsystem</string>
		<key>Word</key>
		<string>delsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dem</string>
		<key>Word</key>
		<string>dem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demonism</string>
		<key>Word</key>
		<string>demonism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deporteringsprogram</string>
		<key>Word</key>
		<string>deporteringsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>designcentrum</string>
		<key>Word</key>
		<string>designcentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>despotism</string>
		<key>Word</key>
		<string>despotism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dessutom</string>
		<key>Word</key>
		<string>dessutom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>determinism</string>
		<key>Word</key>
		<string>determinism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deuteronomium</string>
		<key>Word</key>
		<string>Deuteronomium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diadem</string>
		<key>Word</key>
		<string>diadem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diagram</string>
		<key>Word</key>
		<string>diagram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diarium</string>
		<key>Word</key>
		<string>diarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dikotom</string>
		<key>Word</key>
		<string>dikotom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dilbertalbum</string>
		<key>Word</key>
		<string>Dilbertalbum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diplom</string>
		<key>Word</key>
		<string>diplom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diplomatarium</string>
		<key>Word</key>
		<string>diplomatarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskussionsforum</string>
		<key>Word</key>
		<string>diskussionsforum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurfarm</string>
		<key>Word</key>
		<string>djurfarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djursholm</string>
		<key>Word</key>
		<string>Djursholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djursjukdom</string>
		<key>Word</key>
		<string>djursjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dm</string>
		<key>Word</key>
		<string>dm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dogm</string>
		<key>Word</key>
		<string>dogm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dogmatism</string>
		<key>Word</key>
		<string>dogmatism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dokumentärfilm</string>
		<key>Word</key>
		<string>dokumentärfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dom</string>
		<key>Word</key>
		<string>dom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dotcom</string>
		<key>Word</key>
		<string>dotcom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dotcomboom</string>
		<key>Word</key>
		<string>dotcomboom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dram</string>
		<key>Word</key>
		<string>dram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftsform</string>
		<key>Word</key>
		<string>driftsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drivrem</string>
		<key>Word</key>
		<string>drivrem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drm</string>
		<key>Word</key>
		<string>DRM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drottningholm</string>
		<key>Word</key>
		<string>Drottningholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dryckjom</string>
		<key>Word</key>
		<string>dryckjom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dräm</string>
		<key>Word</key>
		<string>dräm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dröm</string>
		<key>Word</key>
		<string>dröm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dualism</string>
		<key>Word</key>
		<string>dualism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelrum</string>
		<key>Word</key>
		<string>dubbelrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dum</string>
		<key>Word</key>
		<string>dum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dumbom</string>
		<key>Word</key>
		<string>dumbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duschrum</string>
		<key>Word</key>
		<string>duschrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dvd-ram</string>
		<key>Word</key>
		<string>DVD-RAM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>därigenom</string>
		<key>Word</key>
		<string>därigenom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>därom</string>
		<key>Word</key>
		<string>därom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödsdom</string>
		<key>Word</key>
		<string>dödsdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>döm</string>
		<key>Word</key>
		<string>döm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dövstum</string>
		<key>Word</key>
		<string>dövstum</string>
	</dict>
</array>
</plist>
