<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>damp</string>
		<key>Word</key>
		<string>damp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datatyp</string>
		<key>Word</key>
		<string>datatyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datavetenskap</string>
		<key>Word</key>
		<string>datavetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delägarskap</string>
		<key>Word</key>
		<string>delägarskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demogrupp</string>
		<key>Word</key>
		<string>demogrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desktop</string>
		<key>Word</key>
		<string>desktop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dhcp</string>
		<key>Word</key>
		<string>DHCP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diagramtyp</string>
		<key>Word</key>
		<string>diagramtyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>digitalklapp</string>
		<key>Word</key>
		<string>digitalklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dimp</string>
		<key>Word</key>
		<string>dimp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>direkthjälp</string>
		<key>Word</key>
		<string>direkthjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskussionsgrupp</string>
		<key>Word</key>
		<string>diskussionsgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ditopp</string>
		<key>Word</key>
		<string>ditopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ditupp</string>
		<key>Word</key>
		<string>ditupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djup</string>
		<key>Word</key>
		<string>djup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurkropp</string>
		<key>Word</key>
		<string>djurkropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dockskåp</string>
		<key>Word</key>
		<string>dockskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dop</string>
		<key>Word</key>
		<string>dop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dopp</string>
		<key>Word</key>
		<string>dopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>draghjälp</string>
		<key>Word</key>
		<string>draghjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dropp</string>
		<key>Word</key>
		<string>dropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dryp</string>
		<key>Word</key>
		<string>dryp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dräp</string>
		<key>Word</key>
		<string>dräp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dråp</string>
		<key>Word</key>
		<string>dråp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drömtorp</string>
		<key>Word</key>
		<string>drömtorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dröp</string>
		<key>Word</key>
		<string>dröp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dsp</string>
		<key>Word</key>
		<string>DSP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dump</string>
		<key>Word</key>
		<string>dump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dyrgrip</string>
		<key>Word</key>
		<string>dyrgrip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dårskap</string>
		<key>Word</key>
		<string>dårskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>döp</string>
		<key>Word</key>
		<string>döp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dörrknapp</string>
		<key>Word</key>
		<string>dörrknapp</string>
	</dict>
</array>
</plist>
