<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ead</string>
		<key>Word</key>
		<string>EAD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eastwood</string>
		<key>Word</key>
		<string>Eastwood</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eberhard</string>
		<key>Word</key>
		<string>Eberhard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ed</string>
		<key>Word</key>
		<string>Ed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ed</string>
		<key>Word</key>
		<string>ed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edelsvard</string>
		<key>Word</key>
		<string>Edelsvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>editerad</string>
		<key>Word</key>
		<string>editerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edlund</string>
		<key>Word</key>
		<string>Edlund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edmund</string>
		<key>Word</key>
		<string>Edmund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edouard</string>
		<key>Word</key>
		<string>Edouard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eduard</string>
		<key>Word</key>
		<string>Eduard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edvard</string>
		<key>Word</key>
		<string>Edvard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edward</string>
		<key>Word</key>
		<string>Edward</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektiviserad</string>
		<key>Word</key>
		<string>effektiviserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektuerad</string>
		<key>Word</key>
		<string>effektuerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efod</string>
		<key>Word</key>
		<string>efod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterapad</string>
		<key>Word</key>
		<string>efterapad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterbildad</string>
		<key>Word</key>
		<string>efterbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterforskad</string>
		<key>Word</key>
		<string>efterforskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfragad</string>
		<key>Word</key>
		<string>efterfrågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfoljd</string>
		<key>Word</key>
		<string>efterföljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterhand</string>
		<key>Word</key>
		<string>efterhand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterkrigstid</string>
		<key>Word</key>
		<string>efterkrigstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterled</string>
		<key>Word</key>
		<string>efterled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlevd</string>
		<key>Word</key>
		<string>efterlevd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterliknad</string>
		<key>Word</key>
		<string>efterliknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlamnad</string>
		<key>Word</key>
		<string>efterlämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlangtad</string>
		<key>Word</key>
		<string>efterlängtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterskickad</string>
		<key>Word</key>
		<string>efterskickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterstravad</string>
		<key>Word</key>
		<string>eftersträvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterstravansvard</string>
		<key>Word</key>
		<string>eftersträvansvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersand</string>
		<key>Word</key>
		<string>eftersänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertraktad</string>
		<key>Word</key>
		<string>eftertraktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertraktansvard</string>
		<key>Word</key>
		<string>eftertraktansvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertrad</string>
		<key>Word</key>
		<string>efterträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertradd</string>
		<key>Word</key>
		<string>efterträdd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertranad</string>
		<key>Word</key>
		<string>eftertrånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftervarld</string>
		<key>Word</key>
		<string>eftervärld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenartad</string>
		<key>Word</key>
		<string>egenartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendesignad</string>
		<key>Word</key>
		<string>egendesignad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenkompilerad</string>
		<key>Word</key>
		<string>egenkompilerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eggad</string>
		<key>Word</key>
		<string>eggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egnahemsnamnd</string>
		<key>Word</key>
		<string>egnahemsnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrensvard</string>
		<key>Word</key>
		<string>Ehrensvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehud</string>
		<key>Word</key>
		<string>Ehud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ejegod</string>
		<key>Word</key>
		<string>Ejegod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ejvind</string>
		<key>Word</key>
		<string>Ejvind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekad</string>
		<key>Word</key>
		<string>ekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekeblad</string>
		<key>Word</key>
		<string>Ekeblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eklund</string>
		<key>Word</key>
		<string>Eklund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekolod</string>
		<key>Word</key>
		<string>ekolod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomibyggnad</string>
		<key>Word</key>
		<string>ekonomibyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elakartad</string>
		<key>Word</key>
		<string>elakartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eld</string>
		<key>Word</key>
		<string>eld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldad</string>
		<key>Word</key>
		<string>eldad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldred</string>
		<key>Word</key>
		<string>Eldred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldrod</string>
		<key>Word</key>
		<string>eldröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldstad</string>
		<key>Word</key>
		<string>eldstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektrifierad</string>
		<key>Word</key>
		<string>elektrifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektrod</string>
		<key>Word</key>
		<string>elektrod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eliminerad</string>
		<key>Word</key>
		<string>eliminerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elkostnad</string>
		<key>Word</key>
		<string>elkostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ellipsoid</string>
		<key>Word</key>
		<string>ellipsoid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elmlund</string>
		<key>Word</key>
		<string>Elmlund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emaljerad</string>
		<key>Word</key>
		<string>emaljerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>embarkerad</string>
		<key>Word</key>
		<string>embarkerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emellertid</string>
		<key>Word</key>
		<string>emellertid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emerald</string>
		<key>Word</key>
		<string>Emerald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emitterad</string>
		<key>Word</key>
		<string>emitterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emotsedd</string>
		<key>Word</key>
		<string>emotsedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emulerad</string>
		<key>Word</key>
		<string>emulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enad</string>
		<key>Word</key>
		<string>enad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enarmad</string>
		<key>Word</key>
		<string>enarmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energimarknad</string>
		<key>Word</key>
		<string>energimarknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enerverad</string>
		<key>Word</key>
		<string>enerverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfald</string>
		<key>Word</key>
		<string>enfald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfargad</string>
		<key>Word</key>
		<string>enfärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engagerad</string>
		<key>Word</key>
		<string>engagerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>england</string>
		<key>Word</key>
		<string>England</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>englund</string>
		<key>Word</key>
		<string>Englund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engangskostnad</string>
		<key>Word</key>
		<string>engångskostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkonad</string>
		<key>Word</key>
		<string>enkönad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enrollerad</string>
		<key>Word</key>
		<string>enrollerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enskild</string>
		<key>Word</key>
		<string>enskild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entledigad</string>
		<key>Word</key>
		<string>entledigad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entreprenad</string>
		<key>Word</key>
		<string>entreprenad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiasmerad</string>
		<key>Word</key>
		<string>entusiasmerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enogd</string>
		<key>Word</key>
		<string>enögd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>episod</string>
		<key>Word</key>
		<string>episod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eqad</string>
		<key>Word</key>
		<string>EQad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erbjud</string>
		<key>Word</key>
		<string>erbjud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erbjod</string>
		<key>Word</key>
		<string>erbjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfordrad</string>
		<key>Word</key>
		<string>erfordrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erhard</string>
		<key>Word</key>
		<string>Erhard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erinrad</string>
		<key>Word</key>
		<string>erinrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erkand</string>
		<key>Word</key>
		<string>erkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erlagd</string>
		<key>Word</key>
		<string>erlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erland</string>
		<key>Word</key>
		<string>Erland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ernfrid</string>
		<key>Word</key>
		<string>Ernfrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ernadd</string>
		<key>Word</key>
		<string>ernådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eroderad</string>
		<key>Word</key>
		<string>eroderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ertappad</string>
		<key>Word</key>
		<string>ertappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erovrad</string>
		<key>Word</key>
		<string>erövrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eskorterad</string>
		<key>Word</key>
		<string>eskorterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estland</string>
		<key>Word</key>
		<string>Estland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estrad</string>
		<key>Word</key>
		<string>estrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estrid</string>
		<key>Word</key>
		<string>Estrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etablerad</string>
		<key>Word</key>
		<string>etablerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etiketterad</string>
		<key>Word</key>
		<string>etiketterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etsad</string>
		<key>Word</key>
		<string>etsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etyd</string>
		<key>Word</key>
		<string>etyd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eucd</string>
		<key>Word</key>
		<string>EUCD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>euclid</string>
		<key>Word</key>
		<string>Euclid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evad</string>
		<key>Word</key>
		<string>evad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evakuerad</string>
		<key>Word</key>
		<string>evakuerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evald</string>
		<key>Word</key>
		<string>Evald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evaluerad</string>
		<key>Word</key>
		<string>evaluerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ewald</string>
		<key>Word</key>
		<string>Ewald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exalterad</string>
		<key>Word</key>
		<string>exalterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>examinerad</string>
		<key>Word</key>
		<string>examinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excellerad</string>
		<key>Word</key>
		<string>excellerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exciterad</string>
		<key>Word</key>
		<string>exciterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exekverad</string>
		<key>Word</key>
		<string>exekverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exemplifierad</string>
		<key>Word</key>
		<string>exemplifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exercished</string>
		<key>Word</key>
		<string>exercished</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exkluderad</string>
		<key>Word</key>
		<string>exkluderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expanderad</string>
		<key>Word</key>
		<string>expanderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expedierad</string>
		<key>Word</key>
		<string>expedierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expertledd</string>
		<key>Word</key>
		<string>expertledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exploaterad</string>
		<key>Word</key>
		<string>exploaterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>explosionsartad</string>
		<key>Word</key>
		<string>explosionsartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exponentierad</string>
		<key>Word</key>
		<string>exponentierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exponerad</string>
		<key>Word</key>
		<string>exponerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exporterad</string>
		<key>Word</key>
		<string>exporterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exproprierad</string>
		<key>Word</key>
		<string>exproprierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extraherad</string>
		<key>Word</key>
		<string>extraherad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eyvind</string>
		<key>Word</key>
		<string>Eyvind</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Edouard</string>
		<key>Word</key>
		<string>Édouard</string>
	</dict>
</array>
</plist>
