<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-förvaltning</string>
		<key>Word</key>
		<string>e-förvaltning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-learning</string>
		<key>Word</key>
		<string>e-learning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edberg</string>
		<key>Word</key>
		<string>Edberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edling</string>
		<key>Word</key>
		<string>Edling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eeg</string>
		<key>Word</key>
		<string>EEG</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektivisering</string>
		<key>Word</key>
		<string>effektivisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterapning</string>
		<key>Word</key>
		<string>efterapning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterforskning</string>
		<key>Word</key>
		<string>efterforskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlysning</string>
		<key>Word</key>
		<string>efterlysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftermiddag</string>
		<key>Word</key>
		<string>eftermiddag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterräkning</string>
		<key>Word</key>
		<string>efterräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersläpning</string>
		<key>Word</key>
		<string>eftersläpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertrycklig</string>
		<key>Word</key>
		<string>eftertrycklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendomlig</string>
		<key>Word</key>
		<string>egendomlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenhändig</string>
		<key>Word</key>
		<string>egenhändig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenmäktig</string>
		<key>Word</key>
		<string>egenmäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egensinnig</string>
		<key>Word</key>
		<string>egensinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egentlig</string>
		<key>Word</key>
		<string>egentlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egg</string>
		<key>Word</key>
		<string>egg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egyptolog</string>
		<key>Word</key>
		<string>egyptolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrenborg</string>
		<key>Word</key>
		<string>Ehrenborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekberg</string>
		<key>Word</key>
		<string>Ekberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekeberg</string>
		<key>Word</key>
		<string>Ekeberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekg</string>
		<key>Word</key>
		<string>EKG</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekolog</string>
		<key>Word</key>
		<string>ekolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomisering</string>
		<key>Word</key>
		<string>ekonomisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomutbildning</string>
		<key>Word</key>
		<string>ekonomutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekosändning</string>
		<key>Word</key>
		<string>ekosändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elanvändning</string>
		<key>Word</key>
		<string>elanvändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elavläsning</string>
		<key>Word</key>
		<string>elavläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldig</string>
		<key>Word</key>
		<string>eldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldning</string>
		<key>Word</key>
		<string>eldning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldragning</string>
		<key>Word</key>
		<string>eldragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektrosmog</string>
		<key>Word</key>
		<string>Elektrosmog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elfsborg</string>
		<key>Word</key>
		<string>Elfsborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elfving</string>
		<key>Word</key>
		<string>Elfving</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elförsörjning</string>
		<key>Word</key>
		<string>elförsörjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eliminering</string>
		<key>Word</key>
		<string>eliminering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elledning</string>
		<key>Word</key>
		<string>elledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elräkning</string>
		<key>Word</key>
		<string>elräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eluttag</string>
		<key>Word</key>
		<string>eluttag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elvaårig</string>
		<key>Word</key>
		<string>elvaårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elvaåring</string>
		<key>Word</key>
		<string>elvaåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elveborg</string>
		<key>Word</key>
		<string>Elveborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elving</string>
		<key>Word</key>
		<string>Elving</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eländig</string>
		<key>Word</key>
		<string>eländig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emotsåg</string>
		<key>Word</key>
		<string>emotsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emottag</string>
		<key>Word</key>
		<string>emottag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emottog</string>
		<key>Word</key>
		<string>emottog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emulering</string>
		<key>Word</key>
		<string>emulering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>encellig</string>
		<key>Word</key>
		<string>encellig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enderborg</string>
		<key>Word</key>
		<string>Enderborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>endräktig</string>
		<key>Word</key>
		<string>endräktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energiskog</string>
		<key>Word</key>
		<string>energiskog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfaldig</string>
		<key>Word</key>
		<string>enfaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enformig</string>
		<key>Word</key>
		<string>enformig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engagemang</string>
		<key>Word</key>
		<string>engagemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engelskspråkig</string>
		<key>Word</key>
		<string>engelskspråkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engelskundervisning</string>
		<key>Word</key>
		<string>engelskundervisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engång</string>
		<key>Word</key>
		<string>engång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhetlig</string>
		<key>Word</key>
		<string>enhetlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhetsbeteckning</string>
		<key>Word</key>
		<string>enhetsbeteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhällig</string>
		<key>Word</key>
		<string>enhällig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhörning</string>
		<key>Word</key>
		<string>Enhörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhörning</string>
		<key>Word</key>
		<string>enhörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enig</string>
		<key>Word</key>
		<string>enig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkelsidig</string>
		<key>Word</key>
		<string>enkelsidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkelspårig</string>
		<key>Word</key>
		<string>enkelspårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkupig</string>
		<key>Word</key>
		<string>enkupig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkätundersökning</string>
		<key>Word</key>
		<string>enkätundersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enköping</string>
		<key>Word</key>
		<string>Enköping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensamvandring</string>
		<key>Word</key>
		<string>ensamvandring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensidig</string>
		<key>Word</key>
		<string>ensidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensitsig</string>
		<key>Word</key>
		<string>ensitsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enskog</string>
		<key>Word</key>
		<string>enskog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enslig</string>
		<key>Word</key>
		<string>enslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enstavig</string>
		<key>Word</key>
		<string>enstavig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entonig</string>
		<key>Word</key>
		<string>entonig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entydig</string>
		<key>Word</key>
		<string>entydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enväldig</string>
		<key>Word</key>
		<string>enväldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epilog</string>
		<key>Word</key>
		<string>epilog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erbarmlig</string>
		<key>Word</key>
		<string>erbarmlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfarenhetsmässig</string>
		<key>Word</key>
		<string>erfarenhetsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erforderlig</string>
		<key>Word</key>
		<string>erforderlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erlang</string>
		<key>Word</key>
		<string>Erlang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erling</string>
		<key>Word</key>
		<string>Erling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erlägg</string>
		<key>Word</key>
		<string>erlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ersättning</string>
		<key>Word</key>
		<string>ersättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erövring</string>
		<key>Word</key>
		<string>erövring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etablering</string>
		<key>Word</key>
		<string>etablering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etablissemang</string>
		<key>Word</key>
		<string>etablissemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etanolsatsning</string>
		<key>Word</key>
		<string>etanolsatsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etnolog</string>
		<key>Word</key>
		<string>etnolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etolog</string>
		<key>Word</key>
		<string>etolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etsning</string>
		<key>Word</key>
		<string>etsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettrig</string>
		<key>Word</key>
		<string>ettrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettårig</string>
		<key>Word</key>
		<string>ettårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettåring</string>
		<key>Word</key>
		<string>ettåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etymolog</string>
		<key>Word</key>
		<string>etymolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eu-lag</string>
		<key>Word</key>
		<string>EU-lag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eu-utvidgning</string>
		<key>Word</key>
		<string>EU-utvidgning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eutrofiering</string>
		<key>Word</key>
		<string>eutrofiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evakuering</string>
		<key>Word</key>
		<string>evakuering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evenemang</string>
		<key>Word</key>
		<string>evenemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evig</string>
		<key>Word</key>
		<string>evig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evärdlig</string>
		<key>Word</key>
		<string>evärdlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exekvering</string>
		<key>Word</key>
		<string>exekvering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exploatering</string>
		<key>Word</key>
		<string>exploatering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exponering</string>
		<key>Word</key>
		<string>exponering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expropriering</string>
		<key>Word</key>
		<string>expropriering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extrapolering</string>
		<key>Word</key>
		<string>extrapolering</string>
	</dict>
</array>
</plist>
