<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egyptologi</string>
		<key>Word</key>
		<string>egyptologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekologi</string>
		<key>Word</key>
		<string>ekologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomi</string>
		<key>Word</key>
		<string>ekonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elbaradei</string>
		<key>Word</key>
		<string>ElBaradei</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elegi</string>
		<key>Word</key>
		<string>elegi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elenergi</string>
		<key>Word</key>
		<string>elenergi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eli</string>
		<key>Word</key>
		<string>Eli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emi</string>
		<key>Word</key>
		<string>EMI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>empati</string>
		<key>Word</key>
		<string>empati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>empiri</string>
		<key>Word</key>
		<string>empiri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>endokrinologi</string>
		<key>Word</key>
		<string>endokrinologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energi</string>
		<key>Word</key>
		<string>energi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entropi</string>
		<key>Word</key>
		<string>entropi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epidemi</string>
		<key>Word</key>
		<string>epidemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epidemiologi</string>
		<key>Word</key>
		<string>epidemiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epilepsi</string>
		<key>Word</key>
		<string>epilepsi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epistemologi</string>
		<key>Word</key>
		<string>epistemologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ergonomi</string>
		<key>Word</key>
		<string>ergonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erkki</string>
		<key>Word</key>
		<string>Erkki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etiologi</string>
		<key>Word</key>
		<string>etiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etnologi</string>
		<key>Word</key>
		<string>etnologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etologi</string>
		<key>Word</key>
		<string>etologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etseri</string>
		<key>Word</key>
		<string>Etseri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etsi</string>
		<key>Word</key>
		<string>ETSI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etui</string>
		<key>Word</key>
		<string>etui</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etymologi</string>
		<key>Word</key>
		<string>etymologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eufori</string>
		<key>Word</key>
		<string>eufori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evangelii</string>
		<key>Word</key>
		<string>evangelii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>examensceremoni</string>
		<key>Word</key>
		<string>examensceremoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extrabatteri</string>
		<key>Word</key>
		<string>extrabatteri</string>
	</dict>
</array>
</plist>
