<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edelvik</string>
		<key>Word</key>
		<string>Edelvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterklok</string>
		<key>Word</key>
		<string>efterklok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterskank</string>
		<key>Word</key>
		<string>efterskänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersmak</string>
		<key>Word</key>
		<string>eftersmak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersok</string>
		<key>Word</key>
		<string>eftersök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertryck</string>
		<key>Word</key>
		<string>eftertryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egoistisk</string>
		<key>Word</key>
		<string>egoistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egyptisk</string>
		<key>Word</key>
		<string>egyptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ek</string>
		<key>Word</key>
		<string>ek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekivok</string>
		<key>Word</key>
		<string>ekivok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekmarck</string>
		<key>Word</key>
		<string>Ekmarck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekmark</string>
		<key>Word</key>
		<string>Ekmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekologisk</string>
		<key>Word</key>
		<string>ekologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomisk</string>
		<key>Word</key>
		<string>ekonomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomistyrningsverk</string>
		<key>Word</key>
		<string>ekonomistyrningsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekumenik</string>
		<key>Word</key>
		<string>ekumenik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekumenisk</string>
		<key>Word</key>
		<string>ekumenisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekvilibristisk</string>
		<key>Word</key>
		<string>ekvilibristisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elak</string>
		<key>Word</key>
		<string>elak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elastisk</string>
		<key>Word</key>
		<string>elastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elchock</string>
		<key>Word</key>
		<string>elchock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elegisk</string>
		<key>Word</key>
		<string>elegisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektrisk</string>
		<key>Word</key>
		<string>elektrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektrokemisk</string>
		<key>Word</key>
		<string>elektrokemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektromagnetisk</string>
		<key>Word</key>
		<string>elektromagnetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektronik</string>
		<key>Word</key>
		<string>elektronik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektronisk</string>
		<key>Word</key>
		<string>elektronisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektronmikroskopisk</string>
		<key>Word</key>
		<string>elektronmikroskopisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elitistisk</string>
		<key>Word</key>
		<string>elitistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elliptisk</string>
		<key>Word</key>
		<string>elliptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elteknik</string>
		<key>Word</key>
		<string>elteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elverk</string>
		<key>Word</key>
		<string>elverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emfatisk</string>
		<key>Word</key>
		<string>emfatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>empatisk</string>
		<key>Word</key>
		<string>empatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>empirisk</string>
		<key>Word</key>
		<string>empirisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energirik</string>
		<key>Word</key>
		<string>energirik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energisk</string>
		<key>Word</key>
		<string>energisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engelsk</string>
		<key>Word</key>
		<string>engelsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enok</string>
		<key>Word</key>
		<string>Enok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensak</string>
		<key>Word</key>
		<string>ensak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiastisk</string>
		<key>Word</key>
		<string>entusiastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epidemisk</string>
		<key>Word</key>
		<string>epidemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epik</string>
		<key>Word</key>
		<string>epik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epileptisk</string>
		<key>Word</key>
		<string>epileptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>episk</string>
		<key>Word</key>
		<string>episk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epistemisk</string>
		<key>Word</key>
		<string>epistemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epok</string>
		<key>Word</key>
		<string>epok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ergonomisk</string>
		<key>Word</key>
		<string>ergonomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erik</string>
		<key>Word</key>
		<string>Erik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erk</string>
		<key>Word</key>
		<string>Erk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erotik</string>
		<key>Word</key>
		<string>erotik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erotisk</string>
		<key>Word</key>
		<string>erotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>esoterisk</string>
		<key>Word</key>
		<string>esoterisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estetik</string>
		<key>Word</key>
		<string>estetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estetisk</string>
		<key>Word</key>
		<string>estetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estnisk</string>
		<key>Word</key>
		<string>estnisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eterisk</string>
		<key>Word</key>
		<string>eterisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etik</string>
		<key>Word</key>
		<string>etik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etiopisk</string>
		<key>Word</key>
		<string>etiopisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etisk</string>
		<key>Word</key>
		<string>etisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etnisk</string>
		<key>Word</key>
		<string>etnisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etymologisk</string>
		<key>Word</key>
		<string>etymologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eu-sprak</string>
		<key>Word</key>
		<string>EU-språk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>euforisk</string>
		<key>Word</key>
		<string>euforisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>europeisk</string>
		<key>Word</key>
		<string>europeisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evangelikansk</string>
		<key>Word</key>
		<string>evangelikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evangelisk</string>
		<key>Word</key>
		<string>evangelisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evangelisk-luthersk</string>
		<key>Word</key>
		<string>evangelisk-luthersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excentrisk</string>
		<key>Word</key>
		<string>excentrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exegetik</string>
		<key>Word</key>
		<string>exegetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exemplarisk</string>
		<key>Word</key>
		<string>exemplarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exotisk</string>
		<key>Word</key>
		<string>exotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expansionistisk</string>
		<key>Word</key>
		<string>expansionistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expansionspolitik</string>
		<key>Word</key>
		<string>expansionspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>explosionsrisk</string>
		<key>Word</key>
		<string>explosionsrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expressionistisk</string>
		<key>Word</key>
		<string>expressionistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extatisk</string>
		<key>Word</key>
		<string>extatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extraknack</string>
		<key>Word</key>
		<string>extraknäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extremistisk</string>
		<key>Word</key>
		<string>extremistisk</string>
	</dict>
</array>
</plist>
