<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-handel</string>
		<key>Word</key>
		<string>e-handel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-postfel</string>
		<key>Word</key>
		<string>e-postfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>earl</string>
		<key>Word</key>
		<string>earl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektfull</string>
		<key>Word</key>
		<string>effektfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftergymnasial</string>
		<key>Word</key>
		<string>eftergymnasial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterspel</string>
		<key>Word</key>
		<string>efterspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egal</string>
		<key>Word</key>
		<string>egal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egil</string>
		<key>Word</key>
		<string>Egil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrenstrahl</string>
		<key>Word</key>
		<string>Ehrenstrahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eiffel</string>
		<key>Word</key>
		<string>Eiffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekhall</string>
		<key>Word</key>
		<string>Ekhall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekmöbel</string>
		<key>Word</key>
		<string>ekmöbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>el</string>
		<key>Word</key>
		<string>el</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldsjäl</string>
		<key>Word</key>
		<string>eldsjäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elementarpartikel</string>
		<key>Word</key>
		<string>elementarpartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elfel</string>
		<key>Word</key>
		<string>elfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elfwendahl</string>
		<key>Word</key>
		<string>Elfwendahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ellemtel</string>
		<key>Word</key>
		<string>Ellemtel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elorgel</string>
		<key>Word</key>
		<string>elorgel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elrullstol</string>
		<key>Word</key>
		<string>elrullstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elsehul</string>
		<key>Word</key>
		<string>Elsehul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>em-slutspel</string>
		<key>Word</key>
		<string>EM-slutspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emanuel</string>
		<key>Word</key>
		<string>Emanuel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emil</string>
		<key>Word</key>
		<string>Emil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emotionell</string>
		<key>Word</key>
		<string>emotionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>endimensionell</string>
		<key>Word</key>
		<string>endimensionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energispiral</string>
		<key>Word</key>
		<string>energispiral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkel</string>
		<key>Word</key>
		<string>enkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ental</string>
		<key>Word</key>
		<string>ental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epistel</string>
		<key>Word</key>
		<string>epistel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erhåll</string>
		<key>Word</key>
		<string>erhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erhöll</string>
		<key>Word</key>
		<string>erhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ericssonmobil</string>
		<key>Word</key>
		<string>Ericssonmobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ersättningsmodell</string>
		<key>Word</key>
		<string>ersättningsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eskil</string>
		<key>Word</key>
		<string>Eskil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>essentiell</string>
		<key>Word</key>
		<string>essentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etanol</string>
		<key>Word</key>
		<string>etanol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ethel</string>
		<key>Word</key>
		<string>Ethel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettårsvall</string>
		<key>Word</key>
		<string>ettårsvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etyl</string>
		<key>Word</key>
		<string>etyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etylalkohol</string>
		<key>Word</key>
		<string>etylalkohol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evangelikal</string>
		<key>Word</key>
		<string>evangelikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eventuell</string>
		<key>Word</key>
		<string>eventuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excel</string>
		<key>Word</key>
		<string>Excel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exceptionell</string>
		<key>Word</key>
		<string>exceptionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exempel</string>
		<key>Word</key>
		<string>exempel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exil</string>
		<key>Word</key>
		<string>exil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>existentiell</string>
		<key>Word</key>
		<string>existentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>experimentell</string>
		<key>Word</key>
		<string>experimentell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exponentiell</string>
		<key>Word</key>
		<string>exponentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extremfall</string>
		<key>Word</key>
		<string>extremfall</string>
	</dict>
</array>
</plist>
