<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-handelssystem</string>
		<key>Word</key>
		<string>e-handelssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-postprogram</string>
		<key>Word</key>
		<string>e-postprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edholm</string>
		<key>Word</key>
		<string>Edholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edom</string>
		<key>Word</key>
		<string>Edom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eeprom</string>
		<key>Word</key>
		<string>EEPROM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efraim</string>
		<key>Word</key>
		<string>Efraim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterkom</string>
		<key>Word</key>
		<string>efterkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersom</string>
		<key>Word</key>
		<string>eftersom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertanksam</string>
		<key>Word</key>
		<string>eftertänksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendom</string>
		<key>Word</key>
		<string>egendom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egnahem</string>
		<key>Word</key>
		<string>egnahem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egoism</string>
		<key>Word</key>
		<string>egoism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrenheim</string>
		<key>Word</key>
		<string>Ehrenheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrenholm</string>
		<key>Word</key>
		<string>Ehrenholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrenmalm</string>
		<key>Word</key>
		<string>Ehrenmalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ehrenstrom</string>
		<key>Word</key>
		<string>Ehrenström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekbom</string>
		<key>Word</key>
		<string>Ekbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekholm</string>
		<key>Word</key>
		<string>Ekholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonom</string>
		<key>Word</key>
		<string>ekonom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekosystem</string>
		<key>Word</key>
		<string>ekosystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eksem</string>
		<key>Word</key>
		<string>eksem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekstrom</string>
		<key>Word</key>
		<string>Ekström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elam</string>
		<key>Word</key>
		<string>Elam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldenmalm</string>
		<key>Word</key>
		<string>Eldenmalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldstorm</string>
		<key>Word</key>
		<string>eldstorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>electrum</string>
		<key>Word</key>
		<string>Electrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektromagnetism</string>
		<key>Word</key>
		<string>elektromagnetism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elitism</string>
		<key>Word</key>
		<string>elitism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eljakim</string>
		<key>Word</key>
		<string>Eljakim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ellestrom</string>
		<key>Word</key>
		<string>Elleström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elstrom</string>
		<key>Word</key>
		<string>elström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emblem</string>
		<key>Word</key>
		<string>emblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>empirism</string>
		<key>Word</key>
		<string>empirism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enblom</string>
		<key>Word</key>
		<string>Enblom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enbom</string>
		<key>Word</key>
		<string>Enbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energiform</string>
		<key>Word</key>
		<string>energiform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engestrom</string>
		<key>Word</key>
		<string>Engeström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engstrom</string>
		<key>Word</key>
		<string>Engström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkelrum</string>
		<key>Word</key>
		<string>enkelrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkom</string>
		<key>Word</key>
		<string>enkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enorm</string>
		<key>Word</key>
		<string>enorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enrum</string>
		<key>Word</key>
		<string>enrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensam</string>
		<key>Word</key>
		<string>ensam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiasm</string>
		<key>Word</key>
		<string>entusiasm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enzym</string>
		<key>Word</key>
		<string>enzym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epigram</string>
		<key>Word</key>
		<string>epigram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eprom</string>
		<key>Word</key>
		<string>EPROM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erektionsproblem</string>
		<key>Word</key>
		<string>erektionsproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ergonom</string>
		<key>Word</key>
		<string>ergonom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ersattningssystem</string>
		<key>Word</key>
		<string>ersättningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eskapism</string>
		<key>Word</key>
		<string>eskapism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etermedium</string>
		<key>Word</key>
		<string>etermedium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eufemism</string>
		<key>Word</key>
		<string>eufemism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>euphonium</string>
		<key>Word</key>
		<string>euphonium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evangelium</string>
		<key>Word</key>
		<string>evangelium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excorism</string>
		<key>Word</key>
		<string>excorism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exhibitionism</string>
		<key>Word</key>
		<string>exhibitionism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>existensminimum</string>
		<key>Word</key>
		<string>existensminimum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expressionism</string>
		<key>Word</key>
		<string>expressionism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extrem</string>
		<key>Word</key>
		<string>extrem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extremism</string>
		<key>Word</key>
		<string>extremism</string>
	</dict>
</array>
</plist>
