<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-brev</string>
		<key>Word</key>
		<string>e-brev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektiv</string>
		<key>Word</key>
		<string>effektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektiviseringskrav</string>
		<key>Word</key>
		<string>effektiviseringskrav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterkrav</string>
		<key>Word</key>
		<string>efterkrav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlev</string>
		<key>Word</key>
		<string>efterlev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eklov</string>
		<key>Word</key>
		<string>eklöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldprov</string>
		<key>Word</key>
		<string>eldprov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elev</string>
		<key>Word</key>
		<string>elev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elisiv</string>
		<key>Word</key>
		<string>Elisiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>endiv</string>
		<key>Word</key>
		<string>endiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enklav</string>
		<key>Word</key>
		<string>enklav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eslov</string>
		<key>Word</key>
		<string>Eslöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ev</string>
		<key>Word</key>
		<string>ev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exekutiv</string>
		<key>Word</key>
		<string>exekutiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exklav</string>
		<key>Word</key>
		<string>exklav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exklusiv</string>
		<key>Word</key>
		<string>exklusiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expansiv</string>
		<key>Word</key>
		<string>expansiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>explosiv</string>
		<key>Word</key>
		<string>explosiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expressiv</string>
		<key>Word</key>
		<string>expressiv</string>
	</dict>
</array>
</plist>
