<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>familj</string>
		<key>Word</key>
		<string>familj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fanimej</string>
		<key>Word</key>
		<string>fanimej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flottilj</string>
		<key>Word</key>
		<string>flottilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flygflottilj</string>
		<key>Word</key>
		<string>flygflottilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frambesvarj</string>
		<key>Word</key>
		<string>frambesvärj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frej</string>
		<key>Word</key>
		<string>Frej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fullfolj</string>
		<key>Word</key>
		<string>fullfölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fatolj</string>
		<key>Word</key>
		<string>fåtölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folj</string>
		<key>Word</key>
		<string>följ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordroj</string>
		<key>Word</key>
		<string>fördröj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordolj</string>
		<key>Word</key>
		<string>fördölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forfolj</string>
		<key>Word</key>
		<string>förfölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forgatmigej</string>
		<key>Word</key>
		<string>förgätmigej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forhoj</string>
		<key>Word</key>
		<string>förhöj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornoj</string>
		<key>Word</key>
		<string>förnöj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsalj</string>
		<key>Word</key>
		<string>försälj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsorj</string>
		<key>Word</key>
		<string>försörj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortalskampanj</string>
		<key>Word</key>
		<string>förtalskampanj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortalj</string>
		<key>Word</key>
		<string>förtälj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortoj</string>
		<key>Word</key>
		<string>förtöj</string>
	</dict>
</array>
</plist>
