<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fackterm</string>
		<key>Word</key>
		<string>fackterm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faktum</string>
		<key>Word</key>
		<string>faktum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fallskarm</string>
		<key>Word</key>
		<string>fallskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falsarium</string>
		<key>Word</key>
		<string>falsarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>familjemedlem</string>
		<key>Word</key>
		<string>familjemedlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fanatism</string>
		<key>Word</key>
		<string>fanatism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fanerogam</string>
		<key>Word</key>
		<string>fanerogam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fantom</string>
		<key>Word</key>
		<string>fantom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farm</string>
		<key>Word</key>
		<string>farm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fascism</string>
		<key>Word</key>
		<string>fascism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fattigdom</string>
		<key>Word</key>
		<string>fattigdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>felbedom</string>
		<key>Word</key>
		<string>felbedöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>felhanteringssystem</string>
		<key>Word</key>
		<string>felhanteringssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fem</string>
		<key>Word</key>
		<string>fem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femininum</string>
		<key>Word</key>
		<string>femininum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>feminism</string>
		<key>Word</key>
		<string>feminism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femtiofem</string>
		<key>Word</key>
		<string>femtiofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>feodalism</string>
		<key>Word</key>
		<string>feodalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fernbom</string>
		<key>Word</key>
		<string>Fernbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fetischism</string>
		<key>Word</key>
		<string>fetischism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fikarum</string>
		<key>Word</key>
		<string>fikarum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fildelningsprogram</string>
		<key>Word</key>
		<string>fildelningsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>film</string>
		<key>Word</key>
		<string>film</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filsystem</string>
		<key>Word</key>
		<string>filsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finrum</string>
		<key>Word</key>
		<string>finrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiskdamm</string>
		<key>Word</key>
		<string>fiskdamm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flashproblem</string>
		<key>Word</key>
		<string>flashproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flickrum</string>
		<key>Word</key>
		<string>flickrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flum</string>
		<key>Word</key>
		<string>flum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fladerblom</string>
		<key>Word</key>
		<string>fläderblom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fm</string>
		<key>Word</key>
		<string>FM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkhem</string>
		<key>Word</key>
		<string>folkhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folksjukdom</string>
		<key>Word</key>
		<string>folksjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkstam</string>
		<key>Word</key>
		<string>folkstam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folktom</string>
		<key>Word</key>
		<string>folktom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fonem</string>
		<key>Word</key>
		<string>fonem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordom</string>
		<key>Word</key>
		<string>fordom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>form</string>
		<key>Word</key>
		<string>form</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formalism</string>
		<key>Word</key>
		<string>formalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forskningscentrum</string>
		<key>Word</key>
		<string>forskningscentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forskningsprogram</string>
		<key>Word</key>
		<string>forskningsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortum</string>
		<key>Word</key>
		<string>Fortum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forum</string>
		<key>Word</key>
		<string>forum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotbolls-vm</string>
		<key>Word</key>
		<string>fotbolls-VM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotoalbum</string>
		<key>Word</key>
		<string>fotoalbum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fram</string>
		<key>Word</key>
		<string>fram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framkom</string>
		<key>Word</key>
		<string>framkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framom</string>
		<key>Word</key>
		<string>framom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>freudianism</string>
		<key>Word</key>
		<string>freudianism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fridhem</string>
		<key>Word</key>
		<string>Fridhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fridsam</string>
		<key>Word</key>
		<string>fridsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>friluftsmuseum</string>
		<key>Word</key>
		<string>friluftsmuseum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>from</string>
		<key>Word</key>
		<string>from</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fruktsam</string>
		<key>Word</key>
		<string>fruktsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fruktstadium</string>
		<key>Word</key>
		<string>fruktstadium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frykholm</string>
		<key>Word</key>
		<string>Frykholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fundamentalism</string>
		<key>Word</key>
		<string>fundamentalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fundersam</string>
		<key>Word</key>
		<string>fundersam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>futurism</string>
		<key>Word</key>
		<string>futurism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>futurum</string>
		<key>Word</key>
		<string>futurum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrtiofem</string>
		<key>Word</key>
		<string>fyrtiofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faltstrom</string>
		<key>Word</key>
		<string>Fältström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fargskarm</string>
		<key>Word</key>
		<string>färgskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farm</string>
		<key>Word</key>
		<string>färm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fodelsedatum</string>
		<key>Word</key>
		<string>födelsedatum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foljsam</string>
		<key>Word</key>
		<string>följsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fonstersystem</string>
		<key>Word</key>
		<string>fönstersystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordom</string>
		<key>Word</key>
		<string>fördom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordom</string>
		<key>Word</key>
		<string>fördöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forekom</string>
		<key>Word</key>
		<string>förekom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foretagsam</string>
		<key>Word</key>
		<string>företagsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forglom</string>
		<key>Word</key>
		<string>förglöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forkom</string>
		<key>Word</key>
		<string>förkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornam</string>
		<key>Word</key>
		<string>förnam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornim</string>
		<key>Word</key>
		<string>förnim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornam</string>
		<key>Word</key>
		<string>förnäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornojsam</string>
		<key>Word</key>
		<string>förnöjsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forrum</string>
		<key>Word</key>
		<string>förrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsamlingsmedlem</string>
		<key>Word</key>
		<string>församlingsmedlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forstam</string>
		<key>Word</key>
		<string>förstäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsvarsmekanism</string>
		<key>Word</key>
		<string>försvarsmekanism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortrytsam</string>
		<key>Word</key>
		<string>förtrytsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forutbestam</string>
		<key>Word</key>
		<string>förutbestäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forutom</string>
		<key>Word</key>
		<string>förutom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forvaringsproblem</string>
		<key>Word</key>
		<string>förvaringsproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forvaringsrum</string>
		<key>Word</key>
		<string>förvaringsrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foraldrahem</string>
		<key>Word</key>
		<string>föräldrahem</string>
	</dict>
</array>
</plist>
