<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fallgrop</string>
		<key>Word</key>
		<string>fallgrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fallskärmstrupp</string>
		<key>Word</key>
		<string>fallskärmstrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>familjeskåp</string>
		<key>Word</key>
		<string>familjeskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fartygstyp</string>
		<key>Word</key>
		<string>fartygstyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fattighjälp</string>
		<key>Word</key>
		<string>fattighjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>favoritklapp</string>
		<key>Word</key>
		<string>favoritklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiendskap</string>
		<key>Word</key>
		<string>fiendskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filantrop</string>
		<key>Word</key>
		<string>filantrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filip</string>
		<key>Word</key>
		<string>Filip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filtyp</string>
		<key>Word</key>
		<string>filtyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fimp</string>
		<key>Word</key>
		<string>fimp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finansvalp</string>
		<key>Word</key>
		<string>finansvalp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fingertopp</string>
		<key>Word</key>
		<string>fingertopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiskredskap</string>
		<key>Word</key>
		<string>fiskredskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjällapp</string>
		<key>Word</key>
		<string>fjällapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjärrhjälp</string>
		<key>Word</key>
		<string>fjärrhjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flaggskepp</string>
		<key>Word</key>
		<string>flaggskepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flip</string>
		<key>Word</key>
		<string>Flip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flopp</string>
		<key>Word</key>
		<string>flopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flugsvamp</string>
		<key>Word</key>
		<string>flugsvamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkgrupp</string>
		<key>Word</key>
		<string>folkgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkhop</string>
		<key>Word</key>
		<string>folkhop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortlöp</string>
		<key>Word</key>
		<string>fortlöp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fp</string>
		<key>Word</key>
		<string>fp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framsläpp</string>
		<key>Word</key>
		<string>framsläpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>friköp</string>
		<key>Word</key>
		<string>friköp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>främlingskap</string>
		<key>Word</key>
		<string>främlingskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frändskap</string>
		<key>Word</key>
		<string>frändskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ftp</string>
		<key>Word</key>
		<string>FTP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrskepp</string>
		<key>Word</key>
		<string>fyrskepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färgdjup</string>
		<key>Word</key>
		<string>färgdjup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färgegenskap</string>
		<key>Word</key>
		<string>färgegenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fångenskap</string>
		<key>Word</key>
		<string>fångenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbrytartyp</string>
		<key>Word</key>
		<string>förbrytartyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föregrep</string>
		<key>Word</key>
		<string>föregrep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föregrip</string>
		<key>Word</key>
		<string>föregrip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>författarskap</string>
		<key>Word</key>
		<string>författarskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förgrep</string>
		<key>Word</key>
		<string>förgrep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förgrip</string>
		<key>Word</key>
		<string>förgrip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förkunskap</string>
		<key>Word</key>
		<string>förkunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förköp</string>
		<key>Word</key>
		<string>förköp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förlopp</string>
		<key>Word</key>
		<string>förlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förlöp</string>
		<key>Word</key>
		<string>förlöp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förstahandskunskap</string>
		<key>Word</key>
		<string>förstahandskunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förtrupp</string>
		<key>Word</key>
		<string>förtrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förvaringsskåp</string>
		<key>Word</key>
		<string>förvaringsskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föräldraskap</string>
		<key>Word</key>
		<string>föräldraskap</string>
	</dict>
</array>
</plist>
