<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falukorv</string>
		<key>Word</key>
		<string>falukorv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>familjegrav</string>
		<key>Word</key>
		<string>familjegrav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>familjeliv</string>
		<key>Word</key>
		<string>familjeliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>figurativ</string>
		<key>Word</key>
		<string>figurativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiktiv</string>
		<key>Word</key>
		<string>fiktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fluglarv</string>
		<key>Word</key>
		<string>fluglarv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkliv</string>
		<key>Word</key>
		<string>folkliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkrorelsearkiv</string>
		<key>Word</key>
		<string>folkrörelsearkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formgav</string>
		<key>Word</key>
		<string>formgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formgiv</string>
		<key>Word</key>
		<string>formgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortlev</string>
		<key>Word</key>
		<string>fortlev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fosforbehov</string>
		<key>Word</key>
		<string>fosforbehov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framhav</string>
		<key>Word</key>
		<string>framhäv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framlev</string>
		<key>Word</key>
		<string>framlev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fredsoliv</string>
		<key>Word</key>
		<string>fredsoliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frigav</string>
		<key>Word</key>
		<string>frigav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frigiv</string>
		<key>Word</key>
		<string>frigiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>friluftsliv</string>
		<key>Word</key>
		<string>friluftsliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fulualv</string>
		<key>Word</key>
		<string>Fuluälv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fadernearv</string>
		<key>Word</key>
		<string>fädernearv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fallkniv</string>
		<key>Word</key>
		<string>fällkniv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fagelperspektiv</string>
		<key>Word</key>
		<string>fågelperspektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forblev</string>
		<key>Word</key>
		<string>förblev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forbliv</string>
		<key>Word</key>
		<string>förbliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordrev</string>
		<key>Word</key>
		<string>fördrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordriv</string>
		<key>Word</key>
		<string>fördriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fordarv</string>
		<key>Word</key>
		<string>fördärv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foregav</string>
		<key>Word</key>
		<string>föregav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foregiv</string>
		<key>Word</key>
		<string>föregiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foreningsarkiv</string>
		<key>Word</key>
		<string>föreningsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foreskrev</string>
		<key>Word</key>
		<string>föreskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foreskriv</string>
		<key>Word</key>
		<string>föreskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forhav</string>
		<key>Word</key>
		<string>förhäv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forkvav</string>
		<key>Word</key>
		<string>förkväv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forlov</string>
		<key>Word</key>
		<string>förlov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsov</string>
		<key>Word</key>
		<string>försov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forvarv</string>
		<key>Word</key>
		<string>förvärv</string>
	</dict>
</array>
</plist>
