<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fabriksny</string>
		<key>Word</key>
		<string>fabriksny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fairway</string>
		<key>Word</key>
		<string>fairway</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fanny</string>
		<key>Word</key>
		<string>Fanny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>festmeny</string>
		<key>Word</key>
		<string>festmeny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fly</string>
		<key>Word</key>
		<string>fly</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formatmeny</string>
		<key>Word</key>
		<string>formatmeny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornby</string>
		<key>Word</key>
		<string>Fornby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornby</string>
		<key>Word</key>
		<string>fornby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>freddy</string>
		<key>Word</key>
		<string>Freddy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>funkisby</string>
		<key>Word</key>
		<string>funkisby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fy</string>
		<key>Word</key>
		<string>fy</string>
	</dict>
</array>
</plist>
