<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garb</string>
		<key>Word</key>
		<string>garb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garderob</string>
		<key>Word</key>
		<string>garderob</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gb</string>
		<key>Word</key>
		<string>GB</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generalstab</string>
		<key>Word</key>
		<string>generalstab</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glob</string>
		<key>Word</key>
		<string>glob</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>golfklubb</string>
		<key>Word</key>
		<string>golfklubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottlieb</string>
		<key>Word</key>
		<string>Gottlieb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottlob</string>
		<key>Word</key>
		<string>Gottlob</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grabb</string>
		<key>Word</key>
		<string>grabb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gsm-klubb</string>
		<key>Word</key>
		<string>GSM-klubb</string>
	</dict>
</array>
</plist>
