<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gabriel</string>
		<key>Word</key>
		<string>Gabriel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gaffel</string>
		<key>Word</key>
		<string>gaffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gal</string>
		<key>Word</key>
		<string>gal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gammal</string>
		<key>Word</key>
		<string>gammal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gardell</string>
		<key>Word</key>
		<string>Gardell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasanfall</string>
		<key>Word</key>
		<string>gasanfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasol</string>
		<key>Word</key>
		<string>gasol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gavel</string>
		<key>Word</key>
		<string>gavel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gel</string>
		<key>Word</key>
		<string>gel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gemål</string>
		<key>Word</key>
		<string>gemål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>general</string>
		<key>Word</key>
		<string>general</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generalkonsul</string>
		<key>Word</key>
		<string>generalkonsul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generell</string>
		<key>Word</key>
		<string>generell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genial</string>
		<key>Word</key>
		<string>genial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geniknöl</string>
		<key>Word</key>
		<string>geniknöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genmäl</string>
		<key>Word</key>
		<string>genmäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomusel</string>
		<key>Word</key>
		<string>genomusel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genpool</string>
		<key>Word</key>
		<string>genpool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gesäll</string>
		<key>Word</key>
		<string>gesäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giffel</string>
		<key>Word</key>
		<string>giffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giftermål</string>
		<key>Word</key>
		<string>giftermål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gilgal</string>
		<key>Word</key>
		<string>Gilgal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gissel</string>
		<key>Word</key>
		<string>gissel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gjall</string>
		<key>Word</key>
		<string>Gjall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gjörwell</string>
		<key>Word</key>
		<string>Gjörwell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glasfiberkabel</string>
		<key>Word</key>
		<string>glasfiberkabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>global</string>
		<key>Word</key>
		<string>global</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnissel</string>
		<key>Word</key>
		<string>gnissel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnäll</string>
		<key>Word</key>
		<string>gnäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godkväll</string>
		<key>Word</key>
		<string>godkväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gogol</string>
		<key>Word</key>
		<string>Gogol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gol</string>
		<key>Word</key>
		<string>gol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gondol</string>
		<key>Word</key>
		<string>gondol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gospel</string>
		<key>Word</key>
		<string>gospel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gpl</string>
		<key>Word</key>
		<string>GPL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graal</string>
		<key>Word</key>
		<string>graal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grahamsmjöl</string>
		<key>Word</key>
		<string>grahamsmjöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grapefruktcocktail</string>
		<key>Word</key>
		<string>grapefruktcocktail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravbål</string>
		<key>Word</key>
		<string>gravbål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grel</string>
		<key>Word</key>
		<string>Grel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grendel</string>
		<key>Word</key>
		<string>Grendel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>griffel</string>
		<key>Word</key>
		<string>griffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grill</string>
		<key>Word</key>
		<string>grill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>groll</string>
		<key>Word</key>
		<string>groll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grubbel</string>
		<key>Word</key>
		<string>grubbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundregel</string>
		<key>Word</key>
		<string>grundregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundtal</string>
		<key>Word</key>
		<string>grundtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundval</string>
		<key>Word</key>
		<string>grundval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gräddfil</string>
		<key>Word</key>
		<string>gräddfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gräl</string>
		<key>Word</key>
		<string>gräl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gräll</string>
		<key>Word</key>
		<string>gräll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gränsfall</string>
		<key>Word</key>
		<string>gränsfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gråfäll</string>
		<key>Word</key>
		<string>Gråfäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gråkall</string>
		<key>Word</key>
		<string>gråkall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grünthal</string>
		<key>Word</key>
		<string>Grünthal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guadalcanal</string>
		<key>Word</key>
		<string>Guadalcanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gul</string>
		<key>Word</key>
		<string>gul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldföremål</string>
		<key>Word</key>
		<string>guldföremål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldgul</string>
		<key>Word</key>
		<string>guldgul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gull</string>
		<key>Word</key>
		<string>Gull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gummistövel</string>
		<key>Word</key>
		<string>gummistövel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gungstol</string>
		<key>Word</key>
		<string>gungstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunnel</string>
		<key>Word</key>
		<string>Gunnel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guttural</string>
		<key>Word</key>
		<string>guttural</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyckel</string>
		<key>Word</key>
		<string>gyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyckelspel</string>
		<key>Word</key>
		<string>gyckelspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyllengul</string>
		<key>Word</key>
		<string>gyllengul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gymnasial</string>
		<key>Word</key>
		<string>gymnasial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gympahall</string>
		<key>Word</key>
		<string>gympahall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gäl</string>
		<key>Word</key>
		<string>gäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gäll</string>
		<key>Word</key>
		<string>gäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gåskarl</string>
		<key>Word</key>
		<string>gåskarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gåtfull</string>
		<key>Word</key>
		<string>gåtfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödningsmedel</string>
		<key>Word</key>
		<string>gödningsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödsel</string>
		<key>Word</key>
		<string>gödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödselmedel</string>
		<key>Word</key>
		<string>gödselmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>göl</string>
		<key>Word</key>
		<string>göl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gördel</string>
		<key>Word</key>
		<string>gördel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>görel</string>
		<key>Word</key>
		<string>Görel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>göromål</string>
		<key>Word</key>
		<string>göromål</string>
	</dict>
</array>
</plist>
