<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gam</string>
		<key>Word</key>
		<string>gam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garm</string>
		<key>Word</key>
		<string>Garm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gavelrum</string>
		<key>Word</key>
		<string>gavelrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gem</string>
		<key>Word</key>
		<string>gem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gemensam</string>
		<key>Word</key>
		<string>gemensam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gendarm</string>
		<key>Word</key>
		<string>gendarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genitivform</string>
		<key>Word</key>
		<string>genitivform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genom</string>
		<key>Word</key>
		<string>genom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glam</string>
		<key>Word</key>
		<string>glam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glöm</string>
		<key>Word</key>
		<string>glöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gm</string>
		<key>Word</key>
		<string>GM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnom</string>
		<key>Word</key>
		<string>gnom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gollum</string>
		<key>Word</key>
		<string>Gollum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gom</string>
		<key>Word</key>
		<string>gom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graham</string>
		<key>Word</key>
		<string>Graham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gram</string>
		<key>Word</key>
		<string>gram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gratisprogram</string>
		<key>Word</key>
		<string>gratisprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grim</string>
		<key>Word</key>
		<string>Grim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gripsholm</string>
		<key>Word</key>
		<string>Gripsholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grubbström</string>
		<key>Word</key>
		<string>Grubbström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gruppmedlem</string>
		<key>Word</key>
		<string>gruppmedlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grym</string>
		<key>Word</key>
		<string>grym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gräm</string>
		<key>Word</key>
		<string>gräm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gränsvärdesteorem</string>
		<key>Word</key>
		<string>gränsvärdesteorem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gsm</string>
		<key>Word</key>
		<string>GSM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guam</string>
		<key>Word</key>
		<string>Guam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudom</string>
		<key>Word</key>
		<string>gudom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gustavianum</string>
		<key>Word</key>
		<string>Gustavianum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gusum</string>
		<key>Word</key>
		<string>Gusum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guttorm</string>
		<key>Word</key>
		<string>Guttorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyllenhielm</string>
		<key>Word</key>
		<string>Gyllenhielm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gymnasieprogram</string>
		<key>Word</key>
		<string>gymnasieprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gymnasium</string>
		<key>Word</key>
		<string>gymnasium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gynnsam</string>
		<key>Word</key>
		<string>gynnsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>göm</string>
		<key>Word</key>
		<string>göm</string>
	</dict>
</array>
</plist>
