<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gambro</string>
		<key>Word</key>
		<string>Gambro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gentoo</string>
		<key>Word</key>
		<string>Gentoo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>getto</string>
		<key>Word</key>
		<string>getto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gigolo</string>
		<key>Word</key>
		<string>gigolo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gimo</string>
		<key>Word</key>
		<string>Gimo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giro</string>
		<key>Word</key>
		<string>giro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glidartillvaro</string>
		<key>Word</key>
		<string>glidartillvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glissando</string>
		<key>Word</key>
		<string>glissando</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glo</string>
		<key>Word</key>
		<string>glo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gno</string>
		<key>Word</key>
		<string>gno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnosjo</string>
		<key>Word</key>
		<string>Gnosjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>go</string>
		<key>Word</key>
		<string>go</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godo</string>
		<key>Word</key>
		<string>godo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gorgo</string>
		<key>Word</key>
		<string>Gorgo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grillradio</string>
		<key>Word</key>
		<string>grillradio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gro</string>
		<key>Word</key>
		<string>gro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronesjo</string>
		<key>Word</key>
		<string>Grönesjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guantanamo</string>
		<key>Word</key>
		<string>Guantanamo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guantanamo</string>
		<key>Word</key>
		<string>Guantánamo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guglielmo</string>
		<key>Word</key>
		<string>Guglielmo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gympasko</string>
		<key>Word</key>
		<string>gympasko</string>
	</dict>
</array>
</plist>
