<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galenskap</string>
		<key>Word</key>
		<string>galenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gallup</string>
		<key>Word</key>
		<string>Gallup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galopp</string>
		<key>Word</key>
		<string>galopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gangsterrap</string>
		<key>Word</key>
		<string>gangsterrap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gap</string>
		<key>Word</key>
		<string>gap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gemenskap</string>
		<key>Word</key>
		<string>gemenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomlöp</string>
		<key>Word</key>
		<string>genomlöp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geovetenskap</string>
		<key>Word</key>
		<string>geovetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ginnungagap</string>
		<key>Word</key>
		<string>ginnungagap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glapp</string>
		<key>Word</key>
		<string>glapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glädjerop</string>
		<key>Word</key>
		<string>glädjerop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnistgap</string>
		<key>Word</key>
		<string>gnistgap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottorp</string>
		<key>Word</key>
		<string>Gottorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grannskap</string>
		<key>Word</key>
		<string>grannskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grentopp</string>
		<key>Word</key>
		<string>grentopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grep</string>
		<key>Word</key>
		<string>grep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grepp</string>
		<key>Word</key>
		<string>grepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grip</string>
		<key>Word</key>
		<string>grip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grop</string>
		<key>Word</key>
		<string>grop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundtyp</string>
		<key>Word</key>
		<string>grundtyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grupp</string>
		<key>Word</key>
		<string>grupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gruppmedlemskap</string>
		<key>Word</key>
		<string>gruppmedlemskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grupprincip</string>
		<key>Word</key>
		<string>grupprincip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grästorp</string>
		<key>Word</key>
		<string>Grästorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gråarp</string>
		<key>Word</key>
		<string>Gråarp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gröp</string>
		<key>Word</key>
		<string>gröp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldklimp</string>
		<key>Word</key>
		<string>guldklimp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldkupp</string>
		<key>Word</key>
		<string>guldkupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gump</string>
		<key>Word</key>
		<string>gump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gupp</string>
		<key>Word</key>
		<string>gupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gäsp</string>
		<key>Word</key>
		<string>gäsp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gårdstyp</string>
		<key>Word</key>
		<string>gårdstyp</string>
	</dict>
</array>
</plist>
