<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gav</string>
		<key>Word</key>
		<string>gav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genitiv</string>
		<key>Word</key>
		<string>genitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomdrev</string>
		<key>Word</key>
		<string>genomdrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomdriv</string>
		<key>Word</key>
		<string>genomdriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giv</string>
		<key>Word</key>
		<string>giv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godsinnehav</string>
		<key>Word</key>
		<string>godsinnehav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>golv</string>
		<key>Word</key>
		<string>golv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gorbatjov</string>
		<key>Word</key>
		<string>Gorbatjov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grantjuv</string>
		<key>Word</key>
		<string>grantjuv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grav</string>
		<key>Word</key>
		<string>grav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grillkorv</string>
		<key>Word</key>
		<string>grillkorv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grimslöv</string>
		<key>Word</key>
		<string>Grimslöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grov</string>
		<key>Word</key>
		<string>grov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gräv</string>
		<key>Word</key>
		<string>gräv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gråsparv</string>
		<key>Word</key>
		<string>gråsparv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudilov</string>
		<key>Word</key>
		<string>gudilov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudskelov</string>
		<key>Word</key>
		<string>gudskelov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldkalv</string>
		<key>Word</key>
		<string>guldkalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gulsparv</string>
		<key>Word</key>
		<string>gulsparv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gustav</string>
		<key>Word</key>
		<string>Gustav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gymnasieelev</string>
		<key>Word</key>
		<string>gymnasieelev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gåvobrev</string>
		<key>Word</key>
		<string>gåvobrev</string>
	</dict>
</array>
</plist>
