<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haag</string>
		<key>Word</key>
		<string>Haag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hackerslang</string>
		<key>Word</key>
		<string>hackerslang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hackig</string>
		<key>Word</key>
		<string>hackig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hafsig</string>
		<key>Word</key>
		<string>hafsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagaberg</string>
		<key>Word</key>
		<string>Hagaberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagberg</string>
		<key>Word</key>
		<string>Hagberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallberg</string>
		<key>Word</key>
		<string>Hallberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallenberg</string>
		<key>Word</key>
		<string>Hallenberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallsberg</string>
		<key>Word</key>
		<string>Hallsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallanning</string>
		<key>Word</key>
		<string>hallänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halshugg</string>
		<key>Word</key>
		<string>halshugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halshogg</string>
		<key>Word</key>
		<string>halshögg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsstarrig</string>
		<key>Word</key>
		<string>halsstarrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvering</string>
		<key>Word</key>
		<string>halvering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvhog</string>
		<key>Word</key>
		<string>halvhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvlullig</string>
		<key>Word</key>
		<string>halvlullig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvsidig</string>
		<key>Word</key>
		<string>halvsidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvtokig</string>
		<key>Word</key>
		<string>halvtokig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamburg</string>
		<key>Word</key>
		<string>Hamburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamburgerrestaurang</string>
		<key>Word</key>
		<string>hamburgerrestaurang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammarberg</string>
		<key>Word</key>
		<string>Hammarberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handbollslag</string>
		<key>Word</key>
		<string>handbollslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelsbolag</string>
		<key>Word</key>
		<string>handelsbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelsfartyg</string>
		<key>Word</key>
		<string>handelsfartyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelsgodselframstallning</string>
		<key>Word</key>
		<string>handelsgödselframställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handfyllning</string>
		<key>Word</key>
		<string>handfyllning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handgemang</string>
		<key>Word</key>
		<string>handgemäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handgriplig</string>
		<key>Word</key>
		<string>handgriplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handikappomsorg</string>
		<key>Word</key>
		<string>handikappomsorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handklappning</string>
		<key>Word</key>
		<string>handklappning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlag</string>
		<key>Word</key>
		<string>handlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handledning</string>
		<key>Word</key>
		<string>handledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handling</string>
		<key>Word</key>
		<string>handling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlingskraftig</string>
		<key>Word</key>
		<string>handlingskraftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlagg</string>
		<key>Word</key>
		<string>handlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlaggning</string>
		<key>Word</key>
		<string>handläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handpalaggning</string>
		<key>Word</key>
		<string>handpåläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handslag</string>
		<key>Word</key>
		<string>handslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handtag</string>
		<key>Word</key>
		<string>handtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handupprackning</string>
		<key>Word</key>
		<string>handuppräckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanlig</string>
		<key>Word</key>
		<string>hanlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hantering</string>
		<key>Word</key>
		<string>hantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanterlig</string>
		<key>Word</key>
		<string>hanterlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>happening</string>
		<key>Word</key>
		<string>happening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harang</string>
		<key>Word</key>
		<string>harang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harrisburg</string>
		<key>Word</key>
		<string>Harrisburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hartvig</string>
		<key>Word</key>
		<string>Hartvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hastig</string>
		<key>Word</key>
		<string>hastig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havsoring</string>
		<key>Word</key>
		<string>havsöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedberg</string>
		<key>Word</key>
		<string>Hedberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hederlig</string>
		<key>Word</key>
		<string>hederlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedning</string>
		<key>Word</key>
		<string>hedning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedvig</string>
		<key>Word</key>
		<string>Hedvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heidelberg</string>
		<key>Word</key>
		<string>Heidelberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heldag</string>
		<key>Word</key>
		<string>heldag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helg</string>
		<key>Word</key>
		<string>helg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgdag</string>
		<key>Word</key>
		<string>helgdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helig</string>
		<key>Word</key>
		<string>helig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hellberg</string>
		<key>Word</key>
		<string>Hellberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helsingborg</string>
		<key>Word</key>
		<string>Helsingborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heltidstjanstgoring</string>
		<key>Word</key>
		<string>heltidstjänstgöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heltokig</string>
		<key>Word</key>
		<string>heltokig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembildning</string>
		<key>Word</key>
		<string>hembildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembranning</string>
		<key>Word</key>
		<string>hembränning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembygdsforening</string>
		<key>Word</key>
		<string>hembygdsförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemkatalog</string>
		<key>Word</key>
		<string>hemkatalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemlig</string>
		<key>Word</key>
		<string>hemlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemming</string>
		<key>Word</key>
		<string>Hemming</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemtrevlig</string>
		<key>Word</key>
		<string>hemtrevlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemvag</string>
		<key>Word</key>
		<string>hemväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>henning</string>
		<key>Word</key>
		<string>Henning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hertig</string>
		<key>Word</key>
		<string>hertig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hetsig</string>
		<key>Word</key>
		<string>hetsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hetsatning</string>
		<key>Word</key>
		<string>hetsätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hetvagg</string>
		<key>Word</key>
		<string>hetvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hg</string>
		<key>Word</key>
		<string>hg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hickning</string>
		<key>Word</key>
		<string>hickning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hildeborg</string>
		<key>Word</key>
		<string>Hildeborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hilding</string>
		<key>Word</key>
		<string>Hilding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himmelsfardsdag</string>
		<key>Word</key>
		<string>himmelsfärdsdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himmelshog</string>
		<key>Word</key>
		<string>himmelshög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hinnaktig</string>
		<key>Word</key>
		<string>hinnaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hisklig</string>
		<key>Word</key>
		<string>hisklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>histolog</string>
		<key>Word</key>
		<string>histolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>historieskrivning</string>
		<key>Word</key>
		<string>historieskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hiv-mottagning</string>
		<key>Word</key>
		<string>hiv-mottagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjalplig</string>
		<key>Word</key>
		<string>hjälplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjaltemodig</string>
		<key>Word</key>
		<string>hjältemodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjarnblodning</string>
		<key>Word</key>
		<string>hjärnblödning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjartlig</string>
		<key>Word</key>
		<string>hjärtlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjartslag</string>
		<key>Word</key>
		<string>hjärtslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjartangslig</string>
		<key>Word</key>
		<string>hjärtängslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hofberg</string>
		<key>Word</key>
		<string>Hofberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holmberg</string>
		<key>Word</key>
		<string>Holmberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holmgang</string>
		<key>Word</key>
		<string>holmgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hong</string>
		<key>Word</key>
		<string>Hong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>honlig</string>
		<key>Word</key>
		<string>honlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>honung</string>
		<key>Word</key>
		<string>honung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>honungsskivling</string>
		<key>Word</key>
		<string>honungsskivling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopslagning</string>
		<key>Word</key>
		<string>hopslagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoptagning</string>
		<key>Word</key>
		<string>hoptagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hostig</string>
		<key>Word</key>
		<string>hostig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hostning</string>
		<key>Word</key>
		<string>hostning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoting</string>
		<key>Word</key>
		<string>Hoting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hudfarg</string>
		<key>Word</key>
		<string>hudfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hugg</string>
		<key>Word</key>
		<string>hugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hulling</string>
		<key>Word</key>
		<string>hulling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humbug</string>
		<key>Word</key>
		<string>humbug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundkorg</string>
		<key>Word</key>
		<string>hundkorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundrafaldig</string>
		<key>Word</key>
		<string>hundrafaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundraprocentig</string>
		<key>Word</key>
		<string>hundraprocentig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundraarig</string>
		<key>Word</key>
		<string>hundraårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundraaring</string>
		<key>Word</key>
		<string>hundraåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundring</string>
		<key>Word</key>
		<string>hundring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hungrig</string>
		<key>Word</key>
		<string>hungrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hurtig</string>
		<key>Word</key>
		<string>hurtig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hushallning</string>
		<key>Word</key>
		<string>hushållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huslig</string>
		<key>Word</key>
		<string>huslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husvagg</string>
		<key>Word</key>
		<string>husvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudansvarig</string>
		<key>Word</key>
		<string>huvudansvarig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudhandling</string>
		<key>Word</key>
		<string>huvudhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudingang</string>
		<key>Word</key>
		<string>huvudingång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudledning</string>
		<key>Word</key>
		<string>huvudledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudsaklig</string>
		<key>Word</key>
		<string>huvudsaklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudsysselsattning</string>
		<key>Word</key>
		<string>huvudsysselsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hydrolog</string>
		<key>Word</key>
		<string>hydrolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hygglig</string>
		<key>Word</key>
		<string>hygglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyllning</string>
		<key>Word</key>
		<string>hyllning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyresreglering</string>
		<key>Word</key>
		<string>hyresreglering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haftig</string>
		<key>Word</key>
		<string>häftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagg</string>
		<key>Word</key>
		<string>hägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagring</string>
		<key>Word</key>
		<string>hägring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haktning</string>
		<key>Word</key>
		<string>häktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haktningsforhandling</string>
		<key>Word</key>
		<string>häktningsförhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halleberg</string>
		<key>Word</key>
		<string>hälleberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallristning</string>
		<key>Word</key>
		<string>hällristning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsing</string>
		<key>Word</key>
		<string>hälsing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsning</string>
		<key>Word</key>
		<string>hälsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsofarlig</string>
		<key>Word</key>
		<string>hälsofarlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsovadlig</string>
		<key>Word</key>
		<string>hälsovådlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamning</string>
		<key>Word</key>
		<string>hämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamtning</string>
		<key>Word</key>
		<string>hämtning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelselogg</string>
		<key>Word</key>
		<string>händelselogg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelseutveckling</string>
		<key>Word</key>
		<string>händelseutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handig</string>
		<key>Word</key>
		<string>händig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hang</string>
		<key>Word</key>
		<string>häng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hangig</string>
		<key>Word</key>
		<string>hängig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hangning</string>
		<key>Word</key>
		<string>hängning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanryckning</string>
		<key>Word</key>
		<string>hänryckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hansyftning</string>
		<key>Word</key>
		<string>hänsyftning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanvisning</string>
		<key>Word</key>
		<string>hänvisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haradshovding</string>
		<key>Word</key>
		<string>häradshövding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hardig</string>
		<key>Word</key>
		<string>härdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harjedaling</string>
		<key>Word</key>
		<string>härjedaling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harjning</string>
		<key>Word</key>
		<string>härjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harlig</string>
		<key>Word</key>
		<string>härlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmning</string>
		<key>Word</key>
		<string>härmning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harnadstag</string>
		<key>Word</key>
		<string>härnadståg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haromkring</string>
		<key>Word</key>
		<string>häromkring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harstamning</string>
		<key>Word</key>
		<string>härstamning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harvidlag</string>
		<key>Word</key>
		<string>härvidlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hasthoppning</string>
		<key>Word</key>
		<string>hästhoppning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havning</string>
		<key>Word</key>
		<string>hävning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havstang</string>
		<key>Word</key>
		<string>hävstång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hag</string>
		<key>Word</key>
		<string>håg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halig</string>
		<key>Word</key>
		<string>hålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallning</string>
		<key>Word</key>
		<string>hållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halslag</string>
		<key>Word</key>
		<string>hålslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanlog</string>
		<key>Word</key>
		<string>hånlog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hardvarumassig</string>
		<key>Word</key>
		<string>hårdvarumässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harig</string>
		<key>Word</key>
		<string>hårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hog</string>
		<key>Word</key>
		<string>hög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogaktning</string>
		<key>Word</key>
		<string>högaktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogg</string>
		<key>Word</key>
		<string>högg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoggradig</string>
		<key>Word</key>
		<string>höggradig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoghelig</string>
		<key>Word</key>
		<string>höghelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogklassig</string>
		<key>Word</key>
		<string>högklassig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogkyrklig</string>
		<key>Word</key>
		<string>högkyrklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoglasning</string>
		<key>Word</key>
		<string>högläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogmodig</string>
		<key>Word</key>
		<string>högmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogskoleforordning</string>
		<key>Word</key>
		<string>högskoleförordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogskolelag</string>
		<key>Word</key>
		<string>högskolelag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogskoleutbildning</string>
		<key>Word</key>
		<string>högskoleutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogtbetanklig</string>
		<key>Word</key>
		<string>högtbetänklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogtidlig</string>
		<key>Word</key>
		<string>högtidlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogviktig</string>
		<key>Word</key>
		<string>högviktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogvardig</string>
		<key>Word</key>
		<string>högvärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hojning</string>
		<key>Word</key>
		<string>höjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horselrubbning</string>
		<key>Word</key>
		<string>hörselrubbning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hostdag</string>
		<key>Word</key>
		<string>höstdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hostdagjamning</string>
		<key>Word</key>
		<string>höstdagjämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hostlig</string>
		<key>Word</key>
		<string>höstlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hovding</string>
		<key>Word</key>
		<string>hövding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hovlig</string>
		<key>Word</key>
		<string>hövlig</string>
	</dict>
</array>
</plist>
