<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hannah</string>
		<key>Word</key>
		<string>Hannah</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hasch</string>
		<key>Word</key>
		<string>hasch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haschisch</string>
		<key>Word</key>
		<string>haschisch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heinrich</string>
		<key>Word</key>
		<string>Heinrich</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemmamatch</string>
		<key>Word</key>
		<string>hemmamatch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyresmatch</string>
		<key>Word</key>
		<string>hyresmatch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hysch</string>
		<key>Word</key>
		<string>hysch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hangmustasch</string>
		<key>Word</key>
		<string>hängmustasch</string>
	</dict>
</array>
</plist>
