<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>habackuk</string>
		<key>Word</key>
		<string>Habackuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hack</string>
		<key>Word</key>
		<string>hack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagmark</string>
		<key>Word</key>
		<string>hagmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haik</string>
		<key>Word</key>
		<string>HAIK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hajk</string>
		<key>Word</key>
		<string>hajk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallick</string>
		<key>Word</key>
		<string>hallick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallstavik</string>
		<key>Word</key>
		<string>Hallstavik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallucinatorisk</string>
		<key>Word</key>
		<string>hallucinatorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halländsk</string>
		<key>Word</key>
		<string>halländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsduk</string>
		<key>Word</key>
		<string>halsduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvlek</string>
		<key>Word</key>
		<string>halvlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammock</string>
		<key>Word</key>
		<string>hammock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handbok</string>
		<key>Word</key>
		<string>handbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handduk</string>
		<key>Word</key>
		<string>handduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanok</string>
		<key>Word</key>
		<string>Hanok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hantverk</string>
		<key>Word</key>
		<string>hantverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmonisk</string>
		<key>Word</key>
		<string>harmonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harnesk</string>
		<key>Word</key>
		<string>harnesk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hastverk</string>
		<key>Word</key>
		<string>hastverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hatisk</string>
		<key>Word</key>
		<string>hatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hattfabrik</string>
		<key>Word</key>
		<string>hattfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hawaiiansk</string>
		<key>Word</key>
		<string>hawaiiansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hebreisk</string>
		<key>Word</key>
		<string>hebreisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hednafolk</string>
		<key>Word</key>
		<string>hednafolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hednisk</string>
		<key>Word</key>
		<string>hednisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hejduk</string>
		<key>Word</key>
		<string>hejduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hektisk</string>
		<key>Word</key>
		<string>hektisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helautomatisk</string>
		<key>Word</key>
		<string>helautomatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgdagsrock</string>
		<key>Word</key>
		<string>helgdagsrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helhetsintryck</string>
		<key>Word</key>
		<string>helhetsintryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heliumtank</string>
		<key>Word</key>
		<string>heliumtank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helsvensk</string>
		<key>Word</key>
		<string>helsvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helvetisk</string>
		<key>Word</key>
		<string>helvetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemelektronik</string>
		<key>Word</key>
		<string>hemelektronik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemmabruk</string>
		<key>Word</key>
		<string>hemmabruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemnätverk</string>
		<key>Word</key>
		<string>hemnätverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemsk</string>
		<key>Word</key>
		<string>hemsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemspråk</string>
		<key>Word</key>
		<string>hemspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemsök</string>
		<key>Word</key>
		<string>hemsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>henrik</string>
		<key>Word</key>
		<string>Henrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heraldik</string>
		<key>Word</key>
		<string>heraldik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heraldisk</string>
		<key>Word</key>
		<string>heraldisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hermetisk</string>
		<key>Word</key>
		<string>hermetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heroisk</string>
		<key>Word</key>
		<string>heroisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>herrgårdslik</string>
		<key>Word</key>
		<string>herrgårdslik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hesperisk</string>
		<key>Word</key>
		<string>hesperisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hetsk</string>
		<key>Word</key>
		<string>hetsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hierarkisk</string>
		<key>Word</key>
		<string>hierarkisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himmelsk</string>
		<key>Word</key>
		<string>himmelsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hink</string>
		<key>Word</key>
		<string>hink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hissmusik</string>
		<key>Word</key>
		<string>hissmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>historik</string>
		<key>Word</key>
		<string>historik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>historisk</string>
		<key>Word</key>
		<string>historisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjärtattack</string>
		<key>Word</key>
		<string>hjärtattack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holbæk</string>
		<key>Word</key>
		<string>Holbæk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holk</string>
		<key>Word</key>
		<string>holk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holländsk</string>
		<key>Word</key>
		<string>holländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holografisk</string>
		<key>Word</key>
		<string>holografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holsteinsk</string>
		<key>Word</key>
		<string>holsteinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopkok</string>
		<key>Word</key>
		<string>hopkok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huk</string>
		<key>Word</key>
		<string>huk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humanistisk</string>
		<key>Word</key>
		<string>humanistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humanitetsfilosofisk</string>
		<key>Word</key>
		<string>humanitetsfilosofisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humoristisk</string>
		<key>Word</key>
		<string>humoristisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husbondefolk</string>
		<key>Word</key>
		<string>husbondefolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husbondfolk</string>
		<key>Word</key>
		<string>husbondfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husbondsfolk</string>
		<key>Word</key>
		<string>husbondsfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husfolk</string>
		<key>Word</key>
		<string>husfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudrubrik</string>
		<key>Word</key>
		<string>huvudrubrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudsak</string>
		<key>Word</key>
		<string>huvudsak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudspråk</string>
		<key>Word</key>
		<string>huvudspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudvärk</string>
		<key>Word</key>
		<string>huvudvärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hydraulisk</string>
		<key>Word</key>
		<string>hydraulisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hydrologisk</string>
		<key>Word</key>
		<string>hydrologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hygienisk</string>
		<key>Word</key>
		<string>hygienisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyltebruk</string>
		<key>Word</key>
		<string>Hyltebruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyperlänk</string>
		<key>Word</key>
		<string>hyperlänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hypertextlänk</string>
		<key>Word</key>
		<string>hypertextlänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hypnotisk</string>
		<key>Word</key>
		<string>hypnotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hypokondrisk</string>
		<key>Word</key>
		<string>hypokondrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hypotetisk</string>
		<key>Word</key>
		<string>hypotetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hysterisk</string>
		<key>Word</key>
		<string>hysterisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>häck</string>
		<key>Word</key>
		<string>häck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hädisk</string>
		<key>Word</key>
		<string>hädisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hälsorisk</string>
		<key>Word</key>
		<string>hälsorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>händelserik</string>
		<key>Word</key>
		<string>händelserik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hätsk</string>
		<key>Word</key>
		<string>hätsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hårddisk</string>
		<key>Word</key>
		<string>hårddisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hårdrock</string>
		<key>Word</key>
		<string>hårdrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högerpolitisk</string>
		<key>Word</key>
		<string>högerpolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högertrafik</string>
		<key>Word</key>
		<string>högertrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högteknologisk</string>
		<key>Word</key>
		<string>högteknologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högtryck</string>
		<key>Word</key>
		<string>högtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hök</string>
		<key>Word</key>
		<string>hök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>höstack</string>
		<key>Word</key>
		<string>höstack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hösäck</string>
		<key>Word</key>
		<string>hösäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hövisk</string>
		<key>Word</key>
		<string>hövisk</string>
	</dict>
</array>
</plist>
