<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>habil</string>
		<key>Word</key>
		<string>habil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagel</string>
		<key>Word</key>
		<string>hagel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hal</string>
		<key>Word</key>
		<string>hal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hall</string>
		<key>Word</key>
		<string>hall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halmstadsmodell</string>
		<key>Word</key>
		<string>Halmstadsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvcirkel</string>
		<key>Word</key>
		<string>halvcirkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvfull</string>
		<key>Word</key>
		<string>halvfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvsekel</string>
		<key>Word</key>
		<string>halvsekel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammondorgel</string>
		<key>Word</key>
		<string>hammondorgel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handboll</string>
		<key>Word</key>
		<string>handboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handel</string>
		<key>Word</key>
		<string>handel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelsgödsel</string>
		<key>Word</key>
		<string>handelsgödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelsgödselmedel</string>
		<key>Word</key>
		<string>handelsgödselmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handfull</string>
		<key>Word</key>
		<string>handfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handhåll</string>
		<key>Word</key>
		<string>handhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handhöll</string>
		<key>Word</key>
		<string>handhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handstil</string>
		<key>Word</key>
		<string>handstil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanegäll</string>
		<key>Word</key>
		<string>hanegäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanell</string>
		<key>Word</key>
		<string>Hanell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hannibal</string>
		<key>Word</key>
		<string>Hannibal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hantel</string>
		<key>Word</key>
		<string>hantel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmfull</string>
		<key>Word</key>
		<string>harmfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hasael</string>
		<key>Word</key>
		<string>Hasael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hashtabell</string>
		<key>Word</key>
		<string>hashtabell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hassel</string>
		<key>Word</key>
		<string>hassel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havamal</string>
		<key>Word</key>
		<string>Havamal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hednatempel</string>
		<key>Word</key>
		<string>hednatempel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heimdal</string>
		<key>Word</key>
		<string>Heimdal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hel</string>
		<key>Word</key>
		<string>Hel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hel</string>
		<key>Word</key>
		<string>hel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helenedal</string>
		<key>Word</key>
		<string>Helenedal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgedomssikel</string>
		<key>Word</key>
		<string>helgedomssikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helkväll</string>
		<key>Word</key>
		<string>helkväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hell</string>
		<key>Word</key>
		<string>hell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heltal</string>
		<key>Word</key>
		<string>heltal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helvetesvrål</string>
		<key>Word</key>
		<string>helvetesvrål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemfall</string>
		<key>Word</key>
		<string>hemfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemföll</string>
		<key>Word</key>
		<string>hemföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemlighetsfull</string>
		<key>Word</key>
		<string>hemlighetsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemlighåll</string>
		<key>Word</key>
		<string>hemlighåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemlighöll</string>
		<key>Word</key>
		<string>hemlighöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemmakväll</string>
		<key>Word</key>
		<string>hemmakväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemskötsel</string>
		<key>Word</key>
		<string>hemskötsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemställ</string>
		<key>Word</key>
		<string>hemställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemul</string>
		<key>Word</key>
		<string>hemul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hesekiel</string>
		<key>Word</key>
		<string>Hesekiel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heterofil</string>
		<key>Word</key>
		<string>heterofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heterosexuell</string>
		<key>Word</key>
		<string>heterosexuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hexadecimal</string>
		<key>Word</key>
		<string>hexadecimal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hill</string>
		<key>Word</key>
		<string>Hill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himmel</string>
		<key>Word</key>
		<string>himmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hitsingel</string>
		<key>Word</key>
		<string>hitsingel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjul</string>
		<key>Word</key>
		<string>hjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjälpmedel</string>
		<key>Word</key>
		<string>hjälpmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjärtmuskel</string>
		<key>Word</key>
		<string>hjärtmuskel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hockeyorgel</string>
		<key>Word</key>
		<string>hockeyorgel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holkfjäll</string>
		<key>Word</key>
		<string>holkfjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>homofil</string>
		<key>Word</key>
		<string>homofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>homosexuell</string>
		<key>Word</key>
		<string>homosexuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoppfull</string>
		<key>Word</key>
		<string>hoppfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horisontal</string>
		<key>Word</key>
		<string>horisontal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horisontell</string>
		<key>Word</key>
		<string>horisontell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hormonell</string>
		<key>Word</key>
		<string>hormonell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hornstull</string>
		<key>Word</key>
		<string>Hornstull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horribel</string>
		<key>Word</key>
		<string>horribel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hospital</string>
		<key>Word</key>
		<string>hospital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hotell</string>
		<key>Word</key>
		<string>hotell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hotfull</string>
		<key>Word</key>
		<string>hotfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hotmail</string>
		<key>Word</key>
		<string>Hotmail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>html</string>
		<key>Word</key>
		<string>HTML</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hudiksvall</string>
		<key>Word</key>
		<string>Hudiksvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hull</string>
		<key>Word</key>
		<string>hull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundhall</string>
		<key>Word</key>
		<string>hundhall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundrakronorssedel</string>
		<key>Word</key>
		<string>hundrakronorssedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundratal</string>
		<key>Word</key>
		<string>hundratal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundratusental</string>
		<key>Word</key>
		<string>hundratusental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husbyfjöl</string>
		<key>Word</key>
		<string>Husbyfjöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hushåll</string>
		<key>Word</key>
		<string>hushåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hushållsavfall</string>
		<key>Word</key>
		<string>hushållsavfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husvill</string>
		<key>Word</key>
		<string>husvill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudaxel</string>
		<key>Word</key>
		<string>huvudaxel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvuddel</string>
		<key>Word</key>
		<string>huvuddel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudkapital</string>
		<key>Word</key>
		<string>huvudkapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudmaterial</string>
		<key>Word</key>
		<string>huvudmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudmöbel</string>
		<key>Word</key>
		<string>huvudmöbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudnyckel</string>
		<key>Word</key>
		<string>huvudnyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudroll</string>
		<key>Word</key>
		<string>huvudroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudsvål</string>
		<key>Word</key>
		<string>huvudsvål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyckel</string>
		<key>Word</key>
		<string>hyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyllefjäll</string>
		<key>Word</key>
		<string>hyllefjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyvel</string>
		<key>Word</key>
		<string>hyvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>häftpistol</string>
		<key>Word</key>
		<string>häftpistol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>häl</string>
		<key>Word</key>
		<string>häl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>häll</string>
		<key>Word</key>
		<string>häll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>händel</string>
		<key>Word</key>
		<string>Händel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>härtill</string>
		<key>Word</key>
		<string>härtill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hästgödsel</string>
		<key>Word</key>
		<string>hästgödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hål</string>
		<key>Word</key>
		<string>hål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>håll</string>
		<key>Word</key>
		<string>håll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hånfull</string>
		<key>Word</key>
		<string>hånfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hångel</string>
		<key>Word</key>
		<string>hångel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hårdvarufel</string>
		<key>Word</key>
		<string>hårdvarufel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hårpensel</string>
		<key>Word</key>
		<string>hårpensel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>höbal</string>
		<key>Word</key>
		<string>höbal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högaffel</string>
		<key>Word</key>
		<string>högaffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högaktningsfull</string>
		<key>Word</key>
		<string>högaktningsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högtalarkabel</string>
		<key>Word</key>
		<string>högtalarkabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>höll</string>
		<key>Word</key>
		<string>höll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hörfel</string>
		<key>Word</key>
		<string>hörfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hörhåll</string>
		<key>Word</key>
		<string>hörhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hörsal</string>
		<key>Word</key>
		<string>hörsal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hörsel</string>
		<key>Word</key>
		<string>hörsel</string>
	</dict>
</array>
</plist>
