<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagström</string>
		<key>Word</key>
		<string>Hagström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallingström</string>
		<key>Word</key>
		<string>Hallingström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hallström</string>
		<key>Word</key>
		<string>Hallström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halm</string>
		<key>Word</key>
		<string>halm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halssjukdom</string>
		<key>Word</key>
		<string>halssjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvfem</string>
		<key>Word</key>
		<string>halvfem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ham</string>
		<key>Word</key>
		<string>Ham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlingsprogram</string>
		<key>Word</key>
		<string>handlingsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harem</string>
		<key>Word</key>
		<string>harem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harm</string>
		<key>Word</key>
		<string>harm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedendom</string>
		<key>Word</key>
		<string>hedendom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedersam</string>
		<key>Word</key>
		<string>hedersam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedersrum</string>
		<key>Word</key>
		<string>hedersrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedonism</string>
		<key>Word</key>
		<string>hedonism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heidenstam</string>
		<key>Word</key>
		<string>Heidenstam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgedom</string>
		<key>Word</key>
		<string>helgedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helium</string>
		<key>Word</key>
		<string>helium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hellström</string>
		<key>Word</key>
		<string>Hellström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hem</string>
		<key>Word</key>
		<string>hem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembygdsmuseum</string>
		<key>Word</key>
		<string>hembygdsmuseum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>herbarium</string>
		<key>Word</key>
		<string>herbarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heroism</string>
		<key>Word</key>
		<string>heroism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>herrnhutism</string>
		<key>Word</key>
		<string>herrnhutism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hinduism</string>
		<key>Word</key>
		<string>hinduism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hinnom</string>
		<key>Word</key>
		<string>Hinnom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hippodrom</string>
		<key>Word</key>
		<string>hippodrom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hiram</string>
		<key>Word</key>
		<string>Hiram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>histogram</string>
		<key>Word</key>
		<string>histogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjälm</string>
		<key>Word</key>
		<string>hjälm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjälpsam</string>
		<key>Word</key>
		<string>hjälpsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hm</string>
		<key>Word</key>
		<string>hm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hobsbawm</string>
		<key>Word</key>
		<string>Hobsbawm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hockeyhjälm</string>
		<key>Word</key>
		<string>hockeyhjälm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holm</string>
		<key>Word</key>
		<string>Holm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holmström</string>
		<key>Word</key>
		<string>Holmström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hologram</string>
		<key>Word</key>
		<string>hologram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>honom</string>
		<key>Word</key>
		<string>honom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hotellrum</string>
		<key>Word</key>
		<string>hotellrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hovsam</string>
		<key>Word</key>
		<string>hovsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hudmelanom</string>
		<key>Word</key>
		<string>hudmelanom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huggorm</string>
		<key>Word</key>
		<string>huggorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hum</string>
		<key>Word</key>
		<string>hum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humanism</string>
		<key>Word</key>
		<string>humanism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hurusom</string>
		<key>Word</key>
		<string>hurusom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husrum</string>
		<key>Word</key>
		<string>husrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husum</string>
		<key>Word</key>
		<string>Husum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyltenstam</string>
		<key>Word</key>
		<string>Hyltenstam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hälsosam</string>
		<key>Word</key>
		<string>hälsosam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>härigenom</string>
		<key>Word</key>
		<string>härigenom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>härom</string>
		<key>Word</key>
		<string>härom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hässleholm</string>
		<key>Word</key>
		<string>Hässleholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hävarm</string>
		<key>Word</key>
		<string>hävarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högström</string>
		<key>Word</key>
		<string>Högström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hörsam</string>
		<key>Word</key>
		<string>hörsam</string>
	</dict>
</array>
</plist>
