<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haklapp</string>
		<key>Word</key>
		<string>haklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halebop</string>
		<key>Word</key>
		<string>Halebop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handgrepp</string>
		<key>Word</key>
		<string>handgrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handikapp</string>
		<key>Word</key>
		<string>handikapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handklapp</string>
		<key>Word</key>
		<string>handklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hasp</string>
		<key>Word</key>
		<string>hasp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>herrskap</string>
		<key>Word</key>
		<string>herrskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himlakropp</string>
		<key>Word</key>
		<string>himlakropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hiphop</string>
		<key>Word</key>
		<string>hiphop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hipp</string>
		<key>Word</key>
		<string>hipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjalp</string>
		<key>Word</key>
		<string>hjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hobbygrupp</string>
		<key>Word</key>
		<string>hobbygrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holstein-gottorp</string>
		<key>Word</key>
		<string>Holstein-Gottorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hop</string>
		<key>Word</key>
		<string>hop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopp</string>
		<key>Word</key>
		<string>hopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horoskop</string>
		<key>Word</key>
		<string>horoskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hp</string>
		<key>Word</key>
		<string>HP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>http</string>
		<key>Word</key>
		<string>HTTP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundralapp</string>
		<key>Word</key>
		<string>hundralapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husgrupp</string>
		<key>Word</key>
		<string>husgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hushallningssallskap</string>
		<key>Word</key>
		<string>hushållningssällskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hustyp</string>
		<key>Word</key>
		<string>hustyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudprincip</string>
		<key>Word</key>
		<string>huvudprincip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelseforlopp</string>
		<key>Word</key>
		<string>händelseförlopp</string>
	</dict>
</array>
</plist>
