<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iallafall</string>
		<key>Word</key>
		<string>iallafall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>icke-spridningsavtal</string>
		<key>Word</key>
		<string>icke-spridningsavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ickebakteriell</string>
		<key>Word</key>
		<string>ickebakteriell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ickekausal</string>
		<key>Word</key>
		<string>ickekausal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ickekommersiell</string>
		<key>Word</key>
		<string>ickekommersiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ideal</string>
		<key>Word</key>
		<string>ideal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ideell</string>
		<key>Word</key>
		<string>ideell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idel</string>
		<key>Word</key>
		<string>idel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idol</string>
		<key>Word</key>
		<string>idol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idyll</string>
		<key>Word</key>
		<string>idyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifall</string>
		<key>Word</key>
		<string>ifall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifjol</string>
		<key>Word</key>
		<string>ifjol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifyll</string>
		<key>Word</key>
		<string>ifyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igel</string>
		<key>Word</key>
		<string>igel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihjäl</string>
		<key>Word</key>
		<string>ihjäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ikväll</string>
		<key>Word</key>
		<string>ikväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>il</string>
		<key>Word</key>
		<string>il</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illegal</string>
		<key>Word</key>
		<string>illegal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illojal</string>
		<key>Word</key>
		<string>illojal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illustrationsmaterial</string>
		<key>Word</key>
		<string>illustrationsmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imbecill</string>
		<key>Word</key>
		<string>imbecill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>immanuel</string>
		<key>Word</key>
		<string>Immanuel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>immateriell</string>
		<key>Word</key>
		<string>immateriell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>implikationspil</string>
		<key>Word</key>
		<string>implikationspil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inaktuell</string>
		<key>Word</key>
		<string>inaktuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inavel</string>
		<key>Word</key>
		<string>inavel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indisponibel</string>
		<key>Word</key>
		<string>indisponibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>individual</string>
		<key>Word</key>
		<string>individual</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>individuell</string>
		<key>Word</key>
		<string>individuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industriell</string>
		<key>Word</key>
		<string>industriell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infall</string>
		<key>Word</key>
		<string>infall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infallsvinkel</string>
		<key>Word</key>
		<string>infallsvinkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infantil</string>
		<key>Word</key>
		<string>infantil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infil</string>
		<key>Word</key>
		<string>infil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflexibel</string>
		<key>Word</key>
		<string>inflexibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationsfil</string>
		<key>Word</key>
		<string>informationsfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informell</string>
		<key>Word</key>
		<string>informell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inföll</string>
		<key>Word</key>
		<string>inföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>införsel</string>
		<key>Word</key>
		<string>införsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingalill</string>
		<key>Word</key>
		<string>Ingalill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingel</string>
		<key>Word</key>
		<string>Ingel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ini-fil</string>
		<key>Word</key>
		<string>INI-fil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>initial</string>
		<key>Word</key>
		<string>initial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkapabel</string>
		<key>Word</key>
		<string>inkapabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkl</string>
		<key>Word</key>
		<string>inkl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkompatibel</string>
		<key>Word</key>
		<string>inkompatibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkomstkanal</string>
		<key>Word</key>
		<string>inkomstkanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkrementell</string>
		<key>Word</key>
		<string>inkrementell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlevelsefull</string>
		<key>Word</key>
		<string>inlevelsefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innantill</string>
		<key>Word</key>
		<string>innantill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehåll</string>
		<key>Word</key>
		<string>innehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehöll</string>
		<key>Word</key>
		<string>innehöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inofficiell</string>
		<key>Word</key>
		<string>inofficiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insegel</string>
		<key>Word</key>
		<string>insegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insensibel</string>
		<key>Word</key>
		<string>insensibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insignal</string>
		<key>Word</key>
		<string>insignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insiktsfull</string>
		<key>Word</key>
		<string>insiktsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instabil</string>
		<key>Word</key>
		<string>instabil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>installationsfil</string>
		<key>Word</key>
		<string>installationsfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>institutionell</string>
		<key>Word</key>
		<string>institutionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instrumental</string>
		<key>Word</key>
		<string>instrumental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instrumentell</string>
		<key>Word</key>
		<string>instrumentell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instrumentpanel</string>
		<key>Word</key>
		<string>instrumentpanel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inställ</string>
		<key>Word</key>
		<string>inställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integral</string>
		<key>Word</key>
		<string>integral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intel</string>
		<key>Word</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intellektuell</string>
		<key>Word</key>
		<string>intellektuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internationell</string>
		<key>Word</key>
		<string>internationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetportal</string>
		<key>Word</key>
		<string>Internetportal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interpol</string>
		<key>Word</key>
		<string>Interpol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intervall</string>
		<key>Word</key>
		<string>intervall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intill</string>
		<key>Word</key>
		<string>intill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invånarantal</string>
		<key>Word</key>
		<string>invånarantal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iordningställ</string>
		<key>Word</key>
		<string>iordningställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irc-kanal</string>
		<key>Word</key>
		<string>IRC-kanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irrationell</string>
		<key>Word</key>
		<string>irrationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irreparabel</string>
		<key>Word</key>
		<string>irreparabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isabel</string>
		<key>Word</key>
		<string>Isabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isebel</string>
		<key>Word</key>
		<string>Isebel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ishal</string>
		<key>Word</key>
		<string>ishal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ishall</string>
		<key>Word</key>
		<string>ishall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iskall</string>
		<key>Word</key>
		<string>iskall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iskristall</string>
		<key>Word</key>
		<string>iskristall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ismael</string>
		<key>Word</key>
		<string>Ismael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ispell</string>
		<key>Word</key>
		<string>ispell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>israel</string>
		<key>Word</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>israel</string>
		<key>Word</key>
		<string>israel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>istanbul</string>
		<key>Word</key>
		<string>Istanbul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isåfall</string>
		<key>Word</key>
		<string>isåfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-artikel</string>
		<key>Word</key>
		<string>IT-artikel</string>
	</dict>
</array>
</plist>
