<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illustrativ</string>
		<key>Word</key>
		<string>illustrativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imperativ</string>
		<key>Word</key>
		<string>imperativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>improduktiv</string>
		<key>Word</key>
		<string>improduktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>impulsiv</string>
		<key>Word</key>
		<string>impulsiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inaktiv</string>
		<key>Word</key>
		<string>inaktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indikativ</string>
		<key>Word</key>
		<string>indikativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ineffektiv</string>
		<key>Word</key>
		<string>ineffektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infinitiv</string>
		<key>Word</key>
		<string>infinitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informativ</string>
		<key>Word</key>
		<string>informativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingav</string>
		<key>Word</key>
		<string>ingav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingiv</string>
		<key>Word</key>
		<string>ingiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>initiativ</string>
		<key>Word</key>
		<string>initiativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innanhav</string>
		<key>Word</key>
		<string>innanhav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehav</string>
		<key>Word</key>
		<string>innehav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskrev</string>
		<key>Word</key>
		<string>inskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskriv</string>
		<key>Word</key>
		<string>inskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instinktiv</string>
		<key>Word</key>
		<string>instinktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instruktiv</string>
		<key>Word</key>
		<string>instruktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insov</string>
		<key>Word</key>
		<string>insöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intensiv</string>
		<key>Word</key>
		<string>intensiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interaktiv</string>
		<key>Word</key>
		<string>interaktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetalternativ</string>
		<key>Word</key>
		<string>Internetalternativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intransitiv</string>
		<key>Word</key>
		<string>intransitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intuitiv</string>
		<key>Word</key>
		<string>intuitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invektiv</string>
		<key>Word</key>
		<string>invektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invav</string>
		<key>Word</key>
		<string>inväv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ishav</string>
		<key>Word</key>
		<string>ishav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iterativ</string>
		<key>Word</key>
		<string>iterativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iv</string>
		<key>Word</key>
		<string>iv</string>
	</dict>
</array>
</plist>
