<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jackie</string>
		<key>Word</key>
		<string>Jackie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacksonville</string>
		<key>Word</key>
		<string>Jacksonville</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagade</string>
		<key>Word</key>
		<string>jagade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagande</string>
		<key>Word</key>
		<string>jagande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagare</string>
		<key>Word</key>
		<string>jagare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakade</string>
		<key>Word</key>
		<string>jakade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakande</string>
		<key>Word</key>
		<string>jakande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamade</string>
		<key>Word</key>
		<string>jamade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamande</string>
		<key>Word</key>
		<string>jamande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamboree</string>
		<key>Word</key>
		<string>jamboree</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jane</string>
		<key>Word</key>
		<string>Jane</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>janne</string>
		<key>Word</key>
		<string>Janne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japaniserade</string>
		<key>Word</key>
		<string>japaniserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanske</string>
		<key>Word</key>
		<string>japanske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasmine</string>
		<key>Word</key>
		<string>Jasmine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jean-baptiste</string>
		<key>Word</key>
		<string>Jean-Baptiste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeanette</string>
		<key>Word</key>
		<string>Jeanette</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jefunne</string>
		<key>Word</key>
		<string>Jefunne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jessie</string>
		<key>Word</key>
		<string>Jessie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesustroende</string>
		<key>Word</key>
		<string>Jesustroende</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbade</string>
		<key>Word</key>
		<string>jobbade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbare</string>
		<key>Word</key>
		<string>jobbare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbigare</string>
		<key>Word</key>
		<string>jobbigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbigaste</string>
		<key>Word</key>
		<string>jobbigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jocke</string>
		<key>Word</key>
		<string>Jocke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joe</string>
		<key>Word</key>
		<string>Joe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggade</string>
		<key>Word</key>
		<string>joggade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggande</string>
		<key>Word</key>
		<string>joggande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggare</string>
		<key>Word</key>
		<string>joggare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johanne</string>
		<key>Word</key>
		<string>Johanne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojkade</string>
		<key>Word</key>
		<string>jojkade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojkare</string>
		<key>Word</key>
		<string>jojkare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jolle</string>
		<key>Word</key>
		<string>jolle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollrade</string>
		<key>Word</key>
		<string>jollrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollrande</string>
		<key>Word</key>
		<string>jollrande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joniserade</string>
		<key>Word</key>
		<string>joniserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joniserande</string>
		<key>Word</key>
		<string>joniserande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordade</string>
		<key>Word</key>
		<string>jordade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordanske</string>
		<key>Word</key>
		<string>jordanske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukare</string>
		<key>Word</key>
		<string>jordbrukare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksarbetare</string>
		<key>Word</key>
		<string>jordbruksarbetare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksarbete</string>
		<key>Word</key>
		<string>jordbruksarbete</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukssamhälle</string>
		<key>Word</key>
		<string>jordbrukssamhälle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfärgade</string>
		<key>Word</key>
		<string>jordfärgade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfäste</string>
		<key>Word</key>
		<string>jordfäste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubbe</string>
		<key>Word</key>
		<string>jordgubbe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordiske</string>
		<key>Word</key>
		<string>jordiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkällare</string>
		<key>Word</key>
		<string>jordkällare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordrike</string>
		<key>Word</key>
		<string>jordrike</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jose</string>
		<key>Word</key>
		<string>Jose</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josefine</string>
		<key>Word</key>
		<string>Josefine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josé</string>
		<key>Word</key>
		<string>José</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joule</string>
		<key>Word</key>
		<string>Joule</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jourhavande</string>
		<key>Word</key>
		<string>jourhavande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalistiske</string>
		<key>Word</key>
		<string>journalistiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jovialiske</string>
		<key>Word</key>
		<string>jovialiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joyce</string>
		<key>Word</key>
		<string>Joyce</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublade</string>
		<key>Word</key>
		<string>jublade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublande</string>
		<key>Word</key>
		<string>jublande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jude</string>
		<key>Word</key>
		<string>jude</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judiske</string>
		<key>Word</key>
		<string>judiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslaviske</string>
		<key>Word</key>
		<string>jugoslaviske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juice</string>
		<key>Word</key>
		<string>juice</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juliette</string>
		<key>Word</key>
		<string>Juliette</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julle</string>
		<key>Word</key>
		<string>julle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullrade</string>
		<key>Word</key>
		<string>jullrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultomte</string>
		<key>Word</key>
		<string>jultomte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juridiske</string>
		<key>Word</key>
		<string>juridiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerade</string>
		<key>Word</key>
		<string>justerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitie</string>
		<key>Word</key>
		<string>justitie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelerare</string>
		<key>Word</key>
		<string>juvelerare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jägare</string>
		<key>Word</key>
		<string>jägare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jägmästare</string>
		<key>Word</key>
		<string>jägmästare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäkligare</string>
		<key>Word</key>
		<string>jäkligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäkligaste</string>
		<key>Word</key>
		<string>jäkligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktade</string>
		<key>Word</key>
		<string>jäktade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktigare</string>
		<key>Word</key>
		<string>jäktigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktigaste</string>
		<key>Word</key>
		<string>jäktigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämbördige</string>
		<key>Word</key>
		<string>jämbördige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförande</string>
		<key>Word</key>
		<string>jämförande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförde</string>
		<key>Word</key>
		<string>jämförde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförelse</string>
		<key>Word</key>
		<string>jämförelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämkade</string>
		<key>Word</key>
		<string>jämkade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämkande</string>
		<key>Word</key>
		<string>jämkande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlikare</string>
		<key>Word</key>
		<string>jämlikare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlikaste</string>
		<key>Word</key>
		<string>jämlikaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlike</string>
		<key>Word</key>
		<string>jämlike</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnade</string>
		<key>Word</key>
		<string>jämnade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnare</string>
		<key>Word</key>
		<string>jämnare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnaste</string>
		<key>Word</key>
		<string>jämnaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämrade</string>
		<key>Word</key>
		<string>jämrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämrande</string>
		<key>Word</key>
		<string>jämrande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställande</string>
		<key>Word</key>
		<string>jämställande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställde</string>
		<key>Word</key>
		<string>jämställde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställdhetsarbete</string>
		<key>Word</key>
		<string>jämställdhetsarbete</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämte</string>
		<key>Word</key>
		<string>jämte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnvägskupé</string>
		<key>Word</key>
		<string>järnvägskupé</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäsande</string>
		<key>Word</key>
		<string>jäsande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäste</string>
		<key>Word</key>
		<string>jäste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätte</string>
		<key>Word</key>
		<string>jätte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättespännande</string>
		<key>Word</key>
		<string>jättespännande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävade</string>
		<key>Word</key>
		<string>jävade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävige</string>
		<key>Word</key>
		<string>jävige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävligare</string>
		<key>Word</key>
		<string>jävligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävligaste</string>
		<key>Word</key>
		<string>jävligaste</string>
	</dict>
</array>
</plist>
