<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jackan</string>
		<key>Word</key>
		<string>jackan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacken</string>
		<key>Word</key>
		<string>jacken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jackson</string>
		<key>Word</key>
		<string>Jackson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacksson</string>
		<key>Word</key>
		<string>Jacksson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacobson</string>
		<key>Word</key>
		<string>Jacobson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacobsson</string>
		<key>Word</key>
		<string>Jacobsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagaren</string>
		<key>Word</key>
		<string>jagaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaguaren</string>
		<key>Word</key>
		<string>jaguaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaken</string>
		<key>Word</key>
		<string>jaken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakobson</string>
		<key>Word</key>
		<string>Jakobson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakobsson</string>
		<key>Word</key>
		<string>Jakobsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakten</string>
		<key>Word</key>
		<string>jakten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktgevaren</string>
		<key>Word</key>
		<string>jaktgevären</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktplan</string>
		<key>Word</key>
		<string>jaktplan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktplanen</string>
		<key>Word</key>
		<string>jaktplanen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktstyrkan</string>
		<key>Word</key>
		<string>jaktstyrkan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakutien</string>
		<key>Word</key>
		<string>Jakutien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamboreen</string>
		<key>Word</key>
		<string>jamboreen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamen</string>
		<key>Word</key>
		<string>jamen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamestown</string>
		<key>Word</key>
		<string>Jamestown</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jan</string>
		<key>Word</key>
		<string>Jan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jan</string>
		<key>Word</key>
		<string>jan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>janson</string>
		<key>Word</key>
		<string>Janson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jansson</string>
		<key>Word</key>
		<string>Jansson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>janzon</string>
		<key>Word</key>
		<string>Janzon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japan</string>
		<key>Word</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japan</string>
		<key>Word</key>
		<string>japan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanen</string>
		<key>Word</key>
		<string>japanen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japaniseringen</string>
		<key>Word</key>
		<string>japaniseringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanskan</string>
		<key>Word</key>
		<string>japanskan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jargongen</string>
		<key>Word</key>
		<string>jargongen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarlen</string>
		<key>Word</key>
		<string>jarlen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarlsgatan</string>
		<key>Word</key>
		<string>Jarlsgatan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasmin</string>
		<key>Word</key>
		<string>jasmin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasminen</string>
		<key>Word</key>
		<string>jasminen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jason</string>
		<key>Word</key>
		<string>Jason</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaspisen</string>
		<key>Word</key>
		<string>jaspisen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javan</string>
		<key>Word</key>
		<string>javan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javaprogrammen</string>
		<key>Word</key>
		<string>Javaprogrammen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jazzen</string>
		<key>Word</key>
		<string>jazzen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jean</string>
		<key>Word</key>
		<string>Jean</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeansen</string>
		<key>Word</key>
		<string>jeansen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeepen</string>
		<key>Word</key>
		<string>jeepen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jefferson</string>
		<key>Word</key>
		<string>Jefferson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeltsin</string>
		<key>Word</key>
		<string>Jeltsin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jenin</string>
		<key>Word</key>
		<string>Jenin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jensen</string>
		<key>Word</key>
		<string>Jensen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jerevan</string>
		<key>Word</key>
		<string>Jerevan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesuiten</string>
		<key>Word</key>
		<string>jesuiten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesusorden</string>
		<key>Word</key>
		<string>Jesusorden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeten</string>
		<key>Word</key>
		<string>jeten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetmotorn</string>
		<key>Word</key>
		<string>jetmotorn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetplan</string>
		<key>Word</key>
		<string>jetplan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetplanen</string>
		<key>Word</key>
		<string>jetplanen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jiddischen</string>
		<key>Word</key>
		<string>jiddischen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jinan</string>
		<key>Word</key>
		<string>Jinan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jippon</string>
		<key>Word</key>
		<string>jippon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbannonsen</string>
		<key>Word</key>
		<string>jobbannonsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbaren</string>
		<key>Word</key>
		<string>jobbaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobben</string>
		<key>Word</key>
		<string>jobben</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbstressen</string>
		<key>Word</key>
		<string>jobbstressen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jockeyn</string>
		<key>Word</key>
		<string>jockeyn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joden</string>
		<key>Word</key>
		<string>joden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggaren</string>
		<key>Word</key>
		<string>joggaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggningen</string>
		<key>Word</key>
		<string>joggningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johan</string>
		<key>Word</key>
		<string>Johan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johanan</string>
		<key>Word</key>
		<string>Johanan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johann</string>
		<key>Word</key>
		<string>Johann</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johanneson</string>
		<key>Word</key>
		<string>Johanneson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johannesson</string>
		<key>Word</key>
		<string>Johannesson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johannison</string>
		<key>Word</key>
		<string>Johannison</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johannisson</string>
		<key>Word</key>
		<string>Johannisson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johansen</string>
		<key>Word</key>
		<string>Johansen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johanson</string>
		<key>Word</key>
		<string>Johanson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johansson</string>
		<key>Word</key>
		<string>Johansson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>john</string>
		<key>Word</key>
		<string>John</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johnson</string>
		<key>Word</key>
		<string>Johnson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johnssen</string>
		<key>Word</key>
		<string>Johnssen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johnsson</string>
		<key>Word</key>
		<string>Johnsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johnstown</string>
		<key>Word</key>
		<string>Johnstown</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jointen</string>
		<key>Word</key>
		<string>jointen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojakin</string>
		<key>Word</key>
		<string>Jojakin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojkaren</string>
		<key>Word</key>
		<string>jojkaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojken</string>
		<key>Word</key>
		<string>jojken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojon</string>
		<key>Word</key>
		<string>jojon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokern</string>
		<key>Word</key>
		<string>jokern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokertecken</string>
		<key>Word</key>
		<string>jokertecken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokertecknen</string>
		<key>Word</key>
		<string>jokertecknen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollen</string>
		<key>Word</key>
		<string>jollen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jomen</string>
		<key>Word</key>
		<string>jomen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jon</string>
		<key>Word</key>
		<string>Jon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jon</string>
		<key>Word</key>
		<string>jon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonason</string>
		<key>Word</key>
		<string>Jonason</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonasson</string>
		<key>Word</key>
		<string>Jonasson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonatan</string>
		<key>Word</key>
		<string>Jonatan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonathan</string>
		<key>Word</key>
		<string>Jonathan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonen</string>
		<key>Word</key>
		<string>jonen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jongloren</string>
		<key>Word</key>
		<string>jonglören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonosfaren</string>
		<key>Word</key>
		<string>jonosfären</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonson</string>
		<key>Word</key>
		<string>Jonson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonsson</string>
		<key>Word</key>
		<string>Jonsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordabalken</string>
		<key>Word</key>
		<string>jordabalken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordagodsen</string>
		<key>Word</key>
		<string>jordagodsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordan</string>
		<key>Word</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordanien</string>
		<key>Word</key>
		<string>Jordanien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordarten</string>
		<key>Word</key>
		<string>jordarten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordaxeln</string>
		<key>Word</key>
		<string>jordaxeln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbanan</string>
		<key>Word</key>
		<string>jordbanan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukaren</string>
		<key>Word</key>
		<string>jordbrukaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukarungdomen</string>
		<key>Word</key>
		<string>jordbrukarungdomen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruken</string>
		<key>Word</key>
		<string>jordbruken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksarbetaren</string>
		<key>Word</key>
		<string>jordbruksarbetaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksbygden</string>
		<key>Word</key>
		<string>jordbruksbygden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksforetagen</string>
		<key>Word</key>
		<string>jordbruksföretagen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksmarken</string>
		<key>Word</key>
		<string>jordbruksmarken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksmaskin</string>
		<key>Word</key>
		<string>jordbruksmaskin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksmaskinen</string>
		<key>Word</key>
		<string>jordbruksmaskinen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksprodukten</string>
		<key>Word</key>
		<string>jordbruksprodukten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksproduktion</string>
		<key>Word</key>
		<string>jordbruksproduktion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksproduktionen</string>
		<key>Word</key>
		<string>jordbruksproduktionen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksredskapen</string>
		<key>Word</key>
		<string>jordbruksredskapen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksresan</string>
		<key>Word</key>
		<string>jordbruksresan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukssamhallen</string>
		<key>Word</key>
		<string>jordbrukssamhällen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbavningen</string>
		<key>Word</key>
		<string>jordbävningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorden</string>
		<key>Word</key>
		<string>jorden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordformedlingen</string>
		<key>Word</key>
		<string>jordförmedlingen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubben</string>
		<key>Word</key>
		<string>jordgubben</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubbslanden</string>
		<key>Word</key>
		<string>jordgubbslanden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkulan</string>
		<key>Word</key>
		<string>jordkulan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkallaren</string>
		<key>Word</key>
		<string>jordkällaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkallarn</string>
		<key>Word</key>
		<string>jordkällarn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordloppan</string>
		<key>Word</key>
		<string>jordloppan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordlotten</string>
		<key>Word</key>
		<string>jordlotten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordmanniskan</string>
		<key>Word</key>
		<string>jordmänniskan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordman</string>
		<key>Word</key>
		<string>jordmån</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordnoten</string>
		<key>Word</key>
		<string>jordnöten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordplatten</string>
		<key>Word</key>
		<string>jordplätten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordskorpan</string>
		<key>Word</key>
		<string>jordskorpan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordslingan</string>
		<key>Word</key>
		<string>jordslingan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordstammen</string>
		<key>Word</key>
		<string>jordstammen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordytan</string>
		<key>Word</key>
		<string>jordytan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jornadan</string>
		<key>Word</key>
		<string>Jornadan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorunn</string>
		<key>Word</key>
		<string>Jorunn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josefin</string>
		<key>Word</key>
		<string>Josefin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josefson</string>
		<key>Word</key>
		<string>Josefson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josefsson</string>
		<key>Word</key>
		<string>Josefsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josen</string>
		<key>Word</key>
		<string>josen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josephson</string>
		<key>Word</key>
		<string>Josephson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josephsson</string>
		<key>Word</key>
		<string>Josephsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jouren</string>
		<key>Word</key>
		<string>jouren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalen</string>
		<key>Word</key>
		<string>journalen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalismen</string>
		<key>Word</key>
		<string>journalismen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalisten</string>
		<key>Word</key>
		<string>journalisten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalistiken</string>
		<key>Word</key>
		<string>journalistiken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalskrivningen</string>
		<key>Word</key>
		<string>journalskrivningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juan</string>
		<key>Word</key>
		<string>Juan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelfesten</string>
		<key>Word</key>
		<string>jubelfesten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelaren</string>
		<key>Word</key>
		<string>jubelåren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubilaren</string>
		<key>Word</key>
		<string>jubilaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublen</string>
		<key>Word</key>
		<string>jublen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judeen</string>
		<key>Word</key>
		<string>Judeen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judekristen</string>
		<key>Word</key>
		<string>judekristen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juden</string>
		<key>Word</key>
		<string>juden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judendomen</string>
		<key>Word</key>
		<string>judendomen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judenheten</string>
		<key>Word</key>
		<string>judenheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judinnan</string>
		<key>Word</key>
		<string>judinnan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judon</string>
		<key>Word</key>
		<string>judon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslaven</string>
		<key>Word</key>
		<string>jugoslaven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslavien</string>
		<key>Word</key>
		<string>Jugoslavien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juicen</string>
		<key>Word</key>
		<string>juicen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jujutsun</string>
		<key>Word</key>
		<string>jujutsun</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jukeboxen</string>
		<key>Word</key>
		<string>jukeboxen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julafton</string>
		<key>Word</key>
		<string>julafton</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julaftonen</string>
		<key>Word</key>
		<string>julaftonen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julborden</string>
		<key>Word</key>
		<string>julborden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juldagen</string>
		<key>Word</key>
		<string>juldagen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julen</string>
		<key>Word</key>
		<string>julen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juletiden</string>
		<key>Word</key>
		<string>juletiden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julfesten</string>
		<key>Word</key>
		<string>julfesten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julgran</string>
		<key>Word</key>
		<string>julgran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julgranen</string>
		<key>Word</key>
		<string>julgranen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhelgen</string>
		<key>Word</key>
		<string>julhelgen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhalsningen</string>
		<key>Word</key>
		<string>julhälsningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julklappen</string>
		<key>Word</key>
		<string>julklappen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julkorten</string>
		<key>Word</key>
		<string>julkorten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullen</string>
		<key>Word</key>
		<string>jullen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julmaten</string>
		<key>Word</key>
		<string>julmaten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julnatten</string>
		<key>Word</key>
		<string>julnatten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julstamningen</string>
		<key>Word</key>
		<string>julstämningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultallriken</string>
		<key>Word</key>
		<string>jultallriken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultomten</string>
		<key>Word</key>
		<string>jultomten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julon</string>
		<key>Word</key>
		<string>Julön</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jumbon</string>
		<key>Word</key>
		<string>jumbon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jumpern</string>
		<key>Word</key>
		<string>jumpern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jun</string>
		<key>Word</key>
		<string>jun</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfrun</string>
		<key>Word</key>
		<string>jungfrun</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungman</string>
		<key>Word</key>
		<string>jungman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungmannen</string>
		<key>Word</key>
		<string>jungmannen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>junioren</string>
		<key>Word</key>
		<string>junioren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juntan</string>
		<key>Word</key>
		<string>juntan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juridiken</string>
		<key>Word</key>
		<string>juridiken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jurisdiktion</string>
		<key>Word</key>
		<string>jurisdiktion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jurisdiktionen</string>
		<key>Word</key>
		<string>jurisdiktionen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristen</string>
		<key>Word</key>
		<string>juristen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristinventeringen</string>
		<key>Word</key>
		<string>juristinventeringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristkontingenten</string>
		<key>Word</key>
		<string>juristkontingenten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juryn</string>
		<key>Word</key>
		<string>juryn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringen</string>
		<key>Word</key>
		<string>justeringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringsman</string>
		<key>Word</key>
		<string>justeringsman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringsmannen</string>
		<key>Word</key>
		<string>justeringsmannen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringsman</string>
		<key>Word</key>
		<string>justeringsmän</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringsmannen</string>
		<key>Word</key>
		<string>justeringsmännen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitiedepartementen</string>
		<key>Word</key>
		<string>justitiedepartementen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitieministern</string>
		<key>Word</key>
		<string>justitieministern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitierevision</string>
		<key>Word</key>
		<string>justitierevision</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitierevisionen</string>
		<key>Word</key>
		<string>justitierevisionen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelen</string>
		<key>Word</key>
		<string>juvelen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juveleraren</string>
		<key>Word</key>
		<string>juveleraren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvmen</string>
		<key>Word</key>
		<string>JVMen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagaren</string>
		<key>Word</key>
		<string>jägaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagmastaren</string>
		<key>Word</key>
		<string>jägmästaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamfotahoppen</string>
		<key>Word</key>
		<string>jämfotahoppen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforelsen</string>
		<key>Word</key>
		<string>jämförelsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamkningen</string>
		<key>Word</key>
		<string>jämkningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamliken</string>
		<key>Word</key>
		<string>jämliken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamlikheten</string>
		<key>Word</key>
		<string>jämlikheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jammern</string>
		<key>Word</key>
		<string>jämmern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamn</string>
		<key>Word</key>
		<string>jämn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldheten</string>
		<key>Word</key>
		<string>jämställdheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfragan</string>
		<key>Word</key>
		<string>jämställdhetsfrågan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfallan</string>
		<key>Word</key>
		<string>jämställdhetsfällan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsministern</string>
		<key>Word</key>
		<string>jämställdhetsministern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamten</string>
		<key>Word</key>
		<string>jämten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamvikten</string>
		<key>Word</key>
		<string>jämvikten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jantan</string>
		<key>Word</key>
		<string>jäntan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarn</string>
		<key>Word</key>
		<string>järn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnbeslagen</string>
		<key>Word</key>
		<string>järnbeslagen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnen</string>
		<key>Word</key>
		<string>järnen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnfilspan</string>
		<key>Word</key>
		<string>järnfilspån</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnfilspanen</string>
		<key>Word</key>
		<string>järnfilspånen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarngreppen</string>
		<key>Word</key>
		<string>järngreppen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnridan</string>
		<key>Word</key>
		<string>järnridån</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnringen</string>
		<key>Word</key>
		<string>järnringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnspisen</string>
		<key>Word</key>
		<string>järnspisen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagen</string>
		<key>Word</key>
		<string>järnvägen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagsgatan</string>
		<key>Word</key>
		<string>Järnvägsgatan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagskupen</string>
		<key>Word</key>
		<string>järnvägskupén</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagssparen</string>
		<key>Word</key>
		<string>järnvägsspåren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagsstation</string>
		<key>Word</key>
		<string>järnvägsstation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagsstationen</string>
		<key>Word</key>
		<string>järnvägsstationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnaldern</string>
		<key>Word</key>
		<string>järnåldern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarpen</string>
		<key>Word</key>
		<string>Järpen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jartecken</string>
		<key>Word</key>
		<string>järtecken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jartecknen</string>
		<key>Word</key>
		<string>järtecknen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarvabon</string>
		<key>Word</key>
		<string>Järvabon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarven</string>
		<key>Word</key>
		<string>järven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasningen</string>
		<key>Word</key>
		<string>jäsningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasten</string>
		<key>Word</key>
		<string>jästen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jastiden</string>
		<key>Word</key>
		<string>jästiden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattefin</string>
		<key>Word</key>
		<string>jättefin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattekvinnan</string>
		<key>Word</key>
		<string>jättekvinnan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatten</string>
		<key>Word</key>
		<string>jätten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatteprojekten</string>
		<key>Word</key>
		<string>jätteprojekten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattetraden</string>
		<key>Word</key>
		<string>jätteträden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattinnan</string>
		<key>Word</key>
		<string>jättinnan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javeln</string>
		<key>Word</key>
		<string>jäveln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javen</string>
		<key>Word</key>
		<string>jäven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokeln</string>
		<key>Word</key>
		<string>jökeln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonson</string>
		<key>Word</key>
		<string>Jönson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonsson</string>
		<key>Word</key>
		<string>Jönsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joran</string>
		<key>Word</key>
		<string>Jöran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorgen</string>
		<key>Word</key>
		<string>Jörgen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorgensen</string>
		<key>Word</key>
		<string>Jörgensen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorn</string>
		<key>Word</key>
		<string>Jörn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorgen</string>
		<key>Word</key>
		<string>Jørgen</string>
	</dict>
</array>
</plist>
