<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jackor</string>
		<key>Word</key>
		<string>jackor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaeser</string>
		<key>Word</key>
		<string>Jaeser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagar</string>
		<key>Word</key>
		<string>jagar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagger</string>
		<key>Word</key>
		<string>Jagger</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaguar</string>
		<key>Word</key>
		<string>jaguar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaguarer</string>
		<key>Word</key>
		<string>jaguarer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakar</string>
		<key>Word</key>
		<string>jakar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakter</string>
		<key>Word</key>
		<string>jakter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktgevar</string>
		<key>Word</key>
		<string>jaktgevär</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktstyrkor</string>
		<key>Word</key>
		<string>jaktstyrkor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamar</string>
		<key>Word</key>
		<string>jamar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japaner</string>
		<key>Word</key>
		<string>japaner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japaniserar</string>
		<key>Word</key>
		<string>japaniserar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanskor</string>
		<key>Word</key>
		<string>japanskor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jar</string>
		<key>Word</key>
		<string>Jar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jargonger</string>
		<key>Word</key>
		<string>jargonger</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarlar</string>
		<key>Word</key>
		<string>jarlar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasminer</string>
		<key>Word</key>
		<string>jasminer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaspisar</string>
		<key>Word</key>
		<string>jaspisar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javier</string>
		<key>Word</key>
		<string>Javier</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jebuseer</string>
		<key>Word</key>
		<string>jebuséer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeepar</string>
		<key>Word</key>
		<string>jeepar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jennifer</string>
		<key>Word</key>
		<string>Jennifer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jerker</string>
		<key>Word</key>
		<string>Jerker</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesper</string>
		<key>Word</key>
		<string>Jesper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesuiter</string>
		<key>Word</key>
		<string>jesuiter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetmotor</string>
		<key>Word</key>
		<string>jetmotor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetmotorer</string>
		<key>Word</key>
		<string>jetmotorer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jfr</string>
		<key>Word</key>
		<string>jfr</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joar</string>
		<key>Word</key>
		<string>Joar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbannonser</string>
		<key>Word</key>
		<string>jobbannonser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbar</string>
		<key>Word</key>
		<string>jobbar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggar</string>
		<key>Word</key>
		<string>joggar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jointar</string>
		<key>Word</key>
		<string>jointar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojkar</string>
		<key>Word</key>
		<string>jojkar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojor</string>
		<key>Word</key>
		<string>jojor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joker</string>
		<key>Word</key>
		<string>joker</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokrar</string>
		<key>Word</key>
		<string>jokrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollar</string>
		<key>Word</key>
		<string>jollar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joller</string>
		<key>Word</key>
		<string>joller</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollrar</string>
		<key>Word</key>
		<string>jollrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joner</string>
		<key>Word</key>
		<string>joner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonglor</string>
		<key>Word</key>
		<string>jonglör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonglorer</string>
		<key>Word</key>
		<string>jonglörer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joniserar</string>
		<key>Word</key>
		<string>joniserar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonosfar</string>
		<key>Word</key>
		<string>jonosfär</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordar</string>
		<key>Word</key>
		<string>jordar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordarter</string>
		<key>Word</key>
		<string>jordarter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksbygder</string>
		<key>Word</key>
		<string>jordbruksbygder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksmaskiner</string>
		<key>Word</key>
		<string>jordbruksmaskiner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksprodukter</string>
		<key>Word</key>
		<string>jordbruksprodukter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksresor</string>
		<key>Word</key>
		<string>jordbruksresor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbavningar</string>
		<key>Word</key>
		<string>jordbävningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfaster</string>
		<key>Word</key>
		<string>jordfäster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubbar</string>
		<key>Word</key>
		<string>jordgubbar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkulor</string>
		<key>Word</key>
		<string>jordkulor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordloppor</string>
		<key>Word</key>
		<string>jordloppor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordlotter</string>
		<key>Word</key>
		<string>jordlotter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordmanniskor</string>
		<key>Word</key>
		<string>jordmänniskor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordnotter</string>
		<key>Word</key>
		<string>jordnötter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordplattar</string>
		<key>Word</key>
		<string>jordplättar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordslingor</string>
		<key>Word</key>
		<string>jordslingor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordstammar</string>
		<key>Word</key>
		<string>jordstammar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joser</string>
		<key>Word</key>
		<string>joser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jour</string>
		<key>Word</key>
		<string>jour</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jourer</string>
		<key>Word</key>
		<string>jourer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journaler</string>
		<key>Word</key>
		<string>journaler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalister</string>
		<key>Word</key>
		<string>journalister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jr</string>
		<key>Word</key>
		<string>jr</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelfester</string>
		<key>Word</key>
		<string>jubelfester</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelar</string>
		<key>Word</key>
		<string>jubelår</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubilar</string>
		<key>Word</key>
		<string>jubilar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubilarer</string>
		<key>Word</key>
		<string>jubilarer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubileer</string>
		<key>Word</key>
		<string>jubileer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublar</string>
		<key>Word</key>
		<string>jublar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judar</string>
		<key>Word</key>
		<string>judar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judinnor</string>
		<key>Word</key>
		<string>judinnor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslaver</string>
		<key>Word</key>
		<string>jugoslaver</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juicer</string>
		<key>Word</key>
		<string>juicer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jukeboxar</string>
		<key>Word</key>
		<string>jukeboxar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julaftnar</string>
		<key>Word</key>
		<string>julaftnar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jular</string>
		<key>Word</key>
		<string>jular</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juldagar</string>
		<key>Word</key>
		<string>juldagar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julfester</string>
		<key>Word</key>
		<string>julfester</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julgranar</string>
		<key>Word</key>
		<string>julgranar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhelger</string>
		<key>Word</key>
		<string>julhelger</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhalsningar</string>
		<key>Word</key>
		<string>julhälsningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julklappar</string>
		<key>Word</key>
		<string>julklappar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullar</string>
		<key>Word</key>
		<string>jullar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullrar</string>
		<key>Word</key>
		<string>jullrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julnatter</string>
		<key>Word</key>
		<string>julnätter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julstamningar</string>
		<key>Word</key>
		<string>julstämningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultallrikar</string>
		<key>Word</key>
		<string>jultallrikar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultomtar</string>
		<key>Word</key>
		<string>jultomtar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jumper</string>
		<key>Word</key>
		<string>jumper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jumprar</string>
		<key>Word</key>
		<string>jumprar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfrur</string>
		<key>Word</key>
		<string>jungfrur</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>junior</string>
		<key>Word</key>
		<string>junior</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juniorer</string>
		<key>Word</key>
		<string>juniorer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juntor</string>
		<key>Word</key>
		<string>juntor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jupiter</string>
		<key>Word</key>
		<string>Jupiter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jurister</string>
		<key>Word</key>
		<string>jurister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristkontingenter</string>
		<key>Word</key>
		<string>juristkontingenter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juryer</string>
		<key>Word</key>
		<string>juryer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerar</string>
		<key>Word</key>
		<string>justerar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerbar</string>
		<key>Word</key>
		<string>justerbar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringar</string>
		<key>Word</key>
		<string>justeringar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitieminister</string>
		<key>Word</key>
		<string>justitieminister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitieministrar</string>
		<key>Word</key>
		<string>justitieministrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juveler</string>
		<key>Word</key>
		<string>juveler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvm-silver</string>
		<key>Word</key>
		<string>JVM-silver</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvmer</string>
		<key>Word</key>
		<string>JVMer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jyllanningar</string>
		<key>Word</key>
		<string>jyllänningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktar</string>
		<key>Word</key>
		<string>jäktar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamfor</string>
		<key>Word</key>
		<string>jämför</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforbar</string>
		<key>Word</key>
		<string>jämförbar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforelser</string>
		<key>Word</key>
		<string>jämförelser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamkar</string>
		<key>Word</key>
		<string>jämkar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamkningar</string>
		<key>Word</key>
		<string>jämkningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamlikar</string>
		<key>Word</key>
		<string>jämlikar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jammer</string>
		<key>Word</key>
		<string>jämmer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnar</string>
		<key>Word</key>
		<string>jämnar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnstor</string>
		<key>Word</key>
		<string>jämnstor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamrar</string>
		<key>Word</key>
		<string>jämrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfragor</string>
		<key>Word</key>
		<string>jämställdhetsfrågor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfallor</string>
		<key>Word</key>
		<string>jämställdhetsfällor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsminister</string>
		<key>Word</key>
		<string>jämställdhetsminister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsministrar</string>
		<key>Word</key>
		<string>jämställdhetsministrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstaller</string>
		<key>Word</key>
		<string>jämställer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamtar</string>
		<key>Word</key>
		<string>jämtar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jantor</string>
		<key>Word</key>
		<string>jäntor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnringar</string>
		<key>Word</key>
		<string>järnringar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnspisar</string>
		<key>Word</key>
		<string>järnspisar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagar</string>
		<key>Word</key>
		<string>järnvägar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagskupeer</string>
		<key>Word</key>
		<string>järnvägskupéer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagsspar</string>
		<key>Word</key>
		<string>järnvägsspår</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagsstationer</string>
		<key>Word</key>
		<string>järnvägsstationer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnalder</string>
		<key>Word</key>
		<string>järnålder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarvabor</string>
		<key>Word</key>
		<string>Järvabor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarvar</string>
		<key>Word</key>
		<string>järvar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaser</string>
		<key>Word</key>
		<string>jäser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattar</string>
		<key>Word</key>
		<string>jättar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattekvinnor</string>
		<key>Word</key>
		<string>jättekvinnor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattestor</string>
		<key>Word</key>
		<string>jättestor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattesvar</string>
		<key>Word</key>
		<string>jättesvår</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattinnor</string>
		<key>Word</key>
		<string>jättinnor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javar</string>
		<key>Word</key>
		<string>jävar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javlar</string>
		<key>Word</key>
		<string>jävlar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joklar</string>
		<key>Word</key>
		<string>jöklar</string>
	</dict>
</array>
</plist>
