<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>j-ljudet</string>
		<key>Word</key>
		<string>j-ljudet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacket</string>
		<key>Word</key>
		<string>jacket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jafet</string>
		<key>Word</key>
		<string>Jafet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagandet</string>
		<key>Word</key>
		<string>jagandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagat</string>
		<key>Word</key>
		<string>jagat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaget</string>
		<key>Word</key>
		<string>jaget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakandet</string>
		<key>Word</key>
		<string>jakandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakat</string>
		<key>Word</key>
		<string>jakat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakt</string>
		<key>Word</key>
		<string>jakt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktgeväret</string>
		<key>Word</key>
		<string>jaktgeväret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktplanet</string>
		<key>Word</key>
		<string>jaktplanet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamat</string>
		<key>Word</key>
		<string>jamat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>janet</string>
		<key>Word</key>
		<string>Janet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japaniserat</string>
		<key>Word</key>
		<string>japaniserat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanskt</string>
		<key>Word</key>
		<string>japanskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javaprogrammet</string>
		<key>Word</key>
		<string>Javaprogrammet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javascript</string>
		<key>Word</key>
		<string>JavaScript</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javisst</string>
		<key>Word</key>
		<string>javisst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jernkontoret</string>
		<key>Word</key>
		<string>Jernkontoret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesuit</string>
		<key>Word</key>
		<string>jesuit</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesusordet</string>
		<key>Word</key>
		<string>Jesusordet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jet</string>
		<key>Word</key>
		<string>jet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetflyget</string>
		<key>Word</key>
		<string>jetflyget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetplanet</string>
		<key>Word</key>
		<string>jetplanet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jippot</string>
		<key>Word</key>
		<string>jippot</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbat</string>
		<key>Word</key>
		<string>jobbat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbet</string>
		<key>Word</key>
		<string>jobbet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbigast</string>
		<key>Word</key>
		<string>jobbigast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbigt</string>
		<key>Word</key>
		<string>jobbigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggat</string>
		<key>Word</key>
		<string>joggat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johannesevangeliet</string>
		<key>Word</key>
		<string>Johannesevangeliet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joint</string>
		<key>Word</key>
		<string>joint</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojkat</string>
		<key>Word</key>
		<string>jojkat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokertecknet</string>
		<key>Word</key>
		<string>jokertecknet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollrandet</string>
		<key>Word</key>
		<string>jollrandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollrat</string>
		<key>Word</key>
		<string>jollrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollret</string>
		<key>Word</key>
		<string>jollret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jomenvisst</string>
		<key>Word</key>
		<string>jomenvisst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joniserat</string>
		<key>Word</key>
		<string>joniserat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordagodset</string>
		<key>Word</key>
		<string>jordagodset</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordanskt</string>
		<key>Word</key>
		<string>jordanskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordart</string>
		<key>Word</key>
		<string>jordart</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordat</string>
		<key>Word</key>
		<string>jordat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruket</string>
		<key>Word</key>
		<string>jordbruket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksarbetet</string>
		<key>Word</key>
		<string>jordbruksarbetet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksföretaget</string>
		<key>Word</key>
		<string>jordbruksföretaget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukslandet</string>
		<key>Word</key>
		<string>jordbrukslandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksprodukt</string>
		<key>Word</key>
		<string>jordbruksprodukt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksredskapet</string>
		<key>Word</key>
		<string>jordbruksredskapet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukssamhället</string>
		<key>Word</key>
		<string>jordbrukssamhället</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfolket</string>
		<key>Word</key>
		<string>jordfolket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfärgat</string>
		<key>Word</key>
		<string>jordfärgat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfäst</string>
		<key>Word</key>
		<string>jordfäst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubbslandet</string>
		<key>Word</key>
		<string>jordgubbslandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordiskt</string>
		<key>Word</key>
		<string>jordiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordlott</string>
		<key>Word</key>
		<string>jordlott</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordnöt</string>
		<key>Word</key>
		<string>jordnöt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordplätt</string>
		<key>Word</key>
		<string>jordplätt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordriket</string>
		<key>Word</key>
		<string>jordriket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josafat</string>
		<key>Word</key>
		<string>Josafat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalist</string>
		<key>Word</key>
		<string>journalist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalistiskt</string>
		<key>Word</key>
		<string>journalistiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jovialiskt</string>
		<key>Word</key>
		<string>jovialiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jovisst</string>
		<key>Word</key>
		<string>jovisst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelfest</string>
		<key>Word</key>
		<string>jubelfest</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelåret</string>
		<key>Word</key>
		<string>jubelåret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubileet</string>
		<key>Word</key>
		<string>jubileet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublandet</string>
		<key>Word</key>
		<string>jublandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublat</string>
		<key>Word</key>
		<string>jublat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jublet</string>
		<key>Word</key>
		<string>jublet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judekristet</string>
		<key>Word</key>
		<string>judekristet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judenhet</string>
		<key>Word</key>
		<string>judenhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judiciellt</string>
		<key>Word</key>
		<string>judiciellt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judiskt</string>
		<key>Word</key>
		<string>judiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judit</string>
		<key>Word</key>
		<string>Judit</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslaviskt</string>
		<key>Word</key>
		<string>jugoslaviskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julbordet</string>
		<key>Word</key>
		<string>julbordet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julfest</string>
		<key>Word</key>
		<string>julfest</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julianskt</string>
		<key>Word</key>
		<string>julianskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julkort</string>
		<key>Word</key>
		<string>julkort</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julkortet</string>
		<key>Word</key>
		<string>julkortet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullrat</string>
		<key>Word</key>
		<string>jullrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullrigt</string>
		<key>Word</key>
		<string>jullrigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julmat</string>
		<key>Word</key>
		<string>julmat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julnatt</string>
		<key>Word</key>
		<string>julnatt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julpynt</string>
		<key>Word</key>
		<string>julpynt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julpyntet</string>
		<key>Word</key>
		<string>julpyntet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfruligt</string>
		<key>Word</key>
		<string>jungfruligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungstedt</string>
		<key>Word</key>
		<string>Jungstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>junikriget</string>
		<key>Word</key>
		<string>junikriget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juridiskt</string>
		<key>Word</key>
		<string>juridiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jurist</string>
		<key>Word</key>
		<string>jurist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristkontingent</string>
		<key>Word</key>
		<string>juristkontingent</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>just</string>
		<key>Word</key>
		<string>just</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerat</string>
		<key>Word</key>
		<string>justerat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerbart</string>
		<key>Word</key>
		<string>justerbart</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitiedepartement</string>
		<key>Word</key>
		<string>justitiedepartement</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitiedepartementet</string>
		<key>Word</key>
		<string>justitiedepartementet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelprytt</string>
		<key>Word</key>
		<string>juvelprytt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvm-bronset</string>
		<key>Word</key>
		<string>JVM-bronset</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvm-guldet</string>
		<key>Word</key>
		<string>JVM-guldet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvm-silvret</string>
		<key>Word</key>
		<string>JVM-silvret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäkligast</string>
		<key>Word</key>
		<string>jäkligast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäkligt</string>
		<key>Word</key>
		<string>jäkligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäkt</string>
		<key>Word</key>
		<string>jäkt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktat</string>
		<key>Word</key>
		<string>jäktat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktet</string>
		<key>Word</key>
		<string>jäktet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktigast</string>
		<key>Word</key>
		<string>jäktigast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktigt</string>
		<key>Word</key>
		<string>jäktigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämbördigt</string>
		<key>Word</key>
		<string>jämbördigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämfotahoppet</string>
		<key>Word</key>
		<string>jämfotahoppet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförandet</string>
		<key>Word</key>
		<string>jämförandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförbart</string>
		<key>Word</key>
		<string>jämförbart</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförligt</string>
		<key>Word</key>
		<string>jämförligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämfört</string>
		<key>Word</key>
		<string>jämfört</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämkat</string>
		<key>Word</key>
		<string>jämkat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlikast</string>
		<key>Word</key>
		<string>jämlikast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlikhet</string>
		<key>Word</key>
		<string>jämlikhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlikt</string>
		<key>Word</key>
		<string>jämlikt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämmerligt</string>
		<key>Word</key>
		<string>jämmerligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnast</string>
		<key>Word</key>
		<string>jämnast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnat</string>
		<key>Word</key>
		<string>jämnat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnbrett</string>
		<key>Word</key>
		<string>jämnbrett</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnklippt</string>
		<key>Word</key>
		<string>jämnklippt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnstort</string>
		<key>Word</key>
		<string>jämnstort</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnt</string>
		<key>Word</key>
		<string>jämnt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnårigt</string>
		<key>Word</key>
		<string>jämnårigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämrandet</string>
		<key>Word</key>
		<string>jämrandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämrat</string>
		<key>Word</key>
		<string>jämrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämret</string>
		<key>Word</key>
		<string>jämret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämspelt</string>
		<key>Word</key>
		<string>jämspelt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställdhet</string>
		<key>Word</key>
		<string>jämställdhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställdhetsarbetet</string>
		<key>Word</key>
		<string>jämställdhetsarbetet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställt</string>
		<key>Word</key>
		<string>jämställt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämt</string>
		<key>Word</key>
		<string>jämt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämtländskt</string>
		<key>Word</key>
		<string>jämtländskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämvikt</string>
		<key>Word</key>
		<string>jämvikt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnbeslaget</string>
		<key>Word</key>
		<string>järnbeslaget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnet</string>
		<key>Word</key>
		<string>järnet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnfilspånet</string>
		<key>Word</key>
		<string>järnfilspånet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järngreppet</string>
		<key>Word</key>
		<string>järngreppet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järngrytsgrått</string>
		<key>Word</key>
		<string>järngrytsgrått</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnhårt</string>
		<key>Word</key>
		<string>järnhårt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnskott</string>
		<key>Word</key>
		<string>järnskott</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järntorget</string>
		<key>Word</key>
		<string>Järntorget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnvägsspåret</string>
		<key>Word</key>
		<string>järnvägsspåret</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järtecknet</string>
		<key>Word</key>
		<string>järtecknet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäsandet</string>
		<key>Word</key>
		<string>jäsandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäst</string>
		<key>Word</key>
		<string>jäst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteduktigt</string>
		<key>Word</key>
		<string>jätteduktigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättefint</string>
		<key>Word</key>
		<string>jättefint</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteglatt</string>
		<key>Word</key>
		<string>jätteglatt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättegott</string>
		<key>Word</key>
		<string>jättegott</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättehäftigt</string>
		<key>Word</key>
		<string>jättehäftigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättehögt</string>
		<key>Word</key>
		<string>jättehögt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättelikt</string>
		<key>Word</key>
		<string>jättelikt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättelångt</string>
		<key>Word</key>
		<string>jättelångt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättemycket</string>
		<key>Word</key>
		<string>jättemycket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteprojekt</string>
		<key>Word</key>
		<string>jätteprojekt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteprojektet</string>
		<key>Word</key>
		<string>jätteprojektet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteroligt</string>
		<key>Word</key>
		<string>jätteroligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättestort</string>
		<key>Word</key>
		<string>jättestort</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättesvårt</string>
		<key>Word</key>
		<string>jättesvårt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteträdet</string>
		<key>Word</key>
		<string>jätteträdet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävat</string>
		<key>Word</key>
		<string>jävat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävet</string>
		<key>Word</key>
		<string>jävet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävigt</string>
		<key>Word</key>
		<string>jävigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävligast</string>
		<key>Word</key>
		<string>jävligast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jävligt</string>
		<key>Word</key>
		<string>jävligt</string>
	</dict>
</array>
</plist>
