<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jehu</string>
		<key>Word</key>
		<string>jehu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesu</string>
		<key>Word</key>
		<string>Jesu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jiangsu</string>
		<key>Word</key>
		<string>Jiangsu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joensuu</string>
		<key>Word</key>
		<string>Joensuu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ju</string>
		<key>Word</key>
		<string>ju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jujutsu</string>
		<key>Word</key>
		<string>jujutsu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfru</string>
		<key>Word</key>
		<string>jungfru</string>
	</dict>
</array>
</plist>
