<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kabel</string>
		<key>Word</key>
		<string>kabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kabul</string>
		<key>Word</key>
		<string>Kabul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kackel</string>
		<key>Word</key>
		<string>kackel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kakel</string>
		<key>Word</key>
		<string>kakel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kal</string>
		<key>Word</key>
		<string>kal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkyl</string>
		<key>Word</key>
		<string>kalkyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kall</string>
		<key>Word</key>
		<string>kall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallhäll</string>
		<key>Word</key>
		<string>Kallhäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kamel</string>
		<key>Word</key>
		<string>kamel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kameral</string>
		<key>Word</key>
		<string>kameral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kameramobil</string>
		<key>Word</key>
		<string>kameramobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanal</string>
		<key>Word</key>
		<string>kanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanariefågel</string>
		<key>Word</key>
		<string>kanariefågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanel</string>
		<key>Word</key>
		<string>kanel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kannibal</string>
		<key>Word</key>
		<string>kannibal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanyl</string>
		<key>Word</key>
		<string>kanyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapabel</string>
		<key>Word</key>
		<string>kapabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapell</string>
		<key>Word</key>
		<string>kapell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapital</string>
		<key>Word</key>
		<string>kapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapitel</string>
		<key>Word</key>
		<string>kapitel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapitäl</string>
		<key>Word</key>
		<string>kapitäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapsel</string>
		<key>Word</key>
		<string>kapsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapsyl</string>
		<key>Word</key>
		<string>kapsyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karamell</string>
		<key>Word</key>
		<string>karamell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kardel</string>
		<key>Word</key>
		<string>kardel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kardinal</string>
		<key>Word</key>
		<string>kardinal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karl</string>
		<key>Word</key>
		<string>Karl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karl</string>
		<key>Word</key>
		<string>karl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karl-bertil</string>
		<key>Word</key>
		<string>Karl-Bertil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karmel</string>
		<key>Word</key>
		<string>Karmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karneval</string>
		<key>Word</key>
		<string>karneval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartell</string>
		<key>Word</key>
		<string>kartell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karusell</string>
		<key>Word</key>
		<string>karusell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kassel</string>
		<key>Word</key>
		<string>Kassel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastell</string>
		<key>Word</key>
		<string>kastell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastrull</string>
		<key>Word</key>
		<string>kastrull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katastrofal</string>
		<key>Word</key>
		<string>katastrofal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katedral</string>
		<key>Word</key>
		<string>katedral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kausal</string>
		<key>Word</key>
		<string>kausal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kavaljersflygel</string>
		<key>Word</key>
		<string>kavaljersflygel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kavel</string>
		<key>Word</key>
		<string>kavel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kcal</string>
		<key>Word</key>
		<string>kcal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kennel</string>
		<key>Word</key>
		<string>kennel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kettil</string>
		<key>Word</key>
		<string>Kettil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kiel</string>
		<key>Word</key>
		<string>Kiel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kil</string>
		<key>Word</key>
		<string>kil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kilobecquerel</string>
		<key>Word</key>
		<string>kilobecquerel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kisel</string>
		<key>Word</key>
		<string>kisel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kittel</string>
		<key>Word</key>
		<string>kittel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kjell</string>
		<key>Word</key>
		<string>Kjell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kjol</string>
		<key>Word</key>
		<string>kjol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kjortel</string>
		<key>Word</key>
		<string>kjortel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kl</string>
		<key>Word</key>
		<string>kl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klagomål</string>
		<key>Word</key>
		<string>klagomål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassval</string>
		<key>Word</key>
		<string>klassval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klausul</string>
		<key>Word</key>
		<string>klausul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klerikal</string>
		<key>Word</key>
		<string>klerikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klientel</string>
		<key>Word</key>
		<string>klientel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klockspel</string>
		<key>Word</key>
		<string>klockspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klorofyll</string>
		<key>Word</key>
		<string>klorofyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klädesmal</string>
		<key>Word</key>
		<string>klädesmal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klädsel</string>
		<key>Word</key>
		<string>klädsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klöverandel</string>
		<key>Word</key>
		<string>klöverandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knall</string>
		<key>Word</key>
		<string>knall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knarkhandel</string>
		<key>Word</key>
		<string>knarkhandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knol</string>
		<key>Word</key>
		<string>Knol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knoll</string>
		<key>Word</key>
		<string>Knoll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knäfall</string>
		<key>Word</key>
		<string>knäfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knäföll</string>
		<key>Word</key>
		<string>knäföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knäskål</string>
		<key>Word</key>
		<string>knäskål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knöl</string>
		<key>Word</key>
		<string>knöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koaxial</string>
		<key>Word</key>
		<string>koaxial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koaxialkabel</string>
		<key>Word</key>
		<string>koaxialkabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koehl</string>
		<key>Word</key>
		<string>Koehl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kogödsel</string>
		<key>Word</key>
		<string>kogödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kohandel</string>
		<key>Word</key>
		<string>kohandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokosskal</string>
		<key>Word</key>
		<string>kokosskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kol</string>
		<key>Word</key>
		<string>kol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolesterol</string>
		<key>Word</key>
		<string>kolesterol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koll</string>
		<key>Word</key>
		<string>koll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollegial</string>
		<key>Word</key>
		<string>kollegial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektivavtal</string>
		<key>Word</key>
		<string>kollektivavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolonial</string>
		<key>Word</key>
		<string>kolonial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolossal</string>
		<key>Word</key>
		<string>kolossal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kombiduell</string>
		<key>Word</key>
		<string>kombiduell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komfortabel</string>
		<key>Word</key>
		<string>komfortabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommersiell</string>
		<key>Word</key>
		<string>kommersiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunal</string>
		<key>Word</key>
		<string>kommunal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunalval</string>
		<key>Word</key>
		<string>kommunalval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunval</string>
		<key>Word</key>
		<string>kommunval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompatibel</string>
		<key>Word</key>
		<string>kompatibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplementärvinkel</string>
		<key>Word</key>
		<string>komplementärvinkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konceptuell</string>
		<key>Word</key>
		<string>konceptuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfidentiell</string>
		<key>Word</key>
		<string>konfidentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kongenial</string>
		<key>Word</key>
		<string>kongenial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kongresslokal</string>
		<key>Word</key>
		<string>kongresslokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkurrensfördel</string>
		<key>Word</key>
		<string>konkurrensfördel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkurssmäll</string>
		<key>Word</key>
		<string>konkurssmäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsol</string>
		<key>Word</key>
		<string>konsol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstantinopel</string>
		<key>Word</key>
		<string>Konstantinopel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstapel</string>
		<key>Word</key>
		<string>konstapel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstfull</string>
		<key>Word</key>
		<string>konstfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstgödsel</string>
		<key>Word</key>
		<string>konstgödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstitutionell</string>
		<key>Word</key>
		<string>konstitutionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsul</string>
		<key>Word</key>
		<string>konsul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontinental</string>
		<key>Word</key>
		<string>kontinental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontorslokal</string>
		<key>Word</key>
		<string>kontorslokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontorsstol</string>
		<key>Word</key>
		<string>kontorsstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontroll</string>
		<key>Word</key>
		<string>kontroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontrollpanel</string>
		<key>Word</key>
		<string>kontrollpanel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontroversiell</string>
		<key>Word</key>
		<string>kontroversiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konventionell</string>
		<key>Word</key>
		<string>konventionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koppel</string>
		<key>Word</key>
		<string>koppel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koral</string>
		<key>Word</key>
		<string>koral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korall</string>
		<key>Word</key>
		<string>korall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korgstol</string>
		<key>Word</key>
		<string>korgstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korpfotboll</string>
		<key>Word</key>
		<string>korpfotboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korpral</string>
		<key>Word</key>
		<string>korpral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrekturfel</string>
		<key>Word</key>
		<string>korrekturfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortspel</string>
		<key>Word</key>
		<string>kortspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostall</string>
		<key>Word</key>
		<string>kostall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnadsmodell</string>
		<key>Word</key>
		<string>kostnadsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnadsskäl</string>
		<key>Word</key>
		<string>kostnadsskäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kotsell</string>
		<key>Word</key>
		<string>Kotsell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kpml</string>
		<key>Word</key>
		<string>KPML</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krabbskal</string>
		<key>Word</key>
		<string>krabbskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftfull</string>
		<key>Word</key>
		<string>kraftfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kranskärl</string>
		<key>Word</key>
		<string>kranskärl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kravall</string>
		<key>Word</key>
		<string>kravall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigsmateriel</string>
		<key>Word</key>
		<string>krigsmateriel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminal</string>
		<key>Word</key>
		<string>kriminal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminell</string>
		<key>Word</key>
		<string>kriminell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristall</string>
		<key>Word</key>
		<string>kristall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krocketspel</string>
		<key>Word</key>
		<string>krocketspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krokodil</string>
		<key>Word</key>
		<string>krokodil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kroppsdel</string>
		<key>Word</key>
		<string>kroppsdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krusidull</string>
		<key>Word</key>
		<string>krusidull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryssningsmissil</string>
		<key>Word</key>
		<string>kryssningsmissil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krångel</string>
		<key>Word</key>
		<string>krångel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kråsnål</string>
		<key>Word</key>
		<string>kråsnål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kugghjul</string>
		<key>Word</key>
		<string>kugghjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kul</string>
		<key>Word</key>
		<string>kul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulhål</string>
		<key>Word</key>
		<string>kulhål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kull</string>
		<key>Word</key>
		<string>kull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturartikel</string>
		<key>Word</key>
		<string>kulturartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturell</string>
		<key>Word</key>
		<string>kulturell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kummel</string>
		<key>Word</key>
		<string>kummel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungl</string>
		<key>Word</key>
		<string>kungl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kupol</string>
		<key>Word</key>
		<string>kupol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kursmaterial</string>
		<key>Word</key>
		<string>kursmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kval</string>
		<key>Word</key>
		<string>kval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvalfull</string>
		<key>Word</key>
		<string>kvalfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarhåll</string>
		<key>Word</key>
		<string>kvarhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarhöll</string>
		<key>Word</key>
		<string>kvarhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvartal</string>
		<key>Word</key>
		<string>kvartal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvartil</string>
		<key>Word</key>
		<string>kvartil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvartskristall</string>
		<key>Word</key>
		<string>kvartskristall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvasiintellektuell</string>
		<key>Word</key>
		<string>kvasiintellektuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväll</string>
		<key>Word</key>
		<string>kväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvävenedfall</string>
		<key>Word</key>
		<string>kvävenedfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyl</string>
		<key>Word</key>
		<string>kyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>käbbel</string>
		<key>Word</key>
		<string>käbbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kägel</string>
		<key>Word</key>
		<string>kägel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kägelspel</string>
		<key>Word</key>
		<string>kägelspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källarhål</string>
		<key>Word</key>
		<string>källarhål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källarlokal</string>
		<key>Word</key>
		<string>källarlokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källarsal</string>
		<key>Word</key>
		<string>källarsal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källdahl</string>
		<key>Word</key>
		<string>Källdahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källfil</string>
		<key>Word</key>
		<string>källfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källkodsfil</string>
		<key>Word</key>
		<string>källkodsfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källmaterial</string>
		<key>Word</key>
		<string>källmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känsel</string>
		<key>Word</key>
		<string>känsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känslokall</string>
		<key>Word</key>
		<string>känslokall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärl</string>
		<key>Word</key>
		<string>kärl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärleksfull</string>
		<key>Word</key>
		<string>kärleksfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnfull</string>
		<key>Word</key>
		<string>kärnfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kättjefull</string>
		<key>Word</key>
		<string>kättjefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kågedal</string>
		<key>Word</key>
		<string>Kågedal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kål</string>
		<key>Word</key>
		<string>kål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kårnål</string>
		<key>Word</key>
		<string>kårnål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köhl</string>
		<key>Word</key>
		<string>Köhl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kökspersonal</string>
		<key>Word</key>
		<string>kökspersonal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köl</string>
		<key>Word</key>
		<string>köl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könshandel</string>
		<key>Word</key>
		<string>könshandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könsroll</string>
		<key>Word</key>
		<string>könsroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köpeavtal</string>
		<key>Word</key>
		<string>köpeavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>körtel</string>
		<key>Word</key>
		<string>körtel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köttbenmjöl</string>
		<key>Word</key>
		<string>köttbenmjöl</string>
	</dict>
</array>
</plist>
