<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaggeholm</string>
		<key>Word</key>
		<string>Kaggeholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalendarium</string>
		<key>Word</key>
		<string>kalendarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalenderreform</string>
		<key>Word</key>
		<string>kalenderreform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalium</string>
		<key>Word</key>
		<string>kalium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkonfilm</string>
		<key>Word</key>
		<string>kalkonfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkylprogram</string>
		<key>Word</key>
		<string>kalkylprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallrum</string>
		<key>Word</key>
		<string>kallrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalvinism</string>
		<key>Word</key>
		<string>kalvinism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kam</string>
		<key>Word</key>
		<string>kam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kammarkollegium</string>
		<key>Word</key>
		<string>kammarkollegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kannibalism</string>
		<key>Word</key>
		<string>kannibalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanslikollegium</string>
		<key>Word</key>
		<string>kanslikollegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapernaum</string>
		<key>Word</key>
		<string>Kapernaum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapitalism</string>
		<key>Word</key>
		<string>kapitalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karm</string>
		<key>Word</key>
		<string>karm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katolicism</string>
		<key>Word</key>
		<string>katolicism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katrineholm</string>
		<key>Word</key>
		<string>Katrineholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kbm</string>
		<key>Word</key>
		<string>kbm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kerubim</string>
		<key>Word</key>
		<string>kerubim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kilogram</string>
		<key>Word</key>
		<string>kilogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kim</string>
		<key>Word</key>
		<string>Kim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarstrom</string>
		<key>Word</key>
		<string>Klarström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassrum</string>
		<key>Word</key>
		<string>klassrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klimakterium</string>
		<key>Word</key>
		<string>klimakterium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klinckowstrom</string>
		<key>Word</key>
		<string>Klinckowström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klm</string>
		<key>Word</key>
		<string>KLM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kloroform</string>
		<key>Word</key>
		<string>kloroform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladsam</string>
		<key>Word</key>
		<string>klädsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klam</string>
		<key>Word</key>
		<string>kläm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>km</string>
		<key>Word</key>
		<string>km</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kockum</string>
		<key>Word</key>
		<string>Kockum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolatom</string>
		<key>Word</key>
		<string>kolatom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollegium</string>
		<key>Word</key>
		<string>kollegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektivism</string>
		<key>Word</key>
		<string>kollektivism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolonialism</string>
		<key>Word</key>
		<string>kolonialism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kom</string>
		<key>Word</key>
		<string>kom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kom-system</string>
		<key>Word</key>
		<string>KOM-system</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommersialism</string>
		<key>Word</key>
		<string>kommersialism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommerskollegium</string>
		<key>Word</key>
		<string>kommerskollegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunism</string>
		<key>Word</key>
		<string>kommunism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompendium</string>
		<key>Word</key>
		<string>kompendium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompisprogram</string>
		<key>Word</key>
		<string>kompisprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koncerngemensam</string>
		<key>Word</key>
		<string>koncerngemensam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koncilium</string>
		<key>Word</key>
		<string>koncilium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kondom</string>
		<key>Word</key>
		<string>kondom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konferensrum</string>
		<key>Word</key>
		<string>konferensrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konferenssystem</string>
		<key>Word</key>
		<string>konferenssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konformism</string>
		<key>Word</key>
		<string>konformism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsertprogram</string>
		<key>Word</key>
		<string>konsertprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konservatism</string>
		<key>Word</key>
		<string>konservatism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konservatorium</string>
		<key>Word</key>
		<string>konservatorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsilium</string>
		<key>Word</key>
		<string>konsilium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsistorium</string>
		<key>Word</key>
		<string>konsistorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsortium</string>
		<key>Word</key>
		<string>konsortium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstruktivism</string>
		<key>Word</key>
		<string>konstruktivism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontorsrum</string>
		<key>Word</key>
		<string>kontorsrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopparorm</string>
		<key>Word</key>
		<string>kopparorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korporativism</string>
		<key>Word</key>
		<string>korporativism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsholm</string>
		<key>Word</key>
		<string>Korsholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortfilm</string>
		<key>Word</key>
		<string>kortfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortform</string>
		<key>Word</key>
		<string>kortform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostsam</string>
		<key>Word</key>
		<string>kostsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostym</string>
		<key>Word</key>
		<string>kostym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kram</string>
		<key>Word</key>
		<string>kram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kranium</string>
		<key>Word</key>
		<string>kranium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krematorium</string>
		<key>Word</key>
		<string>krematorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigskollegium</string>
		<key>Word</key>
		<string>krigskollegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigslarm</string>
		<key>Word</key>
		<string>krigslarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krim</string>
		<key>Word</key>
		<string>Krim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristendom</string>
		<key>Word</key>
		<string>kristendom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriterium</string>
		<key>Word</key>
		<string>kriterium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krokom</string>
		<key>Word</key>
		<string>Krokom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krom</string>
		<key>Word</key>
		<string>krom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kromosom</string>
		<key>Word</key>
		<string>kromosom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krum</string>
		<key>Word</key>
		<string>krum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kram</string>
		<key>Word</key>
		<string>kräm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kubism</string>
		<key>Word</key>
		<string>kubism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulram</string>
		<key>Word</key>
		<string>kulram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kultfilm</string>
		<key>Word</key>
		<string>kultfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturcentrum</string>
		<key>Word</key>
		<string>kulturcentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturimperialism</string>
		<key>Word</key>
		<string>kulturimperialism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kumm</string>
		<key>Word</key>
		<string>Kumm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapscentrum</string>
		<key>Word</key>
		<string>kunskapscentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapsplattform</string>
		<key>Word</key>
		<string>kunskapsplattform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuriosum</string>
		<key>Word</key>
		<string>kuriosum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kutym</string>
		<key>Word</key>
		<string>kutym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvalm</string>
		<key>Word</key>
		<string>kvalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantum</string>
		<key>Word</key>
		<string>kvantum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarnstrom</string>
		<key>Word</key>
		<string>Kvarnström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvkm</string>
		<key>Word</key>
		<string>kvkm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvm</string>
		<key>Word</key>
		<string>kvm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kwam</string>
		<key>Word</key>
		<string>Kwam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrksam</string>
		<key>Word</key>
		<string>kyrksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallkods-rpm</string>
		<key>Word</key>
		<string>källkods-RPM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kannedom</string>
		<key>Word</key>
		<string>kännedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanslosam</string>
		<key>Word</key>
		<string>känslosam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlsjukdom</string>
		<key>Word</key>
		<string>kärlsjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konssjukdom</string>
		<key>Word</key>
		<string>könssjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosystem</string>
		<key>Word</key>
		<string>kösystem</string>
	</dict>
</array>
</plist>
