<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kabel-tv</string>
		<key>Word</key>
		<string>kabel-TV</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kabel-tv</string>
		<key>Word</key>
		<string>kabel-tv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaliumbehov</string>
		<key>Word</key>
		<string>kaliumbehov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalv</string>
		<key>Word</key>
		<string>kalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kedjebrev</string>
		<key>Word</key>
		<string>kedjebrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kiev</string>
		<key>Word</key>
		<string>Kiev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kiv</string>
		<key>Word</key>
		<string>kiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klev</string>
		<key>Word</key>
		<string>klev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kliv</string>
		<key>Word</key>
		<string>kliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klyv</string>
		<key>Word</key>
		<string>klyv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klöv</string>
		<key>Word</key>
		<string>klöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kniv</string>
		<key>Word</key>
		<string>kniv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kognitiv</string>
		<key>Word</key>
		<string>kognitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektiv</string>
		<key>Word</key>
		<string>kollektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolv</string>
		<key>Word</key>
		<string>kolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommittédirektiv</string>
		<key>Word</key>
		<string>kommittédirektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunikativ</string>
		<key>Word</key>
		<string>kommunikativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommutativ</string>
		<key>Word</key>
		<string>kommutativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komparativ</string>
		<key>Word</key>
		<string>komparativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konjunktiv</string>
		<key>Word</key>
		<string>konjunktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkav</string>
		<key>Word</key>
		<string>konkav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsekutiv</string>
		<key>Word</key>
		<string>konsekutiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konserv</string>
		<key>Word</key>
		<string>konserv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konservativ</string>
		<key>Word</key>
		<string>konservativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstruktiv</string>
		<key>Word</key>
		<string>konstruktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsultativ</string>
		<key>Word</key>
		<string>konsultativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kooperativ</string>
		<key>Word</key>
		<string>kooperativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korporativ</string>
		<key>Word</key>
		<string>korporativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrektiv</string>
		<key>Word</key>
		<string>korrektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korv</string>
		<key>Word</key>
		<string>korv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnadseffektiv</string>
		<key>Word</key>
		<string>kostnadseffektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krav</string>
		<key>Word</key>
		<string>krav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kreativ</string>
		<key>Word</key>
		<string>kreativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kräv</string>
		<key>Word</key>
		<string>kräv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturarv</string>
		<key>Word</key>
		<string>kulturarv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturkonservativ</string>
		<key>Word</key>
		<string>kulturkonservativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturliv</string>
		<key>Word</key>
		<string>kulturliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungälv</string>
		<key>Word</key>
		<string>Kungälv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapsnav</string>
		<key>Word</key>
		<string>kunskapsnav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kursiv</string>
		<key>Word</key>
		<string>kursiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvalitativ</string>
		<key>Word</key>
		<string>kvalitativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantitativ</string>
		<key>Word</key>
		<string>kvantitativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarlev</string>
		<key>Word</key>
		<string>kvarlev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvav</string>
		<key>Word</key>
		<string>kvav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväv</string>
		<key>Word</key>
		<string>kväv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkoliv</string>
		<key>Word</key>
		<string>kyrkoliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kändisliv</string>
		<key>Word</key>
		<string>kändisliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärv</string>
		<key>Word</key>
		<string>kärv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köksgolv</string>
		<key>Word</key>
		<string>köksgolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kökskniv</string>
		<key>Word</key>
		<string>kökskniv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könsperspektiv</string>
		<key>Word</key>
		<string>könsperspektiv</string>
	</dict>
</array>
</plist>
