<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lech</string>
		<key>Word</key>
		<string>Lech</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leith</string>
		<key>Word</key>
		<string>Leith</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lilith</string>
		<key>Word</key>
		<string>Lilith</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindbergh</string>
		<key>Word</key>
		<string>Lindbergh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindh</string>
		<key>Word</key>
		<string>Lindh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lisbeth</string>
		<key>Word</key>
		<string>Lisbeth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lith</string>
		<key>Word</key>
		<string>LiTH</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logitech</string>
		<key>Word</key>
		<string>Logitech</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lth</string>
		<key>Word</key>
		<string>LTH</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lunch</string>
		<key>Word</key>
		<string>lunch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundbergh</string>
		<key>Word</key>
		<string>Lundbergh</string>
	</dict>
</array>
</plist>
