<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laborativ</string>
		<key>Word</key>
		<string>laborativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lambohov</string>
		<key>Word</key>
		<string>Lambohov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsarkiv</string>
		<key>Word</key>
		<string>landsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larv</string>
		<key>Word</key>
		<string>larv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lav</string>
		<key>Word</key>
		<string>lav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lev</string>
		<key>Word</key>
		<string>lev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lidskjalv</string>
		<key>Word</key>
		<string>Lidskjalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liv</string>
		<key>Word</key>
		<string>liv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudperspektiv</string>
		<key>Word</key>
		<string>ljudperspektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusalv</string>
		<key>Word</key>
		<string>ljusalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljuv</string>
		<key>Word</key>
		<string>ljuv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokomotiv</string>
		<key>Word</key>
		<string>lokomotiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lov</string>
		<key>Word</key>
		<string>lov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lukrativ</string>
		<key>Word</key>
		<string>lukrativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lv</string>
		<key>Word</key>
		<string>lv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxiv</string>
		<key>Word</key>
		<string>lxiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxv</string>
		<key>Word</key>
		<string>lxv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länsarkiv</string>
		<key>Word</key>
		<string>länsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länsbokstav</string>
		<key>Word</key>
		<string>länsbokstav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsarbrev</string>
		<key>Word</key>
		<string>läsarbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långrev</string>
		<key>Word</key>
		<string>långrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lödkolv</string>
		<key>Word</key>
		<string>lödkolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösgav</string>
		<key>Word</key>
		<string>lösgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösgiv</string>
		<key>Word</key>
		<string>lösgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löv</string>
		<key>Word</key>
		<string>löv</string>
	</dict>
</array>
</plist>
