<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>macworld</string>
		<key>Word</key>
		<string>MacWorld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mad</string>
		<key>Word</key>
		<string>mad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>madrid</string>
		<key>Word</key>
		<string>Madrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnetband</string>
		<key>Word</key>
		<string>magnetband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnetiserad</string>
		<key>Word</key>
		<string>magnetiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnhild</string>
		<key>Word</key>
		<string>Magnhild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnitud</string>
		<key>Word</key>
		<string>magnitud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mailad</string>
		<key>Word</key>
		<string>mailad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maitland</string>
		<key>Word</key>
		<string>Maitland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>makad</string>
		<key>Word</key>
		<string>makad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maktberusad</string>
		<key>Word</key>
		<string>maktberusad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>makulerad</string>
		<key>Word</key>
		<string>makulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mald</string>
		<key>Word</key>
		<string>mald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malplacerad</string>
		<key>Word</key>
		<string>malplacerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manad</string>
		<key>Word</key>
		<string>manad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manbyggnad</string>
		<key>Word</key>
		<string>manbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manfred</string>
		<key>Word</key>
		<string>Manfred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manglad</string>
		<key>Word</key>
		<string>manglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mangårdsbyggnad</string>
		<key>Word</key>
		<string>mangårdsbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manifesterad</string>
		<key>Word</key>
		<string>manifesterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manipulerad</string>
		<key>Word</key>
		<string>manipulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manmånad</string>
		<key>Word</key>
		<string>manmånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manövrerad</string>
		<key>Word</key>
		<string>manövrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mappad</string>
		<key>Word</key>
		<string>mappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marginaliserad</string>
		<key>Word</key>
		<string>marginaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mariannelund</string>
		<key>Word</key>
		<string>Mariannelund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mariefred</string>
		<key>Word</key>
		<string>Mariefred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mariestad</string>
		<key>Word</key>
		<string>Mariestad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markaryd</string>
		<key>Word</key>
		<string>Markaryd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markerad</string>
		<key>Word</key>
		<string>markerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marklund</string>
		<key>Word</key>
		<string>Marklund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknad</string>
		<key>Word</key>
		<string>marknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsförd</string>
		<key>Word</key>
		<string>marknadsförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marmelad</string>
		<key>Word</key>
		<string>marmelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marscherad</string>
		<key>Word</key>
		<string>marscherad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marstrand</string>
		<key>Word</key>
		<string>Marstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maryland</string>
		<key>Word</key>
		<string>Maryland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskerad</string>
		<key>Word</key>
		<string>maskerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>massakrerad</string>
		<key>Word</key>
		<string>massakrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>massmord</string>
		<key>Word</key>
		<string>massmord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>massproducerad</string>
		<key>Word</key>
		<string>massproducerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matad</string>
		<key>Word</key>
		<string>matad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matbord</string>
		<key>Word</key>
		<string>matbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matchad</string>
		<key>Word</key>
		<string>matchad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>materialbod</string>
		<key>Word</key>
		<string>materialbod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matförråd</string>
		<key>Word</key>
		<string>matförråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matjord</string>
		<key>Word</key>
		<string>matjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matsked</string>
		<key>Word</key>
		<string>matsked</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mattad</string>
		<key>Word</key>
		<string>mattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maud</string>
		<key>Word</key>
		<string>Maud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maximerad</string>
		<key>Word</key>
		<string>maximerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mcdonald</string>
		<key>Word</key>
		<string>McDonald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>med</string>
		<key>Word</key>
		<string>med</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meddelad</string>
		<key>Word</key>
		<string>meddelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meddelandehuvud</string>
		<key>Word</key>
		<string>meddelandehuvud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medellivslängd</string>
		<key>Word</key>
		<string>medellivslängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medellängd</string>
		<key>Word</key>
		<string>medellängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medelpad</string>
		<key>Word</key>
		<string>Medelpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medeltid</string>
		<key>Word</key>
		<string>medeltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medfödd</string>
		<key>Word</key>
		<string>medfödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medförd</string>
		<key>Word</key>
		<string>medförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medhavd</string>
		<key>Word</key>
		<string>medhavd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medianluftrymd</string>
		<key>Word</key>
		<string>medianluftrymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlad</string>
		<key>Word</key>
		<string>medlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlemsblad</string>
		<key>Word</key>
		<string>medlemsblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlemsland</string>
		<key>Word</key>
		<string>medlemsland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlurad</string>
		<key>Word</key>
		<string>medlurad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medvind</string>
		<key>Word</key>
		<string>medvind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>megingjord</string>
		<key>Word</key>
		<string>Megingjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mejad</string>
		<key>Word</key>
		<string>mejad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mejlad</string>
		<key>Word</key>
		<string>mejlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mejslad</string>
		<key>Word</key>
		<string>mejslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mekad</string>
		<key>Word</key>
		<string>mekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mekaniserad</string>
		<key>Word</key>
		<string>mekaniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellankrigstid</string>
		<key>Word</key>
		<string>mellankrigstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanskillnad</string>
		<key>Word</key>
		<string>mellanskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellantid</string>
		<key>Word</key>
		<string>mellantid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellerud</string>
		<key>Word</key>
		<string>Mellerud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>melonträd</string>
		<key>Word</key>
		<string>melonträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>memorerad</string>
		<key>Word</key>
		<string>memorerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>menad</string>
		<key>Word</key>
		<string>menad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mened</string>
		<key>Word</key>
		<string>mened</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meningsfylld</string>
		<key>Word</key>
		<string>meningsfylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mentalsjukvård</string>
		<key>Word</key>
		<string>mentalsjukvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meriterad</string>
		<key>Word</key>
		<string>meriterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metad</string>
		<key>Word</key>
		<string>metad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metallbord</string>
		<key>Word</key>
		<string>metallbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metod</string>
		<key>Word</key>
		<string>metod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>micad</string>
		<key>Word</key>
		<string>micad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>middagsbord</string>
		<key>Word</key>
		<string>middagsbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>middagstid</string>
		<key>Word</key>
		<string>middagstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>midgård</string>
		<key>Word</key>
		<string>midgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>midnattstid</string>
		<key>Word</key>
		<string>midnattstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>migrerad</string>
		<key>Word</key>
		<string>migrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miklagård</string>
		<key>Word</key>
		<string>Miklagård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mild</string>
		<key>Word</key>
		<string>mild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mildrad</string>
		<key>Word</key>
		<string>mildrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mildred</string>
		<key>Word</key>
		<string>Mildred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mildögd</string>
		<key>Word</key>
		<string>mildögd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljard</string>
		<key>Word</key>
		<string>miljard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljonstöd</string>
		<key>Word</key>
		<string>miljonstöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>millisekund</string>
		<key>Word</key>
		<string>millisekund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minerad</string>
		<key>Word</key>
		<string>minerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimerad</string>
		<key>Word</key>
		<string>minimerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ministerråd</string>
		<key>Word</key>
		<string>ministerråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minnesgod</string>
		<key>Word</key>
		<string>minnesgod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minnesvärd</string>
		<key>Word</key>
		<string>minnesvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minnesvård</string>
		<key>Word</key>
		<string>minnesvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minskad</string>
		<key>Word</key>
		<string>minskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minusgrad</string>
		<key>Word</key>
		<string>minusgrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missad</string>
		<key>Word</key>
		<string>missad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missaktad</string>
		<key>Word</key>
		<string>missaktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missbrukad</string>
		<key>Word</key>
		<string>missbrukad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missförstod</string>
		<key>Word</key>
		<string>missförstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missförstådd</string>
		<key>Word</key>
		<string>missförstådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missförstånd</string>
		<key>Word</key>
		<string>missförstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misshandlad</string>
		<key>Word</key>
		<string>misshandlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misskund</string>
		<key>Word</key>
		<string>misskund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misskänd</string>
		<key>Word</key>
		<string>misskänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missled</string>
		<key>Word</key>
		<string>missled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missledd</string>
		<key>Word</key>
		<string>missledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misslyckad</string>
		<key>Word</key>
		<string>misslyckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missmod</string>
		<key>Word</key>
		<string>missmod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missnöjd</string>
		<key>Word</key>
		<string>missnöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstolkad</string>
		<key>Word</key>
		<string>misstolkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstrodd</string>
		<key>Word</key>
		<string>misstrodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missuppfattad</string>
		<key>Word</key>
		<string>missuppfattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mitterrand</string>
		<key>Word</key>
		<string>Mitterrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mixad</string>
		<key>Word</key>
		<string>mixad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mixerbord</string>
		<key>Word</key>
		<string>mixerbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjältbrand</string>
		<key>Word</key>
		<string>mjältbrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjöd</string>
		<key>Word</key>
		<string>mjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjölkad</string>
		<key>Word</key>
		<string>mjölkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobbad</string>
		<key>Word</key>
		<string>mobbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobilbild</string>
		<key>Word</key>
		<string>mobilbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobiliserad</string>
		<key>Word</key>
		<string>mobiliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mod</string>
		<key>Word</key>
		<string>mod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modellerad</string>
		<key>Word</key>
		<string>modellerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modererad</string>
		<key>Word</key>
		<string>modererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moderniserad</string>
		<key>Word</key>
		<string>moderniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modfälld</string>
		<key>Word</key>
		<string>modfälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modifierad</string>
		<key>Word</key>
		<string>modifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modulariserad</string>
		<key>Word</key>
		<string>modulariserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mognad</string>
		<key>Word</key>
		<string>mognad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mohammed</string>
		<key>Word</key>
		<string>Mohammed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mongoloid</string>
		<key>Word</key>
		<string>mongoloid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monitorbord</string>
		<key>Word</key>
		<string>monitorbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monstersladd</string>
		<key>Word</key>
		<string>monstersladd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monterad</string>
		<key>Word</key>
		<string>monterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moped</string>
		<key>Word</key>
		<string>moped</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mord</string>
		<key>Word</key>
		<string>mord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mordbrand</string>
		<key>Word</key>
		<string>mordbrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morgonrodnad</string>
		<key>Word</key>
		<string>morgonrodnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morgonstund</string>
		<key>Word</key>
		<string>morgonstund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motad</string>
		<key>Word</key>
		<string>motad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motarbetad</string>
		<key>Word</key>
		<string>motarbetad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motbevisad</string>
		<key>Word</key>
		<string>motbevisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motiverad</string>
		<key>Word</key>
		<string>motiverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motoriserad</string>
		<key>Word</key>
		<string>motoriserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motringd</string>
		<key>Word</key>
		<string>motringd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsagd</string>
		<key>Word</key>
		<string>motsagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsedd</string>
		<key>Word</key>
		<string>motsedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motstod</string>
		<key>Word</key>
		<string>motstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motställd</string>
		<key>Word</key>
		<string>motställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motstånd</string>
		<key>Word</key>
		<string>motstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsvarad</string>
		<key>Word</key>
		<string>motsvarad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motverkad</string>
		<key>Word</key>
		<string>motverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motvind</string>
		<key>Word</key>
		<string>motvind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motåtgärd</string>
		<key>Word</key>
		<string>motåtgärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muchembled</string>
		<key>Word</key>
		<string>Muchembled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mud</string>
		<key>Word</key>
		<string>MUD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muddrad</string>
		<key>Word</key>
		<string>muddrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muhammed</string>
		<key>Word</key>
		<string>Muhammed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mullvad</string>
		<key>Word</key>
		<string>mullvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multiplicerad</string>
		<key>Word</key>
		<string>multiplicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multnad</string>
		<key>Word</key>
		<string>multnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munkerud</string>
		<key>Word</key>
		<string>Munkerud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>murad</string>
		<key>Word</key>
		<string>murad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musik-cd</string>
		<key>Word</key>
		<string>musik-CD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikvärld</string>
		<key>Word</key>
		<string>musikvärld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mutad</string>
		<key>Word</key>
		<string>mutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muterad</string>
		<key>Word</key>
		<string>muterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myndighetsspråkvård</string>
		<key>Word</key>
		<string>myndighetsspråkvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myntad</string>
		<key>Word</key>
		<string>myntad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mysql-baserad</string>
		<key>Word</key>
		<string>MySQL-baserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mäklad</string>
		<key>Word</key>
		<string>mäklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mängd</string>
		<key>Word</key>
		<string>mängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>människoartad</string>
		<key>Word</key>
		<string>människoartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>människobostad</string>
		<key>Word</key>
		<string>människobostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>människotillverkad</string>
		<key>Word</key>
		<string>människotillverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mässad</string>
		<key>Word</key>
		<string>mässad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mästrad</string>
		<key>Word</key>
		<string>mästrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mättad</string>
		<key>Word</key>
		<string>mättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mättnad</string>
		<key>Word</key>
		<string>mättnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målad</string>
		<key>Word</key>
		<string>målad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målinriktad</string>
		<key>Word</key>
		<string>målinriktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målstyrd</string>
		<key>Word</key>
		<string>målstyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måltid</string>
		<key>Word</key>
		<string>måltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>månad</string>
		<key>Word</key>
		<string>månad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångbeprövad</string>
		<key>Word</key>
		<string>mångbeprövad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångfald</string>
		<key>Word</key>
		<string>mångfald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångfaldigad</string>
		<key>Word</key>
		<string>mångfaldigad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångfasetterad</string>
		<key>Word</key>
		<string>mångfasetterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mård</string>
		<key>Word</key>
		<string>mård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måttad</string>
		<key>Word</key>
		<string>måttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>möblerad</string>
		<key>Word</key>
		<string>möblerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>möjliggjord</string>
		<key>Word</key>
		<string>möjliggjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mönje-gulröd</string>
		<key>Word</key>
		<string>mönje-gulröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mönsterbild</string>
		<key>Word</key>
		<string>mönsterbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mönsterskydd</string>
		<key>Word</key>
		<string>mönsterskydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mönstrad</string>
		<key>Word</key>
		<string>mönstrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörbultad</string>
		<key>Word</key>
		<string>mörbultad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mördad</string>
		<key>Word</key>
		<string>mördad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörkad</string>
		<key>Word</key>
		<string>mörkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörkhyad</string>
		<key>Word</key>
		<string>mörkhyad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörkrädd</string>
		<key>Word</key>
		<string>mörkrädd</string>
	</dict>
</array>
</plist>
