<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magdeburg</string>
		<key>Word</key>
		<string>Magdeburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnettåg</string>
		<key>Word</key>
		<string>magnettåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magpumpning</string>
		<key>Word</key>
		<string>magpumpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maklig</string>
		<key>Word</key>
		<string>maklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maknadsföring</string>
		<key>Word</key>
		<string>maknadsföring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maktbolag</string>
		<key>Word</key>
		<string>maktbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maktställning</string>
		<key>Word</key>
		<string>maktställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maktutövning</string>
		<key>Word</key>
		<string>maktutövning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malmberg</string>
		<key>Word</key>
		<string>Malmberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malung</string>
		<key>Word</key>
		<string>Malung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mammig</string>
		<key>Word</key>
		<string>mammig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manhaftig</string>
		<key>Word</key>
		<string>manhaftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maning</string>
		<key>Word</key>
		<string>maning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manipulering</string>
		<key>Word</key>
		<string>manipulering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mankemang</string>
		<key>Word</key>
		<string>mankemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manlig</string>
		<key>Word</key>
		<string>manlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mannekäng</string>
		<key>Word</key>
		<string>mannekäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manshög</string>
		<key>Word</key>
		<string>manshög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manövrering</string>
		<key>Word</key>
		<string>manövrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mappning</string>
		<key>Word</key>
		<string>mappning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marieberg</string>
		<key>Word</key>
		<string>Marieberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marieborg</string>
		<key>Word</key>
		<string>Marieborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markering</string>
		<key>Word</key>
		<string>markering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsansvarig</string>
		<key>Word</key>
		<string>marknadsansvarig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsbedömning</string>
		<key>Word</key>
		<string>marknadsbedömning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsföring</string>
		<key>Word</key>
		<string>marknadsföring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsföringsbidrag</string>
		<key>Word</key>
		<string>marknadsföringsbidrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsföringsdrag</string>
		<key>Word</key>
		<string>marknadsföringsdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsmässig</string>
		<key>Word</key>
		<string>marknadsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markvittring</string>
		<key>Word</key>
		<string>markvittring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markörförflyttning</string>
		<key>Word</key>
		<string>markörförflyttning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marschsång</string>
		<key>Word</key>
		<string>marschsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>martling</string>
		<key>Word</key>
		<string>Martling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maräng</string>
		<key>Word</key>
		<string>maräng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskering</string>
		<key>Word</key>
		<string>maskering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskinöversättning</string>
		<key>Word</key>
		<string>maskinöversättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>massansamling</string>
		<key>Word</key>
		<string>massansamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>masslagring</string>
		<key>Word</key>
		<string>masslagring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>masslagringsanläggning</string>
		<key>Word</key>
		<string>masslagringsanläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matchning</string>
		<key>Word</key>
		<string>matchning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mathållning</string>
		<key>Word</key>
		<string>mathållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matig</string>
		<key>Word</key>
		<string>matig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matlagning</string>
		<key>Word</key>
		<string>matlagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matning</string>
		<key>Word</key>
		<string>matning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matrisräkning</string>
		<key>Word</key>
		<string>matrisräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matservering</string>
		<key>Word</key>
		<string>matservering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matsmältning</string>
		<key>Word</key>
		<string>matsmältning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maximipoäng</string>
		<key>Word</key>
		<string>maximipoäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mc-gäng</string>
		<key>Word</key>
		<string>MC-gäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mc-gäng</string>
		<key>Word</key>
		<string>mc-gäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mecklenburg</string>
		<key>Word</key>
		<string>Mecklenburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medaljong</string>
		<key>Word</key>
		<string>medaljong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medborgarskapslag</string>
		<key>Word</key>
		<string>medborgarskapslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medborgerlig</string>
		<key>Word</key>
		<string>medborgerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medbrottsling</string>
		<key>Word</key>
		<string>medbrottsling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medelmåttig</string>
		<key>Word</key>
		<string>medelmåttig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medelväg</string>
		<key>Word</key>
		<string>medelväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medgång</string>
		<key>Word</key>
		<string>medgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medicinering</string>
		<key>Word</key>
		<string>medicinering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medieföretag</string>
		<key>Word</key>
		<string>medieföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlemsökning</string>
		<key>Word</key>
		<string>medlemsökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medskyldig</string>
		<key>Word</key>
		<string>medskyldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medtag</string>
		<key>Word</key>
		<string>medtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medtog</string>
		<key>Word</key>
		<string>medtog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mekanisering</string>
		<key>Word</key>
		<string>mekanisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanfolklig</string>
		<key>Word</key>
		<string>mellanfolklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanslag</string>
		<key>Word</key>
		<string>mellanslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanting</string>
		<key>Word</key>
		<string>mellanting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanvägg</string>
		<key>Word</key>
		<string>mellanvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanvåg</string>
		<key>Word</key>
		<string>mellanvåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>menig</string>
		<key>Word</key>
		<string>menig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mening</string>
		<key>Word</key>
		<string>mening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>menlig</string>
		<key>Word</key>
		<string>menlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meritförteckning</string>
		<key>Word</key>
		<string>meritförteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>merseburg</string>
		<key>Word</key>
		<string>Merseburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mesig</string>
		<key>Word</key>
		<string>mesig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>messing</string>
		<key>Word</key>
		<string>Messing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meteornedslag</string>
		<key>Word</key>
		<string>meteornedslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meterhög</string>
		<key>Word</key>
		<string>meterhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metodutveckling</string>
		<key>Word</key>
		<string>metodutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mg</string>
		<key>Word</key>
		<string>mg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miang</string>
		<key>Word</key>
		<string>Miang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>middag</string>
		<key>Word</key>
		<string>middag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mig</string>
		<key>Word</key>
		<string>mig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>migrering</string>
		<key>Word</key>
		<string>migrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikrobetalning</string>
		<key>Word</key>
		<string>mikrobetalning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikrofilmning</string>
		<key>Word</key>
		<string>mikrofilmning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikrofonplacering</string>
		<key>Word</key>
		<string>mikrofonplacering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>militärtjänstgöring</string>
		<key>Word</key>
		<string>militärtjänstgöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljöbelastning</string>
		<key>Word</key>
		<string>miljöbelastning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljöbeskrivning</string>
		<key>Word</key>
		<string>miljöbeskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljöförstöring</string>
		<key>Word</key>
		<string>miljöförstöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljökonsekvensutredning</string>
		<key>Word</key>
		<string>miljökonsekvensutredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljömärkning</string>
		<key>Word</key>
		<string>miljömärkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljömässig</string>
		<key>Word</key>
		<string>miljömässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljöskildring</string>
		<key>Word</key>
		<string>miljöskildring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljövänlig</string>
		<key>Word</key>
		<string>miljövänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>milslång</string>
		<key>Word</key>
		<string>milslång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mindervärdig</string>
		<key>Word</key>
		<string>mindervärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minderårig</string>
		<key>Word</key>
		<string>minderårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mineralisering</string>
		<key>Word</key>
		<string>mineralisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimering</string>
		<key>Word</key>
		<string>minimering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minnesanteckning</string>
		<key>Word</key>
		<string>minnesanteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minnesdag</string>
		<key>Word</key>
		<string>minnesdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minoritetsregering</string>
		<key>Word</key>
		<string>minoritetsregering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minskning</string>
		<key>Word</key>
		<string>minskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minutlig</string>
		<key>Word</key>
		<string>minutlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missaktning</string>
		<key>Word</key>
		<string>missaktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missanpassning</string>
		<key>Word</key>
		<string>missanpassning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missbildning</string>
		<key>Word</key>
		<string>missbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missgärning</string>
		<key>Word</key>
		<string>missgärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misshag</string>
		<key>Word</key>
		<string>misshag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misshandling</string>
		<key>Word</key>
		<string>misshandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstag</string>
		<key>Word</key>
		<string>misstag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstog</string>
		<key>Word</key>
		<string>misstog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstroendeförklaring</string>
		<key>Word</key>
		<string>misstroendeförklaring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missuppfattning</string>
		<key>Word</key>
		<string>missuppfattning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missvisning</string>
		<key>Word</key>
		<string>missvisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mittgång</string>
		<key>Word</key>
		<string>mittgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mixersammanhang</string>
		<key>Word</key>
		<string>mixersammanhang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjöberg</string>
		<key>Word</key>
		<string>Mjöberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjölkning</string>
		<key>Word</key>
		<string>mjölkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mmorpg</string>
		<key>Word</key>
		<string>MMORPG</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mms-krig</string>
		<key>Word</key>
		<string>MMS-krig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobbning</string>
		<key>Word</key>
		<string>mobbning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moberg</string>
		<key>Word</key>
		<string>Moberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobilisering</string>
		<key>Word</key>
		<string>mobilisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modellbeteckning</string>
		<key>Word</key>
		<string>modellbeteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modellering</string>
		<key>Word</key>
		<string>modellering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modelljärnväg</string>
		<key>Word</key>
		<string>modelljärnväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moderering</string>
		<key>Word</key>
		<string>moderering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moderlig</string>
		<key>Word</key>
		<string>moderlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modernisering</string>
		<key>Word</key>
		<string>modernisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modersmålsundervisning</string>
		<key>Word</key>
		<string>modersmålsundervisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modifiering</string>
		<key>Word</key>
		<string>modifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modig</string>
		<key>Word</key>
		<string>modig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modularisering</string>
		<key>Word</key>
		<string>modularisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molekylärbiolog</string>
		<key>Word</key>
		<string>molekylärbiolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molnig</string>
		<key>Word</key>
		<string>molnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>momssänkning</string>
		<key>Word</key>
		<string>momssänkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monitorutrustning</string>
		<key>Word</key>
		<string>monitorutrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monolog</string>
		<key>Word</key>
		<string>monolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>montering</string>
		<key>Word</key>
		<string>montering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moraluppfattning</string>
		<key>Word</key>
		<string>moraluppfattning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moralupplösning</string>
		<key>Word</key>
		<string>moralupplösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morgondag</string>
		<key>Word</key>
		<string>morgondag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morgonsamling</string>
		<key>Word</key>
		<string>morgonsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morgontidning</string>
		<key>Word</key>
		<string>morgontidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mossig</string>
		<key>Word</key>
		<string>mossig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motdrag</string>
		<key>Word</key>
		<string>motdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motgång</string>
		<key>Word</key>
		<string>motgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motivering</string>
		<key>Word</key>
		<string>motivering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motorsåg</string>
		<key>Word</key>
		<string>motorsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motorväg</string>
		<key>Word</key>
		<string>motorväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motring</string>
		<key>Word</key>
		<string>motring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motringning</string>
		<key>Word</key>
		<string>motringning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motstridig</string>
		<key>Word</key>
		<string>motstridig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motståndskraftig</string>
		<key>Word</key>
		<string>motståndskraftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsäg</string>
		<key>Word</key>
		<string>motsäg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsättning</string>
		<key>Word</key>
		<string>motsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsåg</string>
		<key>Word</key>
		<string>motsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mottag</string>
		<key>Word</key>
		<string>mottag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mottaglig</string>
		<key>Word</key>
		<string>mottaglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mottagning</string>
		<key>Word</key>
		<string>mottagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mottog</string>
		<key>Word</key>
		<string>mottog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motvillig</string>
		<key>Word</key>
		<string>motvillig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mpeg</string>
		<key>Word</key>
		<string>MPEG</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mugg</string>
		<key>Word</key>
		<string>mugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mullig</string>
		<key>Word</key>
		<string>mullig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muntlig</string>
		<key>Word</key>
		<string>muntlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musselodling</string>
		<key>Word</key>
		<string>musselodling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mustig</string>
		<key>Word</key>
		<string>mustig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mvg</string>
		<key>Word</key>
		<string>MVG</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mygg</string>
		<key>Word</key>
		<string>mygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myndig</string>
		<key>Word</key>
		<string>myndig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mynning</string>
		<key>Word</key>
		<string>mynning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myntslag</string>
		<key>Word</key>
		<string>myntslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mysig</string>
		<key>Word</key>
		<string>mysig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mysql-konfigurering</string>
		<key>Word</key>
		<string>MySQL-konfigurering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mäktig</string>
		<key>Word</key>
		<string>mäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>människoutdunstning</string>
		<key>Word</key>
		<string>människoutdunstning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>människovärdig</string>
		<key>Word</key>
		<string>människovärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mänsklig</string>
		<key>Word</key>
		<string>mänsklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>märg</string>
		<key>Word</key>
		<string>märg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>märklig</string>
		<key>Word</key>
		<string>märklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>märkning</string>
		<key>Word</key>
		<string>märkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>märkvärdig</string>
		<key>Word</key>
		<string>märkvärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mässing</string>
		<key>Word</key>
		<string>mässing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mästerlig</string>
		<key>Word</key>
		<string>mästerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mätaravläsning</string>
		<key>Word</key>
		<string>mätaravläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mätning</string>
		<key>Word</key>
		<string>mätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måg</string>
		<key>Word</key>
		<string>måg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målarfärg</string>
		<key>Word</key>
		<string>målarfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målfyllig</string>
		<key>Word</key>
		<string>målfyllig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målinriktning</string>
		<key>Word</key>
		<string>målinriktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målning</string>
		<key>Word</key>
		<string>målning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målsättning</string>
		<key>Word</key>
		<string>målsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>månadstidning</string>
		<key>Word</key>
		<string>månadstidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>månatlig</string>
		<key>Word</key>
		<string>månatlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måndag</string>
		<key>Word</key>
		<string>måndag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mång</string>
		<key>Word</key>
		<string>mång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångfaldig</string>
		<key>Word</key>
		<string>mångfaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>månghundraårig</string>
		<key>Word</key>
		<string>månghundraårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>månghörning</string>
		<key>Word</key>
		<string>månghörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångkunnig</string>
		<key>Word</key>
		<string>mångkunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångordig</string>
		<key>Word</key>
		<string>mångordig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångsidig</string>
		<key>Word</key>
		<string>mångsidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångspråkig</string>
		<key>Word</key>
		<string>mångspråkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångtydig</string>
		<key>Word</key>
		<string>mångtydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångårig</string>
		<key>Word</key>
		<string>mångårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mårdberg</string>
		<key>Word</key>
		<string>Mårdberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måttlig</string>
		<key>Word</key>
		<string>måttlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>möblering</string>
		<key>Word</key>
		<string>möblering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>möglig</string>
		<key>Word</key>
		<string>möglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>möjlig</string>
		<key>Word</key>
		<string>möjlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mönstermatchning</string>
		<key>Word</key>
		<string>mönstermatchning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mönstring</string>
		<key>Word</key>
		<string>mönstring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörkhårig</string>
		<key>Word</key>
		<string>mörkhårig</string>
	</dict>
</array>
</plist>
