<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magi</string>
		<key>Word</key>
		<string>magi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mai</string>
		<key>Word</key>
		<string>Mai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>majvi</string>
		<key>Word</key>
		<string>Majvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>makaroni</string>
		<key>Word</key>
		<string>makaroni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malawi</string>
		<key>Word</key>
		<string>Malawi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mali</string>
		<key>Word</key>
		<string>Mali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mammografi</string>
		<key>Word</key>
		<string>mammografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mandelbiskvi</string>
		<key>Word</key>
		<string>mandelbiskvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mani</string>
		<key>Word</key>
		<string>mani</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mapi</string>
		<key>Word</key>
		<string>MAPI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marconi</string>
		<key>Word</key>
		<string>Marconi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mari</string>
		<key>Word</key>
		<string>Mari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsekonomi</string>
		<key>Word</key>
		<string>marknadsekonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marschmelodi</string>
		<key>Word</key>
		<string>marschmelodi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>martini</string>
		<key>Word</key>
		<string>martini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskineri</string>
		<key>Word</key>
		<string>maskineri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskopi</string>
		<key>Word</key>
		<string>maskopi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matematikfilosofi</string>
		<key>Word</key>
		<string>matematikfilosofi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matti</string>
		<key>Word</key>
		<string>Matti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maximi</string>
		<key>Word</key>
		<string>maximi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medevi</string>
		<key>Word</key>
		<string>Medevi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mejeri</string>
		<key>Word</key>
		<string>mejeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>melodi</string>
		<key>Word</key>
		<string>melodi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meri</string>
		<key>Word</key>
		<string>Meri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meänkieli</string>
		<key>Word</key>
		<string>meänkieli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miami</string>
		<key>Word</key>
		<string>Miami</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>milli</string>
		<key>Word</key>
		<string>milli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mimmi</string>
		<key>Word</key>
		<string>Mimmi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mineralogi</string>
		<key>Word</key>
		<string>mineralogi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mini</string>
		<key>Word</key>
		<string>mini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimi</string>
		<key>Word</key>
		<string>minimi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misantropi</string>
		<key>Word</key>
		<string>misantropi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mississippi</string>
		<key>Word</key>
		<string>Mississippi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missouri</string>
		<key>Word</key>
		<string>Missouri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mitsubishi</string>
		<key>Word</key>
		<string>Mitsubishi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mittenparti</string>
		<key>Word</key>
		<string>mittenparti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mittparti</string>
		<key>Word</key>
		<string>mittparti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjärdevi</string>
		<key>Word</key>
		<string>Mjärdevi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobiltelefoni</string>
		<key>Word</key>
		<string>mobiltelefoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molekylärbiologi</string>
		<key>Word</key>
		<string>molekylärbiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molnfri</string>
		<key>Word</key>
		<string>molnfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monarki</string>
		<key>Word</key>
		<string>monarki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monotoni</string>
		<key>Word</key>
		<string>monotoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moralfilosofi</string>
		<key>Word</key>
		<string>moralfilosofi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moralteologi</string>
		<key>Word</key>
		<string>moralteologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mordokai</string>
		<key>Word</key>
		<string>Mordokai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moroni</string>
		<key>Word</key>
		<string>Moroni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mui</string>
		<key>Word</key>
		<string>Mui</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multi</string>
		<key>Word</key>
		<string>multi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mumbai</string>
		<key>Word</key>
		<string>Mumbai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikindustri</string>
		<key>Word</key>
		<string>musikindustri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mussolini</string>
		<key>Word</key>
		<string>Mussolini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myggfri</string>
		<key>Word</key>
		<string>myggfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myteri</string>
		<key>Word</key>
		<string>myteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mytologi</string>
		<key>Word</key>
		<string>mytologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måleri</string>
		<key>Word</key>
		<string>måleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mångsyssleri</string>
		<key>Word</key>
		<string>mångsyssleri</string>
	</dict>
</array>
</plist>
