<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nackad</string>
		<key>Word</key>
		<string>nackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nad</string>
		<key>Word</key>
		<string>NAD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naglad</string>
		<key>Word</key>
		<string>naglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>najad</string>
		<key>Word</key>
		<string>najad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nalkad</string>
		<key>Word</key>
		<string>nalkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnad</string>
		<key>Word</key>
		<string>namnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nappad</string>
		<key>Word</key>
		<string>nappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narrad</string>
		<key>Word</key>
		<string>narrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationaliserad</string>
		<key>Word</key>
		<string>nationaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattad</string>
		<key>Word</key>
		<string>nattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattduksbord</string>
		<key>Word</key>
		<string>nattduksbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattetid</string>
		<key>Word</key>
		<string>nattetid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattsudd</string>
		<key>Word</key>
		<string>nattsudd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattvard</string>
		<key>Word</key>
		<string>nattvard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturaliserad</string>
		<key>Word</key>
		<string>naturaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturfargad</string>
		<key>Word</key>
		<string>naturfärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>navigerad</string>
		<key>Word</key>
		<string>navigerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nazityskland</string>
		<key>Word</key>
		<string>Nazityskland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nd</string>
		<key>Word</key>
		<string>nd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ned</string>
		<key>Word</key>
		<string>ned</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedborrad</string>
		<key>Word</key>
		<string>nedborrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbringad</string>
		<key>Word</key>
		<string>nedbringad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbrand</string>
		<key>Word</key>
		<string>nedbränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbojd</string>
		<key>Word</key>
		<string>nedböjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nederbord</string>
		<key>Word</key>
		<string>nederbörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedfalld</string>
		<key>Word</key>
		<string>nedfälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedgjord</string>
		<key>Word</key>
		<string>nedgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedgravd</string>
		<key>Word</key>
		<string>nedgrävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkallad</string>
		<key>Word</key>
		<string>nedkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkyld</string>
		<key>Word</key>
		<string>nedkyld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedladdad</string>
		<key>Word</key>
		<string>nedladdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlagd</string>
		<key>Word</key>
		<string>nedlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlockad</string>
		<key>Word</key>
		<string>nedlockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedmonterad</string>
		<key>Word</key>
		<string>nedmonterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedramlad</string>
		<key>Word</key>
		<string>nedramlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrasad</string>
		<key>Word</key>
		<string>nedrasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrostad</string>
		<key>Word</key>
		<string>nedröstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedstamd</string>
		<key>Word</key>
		<string>nedstämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsolad</string>
		<key>Word</key>
		<string>nedsölad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtecknad</string>
		<key>Word</key>
		<string>nedtecknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtonad</string>
		<key>Word</key>
		<string>nedtonad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtrampad</string>
		<key>Word</key>
		<string>nedtrampad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtvingad</string>
		<key>Word</key>
		<string>nedtvingad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtyngd</string>
		<key>Word</key>
		<string>nedtyngd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedvarderad</string>
		<key>Word</key>
		<string>nedvärderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedarvd</string>
		<key>Word</key>
		<string>nedärvd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negerad</string>
		<key>Word</key>
		<string>negerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negligerad</string>
		<key>Word</key>
		<string>negligerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nejd</string>
		<key>Word</key>
		<string>nejd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nekad</string>
		<key>Word</key>
		<string>nekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerdammad</string>
		<key>Word</key>
		<string>nerdammad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerflottad</string>
		<key>Word</key>
		<string>nerflottad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerhyvlad</string>
		<key>Word</key>
		<string>nerhyvlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerkladdad</string>
		<key>Word</key>
		<string>nerkladdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerladdad</string>
		<key>Word</key>
		<string>nerladdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerlagd</string>
		<key>Word</key>
		<string>nerlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nermald</string>
		<key>Word</key>
		<string>nermald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerruttnad</string>
		<key>Word</key>
		<string>nerruttnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerskrynklad</string>
		<key>Word</key>
		<string>nerskrynklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nersotad</string>
		<key>Word</key>
		<string>nersotad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nervid</string>
		<key>Word</key>
		<string>nervid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nervtrad</string>
		<key>Word</key>
		<string>nervtråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>netbsd</string>
		<key>Word</key>
		<string>NetBSD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nettelblad</string>
		<key>Word</key>
		<string>Nettelblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutraliserad</string>
		<key>Word</key>
		<string>neutraliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>newfoundland</string>
		<key>Word</key>
		<string>Newfoundland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nibelungenlied</string>
		<key>Word</key>
		<string>Nibelungenlied</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nid</string>
		<key>Word</key>
		<string>nid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nidingsdad</string>
		<key>Word</key>
		<string>nidingsdåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitad</string>
		<key>Word</key>
		<string>nitad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nivaskillnad</string>
		<key>Word</key>
		<string>nivåskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njord</string>
		<key>Word</key>
		<string>Njord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nod</string>
		<key>Word</key>
		<string>nod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nollstalld</string>
		<key>Word</key>
		<string>nollställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nolltid</string>
		<key>Word</key>
		<string>nolltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nomad</string>
		<key>Word</key>
		<string>nomad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nominerad</string>
		<key>Word</key>
		<string>nominerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nonchalerad</string>
		<key>Word</key>
		<string>nonchalerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nord</string>
		<key>Word</key>
		<string>nord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordanvind</string>
		<key>Word</key>
		<string>nordanvind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordenskiold</string>
		<key>Word</key>
		<string>Nordenskiöld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordfriesland</string>
		<key>Word</key>
		<string>Nordfriesland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordirland</string>
		<key>Word</key>
		<string>Nordirland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordland</string>
		<key>Word</key>
		<string>Nordland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordlund</string>
		<key>Word</key>
		<string>Nordlund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normaliserad</string>
		<key>Word</key>
		<string>normaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normaltid</string>
		<key>Word</key>
		<string>normaltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normerad</string>
		<key>Word</key>
		<string>normerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normskord</string>
		<key>Word</key>
		<string>normskörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrkopingsbaserad</string>
		<key>Word</key>
		<string>norrköpingsbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrland</string>
		<key>Word</key>
		<string>Norrland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>northumberland</string>
		<key>Word</key>
		<string>Northumberland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noterad</string>
		<key>Word</key>
		<string>noterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>novgorod</string>
		<key>Word</key>
		<string>Novgorod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nukleotid</string>
		<key>Word</key>
		<string>nukleotid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>numrerad</string>
		<key>Word</key>
		<string>numrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nutid</string>
		<key>Word</key>
		<string>nutid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanlagd</string>
		<key>Word</key>
		<string>nyanlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanland</string>
		<key>Word</key>
		<string>nyanländ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanserad</string>
		<key>Word</key>
		<string>nyanserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanstalld</string>
		<key>Word</key>
		<string>nyanställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybakad</string>
		<key>Word</key>
		<string>nybakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybildad</string>
		<key>Word</key>
		<string>nybildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybyggd</string>
		<key>Word</key>
		<string>nybyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybyggnad</string>
		<key>Word</key>
		<string>nybyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckelord</string>
		<key>Word</key>
		<string>nyckelord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nydiskad</string>
		<key>Word</key>
		<string>nydiskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyfalld</string>
		<key>Word</key>
		<string>nyfälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyfodd</string>
		<key>Word</key>
		<string>nyfödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyforvarvad</string>
		<key>Word</key>
		<string>nyförvärvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nygard</string>
		<key>Word</key>
		<string>Nygård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinflyttad</string>
		<key>Word</key>
		<string>nyinflyttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinrattad</string>
		<key>Word</key>
		<string>nyinrättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinstiftad</string>
		<key>Word</key>
		<string>nyinstiftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyland</string>
		<key>Word</key>
		<string>Nyland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nylund</string>
		<key>Word</key>
		<string>Nylund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymornad</string>
		<key>Word</key>
		<string>nymornad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyplanterad</string>
		<key>Word</key>
		<string>nyplanterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyplogad</string>
		<key>Word</key>
		<string>nyplogad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyplojd</string>
		<key>Word</key>
		<string>nyplöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyregistrerad</string>
		<key>Word</key>
		<string>nyregistrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyslipad</string>
		<key>Word</key>
		<string>nyslipad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyssnamnd</string>
		<key>Word</key>
		<string>nyssnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nystad</string>
		<key>Word</key>
		<string>nystad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nystartad</string>
		<key>Word</key>
		<string>nystartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nytillverkad</string>
		<key>Word</key>
		<string>nytillverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttjad</string>
		<key>Word</key>
		<string>nyttjad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyuppford</string>
		<key>Word</key>
		<string>nyuppförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyvaknad</string>
		<key>Word</key>
		<string>nyvaknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyvald</string>
		<key>Word</key>
		<string>nyvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyarspromenad</string>
		<key>Word</key>
		<string>nyårspromenad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnd</string>
		<key>Word</key>
		<string>nämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnvard</string>
		<key>Word</key>
		<string>nämnvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narbeslaktad</string>
		<key>Word</key>
		<string>närbesläktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narbild</string>
		<key>Word</key>
		<string>närbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narmad</string>
		<key>Word</key>
		<string>närmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naslund</string>
		<key>Word</key>
		<string>Näslund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nastlad</string>
		<key>Word</key>
		<string>nästlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nad</string>
		<key>Word</key>
		<string>nåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nadd</string>
		<key>Word</key>
		<string>nådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nod</string>
		<key>Word</key>
		<string>nöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodgad</string>
		<key>Word</key>
		<string>nödgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodsakad</string>
		<key>Word</key>
		<string>nödsakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodstalld</string>
		<key>Word</key>
		<string>nödställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nojd</string>
		<key>Word</key>
		<string>nöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nojesvarld</string>
		<key>Word</key>
		<string>nöjesvärld</string>
	</dict>
</array>
</plist>
