<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nackade</string>
		<key>Word</key>
		<string>nackade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nacke</string>
		<key>Word</key>
		<string>nacke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nadire</string>
		<key>Word</key>
		<string>Nadire</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naglade</string>
		<key>Word</key>
		<string>naglade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naivare</string>
		<key>Word</key>
		<string>naivare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naivaste</string>
		<key>Word</key>
		<string>naivaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naive</string>
		<key>Word</key>
		<string>naive</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nakne</string>
		<key>Word</key>
		<string>nakne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nalkade</string>
		<key>Word</key>
		<string>nalkade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nalle</string>
		<key>Word</key>
		<string>nalle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnade</string>
		<key>Word</key>
		<string>namnade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namne</string>
		<key>Word</key>
		<string>namne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnge</string>
		<key>Word</key>
		<string>namnge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnkunnigare</string>
		<key>Word</key>
		<string>namnkunnigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnkunnigaste</string>
		<key>Word</key>
		<string>namnkunnigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nappade</string>
		<key>Word</key>
		<string>nappade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nappe</string>
		<key>Word</key>
		<string>Nappe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narrade</string>
		<key>Word</key>
		<string>narrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nasade</string>
		<key>Word</key>
		<string>nasade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nasare</string>
		<key>Word</key>
		<string>nasare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nathalie</string>
		<key>Word</key>
		<string>Nathalie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationaliserade</string>
		<key>Word</key>
		<string>nationaliserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattade</string>
		<key>Word</key>
		<string>nattade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattsuddade</string>
		<key>Word</key>
		<string>nattsuddade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattsuddande</string>
		<key>Word</key>
		<string>nattsuddande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattsuddare</string>
		<key>Word</key>
		<string>nattsuddare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattyxne</string>
		<key>Word</key>
		<string>nattyxne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturaliserade</string>
		<key>Word</key>
		<string>naturaliserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturaliserande</string>
		<key>Word</key>
		<string>naturaliserande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturforskare</string>
		<key>Word</key>
		<string>naturforskare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturfärgade</string>
		<key>Word</key>
		<string>naturfärgade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturligare</string>
		<key>Word</key>
		<string>naturligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturligaste</string>
		<key>Word</key>
		<string>naturligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturlige</string>
		<key>Word</key>
		<string>naturlige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturläkare</string>
		<key>Word</key>
		<string>naturläkare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natursverige</string>
		<key>Word</key>
		<string>Natursverige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturupplevelse</string>
		<key>Word</key>
		<string>naturupplevelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturvetare</string>
		<key>Word</key>
		<string>naturvetare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>navigerade</string>
		<key>Word</key>
		<string>navigerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ne</string>
		<key>Word</key>
		<string>NE</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neandertalare</string>
		<key>Word</key>
		<string>neandertalare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neanderthalare</string>
		<key>Word</key>
		<string>neanderthalare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>necesse</string>
		<key>Word</key>
		<string>necesse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedanstående</string>
		<key>Word</key>
		<string>nedanstående</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedborrade</string>
		<key>Word</key>
		<string>nedborrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbringade</string>
		<key>Word</key>
		<string>nedbringade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbringande</string>
		<key>Word</key>
		<string>nedbringande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbrytande</string>
		<key>Word</key>
		<string>nedbrytande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neddalande</string>
		<key>Word</key>
		<string>neddalande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedförsbacke</string>
		<key>Word</key>
		<string>nedförsbacke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedgjorde</string>
		<key>Word</key>
		<string>nedgjorde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkallade</string>
		<key>Word</key>
		<string>nedkallade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkylde</string>
		<key>Word</key>
		<string>nedkylde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedladdade</string>
		<key>Word</key>
		<string>nedladdade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlade</string>
		<key>Word</key>
		<string>nedlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlockade</string>
		<key>Word</key>
		<string>nedlockade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlåtande</string>
		<key>Word</key>
		<string>nedlåtande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedmonterade</string>
		<key>Word</key>
		<string>nedmonterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedramlade</string>
		<key>Word</key>
		<string>nedramlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrasade</string>
		<key>Word</key>
		<string>nedrasade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedre</string>
		<key>Word</key>
		<string>nedre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrinnande</string>
		<key>Word</key>
		<string>nedrinnande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedröstade</string>
		<key>Word</key>
		<string>nedröstade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsatte</string>
		<key>Word</key>
		<string>nedsatte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedslagne</string>
		<key>Word</key>
		<string>nedslagne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedslående</string>
		<key>Word</key>
		<string>nedslående</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedstigande</string>
		<key>Word</key>
		<string>nedstigande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedstämde</string>
		<key>Word</key>
		<string>nedstämde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedstämmande</string>
		<key>Word</key>
		<string>nedstämmande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsänkte</string>
		<key>Word</key>
		<string>nedsänkte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsättande</string>
		<key>Word</key>
		<string>nedsättande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsölade</string>
		<key>Word</key>
		<string>nedsölade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtecknade</string>
		<key>Word</key>
		<string>nedtecknade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtonade</string>
		<key>Word</key>
		<string>nedtonade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtrampade</string>
		<key>Word</key>
		<string>nedtrampade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtvingade</string>
		<key>Word</key>
		<string>nedtvingade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtyngde</string>
		<key>Word</key>
		<string>nedtyngde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedvärderade</string>
		<key>Word</key>
		<string>nedvärderade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedvärderande</string>
		<key>Word</key>
		<string>nedvärderande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedåtgående</string>
		<key>Word</key>
		<string>nedåtgående</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negerade</string>
		<key>Word</key>
		<string>negerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negerpojke</string>
		<key>Word</key>
		<string>negerpojke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negligerade</string>
		<key>Word</key>
		<string>negligerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nekade</string>
		<key>Word</key>
		<string>nekade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nekande</string>
		<key>Word</key>
		<string>nekande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nellie</string>
		<key>Word</key>
		<string>Nellie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerdammade</string>
		<key>Word</key>
		<string>nerdammade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nere</string>
		<key>Word</key>
		<string>nere</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerflottade</string>
		<key>Word</key>
		<string>nerflottade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerhyvlade</string>
		<key>Word</key>
		<string>nerhyvlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerike</string>
		<key>Word</key>
		<string>Nerike</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerkladdade</string>
		<key>Word</key>
		<string>nerkladdade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerladdade</string>
		<key>Word</key>
		<string>nerladdade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerruttnade</string>
		<key>Word</key>
		<string>nerruttnade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerskrynklade</string>
		<key>Word</key>
		<string>nerskrynklade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nersotade</string>
		<key>Word</key>
		<string>nersotade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nesligare</string>
		<key>Word</key>
		<string>nesligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nesligaste</string>
		<key>Word</key>
		<string>nesligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>netscape</string>
		<key>Word</key>
		<string>Netscape</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nettoutflöde</string>
		<key>Word</key>
		<string>nettoutflöde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutralare</string>
		<key>Word</key>
		<string>neutralare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutralaste</string>
		<key>Word</key>
		<string>neutralaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutraliserade</string>
		<key>Word</key>
		<string>neutraliserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutronabsorberande</string>
		<key>Word</key>
		<string>neutronabsorberande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nic-se</string>
		<key>Word</key>
		<string>NIC-SE</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nickade</string>
		<key>Word</key>
		<string>nickade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nicolae</string>
		<key>Word</key>
		<string>Nicolae</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nicole</string>
		<key>Word</key>
		<string>Nicole</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nietzsche</string>
		<key>Word</key>
		<string>Nietzsche</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nigande</string>
		<key>Word</key>
		<string>nigande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nikke</string>
		<key>Word</key>
		<string>Nikke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nille</string>
		<key>Word</key>
		<string>Nille</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nineve</string>
		<key>Word</key>
		<string>Nineve</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nionde</string>
		<key>Word</key>
		<string>nionde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nioårige</string>
		<key>Word</key>
		<string>nioårige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nisse</string>
		<key>Word</key>
		<string>Nisse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitade</string>
		<key>Word</key>
		<string>nitade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitiske</string>
		<key>Word</key>
		<string>nitiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitratkväve</string>
		<key>Word</key>
		<string>nitratkväve</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitrifikationsbakterie</string>
		<key>Word</key>
		<string>nitrifikationsbakterie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittionde</string>
		<key>Word</key>
		<string>nittionde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittiotre</string>
		<key>Word</key>
		<string>nittiotre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittonde</string>
		<key>Word</key>
		<string>nittonde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njae</string>
		<key>Word</key>
		<string>njae</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njure</string>
		<key>Word</key>
		<string>njure</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njursjuke</string>
		<key>Word</key>
		<string>njursjuke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nobelpristagare</string>
		<key>Word</key>
		<string>nobelpristagare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noggrannare</string>
		<key>Word</key>
		<string>noggrannare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noggrannaste</string>
		<key>Word</key>
		<string>noggrannaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noggranne</string>
		<key>Word</key>
		<string>noggranne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noice</string>
		<key>Word</key>
		<string>Noice</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noisegate</string>
		<key>Word</key>
		<string>noisegate</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nollställde</string>
		<key>Word</key>
		<string>nollställde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nominerade</string>
		<key>Word</key>
		<string>nominerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nonchalantare</string>
		<key>Word</key>
		<string>nonchalantare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nonchalantaste</string>
		<key>Word</key>
		<string>nonchalantaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nonchalante</string>
		<key>Word</key>
		<string>nonchalante</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nonchalerade</string>
		<key>Word</key>
		<string>nonchalerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordligare</string>
		<key>Word</key>
		<string>nordligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordligaste</string>
		<key>Word</key>
		<string>nordligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nore</string>
		<key>Word</key>
		<string>Nore</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norge</string>
		<key>Word</key>
		<string>Norge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normalare</string>
		<key>Word</key>
		<string>normalare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normalaste</string>
		<key>Word</key>
		<string>normalaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normale</string>
		<key>Word</key>
		<string>normale</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normaliserade</string>
		<key>Word</key>
		<string>normaliserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normalviktige</string>
		<key>Word</key>
		<string>normalviktige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normandie</string>
		<key>Word</key>
		<string>Normandie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normerade</string>
		<key>Word</key>
		<string>normerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normerande</string>
		<key>Word</key>
		<string>normerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normförflyttare</string>
		<key>Word</key>
		<string>normförflyttare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normskapare</string>
		<key>Word</key>
		<string>normskapare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrköpingsbaserade</string>
		<key>Word</key>
		<string>norrköpingsbaserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrtälje</string>
		<key>Word</key>
		<string>Norrtälje</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norske</string>
		<key>Word</key>
		<string>norske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nosade</string>
		<key>Word</key>
		<string>nosade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nosande</string>
		<key>Word</key>
		<string>nosande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nostalgimöte</string>
		<key>Word</key>
		<string>nostalgimöte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>notarie</string>
		<key>Word</key>
		<string>notarie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noterade</string>
		<key>Word</key>
		<string>noterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nubbe</string>
		<key>Word</key>
		<string>nubbe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nuddade</string>
		<key>Word</key>
		<string>nuddade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nuläge</string>
		<key>Word</key>
		<string>nuläge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>numrerade</string>
		<key>Word</key>
		<string>numrerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nuvarande</string>
		<key>Word</key>
		<string>nuvarande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanlade</string>
		<key>Word</key>
		<string>nyanlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanserade</string>
		<key>Word</key>
		<string>nyanserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanställde</string>
		<key>Word</key>
		<string>nyanställde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyare</string>
		<key>Word</key>
		<string>nyare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyaste</string>
		<key>Word</key>
		<string>nyaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybakade</string>
		<key>Word</key>
		<string>nybakade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybebyggelse</string>
		<key>Word</key>
		<string>nybebyggelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybildade</string>
		<key>Word</key>
		<string>nybildade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyblivne</string>
		<key>Word</key>
		<string>nyblivne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybyggare</string>
		<key>Word</key>
		<string>nybyggare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybygge</string>
		<key>Word</key>
		<string>nybygge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybörjare</string>
		<key>Word</key>
		<string>nybörjare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckfullare</string>
		<key>Word</key>
		<string>nyckfullare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckfullaste</string>
		<key>Word</key>
		<string>nyckfullaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckfulle</string>
		<key>Word</key>
		<string>nyckfulle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nydanande</string>
		<key>Word</key>
		<string>nydanande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nydiskade</string>
		<key>Word</key>
		<string>nydiskade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nye</string>
		<key>Word</key>
		<string>nye</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyfiknare</string>
		<key>Word</key>
		<string>nyfiknare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyfiknaste</string>
		<key>Word</key>
		<string>nyfiknaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyfödde</string>
		<key>Word</key>
		<string>nyfödde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyföretagande</string>
		<key>Word</key>
		<string>nyföretagande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyföretagare</string>
		<key>Word</key>
		<string>nyföretagare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyförvärvade</string>
		<key>Word</key>
		<string>nyförvärvade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nygifte</string>
		<key>Word</key>
		<string>nygifte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsläge</string>
		<key>Word</key>
		<string>nyhetsläge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetstimme</string>
		<key>Word</key>
		<string>nyhetstimme</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsvärde</string>
		<key>Word</key>
		<string>nyhetsvärde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinflyttade</string>
		<key>Word</key>
		<string>nyinflyttade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinrättade</string>
		<key>Word</key>
		<string>nyinrättade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinstiftade</string>
		<key>Word</key>
		<string>nyinstiftade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nykterhetsloge</string>
		<key>Word</key>
		<string>nykterhetsloge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nykterhetsrörelse</string>
		<key>Word</key>
		<string>nykterhetsrörelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyktrade</string>
		<key>Word</key>
		<string>nyktrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyktrare</string>
		<key>Word</key>
		<string>nyktrare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyktraste</string>
		<key>Word</key>
		<string>nyktraste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymodigare</string>
		<key>Word</key>
		<string>nymodigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymodigaste</string>
		<key>Word</key>
		<string>nymodigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymodige</string>
		<key>Word</key>
		<string>nymodige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymornade</string>
		<key>Word</key>
		<string>nymornade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymåne</string>
		<key>Word</key>
		<string>nymåne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyplanterade</string>
		<key>Word</key>
		<string>nyplanterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyplogade</string>
		<key>Word</key>
		<string>nyplogade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyregistrerade</string>
		<key>Word</key>
		<string>nyregistrerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyskapade</string>
		<key>Word</key>
		<string>nyskapade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyskapande</string>
		<key>Word</key>
		<string>nyskapande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyslipade</string>
		<key>Word</key>
		<string>nyslipade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nystade</string>
		<key>Word</key>
		<string>nystade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nystartade</string>
		<key>Word</key>
		<string>nystartade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyste</string>
		<key>Word</key>
		<string>nyste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nytillkommande</string>
		<key>Word</key>
		<string>nytillkommande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nytillsatte</string>
		<key>Word</key>
		<string>nytillsatte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nytillverkade</string>
		<key>Word</key>
		<string>nytillverkade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttigare</string>
		<key>Word</key>
		<string>nyttigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttigaste</string>
		<key>Word</key>
		<string>nyttigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttige</string>
		<key>Word</key>
		<string>nyttige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttjade</string>
		<key>Word</key>
		<string>nyttjade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttjande</string>
		<key>Word</key>
		<string>nyttjande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nytänkande</string>
		<key>Word</key>
		<string>nytänkande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyuppförde</string>
		<key>Word</key>
		<string>nyuppförde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyvaknade</string>
		<key>Word</key>
		<string>nyvaknade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyvaknande</string>
		<key>Word</key>
		<string>nyvaknande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyvalde</string>
		<key>Word</key>
		<string>nyvalde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nämnande</string>
		<key>Word</key>
		<string>nämnande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nämnare</string>
		<key>Word</key>
		<string>nämnare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nämnde</string>
		<key>Word</key>
		<string>nämnde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nämnvärdare</string>
		<key>Word</key>
		<string>nämnvärdare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nämnvärdaste</string>
		<key>Word</key>
		<string>nämnvärdaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näpnare</string>
		<key>Word</key>
		<string>näpnare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näpnaste</string>
		<key>Word</key>
		<string>näpnaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näpste</string>
		<key>Word</key>
		<string>näpste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närande</string>
		<key>Word</key>
		<string>närande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närbesläktade</string>
		<key>Word</key>
		<string>närbesläktade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närde</string>
		<key>Word</key>
		<string>närde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsfattigare</string>
		<key>Word</key>
		<string>näringsfattigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsfattigaste</string>
		<key>Word</key>
		<string>näringsfattigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsforskare</string>
		<key>Word</key>
		<string>näringsforskare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsrikare</string>
		<key>Word</key>
		<string>näringsrikare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsrikaste</string>
		<key>Word</key>
		<string>näringsrikaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsämne</string>
		<key>Word</key>
		<string>näringsämne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närke</string>
		<key>Word</key>
		<string>Närke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närliggande</string>
		<key>Word</key>
		<string>närliggande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närmade</string>
		<key>Word</key>
		<string>närmade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närmare</string>
		<key>Word</key>
		<string>närmare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närmaste</string>
		<key>Word</key>
		<string>närmaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närmre</string>
		<key>Word</key>
		<string>närmre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närmste</string>
		<key>Word</key>
		<string>närmste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närstående</string>
		<key>Word</key>
		<string>närstående</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närvarade</string>
		<key>Word</key>
		<string>närvarade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närvarande</string>
		<key>Word</key>
		<string>närvarande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näsborre</string>
		<key>Word</key>
		<string>näsborre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näste</string>
		<key>Word</key>
		<string>näste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nästföljande</string>
		<key>Word</key>
		<string>nästföljande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nästkommande</string>
		<key>Word</key>
		<string>nästkommande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nästlade</string>
		<key>Word</key>
		<string>nästlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nätläsare</string>
		<key>Word</key>
		<string>nätläsare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näve</string>
		<key>Word</key>
		<string>näve</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nådde</string>
		<key>Word</key>
		<string>nådde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nåde</string>
		<key>Word</key>
		<string>nåde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nådigare</string>
		<key>Word</key>
		<string>nådigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nådigaste</string>
		<key>Word</key>
		<string>nådigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nådige</string>
		<key>Word</key>
		<string>nådige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nödgade</string>
		<key>Word</key>
		<string>nödgade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nödlidande</string>
		<key>Word</key>
		<string>nödlidande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nödsakade</string>
		<key>Word</key>
		<string>nödsakade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nödvändigare</string>
		<key>Word</key>
		<string>nödvändigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nödvändigaste</string>
		<key>Word</key>
		<string>nödvändigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nöjdare</string>
		<key>Word</key>
		<string>nöjdare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nöjdaste</string>
		<key>Word</key>
		<string>nöjdaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nöjde</string>
		<key>Word</key>
		<string>nöjde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nöje</string>
		<key>Word</key>
		<string>nöje</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nöjesguide</string>
		<key>Word</key>
		<string>nöjesguide</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nötte</string>
		<key>Word</key>
		<string>nötte</string>
	</dict>
</array>
</plist>
