<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naemi</string>
		<key>Word</key>
		<string>Naemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naftali</string>
		<key>Word</key>
		<string>Naftali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nairobi</string>
		<key>Word</key>
		<string>Nairobi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalekonomi</string>
		<key>Word</key>
		<string>nationalekonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalencyklopedi</string>
		<key>Word</key>
		<string>nationalencyklopedi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturgeografi</string>
		<key>Word</key>
		<string>naturgeografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neofili</string>
		<key>Word</key>
		<string>neofili</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neofobi</string>
		<key>Word</key>
		<string>neofobi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neonatologi</string>
		<key>Word</key>
		<string>neonatologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neri</string>
		<key>Word</key>
		<string>neri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neurofysiologi</string>
		<key>Word</key>
		<string>neurofysiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neurokirurgi</string>
		<key>Word</key>
		<string>neurokirurgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neurologi</string>
		<key>Word</key>
		<string>neurologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neuroradiologi</string>
		<key>Word</key>
		<string>neuroradiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ni</string>
		<key>Word</key>
		<string>ni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nicolai</string>
		<key>Word</key>
		<string>Nicolai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>niemi</string>
		<key>Word</key>
		<string>Niemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ninni</string>
		<key>Word</key>
		<string>Ninni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitti</string>
		<key>Word</key>
		<string>nitti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noi</string>
		<key>Word</key>
		<string>Noi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noomi</string>
		<key>Word</key>
		<string>Noomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nostalgi</string>
		<key>Word</key>
		<string>nostalgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>numeri</string>
		<key>Word</key>
		<string>Numeri</string>
	</dict>
</array>
</plist>
