<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nagellack</string>
		<key>Word</key>
		<string>nagellack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nanoteknik</string>
		<key>Word</key>
		<string>nanoteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narcissistisk</string>
		<key>Word</key>
		<string>narcissistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narkotisk</string>
		<key>Word</key>
		<string>narkotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narvik</string>
		<key>Word</key>
		<string>Narvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalekonomisk</string>
		<key>Word</key>
		<string>nationalekonomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalistisk</string>
		<key>Word</key>
		<string>nationalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalpark</string>
		<key>Word</key>
		<string>nationalpark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalsocialistisk</string>
		<key>Word</key>
		<string>nationalsocialistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturhistorisk</string>
		<key>Word</key>
		<string>naturhistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturvårdsverk</string>
		<key>Word</key>
		<string>naturvårdsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nazistisk</string>
		<key>Word</key>
		<string>nazistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nederländsk</string>
		<key>Word</key>
		<string>nederländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsänk</string>
		<key>Word</key>
		<string>nedsänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neurologisk</string>
		<key>Word</key>
		<string>neurologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neurotisk</string>
		<key>Word</key>
		<string>neurotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>newagebutik</string>
		<key>Word</key>
		<string>newagebutik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nibelungsk</string>
		<key>Word</key>
		<string>nibelungsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nick</string>
		<key>Word</key>
		<string>nick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nitisk</string>
		<key>Word</key>
		<string>nitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njursjuk</string>
		<key>Word</key>
		<string>njursjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noak</string>
		<key>Word</key>
		<string>Noak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordamerikansk</string>
		<key>Word</key>
		<string>nordamerikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordgermansk</string>
		<key>Word</key>
		<string>nordgermansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordisk</string>
		<key>Word</key>
		<string>nordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordsvensk</string>
		<key>Word</key>
		<string>nordsvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrbottnisk</string>
		<key>Word</key>
		<string>norrbottnisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrländsk</string>
		<key>Word</key>
		<string>norrländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norsk</string>
		<key>Word</key>
		<string>norsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nostalgisk</string>
		<key>Word</key>
		<string>nostalgisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>notorisk</string>
		<key>Word</key>
		<string>notorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nrk</string>
		<key>Word</key>
		<string>NRK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>numerisk</string>
		<key>Word</key>
		<string>numerisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nutek</string>
		<key>Word</key>
		<string>Nutek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybrink</string>
		<key>Word</key>
		<string>Nybrink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyck</string>
		<key>Word</key>
		<string>nyck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsrubrik</string>
		<key>Word</key>
		<string>nyhetsrubrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nynazistisk</string>
		<key>Word</key>
		<string>nynazistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nynorsk</string>
		<key>Word</key>
		<string>nynorsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyskick</string>
		<key>Word</key>
		<string>nyskick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näck</string>
		<key>Word</key>
		<string>näck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näringsrik</string>
		<key>Word</key>
		<string>näringsrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näsbypark</string>
		<key>Word</key>
		<string>Näsbypark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>näsduk</string>
		<key>Word</key>
		<string>näsduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nätmask</string>
		<key>Word</key>
		<string>nätmask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nätmusik</string>
		<key>Word</key>
		<string>nätmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nätverk</string>
		<key>Word</key>
		<string>nätverk</string>
	</dict>
</array>
</plist>
