<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nabal</string>
		<key>Word</key>
		<string>Nabal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nackdel</string>
		<key>Word</key>
		<string>nackdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nagel</string>
		<key>Word</key>
		<string>nagel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nasal</string>
		<key>Word</key>
		<string>nasal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natanael</string>
		<key>Word</key>
		<string>Natanael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>national</string>
		<key>Word</key>
		<string>national</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationell</string>
		<key>Word</key>
		<string>nationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattkarl</string>
		<key>Word</key>
		<string>nattkärl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturgodsel</string>
		<key>Word</key>
		<string>naturgödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturlakemedel</string>
		<key>Word</key>
		<string>naturläkemedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>navel</string>
		<key>Word</key>
		<string>navel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nazistarmbindel</string>
		<key>Word</key>
		<string>nazistarmbindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neapel</string>
		<key>Word</key>
		<string>Neapel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedantill</string>
		<key>Word</key>
		<string>nedantill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nederdel</string>
		<key>Word</key>
		<string>nederdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedfall</string>
		<key>Word</key>
		<string>nedfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkyl</string>
		<key>Word</key>
		<string>nedkyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtill</string>
		<key>Word</key>
		<string>nedtill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neil</string>
		<key>Word</key>
		<string>Neil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nekrofil</string>
		<key>Word</key>
		<string>nekrofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neonatal</string>
		<key>Word</key>
		<string>neonatal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nepal</string>
		<key>Word</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerfall</string>
		<key>Word</key>
		<string>nerfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerfoll</string>
		<key>Word</key>
		<string>nerföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nertill</string>
		<key>Word</key>
		<string>nertill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nervcell</string>
		<key>Word</key>
		<string>nervcell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>netanel</string>
		<key>Word</key>
		<string>Netanel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutral</string>
		<key>Word</key>
		<string>neutral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nhl</string>
		<key>Word</key>
		<string>NHL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nickel</string>
		<key>Word</key>
		<string>nickel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nifelhel</string>
		<key>Word</key>
		<string>Nifelhel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittiotal</string>
		<key>Word</key>
		<string>nittiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittonhundratal</string>
		<key>Word</key>
		<string>nittonhundratal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nobel</string>
		<key>Word</key>
		<string>nobel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>noll</string>
		<key>Word</key>
		<string>noll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nollstall</string>
		<key>Word</key>
		<string>nollställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nominell</string>
		<key>Word</key>
		<string>nominell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordpol</string>
		<key>Word</key>
		<string>nordpol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normal</string>
		<key>Word</key>
		<string>normal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrtull</string>
		<key>Word</key>
		<string>Norrtull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nortel</string>
		<key>Word</key>
		<string>Nortel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>novell</string>
		<key>Word</key>
		<string>novell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanstall</string>
		<key>Word</key>
		<string>nyanställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckel</string>
		<key>Word</key>
		<string>nyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckelhal</string>
		<key>Word</key>
		<string>nyckelhål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyckfull</string>
		<key>Word</key>
		<string>nyckfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyliberal</string>
		<key>Word</key>
		<string>nyliberal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttoforemal</string>
		<key>Word</key>
		<string>nyttoföremål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyval</string>
		<key>Word</key>
		<string>nyval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naktergal</string>
		<key>Word</key>
		<string>näktergal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nastintill</string>
		<key>Word</key>
		<string>nästintill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naswall</string>
		<key>Word</key>
		<string>Näswall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natbokhandel</string>
		<key>Word</key>
		<string>nätbokhandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nathandel</string>
		<key>Word</key>
		<string>näthandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natverksfel</string>
		<key>Word</key>
		<string>nätverksfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nadendal</string>
		<key>Word</key>
		<string>Nådendal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nal</string>
		<key>Word</key>
		<string>nål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naval</string>
		<key>Word</key>
		<string>nåväl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodfall</string>
		<key>Word</key>
		<string>nödfall</string>
	</dict>
</array>
</plist>
