<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>obligatorisk</string>
		<key>Word</key>
		<string>obligatorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>obstetrik</string>
		<key>Word</key>
		<string>obstetrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ock</string>
		<key>Word</key>
		<string>ock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odemokratisk</string>
		<key>Word</key>
		<string>odemokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odlingsmark</string>
		<key>Word</key>
		<string>odlingsmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odontologisk</string>
		<key>Word</key>
		<string>odontologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oekonomisk</string>
		<key>Word</key>
		<string>oekonomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oetisk</string>
		<key>Word</key>
		<string>oetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ohygienisk</string>
		<key>Word</key>
		<string>ohygienisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ojamlik</string>
		<key>Word</key>
		<string>ojämlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ok</string>
		<key>Word</key>
		<string>ok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oklok</string>
		<key>Word</key>
		<string>oklok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>okritisk</string>
		<key>Word</key>
		<string>okritisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olik</string>
		<key>Word</key>
		<string>olik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ologisk</string>
		<key>Word</key>
		<string>ologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olympisk</string>
		<key>Word</key>
		<string>olympisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omak</string>
		<key>Word</key>
		<string>omak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omfangsrik</string>
		<key>Word</key>
		<string>omfångsrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omoralisk</string>
		<key>Word</key>
		<string>omoralisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onomatopoetisk</string>
		<key>Word</key>
		<string>onomatopoetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onordisk</string>
		<key>Word</key>
		<string>onordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oorganisk</string>
		<key>Word</key>
		<string>oorganisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>opak</string>
		<key>Word</key>
		<string>opak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>opartisk</string>
		<key>Word</key>
		<string>opartisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>operaverk</string>
		<key>Word</key>
		<string>operaverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>opraktisk</string>
		<key>Word</key>
		<string>opraktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oproblematisk</string>
		<key>Word</key>
		<string>oproblematisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>optik</string>
		<key>Word</key>
		<string>optik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>optimistisk</string>
		<key>Word</key>
		<string>optimistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>optisk</string>
		<key>Word</key>
		<string>optisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordbok</string>
		<key>Word</key>
		<string>ordbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordlek</string>
		<key>Word</key>
		<string>ordlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordsprak</string>
		<key>Word</key>
		<string>ordspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orealistisk</string>
		<key>Word</key>
		<string>orealistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>organisatorisk</string>
		<key>Word</key>
		<string>organisatorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>organisk</string>
		<key>Word</key>
		<string>organisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orientalisk</string>
		<key>Word</key>
		<string>orientalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>originalsprak</string>
		<key>Word</key>
		<string>originalspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ork</string>
		<key>Word</key>
		<string>ork</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ormvrak</string>
		<key>Word</key>
		<string>ormvråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orsak</string>
		<key>Word</key>
		<string>orsak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortografisk</string>
		<key>Word</key>
		<string>ortografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortopedisk</string>
		<key>Word</key>
		<string>ortopedisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osannolik</string>
		<key>Word</key>
		<string>osannolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oskotsk</string>
		<key>Word</key>
		<string>oskotsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osmansk</string>
		<key>Word</key>
		<string>osmansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osnabruck</string>
		<key>Word</key>
		<string>Osnabrück</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ostindisk</string>
		<key>Word</key>
		<string>ostindisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osvensk</string>
		<key>Word</key>
		<string>osvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osympatisk</string>
		<key>Word</key>
		<string>osympatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>otack</string>
		<key>Word</key>
		<string>otack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>otack</string>
		<key>Word</key>
		<string>otäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>outlook</string>
		<key>Word</key>
		<string>Outlook</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ovanjordisk</string>
		<key>Word</key>
		<string>ovanjordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odemark</string>
		<key>Word</key>
		<string>ödemark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odmjuk</string>
		<key>Word</key>
		<string>ödmjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ogonblick</string>
		<key>Word</key>
		<string>ögonblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ogonlock</string>
		<key>Word</key>
		<string>ögonlock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ok</string>
		<key>Word</key>
		<string>ök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>okstock</string>
		<key>Word</key>
		<string>ökstock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olburk</string>
		<key>Word</key>
		<string>ölburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osterlandsk</string>
		<key>Word</key>
		<string>österländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osterrikisk</string>
		<key>Word</key>
		<string>österrikisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osteuropeisk</string>
		<key>Word</key>
		<string>östeuropeisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ostgotsk</string>
		<key>Word</key>
		<string>östgötsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ostromersk</string>
		<key>Word</key>
		<string>östromersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ostsibirisk</string>
		<key>Word</key>
		<string>östsibirisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osttysk</string>
		<key>Word</key>
		<string>östtysk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overblick</string>
		<key>Word</key>
		<string>överblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overgick</string>
		<key>Word</key>
		<string>övergick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overjordisk</string>
		<key>Word</key>
		<string>överjordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overrock</string>
		<key>Word</key>
		<string>överrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overstank</string>
		<key>Word</key>
		<string>överstänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oversattningslank</string>
		<key>Word</key>
		<string>översättningslänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overtack</string>
		<key>Word</key>
		<string>övertäck</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Ornskoldsvik</string>
		<key>Word</key>
		<string>Örnsköldsvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Ostermark</string>
		<key>Word</key>
		<string>Östermark</string>
	</dict>
</array>
</plist>
