<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>objekttyp</string>
		<key>Word</key>
		<string>objekttyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>offentlighetsprincip</string>
		<key>Word</key>
		<string>offentlighetsprincip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>okunskap</string>
		<key>Word</key>
		<string>okunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omlopp</string>
		<key>Word</key>
		<string>omlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omsvep</string>
		<key>Word</key>
		<string>omsvep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>operasallskap</string>
		<key>Word</key>
		<string>operasällskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>opp</string>
		<key>Word</key>
		<string>opp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordforandeskap</string>
		<key>Word</key>
		<string>ordförandeskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oretorp</string>
		<key>Word</key>
		<string>Oretorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oscilloskop</string>
		<key>Word</key>
		<string>oscilloskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ogrupp</string>
		<key>Word</key>
		<string>ögrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olstop</string>
		<key>Word</key>
		<string>ölstop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overgrepp</string>
		<key>Word</key>
		<string>övergrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overlapp</string>
		<key>Word</key>
		<string>överläpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overtramp</string>
		<key>Word</key>
		<string>övertramp</string>
	</dict>
</array>
</plist>
