<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>objektiv</string>
		<key>Word</key>
		<string>objektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>offensiv</string>
		<key>Word</key>
		<string>offensiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oktav</string>
		<key>Word</key>
		<string>oktav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olav</string>
		<key>Word</key>
		<string>Olav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oliv</string>
		<key>Word</key>
		<string>oliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olov</string>
		<key>Word</key>
		<string>Olov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omgav</string>
		<key>Word</key>
		<string>omgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omgiv</string>
		<key>Word</key>
		<string>omgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omskrev</string>
		<key>Word</key>
		<string>omskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omskriv</string>
		<key>Word</key>
		<string>omskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omvalv</string>
		<key>Word</key>
		<string>omvälv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>operativ</string>
		<key>Word</key>
		<string>operativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordstav</string>
		<key>Word</key>
		<string>ordstäv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orlov</string>
		<key>Word</key>
		<string>orlov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortnamnsarkiv</string>
		<key>Word</key>
		<string>ortnamnsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osv</string>
		<key>Word</key>
		<string>osv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overdrev</string>
		<key>Word</key>
		<string>överdrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overdriv</string>
		<key>Word</key>
		<string>överdriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overgav</string>
		<key>Word</key>
		<string>övergav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overgiv</string>
		<key>Word</key>
		<string>övergiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overlev</string>
		<key>Word</key>
		<string>överlev</string>
	</dict>
</array>
</plist>
