<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>packad</string>
		<key>Word</key>
		<string>packad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paddlad</string>
		<key>Word</key>
		<string>paddlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pajad</string>
		<key>Word</key>
		<string>pajad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paketerad</string>
		<key>Word</key>
		<string>paketerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pallad</string>
		<key>Word</key>
		<string>pallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palmblad</string>
		<key>Word</key>
		<string>palmblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palmemord</string>
		<key>Word</key>
		<string>Palmemord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paltbrod</string>
		<key>Word</key>
		<string>paltbröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panoramabild</string>
		<key>Word</key>
		<string>panoramabild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panorerad</string>
		<key>Word</key>
		<string>panorerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pantad</string>
		<key>Word</key>
		<string>pantad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pappersbaserad</string>
		<key>Word</key>
		<string>pappersbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parad</string>
		<key>Word</key>
		<string>parad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parafraserad</string>
		<key>Word</key>
		<string>parafraserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parallellkopplad</string>
		<key>Word</key>
		<string>parallellkopplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paralyserad</string>
		<key>Word</key>
		<string>paralyserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parametriserad</string>
		<key>Word</key>
		<string>parametriserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paranoid</string>
		<key>Word</key>
		<string>paranoid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parerad</string>
		<key>Word</key>
		<string>parerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parkerad</string>
		<key>Word</key>
		<string>parkerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passad</string>
		<key>Word</key>
		<string>passad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passerad</string>
		<key>Word</key>
		<string>passerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passionerad</string>
		<key>Word</key>
		<string>passionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passiviserad</string>
		<key>Word</key>
		<string>passiviserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patchad</string>
		<key>Word</key>
		<string>patchad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pausad</string>
		<key>Word</key>
		<string>pausad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pegamoid</string>
		<key>Word</key>
		<string>pegamoid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pejlad</string>
		<key>Word</key>
		<string>pejlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pekad</string>
		<key>Word</key>
		<string>pekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pelarstod</string>
		<key>Word</key>
		<string>pelarstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>penetrerad</string>
		<key>Word</key>
		<string>penetrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>penningmangd</string>
		<key>Word</key>
		<string>penningmängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensionerad</string>
		<key>Word</key>
		<string>pensionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensionsbesked</string>
		<key>Word</key>
		<string>pensionsbesked</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensionarsbostad</string>
		<key>Word</key>
		<string>pensionärsbostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>penslad</string>
		<key>Word</key>
		<string>penslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peppad</string>
		<key>Word</key>
		<string>peppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pepparkakeland</string>
		<key>Word</key>
		<string>pepparkakeland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pepprad</string>
		<key>Word</key>
		<string>pepprad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perforerad</string>
		<key>Word</key>
		<string>perforerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>period</string>
		<key>Word</key>
		<string>period</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>periodiserad</string>
		<key>Word</key>
		<string>periodiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>permanentad</string>
		<key>Word</key>
		<string>permanentad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>permuterad</string>
		<key>Word</key>
		<string>permuterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pernelid</string>
		<key>Word</key>
		<string>Pernelid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personifierad</string>
		<key>Word</key>
		<string>personifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personuppgiftsskydd</string>
		<key>Word</key>
		<string>personuppgiftsskydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perverterad</string>
		<key>Word</key>
		<string>perverterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pestdrabbad</string>
		<key>Word</key>
		<string>pestdrabbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petad</string>
		<key>Word</key>
		<string>petad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pilgrimsfard</string>
		<key>Word</key>
		<string>pilgrimsfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pilkad</string>
		<key>Word</key>
		<string>pilkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pillad</string>
		<key>Word</key>
		<string>pillad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pimplad</string>
		<key>Word</key>
		<string>pimplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pinad</string>
		<key>Word</key>
		<string>pinad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pingtid</string>
		<key>Word</key>
		<string>pingtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pingvinvarld</string>
		<key>Word</key>
		<string>pingvinvärld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pirat-cd</string>
		<key>Word</key>
		<string>pirat-CD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pirat-cd</string>
		<key>Word</key>
		<string>pirat-cd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piratkopierad</string>
		<key>Word</key>
		<string>piratkopierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piskad</string>
		<key>Word</key>
		<string>piskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pixlad</string>
		<key>Word</key>
		<string>pixlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pizzabud</string>
		<key>Word</key>
		<string>pizzabud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>placerad</string>
		<key>Word</key>
		<string>placerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planerad</string>
		<key>Word</key>
		<string>planerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planlagd</string>
		<key>Word</key>
		<string>planlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planterad</string>
		<key>Word</key>
		<string>planterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plattad</string>
		<key>Word</key>
		<string>plattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plockad</string>
		<key>Word</key>
		<string>plockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plomberad</string>
		<key>Word</key>
		<string>plomberad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plottad</string>
		<key>Word</key>
		<string>plottad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plundrad</string>
		<key>Word</key>
		<string>plundrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plywood</string>
		<key>Word</key>
		<string>plywood</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plagad</string>
		<key>Word</key>
		<string>plägad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plagad</string>
		<key>Word</key>
		<string>plågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastrad</string>
		<key>Word</key>
		<string>plåstrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>platad</string>
		<key>Word</key>
		<string>plåtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plojd</string>
		<key>Word</key>
		<string>plöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polariserad</string>
		<key>Word</key>
		<string>polariserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polemiserad</string>
		<key>Word</key>
		<string>polemiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polerad</string>
		<key>Word</key>
		<string>polerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polisanmald</string>
		<key>Word</key>
		<string>polisanmäld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pollad</string>
		<key>Word</key>
		<string>pollad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popband</string>
		<key>Word</key>
		<string>popband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>populariserad</string>
		<key>Word</key>
		<string>populariserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>porrbild</string>
		<key>Word</key>
		<string>porrbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>porsehed</string>
		<key>Word</key>
		<string>Porsehed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portad</string>
		<key>Word</key>
		<string>portad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>porterad</string>
		<key>Word</key>
		<string>porterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portland</string>
		<key>Word</key>
		<string>Portland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portscannad</string>
		<key>Word</key>
		<string>portscannad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poserad</string>
		<key>Word</key>
		<string>poserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>positionerad</string>
		<key>Word</key>
		<string>positionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postad</string>
		<key>Word</key>
		<string>postad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postadressrad</string>
		<key>Word</key>
		<string>postadressrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>posterad</string>
		<key>Word</key>
		<string>posterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postulerad</string>
		<key>Word</key>
		<string>postulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potatisjord</string>
		<key>Word</key>
		<string>potatisjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potatissallad</string>
		<key>Word</key>
		<string>potatissallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poangterad</string>
		<key>Word</key>
		<string>poängterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>praktiserad</string>
		<key>Word</key>
		<string>praktiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pratad</string>
		<key>Word</key>
		<string>pratad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pratstund</string>
		<key>Word</key>
		<string>pratstund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preciserad</string>
		<key>Word</key>
		<string>preciserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>predikad</string>
		<key>Word</key>
		<string>predikad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>premierad</string>
		<key>Word</key>
		<string>premierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>premiarvisad</string>
		<key>Word</key>
		<string>premiärvisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preparand</string>
		<key>Word</key>
		<string>preparand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preparerad</string>
		<key>Word</key>
		<string>preparerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presenterad</string>
		<key>Word</key>
		<string>presenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pressad</string>
		<key>Word</key>
		<string>pressad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pressbild</string>
		<key>Word</key>
		<string>pressbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presstod</string>
		<key>Word</key>
		<string>presstöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prickad</string>
		<key>Word</key>
		<string>prickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prioriterad</string>
		<key>Word</key>
		<string>prioriterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisad</string>
		<key>Word</key>
		<string>prisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisnominerad</string>
		<key>Word</key>
		<string>prisnominerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisskillnad</string>
		<key>Word</key>
		<string>prisskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisvard</string>
		<key>Word</key>
		<string>prisvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privatbostad</string>
		<key>Word</key>
		<string>privatbostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privatimporterad</string>
		<key>Word</key>
		<string>privatimporterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privilegierad</string>
		<key>Word</key>
		<string>privilegierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>probad</string>
		<key>Word</key>
		<string>probad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>problematiserad</string>
		<key>Word</key>
		<string>problematiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>processad</string>
		<key>Word</key>
		<string>processad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>producerad</string>
		<key>Word</key>
		<string>producerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produkt-id</string>
		<key>Word</key>
		<string>produkt-ID</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produkt-id</string>
		<key>Word</key>
		<string>produkt-id</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktifierad</string>
		<key>Word</key>
		<string>produktifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>professionaliserad</string>
		<key>Word</key>
		<string>professionaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>profeterad</string>
		<key>Word</key>
		<string>profeterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>profilerad</string>
		<key>Word</key>
		<string>profilerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proggband</string>
		<key>Word</key>
		<string>proggband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prognostiserad</string>
		<key>Word</key>
		<string>prognostiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programkod</string>
		<key>Word</key>
		<string>programkod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programmerad</string>
		<key>Word</key>
		<string>programmerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projektstod</string>
		<key>Word</key>
		<string>projektstöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projicerad</string>
		<key>Word</key>
		<string>projicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proklamerad</string>
		<key>Word</key>
		<string>proklamerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>promenad</string>
		<key>Word</key>
		<string>promenad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>promoverad</string>
		<key>Word</key>
		<string>promoverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>promptad</string>
		<key>Word</key>
		<string>promptad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proportionerad</string>
		<key>Word</key>
		<string>proportionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proppad</string>
		<key>Word</key>
		<string>proppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prostgard</string>
		<key>Word</key>
		<string>prostgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prostituerad</string>
		<key>Word</key>
		<string>prostituerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protokollford</string>
		<key>Word</key>
		<string>protokollförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provad</string>
		<key>Word</key>
		<string>provad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provinshuvudstad</string>
		<key>Word</key>
		<string>provinshuvudstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provkord</string>
		<key>Word</key>
		<string>provkörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provocerad</string>
		<key>Word</key>
		<string>provocerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prutad</string>
		<key>Word</key>
		<string>prutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pryd</string>
		<key>Word</key>
		<string>pryd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prydd</string>
		<key>Word</key>
		<string>prydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prydnad</string>
		<key>Word</key>
		<string>prydnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>praglad</string>
		<key>Word</key>
		<string>präglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prantad</string>
		<key>Word</key>
		<string>präntad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prastgard</string>
		<key>Word</key>
		<string>prästgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prastvigd</string>
		<key>Word</key>
		<string>prästvigd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provad</string>
		<key>Word</key>
		<string>prövad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provningstid</string>
		<key>Word</key>
		<string>prövningstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>publicerad</string>
		<key>Word</key>
		<string>publicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>publikljud</string>
		<key>Word</key>
		<string>publikljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pudrad</string>
		<key>Word</key>
		<string>pudrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pumpad</string>
		<key>Word</key>
		<string>pumpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pund</string>
		<key>Word</key>
		<string>pund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>punkband</string>
		<key>Word</key>
		<string>punkband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>punkterad</string>
		<key>Word</key>
		<string>punkterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purprad</string>
		<key>Word</key>
		<string>purprad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purpurfargad</string>
		<key>Word</key>
		<string>purpurfärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purpurrod</string>
		<key>Word</key>
		<string>purpurröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purrad</string>
		<key>Word</key>
		<string>purrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>putsad</string>
		<key>Word</key>
		<string>putsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyntad</string>
		<key>Word</key>
		<string>pyntad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyramid</string>
		<key>Word</key>
		<string>pyramid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyromandad</string>
		<key>Word</key>
		<string>pyromandåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paijanne-tavastland</string>
		<key>Word</key>
		<string>Päijänne-Tavastland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parlband</string>
		<key>Word</key>
		<string>pärlband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pabjud</string>
		<key>Word</key>
		<string>påbjud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pabjod</string>
		<key>Word</key>
		<string>påbjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pabud</string>
		<key>Word</key>
		<string>påbud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pabyggnad</string>
		<key>Word</key>
		<string>påbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paborjad</string>
		<key>Word</key>
		<string>påbörjad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>padyvlad</string>
		<key>Word</key>
		<string>pådyvlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pafund</string>
		<key>Word</key>
		<string>påfund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pafyllnad</string>
		<key>Word</key>
		<string>påfyllnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pafoljd</string>
		<key>Word</key>
		<string>påföljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paford</string>
		<key>Word</key>
		<string>påförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pahejad</string>
		<key>Word</key>
		<string>påhejad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pahittad</string>
		<key>Word</key>
		<string>påhittad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pahoppad</string>
		<key>Word</key>
		<string>påhoppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pakallad</string>
		<key>Word</key>
		<string>påkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pakladd</string>
		<key>Word</key>
		<string>påklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pakostad</string>
		<key>Word</key>
		<string>påkostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palagd</string>
		<key>Word</key>
		<string>pålagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pamind</string>
		<key>Word</key>
		<string>påmind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panyttfodd</string>
		<key>Word</key>
		<string>pånyttfödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>papekad</string>
		<key>Word</key>
		<string>påpekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paraknad</string>
		<key>Word</key>
		<string>påräknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paskhogtid</string>
		<key>Word</key>
		<string>påskhögtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paskyndad</string>
		<key>Word</key>
		<string>påskyndad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pasprayad</string>
		<key>Word</key>
		<string>påsprayad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pastod</string>
		<key>Word</key>
		<string>påstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pastadd</string>
		<key>Word</key>
		<string>påstådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patalad</string>
		<key>Word</key>
		<string>påtalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patraffad</string>
		<key>Word</key>
		<string>påträffad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patvingad</string>
		<key>Word</key>
		<string>påtvingad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paverkad</string>
		<key>Word</key>
		<string>påverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pavisad</string>
		<key>Word</key>
		<string>påvisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paokad</string>
		<key>Word</key>
		<string>påökad</string>
	</dict>
</array>
</plist>
