<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>packning</string>
		<key>Word</key>
		<string>packning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paddling</string>
		<key>Word</key>
		<string>paddling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paginering</string>
		<key>Word</key>
		<string>paginering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pajdeg</string>
		<key>Word</key>
		<string>pajdeg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pajkastning</string>
		<key>Word</key>
		<string>pajkastning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paketdistributionsforetag</string>
		<key>Word</key>
		<string>paketdistributionsföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paketering</string>
		<key>Word</key>
		<string>paketering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paketfiltrering</string>
		<key>Word</key>
		<string>paketfiltrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paleontolog</string>
		<key>Word</key>
		<string>paleontolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pampig</string>
		<key>Word</key>
		<string>pampig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panorering</string>
		<key>Word</key>
		<string>panorering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pansartag</string>
		<key>Word</key>
		<string>pansartåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pantning</string>
		<key>Word</key>
		<string>pantning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pappaledig</string>
		<key>Word</key>
		<string>pappaledig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pappershandling</string>
		<key>Word</key>
		<string>pappershandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>papperskorg</string>
		<key>Word</key>
		<string>papperskorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pappig</string>
		<key>Word</key>
		<string>pappig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parallellkoppling</string>
		<key>Word</key>
		<string>parallellkoppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parbladig</string>
		<key>Word</key>
		<string>parbladig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parkering</string>
		<key>Word</key>
		<string>parkering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parkforvaltning</string>
		<key>Word</key>
		<string>parkförvaltning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parning</string>
		<key>Word</key>
		<string>parning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parprogrammering</string>
		<key>Word</key>
		<string>parprogrammering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partiavdelning</string>
		<key>Word</key>
		<string>partiavdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partiledning</string>
		<key>Word</key>
		<string>partiledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partaig</string>
		<key>Word</key>
		<string>partåig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passering</string>
		<key>Word</key>
		<string>passering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passning</string>
		<key>Word</key>
		<string>passning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patolog</string>
		<key>Word</key>
		<string>patolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paviljong</string>
		<key>Word</key>
		<string>paviljong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pdf-tidning</string>
		<key>Word</key>
		<string>PDF-tidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedagog</string>
		<key>Word</key>
		<string>pedagog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peering</string>
		<key>Word</key>
		<string>peering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pejling</string>
		<key>Word</key>
		<string>pejling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peking</string>
		<key>Word</key>
		<string>Peking</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pendeltag</string>
		<key>Word</key>
		<string>pendeltåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pendling</string>
		<key>Word</key>
		<string>pendling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peng</string>
		<key>Word</key>
		<string>peng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>penndrag</string>
		<key>Word</key>
		<string>penndrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>penning</string>
		<key>Word</key>
		<string>penning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensionsmassig</string>
		<key>Word</key>
		<string>pensionsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensling</string>
		<key>Word</key>
		<string>pensling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pepparkaksdeg</string>
		<key>Word</key>
		<string>pepparkaksdeg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perforering</string>
		<key>Word</key>
		<string>perforering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perrong</string>
		<key>Word</key>
		<string>perrong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personalneddragning</string>
		<key>Word</key>
		<string>personalneddragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personbeskrivning</string>
		<key>Word</key>
		<string>personbeskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personbilstillverkning</string>
		<key>Word</key>
		<string>personbilstillverkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personlig</string>
		<key>Word</key>
		<string>personlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personlighetsklyvning</string>
		<key>Word</key>
		<string>personlighetsklyvning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personskildring</string>
		<key>Word</key>
		<string>personskildring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personteckning</string>
		<key>Word</key>
		<string>personteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personuppgiftslag</string>
		<key>Word</key>
		<string>personuppgiftslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petersburg</string>
		<key>Word</key>
		<string>Petersburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petig</string>
		<key>Word</key>
		<string>petig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pigg</string>
		<key>Word</key>
		<string>pigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pilkastning</string>
		<key>Word</key>
		<string>pilkastning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ping</string>
		<key>Word</key>
		<string>ping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pingstdag</string>
		<key>Word</key>
		<string>pingstdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pingsthelg</string>
		<key>Word</key>
		<string>pingsthelg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pinneberg</string>
		<key>Word</key>
		<string>Pinneberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pipig</string>
		<key>Word</key>
		<string>pipig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pipskagg</string>
		<key>Word</key>
		<string>pipskägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piratkopiering</string>
		<key>Word</key>
		<string>piratkopiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pjakig</string>
		<key>Word</key>
		<string>pjåkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>placering</string>
		<key>Word</key>
		<string>placering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plagg</string>
		<key>Word</key>
		<string>plagg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plagiering</string>
		<key>Word</key>
		<string>plagiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planering</string>
		<key>Word</key>
		<string>planering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planing</string>
		<key>Word</key>
		<string>planing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planlagg</string>
		<key>Word</key>
		<string>planlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planlaggning</string>
		<key>Word</key>
		<string>planläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plantering</string>
		<key>Word</key>
		<string>plantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastikkirurg</string>
		<key>Word</key>
		<string>plastikkirurg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pling</string>
		<key>Word</key>
		<string>pling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plog</string>
		<key>Word</key>
		<string>plog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plombering</string>
		<key>Word</key>
		<string>plombering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plugg</string>
		<key>Word</key>
		<string>plugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plundring</string>
		<key>Word</key>
		<string>plundring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pluspoang</string>
		<key>Word</key>
		<string>pluspoäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plutoniumframstallning</string>
		<key>Word</key>
		<string>plutoniumframställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plang</string>
		<key>Word</key>
		<string>plång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plotslig</string>
		<key>Word</key>
		<string>plötslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polarisering</string>
		<key>Word</key>
		<string>polarisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polig</string>
		<key>Word</key>
		<string>polig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polistjanstgoring</string>
		<key>Word</key>
		<string>polistjänstgöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pollinering</string>
		<key>Word</key>
		<string>pollinering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poppig</string>
		<key>Word</key>
		<string>poppig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popularisering</string>
		<key>Word</key>
		<string>popularisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popularteolog</string>
		<key>Word</key>
		<string>populärteolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popularvetenskaplig</string>
		<key>Word</key>
		<string>populärvetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portscanning</string>
		<key>Word</key>
		<string>portscanning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>positionsforandring</string>
		<key>Word</key>
		<string>positionsförändring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postgang</string>
		<key>Word</key>
		<string>postgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postning</string>
		<key>Word</key>
		<string>postning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postrostning</string>
		<key>Word</key>
		<string>poströstning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potatisgratang</string>
		<key>Word</key>
		<string>potatisgratäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potentialvandring</string>
		<key>Word</key>
		<string>potentialvandring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poang</string>
		<key>Word</key>
		<string>poäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prag</string>
		<key>Word</key>
		<string>Prag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pratig</string>
		<key>Word</key>
		<string>pratig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>precisering</string>
		<key>Word</key>
		<string>precisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>predikning</string>
		<key>Word</key>
		<string>predikning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presenning</string>
		<key>Word</key>
		<string>presenning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prestandamatning</string>
		<key>Word</key>
		<string>prestandamätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prickig</string>
		<key>Word</key>
		<string>prickig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>principuppsattning</string>
		<key>Word</key>
		<string>principuppsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prioritering</string>
		<key>Word</key>
		<string>prioritering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>priskrig</string>
		<key>Word</key>
		<string>priskrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prissankning</string>
		<key>Word</key>
		<string>prissänkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prissattning</string>
		<key>Word</key>
		<string>prissättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisutdelning</string>
		<key>Word</key>
		<string>prisutdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisutveckling</string>
		<key>Word</key>
		<string>prisutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privatisering</string>
		<key>Word</key>
		<string>privatisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privatkopiering</string>
		<key>Word</key>
		<string>privatkopiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>problemlosning</string>
		<key>Word</key>
		<string>problemlösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>problemstallning</string>
		<key>Word</key>
		<string>problemställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>processortillverkning</string>
		<key>Word</key>
		<string>processortillverkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>processprogrammering</string>
		<key>Word</key>
		<string>processprogrammering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktifiering</string>
		<key>Word</key>
		<string>produktifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktplacering</string>
		<key>Word</key>
		<string>produktplacering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>professionalisering</string>
		<key>Word</key>
		<string>professionalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proffsig</string>
		<key>Word</key>
		<string>proffsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>progg</string>
		<key>Word</key>
		<string>progg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programansvarig</string>
		<key>Word</key>
		<string>programansvarig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programmerarutbildning</string>
		<key>Word</key>
		<string>programmerarutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programmering</string>
		<key>Word</key>
		<string>programmering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programmeringskunnig</string>
		<key>Word</key>
		<string>programmeringskunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programutveckling</string>
		<key>Word</key>
		<string>programutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projektering</string>
		<key>Word</key>
		<string>projektering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projektledning</string>
		<key>Word</key>
		<string>projektledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projektstyrning</string>
		<key>Word</key>
		<string>projektstyrning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prolog</string>
		<key>Word</key>
		<string>prolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>promovering</string>
		<key>Word</key>
		<string>promovering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proportionerlig</string>
		<key>Word</key>
		<string>proportionerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protesttag</string>
		<key>Word</key>
		<string>protesttåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provkorning</string>
		<key>Word</key>
		<string>provkörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provning</string>
		<key>Word</key>
		<string>provning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provsmakning</string>
		<key>Word</key>
		<string>provsmakning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prudentlig</string>
		<key>Word</key>
		<string>prudentlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prutning</string>
		<key>Word</key>
		<string>prutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prydlig</string>
		<key>Word</key>
		<string>prydlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prylgalning</string>
		<key>Word</key>
		<string>prylgalning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pryltorg</string>
		<key>Word</key>
		<string>pryltorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>praktig</string>
		<key>Word</key>
		<string>präktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prasterlig</string>
		<key>Word</key>
		<string>prästerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prastvig</string>
		<key>Word</key>
		<string>prästvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prastvigning</string>
		<key>Word</key>
		<string>prästvigning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pralig</string>
		<key>Word</key>
		<string>prålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provning</string>
		<key>Word</key>
		<string>prövning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pseudovetenskaplig</string>
		<key>Word</key>
		<string>pseudovetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykolog</string>
		<key>Word</key>
		<string>psykolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykologisering</string>
		<key>Word</key>
		<string>psykologisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykologutbildning</string>
		<key>Word</key>
		<string>psykologutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>publicering</string>
		<key>Word</key>
		<string>publicering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>publikvanlig</string>
		<key>Word</key>
		<string>publikvänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puckelrygg</string>
		<key>Word</key>
		<string>puckelrygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puckelryggig</string>
		<key>Word</key>
		<string>puckelryggig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pudding</string>
		<key>Word</key>
		<string>pudding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pulkaakning</string>
		<key>Word</key>
		<string>pulkaåkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pulsslag</string>
		<key>Word</key>
		<string>pulsslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pung</string>
		<key>Word</key>
		<string>pung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>punktering</string>
		<key>Word</key>
		<string>punktering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purpurfarg</string>
		<key>Word</key>
		<string>purpurfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>putsning</string>
		<key>Word</key>
		<string>putsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyongyang</string>
		<key>Word</key>
		<string>Pyongyang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>padrag</string>
		<key>Word</key>
		<string>pådrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>padyvling</string>
		<key>Word</key>
		<string>pådyvling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pafrestning</string>
		<key>Word</key>
		<string>påfrestning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pafyllning</string>
		<key>Word</key>
		<string>påfyllning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pag</string>
		<key>Word</key>
		<string>påg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pahalsning</string>
		<key>Word</key>
		<string>påhälsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pahang</string>
		<key>Word</key>
		<string>påhäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palagring</string>
		<key>Word</key>
		<string>pålagring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palitlig</string>
		<key>Word</key>
		<string>pålitlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palning</string>
		<key>Word</key>
		<string>pålning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palagg</string>
		<key>Word</key>
		<string>pålägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paringning</string>
		<key>Word</key>
		<string>påringning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paslag</string>
		<key>Word</key>
		<string>påslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patag</string>
		<key>Word</key>
		<string>påtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pataglig</string>
		<key>Word</key>
		<string>påtaglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patog</string>
		<key>Word</key>
		<string>påtog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patryckning</string>
		<key>Word</key>
		<string>påtryckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patrang</string>
		<key>Word</key>
		<string>påträng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pavlig</string>
		<key>Word</key>
		<string>påvlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>posig</string>
		<key>Word</key>
		<string>pösig</string>
	</dict>
</array>
</plist>
