<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pacifistisk</string>
		<key>Word</key>
		<string>pacifistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pack</string>
		<key>Word</key>
		<string>pack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pak</string>
		<key>Word</key>
		<string>Pak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palahniuk</string>
		<key>Word</key>
		<string>Palahniuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paleontologsk</string>
		<key>Word</key>
		<string>paleontologsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palestinsk</string>
		<key>Word</key>
		<string>palestinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panik</string>
		<key>Word</key>
		<string>panik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pantbank</string>
		<key>Word</key>
		<string>pantbank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pappersark</string>
		<key>Word</key>
		<string>pappersark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pappersbruk</string>
		<key>Word</key>
		<string>pappersbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parabolisk</string>
		<key>Word</key>
		<string>parabolisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parentetisk</string>
		<key>Word</key>
		<string>parentetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>park</string>
		<key>Word</key>
		<string>park</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parlamentarisk</string>
		<key>Word</key>
		<string>parlamentarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parnevik</string>
		<key>Word</key>
		<string>Parnevik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partipolitik</string>
		<key>Word</key>
		<string>partipolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partipolitisk</string>
		<key>Word</key>
		<string>partipolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partisk</string>
		<key>Word</key>
		<string>partisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pasok</string>
		<key>Word</key>
		<string>Pasok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pasternak</string>
		<key>Word</key>
		<string>Pasternak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patafysik</string>
		<key>Word</key>
		<string>patafysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patentverk</string>
		<key>Word</key>
		<string>patentverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patetisk</string>
		<key>Word</key>
		<string>patetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patologisk</string>
		<key>Word</key>
		<string>patologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patriark</string>
		<key>Word</key>
		<string>patriark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patriarkalisk</string>
		<key>Word</key>
		<string>patriarkalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patrick</string>
		<key>Word</key>
		<string>Patrick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patrik</string>
		<key>Word</key>
		<string>Patrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patriotisk</string>
		<key>Word</key>
		<string>patriotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peak</string>
		<key>Word</key>
		<string>peak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedagogik</string>
		<key>Word</key>
		<string>pedagogik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedagogisk</string>
		<key>Word</key>
		<string>pedagogisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedantisk</string>
		<key>Word</key>
		<string>pedantisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>per-ulrik</string>
		<key>Word</key>
		<string>Per-Ulrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>periodisk</string>
		<key>Word</key>
		<string>periodisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>persisk</string>
		<key>Word</key>
		<string>persisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peruk</string>
		<key>Word</key>
		<string>peruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pessimistisk</string>
		<key>Word</key>
		<string>pessimistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petropavlovsk</string>
		<key>Word</key>
		<string>Petropavlovsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petrosavodsk</string>
		<key>Word</key>
		<string>Petrosavodsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pick</string>
		<key>Word</key>
		<string>pick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>picknick</string>
		<key>Word</key>
		<string>picknick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pietistisk</string>
		<key>Word</key>
		<string>pietistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pik</string>
		<key>Word</key>
		<string>pik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pilfink</string>
		<key>Word</key>
		<string>pilfink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pisk</string>
		<key>Word</key>
		<string>pisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pittoresk</string>
		<key>Word</key>
		<string>pittoresk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pjosk</string>
		<key>Word</key>
		<string>pjosk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plank</string>
		<key>Word</key>
		<string>plank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planschverk</string>
		<key>Word</key>
		<string>planschverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plask</string>
		<key>Word</key>
		<string>plask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastbestick</string>
		<key>Word</key>
		<string>plastbestick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastburk</string>
		<key>Word</key>
		<string>plastburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastik</string>
		<key>Word</key>
		<string>plastik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastisk</string>
		<key>Word</key>
		<string>plastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>platonisk</string>
		<key>Word</key>
		<string>platonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plock</string>
		<key>Word</key>
		<string>plock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planbok</string>
		<key>Word</key>
		<string>plånbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plattak</string>
		<key>Word</key>
		<string>plåttak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poetisk</string>
		<key>Word</key>
		<string>poetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pojkbok</string>
		<key>Word</key>
		<string>pojkbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polack</string>
		<key>Word</key>
		<string>polack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polemik</string>
		<key>Word</key>
		<string>polemik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polemisk</string>
		<key>Word</key>
		<string>polemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>politik</string>
		<key>Word</key>
		<string>politik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>politisk</string>
		<key>Word</key>
		<string>politisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polsk</string>
		<key>Word</key>
		<string>polsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pommersk</string>
		<key>Word</key>
		<string>pommersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pontianak</string>
		<key>Word</key>
		<string>Pontianak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popmusik</string>
		<key>Word</key>
		<string>popmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>populistisk</string>
		<key>Word</key>
		<string>populistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popularmusik</string>
		<key>Word</key>
		<string>populärmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portugisisk</string>
		<key>Word</key>
		<string>portugisisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postkommunistisk</string>
		<key>Word</key>
		<string>postkommunistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postmodernistisk</string>
		<key>Word</key>
		<string>postmodernistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postpunk</string>
		<key>Word</key>
		<string>postpunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postverk</string>
		<key>Word</key>
		<string>postverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pragmatisk</string>
		<key>Word</key>
		<string>pragmatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>praktik</string>
		<key>Word</key>
		<string>praktik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>praktisk</string>
		<key>Word</key>
		<string>praktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preklinisk</string>
		<key>Word</key>
		<string>preklinisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presentationsreplik</string>
		<key>Word</key>
		<string>presentationsreplik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preussisk</string>
		<key>Word</key>
		<string>preussisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prick</string>
		<key>Word</key>
		<string>prick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>primarharddisk</string>
		<key>Word</key>
		<string>primärhårddisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>problematik</string>
		<key>Word</key>
		<string>problematik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>problematisk</string>
		<key>Word</key>
		<string>problematisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>profetisk</string>
		<key>Word</key>
		<string>profetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proggmusik</string>
		<key>Word</key>
		<string>proggmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programbibliotek</string>
		<key>Word</key>
		<string>programbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programbok</string>
		<key>Word</key>
		<string>programbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programmeringssprak</string>
		<key>Word</key>
		<string>programmeringsspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programsprak</string>
		<key>Word</key>
		<string>programspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programutvecklingsmetodik</string>
		<key>Word</key>
		<string>programutvecklingsmetodik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prosaisk</string>
		<key>Word</key>
		<string>prosaisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protektionistisk</string>
		<key>Word</key>
		<string>protektionistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protestantisk</string>
		<key>Word</key>
		<string>protestantisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provisorisk</string>
		<key>Word</key>
		<string>provisorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prydnadssak</string>
		<key>Word</key>
		<string>prydnadssak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psalmbok</string>
		<key>Word</key>
		<string>psalmbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykedelisk</string>
		<key>Word</key>
		<string>psykedelisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykiatrisk</string>
		<key>Word</key>
		<string>psykiatrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykisk</string>
		<key>Word</key>
		<string>psykisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykoanalytisk</string>
		<key>Word</key>
		<string>psykoanalytisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykodynamisk</string>
		<key>Word</key>
		<string>psykodynamisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykologisk</string>
		<key>Word</key>
		<string>psykologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykoteknisk</string>
		<key>Word</key>
		<string>psykoteknisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykoterapeutisk</string>
		<key>Word</key>
		<string>psykoterapeutisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykotisk</string>
		<key>Word</key>
		<string>psykotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>publicistisk</string>
		<key>Word</key>
		<string>publicistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>publik</string>
		<key>Word</key>
		<string>publik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puck</string>
		<key>Word</key>
		<string>puck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>punisk</string>
		<key>Word</key>
		<string>punisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>punk</string>
		<key>Word</key>
		<string>punk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puritansk</string>
		<key>Word</key>
		<string>puritansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purjolok</string>
		<key>Word</key>
		<string>purjolök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pagick</string>
		<key>Word</key>
		<string>pågick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pask</string>
		<key>Word</key>
		<string>påsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paskalavik</string>
		<key>Word</key>
		<string>Påskalavik</string>
	</dict>
</array>
</plist>
