<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paketsystem</string>
		<key>Word</key>
		<string>paketsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palindrom</string>
		<key>Word</key>
		<string>palindrom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palm</string>
		<key>Word</key>
		<string>palm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pannrum</string>
		<key>Word</key>
		<string>pannrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paradigm</string>
		<key>Word</key>
		<string>paradigm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parallelluniversum</string>
		<key>Word</key>
		<string>parallelluniversum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parfym</string>
		<key>Word</key>
		<string>parfym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parlamentarism</string>
		<key>Word</key>
		<string>parlamentarism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partiprogram</string>
		<key>Word</key>
		<string>partiprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passform</string>
		<key>Word</key>
		<string>passform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passivum</string>
		<key>Word</key>
		<string>passivum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pentagram</string>
		<key>Word</key>
		<string>pentagram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pentium</string>
		<key>Word</key>
		<string>Pentium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pessimism</string>
		<key>Word</key>
		<string>pessimism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petitum</string>
		<key>Word</key>
		<string>petitum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petroleum</string>
		<key>Word</key>
		<string>petroleum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>phnom</string>
		<key>Word</key>
		<string>Phnom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pietism</string>
		<key>Word</key>
		<string>pietism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pilgrim</string>
		<key>Word</key>
		<string>pilgrim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pinsam</string>
		<key>Word</key>
		<string>pinsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planeringsstadium</string>
		<key>Word</key>
		<string>planeringsstadium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planministerium</string>
		<key>Word</key>
		<string>planministerium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plattform</string>
		<key>Word</key>
		<string>plattform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plenum</string>
		<key>Word</key>
		<string>plenum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pleonasm</string>
		<key>Word</key>
		<string>pleonasm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pluralform</string>
		<key>Word</key>
		<string>pluralform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pluralism</string>
		<key>Word</key>
		<string>pluralism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plutonium</string>
		<key>Word</key>
		<string>plutonium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plym</string>
		<key>Word</key>
		<string>plym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plagsam</string>
		<key>Word</key>
		<string>plågsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pm</string>
		<key>Word</key>
		<string>pm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>podium</string>
		<key>Word</key>
		<string>podium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poem</string>
		<key>Word</key>
		<string>poem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pojkrum</string>
		<key>Word</key>
		<string>pojkrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polisministerium</string>
		<key>Word</key>
		<string>polisministerium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polygam</string>
		<key>Word</key>
		<string>polygam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polynom</string>
		<key>Word</key>
		<string>polynom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>populism</string>
		<key>Word</key>
		<string>populism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>porrfilm</string>
		<key>Word</key>
		<string>porrfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postmodernism</string>
		<key>Word</key>
		<string>postmodernism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potsdam</string>
		<key>Word</key>
		<string>Potsdam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ppm</string>
		<key>Word</key>
		<string>PPM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preludium</string>
		<key>Word</key>
		<string>preludium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presensform</string>
		<key>Word</key>
		<string>presensform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privategendom</string>
		<key>Word</key>
		<string>privategendom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privilegium</string>
		<key>Word</key>
		<string>privilegium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>problem</string>
		<key>Word</key>
		<string>problem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktionsstyrningssystem</string>
		<key>Word</key>
		<string>produktionsstyrningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>program</string>
		<key>Word</key>
		<string>program</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>propagandafilm</string>
		<key>Word</key>
		<string>propagandafilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>propagandaministerium</string>
		<key>Word</key>
		<string>propagandaministerium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protektionism</string>
		<key>Word</key>
		<string>protektionism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protestantism</string>
		<key>Word</key>
		<string>protestantism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pram</string>
		<key>Word</key>
		<string>pråm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prum</string>
		<key>Word</key>
		<string>Prüm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psalm</string>
		<key>Word</key>
		<string>psalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pseudonym</string>
		<key>Word</key>
		<string>pseudonym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purgatorium</string>
		<key>Word</key>
		<string>purgatorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>purism</string>
		<key>Word</key>
		<string>purism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pytonorm</string>
		<key>Word</key>
		<string>pytonorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parm</string>
		<key>Word</key>
		<string>pärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pakom</string>
		<key>Word</key>
		<string>påkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pasklamm</string>
		<key>Word</key>
		<string>påsklamm</string>
	</dict>
</array>
</plist>
