<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palermo</string>
		<key>Word</key>
		<string>Palermo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>palo</string>
		<key>Word</key>
		<string>Palo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paolo</string>
		<key>Word</key>
		<string>Paolo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paradiso</string>
		<key>Word</key>
		<string>paradisö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paulo</string>
		<key>Word</key>
		<string>Paulo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pawlo</string>
		<key>Word</key>
		<string>Pawlo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peano</string>
		<key>Word</key>
		<string>Peano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedro</string>
		<key>Word</key>
		<string>Pedro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personkonto</string>
		<key>Word</key>
		<string>personkonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piaggio</string>
		<key>Word</key>
		<string>Piaggio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piano</string>
		<key>Word</key>
		<string>piano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piccolo</string>
		<key>Word</key>
		<string>piccolo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pietro</string>
		<key>Word</key>
		<string>Pietro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pilo</string>
		<key>Word</key>
		<string>Pilo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pimpelspo</string>
		<key>Word</key>
		<string>pimpelspö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pitebo</string>
		<key>Word</key>
		<string>Pitebo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plo</string>
		<key>Word</key>
		<string>PLO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pluskonto</string>
		<key>Word</key>
		<string>pluskonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pluto</string>
		<key>Word</key>
		<string>Pluto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>po</string>
		<key>Word</key>
		<string>Po</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polo</string>
		<key>Word</key>
		<string>polo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popularmusikvideo</string>
		<key>Word</key>
		<string>populärmusikvideo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>porto</string>
		<key>Word</key>
		<string>porto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>porto-novo</string>
		<key>Word</key>
		<string>Porto-Novo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postgiro</string>
		<key>Word</key>
		<string>postgiro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>postgirokonto</string>
		<key>Word</key>
		<string>postgirokonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poulo</string>
		<key>Word</key>
		<string>Poulo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pro</string>
		<key>Word</key>
		<string>PRO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pro</string>
		<key>Word</key>
		<string>pro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktionsmiljo</string>
		<key>Word</key>
		<string>produktionsmiljö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pseudo</string>
		<key>Word</key>
		<string>pseudo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puerto</string>
		<key>Word</key>
		<string>Puerto</string>
	</dict>
</array>
</plist>
