<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pakettyp</string>
		<key>Word</key>
		<string>pakettyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pamp</string>
		<key>Word</key>
		<string>pamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>papegojknopp</string>
		<key>Word</key>
		<string>papegojknopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>papp</string>
		<key>Word</key>
		<string>papp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parstugetyp</string>
		<key>Word</key>
		<string>parstugetyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>particip</string>
		<key>Word</key>
		<string>particip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partnerskap</string>
		<key>Word</key>
		<string>partnerskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pdp</string>
		<key>Word</key>
		<string>PDP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pep</string>
		<key>Word</key>
		<string>pep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>periskop</string>
		<key>Word</key>
		<string>periskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perstorp</string>
		<key>Word</key>
		<string>Perstorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pflp</string>
		<key>Word</key>
		<string>PFLP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>philip</string>
		<key>Word</key>
		<string>Philip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>philipp</string>
		<key>Word</key>
		<string>Philipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>photoshop</string>
		<key>Word</key>
		<string>Photoshop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>php</string>
		<key>Word</key>
		<string>PHP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pip</string>
		<key>Word</key>
		<string>pip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planeringsgrupp</string>
		<key>Word</key>
		<string>planeringsgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastchip</string>
		<key>Word</key>
		<string>plastchip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plump</string>
		<key>Word</key>
		<string>plump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plupp</string>
		<key>Word</key>
		<string>plupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pop</string>
		<key>Word</key>
		<string>pop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popgrupp</string>
		<key>Word</key>
		<string>popgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popmusikgrupp</string>
		<key>Word</key>
		<string>popmusikgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>populärvetenskap</string>
		<key>Word</key>
		<string>populärvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>popup</string>
		<key>Word</key>
		<string>popup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ppp</string>
		<key>Word</key>
		<string>PPP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pr-kupp</string>
		<key>Word</key>
		<string>PR-kupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prap</string>
		<key>Word</key>
		<string>Prap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presstopp</string>
		<key>Word</key>
		<string>presstopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>princip</string>
		<key>Word</key>
		<string>princip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prislapp</string>
		<key>Word</key>
		<string>prislapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>propp</string>
		<key>Word</key>
		<string>propp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prototyp</string>
		<key>Word</key>
		<string>prototyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proveniensprincip</string>
		<key>Word</key>
		<string>proveniensprincip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prästerskap</string>
		<key>Word</key>
		<string>prästerskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pump</string>
		<key>Word</key>
		<string>pump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>påhopp</string>
		<key>Word</key>
		<string>påhopp</string>
	</dict>
</array>
</plist>
