<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parkettgolv</string>
		<key>Word</key>
		<string>parkettgolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>passiv</string>
		<key>Word</key>
		<string>passiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personarkiv</string>
		<key>Word</key>
		<string>personarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perspektiv</string>
		<key>Word</key>
		<string>perspektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>positiv</string>
		<key>Word</key>
		<string>positiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presumtiv</string>
		<key>Word</key>
		<string>presumtiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preventiv</string>
		<key>Word</key>
		<string>preventiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>primitiv</string>
		<key>Word</key>
		<string>primitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisgav</string>
		<key>Word</key>
		<string>prisgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prisgiv</string>
		<key>Word</key>
		<string>prisgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>privatliv</string>
		<key>Word</key>
		<string>privatliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktiv</string>
		<key>Word</key>
		<string>produktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>progressiv</string>
		<key>Word</key>
		<string>progressiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prov</string>
		<key>Word</key>
		<string>prov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prv</string>
		<key>Word</key>
		<string>PRV</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykoaktiv</string>
		<key>Word</key>
		<string>psykoaktiv</string>
	</dict>
</array>
</plist>
