<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pagrotsky</string>
		<key>Word</key>
		<string>Pagrotsky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paraguay</string>
		<key>Word</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paraply</string>
		<key>Word</key>
		<string>paraply</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>party</string>
		<key>Word</key>
		<string>party</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pentry</string>
		<key>Word</key>
		<string>pentry</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>percy</string>
		<key>Word</key>
		<string>Percy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perry</string>
		<key>Word</key>
		<string>Perry</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>playboy</string>
		<key>Word</key>
		<string>playboy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plessey</string>
		<key>Word</key>
		<string>Plessey</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>policy</string>
		<key>Word</key>
		<string>policy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polly</string>
		<key>Word</key>
		<string>Polly</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polopoly</string>
		<key>Word</key>
		<string>Polopoly</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proxy</string>
		<key>Word</key>
		<string>proxy</string>
	</dict>
</array>
</plist>
