<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qaidas</string>
		<key>Word</key>
		<string>Qaidas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qatars</string>
		<key>Word</key>
		<string>Qatars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qingdaos</string>
		<key>Word</key>
		<string>Qingdaos</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qos</string>
		<key>Word</key>
		<string>QoS</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qualcomms</string>
		<key>Word</key>
		<string>Qualcomms</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quarnströms</string>
		<key>Word</key>
		<string>Quarnströms</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quebecs</string>
		<key>Word</key>
		<string>Quebecs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>queens</string>
		<key>Word</key>
		<string>Queens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>queerteorins</string>
		<key>Word</key>
		<string>queerteorins</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>queerteoris</string>
		<key>Word</key>
		<string>queerteoris</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quennerstedts</string>
		<key>Word</key>
		<string>Quennerstedts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quensels</string>
		<key>Word</key>
		<string>Quensels</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quicks</string>
		<key>Word</key>
		<string>Quicks</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quicktimes</string>
		<key>Word</key>
		<string>QuickTimes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quidings</string>
		<key>Word</key>
		<string>Quidings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quislings</string>
		<key>Word</key>
		<string>Quislings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quistgaards</string>
		<key>Word</key>
		<string>Quistgaards</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quists</string>
		<key>Word</key>
		<string>Quists</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quixotes</string>
		<key>Word</key>
		<string>Quixotes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvantens</string>
		<key>Word</key>
		<string>Qvantens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvarnströms</string>
		<key>Word</key>
		<string>Qvarnströms</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qveckfelts</string>
		<key>Word</key>
		<string>Qveckfelts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvidings</string>
		<key>Word</key>
		<string>Qvidings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvistgaards</string>
		<key>Word</key>
		<string>Qvistgaards</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvists</string>
		<key>Word</key>
		<string>Qvists</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvitts</string>
		<key>Word</key>
		<string>Qvitts</string>
	</dict>
</array>
</plist>
