<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rabbi</string>
		<key>Word</key>
		<string>rabbi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radi</string>
		<key>Word</key>
		<string>Radi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiologi</string>
		<key>Word</key>
		<string>radiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiotelefoni</string>
		<key>Word</key>
		<string>radiotelefoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragni</string>
		<key>Word</key>
		<string>Ragni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragnvi</string>
		<key>Word</key>
		<string>Ragnvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramaskri</string>
		<key>Word</key>
		<string>ramaskri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapsodi</string>
		<key>Word</key>
		<string>rapsodi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raseri</string>
		<key>Word</key>
		<string>raseri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattfylleri</string>
		<key>Word</key>
		<string>rattfylleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realencyklopedi</string>
		<key>Word</key>
		<string>realencyklopedi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rederi</string>
		<key>Word</key>
		<string>rederi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regeringskansli</string>
		<key>Word</key>
		<string>regeringskansli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regi</string>
		<key>Word</key>
		<string>regi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reglerteori</string>
		<key>Word</key>
		<string>reglerteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reumatologi</string>
		<key>Word</key>
		<string>reumatologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksdagsparti</string>
		<key>Word</key>
		<string>riksdagsparti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rimini</string>
		<key>Word</key>
		<string>Rimini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskfri</string>
		<key>Word</key>
		<string>riskfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rofferi</string>
		<key>Word</key>
		<string>rofferi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romani</string>
		<key>Word</key>
		<string>romani</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostfri</string>
		<key>Word</key>
		<string>rostfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rudi</string>
		<key>Word</key>
		<string>Rudi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdindustri</string>
		<key>Word</key>
		<string>rymdindustri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rytteri</string>
		<key>Word</key>
		<string>rytteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättspsykiatri</string>
		<key>Word</key>
		<string>rättspsykiatri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rökeri</string>
		<key>Word</key>
		<string>rökeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rörelseenergi</string>
		<key>Word</key>
		<string>rörelseenergi</string>
	</dict>
</array>
</plist>
