<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rack</string>
		<key>Word</key>
		<string>rack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiologisk</string>
		<key>Word</key>
		<string>radiologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiolänk</string>
		<key>Word</key>
		<string>radiolänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radioteknik</string>
		<key>Word</key>
		<string>radioteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragnarök</string>
		<key>Word</key>
		<string>ragnarök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rak</string>
		<key>Word</key>
		<string>rak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramverk</string>
		<key>Word</key>
		<string>ramverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rank</string>
		<key>Word</key>
		<string>rank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapsodisk</string>
		<key>Word</key>
		<string>rapsodisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasistisk</string>
		<key>Word</key>
		<string>rasistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rask</string>
		<key>Word</key>
		<string>rask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rauk</string>
		<key>Word</key>
		<string>rauk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realistisk</string>
		<key>Word</key>
		<string>realistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realläroverk</string>
		<key>Word</key>
		<string>realläroverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realpolitisk</string>
		<key>Word</key>
		<string>realpolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reformatorisk</string>
		<key>Word</key>
		<string>reformatorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regelbok</string>
		<key>Word</key>
		<string>regelbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regelverk</string>
		<key>Word</key>
		<string>regelverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reglerteknik</string>
		<key>Word</key>
		<string>reglerteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reglerteknisk</string>
		<key>Word</key>
		<string>reglerteknisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regnrock</string>
		<key>Word</key>
		<string>regnrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>relativistisk</string>
		<key>Word</key>
		<string>relativistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>relik</string>
		<key>Word</key>
		<string>relik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reningsverk</string>
		<key>Word</key>
		<string>reningsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>replik</string>
		<key>Word</key>
		<string>replik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>republik</string>
		<key>Word</key>
		<string>republik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>republikansk</string>
		<key>Word</key>
		<string>republikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restaurangkök</string>
		<key>Word</key>
		<string>restaurangkök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retorik</string>
		<key>Word</key>
		<string>retorik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retorisk</string>
		<key>Word</key>
		<string>retorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>returtrafik</string>
		<key>Word</key>
		<string>returtrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reumatisk</string>
		<key>Word</key>
		<string>reumatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reykjavik</string>
		<key>Word</key>
		<string>Reykjavik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rick</string>
		<key>Word</key>
		<string>Rick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rik</string>
		<key>Word</key>
		<string>rik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksbank</string>
		<key>Word</key>
		<string>riksbank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksdagspolitik</string>
		<key>Word</key>
		<string>riksdagspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksmarskalk</string>
		<key>Word</key>
		<string>riksmarskalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksrevisionsverk</string>
		<key>Word</key>
		<string>riksrevisionsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>risk</string>
		<key>Word</key>
		<string>risk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rock</string>
		<key>Word</key>
		<string>rock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockmusik</string>
		<key>Word</key>
		<string>rockmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romansk</string>
		<key>Word</key>
		<string>romansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romantik</string>
		<key>Word</key>
		<string>romantik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romantisk</string>
		<key>Word</key>
		<string>romantisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romersk</string>
		<key>Word</key>
		<string>romersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romersk-katolsk</string>
		<key>Word</key>
		<string>romersk-katolsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romerskkatolsk</string>
		<key>Word</key>
		<string>romerskkatolsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romsk</string>
		<key>Word</key>
		<string>romsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosenhäck</string>
		<key>Word</key>
		<string>rosenhäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostock</string>
		<key>Word</key>
		<string>Rostock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rubrik</string>
		<key>Word</key>
		<string>rubrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rudbeck</string>
		<key>Word</key>
		<string>Rudbeck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rumänsk</string>
		<key>Word</key>
		<string>rumänsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rurik</string>
		<key>Word</key>
		<string>Rurik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rustik</string>
		<key>Word</key>
		<string>rustik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryck</string>
		<key>Word</key>
		<string>ryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryggsäck</string>
		<key>Word</key>
		<string>ryggsäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryggvärk</string>
		<key>Word</key>
		<string>ryggvärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryk</string>
		<key>Word</key>
		<string>ryk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rysk</string>
		<key>Word</key>
		<string>rysk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rysk-arabisk</string>
		<key>Word</key>
		<string>rysk-arabisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>räck</string>
		<key>Word</key>
		<string>räck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rätoromansk</string>
		<key>Word</key>
		<string>rätoromansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättsinformatik</string>
		<key>Word</key>
		<string>rättsinformatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättvik</string>
		<key>Word</key>
		<string>Rättvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rådklok</string>
		<key>Word</key>
		<string>rådklok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rök</string>
		<key>Word</key>
		<string>rök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rökverk</string>
		<key>Word</key>
		<string>rökverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>röststark</string>
		<key>Word</key>
		<string>röststark</string>
	</dict>
</array>
</plist>
