<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rachel</string>
		<key>Word</key>
		<string>Rachel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radikal</string>
		<key>Word</key>
		<string>radikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiobil</string>
		<key>Word</key>
		<string>radiobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiomonopol</string>
		<key>Word</key>
		<string>radiomonopol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiosignal</string>
		<key>Word</key>
		<string>radiosignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rafael</string>
		<key>Word</key>
		<string>Rafael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raffel</string>
		<key>Word</key>
		<string>raffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakel</string>
		<key>Word</key>
		<string>Rakel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramel</string>
		<key>Word</key>
		<string>Ramel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramshall</string>
		<key>Word</key>
		<string>Ramshäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raoul</string>
		<key>Word</key>
		<string>Raoul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapsvivel</string>
		<key>Word</key>
		<string>rapsvivel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rassel</string>
		<key>Word</key>
		<string>rassel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rational</string>
		<key>Word</key>
		<string>Rational</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rationaliseringspotential</string>
		<key>Word</key>
		<string>rationaliseringspotential</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rationell</string>
		<key>Word</key>
		<string>rationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>real</string>
		<key>Word</key>
		<string>real</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rebell</string>
		<key>Word</key>
		<string>rebell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redaktionell</string>
		<key>Word</key>
		<string>redaktionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reell</string>
		<key>Word</key>
		<string>reell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>refill</string>
		<key>Word</key>
		<string>Refill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regel</string>
		<key>Word</key>
		<string>regel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regional</string>
		<key>Word</key>
		<string>regional</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>registernyckel</string>
		<key>Word</key>
		<string>registernyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rejal</string>
		<key>Word</key>
		<string>rejäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekognosceringspatrull</string>
		<key>Word</key>
		<string>rekognosceringspatrull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekommendabel</string>
		<key>Word</key>
		<string>rekommendabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rektangel</string>
		<key>Word</key>
		<string>rektangel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekyl</string>
		<key>Word</key>
		<string>rekyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reliabel</string>
		<key>Word</key>
		<string>reliabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rengoringsmedel</string>
		<key>Word</key>
		<string>rengöringsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renskotsel</string>
		<key>Word</key>
		<string>renskötsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reparabel</string>
		<key>Word</key>
		<string>reparabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>replokal</string>
		<key>Word</key>
		<string>replokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reportagebil</string>
		<key>Word</key>
		<string>reportagebil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reptil</string>
		<key>Word</key>
		<string>reptil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reservdel</string>
		<key>Word</key>
		<string>reservdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reservhjul</string>
		<key>Word</key>
		<string>reservhjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resmal</string>
		<key>Word</key>
		<string>resmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resonabel</string>
		<key>Word</key>
		<string>resonabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>respektabel</string>
		<key>Word</key>
		<string>respektabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>respektfull</string>
		<key>Word</key>
		<string>respektfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>respryl</string>
		<key>Word</key>
		<string>respryl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksdagsval</string>
		<key>Word</key>
		<string>riksdagsval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksmedeltal</string>
		<key>Word</key>
		<string>riksmedeltal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rimlighetskontroll</string>
		<key>Word</key>
		<string>rimlighetskontroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ringsignal</string>
		<key>Word</key>
		<string>ringsignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskabel</string>
		<key>Word</key>
		<string>riskabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskkapital</string>
		<key>Word</key>
		<string>riskkapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ritual</string>
		<key>Word</key>
		<string>ritual</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rituell</string>
		<key>Word</key>
		<string>rituell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rival</string>
		<key>Word</key>
		<string>rival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roamingavtal</string>
		<key>Word</key>
		<string>roamingavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockall</string>
		<key>Word</key>
		<string>Rockall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roll</string>
		<key>Word</key>
		<string>roll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rollspel</string>
		<key>Word</key>
		<string>rollspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rondell</string>
		<key>Word</key>
		<string>rondell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosell</string>
		<key>Word</key>
		<string>Rosell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosvall</string>
		<key>Word</key>
		<string>Rosvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotel</string>
		<key>Word</key>
		<string>rotel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotfl</string>
		<key>Word</key>
		<string>ROTFL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotfyll</string>
		<key>Word</key>
		<string>rotfyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>routerfel</string>
		<key>Word</key>
		<string>routerfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>routningsprotokoll</string>
		<key>Word</key>
		<string>routningsprotokoll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rovfagel</string>
		<key>Word</key>
		<string>rovfågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruckel</string>
		<key>Word</key>
		<string>ruckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rullstol</string>
		<key>Word</key>
		<string>rullstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rumsantal</string>
		<key>Word</key>
		<string>rumsantal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rusmedel</string>
		<key>Word</key>
		<string>rusmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>russel</string>
		<key>Word</key>
		<string>Russel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rxml</string>
		<key>Word</key>
		<string>RXML</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryl</string>
		<key>Word</key>
		<string>ryl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdkapsel</string>
		<key>Word</key>
		<string>rymdkapsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdskyttel</string>
		<key>Word</key>
		<string>rymdskyttel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryttarstovel</string>
		<key>Word</key>
		<string>ryttarstövel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rackhall</string>
		<key>Word</key>
		<string>räckhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakneregel</string>
		<key>Word</key>
		<string>räkneregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ral</string>
		<key>Word</key>
		<string>räl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rannil</string>
		<key>Word</key>
		<string>rännil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ransel</string>
		<key>Word</key>
		<string>ränsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radvill</string>
		<key>Word</key>
		<string>rådvill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramaterial</string>
		<key>Word</key>
		<string>råmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rorelsekapital</string>
		<key>Word</key>
		<string>rörelsekapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rorspisel</string>
		<key>Word</key>
		<string>rörspisel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rossel</string>
		<key>Word</key>
		<string>Rössel</string>
	</dict>
</array>
</plist>
