<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radikalism</string>
		<key>Word</key>
		<string>radikalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiofrekvensspektrum</string>
		<key>Word</key>
		<string>radiofrekvensspektrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiokommunikationssystem</string>
		<key>Word</key>
		<string>radiokommunikationssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radioprogram</string>
		<key>Word</key>
		<string>radioprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radium</string>
		<key>Word</key>
		<string>radium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ram</string>
		<key>Word</key>
		<string>ram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramprogram</string>
		<key>Word</key>
		<string>ramprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasism</string>
		<key>Word</key>
		<string>rasism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rationalism</string>
		<key>Word</key>
		<string>rationalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realism</string>
		<key>Word</key>
		<string>realism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realtidsoperativsystem</string>
		<key>Word</key>
		<string>realtidsoperativsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realtidssystem</string>
		<key>Word</key>
		<string>realtidssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ream</string>
		<key>Word</key>
		<string>Ream</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redovisningsdatum</string>
		<key>Word</key>
		<string>redovisningsdatum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redovisningssystem</string>
		<key>Word</key>
		<string>redovisningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reduktionism</string>
		<key>Word</key>
		<string>reduktionism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>referensram</string>
		<key>Word</key>
		<string>referensram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reform</string>
		<key>Word</key>
		<string>reform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reformjudendom</string>
		<key>Word</key>
		<string>reformjudendom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reformkatolicism</string>
		<key>Word</key>
		<string>reformkatolicism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regeringsform</string>
		<key>Word</key>
		<string>regeringsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regim</string>
		<key>Word</key>
		<string>regim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rehabeam</string>
		<key>Word</key>
		<string>Rehabeam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rehabiliteringsprogram</string>
		<key>Word</key>
		<string>rehabiliteringsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reklam</string>
		<key>Word</key>
		<string>reklam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reklamfilm</string>
		<key>Word</key>
		<string>reklamfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rem</string>
		<key>Word</key>
		<string>rem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>representationsreform</string>
		<key>Word</key>
		<string>representationsreform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resejubileum</string>
		<key>Word</key>
		<string>resejubileum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restaurangimperium</string>
		<key>Word</key>
		<string>restaurangimperium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reumatism</string>
		<key>Word</key>
		<string>reumatism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reuterholm</string>
		<key>Word</key>
		<string>Reuterholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rikedom</string>
		<key>Word</key>
		<string>rikedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksmuseum</string>
		<key>Word</key>
		<string>riksmuseum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riktningsbestam</string>
		<key>Word</key>
		<string>riktningsbestäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rim</string>
		<key>Word</key>
		<string>rim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ringarum</string>
		<key>Word</key>
		<string>Ringarum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ringholm</string>
		<key>Word</key>
		<string>Ringholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rom</string>
		<key>Word</key>
		<string>Rom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rom</string>
		<key>Word</key>
		<string>rom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosenbom</string>
		<key>Word</key>
		<string>Rosenbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotterdam</string>
		<key>Word</key>
		<string>Rotterdam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rpm</string>
		<key>Word</key>
		<string>RPM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rpm-system</string>
		<key>Word</key>
		<string>RPM-system</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rum</string>
		<key>Word</key>
		<string>rum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>runtom</string>
		<key>Word</key>
		<string>runtom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rydboholm</string>
		<key>Word</key>
		<string>Rydboholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rym</string>
		<key>Word</key>
		<string>rym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdimperium</string>
		<key>Word</key>
		<string>rymdimperium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rytm</string>
		<key>Word</key>
		<string>rytm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakneprogram</string>
		<key>Word</key>
		<string>räkneprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattfram</string>
		<key>Word</key>
		<string>rättfram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattssystem</string>
		<key>Word</key>
		<string>rättssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattstavningsprogram</string>
		<key>Word</key>
		<string>rättstavningsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ronnblom</string>
		<key>Word</key>
		<string>Rönnblom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostrattsreform</string>
		<key>Word</key>
		<string>rösträttsreform</string>
	</dict>
</array>
</plist>
