<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radio</string>
		<key>Word</key>
		<string>radio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiostudio</string>
		<key>Word</key>
		<string>radiostudio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rancho</string>
		<key>Word</key>
		<string>Rancho</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasbo</string>
		<key>Word</key>
		<string>Rasbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redo</string>
		<key>Word</key>
		<string>redo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regnbagsbro</string>
		<key>Word</key>
		<string>regnbågsbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reino</string>
		<key>Word</key>
		<string>Reino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reklamjippo</string>
		<key>Word</key>
		<string>reklamjippo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reklamradio</string>
		<key>Word</key>
		<string>reklamradio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reko</string>
		<key>Word</key>
		<string>reko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>remo</string>
		<key>Word</key>
		<string>Remo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rico</string>
		<key>Word</key>
		<string>Rico</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rio</string>
		<key>Word</key>
		<string>Rio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ro</string>
		<key>Word</key>
		<string>ro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roberto</string>
		<key>Word</key>
		<string>Roberto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romeo</string>
		<key>Word</key>
		<string>Romeo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ronaldo</string>
		<key>Word</key>
		<string>Ronaldo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rundradio</string>
		<key>Word</key>
		<string>rundradio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>runo</string>
		<key>Word</key>
		<string>Runo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>runo</string>
		<key>Word</key>
		<string>Runö</string>
	</dict>
</array>
</plist>
