<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radioaktiv</string>
		<key>Word</key>
		<string>radioaktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakkniv</string>
		<key>Word</key>
		<string>rakkniv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>recessiv</string>
		<key>Word</key>
		<string>recessiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reflexiv</string>
		<key>Word</key>
		<string>reflexiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regleringsbrev</string>
		<key>Word</key>
		<string>regleringsbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rejv</string>
		<key>Word</key>
		<string>rejv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekursiv</string>
		<key>Word</key>
		<string>rekursiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>relativ</string>
		<key>Word</key>
		<string>relativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renskrev</string>
		<key>Word</key>
		<string>renskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renskriv</string>
		<key>Word</key>
		<string>renskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rentav</string>
		<key>Word</key>
		<string>rentav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>repetitiv</string>
		<key>Word</key>
		<string>repetitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>representativ</string>
		<key>Word</key>
		<string>representativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reserv</string>
		<key>Word</key>
		<string>reserv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restriktiv</string>
		<key>Word</key>
		<string>restriktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resursbehov</string>
		<key>Word</key>
		<string>resursbehov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retroaktiv</string>
		<key>Word</key>
		<string>retroaktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rev</string>
		<key>Word</key>
		<string>rev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rfv</string>
		<key>Word</key>
		<string>RFV</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksarkiv</string>
		<key>Word</key>
		<string>riksarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riv</string>
		<key>Word</key>
		<string>riv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostov</string>
		<key>Word</key>
		<string>Rostov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rov</string>
		<key>Word</key>
		<string>rov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rsv</string>
		<key>Word</key>
		<string>RSV</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rutinprov</string>
		<key>Word</key>
		<string>rutinprov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>räv</string>
		<key>Word</key>
		<string>räv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>röv</string>
		<key>Word</key>
		<string>röv</string>
	</dict>
</array>
</plist>
