<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rally</string>
		<key>Word</key>
		<string>rally</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramsay</string>
		<key>Word</key>
		<string>Ramsay</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigerameny</string>
		<key>Word</key>
		<string>redigerameny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>revy</string>
		<key>Word</key>
		<string>revy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rhapsody</string>
		<key>Word</key>
		<string>Rhapsody</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ricky</string>
		<key>Word</key>
		<string>Ricky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rinkeby</string>
		<key>Word</key>
		<string>Rinkeby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockabilly</string>
		<key>Word</key>
		<string>rockabilly</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rocksteady</string>
		<key>Word</key>
		<string>rocksteady</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rocky</string>
		<key>Word</key>
		<string>Rocky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ronneby</string>
		<key>Word</key>
		<string>Ronneby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ronny</string>
		<key>Word</key>
		<string>Ronny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roslags-nasby</string>
		<key>Word</key>
		<string>Roslags-Näsby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roy</string>
		<key>Word</key>
		<string>Roy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>royalty</string>
		<key>Word</key>
		<string>royalty</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rugby</string>
		<key>Word</key>
		<string>rugby</string>
	</dict>
</array>
</plist>
