<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rheinhessen-pfalz</string>
		<key>Word</key>
		<string>Rheinhessen-Pfalz</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rheinland-pfalz</string>
		<key>Word</key>
		<string>Rheinland-Pfalz</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rietz</string>
		<key>Word</key>
		<string>Rietz</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rodriguez</string>
		<key>Word</key>
		<string>Rodriguez</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruiz</string>
		<key>Word</key>
		<string>Ruiz</string>
	</dict>
</array>
</plist>
