<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>seraf</string>
		<key>Word</key>
		<string>seraf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sf</string>
		<key>Word</key>
		<string>SF</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sheriff</string>
		<key>Word</key>
		<string>sheriff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjömansbiff</string>
		<key>Word</key>
		<string>sjömansbiff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skf</string>
		<key>Word</key>
		<string>SKF</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skymf</string>
		<key>Word</key>
		<string>skymf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smurf</string>
		<key>Word</key>
		<string>smurf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sof</string>
		<key>Word</key>
		<string>SOF</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sportchef</string>
		<key>Word</key>
		<string>sportchef</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ssf</string>
		<key>Word</key>
		<string>SSF</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>staaff</string>
		<key>Word</key>
		<string>Staaff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statschef</string>
		<key>Word</key>
		<string>statschef</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenograf</string>
		<key>Word</key>
		<string>stenograf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stoff</string>
		<key>Word</key>
		<string>stoff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>straff</string>
		<key>Word</key>
		<string>straff</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strof</string>
		<key>Word</key>
		<string>strof</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>surf</string>
		<key>Word</key>
		<string>surf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svartsmurf</string>
		<key>Word</key>
		<string>svartsmurf</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sökträff</string>
		<key>Word</key>
		<string>sökträff</string>
	</dict>
</array>
</plist>
