<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>safari</string>
		<key>Word</key>
		<string>safari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salami</string>
		<key>Word</key>
		<string>salami</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samtalsterapi</string>
		<key>Word</key>
		<string>samtalsterapi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sannolikhetsteori</string>
		<key>Word</key>
		<string>sannolikhetsteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sarai</string>
		<key>Word</key>
		<string>Sarai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sceneri</string>
		<key>Word</key>
		<string>sceneri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schizofreni</string>
		<key>Word</key>
		<string>schizofreni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sci-fi</string>
		<key>Word</key>
		<string>sci-fi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scientologi</string>
		<key>Word</key>
		<string>scientologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scsi</string>
		<key>Word</key>
		<string>SCSI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>semi</string>
		<key>Word</key>
		<string>semi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexti</string>
		<key>Word</key>
		<string>sexti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexualfilosofi</string>
		<key>Word</key>
		<string>sexualfilosofi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sfi</string>
		<key>Word</key>
		<string>SFI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sgi</string>
		<key>Word</key>
		<string>SGI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>shanghai</string>
		<key>Word</key>
		<string>Shanghai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>si</string>
		<key>Word</key>
		<string>SI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sigli</string>
		<key>Word</key>
		<string>Sigli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>signaturmelodi</string>
		<key>Word</key>
		<string>signaturmelodi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>simei</string>
		<key>Word</key>
		<string>Simei</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>simri</string>
		<key>Word</key>
		<string>Simri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinai</string>
		<key>Word</key>
		<string>Sinai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinti</string>
		<key>Word</key>
		<string>Sinti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>siri</string>
		<key>Word</key>
		<string>Siri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjutti</string>
		<key>Word</key>
		<string>sjutti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvbiografi</string>
		<key>Word</key>
		<string>självbiografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skafferi</string>
		<key>Word</key>
		<string>skafferi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattefri</string>
		<key>Word</key>
		<string>skattefri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skivindustri</string>
		<key>Word</key>
		<string>skivindustri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skri</string>
		<key>Word</key>
		<string>skri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skriveri</string>
		<key>Word</key>
		<string>skriveri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrymteri</string>
		<key>Word</key>
		<string>skrymteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skuldfri</string>
		<key>Word</key>
		<string>skuldfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skumgummi</string>
		<key>Word</key>
		<string>skumgummi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slakteri</string>
		<key>Word</key>
		<string>slakteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slaveri</string>
		<key>Word</key>
		<string>slaveri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sloseri</string>
		<key>Word</key>
		<string>slöseri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smhi</string>
		<key>Word</key>
		<string>SMHI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smartfri</string>
		<key>Word</key>
		<string>smärtfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snickeri</string>
		<key>Word</key>
		<string>snickeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snobberi</string>
		<key>Word</key>
		<string>snobberi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialdemokrati</string>
		<key>Word</key>
		<string>socialdemokrati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialpsykologi</string>
		<key>Word</key>
		<string>socialpsykologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sociologi</string>
		<key>Word</key>
		<string>sociologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sodomi</string>
		<key>Word</key>
		<string>sodomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sofi</string>
		<key>Word</key>
		<string>SOFI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sorgfri</string>
		<key>Word</key>
		<string>sorgfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sorti</string>
		<key>Word</key>
		<string>sorti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spagetti</string>
		<key>Word</key>
		<string>spagetti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spaghetti</string>
		<key>Word</key>
		<string>spaghetti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spetsteknologi</string>
		<key>Word</key>
		<string>spetsteknologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakteknologi</string>
		<key>Word</key>
		<string>språkteknologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sri</string>
		<key>Word</key>
		<string>Sri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ssi</string>
		<key>Word</key>
		<string>SSI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statsforraderi</string>
		<key>Word</key>
		<string>statsförräderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stimuli</string>
		<key>Word</key>
		<string>stimuli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strategi</string>
		<key>Word</key>
		<string>strategi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stupi</string>
		<key>Word</key>
		<string>STUPI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>suzuki</string>
		<key>Word</key>
		<string>Suzuki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svampkoloni</string>
		<key>Word</key>
		<string>svampkoloni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarmeri</string>
		<key>Word</key>
		<string>svärmeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sylvi</string>
		<key>Word</key>
		<string>Sylvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symfoni</string>
		<key>Word</key>
		<string>symfoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symmetri</string>
		<key>Word</key>
		<string>symmetri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sympati</string>
		<key>Word</key>
		<string>sympati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sateri</string>
		<key>Word</key>
		<string>säteri</string>
	</dict>
</array>
</plist>
