<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saddam</string>
		<key>Word</key>
		<string>Saddam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadism</string>
		<key>Word</key>
		<string>sadism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadomasochism</string>
		<key>Word</key>
		<string>sadomasochism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salem</string>
		<key>Word</key>
		<string>Salem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sallum</string>
		<key>Word</key>
		<string>Sallum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salon.com</string>
		<key>Word</key>
		<string>Salon.com</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sam</string>
		<key>Word</key>
		<string>sam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samemuseum</string>
		<key>Word</key>
		<string>samemuseum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhällsagroekosystem</string>
		<key>Word</key>
		<string>samhällsagroekosystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhällsform</string>
		<key>Word</key>
		<string>samhällsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhällsproblem</string>
		<key>Word</key>
		<string>samhällsproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samkväm</string>
		<key>Word</key>
		<string>samkväm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sammelsurium</string>
		<key>Word</key>
		<string>sammelsurium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samurajfilm</string>
		<key>Word</key>
		<string>samurajfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sanatorium</string>
		<key>Word</key>
		<string>sanatorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sandström</string>
		<key>Word</key>
		<string>Sandström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sarkasm</string>
		<key>Word</key>
		<string>sarkasm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>satanism</string>
		<key>Word</key>
		<string>satanism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schism</string>
		<key>Word</key>
		<string>schism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schlager-em</string>
		<key>Word</key>
		<string>schlager-EM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schlager-sm</string>
		<key>Word</key>
		<string>schlager-SM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schröderheim</string>
		<key>Word</key>
		<string>Schröderheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>selim</string>
		<key>Word</key>
		<string>Selim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sem</string>
		<key>Word</key>
		<string>Sem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>seminarierum</string>
		<key>Word</key>
		<string>seminarierum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>seminarium</string>
		<key>Word</key>
		<string>seminarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>semitism</string>
		<key>Word</key>
		<string>semitism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sensualism</string>
		<key>Word</key>
		<string>sensualism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>serafim</string>
		<key>Word</key>
		<string>serafim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextiofem</string>
		<key>Word</key>
		<string>sextiofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sf-film</string>
		<key>Word</key>
		<string>sf-film</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>shalom</string>
		<key>Word</key>
		<string>shalom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sigholm</string>
		<key>Word</key>
		<string>Sigholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sikem</string>
		<key>Word</key>
		<string>Sikem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sikkim</string>
		<key>Word</key>
		<string>Sikkim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>silfverhielm</string>
		<key>Word</key>
		<string>Silfverhielm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>silfverhjelm</string>
		<key>Word</key>
		<string>Silfverhjelm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinnessjukdom</string>
		<key>Word</key>
		<string>sinnessjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinom</string>
		<key>Word</key>
		<string>sinom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sintram</string>
		<key>Word</key>
		<string>Sintram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sionism</string>
		<key>Word</key>
		<string>sionism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukdom</string>
		<key>Word</key>
		<string>sjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukförsäkringssystem</string>
		<key>Word</key>
		<string>sjukförsäkringssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttiofem</string>
		<key>Word</key>
		<string>sjuttiofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjöström</string>
		<key>Word</key>
		<string>Sjöström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skadesjukdom</string>
		<key>Word</key>
		<string>skadesjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skallerorm</string>
		<key>Word</key>
		<string>skallerorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skallform</string>
		<key>Word</key>
		<string>skallform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalm</string>
		<key>Word</key>
		<string>skalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skam</string>
		<key>Word</key>
		<string>skam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattesystem</string>
		<key>Word</key>
		<string>skattesystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skepticism</string>
		<key>Word</key>
		<string>skepticism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skid-vm</string>
		<key>Word</key>
		<string>skid-VM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitdum</string>
		<key>Word</key>
		<string>skitdum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolform</string>
		<key>Word</key>
		<string>skolform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolhem</string>
		<key>Word</key>
		<string>skolhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolsystem</string>
		<key>Word</key>
		<string>skolsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skonsam</string>
		<key>Word</key>
		<string>skonsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivarproblem</string>
		<key>Word</key>
		<string>skrivarproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrym</string>
		<key>Word</key>
		<string>skrym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skräckfilm</string>
		<key>Word</key>
		<string>skräckfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skräm</string>
		<key>Word</key>
		<string>skräm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skum</string>
		<key>Word</key>
		<string>skum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyddsrum</string>
		<key>Word</key>
		<string>skyddsrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skym</string>
		<key>Word</key>
		<string>skym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyndsam</string>
		<key>Word</key>
		<string>skyndsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skälm</string>
		<key>Word</key>
		<string>skälm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skäm</string>
		<key>Word</key>
		<string>skäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skämtsam</string>
		<key>Word</key>
		<string>skämtsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skärm</string>
		<key>Word</key>
		<string>skärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skötsam</string>
		<key>Word</key>
		<string>skötsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slalom</string>
		<key>Word</key>
		<string>slalom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slavskärm</string>
		<key>Word</key>
		<string>slavskärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slem</string>
		<key>Word</key>
		<string>slem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slitsam</string>
		<key>Word</key>
		<string>slitsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slum</string>
		<key>Word</key>
		<string>slum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slutförvaringsproblem</string>
		<key>Word</key>
		<string>slutförvaringsproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sm</string>
		<key>Word</key>
		<string>SM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smittsam</string>
		<key>Word</key>
		<string>smittsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smärtsam</string>
		<key>Word</key>
		<string>smärtsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>småningom</string>
		<key>Word</key>
		<string>småningom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>småstuguproblem</string>
		<key>Word</key>
		<string>småstuguproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snobbism</string>
		<key>Word</key>
		<string>snobbism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snöstorm</string>
		<key>Word</key>
		<string>snöstorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialism</string>
		<key>Word</key>
		<string>socialism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sodom</string>
		<key>Word</key>
		<string>Sodom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solarium</string>
		<key>Word</key>
		<string>solarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solsystem</string>
		<key>Word</key>
		<string>solsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>som</string>
		<key>Word</key>
		<string>som</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sommarvarm</string>
		<key>Word</key>
		<string>sommarvarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soprum</string>
		<key>Word</key>
		<string>soprum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sovrum</string>
		<key>Word</key>
		<string>sovrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spam</string>
		<key>Word</key>
		<string>spam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sparreholm</string>
		<key>Word</key>
		<string>Sparreholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sparsam</string>
		<key>Word</key>
		<string>sparsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spectrum</string>
		<key>Word</key>
		<string>Spectrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spektrum</string>
		<key>Word</key>
		<string>spektrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelfilm</string>
		<key>Word</key>
		<string>spelfilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelprogram</string>
		<key>Word</key>
		<string>spelprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelsystem</string>
		<key>Word</key>
		<string>spelsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spritreklam</string>
		<key>Word</key>
		<string>spritreklam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>språkform</string>
		<key>Word</key>
		<string>språkform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>språkstödsprogram</string>
		<key>Word</key>
		<string>språkstödsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spådom</string>
		<key>Word</key>
		<string>spådom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stabilitetsproblem</string>
		<key>Word</key>
		<string>stabilitetsproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadium</string>
		<key>Word</key>
		<string>stadium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadsborgarhem</string>
		<key>Word</key>
		<string>stadsborgarhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadskärnecentrum</string>
		<key>Word</key>
		<string>stadskärnecentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stalinism</string>
		<key>Word</key>
		<string>stalinism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stam</string>
		<key>Word</key>
		<string>stam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stapeldiagram</string>
		<key>Word</key>
		<string>stapeldiagram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stathussystem</string>
		<key>Word</key>
		<string>stathussystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statistikprogram</string>
		<key>Word</key>
		<string>statistikprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stavningskontrollprogram</string>
		<key>Word</key>
		<string>stavningskontrollprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stavningsprogram</string>
		<key>Word</key>
		<string>stavningsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sticksöm</string>
		<key>Word</key>
		<string>sticksöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stiernhielm</string>
		<key>Word</key>
		<string>Stiernhielm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stillsam</string>
		<key>Word</key>
		<string>stillsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stim</string>
		<key>Word</key>
		<string>stim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stipendium</string>
		<key>Word</key>
		<string>stipendium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjernholm</string>
		<key>Word</key>
		<string>Stjernholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stockholm</string>
		<key>Word</key>
		<string>Stockholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storm</string>
		<key>Word</key>
		<string>storm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storslalom</string>
		<key>Word</key>
		<string>storslalom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storstockholm</string>
		<key>Word</key>
		<string>Storstockholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stram</string>
		<key>Word</key>
		<string>stram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stridslarm</string>
		<key>Word</key>
		<string>stridslarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strävsam</string>
		<key>Word</key>
		<string>strävsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ström</string>
		<key>Word</key>
		<string>ström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studium</string>
		<key>Word</key>
		<string>studium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stum</string>
		<key>Word</key>
		<string>stum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stundom</string>
		<key>Word</key>
		<string>stundom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stäm</string>
		<key>Word</key>
		<string>stäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sublim</string>
		<key>Word</key>
		<string>sublim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sundbyholm</string>
		<key>Word</key>
		<string>Sundbyholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sundström</string>
		<key>Word</key>
		<string>Sundström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>surinam</string>
		<key>Word</key>
		<string>Surinam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>surrealism</string>
		<key>Word</key>
		<string>surrealism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svanström</string>
		<key>Word</key>
		<string>Svanström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svordom</string>
		<key>Word</key>
		<string>svordom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svärm</string>
		<key>Word</key>
		<string>svärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svångrem</string>
		<key>Word</key>
		<string>svångrem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symposium</string>
		<key>Word</key>
		<string>symposium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symptom</string>
		<key>Word</key>
		<string>symptom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syndikalism</string>
		<key>Word</key>
		<string>syndikalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syndrom</string>
		<key>Word</key>
		<string>syndrom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synkronism</string>
		<key>Word</key>
		<string>synkronism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synonym</string>
		<key>Word</key>
		<string>synonym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>system</string>
		<key>Word</key>
		<string>system</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systemprogram</string>
		<key>Word</key>
		<string>systemprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sällsam</string>
		<key>Word</key>
		<string>sällsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>såsom</string>
		<key>Word</key>
		<string>såsom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>södermalm</string>
		<key>Word</key>
		<string>Södermalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>söderström</string>
		<key>Word</key>
		<string>Söderström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>söm</string>
		<key>Word</key>
		<string>söm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sömnproblem</string>
		<key>Word</key>
		<string>sömnproblem</string>
	</dict>
</array>
</plist>
