<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salu</string>
		<key>Word</key>
		<string>salu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schartau</string>
		<key>Word</key>
		<string>Schartau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextiosju</string>
		<key>Word</key>
		<string>sextiosju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>shigeru</string>
		<key>Word</key>
		<string>Shigeru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>shikoku</string>
		<key>Word</key>
		<string>Shikoku</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinuiju</string>
		<key>Word</key>
		<string>Sinuiju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sju</string>
		<key>Word</key>
		<string>sju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttiosju</string>
		<key>Word</key>
		<string>sjuttiosju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjojungfru</string>
		<key>Word</key>
		<string>sjöjungfru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogsfru</string>
		<key>Word</key>
		<string>skogsfru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slottsfru</string>
		<key>Word</key>
		<string>slottsfru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slu</string>
		<key>Word</key>
		<string>SLU</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sonhustru</string>
		<key>Word</key>
		<string>sonhustru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sou</string>
		<key>Word</key>
		<string>SOU</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ssu</string>
		<key>Word</key>
		<string>SSU</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>subaru</string>
		<key>Word</key>
		<string>Subaru</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>susning.nu</string>
		<key>Word</key>
		<string>susning.nu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svanjungfru</string>
		<key>Word</key>
		<string>svanjungfru</string>
	</dict>
</array>
</plist>
