<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samlev</string>
		<key>Word</key>
		<string>samlev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samliv</string>
		<key>Word</key>
		<string>samliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sav</string>
		<key>Word</key>
		<string>sav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>selektiv</string>
		<key>Word</key>
		<string>selektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sensitiv</string>
		<key>Word</key>
		<string>sensitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexliv</string>
		<key>Word</key>
		<string>sexliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexualliv</string>
		<key>Word</key>
		<string>sexualliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>signifikativ</string>
		<key>Word</key>
		<string>signifikativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>siv</string>
		<key>Word</key>
		<string>Siv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukskrev</string>
		<key>Word</key>
		<string>sjukskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukskriv</string>
		<key>Word</key>
		<string>sjukskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalsliv</string>
		<key>Word</key>
		<string>själsliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalv</string>
		<key>Word</key>
		<string>själv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvdestruktiv</string>
		<key>Word</key>
		<string>självdestruktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skaldebrev</string>
		<key>Word</key>
		<string>skaldebrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalv</string>
		<key>Word</key>
		<string>skalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skandinav</string>
		<key>Word</key>
		<string>skandinav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skarv</string>
		<key>Word</key>
		<string>skarv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattskrev</string>
		<key>Word</key>
		<string>skattskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattskriv</string>
		<key>Word</key>
		<string>skattskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skav</string>
		<key>Word</key>
		<string>skav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skeppsvarv</string>
		<key>Word</key>
		<string>skeppsvarv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skev</string>
		<key>Word</key>
		<string>skev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skiljebrev</string>
		<key>Word</key>
		<string>skiljebrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogshav</string>
		<key>Word</key>
		<string>skogshav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolelev</string>
		<key>Word</key>
		<string>skolelev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skov</string>
		<key>Word</key>
		<string>skov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrev</string>
		<key>Word</key>
		<string>skrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skriv</string>
		<key>Word</key>
		<string>skriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrov</string>
		<key>Word</key>
		<string>skrov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skruv</string>
		<key>Word</key>
		<string>skruv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalv</string>
		<key>Word</key>
		<string>skälv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skarv</string>
		<key>Word</key>
		<string>skärv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slarv</string>
		<key>Word</key>
		<string>slarv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slav</string>
		<key>Word</key>
		<string>slav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slev</string>
		<key>Word</key>
		<string>slev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smorkniv</string>
		<key>Word</key>
		<string>smörkniv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snav</string>
		<key>Word</key>
		<string>snäv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snobollsbrev</string>
		<key>Word</key>
		<string>snöbollsbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sov</string>
		<key>Word</key>
		<string>sov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sparv</string>
		<key>Word</key>
		<string>sparv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spekulativ</string>
		<key>Word</key>
		<string>spekulativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sportlov</string>
		<key>Word</key>
		<string>sportlov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadsarkiv</string>
		<key>Word</key>
		<string>stadsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stativ</string>
		<key>Word</key>
		<string>stativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stav</string>
		<key>Word</key>
		<string>stav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stendov</string>
		<key>Word</key>
		<string>stendöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stengolv</string>
		<key>Word</key>
		<string>stengolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stickprov</string>
		<key>Word</key>
		<string>stickprov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storspov</string>
		<key>Word</key>
		<string>storspov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strav</string>
		<key>Word</key>
		<string>sträv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studentliv</string>
		<key>Word</key>
		<string>studentliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styrstav</string>
		<key>Word</key>
		<string>styrstav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styv</string>
		<key>Word</key>
		<string>styv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stav</string>
		<key>Word</key>
		<string>stäv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>subjektiv</string>
		<key>Word</key>
		<string>subjektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>substantiv</string>
		<key>Word</key>
		<string>substantiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>successiv</string>
		<key>Word</key>
		<string>successiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>suggestiv</string>
		<key>Word</key>
		<string>suggestiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svalov</string>
		<key>Word</key>
		<string>Svalöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarsalternativ</string>
		<key>Word</key>
		<string>svarsalternativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarsbrev</string>
		<key>Word</key>
		<string>svarsbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svartalv</string>
		<key>Word</key>
		<string>svartalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarv</string>
		<key>Word</key>
		<string>svarv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sallskapsliv</string>
		<key>Word</key>
		<string>sällskapsliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sandebrev</string>
		<key>Word</key>
		<string>sändebrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sarskrev</string>
		<key>Word</key>
		<string>särskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sarskriv</string>
		<key>Word</key>
		<string>särskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sav</string>
		<key>Word</key>
		<string>säv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sonderrev</string>
		<key>Word</key>
		<string>sönderrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sonderriv</string>
		<key>Word</key>
		<string>sönderriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sov</string>
		<key>Word</key>
		<string>söv</string>
	</dict>
</array>
</plist>
