<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salix</string>
		<key>Word</key>
		<string>salix</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>savolax</string>
		<key>Word</key>
		<string>Savolax</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sax</string>
		<key>Word</key>
		<string>sax</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sex</string>
		<key>Word</key>
		<string>sex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextiosex</string>
		<key>Word</key>
		<string>sextiosex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sfinx</string>
		<key>Word</key>
		<string>sfinx</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>simplex</string>
		<key>Word</key>
		<string>simplex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttiosex</string>
		<key>Word</key>
		<string>sjuttiosex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slutmix</string>
		<key>Word</key>
		<string>slutmix</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smaax</string>
		<key>Word</key>
		<string>småax</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smafix</string>
		<key>Word</key>
		<string>småfix</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solnedgangsreflex</string>
		<key>Word</key>
		<string>solnedgångsreflex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sopransax</string>
		<key>Word</key>
		<string>sopransax</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spex</string>
		<key>Word</key>
		<string>spex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strax</string>
		<key>Word</key>
		<string>strax</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strix</string>
		<key>Word</key>
		<string>Strix</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studentspex</string>
		<key>Word</key>
		<string>studentspex</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>suffix</string>
		<key>Word</key>
		<string>suffix</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syntax</string>
		<key>Word</key>
		<string>syntax</string>
	</dict>
</array>
</plist>
