<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taibei</string>
		<key>Word</key>
		<string>Taibei</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taipei</string>
		<key>Word</key>
		<string>Taipei</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talteori</string>
		<key>Word</key>
		<string>talteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tautologi</string>
		<key>Word</key>
		<string>tautologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taxi</string>
		<key>Word</key>
		<string>taxi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taxonomi</string>
		<key>Word</key>
		<string>taxonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknologi</string>
		<key>Word</key>
		<string>teknologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefoni</string>
		<key>Word</key>
		<string>telefoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telepati</string>
		<key>Word</key>
		<string>telepati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teologi</string>
		<key>Word</key>
		<string>teologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teori</string>
		<key>Word</key>
		<string>teori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terapi</string>
		<key>Word</key>
		<string>terapi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terminologi</string>
		<key>Word</key>
		<string>terminologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terri</string>
		<key>Word</key>
		<string>Terri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thoraxkirurgi</string>
		<key>Word</key>
		<string>thoraxkirurgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thorelli</string>
		<key>Word</key>
		<string>Thorelli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiggeri</string>
		<key>Word</key>
		<string>tiggeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiscali</string>
		<key>Word</key>
		<string>Tiscali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjuveri</string>
		<key>Word</key>
		<string>tjuveri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toini</string>
		<key>Word</key>
		<string>Toini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tokeri</string>
		<key>Word</key>
		<string>tokeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>topologi</string>
		<key>Word</key>
		<string>topologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tragedi</string>
		<key>Word</key>
		<string>tragedi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trakasseri</string>
		<key>Word</key>
		<string>trakasseri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>travesti</string>
		<key>Word</key>
		<string>travesti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tretti</string>
		<key>Word</key>
		<string>tretti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trilogi</string>
		<key>Word</key>
		<string>trilogi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tripoli</string>
		<key>Word</key>
		<string>Tripoli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolleri</string>
		<key>Word</key>
		<string>trolleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tryckeri</string>
		<key>Word</key>
		<string>tryckeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradgardsmasteri</string>
		<key>Word</key>
		<string>trädgårdsmästeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvi</string>
		<key>Word</key>
		<string>tvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typografi</string>
		<key>Word</key>
		<string>typografi</string>
	</dict>
</array>
</plist>
