<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tack</string>
		<key>Word</key>
		<string>tack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tak</string>
		<key>Word</key>
		<string>tak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>takstock</string>
		<key>Word</key>
		<string>takstock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taktik</string>
		<key>Word</key>
		<string>taktik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taktisk</string>
		<key>Word</key>
		<string>taktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talbok</string>
		<key>Word</key>
		<string>talbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tallrik</string>
		<key>Word</key>
		<string>tallrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talrik</string>
		<key>Word</key>
		<string>talrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talsprak</string>
		<key>Word</key>
		<string>talspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tandvark</string>
		<key>Word</key>
		<string>tandvärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tank</string>
		<key>Word</key>
		<string>tank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankstreck</string>
		<key>Word</key>
		<string>tankstreck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tanzanisk</string>
		<key>Word</key>
		<string>tanzanisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>task</string>
		<key>Word</key>
		<string>task</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teatralisk</string>
		<key>Word</key>
		<string>teatralisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckensprak</string>
		<key>Word</key>
		<string>teckenspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckenstorlek</string>
		<key>Word</key>
		<string>teckenstorlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tegelbruk</string>
		<key>Word</key>
		<string>tegelbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tegeltak</string>
		<key>Word</key>
		<string>tegeltak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknik</string>
		<key>Word</key>
		<string>teknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknikhistorisk</string>
		<key>Word</key>
		<string>teknikhistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknisk</string>
		<key>Word</key>
		<string>teknisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknokratisk</string>
		<key>Word</key>
		<string>teknokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknologisk</string>
		<key>Word</key>
		<string>teknologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telegrafverk</string>
		<key>Word</key>
		<string>telegrafverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telehistorisk</string>
		<key>Word</key>
		<string>telehistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telepatisk</string>
		<key>Word</key>
		<string>telepatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>televerk</string>
		<key>Word</key>
		<string>televerk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teluk</string>
		<key>Word</key>
		<string>Teluk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tematisk</string>
		<key>Word</key>
		<string>tematisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teologisk</string>
		<key>Word</key>
		<string>teologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teoretisk</string>
		<key>Word</key>
		<string>teoretisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terapeutisk</string>
		<key>Word</key>
		<string>terapeutisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terminologisk</string>
		<key>Word</key>
		<string>terminologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>termodynamik</string>
		<key>Word</key>
		<string>termodynamik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>termodynamisk</string>
		<key>Word</key>
		<string>termodynamisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terroristnatverk</string>
		<key>Word</key>
		<string>terroristnätverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tetrapak</string>
		<key>Word</key>
		<string>Tetrapak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>theoderik</string>
		<key>Word</key>
		<string>Theoderik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsepok</string>
		<key>Word</key>
		<string>tidsepok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tieck</string>
		<key>Word</key>
		<string>Tieck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tik</string>
		<key>Word</key>
		<string>tik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbakablick</string>
		<key>Word</key>
		<string>tillbakablick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgick</string>
		<key>Word</key>
		<string>tillgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillmotesgick</string>
		<key>Word</key>
		<string>tillmötesgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillstyrk</string>
		<key>Word</key>
		<string>tillstyrk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjack</string>
		<key>Word</key>
		<string>tjack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjalk</string>
		<key>Word</key>
		<string>tjalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjeckisk</string>
		<key>Word</key>
		<string>tjeckisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjeckoslovakisk</string>
		<key>Word</key>
		<string>tjeckoslovakisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjock</string>
		<key>Word</key>
		<string>tjock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjocklek</string>
		<key>Word</key>
		<string>tjocklek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjanstefolk</string>
		<key>Word</key>
		<string>tjänstefolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tobak</string>
		<key>Word</key>
		<string>tobak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tobeck</string>
		<key>Word</key>
		<string>Tobeck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tok</string>
		<key>Word</key>
		<string>tok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toksank</string>
		<key>Word</key>
		<string>toksänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolk</string>
		<key>Word</key>
		<string>tolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tork</string>
		<key>Word</key>
		<string>tork</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tornfalk</string>
		<key>Word</key>
		<string>tornfalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torsk</string>
		<key>Word</key>
		<string>torsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toxisk</string>
		<key>Word</key>
		<string>toxisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trafik</string>
		<key>Word</key>
		<string>trafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tragik</string>
		<key>Word</key>
		<string>tragik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tragikomisk</string>
		<key>Word</key>
		<string>tragikomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tragisk</string>
		<key>Word</key>
		<string>tragisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trashank</string>
		<key>Word</key>
		<string>trashank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traumatisk</string>
		<key>Word</key>
		<string>traumatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trick</string>
		<key>Word</key>
		<string>trick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trigonometrisk</string>
		<key>Word</key>
		<string>trigonometrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trojansk</string>
		<key>Word</key>
		<string>trojansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolldryck</string>
		<key>Word</key>
		<string>trolldryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolsk</string>
		<key>Word</key>
		<string>trolsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tropik</string>
		<key>Word</key>
		<string>tropik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tropisk</string>
		<key>Word</key>
		<string>tropisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trosskusk</string>
		<key>Word</key>
		<string>trosskusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trubadurmusik</string>
		<key>Word</key>
		<string>trubadurmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>truck</string>
		<key>Word</key>
		<string>truck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trunk</string>
		<key>Word</key>
		<string>trunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tryck</string>
		<key>Word</key>
		<string>tryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trycksak</string>
		<key>Word</key>
		<string>trycksak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradgardsbruk</string>
		<key>Word</key>
		<string>trädgårdsbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradgardshack</string>
		<key>Word</key>
		<string>trädgårdshäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traningsvark</string>
		<key>Word</key>
		<string>träningsvärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trask</string>
		<key>Word</key>
		<string>träsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradlik</string>
		<key>Word</key>
		<string>trådlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>troskverk</string>
		<key>Word</key>
		<string>tröskverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trosterik</string>
		<key>Word</key>
		<string>trösterik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tsk</string>
		<key>Word</key>
		<string>tsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tumstock</string>
		<key>Word</key>
		<string>tumstock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turk</string>
		<key>Word</key>
		<string>turk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turkisk</string>
		<key>Word</key>
		<string>turkisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvinsjuk</string>
		<key>Word</key>
		<string>tvinsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvivelsjuk</string>
		<key>Word</key>
		<string>tvivelsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvanivagrammatik</string>
		<key>Word</key>
		<string>tvånivågrammatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyck</string>
		<key>Word</key>
		<string>tyck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typbibliotek</string>
		<key>Word</key>
		<string>typbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typisk</string>
		<key>Word</key>
		<string>typisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typografisk</string>
		<key>Word</key>
		<string>typografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyrannisk</string>
		<key>Word</key>
		<string>tyrannisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tysk</string>
		<key>Word</key>
		<string>tysk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tack</string>
		<key>Word</key>
		<string>täck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tank</string>
		<key>Word</key>
		<string>tänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tartattack</string>
		<key>Word</key>
		<string>tårtattack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tock</string>
		<key>Word</key>
		<string>Töck</string>
	</dict>
</array>
</plist>
