<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>takpapp</string>
		<key>Word</key>
		<string>takpapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tamp</string>
		<key>Word</key>
		<string>tamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tapp</string>
		<key>Word</key>
		<string>tapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tcp</string>
		<key>Word</key>
		<string>TCP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tejp</string>
		<key>Word</key>
		<string>tejp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknikkunskap</string>
		<key>Word</key>
		<string>teknikkunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teleskop</string>
		<key>Word</key>
		<string>teleskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>termgrupp</string>
		<key>Word</key>
		<string>termgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terrorangrepp</string>
		<key>Word</key>
		<string>terrorangrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidningsurklipp</string>
		<key>Word</key>
		<string>tidningsurklipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tierp</string>
		<key>Word</key>
		<string>Tierp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillhjälp</string>
		<key>Word</key>
		<string>tillhjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillköp</string>
		<key>Word</key>
		<string>tillköp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillrop</string>
		<key>Word</key>
		<string>tillrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiomannagrupp</string>
		<key>Word</key>
		<string>tiomannagrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tipptopp</string>
		<key>Word</key>
		<string>tipptopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiptop</string>
		<key>Word</key>
		<string>tiptop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>topp</string>
		<key>Word</key>
		<string>topp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torp</string>
		<key>Word</key>
		<string>torp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tp</string>
		<key>Word</key>
		<string>TP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tramp</string>
		<key>Word</key>
		<string>tramp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trapp</string>
		<key>Word</key>
		<string>trapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>triphop</string>
		<key>Word</key>
		<string>triphop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tripp</string>
		<key>Word</key>
		<string>tripp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trop</string>
		<key>Word</key>
		<string>trop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tropp</string>
		<key>Word</key>
		<string>tropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trupp</string>
		<key>Word</key>
		<string>trupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trädgårdsredskap</string>
		<key>Word</key>
		<string>trädgårdsredskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tupp</string>
		<key>Word</key>
		<string>tupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tusenlapp</string>
		<key>Word</key>
		<string>tusenlapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvärvetenskap</string>
		<key>Word</key>
		<string>tvärvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typ</string>
		<key>Word</key>
		<string>typ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>täpp</string>
		<key>Word</key>
		<string>täpp</string>
	</dict>
</array>
</plist>
