<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tabu</string>
		<key>Word</key>
		<string>tabu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tartu</string>
		<key>Word</key>
		<string>Tartu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tau</string>
		<key>Word</key>
		<string>Tau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thimphu</string>
		<key>Word</key>
		<string>Thimphu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thurgau</string>
		<key>Word</key>
		<string>Thurgau</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timbuktu</string>
		<key>Word</key>
		<string>Timbuktu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugosju</string>
		<key>Word</key>
		<string>tjugosju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugu</string>
		<key>Word</key>
		<string>tjugu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tongapatu</string>
		<key>Word</key>
		<string>Tongapatu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tongatapu</string>
		<key>Word</key>
		<string>Tongatapu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettiosju</string>
		<key>Word</key>
		<string>trettiosju</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tu</string>
		<key>Word</key>
		<string>tu</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tuvalu</string>
		<key>Word</key>
		<string>Tuvalu</string>
	</dict>
</array>
</plist>
