<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ud</string>
		<key>Word</key>
		<string>UD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>udd</string>
		<key>Word</key>
		<string>udd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ultrarapid</string>
		<key>Word</key>
		<string>ultrarapid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ultravåld</string>
		<key>Word</key>
		<string>ultravåld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ulvhild</string>
		<key>Word</key>
		<string>Ulvhild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanbad</string>
		<key>Word</key>
		<string>undanbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanbed</string>
		<key>Word</key>
		<string>undanbed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undangömd</string>
		<key>Word</key>
		<string>undangömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanröjd</string>
		<key>Word</key>
		<string>undanröjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanskymd</string>
		<key>Word</key>
		<string>undanskymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanstökad</string>
		<key>Word</key>
		<string>undanstökad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undantagstillstånd</string>
		<key>Word</key>
		<string>undantagstillstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underbyggd</string>
		<key>Word</key>
		<string>underbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underbyggnad</string>
		<key>Word</key>
		<string>underbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underfund</string>
		<key>Word</key>
		<string>underfund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underförstod</string>
		<key>Word</key>
		<string>underförstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underförstådd</string>
		<key>Word</key>
		<string>underförstådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undergrävd</string>
		<key>Word</key>
		<string>undergrävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underhållningsvåld</string>
		<key>Word</key>
		<string>underhållningsvåld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underjord</string>
		<key>Word</key>
		<string>underjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underkastad</string>
		<key>Word</key>
		<string>underkastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underkuvad</string>
		<key>Word</key>
		<string>underkuvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underkänd</string>
		<key>Word</key>
		<string>underkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underlättad</string>
		<key>Word</key>
		<string>underlättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underminerad</string>
		<key>Word</key>
		<string>underminerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underord</string>
		<key>Word</key>
		<string>underord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underordnad</string>
		<key>Word</key>
		<string>underordnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underrättad</string>
		<key>Word</key>
		<string>underrättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underskattad</string>
		<key>Word</key>
		<string>underskattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underskred</string>
		<key>Word</key>
		<string>underskred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underskrid</string>
		<key>Word</key>
		<string>underskrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understod</string>
		<key>Word</key>
		<string>understod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underställd</string>
		<key>Word</key>
		<string>underställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understöd</string>
		<key>Word</key>
		<string>understöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understödd</string>
		<key>Word</key>
		<string>understödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undertecknad</string>
		<key>Word</key>
		<string>undertecknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underutvecklad</string>
		<key>Word</key>
		<string>underutvecklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undervattensblad</string>
		<key>Word</key>
		<string>undervattensblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undervisad</string>
		<key>Word</key>
		<string>undervisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undrad</string>
		<key>Word</key>
		<string>undrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomsförbund</string>
		<key>Word</key>
		<string>ungdomsförbund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomsgård</string>
		<key>Word</key>
		<string>ungdomsgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomsråd</string>
		<key>Word</key>
		<string>ungdomsråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomssynd</string>
		<key>Word</key>
		<string>ungdomssynd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungtid</string>
		<key>Word</key>
		<string>ungtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>universitetsbildad</string>
		<key>Word</key>
		<string>universitetsbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>unnad</string>
		<key>Word</key>
		<string>unnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppackad</string>
		<key>Word</key>
		<string>uppackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppammad</string>
		<key>Word</key>
		<string>uppammad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppassad</string>
		<key>Word</key>
		<string>uppassad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbjud</string>
		<key>Word</key>
		<string>uppbjud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbjöd</string>
		<key>Word</key>
		<string>uppbjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbyggd</string>
		<key>Word</key>
		<string>uppbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbyggnad</string>
		<key>Word</key>
		<string>uppbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbåd</string>
		<key>Word</key>
		<string>uppbåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbörd</string>
		<key>Word</key>
		<string>uppbörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdaterad</string>
		<key>Word</key>
		<string>uppdaterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdelad</string>
		<key>Word</key>
		<string>uppdelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppeggad</string>
		<key>Word</key>
		<string>uppeggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppeldad</string>
		<key>Word</key>
		<string>uppeldad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppenbarad</string>
		<key>Word</key>
		<string>uppenbarad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfattad</string>
		<key>Word</key>
		<string>uppfattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfostrad</string>
		<key>Word</key>
		<string>uppfostrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfriskad</string>
		<key>Word</key>
		<string>uppfriskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfylld</string>
		<key>Word</key>
		<string>uppfylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfyllnad</string>
		<key>Word</key>
		<string>uppfyllnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfälld</string>
		<key>Word</key>
		<string>uppfälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfästad</string>
		<key>Word</key>
		<string>uppfästad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfångad</string>
		<key>Word</key>
		<string>uppfångad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfödd</string>
		<key>Word</key>
		<string>uppfödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppföljd</string>
		<key>Word</key>
		<string>uppföljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppförd</string>
		<key>Word</key>
		<string>uppförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppgjord</string>
		<key>Word</key>
		<string>uppgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppgraderad</string>
		<key>Word</key>
		<string>uppgraderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphandlad</string>
		<key>Word</key>
		<string>upphandlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphetsad</string>
		<key>Word</key>
		<string>upphetsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphittad</string>
		<key>Word</key>
		<string>upphittad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrättsskydd</string>
		<key>Word</key>
		<string>upphovsrättsskydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrättsskyddad</string>
		<key>Word</key>
		<string>upphovsrättsskyddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphämtad</string>
		<key>Word</key>
		<string>upphämtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphängd</string>
		<key>Word</key>
		<string>upphängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphävd</string>
		<key>Word</key>
		<string>upphävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphöjd</string>
		<key>Word</key>
		<string>upphöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppkallad</string>
		<key>Word</key>
		<string>uppkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppkastad</string>
		<key>Word</key>
		<string>uppkastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppkopplad</string>
		<key>Word</key>
		<string>uppkopplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplagd</string>
		<key>Word</key>
		<string>upplagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplagrad</string>
		<key>Word</key>
		<string>upplagrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppland</string>
		<key>Word</key>
		<string>Uppland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplevd</string>
		<key>Word</key>
		<string>upplevd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplivad</string>
		<key>Word</key>
		<string>upplivad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmanad</string>
		<key>Word</key>
		<string>uppmanad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmonterad</string>
		<key>Word</key>
		<string>uppmonterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmuntrad</string>
		<key>Word</key>
		<string>uppmuntrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmärksammad</string>
		<key>Word</key>
		<string>uppmärksammad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppnådd</string>
		<key>Word</key>
		<string>uppnådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppoffrad</string>
		<key>Word</key>
		<string>uppoffrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppradad</string>
		<key>Word</key>
		<string>uppradad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprensad</string>
		<key>Word</key>
		<string>upprensad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprepad</string>
		<key>Word</key>
		<string>upprepad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppringd</string>
		<key>Word</key>
		<string>uppringd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppropad</string>
		<key>Word</key>
		<string>uppropad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprustad</string>
		<key>Word</key>
		<string>upprustad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprymd</string>
		<key>Word</key>
		<string>upprymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppräknad</string>
		<key>Word</key>
		<string>uppräknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprättad</string>
		<key>Word</key>
		<string>upprättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprörd</string>
		<key>Word</key>
		<string>upprörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsalasamfund</string>
		<key>Word</key>
		<string>uppsalasamfund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskakad</string>
		<key>Word</key>
		<string>uppskakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskattad</string>
		<key>Word</key>
		<string>uppskattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskruvad</string>
		<key>Word</key>
		<string>uppskruvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskrämd</string>
		<key>Word</key>
		<string>uppskrämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskärrad</string>
		<key>Word</key>
		<string>uppskärrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppslagsord</string>
		<key>Word</key>
		<string>uppslagsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppslukad</string>
		<key>Word</key>
		<string>uppslukad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsnappad</string>
		<key>Word</key>
		<string>uppsnappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppspaltad</string>
		<key>Word</key>
		<string>uppspaltad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppspänd</string>
		<key>Word</key>
		<string>uppspänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppspärrad</string>
		<key>Word</key>
		<string>uppspärrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppstaplad</string>
		<key>Word</key>
		<string>uppstaplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppstod</string>
		<key>Word</key>
		<string>uppstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppställd</string>
		<key>Word</key>
		<string>uppställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsvälld</string>
		<key>Word</key>
		<string>uppsvälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptecknad</string>
		<key>Word</key>
		<string>upptecknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppträd</string>
		<key>Word</key>
		<string>uppträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppträdd</string>
		<key>Word</key>
		<string>uppträdd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptänd</string>
		<key>Word</key>
		<string>upptänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvaktad</string>
		<key>Word</key>
		<string>uppvaktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvisad</string>
		<key>Word</key>
		<string>uppvisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvägd</string>
		<key>Word</key>
		<string>uppvägd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvärmd</string>
		<key>Word</key>
		<string>uppvärmd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvärmningskostnad</string>
		<key>Word</key>
		<string>uppvärmningskostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppåttrend</string>
		<key>Word</key>
		<string>uppåttrend</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppövad</string>
		<key>Word</key>
		<string>uppövad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urartad</string>
		<key>Word</key>
		<string>urartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urbaniserad</string>
		<key>Word</key>
		<string>urbaniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urbild</string>
		<key>Word</key>
		<string>urbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urd</string>
		<key>Word</key>
		<string>Urd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urholkad</string>
		<key>Word</key>
		<string>urholkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uringenompyrd</string>
		<key>Word</key>
		<string>uringenompyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urladdad</string>
		<key>Word</key>
		<string>urladdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urlakad</string>
		<key>Word</key>
		<string>urlakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urskild</string>
		<key>Word</key>
		<string>urskild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urskiljd</string>
		<key>Word</key>
		<string>urskiljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ursäktad</string>
		<key>Word</key>
		<string>ursäktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urtid</string>
		<key>Word</key>
		<string>urtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utannonserad</string>
		<key>Word</key>
		<string>utannonserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utarbetad</string>
		<key>Word</key>
		<string>utarbetad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utarmad</string>
		<key>Word</key>
		<string>utarmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utarrenderad</string>
		<key>Word</key>
		<string>utarrenderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbad</string>
		<key>Word</key>
		<string>utbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbed</string>
		<key>Word</key>
		<string>utbed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbetalad</string>
		<key>Word</key>
		<string>utbetalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbetald</string>
		<key>Word</key>
		<string>utbetald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbildad</string>
		<key>Word</key>
		<string>utbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbjud</string>
		<key>Word</key>
		<string>utbjud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbjöd</string>
		<key>Word</key>
		<string>utbjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utblottad</string>
		<key>Word</key>
		<string>utblottad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbred</string>
		<key>Word</key>
		<string>utbred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbredd</string>
		<key>Word</key>
		<string>utbredd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbränd</string>
		<key>Word</key>
		<string>utbränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbud</string>
		<key>Word</key>
		<string>utbud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbyggd</string>
		<key>Word</key>
		<string>utbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbyggnad</string>
		<key>Word</key>
		<string>utbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdelad</string>
		<key>Word</key>
		<string>utdelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdöd</string>
		<key>Word</key>
		<string>utdöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdömd</string>
		<key>Word</key>
		<string>utdömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utelämnad</string>
		<key>Word</key>
		<string>utelämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utestängd</string>
		<key>Word</key>
		<string>utestängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utexaminerad</string>
		<key>Word</key>
		<string>utexaminerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utflyttad</string>
		<key>Word</key>
		<string>utflyttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfodrad</string>
		<key>Word</key>
		<string>utfodrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utformad</string>
		<key>Word</key>
		<string>utformad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utforskad</string>
		<key>Word</key>
		<string>utforskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfrågad</string>
		<key>Word</key>
		<string>utfrågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfylld</string>
		<key>Word</key>
		<string>utfylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfyllnad</string>
		<key>Word</key>
		<string>utfyllnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfärdad</string>
		<key>Word</key>
		<string>utfärdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utförd</string>
		<key>Word</key>
		<string>utförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgallrad</string>
		<key>Word</key>
		<string>utgallrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgjord</string>
		<key>Word</key>
		<string>utgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgrenad</string>
		<key>Word</key>
		<string>utgrenad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgård</string>
		<key>Word</key>
		<string>utgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uthyrd</string>
		<key>Word</key>
		<string>uthyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uthämtad</string>
		<key>Word</key>
		<string>uthämtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uthärdad</string>
		<key>Word</key>
		<string>uthärdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utjämnad</string>
		<key>Word</key>
		<string>utjämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkallad</string>
		<key>Word</key>
		<string>utkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkastad</string>
		<key>Word</key>
		<string>utkastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkonkurrerad</string>
		<key>Word</key>
		<string>utkonkurrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkorad</string>
		<key>Word</key>
		<string>utkorad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkristalliserad</string>
		<key>Word</key>
		<string>utkristalliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkrävd</string>
		<key>Word</key>
		<string>utkrävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkämpad</string>
		<key>Word</key>
		<string>utkämpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkörd</string>
		<key>Word</key>
		<string>utkörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlagd</string>
		<key>Word</key>
		<string>utlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utland</string>
		<key>Word</key>
		<string>utland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlistad</string>
		<key>Word</key>
		<string>utlistad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utloggad</string>
		<key>Word</key>
		<string>utloggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlokaliserad</string>
		<key>Word</key>
		<string>utlokaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlottad</string>
		<key>Word</key>
		<string>utlottad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlovad</string>
		<key>Word</key>
		<string>utlovad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlämnad</string>
		<key>Word</key>
		<string>utlämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlånad</string>
		<key>Word</key>
		<string>utlånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmagrad</string>
		<key>Word</key>
		<string>utmagrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmanad</string>
		<key>Word</key>
		<string>utmanad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmatad</string>
		<key>Word</key>
		<string>utmatad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmattad</string>
		<key>Word</key>
		<string>utmattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmed</string>
		<key>Word</key>
		<string>utmed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmålad</string>
		<key>Word</key>
		<string>utmålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmönstrad</string>
		<key>Word</key>
		<string>utmönstrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utnyttjad</string>
		<key>Word</key>
		<string>utnyttjad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utnyttjandegrad</string>
		<key>Word</key>
		<string>utnyttjandegrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utnämnd</string>
		<key>Word</key>
		<string>utnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utpekad</string>
		<key>Word</key>
		<string>utpekad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utplacerad</string>
		<key>Word</key>
		<string>utplacerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utplånad</string>
		<key>Word</key>
		<string>utplånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utprickad</string>
		<key>Word</key>
		<string>utprickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utprovad</string>
		<key>Word</key>
		<string>utprovad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utpräglad</string>
		<key>Word</key>
		<string>utpräglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrangerad</string>
		<key>Word</key>
		<string>utrangerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utred</string>
		<key>Word</key>
		<string>utred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utredd</string>
		<key>Word</key>
		<string>utredd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrensad</string>
		<key>Word</key>
		<string>utrensad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utropad</string>
		<key>Word</key>
		<string>utropad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utropsord</string>
		<key>Word</key>
		<string>utropsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrotad</string>
		<key>Word</key>
		<string>utrotad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrotningshotad</string>
		<key>Word</key>
		<string>utrotningshotad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrustad</string>
		<key>Word</key>
		<string>utrustad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrymd</string>
		<key>Word</key>
		<string>utrymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uträknad</string>
		<key>Word</key>
		<string>uträknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uträttad</string>
		<key>Word</key>
		<string>uträttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsagd</string>
		<key>Word</key>
		<string>utsagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsedd</string>
		<key>Word</key>
		<string>utsedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsirad</string>
		<key>Word</key>
		<string>utsirad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskiftad</string>
		<key>Word</key>
		<string>utskiftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskyld</string>
		<key>Word</key>
		<string>utskyld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslocknad</string>
		<key>Word</key>
		<string>utslocknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslungad</string>
		<key>Word</key>
		<string>utslungad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslätad</string>
		<key>Word</key>
		<string>utslätad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsmyckad</string>
		<key>Word</key>
		<string>utsmyckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utspelad</string>
		<key>Word</key>
		<string>utspelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utspred</string>
		<key>Word</key>
		<string>utspred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsprid</string>
		<key>Word</key>
		<string>utsprid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utspridd</string>
		<key>Word</key>
		<string>utspridd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utspärrad</string>
		<key>Word</key>
		<string>utspärrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstod</string>
		<key>Word</key>
		<string>utstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstrålad</string>
		<key>Word</key>
		<string>utstrålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utströdd</string>
		<key>Word</key>
		<string>utströdd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstyrd</string>
		<key>Word</key>
		<string>utstyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utställd</string>
		<key>Word</key>
		<string>utställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utställningsbild</string>
		<key>Word</key>
		<string>utställningsbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsuddad</string>
		<key>Word</key>
		<string>utsuddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsänd</string>
		<key>Word</key>
		<string>utsänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsöndrad</string>
		<key>Word</key>
		<string>utsöndrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttagskostnad</string>
		<key>Word</key>
		<string>uttagskostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttalad</string>
		<key>Word</key>
		<string>uttalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttestad</string>
		<key>Word</key>
		<string>uttestad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttolkad</string>
		<key>Word</key>
		<string>uttolkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttorkad</string>
		<key>Word</key>
		<string>uttorkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utträd</string>
		<key>Word</key>
		<string>utträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utträdd</string>
		<key>Word</key>
		<string>utträdd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttråkad</string>
		<key>Word</key>
		<string>uttråkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttröttad</string>
		<key>Word</key>
		<string>uttröttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttyd</string>
		<key>Word</key>
		<string>uttyd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttydd</string>
		<key>Word</key>
		<string>uttydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttömd</string>
		<key>Word</key>
		<string>uttömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvald</string>
		<key>Word</key>
		<string>utvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvandrad</string>
		<key>Word</key>
		<string>utvandrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklad</string>
		<key>Word</key>
		<string>utvecklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklingsland</string>
		<key>Word</key>
		<string>utvecklingsland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklingsmetod</string>
		<key>Word</key>
		<string>utvecklingsmetod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklingsstörd</string>
		<key>Word</key>
		<string>utvecklingsstörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utverkad</string>
		<key>Word</key>
		<string>utverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvidgad</string>
		<key>Word</key>
		<string>utvidgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvisad</string>
		<key>Word</key>
		<string>utvisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvärderad</string>
		<key>Word</key>
		<string>utvärderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utväxlad</string>
		<key>Word</key>
		<string>utväxlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utåtriktad</string>
		<key>Word</key>
		<string>utåtriktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utökad</string>
		<key>Word</key>
		<string>utökad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utövad</string>
		<key>Word</key>
		<string>utövad</string>
	</dict>
</array>
</plist>
