<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uddatåig</string>
		<key>Word</key>
		<string>uddatåig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uleåborg</string>
		<key>Word</key>
		<string>Uleåborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ultravåldsskildring</string>
		<key>Word</key>
		<string>ultravåldsskildring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undantag</string>
		<key>Word</key>
		<string>undantag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undantog</string>
		<key>Word</key>
		<string>undantog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underavdelning</string>
		<key>Word</key>
		<string>underavdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underbygg</string>
		<key>Word</key>
		<string>underbygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underdånig</string>
		<key>Word</key>
		<string>underdånig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underfundig</string>
		<key>Word</key>
		<string>underfundig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undergång</string>
		<key>Word</key>
		<string>undergång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underhandling</string>
		<key>Word</key>
		<string>underhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underhållning</string>
		<key>Word</key>
		<string>underhållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underkatalog</string>
		<key>Word</key>
		<string>underkatalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underlag</string>
		<key>Word</key>
		<string>underlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underlig</string>
		<key>Word</key>
		<string>underlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undermålig</string>
		<key>Word</key>
		<string>undermålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undernäring</string>
		<key>Word</key>
		<string>undernäring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underordning</string>
		<key>Word</key>
		<string>underordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understeg</string>
		<key>Word</key>
		<string>understeg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understig</string>
		<key>Word</key>
		<string>understig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understrykning</string>
		<key>Word</key>
		<string>understrykning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undersökning</string>
		<key>Word</key>
		<string>undersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underviktig</string>
		<key>Word</key>
		<string>underviktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undervisning</string>
		<key>Word</key>
		<string>undervisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undsättning</string>
		<key>Word</key>
		<string>undsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ung</string>
		<key>Word</key>
		<string>ung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomlig</string>
		<key>Word</key>
		<string>ungdomlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungefärlig</string>
		<key>Word</key>
		<string>ungefärlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungflicksaktig</string>
		<key>Word</key>
		<string>ungflicksaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppackning</string>
		<key>Word</key>
		<string>uppackning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbränning</string>
		<key>Word</key>
		<string>uppbränning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppbygg</string>
		<key>Word</key>
		<string>uppbygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdatering</string>
		<key>Word</key>
		<string>uppdatering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdelning</string>
		<key>Word</key>
		<string>uppdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdrag</string>
		<key>Word</key>
		<string>uppdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdrog</string>
		<key>Word</key>
		<string>uppdrog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppenbarlig</string>
		<key>Word</key>
		<string>uppenbarlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfattning</string>
		<key>Word</key>
		<string>uppfattning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfinning</string>
		<key>Word</key>
		<string>uppfinning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfödning</string>
		<key>Word</key>
		<string>uppfödning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppföljning</string>
		<key>Word</key>
		<string>uppföljning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppgradering</string>
		<key>Word</key>
		<string>uppgradering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppgång</string>
		<key>Word</key>
		<string>uppgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphandling</string>
		<key>Word</key>
		<string>upphandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphetsning</string>
		<key>Word</key>
		<string>upphetsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrättsintrång</string>
		<key>Word</key>
		<string>upphovsrättsintrång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrättslag</string>
		<key>Word</key>
		<string>upphovsrättslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrättslagstiftning</string>
		<key>Word</key>
		<string>upphovsrättslagstiftning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrättslig</string>
		<key>Word</key>
		<string>upphovsrättslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphällning</string>
		<key>Word</key>
		<string>upphällning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphöjning</string>
		<key>Word</key>
		<string>upphöjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppkoppling</string>
		<key>Word</key>
		<string>uppkoppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppkäftig</string>
		<key>Word</key>
		<string>uppkäftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppladdning</string>
		<key>Word</key>
		<string>uppladdning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplag</string>
		<key>Word</key>
		<string>upplag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppledning</string>
		<key>Word</key>
		<string>uppledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplysning</string>
		<key>Word</key>
		<string>upplysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplägg</string>
		<key>Word</key>
		<string>upplägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppläggning</string>
		<key>Word</key>
		<string>uppläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplösning</string>
		<key>Word</key>
		<string>upplösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmaning</string>
		<key>Word</key>
		<string>uppmaning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmicning</string>
		<key>Word</key>
		<string>uppmicning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppnåelig</string>
		<key>Word</key>
		<string>uppnåelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppoffring</string>
		<key>Word</key>
		<string>uppoffring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprepning</string>
		<key>Word</key>
		<string>upprepning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppriktig</string>
		<key>Word</key>
		<string>uppriktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppringning</string>
		<key>Word</key>
		<string>uppringning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprustning</string>
		<key>Word</key>
		<string>upprustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppryckning</string>
		<key>Word</key>
		<string>uppryckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppräknelig</string>
		<key>Word</key>
		<string>uppräknelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppräkning</string>
		<key>Word</key>
		<string>uppräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskattning</string>
		<key>Word</key>
		<string>uppskattning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskjutning</string>
		<key>Word</key>
		<string>uppskjutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppslag</string>
		<key>Word</key>
		<string>uppslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppslutning</string>
		<key>Word</key>
		<string>uppslutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppspelning</string>
		<key>Word</key>
		<string>uppspelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsplittring</string>
		<key>Word</key>
		<string>uppsplittring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppstartning</string>
		<key>Word</key>
		<string>uppstartning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsteg</string>
		<key>Word</key>
		<string>uppsteg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppstig</string>
		<key>Word</key>
		<string>uppstig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppställning</string>
		<key>Word</key>
		<string>uppställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsägning</string>
		<key>Word</key>
		<string>uppsägning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsättning</string>
		<key>Word</key>
		<string>uppsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptag</string>
		<key>Word</key>
		<string>upptag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptagning</string>
		<key>Word</key>
		<string>upptagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppteckning</string>
		<key>Word</key>
		<string>uppteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptog</string>
		<key>Word</key>
		<string>upptog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptänklig</string>
		<key>Word</key>
		<string>upptänklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptåg</string>
		<key>Word</key>
		<string>upptåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvaktning</string>
		<key>Word</key>
		<string>uppvaktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvisning</string>
		<key>Word</key>
		<string>uppvisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppväg</string>
		<key>Word</key>
		<string>uppväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvärmning</string>
		<key>Word</key>
		<string>uppvärmning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvärmningsanordning</string>
		<key>Word</key>
		<string>uppvärmningsanordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urartning</string>
		<key>Word</key>
		<string>urartning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urbanisering</string>
		<key>Word</key>
		<string>urbanisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urberg</string>
		<key>Word</key>
		<string>urberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urfånig</string>
		<key>Word</key>
		<string>urfånig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urinlägg</string>
		<key>Word</key>
		<string>urinlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urkramning</string>
		<key>Word</key>
		<string>urkramning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urladdning</string>
		<key>Word</key>
		<string>urladdning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urlakning</string>
		<key>Word</key>
		<string>urlakning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urmodig</string>
		<key>Word</key>
		<string>urmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urolog</string>
		<key>Word</key>
		<string>urolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ursinnig</string>
		<key>Word</key>
		<string>ursinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urskiljning</string>
		<key>Word</key>
		<string>urskiljning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urskog</string>
		<key>Word</key>
		<string>urskog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ursprung</string>
		<key>Word</key>
		<string>ursprung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ursprunglig</string>
		<key>Word</key>
		<string>ursprunglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ursprungsbefolkning</string>
		<key>Word</key>
		<string>ursprungsbefolkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uråldrig</string>
		<key>Word</key>
		<string>uråldrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>usb-koppling</string>
		<key>Word</key>
		<string>USB-koppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>usling</string>
		<key>Word</key>
		<string>usling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbetalning</string>
		<key>Word</key>
		<string>utbetalning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbildning</string>
		<key>Word</key>
		<string>utbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbredning</string>
		<key>Word</key>
		<string>utbredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbrytning</string>
		<key>Word</key>
		<string>utbrytning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbygg</string>
		<key>Word</key>
		<string>utbygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utböling</string>
		<key>Word</key>
		<string>utböling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdelning</string>
		<key>Word</key>
		<string>utdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdog</string>
		<key>Word</key>
		<string>utdog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdrag</string>
		<key>Word</key>
		<string>utdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdragning</string>
		<key>Word</key>
		<string>utdragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdrog</string>
		<key>Word</key>
		<string>utdrog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdunstning</string>
		<key>Word</key>
		<string>utdunstning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utestäng</string>
		<key>Word</key>
		<string>utestäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfartsväg</string>
		<key>Word</key>
		<string>utfartsväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfattig</string>
		<key>Word</key>
		<string>utfattig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfiskning</string>
		<key>Word</key>
		<string>utfiskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utformning</string>
		<key>Word</key>
		<string>utformning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utforskning</string>
		<key>Word</key>
		<string>utforskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfrågning</string>
		<key>Word</key>
		<string>utfrågning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utförlig</string>
		<key>Word</key>
		<string>utförlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utförsäljning</string>
		<key>Word</key>
		<string>utförsäljning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utförsåkning</string>
		<key>Word</key>
		<string>utförsåkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgivning</string>
		<key>Word</key>
		<string>utgivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgrävning</string>
		<key>Word</key>
		<string>utgrävning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgång</string>
		<key>Word</key>
		<string>utgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uthusvägg</string>
		<key>Word</key>
		<string>uthusvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uthyrning</string>
		<key>Word</key>
		<string>uthyrning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uthållig</string>
		<key>Word</key>
		<string>uthållig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utjämning</string>
		<key>Word</key>
		<string>utjämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkoppling</string>
		<key>Word</key>
		<string>utkoppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkorg</string>
		<key>Word</key>
		<string>utkorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlakning</string>
		<key>Word</key>
		<string>utlakning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlistning</string>
		<key>Word</key>
		<string>utlistning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utloggning</string>
		<key>Word</key>
		<string>utloggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlokalisering</string>
		<key>Word</key>
		<string>utlokalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlottning</string>
		<key>Word</key>
		<string>utlottning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlägg</string>
		<key>Word</key>
		<string>utlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utläggning</string>
		<key>Word</key>
		<string>utläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlämning</string>
		<key>Word</key>
		<string>utlämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlänning</string>
		<key>Word</key>
		<string>utlänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlåning</string>
		<key>Word</key>
		<string>utlåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlösning</string>
		<key>Word</key>
		<string>utlösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmaning</string>
		<key>Word</key>
		<string>utmaning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmatning</string>
		<key>Word</key>
		<string>utmatning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utnämning</string>
		<key>Word</key>
		<string>utnämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utomjording</string>
		<key>Word</key>
		<string>utomjording</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utomkroppslig</string>
		<key>Word</key>
		<string>utomkroppslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utomordentlig</string>
		<key>Word</key>
		<string>utomordentlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utplacering</string>
		<key>Word</key>
		<string>utplacering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utplåning</string>
		<key>Word</key>
		<string>utplåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utredning</string>
		<key>Word</key>
		<string>utredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrotning</string>
		<key>Word</key>
		<string>utrotning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrullning</string>
		<key>Word</key>
		<string>utrullning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrustning</string>
		<key>Word</key>
		<string>utrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utryckning</string>
		<key>Word</key>
		<string>utryckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrymning</string>
		<key>Word</key>
		<string>utrymning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uträkning</string>
		<key>Word</key>
		<string>uträkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskriftsvänlig</string>
		<key>Word</key>
		<string>utskriftsvänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskrivning</string>
		<key>Word</key>
		<string>utskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslag</string>
		<key>Word</key>
		<string>utslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslagning</string>
		<key>Word</key>
		<string>utslagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsmyckning</string>
		<key>Word</key>
		<string>utsmyckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsträckning</string>
		<key>Word</key>
		<string>utsträckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstyrning</string>
		<key>Word</key>
		<string>utstyrning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utställning</string>
		<key>Word</key>
		<string>utställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsug</string>
		<key>Word</key>
		<string>utsug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsugning</string>
		<key>Word</key>
		<string>utsugning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsäg</string>
		<key>Word</key>
		<string>utsäg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsändning</string>
		<key>Word</key>
		<string>utsändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsättning</string>
		<key>Word</key>
		<string>utsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsåg</string>
		<key>Word</key>
		<string>utsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsög</string>
		<key>Word</key>
		<string>utsög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsökning</string>
		<key>Word</key>
		<string>utsökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsökningslag</string>
		<key>Word</key>
		<string>utsökningslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttag</string>
		<key>Word</key>
		<string>uttag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttalsbeteckning</string>
		<key>Word</key>
		<string>uttalsbeteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttestning</string>
		<key>Word</key>
		<string>uttestning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttog</string>
		<key>Word</key>
		<string>uttog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttorkning</string>
		<key>Word</key>
		<string>uttorkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttrycklig</string>
		<key>Word</key>
		<string>uttrycklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttydning</string>
		<key>Word</key>
		<string>uttydning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvandring</string>
		<key>Word</key>
		<string>utvandring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utveckling</string>
		<key>Word</key>
		<string>utveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklingsavdelning</string>
		<key>Word</key>
		<string>utvecklingsavdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklingsstörning</string>
		<key>Word</key>
		<string>utvecklingsstörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvidgning</string>
		<key>Word</key>
		<string>utvidgning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvinning</string>
		<key>Word</key>
		<string>utvinning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utväg</string>
		<key>Word</key>
		<string>utväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvärdering</string>
		<key>Word</key>
		<string>utvärdering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utväxling</string>
		<key>Word</key>
		<string>utväxling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utökning</string>
		<key>Word</key>
		<string>utökning</string>
	</dict>
</array>
</plist>
