<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undergangsteologi</string>
		<key>Word</key>
		<string>undergångsteologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomsallergologi</string>
		<key>Word</key>
		<string>ungdomsallergologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomskardiologi</string>
		<key>Word</key>
		<string>ungdomskardiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomskirurgi</string>
		<key>Word</key>
		<string>ungdomskirurgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomsneurologi</string>
		<key>Word</key>
		<string>ungdomsneurologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomspsykiatri</string>
		<key>Word</key>
		<string>ungdomspsykiatri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdomsradiologi</string>
		<key>Word</key>
		<string>ungdomsradiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>unni</string>
		<key>Word</key>
		<string>Unni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urologi</string>
		<key>Word</key>
		<string>urologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>usemodwiki</string>
		<key>Word</key>
		<string>UseModWiki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>usti</string>
		<key>Word</key>
		<string>Usti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utebli</string>
		<key>Word</key>
		<string>utebli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uti</string>
		<key>Word</key>
		<string>uti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utopi</string>
		<key>Word</key>
		<string>utopi</string>
	</dict>
</array>
</plist>
