<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uddeholm</string>
		<key>Word</key>
		<string>Uddeholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ulm</string>
		<key>Word</key>
		<string>Ulm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ultimatum</string>
		<key>Word</key>
		<string>ultimatum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underarm</string>
		<key>Word</key>
		<string>underarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understam</string>
		<key>Word</key>
		<string>understam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understundom</string>
		<key>Word</key>
		<string>understundom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undkom</string>
		<key>Word</key>
		<string>undkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdom</string>
		<key>Word</key>
		<string>ungdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uniform</string>
		<key>Word</key>
		<string>uniform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>universum</string>
		<key>Word</key>
		<string>universum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfinningsrikedom</string>
		<key>Word</key>
		<string>uppfinningsrikedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppkom</string>
		<key>Word</key>
		<string>uppkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppmärksam</string>
		<key>Word</key>
		<string>uppmärksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppskräm</string>
		<key>Word</key>
		<string>uppskräm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppvärm</string>
		<key>Word</key>
		<string>uppvärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urvalskriterium</string>
		<key>Word</key>
		<string>urvalskriterium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>usedom</string>
		<key>Word</key>
		<string>Usedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbildningssystem</string>
		<key>Word</key>
		<string>utbildningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdöm</string>
		<key>Word</key>
		<string>utdöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkom</string>
		<key>Word</key>
		<string>utkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlåningssystem</string>
		<key>Word</key>
		<string>utlåningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utom</string>
		<key>Word</key>
		<string>utom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrym</string>
		<key>Word</key>
		<string>utrym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttrycksform</string>
		<key>Word</key>
		<string>uttrycksform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttöm</string>
		<key>Word</key>
		<string>uttöm</string>
	</dict>
</array>
</plist>
