<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vad</string>
		<key>Word</key>
		<string>vad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vadd</string>
		<key>Word</key>
		<string>vadd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagabond</string>
		<key>Word</key>
		<string>vagabond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaggad</string>
		<key>Word</key>
		<string>vaggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaggeryd</string>
		<key>Word</key>
		<string>Vaggeryd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagnhärad</string>
		<key>Word</key>
		<string>Vagnhärad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vakad</string>
		<key>Word</key>
		<string>vakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaknad</string>
		<key>Word</key>
		<string>vaknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaktad</string>
		<key>Word</key>
		<string>vaktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valand</string>
		<key>Word</key>
		<string>Valand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vald</string>
		<key>Word</key>
		<string>vald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valfrid</string>
		<key>Word</key>
		<string>Valfrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valgrind</string>
		<key>Word</key>
		<string>Valgrind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valid</string>
		<key>Word</key>
		<string>valid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>validerad</string>
		<key>Word</key>
		<string>validerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vallad</string>
		<key>Word</key>
		<string>vallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valladolid</string>
		<key>Word</key>
		<string>Valladolid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vallfärd</string>
		<key>Word</key>
		<string>vallfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valsad</string>
		<key>Word</key>
		<string>valsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vand</string>
		<key>Word</key>
		<string>vand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vandrad</string>
		<key>Word</key>
		<string>vandrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vankelmod</string>
		<key>Word</key>
		<string>vankelmod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanprydnad</string>
		<key>Word</key>
		<string>vanprydnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanställd</string>
		<key>Word</key>
		<string>vanställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vantrevnad</string>
		<key>Word</key>
		<string>vantrevnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanvård</string>
		<key>Word</key>
		<string>vanvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanvårdad</string>
		<key>Word</key>
		<string>vanvårdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanärad</string>
		<key>Word</key>
		<string>vanärad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vapensköld</string>
		<key>Word</key>
		<string>vapensköld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varierad</string>
		<key>Word</key>
		<string>varierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varmbad</string>
		<key>Word</key>
		<string>varmbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varmed</string>
		<key>Word</key>
		<string>varmed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varnad</string>
		<key>Word</key>
		<string>varnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varningsord</string>
		<key>Word</key>
		<string>varningsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varpad</string>
		<key>Word</key>
		<string>varpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varsnad</string>
		<key>Word</key>
		<string>varsnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varsågod</string>
		<key>Word</key>
		<string>varsågod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varubesked</string>
		<key>Word</key>
		<string>varubesked</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varvad</string>
		<key>Word</key>
		<string>varvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varvid</string>
		<key>Word</key>
		<string>varvid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattnad</string>
		<key>Word</key>
		<string>vattnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxad</string>
		<key>Word</key>
		<string>vaxad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxbonad</string>
		<key>Word</key>
		<string>vaxbonad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vd</string>
		<key>Word</key>
		<string>VD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veckad</string>
		<key>Word</key>
		<string>veckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vecklad</string>
		<key>Word</key>
		<string>vecklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veckoblad</string>
		<key>Word</key>
		<string>veckoblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ved</string>
		<key>Word</key>
		<string>ved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vedbod</string>
		<key>Word</key>
		<string>vedbod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vederlagd</string>
		<key>Word</key>
		<string>vederlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vemod</string>
		<key>Word</key>
		<string>vemod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ventilerad</string>
		<key>Word</key>
		<string>ventilerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verifierad</string>
		<key>Word</key>
		<string>verifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verkad</string>
		<key>Word</key>
		<string>verkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verksamhetsstöd</string>
		<key>Word</key>
		<string>verksamhetsstöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verkstad</string>
		<key>Word</key>
		<string>verkstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verkställd</string>
		<key>Word</key>
		<string>verkställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>versifierad</string>
		<key>Word</key>
		<string>versifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vesterlund</string>
		<key>Word</key>
		<string>Vesterlund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetenskapsråd</string>
		<key>Word</key>
		<string>vetenskapsråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vevad</string>
		<key>Word</key>
		<string>vevad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vickad</string>
		<key>Word</key>
		<string>vickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vid</string>
		<key>Word</key>
		<string>vid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidarebefordrad</string>
		<key>Word</key>
		<string>vidarebefordrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidareutbildad</string>
		<key>Word</key>
		<string>vidareutbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidareutvecklad</string>
		<key>Word</key>
		<string>vidareutvecklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidd</string>
		<key>Word</key>
		<string>vidd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>videoband</string>
		<key>Word</key>
		<string>videoband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>videovärld</string>
		<key>Word</key>
		<string>videovärld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidgad</string>
		<key>Word</key>
		<string>vidgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidimerad</string>
		<key>Word</key>
		<string>vidimerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidtalad</string>
		<key>Word</key>
		<string>vidtalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viftad</string>
		<key>Word</key>
		<string>viftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vigd</string>
		<key>Word</key>
		<string>vigd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vigrid</string>
		<key>Word</key>
		<string>Vigrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vikingatid</string>
		<key>Word</key>
		<string>vikingatid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viktad</string>
		<key>Word</key>
		<string>viktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vild</string>
		<key>Word</key>
		<string>vild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villad</string>
		<key>Word</key>
		<string>villad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villastad</string>
		<key>Word</key>
		<string>villastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villebråd</string>
		<key>Word</key>
		<string>villebråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villmanstrand</string>
		<key>Word</key>
		<string>Villmanstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vilostad</string>
		<key>Word</key>
		<string>vilostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vilseförd</string>
		<key>Word</key>
		<string>vilseförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vilseled</string>
		<key>Word</key>
		<string>vilseled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vilseledd</string>
		<key>Word</key>
		<string>vilseledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vimpelprydd</string>
		<key>Word</key>
		<string>vimpelprydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vind</string>
		<key>Word</key>
		<string>vind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindad</string>
		<key>Word</key>
		<string>vindad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindpinad</string>
		<key>Word</key>
		<string>vindpinad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindögd</string>
		<key>Word</key>
		<string>vindögd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinfynd</string>
		<key>Word</key>
		<string>vinfynd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vingbredd</string>
		<key>Word</key>
		<string>vingbredd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vingård</string>
		<key>Word</key>
		<string>vingård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinkad</string>
		<key>Word</key>
		<string>vinkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinland</string>
		<key>Word</key>
		<string>Vinland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinmarknad</string>
		<key>Word</key>
		<string>vinmarknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinröd</string>
		<key>Word</key>
		<string>vinröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vintersolstånd</string>
		<key>Word</key>
		<string>vintersolstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vintertid</string>
		<key>Word</key>
		<string>vintertid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinträd</string>
		<key>Word</key>
		<string>vinträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virad</string>
		<key>Word</key>
		<string>virad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virkad</string>
		<key>Word</key>
		<string>virkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visad</string>
		<key>Word</key>
		<string>visad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visiterad</string>
		<key>Word</key>
		<string>visiterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viskad</string>
		<key>Word</key>
		<string>viskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vispad</string>
		<key>Word</key>
		<string>vispad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visslad</string>
		<key>Word</key>
		<string>visslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vissnad</string>
		<key>Word</key>
		<string>vissnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visthusbod</string>
		<key>Word</key>
		<string>visthusbod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitaliserad</string>
		<key>Word</key>
		<string>vitaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitarmad</string>
		<key>Word</key>
		<string>vitarmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitklädd</string>
		<key>Word</key>
		<string>vitklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitlistad</string>
		<key>Word</key>
		<string>vitlistad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitmenad</string>
		<key>Word</key>
		<string>vitmenad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitmålad</string>
		<key>Word</key>
		<string>vitmålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitnad</string>
		<key>Word</key>
		<string>vitnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitryssland</string>
		<key>Word</key>
		<string>Vitryssland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitsord</string>
		<key>Word</key>
		<string>vitsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitsordad</string>
		<key>Word</key>
		<string>vitsordad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittberyktad</string>
		<key>Word</key>
		<string>vittberyktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittnad</string>
		<key>Word</key>
		<string>vittnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittnesbörd</string>
		<key>Word</key>
		<string>vittnesbörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittrad</string>
		<key>Word</key>
		<string>vittrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vm-guld</string>
		<key>Word</key>
		<string>VM-guld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vogtland</string>
		<key>Word</key>
		<string>Vogtland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>volframkarbid</string>
		<key>Word</key>
		<string>volframkarbid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>volgograd</string>
		<key>Word</key>
		<string>Volgograd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vred</string>
		<key>Word</key>
		<string>vred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vredgad</string>
		<key>Word</key>
		<string>vredgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vrickad</string>
		<key>Word</key>
		<string>vrickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vrid</string>
		<key>Word</key>
		<string>vrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vrålad</string>
		<key>Word</key>
		<string>vrålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vädrad</string>
		<key>Word</key>
		<string>vädrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägd</string>
		<key>Word</key>
		<string>vägd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägled</string>
		<key>Word</key>
		<string>vägled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägledd</string>
		<key>Word</key>
		<string>vägledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägrad</string>
		<key>Word</key>
		<string>vägrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väktarmord</string>
		<key>Word</key>
		<string>väktarmord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välavvägd</string>
		<key>Word</key>
		<string>välavvägd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välbetald</string>
		<key>Word</key>
		<string>välbetald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välbyggd</string>
		<key>Word</key>
		<string>välbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välbärgad</string>
		<key>Word</key>
		<string>välbärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väld</string>
		<key>Word</key>
		<string>väld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väldefinierad</string>
		<key>Word</key>
		<string>väldefinierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väletablerad</string>
		<key>Word</key>
		<string>väletablerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välfärd</string>
		<key>Word</key>
		<string>välfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välgjord</string>
		<key>Word</key>
		<string>välgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välgrundad</string>
		<key>Word</key>
		<string>välgrundad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välhängd</string>
		<key>Word</key>
		<string>välhängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välkontrollerad</string>
		<key>Word</key>
		<string>välkontrollerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välkänd</string>
		<key>Word</key>
		<string>välkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vällagad</string>
		<key>Word</key>
		<string>vällagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vällevnad</string>
		<key>Word</key>
		<string>vällevnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välljud</string>
		<key>Word</key>
		<string>välljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välmotiverad</string>
		<key>Word</key>
		<string>välmotiverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välorganiserad</string>
		<key>Word</key>
		<string>välorganiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välsignad</string>
		<key>Word</key>
		<string>välsignad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välsmord</string>
		<key>Word</key>
		<string>välsmord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välstånd</string>
		<key>Word</key>
		<string>välstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vältrad</string>
		<key>Word</key>
		<string>vältrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välutbyggd</string>
		<key>Word</key>
		<string>välutbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välutrustad</string>
		<key>Word</key>
		<string>välutrustad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välutvecklad</string>
		<key>Word</key>
		<string>välutvecklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välvd</string>
		<key>Word</key>
		<string>välvd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänd</string>
		<key>Word</key>
		<string>vänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väntad</string>
		<key>Word</key>
		<string>väntad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänteperiod</string>
		<key>Word</key>
		<string>vänteperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väntetid</string>
		<key>Word</key>
		<string>väntetid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väpnad</string>
		<key>Word</key>
		<string>väpnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värd</string>
		<key>Word</key>
		<string>värd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdegrund</string>
		<key>Word</key>
		<string>värdegrund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdemängd</string>
		<key>Word</key>
		<string>värdemängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värderad</string>
		<key>Word</key>
		<string>värderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värld</string>
		<key>Word</key>
		<string>värld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsberömd</string>
		<key>Word</key>
		<string>världsberömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsbild</string>
		<key>Word</key>
		<string>världsbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsfred</string>
		<key>Word</key>
		<string>världsfred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsrymd</string>
		<key>Word</key>
		<string>världsrymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmd</string>
		<key>Word</key>
		<string>värmd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmland</string>
		<key>Word</key>
		<string>Värmland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värvad</string>
		<key>Word</key>
		<string>värvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väsensskild</string>
		<key>Word</key>
		<string>väsensskild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vässad</string>
		<key>Word</key>
		<string>vässad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västanfjärd</string>
		<key>Word</key>
		<string>Västanfjärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västanvind</string>
		<key>Word</key>
		<string>västanvind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västergötland</string>
		<key>Word</key>
		<string>Västergötland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västernorrland</string>
		<key>Word</key>
		<string>Västernorrland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västmanland</string>
		<key>Word</key>
		<string>Västmanland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västtyskland</string>
		<key>Word</key>
		<string>Västtyskland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vävd</string>
		<key>Word</key>
		<string>vävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vävnad</string>
		<key>Word</key>
		<string>vävnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växlad</string>
		<key>Word</key>
		<string>växlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtföljd</string>
		<key>Word</key>
		<string>växtföljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtnäringsförråd</string>
		<key>Word</key>
		<string>växtnäringsförråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtodlingsgård</string>
		<key>Word</key>
		<string>växtodlingsgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våd</string>
		<key>Word</key>
		<string>våd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vågad</string>
		<key>Word</key>
		<string>vågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våglängd</string>
		<key>Word</key>
		<string>våglängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våld</string>
		<key>Word</key>
		<string>våld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våldtäktsdömd</string>
		<key>Word</key>
		<string>våldtäktsdömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vållad</string>
		<key>Word</key>
		<string>vållad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vålnad</string>
		<key>Word</key>
		<string>vålnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårbrodd</string>
		<key>Word</key>
		<string>vårbrodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vård</string>
		<key>Word</key>
		<string>vård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdad</string>
		<key>Word</key>
		<string>vårdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdnad</string>
		<key>Word</key>
		<string>vårdnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårvind</string>
		<key>Word</key>
		<string>vårvind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>völund</string>
		<key>Word</key>
		<string>Völund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vördad</string>
		<key>Word</key>
		<string>vördad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vördnad</string>
		<key>Word</key>
		<string>vördnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vördnadsvärd</string>
		<key>Word</key>
		<string>vördnadsvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vörtbröd</string>
		<key>Word</key>
		<string>vörtbröd</string>
	</dict>
</array>
</plist>
