<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vag</string>
		<key>Word</key>
		<string>vag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaggsång</string>
		<key>Word</key>
		<string>vaggsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagnförteckning</string>
		<key>Word</key>
		<string>vagnförteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaktbolag</string>
		<key>Word</key>
		<string>vaktbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valberedning</string>
		<key>Word</key>
		<string>valberedning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valborg</string>
		<key>Word</key>
		<string>Valborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>validering</string>
		<key>Word</key>
		<string>validering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vallfartssång</string>
		<key>Word</key>
		<string>vallfartssång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vallodling</string>
		<key>Word</key>
		<string>vallodling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valundersökning</string>
		<key>Word</key>
		<string>valundersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanartig</string>
		<key>Word</key>
		<string>vanartig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vandring</string>
		<key>Word</key>
		<string>vandring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanemässig</string>
		<key>Word</key>
		<string>vanemässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanföreställning</string>
		<key>Word</key>
		<string>vanföreställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaniljstång</string>
		<key>Word</key>
		<string>vaniljstång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vankelmodig</string>
		<key>Word</key>
		<string>vankelmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanlig</string>
		<key>Word</key>
		<string>vanlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanmäktig</string>
		<key>Word</key>
		<string>vanmäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansinnig</string>
		<key>Word</key>
		<string>vansinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansklig</string>
		<key>Word</key>
		<string>vansklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanvettig</string>
		<key>Word</key>
		<string>vanvettig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vapenslag</string>
		<key>Word</key>
		<string>vapenslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varaktig</string>
		<key>Word</key>
		<string>varaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varberg</string>
		<key>Word</key>
		<string>Varberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardag</string>
		<key>Word</key>
		<string>vardag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardaglig</string>
		<key>Word</key>
		<string>vardaglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardagslag</string>
		<key>Word</key>
		<string>vardagslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardagsträning</string>
		<key>Word</key>
		<string>vardagsträning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varg</string>
		<key>Word</key>
		<string>varg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varlig</string>
		<key>Word</key>
		<string>varlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varning</string>
		<key>Word</key>
		<string>varning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varubeställning</string>
		<key>Word</key>
		<string>varubeställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varuklassificering</string>
		<key>Word</key>
		<string>varuklassificering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varumärkesintrång</string>
		<key>Word</key>
		<string>varumärkesintrång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varuslag</string>
		<key>Word</key>
		<string>varuslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattendrag</string>
		<key>Word</key>
		<string>vattendrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenförsörjning</string>
		<key>Word</key>
		<string>vattenförsörjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenledning</string>
		<key>Word</key>
		<string>vattenledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenplaning</string>
		<key>Word</key>
		<string>vattenplaning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenösning</string>
		<key>Word</key>
		<string>vattenösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veckodag</string>
		<key>Word</key>
		<string>veckodag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veckotidning</string>
		<key>Word</key>
		<string>veckotidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vederbörlig</string>
		<key>Word</key>
		<string>vederbörlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vedergällning</string>
		<key>Word</key>
		<string>vedergällning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vederhäftig</string>
		<key>Word</key>
		<string>vederhäftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vederlägg</string>
		<key>Word</key>
		<string>vederlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veklig</string>
		<key>Word</key>
		<string>veklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vekling</string>
		<key>Word</key>
		<string>vekling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vemmenhög</string>
		<key>Word</key>
		<string>Vemmenhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vemodig</string>
		<key>Word</key>
		<string>vemodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>venedig</string>
		<key>Word</key>
		<string>Venedig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verbböjning</string>
		<key>Word</key>
		<string>verbböjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verifiering</string>
		<key>Word</key>
		<string>verifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verklig</string>
		<key>Word</key>
		<string>verklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verkning</string>
		<key>Word</key>
		<string>verkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verksförordning</string>
		<key>Word</key>
		<string>verksförordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verktyg</string>
		<key>Word</key>
		<string>verktyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>versionshantering</string>
		<key>Word</key>
		<string>versionshantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetenskaplig</string>
		<key>Word</key>
		<string>vetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veterlig</string>
		<key>Word</key>
		<string>veterlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetgirig</string>
		<key>Word</key>
		<string>vetgirig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vettig</string>
		<key>Word</key>
		<string>vettig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viborg</string>
		<key>Word</key>
		<string>Viborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidaresändning</string>
		<key>Word</key>
		<string>vidaresändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidareutbildning</string>
		<key>Word</key>
		<string>vidareutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidareutveckling</string>
		<key>Word</key>
		<string>vidareutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>videoredigering</string>
		<key>Word</key>
		<string>videoredigering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidlyftig</string>
		<key>Word</key>
		<string>vidlyftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidrig</string>
		<key>Word</key>
		<string>vidrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidskeplig</string>
		<key>Word</key>
		<string>vidskeplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidtag</string>
		<key>Word</key>
		<string>vidtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidtog</string>
		<key>Word</key>
		<string>vidtog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidvinklig</string>
		<key>Word</key>
		<string>vidvinklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viftning</string>
		<key>Word</key>
		<string>viftning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vig</string>
		<key>Word</key>
		<string>vig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vigg</string>
		<key>Word</key>
		<string>vigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viking</string>
		<key>Word</key>
		<string>viking</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vikning</string>
		<key>Word</key>
		<string>vikning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viktig</string>
		<key>Word</key>
		<string>viktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viktminskning</string>
		<key>Word</key>
		<string>viktminskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viljesvag</string>
		<key>Word</key>
		<string>viljesvag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villig</string>
		<key>Word</key>
		<string>villig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villkorlig</string>
		<key>Word</key>
		<string>villkorlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villkorslag</string>
		<key>Word</key>
		<string>villkorslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>villoväg</string>
		<key>Word</key>
		<string>villoväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vimmelkantig</string>
		<key>Word</key>
		<string>vimmelkantig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinddrag</string>
		<key>Word</key>
		<string>vinddrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindfång</string>
		<key>Word</key>
		<string>vindfång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindriktning</string>
		<key>Word</key>
		<string>vindriktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindsvåning</string>
		<key>Word</key>
		<string>vindsvåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinglig</string>
		<key>Word</key>
		<string>vinglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vingslag</string>
		<key>Word</key>
		<string>vingslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinkling</string>
		<key>Word</key>
		<string>vinkling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinning</string>
		<key>Word</key>
		<string>vinning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinnlägg</string>
		<key>Word</key>
		<string>vinnlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinodling</string>
		<key>Word</key>
		<string>vinodling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinprovning</string>
		<key>Word</key>
		<string>vinprovning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinstdelning</string>
		<key>Word</key>
		<string>vinstdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinterdag</string>
		<key>Word</key>
		<string>vinterdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinterpigg</string>
		<key>Word</key>
		<string>vinterpigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virrig</string>
		<key>Word</key>
		<string>virrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viskning</string>
		<key>Word</key>
		<string>viskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visning</string>
		<key>Word</key>
		<string>visning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitaktig</string>
		<key>Word</key>
		<string>vitaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vithårig</string>
		<key>Word</key>
		<string>vithårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitlistning</string>
		<key>Word</key>
		<string>vitlistning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitsig</string>
		<key>Word</key>
		<string>vitsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittring</string>
		<key>Word</key>
		<string>vittring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vogelberg</string>
		<key>Word</key>
		<string>Vogelberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vomering</string>
		<key>Word</key>
		<string>vomering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vorarlberg</string>
		<key>Word</key>
		<string>Vorarlberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vresig</string>
		<key>Word</key>
		<string>vresig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vridning</string>
		<key>Word</key>
		<string>vridning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vrång</string>
		<key>Word</key>
		<string>vrång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vung</string>
		<key>Word</key>
		<string>Vung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vuxenutbildning</string>
		<key>Word</key>
		<string>vuxenutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väckning</string>
		<key>Word</key>
		<string>väckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vädring</string>
		<key>Word</key>
		<string>vädring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väg</string>
		<key>Word</key>
		<string>väg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägg</string>
		<key>Word</key>
		<string>vägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väggtidning</string>
		<key>Word</key>
		<string>väggtidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägguttag</string>
		<key>Word</key>
		<string>vägguttag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägledning</string>
		<key>Word</key>
		<string>vägledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägning</string>
		<key>Word</key>
		<string>vägning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välbehag</string>
		<key>Word</key>
		<string>välbehag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välbehaglig</string>
		<key>Word</key>
		<string>välbehaglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väldig</string>
		<key>Word</key>
		<string>väldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välfärdsanordning</string>
		<key>Word</key>
		<string>välfärdsanordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välgärning</string>
		<key>Word</key>
		<string>välgärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välgång</string>
		<key>Word</key>
		<string>välgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välkomsthälsning</string>
		<key>Word</key>
		<string>välkomsthälsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välling</string>
		<key>Word</key>
		<string>välling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vällusting</string>
		<key>Word</key>
		<string>vällusting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vältalig</string>
		<key>Word</key>
		<string>vältalig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välvillig</string>
		<key>Word</key>
		<string>välvillig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välönskning</string>
		<key>Word</key>
		<string>välönskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vändning</string>
		<key>Word</key>
		<string>vändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänersborg</string>
		<key>Word</key>
		<string>Vänersborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänlig</string>
		<key>Word</key>
		<string>vänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdeladdning</string>
		<key>Word</key>
		<string>värdeladdning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdeminskning</string>
		<key>Word</key>
		<string>värdeminskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdering</string>
		<key>Word</key>
		<string>värdering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdig</string>
		<key>Word</key>
		<string>värdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världskrig</string>
		<key>Word</key>
		<string>världskrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världslig</string>
		<key>Word</key>
		<string>världslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsutställning</string>
		<key>Word</key>
		<string>världsutställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsåskådning</string>
		<key>Word</key>
		<string>världsåskådning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmegång</string>
		<key>Word</key>
		<string>värmegång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmehöjning</string>
		<key>Word</key>
		<string>värmehöjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmeledning</string>
		<key>Word</key>
		<string>värmeledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värnpliktig</string>
		<key>Word</key>
		<string>värnpliktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värnplikttjänstgöring</string>
		<key>Word</key>
		<string>värnplikttjänstgöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värsting</string>
		<key>Word</key>
		<string>värsting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väsentlig</string>
		<key>Word</key>
		<string>väsentlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västerberg</string>
		<key>Word</key>
		<string>Västerberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västlig</string>
		<key>Word</key>
		<string>västlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västmanlänning</string>
		<key>Word</key>
		<string>västmanlänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växelspänning</string>
		<key>Word</key>
		<string>växelspänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växling</string>
		<key>Word</key>
		<string>växling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtanlag</string>
		<key>Word</key>
		<string>växtanlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtnäring</string>
		<key>Word</key>
		<string>växtnäring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtnäringsupptag</string>
		<key>Word</key>
		<string>växtnäringsupptag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växtodling</string>
		<key>Word</key>
		<string>växtodling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vådlig</string>
		<key>Word</key>
		<string>vådlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våg</string>
		<key>Word</key>
		<string>våg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vågig</string>
		<key>Word</key>
		<string>vågig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våldtag</string>
		<key>Word</key>
		<string>våldtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våldtog</string>
		<key>Word</key>
		<string>våldtog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våning</string>
		<key>Word</key>
		<string>våning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>våraftonstämning</string>
		<key>Word</key>
		<string>våraftonstämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdag</string>
		<key>Word</key>
		<string>vårdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdagjämning</string>
		<key>Word</key>
		<string>vårdagjämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdvetenskaplig</string>
		<key>Word</key>
		<string>vårdvetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårlig</string>
		<key>Word</key>
		<string>vårlig</string>
	</dict>
</array>
</plist>
