<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaktmanskap</string>
		<key>Word</key>
		<string>vaktmanskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valp</string>
		<key>Word</key>
		<string>valp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varningspip</string>
		<key>Word</key>
		<string>varningspip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varp</string>
		<key>Word</key>
		<string>varp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varutyp</string>
		<key>Word</key>
		<string>varutyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattengrop</string>
		<key>Word</key>
		<string>vattengrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verop</string>
		<key>Word</key>
		<string>verop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetenskap</string>
		<key>Word</key>
		<string>vetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetskap</string>
		<key>Word</key>
		<string>vetskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vingklipp</string>
		<key>Word</key>
		<string>vingklipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vipptyp</string>
		<key>Word</key>
		<string>vipptyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virustopp</string>
		<key>Word</key>
		<string>virustopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visp</string>
		<key>Word</key>
		<string>visp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vispop</string>
		<key>Word</key>
		<string>vispop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>voip</string>
		<key>Word</key>
		<string>VoIP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänerlandskap</string>
		<key>Word</key>
		<string>Vänerlandskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänskap</string>
		<key>Word</key>
		<string>vänskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värdegemenskap</string>
		<key>Word</key>
		<string>värdegemenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsmästerskap</string>
		<key>Word</key>
		<string>världsmästerskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världstopp</string>
		<key>Word</key>
		<string>världstopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmepump</string>
		<key>Word</key>
		<string>värmepump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värstingskepp</string>
		<key>Word</key>
		<string>värstingskepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västertorp</string>
		<key>Word</key>
		<string>Västertorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdvetenskap</string>
		<key>Word</key>
		<string>vårdvetenskap</string>
	</dict>
</array>
</plist>
