<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>watergate</string>
		<key>Word</key>
		<string>Watergate</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wattimme</string>
		<key>Word</key>
		<string>wattimme</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbaserade</string>
		<key>Word</key>
		<string>webbaserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbläsare</string>
		<key>Word</key>
		<string>webbläsare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbutvecklare</string>
		<key>Word</key>
		<string>webbutvecklare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westinghouse</string>
		<key>Word</key>
		<string>Westinghouse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikifierade</string>
		<key>Word</key>
		<string>wikifierade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilde</string>
		<key>Word</key>
		<string>Wilde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilhelmine</string>
		<key>Word</key>
		<string>Wilhelmine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wrede</string>
		<key>Word</key>
		<string>Wrede</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wümme</string>
		<key>Word</key>
		<string>Wümme</string>
	</dict>
</array>
</plist>
