<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>x-servrarna</string>
		<key>Word</key>
		<string>X-servrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xantippa</string>
		<key>Word</key>
		<string>Xantippa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xerografiska</string>
		<key>Word</key>
		<string>xerografiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofonerna</string>
		<key>Word</key>
		<string>xylofonerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylograferna</string>
		<key>Word</key>
		<string>xylograferna</string>
	</dict>
</array>
</plist>
