<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xi</string>
		<key>Word</key>
		<string>xi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xii</string>
		<key>Word</key>
		<string>xii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xiii</string>
		<key>Word</key>
		<string>xiii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xli</string>
		<key>Word</key>
		<string>xli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xlii</string>
		<key>Word</key>
		<string>xlii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xliii</string>
		<key>Word</key>
		<string>xliii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xlvi</string>
		<key>Word</key>
		<string>xlvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xlvii</string>
		<key>Word</key>
		<string>xlvii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xlviii</string>
		<key>Word</key>
		<string>xlviii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-teknologi</string>
		<key>Word</key>
		<string>XML-teknologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xvi</string>
		<key>Word</key>
		<string>xvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xvii</string>
		<key>Word</key>
		<string>xvii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xviii</string>
		<key>Word</key>
		<string>xviii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxi</string>
		<key>Word</key>
		<string>xxi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxii</string>
		<key>Word</key>
		<string>xxii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxiii</string>
		<key>Word</key>
		<string>xxiii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxvi</string>
		<key>Word</key>
		<string>xxvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxvii</string>
		<key>Word</key>
		<string>xxvii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxviii</string>
		<key>Word</key>
		<string>xxviii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxxi</string>
		<key>Word</key>
		<string>xxxi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxxii</string>
		<key>Word</key>
		<string>xxxii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxxiii</string>
		<key>Word</key>
		<string>xxxiii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxxvi</string>
		<key>Word</key>
		<string>xxxvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxxvii</string>
		<key>Word</key>
		<string>xxxvii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xxxviii</string>
		<key>Word</key>
		<string>xxxviii</string>
	</dict>
</array>
</plist>
