<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yaounde</string>
		<key>Word</key>
		<string>Yaoundé</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ydre</string>
		<key>Word</key>
		<string>Ydre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylade</string>
		<key>Word</key>
		<string>ylade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylande</string>
		<key>Word</key>
		<string>ylande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylle</string>
		<key>Word</key>
		<string>ylle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylane</string>
		<key>Word</key>
		<string>Yläne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglade</string>
		<key>Word</key>
		<string>ynglade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngre</string>
		<key>Word</key>
		<string>yngre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngste</string>
		<key>Word</key>
		<string>yngste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngve</string>
		<key>Word</key>
		<string>Yngve</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngwie</string>
		<key>Word</key>
		<string>Yngwie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligare</string>
		<key>Word</key>
		<string>ynkligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligaste</string>
		<key>Word</key>
		<string>ynkligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yonne</string>
		<key>Word</key>
		<string>Yonne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppade</string>
		<key>Word</key>
		<string>yppade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppande</string>
		<key>Word</key>
		<string>yppande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperste</string>
		<key>Word</key>
		<string>ypperste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigare</string>
		<key>Word</key>
		<string>yppigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigaste</string>
		<key>Word</key>
		<string>yppigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrade</string>
		<key>Word</key>
		<string>yrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrande</string>
		<key>Word</key>
		<string>yrande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrare</string>
		<key>Word</key>
		<string>yrare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yraste</string>
		<key>Word</key>
		<string>yraste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrde</string>
		<key>Word</key>
		<string>yrde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkade</string>
		<key>Word</key>
		<string>yrkade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkande</string>
		<key>Word</key>
		<string>yrkande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrke</string>
		<key>Word</key>
		<string>yrke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesomrade</string>
		<key>Word</key>
		<string>yrkesområde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesutovare</string>
		<key>Word</key>
		<string>yrkesutövare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystade</string>
		<key>Word</key>
		<string>ystade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystrare</string>
		<key>Word</key>
		<string>ystrare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystraste</string>
		<key>Word</key>
		<string>ystraste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligare</string>
		<key>Word</key>
		<string>ytligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligaste</string>
		<key>Word</key>
		<string>ytligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytlige</string>
		<key>Word</key>
		<string>ytlige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterade</string>
		<key>Word</key>
		<string>ytmonterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterledare</string>
		<key>Word</key>
		<string>ytterledare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligare</string>
		<key>Word</key>
		<string>ytterligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligaste</string>
		<key>Word</key>
		<string>ytterligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrade</string>
		<key>Word</key>
		<string>yttrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrande</string>
		<key>Word</key>
		<string>yttrande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttre</string>
		<key>Word</key>
		<string>yttre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvette</string>
		<key>Word</key>
		<string>Yvette</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvonne</string>
		<key>Word</key>
		<string>Yvonne</string>
	</dict>
</array>
</plist>
