<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagi</string>
		<key>Word</key>
		<string>Yagi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamaguchi</string>
		<key>Word</key>
		<string>Yamaguchi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamanashi</string>
		<key>Word</key>
		<string>Yamanashi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamborii</string>
		<key>Word</key>
		<string>Yamborii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylöjärvi</string>
		<key>Word</key>
		<string>Ylöjärvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoichi</string>
		<key>Word</key>
		<string>Yoichi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yokaichi</string>
		<key>Word</key>
		<string>Yokaichi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yonakuni</string>
		<key>Word</key>
		<string>Yonakuni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yui</string>
		<key>Word</key>
		<string>Yui</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yuni</string>
		<key>Word</key>
		<string>Yuni</string>
	</dict>
</array>
</plist>
