<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yahoo</string>
		<key>Word</key>
		<string>Yahoo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamoussoukro</string>
		<key>Word</key>
		<string>Yamoussoukro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylistaro</string>
		<key>Word</key>
		<string>Ylistaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yolo</string>
		<key>Word</key>
		<string>Yolo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrjo</string>
		<key>Word</key>
		<string>Yrjö</string>
	</dict>
</array>
</plist>
