<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>y-frontens</string>
		<key>Word</key>
		<string>Y-frontens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>y-fronts</string>
		<key>Word</key>
		<string>Y-fronts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachtens</string>
		<key>Word</key>
		<string>yachtens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachternas</string>
		<key>Word</key>
		<string>yachternas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachters</string>
		<key>Word</key>
		<string>yachters</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachts</string>
		<key>Word</key>
		<string>yachts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantennens</string>
		<key>Word</key>
		<string>yagiantennens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantennernas</string>
		<key>Word</key>
		<string>yagiantennernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantenners</string>
		<key>Word</key>
		<string>yagiantenners</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantenns</string>
		<key>Word</key>
		<string>yagiantenns</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagis</string>
		<key>Word</key>
		<string>Yagis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yahabas</string>
		<key>Word</key>
		<string>Yahabas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yahoos</string>
		<key>Word</key>
		<string>Yahoos</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamagas</string>
		<key>Word</key>
		<string>Yamagas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamagatas</string>
		<key>Word</key>
		<string>Yamagatas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamaguchis</string>
		<key>Word</key>
		<string>Yamaguchis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamahas</string>
		<key>Word</key>
		<string>Yamahas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamanashis</string>
		<key>Word</key>
		<string>Yamanashis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamatotakadas</string>
		<key>Word</key>
		<string>Yamatotakadas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamoussoukros</string>
		<key>Word</key>
		<string>Yamoussoukros</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yaoundés</string>
		<key>Word</key>
		<string>Yaoundés</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yarens</string>
		<key>Word</key>
		<string>Yarens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yashimas</string>
		<key>Word</key>
		<string>Yashimas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yassirs</string>
		<key>Word</key>
		<string>Yassirs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yasus</string>
		<key>Word</key>
		<string>Yasus</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yates</string>
		<key>Word</key>
		<string>Yates</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ydres</string>
		<key>Word</key>
		<string>Ydres</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yemens</string>
		<key>Word</key>
		<string>Yemens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yenens</string>
		<key>Word</key>
		<string>yenens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yens</string>
		<key>Word</key>
		<string>yens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yggdrasils</string>
		<key>Word</key>
		<string>Yggdrasils</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylandes</string>
		<key>Word</key>
		<string>ylandes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylandets</string>
		<key>Word</key>
		<string>ylandets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylihärmäs</string>
		<key>Word</key>
		<string>Ylihärmäs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylistaros</string>
		<key>Word</key>
		<string>Ylistaros</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylivieskas</string>
		<key>Word</key>
		<string>Ylivieskas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylles</string>
		<key>Word</key>
		<string>ylles</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yllets</string>
		<key>Word</key>
		<string>yllets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylletygens</string>
		<key>Word</key>
		<string>ylletygens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylletygets</string>
		<key>Word</key>
		<string>ylletygets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylletygs</string>
		<key>Word</key>
		<string>ylletygs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylvas</string>
		<key>Word</key>
		<string>Ylvas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylämaas</string>
		<key>Word</key>
		<string>Ylämaas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylänes</string>
		<key>Word</key>
		<string>Ylänes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylöjärvis</string>
		<key>Word</key>
		<string>Ylöjärvis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymers</string>
		<key>Word</key>
		<string>Ymers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymnigas</string>
		<key>Word</key>
		<string>ymnigas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymnigs</string>
		<key>Word</key>
		<string>ymnigs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymnigts</string>
		<key>Word</key>
		<string>ymnigts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknopparnas</string>
		<key>Word</key>
		<string>yngelknopparnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknoppars</string>
		<key>Word</key>
		<string>yngelknoppars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknoppens</string>
		<key>Word</key>
		<string>yngelknoppens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknopps</string>
		<key>Word</key>
		<string>yngelknopps</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngels</string>
		<key>Word</key>
		<string>yngels</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglens</string>
		<key>Word</key>
		<string>ynglens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglets</string>
		<key>Word</key>
		<string>ynglets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingarnas</string>
		<key>Word</key>
		<string>ynglingarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingars</string>
		<key>Word</key>
		<string>ynglingars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingasagans</string>
		<key>Word</key>
		<string>ynglingasagans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingaättens</string>
		<key>Word</key>
		<string>ynglingaättens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingens</string>
		<key>Word</key>
		<string>ynglingens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglings</string>
		<key>Word</key>
		<string>ynglings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngres</string>
		<key>Word</key>
		<string>yngres</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngstas</string>
		<key>Word</key>
		<string>yngstas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngstes</string>
		<key>Word</key>
		<string>yngstes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngves</string>
		<key>Word</key>
		<string>Yngves</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngwies</string>
		<key>Word</key>
		<string>Yngwies</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkedomens</string>
		<key>Word</key>
		<string>ynkedomens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkedoms</string>
		<key>Word</key>
		<string>ynkedoms</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligares</string>
		<key>Word</key>
		<string>ynkligares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligas</string>
		<key>Word</key>
		<string>ynkligas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligastes</string>
		<key>Word</key>
		<string>ynkligastes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligs</string>
		<key>Word</key>
		<string>ynkligs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligts</string>
		<key>Word</key>
		<string>ynkligts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoghurtens</string>
		<key>Word</key>
		<string>yoghurtens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoghurts</string>
		<key>Word</key>
		<string>yoghurts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoichis</string>
		<key>Word</key>
		<string>Yoichis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yokaichis</string>
		<key>Word</key>
		<string>Yokaichis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yokawas</string>
		<key>Word</key>
		<string>Yokawas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yokogawas</string>
		<key>Word</key>
		<string>Yokogawas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yolos</string>
		<key>Word</key>
		<string>Yolos</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yomitans</string>
		<key>Word</key>
		<string>Yomitans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yonakunis</string>
		<key>Word</key>
		<string>Yonakunis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yonnes</string>
		<key>Word</key>
		<string>Yonnes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yorks</string>
		<key>Word</key>
		<string>Yorks</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoshimatsus</string>
		<key>Word</key>
		<string>Yoshimatsus</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppades</string>
		<key>Word</key>
		<string>yppades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppads</string>
		<key>Word</key>
		<string>yppads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppandes</string>
		<key>Word</key>
		<string>yppandes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppandets</string>
		<key>Word</key>
		<string>yppandets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppas</string>
		<key>Word</key>
		<string>yppas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppats</string>
		<key>Word</key>
		<string>yppats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperligas</string>
		<key>Word</key>
		<string>ypperligas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperligs</string>
		<key>Word</key>
		<string>ypperligs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperligts</string>
		<key>Word</key>
		<string>ypperligts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperstas</string>
		<key>Word</key>
		<string>ypperstas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperstes</string>
		<key>Word</key>
		<string>ypperstes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigares</string>
		<key>Word</key>
		<string>yppigares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigas</string>
		<key>Word</key>
		<string>yppigas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigastes</string>
		<key>Word</key>
		<string>yppigastes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigs</string>
		<key>Word</key>
		<string>yppigs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigts</string>
		<key>Word</key>
		<string>yppigts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypäjäs</string>
		<key>Word</key>
		<string>Ypäjäs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrandes</string>
		<key>Word</key>
		<string>yrandes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrandets</string>
		<key>Word</key>
		<string>yrandets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrans</string>
		<key>Word</key>
		<string>yrans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrares</string>
		<key>Word</key>
		<string>yrares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yras</string>
		<key>Word</key>
		<string>yras</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrastes</string>
		<key>Word</key>
		<string>yrastes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfänas</string>
		<key>Word</key>
		<string>yrfänas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfäns</string>
		<key>Word</key>
		<string>yrfäns</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfäs</string>
		<key>Word</key>
		<string>yrfäs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfäts</string>
		<key>Word</key>
		<string>yrfäts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhättans</string>
		<key>Word</key>
		<string>yrhättans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhättas</string>
		<key>Word</key>
		<string>yrhättas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhättornas</string>
		<key>Word</key>
		<string>yrhättornas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhättors</string>
		<key>Word</key>
		<string>yrhättors</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrjös</string>
		<key>Word</key>
		<string>Yrjös</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkades</string>
		<key>Word</key>
		<string>yrkades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkads</string>
		<key>Word</key>
		<string>yrkads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkandenas</string>
		<key>Word</key>
		<string>yrkandenas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkandens</string>
		<key>Word</key>
		<string>yrkandens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkandes</string>
		<key>Word</key>
		<string>yrkandes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkandets</string>
		<key>Word</key>
		<string>yrkandets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkas</string>
		<key>Word</key>
		<string>yrkas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkats</string>
		<key>Word</key>
		<string>yrkats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkenas</string>
		<key>Word</key>
		<string>yrkenas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkens</string>
		<key>Word</key>
		<string>yrkens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkes</string>
		<key>Word</key>
		<string>yrkes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckningarnas</string>
		<key>Word</key>
		<string>yrkesbeteckningarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckningars</string>
		<key>Word</key>
		<string>yrkesbeteckningars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckningens</string>
		<key>Word</key>
		<string>yrkesbeteckningens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbetecknings</string>
		<key>Word</key>
		<string>yrkesbetecknings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeserfarenhetens</string>
		<key>Word</key>
		<string>yrkeserfarenhetens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeserfarenhets</string>
		<key>Word</key>
		<string>yrkeserfarenhets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgruppens</string>
		<key>Word</key>
		<string>yrkesgruppens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgruppernas</string>
		<key>Word</key>
		<string>yrkesgruppernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgruppers</string>
		<key>Word</key>
		<string>yrkesgruppers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgrupps</string>
		<key>Word</key>
		<string>yrkesgrupps</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesinriktningens</string>
		<key>Word</key>
		<string>yrkesinriktningens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesinriktnings</string>
		<key>Word</key>
		<string>yrkesinriktnings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnans</string>
		<key>Word</key>
		<string>yrkeskvinnans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnas</string>
		<key>Word</key>
		<string>yrkeskvinnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnornas</string>
		<key>Word</key>
		<string>yrkeskvinnornas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnors</string>
		<key>Word</key>
		<string>yrkeskvinnors</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeslivets</string>
		<key>Word</key>
		<string>yrkeslivets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeslivs</string>
		<key>Word</key>
		<string>yrkeslivs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmannens</string>
		<key>Word</key>
		<string>yrkesmannens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmans</string>
		<key>Word</key>
		<string>yrkesmans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmännens</string>
		<key>Word</key>
		<string>yrkesmännens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmäns</string>
		<key>Word</key>
		<string>yrkesmäns</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmässigas</string>
		<key>Word</key>
		<string>yrkesmässigas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmässigs</string>
		<key>Word</key>
		<string>yrkesmässigs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmässigts</string>
		<key>Word</key>
		<string>yrkesmässigts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesområdenas</string>
		<key>Word</key>
		<string>yrkesområdenas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesområdens</string>
		<key>Word</key>
		<string>yrkesområdens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesområdes</string>
		<key>Word</key>
		<string>yrkesområdes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesområdets</string>
		<key>Word</key>
		<string>yrkesområdets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesrollens</string>
		<key>Word</key>
		<string>yrkesrollens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesrollernas</string>
		<key>Word</key>
		<string>yrkesrollernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesrollers</string>
		<key>Word</key>
		<string>yrkesrollers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesrolls</string>
		<key>Word</key>
		<string>yrkesrolls</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesutövarens</string>
		<key>Word</key>
		<string>yrkesutövarens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesutövares</string>
		<key>Word</key>
		<string>yrkesutövares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesutövarnas</string>
		<key>Word</key>
		<string>yrkesutövarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesverksammas</string>
		<key>Word</key>
		<string>yrkesverksammas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesverksams</string>
		<key>Word</key>
		<string>yrkesverksams</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesverksamts</string>
		<key>Word</key>
		<string>yrkesverksamts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkets</string>
		<key>Word</key>
		<string>yrkets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrornas</string>
		<key>Word</key>
		<string>yrornas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrors</string>
		<key>Word</key>
		<string>yrors</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrs</string>
		<key>Word</key>
		<string>yrs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrsas</string>
		<key>Word</key>
		<string>Yrsas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrselns</string>
		<key>Word</key>
		<string>yrselns</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrsels</string>
		<key>Word</key>
		<string>yrsels</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrts</string>
		<key>Word</key>
		<string>yrts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrvakens</string>
		<key>Word</key>
		<string>yrvakens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrvakets</string>
		<key>Word</key>
		<string>yrvakets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrvaknas</string>
		<key>Word</key>
		<string>yrvaknas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystades</string>
		<key>Word</key>
		<string>ystades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystads</string>
		<key>Word</key>
		<string>Ystads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystads</string>
		<key>Word</key>
		<string>ystads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystas</string>
		<key>Word</key>
		<string>ystas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystats</string>
		<key>Word</key>
		<string>ystats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ysters</string>
		<key>Word</key>
		<string>ysters</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ysterts</string>
		<key>Word</key>
		<string>ysterts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystrares</string>
		<key>Word</key>
		<string>ystrares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystras</string>
		<key>Word</key>
		<string>ystras</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystrastes</string>
		<key>Word</key>
		<string>ystrastes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ysätters-kajsas</string>
		<key>Word</key>
		<string>Ysätters-Kajsas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytans</string>
		<key>Word</key>
		<string>ytans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytas</string>
		<key>Word</key>
		<string>ytas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytavrinningens</string>
		<key>Word</key>
		<string>ytavrinningens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytavrinnings</string>
		<key>Word</key>
		<string>ytavrinnings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenhetens</string>
		<key>Word</key>
		<string>ytenhetens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenheternas</string>
		<key>Word</key>
		<string>ytenheternas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenheters</string>
		<key>Word</key>
		<string>ytenheters</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenhets</string>
		<key>Word</key>
		<string>ytenhets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärgens</string>
		<key>Word</key>
		<string>ytfärgens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärgernas</string>
		<key>Word</key>
		<string>ytfärgernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärgers</string>
		<key>Word</key>
		<string>ytfärgers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärgs</string>
		<key>Word</key>
		<string>ytfärgs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytjämnhetens</string>
		<key>Word</key>
		<string>ytjämnhetens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytjämnhets</string>
		<key>Word</key>
		<string>ytjämnhets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligares</string>
		<key>Word</key>
		<string>ytligares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligas</string>
		<key>Word</key>
		<string>ytligas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligastes</string>
		<key>Word</key>
		<string>ytligastes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytliges</string>
		<key>Word</key>
		<string>ytliges</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligs</string>
		<key>Word</key>
		<string>ytligs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligts</string>
		<key>Word</key>
		<string>ytligts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterades</string>
		<key>Word</key>
		<string>ytmonterades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterads</string>
		<key>Word</key>
		<string>ytmonterads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterats</string>
		<key>Word</key>
		<string>ytmonterats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonteringens</string>
		<key>Word</key>
		<string>ytmonteringens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterings</string>
		<key>Word</key>
		<string>ytmonterings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmåttens</string>
		<key>Word</key>
		<string>ytmåttens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmåttets</string>
		<key>Word</key>
		<string>ytmåttets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmåtts</string>
		<key>Word</key>
		<string>ytmåtts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytornas</string>
		<key>Word</key>
		<string>ytornas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytors</string>
		<key>Word</key>
		<string>ytors</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytpostens</string>
		<key>Word</key>
		<string>ytpostens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytposts</string>
		<key>Word</key>
		<string>ytposts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterblomfjällens</string>
		<key>Word</key>
		<string>ytterblomfjällens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterblomfjällets</string>
		<key>Word</key>
		<string>ytterblomfjällets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterblomfjälls</string>
		<key>Word</key>
		<string>ytterblomfjälls</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörrarnas</string>
		<key>Word</key>
		<string>ytterdörrarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörrars</string>
		<key>Word</key>
		<string>ytterdörrars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörrens</string>
		<key>Word</key>
		<string>ytterdörrens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörrs</string>
		<key>Word</key>
		<string>ytterdörrs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterklädernas</string>
		<key>Word</key>
		<string>ytterklädernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterkläders</string>
		<key>Word</key>
		<string>ytterkläders</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterledarens</string>
		<key>Word</key>
		<string>ytterledarens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterledares</string>
		<key>Word</key>
		<string>ytterledares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterledarnas</string>
		<key>Word</key>
		<string>ytterledarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligares</string>
		<key>Word</key>
		<string>ytterligares</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligas</string>
		<key>Word</key>
		<string>ytterligas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligastes</string>
		<key>Word</key>
		<string>ytterligastes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterlighetens</string>
		<key>Word</key>
		<string>ytterlighetens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligheternas</string>
		<key>Word</key>
		<string>ytterligheternas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligheters</string>
		<key>Word</key>
		<string>ytterligheters</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterlighets</string>
		<key>Word</key>
		<string>ytterlighets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligs</string>
		<key>Word</key>
		<string>ytterligs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligts</string>
		<key>Word</key>
		<string>ytterligts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterns</string>
		<key>Word</key>
		<string>ytterns</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrockarnas</string>
		<key>Word</key>
		<string>ytterrockarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrockars</string>
		<key>Word</key>
		<string>ytterrockars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrockens</string>
		<key>Word</key>
		<string>ytterrockens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrocks</string>
		<key>Word</key>
		<string>ytterrocks</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytters</string>
		<key>Word</key>
		<string>ytters</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttersidans</string>
		<key>Word</key>
		<string>yttersidans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttersidas</string>
		<key>Word</key>
		<string>yttersidas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterstas</string>
		<key>Word</key>
		<string>ytterstas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterväggarnas</string>
		<key>Word</key>
		<string>ytterväggarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterväggars</string>
		<key>Word</key>
		<string>ytterväggars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterväggens</string>
		<key>Word</key>
		<string>ytterväggens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterväggs</string>
		<key>Word</key>
		<string>ytterväggs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttervärldens</string>
		<key>Word</key>
		<string>yttervärldens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrades</string>
		<key>Word</key>
		<string>yttrades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrads</string>
		<key>Word</key>
		<string>yttrads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihetens</string>
		<key>Word</key>
		<string>yttrandefrihetens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihets</string>
		<key>Word</key>
		<string>yttrandefrihets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihetsgrundlagens</string>
		<key>Word</key>
		<string>yttrandefrihetsgrundlagens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihetsgrundlags</string>
		<key>Word</key>
		<string>yttrandefrihetsgrundlags</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandenas</string>
		<key>Word</key>
		<string>yttrandenas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandens</string>
		<key>Word</key>
		<string>yttrandens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandes</string>
		<key>Word</key>
		<string>yttrandes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandets</string>
		<key>Word</key>
		<string>yttrandets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrarnas</string>
		<key>Word</key>
		<string>yttrarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrars</string>
		<key>Word</key>
		<string>yttrars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttras</string>
		<key>Word</key>
		<string>yttras</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrats</string>
		<key>Word</key>
		<string>yttrats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttres</string>
		<key>Word</key>
		<string>yttres</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttringarnas</string>
		<key>Word</key>
		<string>yttringarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttringars</string>
		<key>Word</key>
		<string>yttringars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttringens</string>
		<key>Word</key>
		<string>yttringens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrings</string>
		<key>Word</key>
		<string>yttrings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvattens</string>
		<key>Word</key>
		<string>ytvattens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvattnets</string>
		<key>Word</key>
		<string>ytvattnets</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytviddens</string>
		<key>Word</key>
		<string>ytviddens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvidds</string>
		<key>Word</key>
		<string>ytvidds</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yubas</string>
		<key>Word</key>
		<string>Yubas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yuis</string>
		<key>Word</key>
		<string>Yuis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yukons</string>
		<key>Word</key>
		<string>Yukons</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yunis</string>
		<key>Word</key>
		<string>Yunis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yunnans</string>
		<key>Word</key>
		<string>Yunnans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yuzawas</string>
		<key>Word</key>
		<string>Yuzawas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvades</string>
		<key>Word</key>
		<string>yvades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvas</string>
		<key>Word</key>
		<string>yvas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvats</string>
		<key>Word</key>
		<string>yvats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvelines</string>
		<key>Word</key>
		<string>Yvelines</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvettes</string>
		<key>Word</key>
		<string>Yvettes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvigas</string>
		<key>Word</key>
		<string>yvigas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvigs</string>
		<key>Word</key>
		<string>yvigs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvigts</string>
		<key>Word</key>
		<string>yvigts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvonnes</string>
		<key>Word</key>
		<string>Yvonnes</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvs</string>
		<key>Word</key>
		<string>yvs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxans</string>
		<key>Word</key>
		<string>yxans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxas</string>
		<key>Word</key>
		<string>yxas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxkastningens</string>
		<key>Word</key>
		<string>yxkastningens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxkastnings</string>
		<key>Word</key>
		<string>yxkastnings</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxornas</string>
		<key>Word</key>
		<string>yxornas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxors</string>
		<key>Word</key>
		<string>yxors</string>
	</dict>
</array>
</plist>
