<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zander</string>
		<key>Word</key>
		<string>Zander</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zapatister</string>
		<key>Word</key>
		<string>zapatister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zebror</string>
		<key>Word</key>
		<string>zebror</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zeloter</string>
		<key>Word</key>
		<string>zeloter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ziegler</string>
		<key>Word</key>
		<string>Ziegler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zinnior</string>
		<key>Word</key>
		<string>zinnior</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoner</string>
		<key>Word</key>
		<string>zoner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoologer</string>
		<key>Word</key>
		<string>zoologer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoomar</string>
		<key>Word</key>
		<string>zoomar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoombar</string>
		<key>Word</key>
		<string>zoombar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoroaster</string>
		<key>Word</key>
		<string>Zoroaster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zuluer</string>
		<key>Word</key>
		<string>zuluer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zwickauer</string>
		<key>Word</key>
		<string>Zwickauer</string>
	</dict>
</array>
</plist>
