Package: com.wynd.iswipe
Name: iSwipe Keyboard
Version: 0.5.1-0.5-6
Description: Faster, gesture-typing keyboard
Section: Keyboard
Depends: mobilesubstrate
Priority: standard
Architecture: iphoneos-arm
Author: Oskar Löfgren
