<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abarth</string>
		<key>Word</key>
		<string>Abarth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abbath</string>
		<key>Word</key>
		<string>Abbath</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abdullah</string>
		<key>Word</key>
		<string>Abdullah</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aberystwyth</string>
		<key>Word</key>
		<string>Aberystwyth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adlerbeth</string>
		<key>Word</key>
		<string>Adlerbeth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adolph</string>
		<key>Word</key>
		<string>Adolph</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affisch</string>
		<key>Word</key>
		<string>affisch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affärslunch</string>
		<key>Word</key>
		<string>affärslunch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agardh</string>
		<key>Word</key>
		<string>Agardh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ah</string>
		<key>Word</key>
		<string>ah</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aichach</string>
		<key>Word</key>
		<string>Aichach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aisch</string>
		<key>Word</key>
		<string>Aisch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allah</string>
		<key>Word</key>
		<string>Allah</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansbach</string>
		<key>Word</key>
		<string>Ansbach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>approach</string>
		<key>Word</key>
		<string>approach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aronovitch</string>
		<key>Word</key>
		<string>Aronovitch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aurich</string>
		<key>Word</key>
		<string>Aurich</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>äh</string>
		<key>Word</key>
		<string>äh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>äsch</string>
		<key>Word</key>
		<string>äsch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åh</string>
		<key>Word</key>
		<string>åh</string>
	</dict>
</array>
</plist>
