<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aasi</string>
		<key>Word</key>
		<string>Aasi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abashiri</string>
		<key>Word</key>
		<string>Abashiri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abdi</string>
		<key>Word</key>
		<string>Abdi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abi</string>
		<key>Word</key>
		<string>Abi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abisai</string>
		<key>Word</key>
		<string>Abisai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>absai</string>
		<key>Word</key>
		<string>Absai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>addi</string>
		<key>Word</key>
		<string>Addi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adi</string>
		<key>Word</key>
		<string>Adi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adoni</string>
		<key>Word</key>
		<string>Adoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afasi</string>
		<key>Word</key>
		<string>afasi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afghani</string>
		<key>Word</key>
		<string>afghani</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afzelii</string>
		<key>Word</key>
		<string>Afzelii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agassi</string>
		<key>Word</key>
		<string>Agassi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agelii</string>
		<key>Word</key>
		<string>Agelii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agoni</string>
		<key>Word</key>
		<string>agoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agorafobi</string>
		<key>Word</key>
		<string>agorafobi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agronomi</string>
		<key>Word</key>
		<string>agronomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ai</string>
		<key>Word</key>
		<string>AI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ai</string>
		<key>Word</key>
		<string>Ai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aichi</string>
		<key>Word</key>
		<string>Aichi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aili</string>
		<key>Word</key>
		<string>Aili</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aioi</string>
		<key>Word</key>
		<string>Aioi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akademi</string>
		<key>Word</key>
		<string>akademi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aki</string>
		<key>Word</key>
		<string>Aki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akribi</string>
		<key>Word</key>
		<string>akribi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alajarvi</string>
		<key>Word</key>
		<string>Alajärvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ali</string>
		<key>Word</key>
		<string>Ali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alibi</string>
		<key>Word</key>
		<string>alibi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alinghi</string>
		<key>Word</key>
		<string>Alinghi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkali</string>
		<key>Word</key>
		<string>alkali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkemi</string>
		<key>Word</key>
		<string>alkemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkoholfri</string>
		<key>Word</key>
		<string>alkoholfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allegori</string>
		<key>Word</key>
		<string>allegori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allergi</string>
		<key>Word</key>
		<string>allergi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alvi</string>
		<key>Word</key>
		<string>Alvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amagi</string>
		<key>Word</key>
		<string>Amagi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amami</string>
		<key>Word</key>
		<string>Amami</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ami</string>
		<key>Word</key>
		<string>AMI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>analogi</string>
		<key>Word</key>
		<string>analogi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anarki</string>
		<key>Word</key>
		<string>anarki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anatomi</string>
		<key>Word</key>
		<string>anatomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andvari</string>
		<key>Word</key>
		<string>Andvari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anemi</string>
		<key>Word</key>
		<string>anemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anestesi</string>
		<key>Word</key>
		<string>anestesi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angiveri</string>
		<key>Word</key>
		<string>angiveri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anhui</string>
		<key>Word</key>
		<string>Anhui</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anjalankoski</string>
		<key>Word</key>
		<string>Anjalankoski</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anneli</string>
		<key>Word</key>
		<string>Anneli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>annevi</string>
		<key>Word</key>
		<string>Annevi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>annmari</string>
		<key>Word</key>
		<string>Annmari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anomali</string>
		<key>Word</key>
		<string>anomali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansi</string>
		<key>Word</key>
		<string>ANSI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anskri</string>
		<key>Word</key>
		<string>anskri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansvarsfri</string>
		<key>Word</key>
		<string>ansvarsfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anti</string>
		<key>Word</key>
		<string>anti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antipati</string>
		<key>Word</key>
		<string>antipati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antologi</string>
		<key>Word</key>
		<string>antologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antropologi</string>
		<key>Word</key>
		<string>antropologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aomori</string>
		<key>Word</key>
		<string>Aomori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apati</string>
		<key>Word</key>
		<string>apati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>api</string>
		<key>Word</key>
		<string>API</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsterapi</string>
		<key>Word</key>
		<string>arbetsterapi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aristokrati</string>
		<key>Word</key>
		<string>aristokrati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkeologi</string>
		<key>Word</key>
		<string>arkeologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arnevi</string>
		<key>Word</key>
		<string>Arnevi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artilleri</string>
		<key>Word</key>
		<string>artilleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asahi</string>
		<key>Word</key>
		<string>Asahi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ascii</string>
		<key>Word</key>
		<string>ASCII</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ascoli</string>
		<key>Word</key>
		<string>Ascoli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asti</string>
		<key>Word</key>
		<string>Asti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astri</string>
		<key>Word</key>
		<string>Astri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astrologi</string>
		<key>Word</key>
		<string>astrologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astronomi</string>
		<key>Word</key>
		<string>astronomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atari</string>
		<key>Word</key>
		<string>Atari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atomenergi</string>
		<key>Word</key>
		<string>atomenergi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atoni</string>
		<key>Word</key>
		<string>atoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>audi</string>
		<key>Word</key>
		<string>Audi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>augusti</string>
		<key>Word</key>
		<string>augusti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>automatateori</string>
		<key>Word</key>
		<string>automatateori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autonomi</string>
		<key>Word</key>
		<string>autonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avbrottsfri</string>
		<key>Word</key>
		<string>avbrottsfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avgiftsfri</string>
		<key>Word</key>
		<string>avgiftsfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avguderi</string>
		<key>Word</key>
		<string>avguderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avi</string>
		<key>Word</key>
		<string>avi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akeri</string>
		<key>Word</key>
		<string>åkeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atti</string>
		<key>Word</key>
		<string>åtti</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Aanekoski</string>
		<key>Word</key>
		<string>Äänekoski</string>
	</dict>
</array>
</plist>
