<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adelsfamilj</string>
		<key>Word</key>
		<string>adelsfamilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afanasevitj</string>
		<key>Word</key>
		<string>Afanasevitj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aj</string>
		<key>Word</key>
		<string>aj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>altaj</string>
		<key>Word</key>
		<string>Altaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>altajskij</string>
		<key>Word</key>
		<string>Altajskij</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andrej</string>
		<key>Word</key>
		<string>Andrej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>annonskampanj</string>
		<key>Word</key>
		<string>annonskampanj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>attiralj</string>
		<key>Word</key>
		<string>attiralj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avboj</string>
		<key>Word</key>
		<string>avböj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avskilj</string>
		<key>Word</key>
		<string>avskilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avvarj</string>
		<key>Word</key>
		<string>avvärj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>appelpaj</string>
		<key>Word</key>
		<string>äppelpaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anej</string>
		<key>Word</key>
		<string>ånej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atfolj</string>
		<key>Word</key>
		<string>åtfölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atskilj</string>
		<key>Word</key>
		<string>åtskilj</string>
	</dict>
</array>
</plist>
