<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abchazisk</string>
		<key>Word</key>
		<string>abchazisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abessinsk</string>
		<key>Word</key>
		<string>abessinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abimelek</string>
		<key>Word</key>
		<string>Abimelek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abrahamisk</string>
		<key>Word</key>
		<string>abrahamisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abrahamistisk</string>
		<key>Word</key>
		<string>abrahamistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>absintsmak</string>
		<key>Word</key>
		<string>absintsmak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ack</string>
		<key>Word</key>
		<string>ack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adalrik</string>
		<key>Word</key>
		<string>Adalrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adoni-besek</string>
		<key>Word</key>
		<string>Adoni-Besek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adrammelek</string>
		<key>Word</key>
		<string>Adrammelek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adressbok</string>
		<key>Word</key>
		<string>adressbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aerodynamik</string>
		<key>Word</key>
		<string>aerodynamik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aerosolburk</string>
		<key>Word</key>
		<string>aerosolburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afarsak</string>
		<key>Word</key>
		<string>afarsak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afek</string>
		<key>Word</key>
		<string>Afek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affarsjuridik</string>
		<key>Word</key>
		<string>affärsjuridik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afghansk</string>
		<key>Word</key>
		<string>afghansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afrikansk</string>
		<key>Word</key>
		<string>afrikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahimelek</string>
		<key>Word</key>
		<string>Ahimelek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahlmark</string>
		<key>Word</key>
		<string>Ahlmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aik</string>
		<key>Word</key>
		<string>AIK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ak</string>
		<key>Word</key>
		<string>AK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akademisk</string>
		<key>Word</key>
		<string>akademisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akrobatisk</string>
		<key>Word</key>
		<string>akrobatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akustik</string>
		<key>Word</key>
		<string>akustik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akustisk</string>
		<key>Word</key>
		<string>akustisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>albansk</string>
		<key>Word</key>
		<string>albansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alfabetisk</string>
		<key>Word</key>
		<string>alfabetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>algebraisk</string>
		<key>Word</key>
		<string>algebraisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>algoritmisk</string>
		<key>Word</key>
		<string>algoritmisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allegorisk</string>
		<key>Word</key>
		<string>allegorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allergisk</string>
		<key>Word</key>
		<string>allergisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allsvensk</string>
		<key>Word</key>
		<string>allsvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>almanack</string>
		<key>Word</key>
		<string>almanack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alrik</string>
		<key>Word</key>
		<string>Alrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alternativrock</string>
		<key>Word</key>
		<string>alternativrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>altruistisk</string>
		<key>Word</key>
		<string>altruistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amalek</string>
		<key>Word</key>
		<string>Amalek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amerikansk</string>
		<key>Word</key>
		<string>amerikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ammoniak</string>
		<key>Word</key>
		<string>ammoniak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amok</string>
		<key>Word</key>
		<string>amok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amoralisk</string>
		<key>Word</key>
		<string>amoralisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anaforisk</string>
		<key>Word</key>
		<string>anaforisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anakronistisk</string>
		<key>Word</key>
		<string>anakronistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>analytisk</string>
		<key>Word</key>
		<string>analytisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anarkistisk</string>
		<key>Word</key>
		<string>anarkistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anatomisk</string>
		<key>Word</key>
		<string>anatomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anblick</string>
		<key>Word</key>
		<string>anblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andrasprak</string>
		<key>Word</key>
		<string>andraspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anekdotisk</string>
		<key>Word</key>
		<string>anekdotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anemisk</string>
		<key>Word</key>
		<string>anemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angick</string>
		<key>Word</key>
		<string>angick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anglemark</string>
		<key>Word</key>
		<string>Anglemark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anglikansk</string>
		<key>Word</key>
		<string>anglikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anglosaxisk</string>
		<key>Word</key>
		<string>anglosaxisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>animalisk</string>
		<key>Word</key>
		<string>animalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anmark</string>
		<key>Word</key>
		<string>anmärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anorak</string>
		<key>Word</key>
		<string>anorak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anrikningsverk</string>
		<key>Word</key>
		<string>anrikningsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansiktsburk</string>
		<key>Word</key>
		<string>Ansiktsburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansiktsuttryck</string>
		<key>Word</key>
		<string>ansiktsuttryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansprak</string>
		<key>Word</key>
		<string>anspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ansok</string>
		<key>Word</key>
		<string>ansök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antagonistisk</string>
		<key>Word</key>
		<string>antagonistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anteckningsblock</string>
		<key>Word</key>
		<string>anteckningsblock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anteckningsbok</string>
		<key>Word</key>
		<string>anteckningsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antiballistisk</string>
		<key>Word</key>
		<string>antiballistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antifascistisk</string>
		<key>Word</key>
		<string>antifascistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antik</string>
		<key>Word</key>
		<string>antik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antikvarisk</string>
		<key>Word</key>
		<string>antikvarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antisemitisk</string>
		<key>Word</key>
		<string>antisemitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antropologisk</string>
		<key>Word</key>
		<string>antropologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antropometrisk</string>
		<key>Word</key>
		<string>antropometrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apatisk</string>
		<key>Word</key>
		<string>apatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apokalyptisk</string>
		<key>Word</key>
		<string>apokalyptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apokryfisk</string>
		<key>Word</key>
		<string>apokryfisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apologetik</string>
		<key>Word</key>
		<string>apologetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apologetisk</string>
		<key>Word</key>
		<string>apologetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aposteriorisk</string>
		<key>Word</key>
		<string>aposteriorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apostolisk</string>
		<key>Word</key>
		<string>apostolisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apotek</string>
		<key>Word</key>
		<string>apotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>appletalk</string>
		<key>Word</key>
		<string>AppleTalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apriorisk</string>
		<key>Word</key>
		<string>apriorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arabesk</string>
		<key>Word</key>
		<string>arabesk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arabisk</string>
		<key>Word</key>
		<string>arabisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arameisk</string>
		<key>Word</key>
		<string>arameisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetarbarack</string>
		<key>Word</key>
		<string>arbetarbarack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetarsmabruk</string>
		<key>Word</key>
		<string>arbetarsmåbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsbok</string>
		<key>Word</key>
		<string>arbetsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsplatsbibliotek</string>
		<key>Word</key>
		<string>arbetsplatsbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetssprak</string>
		<key>Word</key>
		<string>arbetsspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>argentinsk</string>
		<key>Word</key>
		<string>argentinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arisk</string>
		<key>Word</key>
		<string>arisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aristokratisk</string>
		<key>Word</key>
		<string>aristokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aritmetik</string>
		<key>Word</key>
		<string>aritmetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aritmetisk</string>
		<key>Word</key>
		<string>aritmetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ark</string>
		<key>Word</key>
		<string>ark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkaisk</string>
		<key>Word</key>
		<string>arkaisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkeologisk</string>
		<key>Word</key>
		<string>arkeologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arketypisk</string>
		<key>Word</key>
		<string>arketypisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkhangelsk</string>
		<key>Word</key>
		<string>Arkhangelsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkitektonisk</string>
		<key>Word</key>
		<string>arkitektonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arktisk</string>
		<key>Word</key>
		<string>arktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>armbagsveck</string>
		<key>Word</key>
		<string>armbågsveck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>armenisk</string>
		<key>Word</key>
		<string>armenisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aromatisk</string>
		<key>Word</key>
		<string>aromatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsenik</string>
		<key>Word</key>
		<string>arsenik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artikelrubrik</string>
		<key>Word</key>
		<string>artikelrubrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artikelstatistik</string>
		<key>Word</key>
		<string>artikelstatistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asiatisk</string>
		<key>Word</key>
		<string>asiatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ask</string>
		<key>Word</key>
		<string>ask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asketisk</string>
		<key>Word</key>
		<string>asketisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>assyrisk</string>
		<key>Word</key>
		<string>assyrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asterisk</string>
		<key>Word</key>
		<string>asterisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astrofysik</string>
		<key>Word</key>
		<string>astrofysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astrologisk</string>
		<key>Word</key>
		<string>astrologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astronomisk</string>
		<key>Word</key>
		<string>astronomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asymmetrisk</string>
		<key>Word</key>
		<string>asymmetrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asymptotisk</string>
		<key>Word</key>
		<string>asymptotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ateistisk</string>
		<key>Word</key>
		<string>ateistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atmosfarisk</string>
		<key>Word</key>
		<string>atmosfärisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atomfysik</string>
		<key>Word</key>
		<string>atomfysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>attack</string>
		<key>Word</key>
		<string>attack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atypisk</string>
		<key>Word</key>
		<string>atypisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>augsburgsk</string>
		<key>Word</key>
		<string>augsburgsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>australiensisk</string>
		<key>Word</key>
		<string>australiensisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>australisk</string>
		<key>Word</key>
		<string>australisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autenticitetsrock</string>
		<key>Word</key>
		<string>autenticitetsrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autentisk</string>
		<key>Word</key>
		<string>autentisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autistisk</string>
		<key>Word</key>
		<string>autistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>automagisk</string>
		<key>Word</key>
		<string>automagisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>automatik</string>
		<key>Word</key>
		<string>automatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>automatisk</string>
		<key>Word</key>
		<string>automatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avgick</string>
		<key>Word</key>
		<string>avgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avgudisk</string>
		<key>Word</key>
		<string>avgudisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aviatik</string>
		<key>Word</key>
		<string>aviatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avkrok</string>
		<key>Word</key>
		<string>avkrok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avskrack</string>
		<key>Word</key>
		<string>avskräck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avsmak</string>
		<key>Word</key>
		<string>avsmak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avspark</string>
		<key>Word</key>
		<string>avspark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avstyrk</string>
		<key>Word</key>
		<string>avstyrk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avsok</string>
		<key>Word</key>
		<string>avsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avtryck</string>
		<key>Word</key>
		<string>avtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avtack</string>
		<key>Word</key>
		<string>avtäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avundsjuk</string>
		<key>Word</key>
		<string>avundsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avvek</string>
		<key>Word</key>
		<string>avvek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avvik</string>
		<key>Word</key>
		<string>avvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axiomatisk</string>
		<key>Word</key>
		<string>axiomatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axplock</string>
		<key>Word</key>
		<string>axplock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>azerbajdzjansk</string>
		<key>Word</key>
		<string>azerbajdzjansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aggstock</string>
		<key>Word</key>
		<string>äggstock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alvbrink</string>
		<key>Word</key>
		<string>älvbrink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ambetsverk</string>
		<key>Word</key>
		<string>ämbetsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>andock</string>
		<key>Word</key>
		<string>ändock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anglalik</string>
		<key>Word</key>
		<string>änglalik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angsmark</string>
		<key>Word</key>
		<string>ängsmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ankedok</string>
		<key>Word</key>
		<string>änkedok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arendestatistik</string>
		<key>Word</key>
		<string>ärendestatistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkeskurk</string>
		<key>Word</key>
		<string>ärkeskurk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arorik</string>
		<key>Word</key>
		<string>ärorik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>attiksfabrik</string>
		<key>Word</key>
		<string>ättiksfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ak</string>
		<key>Word</key>
		<string>åk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akerbruk</string>
		<key>Word</key>
		<string>åkerbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akermark</string>
		<key>Word</key>
		<string>åkermark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alandsk</string>
		<key>Word</key>
		<string>åländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angtryck</string>
		<key>Word</key>
		<string>ångtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aretruntbruk</string>
		<key>Word</key>
		<string>åretruntbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsbok</string>
		<key>Word</key>
		<string>årsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arsstatistik</string>
		<key>Word</key>
		<string>årsstatistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterblick</string>
		<key>Word</key>
		<string>återblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterfick</string>
		<key>Word</key>
		<string>återfick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atergick</string>
		<key>Word</key>
		<string>återgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aterskank</string>
		<key>Word</key>
		<string>återskänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ateruppvack</string>
		<key>Word</key>
		<string>återuppväck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atgick</string>
		<key>Word</key>
		<string>åtgick</string>
	</dict>
</array>
</plist>
