<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abarim</string>
		<key>Word</key>
		<string>Abarim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abiam</string>
		<key>Word</key>
		<string>Abiam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abinoam</string>
		<key>Word</key>
		<string>Abinoam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abiram</string>
		<key>Word</key>
		<string>Abiram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abisalom</string>
		<key>Word</key>
		<string>Abisalom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abm</string>
		<key>Word</key>
		<string>ABM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abnorm</string>
		<key>Word</key>
		<string>abnorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abraham</string>
		<key>Word</key>
		<string>Abraham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abram</string>
		<key>Word</key>
		<string>Abram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>absalom</string>
		<key>Word</key>
		<string>Absalom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>absintism</string>
		<key>Word</key>
		<string>absintism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>absolutism</string>
		<key>Word</key>
		<string>absolutism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>absurdum</string>
		<key>Word</key>
		<string>absurdum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>acm</string>
		<key>Word</key>
		<string>ACM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>actium</string>
		<key>Word</key>
		<string>Actium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adam</string>
		<key>Word</key>
		<string>Adam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adb-system</string>
		<key>Word</key>
		<string>ADB-system</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aditaim</string>
		<key>Word</key>
		<string>Aditaim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adonikam</string>
		<key>Word</key>
		<string>Adonikam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adoniram</string>
		<key>Word</key>
		<string>Adoniram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adoraim</string>
		<key>Word</key>
		<string>Adoraim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adoram</string>
		<key>Word</key>
		<string>Adoram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adullam</string>
		<key>Word</key>
		<string>Adullam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aerodrom</string>
		<key>Word</key>
		<string>aerodrom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affärscentrum</string>
		<key>Word</key>
		<string>affärscentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affärssystem</string>
		<key>Word</key>
		<string>affärssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aforism</string>
		<key>Word</key>
		<string>aforism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afrodisiakum</string>
		<key>Word</key>
		<string>afrodisiakum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agnosticism</string>
		<key>Word</key>
		<string>agnosticism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agroekosystem</string>
		<key>Word</key>
		<string>agroekosystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agronom</string>
		<key>Word</key>
		<string>agronom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahikam</string>
		<key>Word</key>
		<string>Ahikam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahinoam</string>
		<key>Word</key>
		<string>Ahinoam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akronym</string>
		<key>Word</key>
		<string>akronym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aktsam</string>
		<key>Word</key>
		<string>aktsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akvarium</string>
		<key>Word</key>
		<string>akvarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alarm</string>
		<key>Word</key>
		<string>alarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>album</string>
		<key>Word</key>
		<string>album</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>algarum</string>
		<key>Word</key>
		<string>Algarum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>algoritm</string>
		<key>Word</key>
		<string>algoritm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkoholism</string>
		<key>Word</key>
		<string>alkoholism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkoholproblem</string>
		<key>Word</key>
		<string>alkoholproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alkoholreklam</string>
		<key>Word</key>
		<string>alkoholreklam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allergisjukdom</string>
		<key>Word</key>
		<string>allergisjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allom</string>
		<key>Word</key>
		<string>allom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allström</string>
		<key>Word</key>
		<string>allström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allteftersom</string>
		<key>Word</key>
		<string>allteftersom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alltigenom</string>
		<key>Word</key>
		<string>alltigenom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allvarsam</string>
		<key>Word</key>
		<string>allvarsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alm</string>
		<key>Word</key>
		<string>alm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>altruism</string>
		<key>Word</key>
		<string>altruism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aluceum</string>
		<key>Word</key>
		<string>Aluceum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aluminium</string>
		<key>Word</key>
		<string>aluminium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>am</string>
		<key>Word</key>
		<string>am</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amalgam</string>
		<key>Word</key>
		<string>amalgam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ammonium</string>
		<key>Word</key>
		<string>ammonium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>amsterdam</string>
		<key>Word</key>
		<string>Amsterdam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anagram</string>
		<key>Word</key>
		<string>anagram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anakronism</string>
		<key>Word</key>
		<string>anakronism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>analfabetism</string>
		<key>Word</key>
		<string>analfabetism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anarkism</string>
		<key>Word</key>
		<string>anarkism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anckarström</string>
		<key>Word</key>
		<string>Anckarström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>angenäm</string>
		<key>Word</key>
		<string>angenäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anglicism</string>
		<key>Word</key>
		<string>anglicism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ankom</string>
		<key>Word</key>
		<string>ankom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anm</string>
		<key>Word</key>
		<string>anm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anonym</string>
		<key>Word</key>
		<string>anonym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anselm</string>
		<key>Word</key>
		<string>Anselm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antagonism</string>
		<key>Word</key>
		<string>antagonism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antibiotikum</string>
		<key>Word</key>
		<string>antibiotikum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antisemitism</string>
		<key>Word</key>
		<string>antisemitism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antiziganism</string>
		<key>Word</key>
		<string>antiziganism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>användarforum</string>
		<key>Word</key>
		<string>användarforum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apparatrum</string>
		<key>Word</key>
		<string>apparatrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aram</string>
		<key>Word</key>
		<string>Aram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetarhem</string>
		<key>Word</key>
		<string>arbetarhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsam</string>
		<key>Word</key>
		<string>arbetsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsform</string>
		<key>Word</key>
		<string>arbetsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsrum</string>
		<key>Word</key>
		<string>arbetsrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkaism</string>
		<key>Word</key>
		<string>arkaism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkivcentrum</string>
		<key>Word</key>
		<string>Arkivcentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arkivinformationssystem</string>
		<key>Word</key>
		<string>arkivinformationssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arksam</string>
		<key>Word</key>
		<string>ARKSAM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arm</string>
		<key>Word</key>
		<string>arm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arom</string>
		<key>Word</key>
		<string>arom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>assam</string>
		<key>Word</key>
		<string>Assam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>astronom</string>
		<key>Word</key>
		<string>astronom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ateism</string>
		<key>Word</key>
		<string>ateism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atm</string>
		<key>Word</key>
		<string>ATM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atom</string>
		<key>Word</key>
		<string>atom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>atterbom</string>
		<key>Word</key>
		<string>Atterbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>auditorium</string>
		<key>Word</key>
		<string>auditorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autism</string>
		<key>Word</key>
		<string>autism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>autonom</string>
		<key>Word</key>
		<string>autonom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avgiftssystem</string>
		<key>Word</key>
		<string>avgiftssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avloppssystem</string>
		<key>Word</key>
		<string>avloppssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avlyssningsprogram</string>
		<key>Word</key>
		<string>avlyssningsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avskum</string>
		<key>Word</key>
		<string>avskum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avstäm</string>
		<key>Word</key>
		<string>avstäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avundsam</string>
		<key>Word</key>
		<string>avundsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axelrem</string>
		<key>Word</key>
		<string>axelrem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>axiom</string>
		<key>Word</key>
		<string>axiom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ämbetsrum</string>
		<key>Word</key>
		<string>ämbetsrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ärm</string>
		<key>Word</key>
		<string>ärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ävensom</string>
		<key>Word</key>
		<string>ävensom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ålderdom</string>
		<key>Word</key>
		<string>ålderdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ålderdomshem</string>
		<key>Word</key>
		<string>ålderdomshem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>årsjubileum</string>
		<key>Word</key>
		<string>årsjubileum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åstadkom</string>
		<key>Word</key>
		<string>åstadkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>återhållsam</string>
		<key>Word</key>
		<string>återhållsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>återkom</string>
		<key>Word</key>
		<string>återkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åttiofem</string>
		<key>Word</key>
		<string>åttiofem</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Ängelholm</string>
		<key>Word</key>
		<string>Ängelholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åkerheim</string>
		<key>Word</key>
		<string>Åkerheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åkerhielm</string>
		<key>Word</key>
		<string>Åkerhielm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Ångström</string>
		<key>Word</key>
		<string>Ångström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åström</string>
		<key>Word</key>
		<string>Åström</string>
	</dict>
</array>
</plist>
