<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aalto</string>
		<key>Word</key>
		<string>Aalto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abano</string>
		<key>Word</key>
		<string>Abano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abed-nego</string>
		<key>Word</key>
		<string>Abed-Nego</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abiko</string>
		<key>Word</key>
		<string>Abiko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abisko</string>
		<key>Word</key>
		<string>Abisko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abramtsevo</string>
		<key>Word</key>
		<string>Abramtsevo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>abruzzo</string>
		<key>Word</key>
		<string>Abruzzo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>acapulco</string>
		<key>Word</key>
		<string>Acapulco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adagietto</string>
		<key>Word</key>
		<string>adagietto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adagio</string>
		<key>Word</key>
		<string>adagio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adelsö</string>
		<key>Word</key>
		<string>Adelsö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>adjö</string>
		<key>Word</key>
		<string>adjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>affogato</string>
		<key>Word</key>
		<string>affogato</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>afro</string>
		<key>Word</key>
		<string>afro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ago</string>
		<key>Word</key>
		<string>Ago</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>agrigento</string>
		<key>Word</key>
		<string>Agrigento</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ahjo</string>
		<key>Word</key>
		<string>Ahjo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aibo</string>
		<key>Word</key>
		<string>AIBO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aino</string>
		<key>Word</key>
		<string>Aino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aio</string>
		<key>Word</key>
		<string>Aio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>akiruno</string>
		<key>Word</key>
		<string>Akiruno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alastaro</string>
		<key>Word</key>
		<string>Alastaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alavo</string>
		<key>Word</key>
		<string>Alavo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>albino</string>
		<key>Word</key>
		<string>albino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alemtejo</string>
		<key>Word</key>
		<string>Alemtejo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>allo</string>
		<key>Word</key>
		<string>allo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alsnö</string>
		<key>Word</key>
		<string>Alsnö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alto</string>
		<key>Word</key>
		<string>Alto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>alvaro</string>
		<key>Word</key>
		<string>Alvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anförtro</string>
		<key>Word</key>
		<string>anförtro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anjo</string>
		<key>Word</key>
		<string>Anjo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>anno</string>
		<key>Word</key>
		<string>anno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>annonsinfo</string>
		<key>Word</key>
		<string>annonsinfo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antananarivo</string>
		<key>Word</key>
		<string>Antananarivo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>antonio</string>
		<key>Word</key>
		<string>Antonio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>användarkonto</string>
		<key>Word</key>
		<string>användarkonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aného</string>
		<key>Word</key>
		<string>Aného</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ao</string>
		<key>Word</key>
		<string>Ao</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>apollo</string>
		<key>Word</key>
		<string>Apollo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsmiljö</string>
		<key>Word</key>
		<string>arbetsmiljö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arbetsro</string>
		<key>Word</key>
		<string>arbetsro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>arezzo</string>
		<key>Word</key>
		<string>Arezzo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>artsjö</string>
		<key>Word</key>
		<string>Artsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asatro</string>
		<key>Word</key>
		<string>asatro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>asko</string>
		<key>Word</key>
		<string>Asko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>aspö</string>
		<key>Word</key>
		<string>Aspö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>audio</string>
		<key>Word</key>
		<string>audio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avantgo</string>
		<key>Word</key>
		<string>AvantGo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>avellino</string>
		<key>Word</key>
		<string>Avellino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ägo</string>
		<key>Word</key>
		<string>ägo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>älgko</string>
		<key>Word</key>
		<string>älgko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åbo</string>
		<key>Word</key>
		<string>åbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ånyo</string>
		<key>Word</key>
		<string>ånyo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åsido</string>
		<key>Word</key>
		<string>åsido</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>återvändo</string>
		<key>Word</key>
		<string>återvändo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åttio</string>
		<key>Word</key>
		<string>åttio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>åttionio</string>
		<key>Word</key>
		<string>åttionio</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Álvaro</string>
		<key>Word</key>
		<string>Álvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Älvsjö</string>
		<key>Word</key>
		<string>Älvsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åbo</string>
		<key>Word</key>
		<string>Åbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åkersro</string>
		<key>Word</key>
		<string>Åkersro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Åsö</string>
		<key>Word</key>
		<string>Åsö</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ÅÄÖ</string>
		<key>Word</key>
		<string>ÅÄÖ</string>
	</dict>
</array>
</plist>
