<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bach</string>
		<key>Word</key>
		<string>Bach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baden-durlach</string>
		<key>Word</key>
		<string>Baden-Durlach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>balkh</string>
		<key>Word</key>
		<string>Balkh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bangladesh</string>
		<key>Word</key>
		<string>Bangladesh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basah</string>
		<key>Word</key>
		<string>Basah</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>batch</string>
		<key>Word</key>
		<string>batch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bayreuth</string>
		<key>Word</key>
		<string>Bayreuth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beach</string>
		<key>Word</key>
		<string>beach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>belcheragh</string>
		<key>Word</key>
		<string>Belcheragh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bergh</string>
		<key>Word</key>
		<string>Bergh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bh</string>
		<key>Word</key>
		<string>bh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biberach</string>
		<key>Word</key>
		<string>Biberach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bluetooth</string>
		<key>Word</key>
		<string>Bluetooth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortamatch</string>
		<key>Word</key>
		<string>bortamatch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bransch</string>
		<key>Word</key>
		<string>bransch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>british</string>
		<key>Word</key>
		<string>British</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brosch</string>
		<key>Word</key>
		<string>brosch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brasch</string>
		<key>Word</key>
		<string>bräsch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bush</string>
		<key>Word</key>
		<string>Bush</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bush</string>
		<key>Word</key>
		<string>bush</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baath</string>
		<key>Word</key>
		<string>Bååth</string>
	</dict>
</array>
</plist>
