<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>b-reel</string>
		<key>Word</key>
		<string>B-Reel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baal</string>
		<key>Word</key>
		<string>Baal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>babel</string>
		<key>Word</key>
		<string>Babel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bacall</string>
		<key>Word</key>
		<string>Bacall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bacill</string>
		<key>Word</key>
		<string>bacill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backanal</string>
		<key>Word</key>
		<string>backanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backspegel</string>
		<key>Word</key>
		<string>backspegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bagatell</string>
		<key>Word</key>
		<string>bagatell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bagel</string>
		<key>Word</key>
		<string>bagel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bajkal</string>
		<key>Word</key>
		<string>Bajkal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakdel</string>
		<key>Word</key>
		<string>bakdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakfull</string>
		<key>Word</key>
		<string>bakfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakhal</string>
		<key>Word</key>
		<string>bakhal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakhjul</string>
		<key>Word</key>
		<string>bakhjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bakhall</string>
		<key>Word</key>
		<string>bakhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baktill</string>
		<key>Word</key>
		<string>baktill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bal</string>
		<key>Word</key>
		<string>bal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>banal</string>
		<key>Word</key>
		<string>banal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>banderoll</string>
		<key>Word</key>
		<string>banderoll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bandyboll</string>
		<key>Word</key>
		<string>bandyboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>banvall</string>
		<key>Word</key>
		<string>banvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnaul</string>
		<key>Word</key>
		<string>Barnaul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnkull</string>
		<key>Word</key>
		<string>barnkull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnmisshandel</string>
		<key>Word</key>
		<string>barnmisshandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barnpryl</string>
		<key>Word</key>
		<string>barnpryl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basal</string>
		<key>Word</key>
		<string>basal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>baseball</string>
		<key>Word</key>
		<string>baseball</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basel</string>
		<key>Word</key>
		<string>Basel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basfiol</string>
		<key>Word</key>
		<string>basfiol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>basketboll</string>
		<key>Word</key>
		<string>basketboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beachvolleyboll</string>
		<key>Word</key>
		<string>beachvolleyboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>becquerel</string>
		<key>Word</key>
		<string>becquerel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bedovningsmedel</string>
		<key>Word</key>
		<string>bedövningsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>befall</string>
		<key>Word</key>
		<string>befall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>befal</string>
		<key>Word</key>
		<string>befäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begreppsarsenal</string>
		<key>Word</key>
		<string>begreppsarsenal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behagfull</string>
		<key>Word</key>
		<string>behagfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behall</string>
		<key>Word</key>
		<string>behåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beholl</string>
		<key>Word</key>
		<string>behöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bekampningsmedel</string>
		<key>Word</key>
		<string>bekämpningsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bell</string>
		<key>Word</key>
		<string>Bell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>benrangel</string>
		<key>Word</key>
		<string>benrangel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berghall</string>
		<key>Word</key>
		<string>berghäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bernkastel</string>
		<key>Word</key>
		<string>Bernkastel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bertil</string>
		<key>Word</key>
		<string>Bertil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>berusningsmedel</string>
		<key>Word</key>
		<string>berusningsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beskyll</string>
		<key>Word</key>
		<string>beskyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestal</string>
		<key>Word</key>
		<string>bestal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestjal</string>
		<key>Word</key>
		<string>bestjäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestall</string>
		<key>Word</key>
		<string>beställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bestandsdel</string>
		<key>Word</key>
		<string>beståndsdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betel</string>
		<key>Word</key>
		<string>Betel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betsel</string>
		<key>Word</key>
		<string>betsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>betydelsefull</string>
		<key>Word</key>
		<string>betydelsefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bexell</string>
		<key>Word</key>
		<string>Bexell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bhopal</string>
		<key>Word</key>
		<string>Bhopal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibehall</string>
		<key>Word</key>
		<string>bibehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibeholl</string>
		<key>Word</key>
		<string>bibehöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibel</string>
		<key>Word</key>
		<string>bibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bibliofil</string>
		<key>Word</key>
		<string>bibliofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bifall</string>
		<key>Word</key>
		<string>bifall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bifoll</string>
		<key>Word</key>
		<string>biföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bil</string>
		<key>Word</key>
		<string>bil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilartikel</string>
		<key>Word</key>
		<string>bilartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilateral</string>
		<key>Word</key>
		<string>bilateral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bildningsideal</string>
		<key>Word</key>
		<string>bildningsideal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bildspel</string>
		<key>Word</key>
		<string>bildspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bill</string>
		<key>Word</key>
		<string>Bill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilmodell</string>
		<key>Word</key>
		<string>bilmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilnyckel</string>
		<key>Word</key>
		<string>bilnyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bilspel</string>
		<key>Word</key>
		<string>bilspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bindel</string>
		<key>Word</key>
		<string>bindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>binomial</string>
		<key>Word</key>
		<string>binomial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>binarpaketspegel</string>
		<key>Word</key>
		<string>binärpaketspegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bisexuell</string>
		<key>Word</key>
		<string>bisexuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bistabil</string>
		<key>Word</key>
		<string>bistabil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bitfel</string>
		<key>Word</key>
		<string>bitfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bittermandel</string>
		<key>Word</key>
		<string>bittermandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bl</string>
		<key>Word</key>
		<string>bl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodkarl</string>
		<key>Word</key>
		<string>blodkärl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodpol</string>
		<key>Word</key>
		<string>blodpöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blomaxel</string>
		<key>Word</key>
		<string>blomaxel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blomdahl</string>
		<key>Word</key>
		<string>Blomdahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blomfjall</string>
		<key>Word</key>
		<string>blomfjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blomkal</string>
		<key>Word</key>
		<string>blomkål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blygsel</string>
		<key>Word</key>
		<string>blygsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blagul</string>
		<key>Word</key>
		<string>blågul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bodil</string>
		<key>Word</key>
		<string>Bodil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boel</string>
		<key>Word</key>
		<string>Boel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bofjall</string>
		<key>Word</key>
		<string>Bofjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokbal</string>
		<key>Word</key>
		<string>bokbål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokcirkel</string>
		<key>Word</key>
		<string>bokcirkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokhandel</string>
		<key>Word</key>
		<string>bokhandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokmal</string>
		<key>Word</key>
		<string>bokmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bolinder-munktell</string>
		<key>Word</key>
		<string>Bolinder-Munktell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boll</string>
		<key>Word</key>
		<string>boll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bollspel</string>
		<key>Word</key>
		<string>bollspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bomull</string>
		<key>Word</key>
		<string>bomull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bondhyvel</string>
		<key>Word</key>
		<string>bondhyvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bordell</string>
		<key>Word</key>
		<string>bordell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>borell</string>
		<key>Word</key>
		<string>Borell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortfall</string>
		<key>Word</key>
		<string>bortfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortfoll</string>
		<key>Word</key>
		<string>bortföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bortforsel</string>
		<key>Word</key>
		<string>bortförsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostadsartikel</string>
		<key>Word</key>
		<string>bostadsartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>botemedel</string>
		<key>Word</key>
		<string>botemedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brandbil</string>
		<key>Word</key>
		<string>brandbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brandgul</string>
		<key>Word</key>
		<string>brandgul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>branschkoll</string>
		<key>Word</key>
		<string>branschkoll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bratell</string>
		<key>Word</key>
		<string>Bratell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brukningsareal</string>
		<key>Word</key>
		<string>brukningsareal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brukningsdel</string>
		<key>Word</key>
		<string>brukningsdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bruksforemal</string>
		<key>Word</key>
		<string>bruksföremål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brutal</string>
		<key>Word</key>
		<string>brutal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bryssel</string>
		<key>Word</key>
		<string>Bryssel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>braddfull</string>
		<key>Word</key>
		<string>bräddfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bradspel</string>
		<key>Word</key>
		<string>brädspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bradstapel</string>
		<key>Word</key>
		<string>brädstapel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brannboll</string>
		<key>Word</key>
		<string>brännboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brakdel</string>
		<key>Word</key>
		<string>bråkdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bubbel</string>
		<key>Word</key>
		<string>bubbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>buffel</string>
		<key>Word</key>
		<string>buffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bukspottkortel</string>
		<key>Word</key>
		<string>bukspottkörtel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bull</string>
		<key>Word</key>
		<string>Bull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>busenkel</string>
		<key>Word</key>
		<string>busenkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bussterminal</string>
		<key>Word</key>
		<string>bussterminal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bygel</string>
		<key>Word</key>
		<string>bygel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggfel</string>
		<key>Word</key>
		<string>byggfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>byggnadsmaterial</string>
		<key>Word</key>
		<string>byggnadsmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backedal</string>
		<key>Word</key>
		<string>Bäckedal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>backenstall</string>
		<key>Word</key>
		<string>bäckenställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bargningsbil</string>
		<key>Word</key>
		<string>bärgningsbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bal</string>
		<key>Word</key>
		<string>bål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bodel</string>
		<key>Word</key>
		<string>bödel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>borsfall</string>
		<key>Word</key>
		<string>börsfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>botfall</string>
		<key>Word</key>
		<string>bötfäll</string>
	</dict>
</array>
</plist>
