<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>barndomsdöv</string>
		<key>Word</key>
		<string>barndomsdöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bedrev</string>
		<key>Word</key>
		<string>bedrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bedriv</string>
		<key>Word</key>
		<string>bedriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begav</string>
		<key>Word</key>
		<string>begav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begiv</string>
		<key>Word</key>
		<string>begiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begrav</string>
		<key>Word</key>
		<string>begrav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begrov</string>
		<key>Word</key>
		<string>begrov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>begynnelsebokstav</string>
		<key>Word</key>
		<string>begynnelsebokstav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behov</string>
		<key>Word</key>
		<string>behov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behörighetskrav</string>
		<key>Word</key>
		<string>behörighetskrav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>behöv</string>
		<key>Word</key>
		<string>behöv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bergmassiv</string>
		<key>Word</key>
		<string>bergmassiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beskrev</string>
		<key>Word</key>
		<string>beskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>beskriv</string>
		<key>Word</key>
		<string>beskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bildarkiv</string>
		<key>Word</key>
		<string>bildarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>biltjuv</string>
		<key>Word</key>
		<string>biltjuv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bjuv</string>
		<key>Word</key>
		<string>Bjuv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blev</string>
		<key>Word</key>
		<string>blev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bliv</string>
		<key>Word</key>
		<string>bliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>blodprov</string>
		<key>Word</key>
		<string>blodprov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bokstav</string>
		<key>Word</key>
		<string>bokstav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>boskapstjuv</string>
		<key>Word</key>
		<string>boskapstjuv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bostadsreserv</string>
		<key>Word</key>
		<string>bostadsreserv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bov</string>
		<key>Word</key>
		<string>bov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brev</string>
		<key>Word</key>
		<string>brev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brezjnev</string>
		<key>Word</key>
		<string>Brezjnev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>brädgolv</string>
		<key>Word</key>
		<string>brädgolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>bränslestav</string>
		<key>Word</key>
		<string>bränslestav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>burlöv</string>
		<key>Word</key>
		<string>Burlöv</string>
	</dict>
</array>
</plist>
