<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-durskala</string>
		<key>Word</key>
		<string>C-durskala</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-vitaminerna</string>
		<key>Word</key>
		<string>c-vitaminerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ca</string>
		<key>Word</key>
		<string>ca</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cachucha</string>
		<key>Word</key>
		<string>cachucha</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cafeteria</string>
		<key>Word</key>
		<string>cafeteria</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cafeteriorna</string>
		<key>Word</key>
		<string>cafeteriorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caféerna</string>
		<key>Word</key>
		<string>caféerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calabria</string>
		<key>Word</key>
		<string>Calabria</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calcutta</string>
		<key>Word</key>
		<string>Calcutta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>california</string>
		<key>Word</key>
		<string>California</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>caltanissetta</string>
		<key>Word</key>
		<string>Caltanissetta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cambodja</string>
		<key>Word</key>
		<string>Cambodja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>camilla</string>
		<key>Word</key>
		<string>Camilla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campa</string>
		<key>Word</key>
		<string>campa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>camparna</string>
		<key>Word</key>
		<string>camparna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>canada</string>
		<key>Word</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>canaria</string>
		<key>Word</key>
		<string>Canaria</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>canberra</string>
		<key>Word</key>
		<string>Canberra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancergala</string>
		<key>Word</key>
		<string>cancergala</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancergåta</string>
		<key>Word</key>
		<string>cancergåta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancerogena</string>
		<key>Word</key>
		<string>cancerogena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancersjuka</string>
		<key>Word</key>
		<string>cancersjuka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cancrarna</string>
		<key>Word</key>
		<string>cancrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>candela</string>
		<key>Word</key>
		<string>candela</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>capella</string>
		<key>Word</key>
		<string>capella</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>capita</string>
		<key>Word</key>
		<string>capita</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carina</string>
		<key>Word</key>
		<string>Carina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carita</string>
		<key>Word</key>
		<string>Carita</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carla</string>
		<key>Word</key>
		<string>Carla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carola</string>
		<key>Word</key>
		<string>Carola</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carolina</string>
		<key>Word</key>
		<string>Carolina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>casablanca</string>
		<key>Word</key>
		<string>Casablanca</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cassandra</string>
		<key>Word</key>
		<string>Cassandra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catalina</string>
		<key>Word</key>
		<string>Catalina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catarina</string>
		<key>Word</key>
		<string>Catarina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catharina</string>
		<key>Word</key>
		<string>Catharina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>catja</string>
		<key>Word</key>
		<string>Catja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-etiketterna</string>
		<key>Word</key>
		<string>cd-etiketterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hylla</string>
		<key>Word</key>
		<string>CD-hylla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hylla</string>
		<key>Word</key>
		<string>cd-hylla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hyllorna</string>
		<key>Word</key>
		<string>CD-hyllorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-hyllorna</string>
		<key>Word</key>
		<string>cd-hyllorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-pressarna</string>
		<key>Word</key>
		<string>CD-pressarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-pressarna</string>
		<key>Word</key>
		<string>cd-pressarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-rom-enheterna</string>
		<key>Word</key>
		<string>CD-ROM-enheterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skiva</string>
		<key>Word</key>
		<string>CD-skiva</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skiva</string>
		<key>Word</key>
		<string>cd-skiva</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skivorna</string>
		<key>Word</key>
		<string>CD-skivorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-skivorna</string>
		<key>Word</key>
		<string>cd-skivorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-spelarna</string>
		<key>Word</key>
		<string>CD-spelarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-spelarna</string>
		<key>Word</key>
		<string>cd-spelarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdrom-enheterna</string>
		<key>Word</key>
		<string>CDROM-enheterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cdromenheterna</string>
		<key>Word</key>
		<string>cdromenheterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceara</string>
		<key>Word</key>
		<string>Ceara</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cecilia</string>
		<key>Word</key>
		<string>Cecilia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederträ</string>
		<key>Word</key>
		<string>cederträ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cedrarna</string>
		<key>Word</key>
		<string>cedrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellerna</string>
		<key>Word</key>
		<string>cellerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellisterna</string>
		<key>Word</key>
		<string>cellisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellkärna</string>
		<key>Word</key>
		<string>cellkärna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellkärnorna</string>
		<key>Word</key>
		<string>cellkärnorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellulosa</string>
		<key>Word</key>
		<string>cellulosa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cellulära</string>
		<key>Word</key>
		<string>cellulära</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cembalorna</string>
		<key>Word</key>
		<string>cembalorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementera</string>
		<key>Word</key>
		<string>cementera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgjuterierna</string>
		<key>Word</key>
		<string>cementgjuterierna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgrunderna</string>
		<key>Word</key>
		<string>cementgrunderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementtrappa</string>
		<key>Word</key>
		<string>cementtrappa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementtrapporna</string>
		<key>Word</key>
		<string>cementtrapporna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorerna</string>
		<key>Word</key>
		<string>censorerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censorsämbetena</string>
		<key>Word</key>
		<string>censorsämbetena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censurera</string>
		<key>Word</key>
		<string>censurera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerkvinnorna</string>
		<key>Word</key>
		<string>Centerkvinnorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartisterna</string>
		<key>Word</key>
		<string>centerpartisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centerpartistiska</string>
		<key>Word</key>
		<string>centerpartistiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centilitrarna</string>
		<key>Word</key>
		<string>centilitrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centimetrarna</string>
		<key>Word</key>
		<string>centimetrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centra</string>
		<key>Word</key>
		<string>centra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrala</string>
		<key>Word</key>
		<string>centrala</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralafrika</string>
		<key>Word</key>
		<string>Centralafrika</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralafrikanska</string>
		<key>Word</key>
		<string>centralafrikanska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralamerika</string>
		<key>Word</key>
		<string>Centralamerika</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralasiatiska</string>
		<key>Word</key>
		<string>centralasiatiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralbankerna</string>
		<key>Word</key>
		<string>centralbankerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralenheterna</string>
		<key>Word</key>
		<string>centralenheterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralerna</string>
		<key>Word</key>
		<string>centralerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraleuropa</string>
		<key>Word</key>
		<string>Centraleuropa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralgestalterna</string>
		<key>Word</key>
		<string>centralgestalterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralhelgedomarna</string>
		<key>Word</key>
		<string>centralhelgedomarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralisera</string>
		<key>Word</key>
		<string>centralisera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralistiska</string>
		<key>Word</key>
		<string>centralistiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralorterna</string>
		<key>Word</key>
		<string>centralorterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centralstationerna</string>
		<key>Word</key>
		<string>centralstationerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrarna</string>
		<key>Word</key>
		<string>centrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrera</string>
		<key>Word</key>
		<string>centrera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrerna</string>
		<key>Word</key>
		<string>centrerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugala</string>
		<key>Word</key>
		<string>centrifugala</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugalkrafterna</string>
		<key>Word</key>
		<string>centrifugalkrafterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugerna</string>
		<key>Word</key>
		<string>centrifugerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetala</string>
		<key>Word</key>
		<string>centripetala</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetalkrafterna</string>
		<key>Word</key>
		<string>centripetalkrafterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cerebrala</string>
		<key>Word</key>
		<string>cerebrala</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremonierna</string>
		<key>Word</key>
		<string>ceremonierna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikattjänsterna</string>
		<key>Word</key>
		<string>certifikattjänsterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>certifikatutfärdarna</string>
		<key>Word</key>
		<string>certifikatutfärdarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cesarea</string>
		<key>Word</key>
		<string>Cesarea</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersforskarna</string>
		<key>Word</key>
		<string>chalmersforskarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmerska</string>
		<key>Word</key>
		<string>chalmerska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chalmersstudenterna</string>
		<key>Word</key>
		<string>chalmersstudenterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champagnerna</string>
		<key>Word</key>
		<string>champagnerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>champinjonerna</string>
		<key>Word</key>
		<string>champinjonerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansa</string>
		<key>Word</key>
		<string>chansa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chanserna</string>
		<key>Word</key>
		<string>chanserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chansningarna</string>
		<key>Word</key>
		<string>chansningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charaderna</string>
		<key>Word</key>
		<string>charaderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charkuterierna</string>
		<key>Word</key>
		<string>charkuterierna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlatanerna</string>
		<key>Word</key>
		<string>charlatanerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charlotta</string>
		<key>Word</key>
		<string>Charlotta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charma</string>
		<key>Word</key>
		<string>charma</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmanta</string>
		<key>Word</key>
		<string>charmanta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmera</string>
		<key>Word</key>
		<string>charmera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmiga</string>
		<key>Word</key>
		<string>charmiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmoffensiverna</string>
		<key>Word</key>
		<string>charmoffensiverna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterkatalogerna</string>
		<key>Word</key>
		<string>charterkatalogerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterresa</string>
		<key>Word</key>
		<string>charterresa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charterresorna</string>
		<key>Word</key>
		<string>charterresorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chartra</string>
		<key>Word</key>
		<string>chartra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chassiderna</string>
		<key>Word</key>
		<string>chassiderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chatila</string>
		<key>Word</key>
		<string>Chatila</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chatta</string>
		<key>Word</key>
		<string>chatta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chattarna</string>
		<key>Word</key>
		<string>chattarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chatterna</string>
		<key>Word</key>
		<string>chatterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chaufförerna</string>
		<key>Word</key>
		<string>chaufförerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinisterna</string>
		<key>Word</key>
		<string>chauvinisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chauvinistiska</string>
		<key>Word</key>
		<string>chauvinistiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checka</string>
		<key>Word</key>
		<string>checka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checkarna</string>
		<key>Word</key>
		<string>checkarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>checkerna</string>
		<key>Word</key>
		<string>checkerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cheferna</string>
		<key>Word</key>
		<string>cheferna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chefredaktörerna</string>
		<key>Word</key>
		<string>chefredaktörerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiba</string>
		<key>Word</key>
		<string>Chiba</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chica</string>
		<key>Word</key>
		<string>chica</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chicka</string>
		<key>Word</key>
		<string>chicka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chifferpunkarna</string>
		<key>Word</key>
		<string>chifferpunkarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chiffonjéerna</string>
		<key>Word</key>
		<string>chiffonjéerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenarna</string>
		<key>Word</key>
		<string>chilenarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenska</string>
		<key>Word</key>
		<string>chilenska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chilenskorna</string>
		<key>Word</key>
		<string>chilenskorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chimärerna</string>
		<key>Word</key>
		<string>chimärerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chocka</string>
		<key>Word</key>
		<string>chocka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockera</string>
		<key>Word</key>
		<string>chockera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockerna</string>
		<key>Word</key>
		<string>chockerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chosefria</string>
		<key>Word</key>
		<string>chosefria</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>choserna</string>
		<key>Word</key>
		<string>choserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christina</string>
		<key>Word</key>
		<string>Christina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cia</string>
		<key>Word</key>
		<string>CIA</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciceronerna</string>
		<key>Word</key>
		<string>ciceronerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigaretterna</string>
		<key>Word</key>
		<string>cigaretterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cigarrerna</string>
		<key>Word</key>
		<string>cigarrerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cilla</string>
		<key>Word</key>
		<string>Cilla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirka</string>
		<key>Word</key>
		<string>cirka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkelsågarna</string>
		<key>Word</key>
		<string>cirkelsågarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkla</string>
		<key>Word</key>
		<string>cirkla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirklarna</string>
		<key>Word</key>
		<string>cirklarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulera</string>
		<key>Word</key>
		<string>cirkulera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulära</string>
		<key>Word</key>
		<string>cirkulära</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkumflexerna</string>
		<key>Word</key>
		<string>cirkumflexerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusarna</string>
		<key>Word</key>
		<string>cirkusarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkusartisterna</string>
		<key>Word</key>
		<string>cirkusartisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ciselörerna</string>
		<key>Word</key>
		<string>ciselörerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cistercienserna</string>
		<key>Word</key>
		<string>cistercienserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisternerna</string>
		<key>Word</key>
		<string>cisternerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citationerna</string>
		<key>Word</key>
		<string>citationerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citera</string>
		<key>Word</key>
		<string>citera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citronerna</string>
		<key>Word</key>
		<string>citronerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cittra</string>
		<key>Word</key>
		<string>cittra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cittrorna</string>
		<key>Word</key>
		<string>cittrorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citytidningarna</string>
		<key>Word</key>
		<string>citytidningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civila</string>
		<key>Word</key>
		<string>civila</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilekonomerna</string>
		<key>Word</key>
		<string>civilekonomerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilingenjörerna</string>
		<key>Word</key>
		<string>civilingenjörerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisationerna</string>
		<key>Word</key>
		<string>civilisationerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisera</string>
		<key>Word</key>
		<string>civilisera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilisterna</string>
		<key>Word</key>
		<string>civilisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilrättsliga</string>
		<key>Word</key>
		<string>civilrättsliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clara</string>
		<key>Word</key>
		<string>Clara</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>claudia</string>
		<key>Word</key>
		<string>Claudia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cloetta</string>
		<key>Word</key>
		<string>Cloetta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>clownerna</string>
		<key>Word</key>
		<string>clownerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coacha</string>
		<key>Word</key>
		<string>coacha</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coacherna</string>
		<key>Word</key>
		<string>coacherna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coca-cola</string>
		<key>Word</key>
		<string>Coca-Cola</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailarna</string>
		<key>Word</key>
		<string>cocktailarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailguiderna</string>
		<key>Word</key>
		<string>cocktailguiderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktailpartyna</string>
		<key>Word</key>
		<string>cocktailpartyna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coimbra</string>
		<key>Word</key>
		<string>Coimbra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cola</string>
		<key>Word</key>
		<string>cola</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collegierna</string>
		<key>Word</key>
		<string>collegierna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>collierna</string>
		<key>Word</key>
		<string>collierna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colombia</string>
		<key>Word</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colombianerna</string>
		<key>Word</key>
		<string>colombianerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbia</string>
		<key>Word</key>
		<string>Columbia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>columbiaingenjörerna</string>
		<key>Word</key>
		<string>Columbiaingenjörerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comdexmässa</string>
		<key>Word</key>
		<string>Comdexmässa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comdexmässorna</string>
		<key>Word</key>
		<string>Comdexmässorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>comorerna</string>
		<key>Word</key>
		<string>Comorerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>containrarna</string>
		<key>Word</key>
		<string>containrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>contra</string>
		<key>Word</key>
		<string>Contra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coola</string>
		<key>Word</key>
		<string>coola</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copingförmåga</string>
		<key>Word</key>
		<string>copingförmåga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cornelia</string>
		<key>Word</key>
		<string>Cornelia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>corona</string>
		<key>Word</key>
		<string>Corona</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cortisonspruta</string>
		<key>Word</key>
		<string>cortisonspruta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cortisonsprutorna</string>
		<key>Word</key>
		<string>cortisonsprutorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cosima</string>
		<key>Word</key>
		<string>Cosima</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>costa</string>
		<key>Word</key>
		<string>Costa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cpuerna</string>
		<key>Word</key>
		<string>CPUerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cracka</string>
		<key>Word</key>
		<string>cracka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackarna</string>
		<key>Word</key>
		<string>crackarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crawla</string>
		<key>Word</key>
		<string>crawla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crescendona</string>
		<key>Word</key>
		<string>crescendona</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cristina</string>
		<key>Word</key>
		<string>Cristina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cuba</string>
		<key>Word</key>
		<string>Cuba</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cuperna</string>
		<key>Word</key>
		<string>cuperna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>currysåserna</string>
		<key>Word</key>
		<string>currysåserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cybereliterna</string>
		<key>Word</key>
		<string>cybereliterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberterroristerna</string>
		<key>Word</key>
		<string>cyberterroristerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelfärderna</string>
		<key>Word</key>
		<string>cykelfärderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelkedja</string>
		<key>Word</key>
		<string>cykelkedja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelkedjorna</string>
		<key>Word</key>
		<string>cykelkedjorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykeltrampa</string>
		<key>Word</key>
		<string>cykeltrampa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykeltramporna</string>
		<key>Word</key>
		<string>cykeltramporna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelturerna</string>
		<key>Word</key>
		<string>cykelturerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelvägarna</string>
		<key>Word</key>
		<string>cykelvägarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykla</string>
		<key>Word</key>
		<string>cykla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklarna</string>
		<key>Word</key>
		<string>cyklarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklerna</string>
		<key>Word</key>
		<string>cyklerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykliska</string>
		<key>Word</key>
		<string>cykliska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklisterna</string>
		<key>Word</key>
		<string>cyklisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklonerna</string>
		<key>Word</key>
		<string>cyklonerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykloperna</string>
		<key>Word</key>
		<string>cykloperna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyklopöga</string>
		<key>Word</key>
		<string>cyklopöga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cylindrarna</string>
		<key>Word</key>
		<string>cylindrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cymbalerna</string>
		<key>Word</key>
		<string>cymbalerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynikerna</string>
		<key>Word</key>
		<string>cynikerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyniska</string>
		<key>Word</key>
		<string>cyniska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cynismerna</string>
		<key>Word</key>
		<string>cynismerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cypresserna</string>
		<key>Word</key>
		<string>cypresserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cysta</string>
		<key>Word</key>
		<string>cysta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cystorna</string>
		<key>Word</key>
		<string>cystorna</string>
	</dict>
</array>
</plist>
