<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>c-kod</string>
		<key>Word</key>
		<string>C-kod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cachelagrad</string>
		<key>Word</key>
		<string>cachelagrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd</string>
		<key>Word</key>
		<string>CD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd</string>
		<key>Word</key>
		<string>cd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-ljud</string>
		<key>Word</key>
		<string>CD-ljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cd-ljud</string>
		<key>Word</key>
		<string>cd-ljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cederschiold</string>
		<key>Word</key>
		<string>Cederschiöld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>celluloid</string>
		<key>Word</key>
		<string>celluloid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementerad</string>
		<key>Word</key>
		<string>cementerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cementgrund</string>
		<key>Word</key>
		<string>cementgrund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>censurerad</string>
		<key>Word</key>
		<string>censurerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centraliserad</string>
		<key>Word</key>
		<string>centraliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrerad</string>
		<key>Word</key>
		<string>centrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charad</string>
		<key>Word</key>
		<string>charad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmad</string>
		<key>Word</key>
		<string>charmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>charmerad</string>
		<key>Word</key>
		<string>charmerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chartrad</string>
		<key>Word</key>
		<string>chartrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockad</string>
		<key>Word</key>
		<string>chockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockbesked</string>
		<key>Word</key>
		<string>chockbesked</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chockerad</string>
		<key>Word</key>
		<string>chockerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>choklad</string>
		<key>Word</key>
		<string>choklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkulerad</string>
		<key>Word</key>
		<string>cirkulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citerad</string>
		<key>Word</key>
		<string>citerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civiliserad</string>
		<key>Word</key>
		<string>civiliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civilstand</string>
		<key>Word</key>
		<string>civilstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coachad</string>
		<key>Word</key>
		<string>coachad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>conrad</string>
		<key>Word</key>
		<string>Conrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>copeland</string>
		<key>Word</key>
		<string>Copeland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>coupland</string>
		<key>Word</key>
		<string>Coupland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>couscoussallad</string>
		<key>Word</key>
		<string>couscoussallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cp-skadad</string>
		<key>Word</key>
		<string>CP-skadad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crackad</string>
		<key>Word</key>
		<string>crackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cronstrand</string>
		<key>Word</key>
		<string>Cronstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cyberrymd</string>
		<key>Word</key>
		<string>cyberrymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykelfard</string>
		<key>Word</key>
		<string>cykelfärd</string>
	</dict>
</array>
</plist>
