<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>campbell</string>
		<key>Word</key>
		<string>Campbell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cardell</string>
		<key>Word</key>
		<string>Cardell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carl</string>
		<key>Word</key>
		<string>Carl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cell</string>
		<key>Word</key>
		<string>cell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>central</string>
		<key>Word</key>
		<string>central</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centrifugal</string>
		<key>Word</key>
		<string>centrifugal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>centripetal</string>
		<key>Word</key>
		<string>centripetal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cerebral</string>
		<key>Word</key>
		<string>cerebral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceremoniel</string>
		<key>Word</key>
		<string>ceremoniel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>channel</string>
		<key>Word</key>
		<string>Channel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>christel</string>
		<key>Word</key>
		<string>Christel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>churchill</string>
		<key>Word</key>
		<string>Churchill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cirkel</string>
		<key>Word</key>
		<string>cirkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>citadell</string>
		<key>Word</key>
		<string>citadell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>civil</string>
		<key>Word</key>
		<string>civil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cl</string>
		<key>Word</key>
		<string>cl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cockerspaniel</string>
		<key>Word</key>
		<string>cockerspaniel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cocktail</string>
		<key>Word</key>
		<string>cocktail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cool</string>
		<key>Word</key>
		<string>cool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crawl</string>
		<key>Word</key>
		<string>crawl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ctrl</string>
		<key>Word</key>
		<string>ctrl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cykel</string>
		<key>Word</key>
		<string>cykel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cymbal</string>
		<key>Word</key>
		<string>cymbal</string>
	</dict>
</array>
</plist>
