<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>calypso</string>
		<key>Word</key>
		<string>calypso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>can-gio</string>
		<key>Word</key>
		<string>Can-Gio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>capo</string>
		<key>Word</key>
		<string>capo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carlo</string>
		<key>Word</key>
		<string>Carlo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>carpaccio</string>
		<key>Word</key>
		<string>carpaccio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>casino</string>
		<key>Word</key>
		<string>casino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>casio</string>
		<key>Word</key>
		<string>Casio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cello</string>
		<key>Word</key>
		<string>cello</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cembalo</string>
		<key>Word</key>
		<string>cembalo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cendio</string>
		<key>Word</key>
		<string>Cendio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ceo</string>
		<key>Word</key>
		<string>CEO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>chicago</string>
		<key>Word</key>
		<string>Chicago</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cicero</string>
		<key>Word</key>
		<string>Cicero</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cio</string>
		<key>Word</key>
		<string>CIO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cisco</string>
		<key>Word</key>
		<string>Cisco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colombo</string>
		<key>Word</key>
		<string>Colombo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>colorado</string>
		<key>Word</key>
		<string>Colorado</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>conseco</string>
		<key>Word</key>
		<string>Conseco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>crescendo</string>
		<key>Word</key>
		<string>crescendo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>culao</string>
		<key>Word</key>
		<string>Culao</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cupertino</string>
		<key>Word</key>
		<string>Cupertino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>curacao</string>
		<key>Word</key>
		<string>Curacao</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>cuzco</string>
		<key>Word</key>
		<string>Cuzco</string>
	</dict>
</array>
</plist>
