<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dag</string>
		<key>Word</key>
		<string>Dag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dag</string>
		<key>Word</key>
		<string>dag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagavdelning</string>
		<key>Word</key>
		<string>dagavdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagerbelysning</string>
		<key>Word</key>
		<string>dagerbelysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagg</string>
		<key>Word</key>
		<string>dagg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daggig</string>
		<key>Word</key>
		<string>daggig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagjamning</string>
		<key>Word</key>
		<string>dagjämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daglig</string>
		<key>Word</key>
		<string>daglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagning</string>
		<key>Word</key>
		<string>dagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagordning</string>
		<key>Word</key>
		<string>dagordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagspenning</string>
		<key>Word</key>
		<string>dagspenning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagstidning</string>
		<key>Word</key>
		<string>dagstidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dahlberg</string>
		<key>Word</key>
		<string>Dahlberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalaberg</string>
		<key>Word</key>
		<string>Dalaberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalberg</string>
		<key>Word</key>
		<string>Dalberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalgang</string>
		<key>Word</key>
		<string>dalgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dallring</string>
		<key>Word</key>
		<string>dallring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalmalning</string>
		<key>Word</key>
		<string>dalmålning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalslanning</string>
		<key>Word</key>
		<string>dalslänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dammig</string>
		<key>Word</key>
		<string>dammig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dammsug</string>
		<key>Word</key>
		<string>dammsug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dammsog</string>
		<key>Word</key>
		<string>dammsög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dandong</string>
		<key>Word</key>
		<string>Dandong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danstillstallning</string>
		<key>Word</key>
		<string>danstillställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danzig</string>
		<key>Word</key>
		<string>Danzig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darjeeling</string>
		<key>Word</key>
		<string>Darjeeling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darrig</string>
		<key>Word</key>
		<string>darrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darrning</string>
		<key>Word</key>
		<string>darrning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dartanjang</string>
		<key>Word</key>
		<string>Dartanjang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataarkivering</string>
		<key>Word</key>
		<string>dataarkivering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataavdelning</string>
		<key>Word</key>
		<string>dataavdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>databehandling</string>
		<key>Word</key>
		<string>databehandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataforening</string>
		<key>Word</key>
		<string>dataförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataforetag</string>
		<key>Word</key>
		<string>dataföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datainsamling</string>
		<key>Word</key>
		<string>datainsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataintrang</string>
		<key>Word</key>
		<string>dataintrång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datalag</string>
		<key>Word</key>
		<string>datalag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datalagring</string>
		<key>Word</key>
		<string>datalagring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datalog</string>
		<key>Word</key>
		<string>datalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datautbildning</string>
		<key>Word</key>
		<string>datautbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datavetenskaplig</string>
		<key>Word</key>
		<string>datavetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorforening</string>
		<key>Word</key>
		<string>datorförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorisering</string>
		<key>Word</key>
		<string>datorisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorkunnig</string>
		<key>Word</key>
		<string>datorkunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datormusiktidning</string>
		<key>Word</key>
		<string>datormusiktidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datumsokning</string>
		<key>Word</key>
		<string>datumsökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattinlagg</string>
		<key>Word</key>
		<string>debattinlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debitering</string>
		<key>Word</key>
		<string>debitering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>decentralisering</string>
		<key>Word</key>
		<string>decentralisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>definitionsmassig</string>
		<key>Word</key>
		<string>definitionsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deg</string>
		<key>Word</key>
		<string>deg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>degig</string>
		<key>Word</key>
		<string>degig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>degradering</string>
		<key>Word</key>
		<string>degradering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dejlig</string>
		<key>Word</key>
		<string>dejlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deklarationsinlamning</string>
		<key>Word</key>
		<string>deklarationsinlämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delaktig</string>
		<key>Word</key>
		<string>delaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delegering</string>
		<key>Word</key>
		<string>delegering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delning</string>
		<key>Word</key>
		<string>delning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deltag</string>
		<key>Word</key>
		<string>deltag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deltagarforteckning</string>
		<key>Word</key>
		<string>deltagarförteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deltog</string>
		<key>Word</key>
		<string>deltog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deltavling</string>
		<key>Word</key>
		<string>deltävling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demagog</string>
		<key>Word</key>
		<string>demagog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demokratisering</string>
		<key>Word</key>
		<string>demokratisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demokratiutredning</string>
		<key>Word</key>
		<string>demokratiutredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demonstrationstag</string>
		<key>Word</key>
		<string>demonstrationståg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demoralisering</string>
		<key>Word</key>
		<string>demoralisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deportering</string>
		<key>Word</key>
		<string>deportering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>derivering</string>
		<key>Word</key>
		<string>derivering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>devalvering</string>
		<key>Word</key>
		<string>devalvering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialektupptagning</string>
		<key>Word</key>
		<string>dialektupptagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialog</string>
		<key>Word</key>
		<string>dialog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diarieforing</string>
		<key>Word</key>
		<string>diarieföring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diavisning</string>
		<key>Word</key>
		<string>diavisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diftong</string>
		<key>Word</key>
		<string>diftong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dig</string>
		<key>Word</key>
		<string>dig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>digitalisering</string>
		<key>Word</key>
		<string>digitalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diktning</string>
		<key>Word</key>
		<string>diktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diktsamling</string>
		<key>Word</key>
		<string>diktsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dimmig</string>
		<key>Word</key>
		<string>dimmig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>direktflyg</string>
		<key>Word</key>
		<string>direktflyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>direktsandning</string>
		<key>Word</key>
		<string>direktsändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disig</string>
		<key>Word</key>
		<string>disig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskning</string>
		<key>Word</key>
		<string>diskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskontinuerlig</string>
		<key>Word</key>
		<string>diskontinuerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskrensning</string>
		<key>Word</key>
		<string>diskrensning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskriminering</string>
		<key>Word</key>
		<string>diskriminering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskvalificering</string>
		<key>Word</key>
		<string>diskvalificering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djupdykning</string>
		<key>Word</key>
		<string>djupdykning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djupsinnig</string>
		<key>Word</key>
		<string>djupsinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurbesattning</string>
		<key>Word</key>
		<string>djurbesättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurhallning</string>
		<key>Word</key>
		<string>djurhållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurslag</string>
		<key>Word</key>
		<string>djurslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurspillning</string>
		<key>Word</key>
		<string>djurspillning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djaklig</string>
		<key>Word</key>
		<string>djäklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djavlig</string>
		<key>Word</key>
		<string>djävlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dog</string>
		<key>Word</key>
		<string>dog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doktorsavhandling</string>
		<key>Word</key>
		<string>doktorsavhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dokumenthantering</string>
		<key>Word</key>
		<string>dokumenthantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dokumentinlasning</string>
		<key>Word</key>
		<string>dokumentinläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dokumentkonvertering</string>
		<key>Word</key>
		<string>dokumentkonvertering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domedag</string>
		<key>Word</key>
		<string>domedag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domsondag</string>
		<key>Word</key>
		<string>domsöndag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doping</string>
		<key>Word</key>
		<string>doping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dosering</string>
		<key>Word</key>
		<string>dosering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dotcomforetag</string>
		<key>Word</key>
		<string>dotcomföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dotterbolag</string>
		<key>Word</key>
		<string>dotterbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drabbning</string>
		<key>Word</key>
		<string>drabbning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drag</string>
		<key>Word</key>
		<string>drag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dragg</string>
		<key>Word</key>
		<string>dragg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dragig</string>
		<key>Word</key>
		<string>dragig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dragning</string>
		<key>Word</key>
		<string>dragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dramaturg</string>
		<key>Word</key>
		<string>dramaturg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dressing</string>
		<key>Word</key>
		<string>dressing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dribbling</string>
		<key>Word</key>
		<string>dribbling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftig</string>
		<key>Word</key>
		<string>driftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftsinriktning</string>
		<key>Word</key>
		<string>driftsinriktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftstorning</string>
		<key>Word</key>
		<string>driftstörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftsattning</string>
		<key>Word</key>
		<string>driftsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dring</string>
		<key>Word</key>
		<string>Dring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dristig</string>
		<key>Word</key>
		<string>dristig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drog</string>
		<key>Word</key>
		<string>drog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drottning</string>
		<key>Word</key>
		<string>drottning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drunkning</string>
		<key>Word</key>
		<string>drunkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dryckeslag</string>
		<key>Word</key>
		<string>dryckeslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dryg</string>
		<key>Word</key>
		<string>dryg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dragg</string>
		<key>Word</key>
		<string>drägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>draglig</string>
		<key>Word</key>
		<string>dräglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dranering</string>
		<key>Word</key>
		<string>dränering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drang</string>
		<key>Word</key>
		<string>dräng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>draplig</string>
		<key>Word</key>
		<string>dråplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drapslag</string>
		<key>Word</key>
		<string>dråpslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dromtydning</string>
		<key>Word</key>
		<string>drömtydning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelsidig</string>
		<key>Word</key>
		<string>dubbelsidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbeltydig</string>
		<key>Word</key>
		<string>dubbeltydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubblering</string>
		<key>Word</key>
		<string>dubblering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dug</string>
		<key>Word</key>
		<string>dug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dugg</string>
		<key>Word</key>
		<string>dugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duglig</string>
		<key>Word</key>
		<string>duglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duktig</string>
		<key>Word</key>
		<string>duktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dumdristig</string>
		<key>Word</key>
		<string>dumdristig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dumpning</string>
		<key>Word</key>
		<string>dumpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dunderhonung</string>
		<key>Word</key>
		<string>dunderhonung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dvarg</string>
		<key>Word</key>
		<string>dvärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dygdig</string>
		<key>Word</key>
		<string>dygdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dykning</string>
		<key>Word</key>
		<string>dykning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dyning</string>
		<key>Word</key>
		<string>dyning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dampning</string>
		<key>Word</key>
		<string>dämpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dang</string>
		<key>Word</key>
		<string>däng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daromkring</string>
		<key>Word</key>
		<string>däromkring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darvidlag</string>
		<key>Word</key>
		<string>därvidlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalig</string>
		<key>Word</key>
		<string>dålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daraktig</string>
		<key>Word</key>
		<string>dåraktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dasig</string>
		<key>Word</key>
		<string>dåsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doding</string>
		<key>Word</key>
		<string>döding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dodlig</string>
		<key>Word</key>
		<string>dödlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dog</string>
		<key>Word</key>
		<string>dög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dorrhandtag</string>
		<key>Word</key>
		<string>dörrhandtag</string>
	</dict>
</array>
</plist>
