<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>d-link</string>
		<key>Word</key>
		<string>D-Link</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagbok</string>
		<key>Word</key>
		<string>dagbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daggmask</string>
		<key>Word</key>
		<string>daggmask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagsfärsk</string>
		<key>Word</key>
		<string>dagsfärsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>damask</string>
		<key>Word</key>
		<string>damask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dank</string>
		<key>Word</key>
		<string>dank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danmark</string>
		<key>Word</key>
		<string>Danmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dansbandsmusik</string>
		<key>Word</key>
		<string>dansbandsmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danshak</string>
		<key>Word</key>
		<string>danshak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dansk</string>
		<key>Word</key>
		<string>dansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darwinistisk</string>
		<key>Word</key>
		<string>darwinistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datateknik</string>
		<key>Word</key>
		<string>datateknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorbutik</string>
		<key>Word</key>
		<string>datorbutik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorgrafik</string>
		<key>Word</key>
		<string>datorgrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datormusik</string>
		<key>Word</key>
		<string>datormusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datornätverk</string>
		<key>Word</key>
		<string>datornätverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorteknik</string>
		<key>Word</key>
		<string>datorteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattbok</string>
		<key>Word</key>
		<string>debattbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demagogisk</string>
		<key>Word</key>
		<string>demagogisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demografisk</string>
		<key>Word</key>
		<string>demografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demokratisk</string>
		<key>Word</key>
		<string>demokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demonisk</string>
		<key>Word</key>
		<string>demonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>detaljrik</string>
		<key>Word</key>
		<string>detaljrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deterministisk</string>
		<key>Word</key>
		<string>deterministisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diagnostik</string>
		<key>Word</key>
		<string>diagnostik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diagnostisk</string>
		<key>Word</key>
		<string>diagnostisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diakritisk</string>
		<key>Word</key>
		<string>diakritisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diakronisk</string>
		<key>Word</key>
		<string>diakronisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialektik</string>
		<key>Word</key>
		<string>dialektik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialektisk</string>
		<key>Word</key>
		<string>dialektisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dick</string>
		<key>Word</key>
		<string>Dick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>didaktik</string>
		<key>Word</key>
		<string>didaktik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>didrik</string>
		<key>Word</key>
		<string>Didrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>digitalteknik</string>
		<key>Word</key>
		<string>digitalteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diktatorisk</string>
		<key>Word</key>
		<string>diktatorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diktverk</string>
		<key>Word</key>
		<string>diktverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diplomatisk</string>
		<key>Word</key>
		<string>diplomatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disharmonisk</string>
		<key>Word</key>
		<string>disharmonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disk</string>
		<key>Word</key>
		<string>disk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskbråck</string>
		<key>Word</key>
		<string>diskbråck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskbänk</string>
		<key>Word</key>
		<string>diskbänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskotek</string>
		<key>Word</key>
		<string>diskotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djonk</string>
		<key>Word</key>
		<string>djonk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djungelbok</string>
		<key>Word</key>
		<string>djungelbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djupvik</string>
		<key>Word</key>
		<string>Djupvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurisk</string>
		<key>Word</key>
		<string>djurisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurpark</string>
		<key>Word</key>
		<string>djurpark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djävulsk</string>
		<key>Word</key>
		<string>djävulsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dock</string>
		<key>Word</key>
		<string>dock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dogmatik</string>
		<key>Word</key>
		<string>dogmatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dogmatisk</string>
		<key>Word</key>
		<string>dogmatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dok</string>
		<key>Word</key>
		<string>dok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dokumentbibliotek</string>
		<key>Word</key>
		<string>dokumentbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dolk</string>
		<key>Word</key>
		<string>dolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dolsk</string>
		<key>Word</key>
		<string>dolsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dominikansk</string>
		<key>Word</key>
		<string>dominikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dorisk</string>
		<key>Word</key>
		<string>dorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dorsk</string>
		<key>Word</key>
		<string>dorsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doxisk</string>
		<key>Word</key>
		<string>doxisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>doxologisk</string>
		<key>Word</key>
		<string>doxologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drack</string>
		<key>Word</key>
		<string>drack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dragspelsmusik</string>
		<key>Word</key>
		<string>dragspelsmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dramatik</string>
		<key>Word</key>
		<string>dramatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dramatisk</string>
		<key>Word</key>
		<string>dramatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drastisk</string>
		<key>Word</key>
		<string>drastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drick</string>
		<key>Word</key>
		<string>drick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drink</string>
		<key>Word</key>
		<string>drink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dryck</string>
		<key>Word</key>
		<string>dryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dränk</string>
		<key>Word</key>
		<string>dränk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drömkåk</string>
		<key>Word</key>
		<string>drömkåk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drömlik</string>
		<key>Word</key>
		<string>drömlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drömsk</string>
		<key>Word</key>
		<string>drömsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbdäck</string>
		<key>Word</key>
		<string>dubbdäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelklick</string>
		<key>Word</key>
		<string>dubbelklick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duk</string>
		<key>Word</key>
		<string>duk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dunk</string>
		<key>Word</key>
		<string>dunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dvärgbjörk</string>
		<key>Word</key>
		<string>dvärgbjörk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dyk</string>
		<key>Word</key>
		<string>dyk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dylik</string>
		<key>Word</key>
		<string>dylik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dynamik</string>
		<key>Word</key>
		<string>dynamik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dynamisk</string>
		<key>Word</key>
		<string>dynamisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dyrk</string>
		<key>Word</key>
		<string>dyrk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>däck</string>
		<key>Word</key>
		<string>däck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödsblek</string>
		<key>Word</key>
		<string>dödsblek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödssjuk</string>
		<key>Word</key>
		<string>dödssjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dök</string>
		<key>Word</key>
		<string>dök</string>
	</dict>
</array>
</plist>
