<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagantal</string>
		<key>Word</key>
		<string>dagantal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagligvaruhandel</string>
		<key>Word</key>
		<string>dagligvaruhandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dagsaktuell</string>
		<key>Word</key>
		<string>dagsaktuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dahl</string>
		<key>Word</key>
		<string>Dahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dal</string>
		<key>Word</key>
		<string>dal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalkarl</string>
		<key>Word</key>
		<string>dalkarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalziel</string>
		<key>Word</key>
		<string>Dalziel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daniel</string>
		<key>Word</key>
		<string>Daniel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>danvikstull</string>
		<key>Word</key>
		<string>Danvikstull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>darnell</string>
		<key>Word</key>
		<string>Darnell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datafil</string>
		<key>Word</key>
		<string>datafil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dataspel</string>
		<key>Word</key>
		<string>dataspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorhall</string>
		<key>Word</key>
		<string>datorhall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>datorspel</string>
		<key>Word</key>
		<string>datorspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattartikel</string>
		<key>Word</key>
		<string>debattartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debattmaterial</string>
		<key>Word</key>
		<string>debattmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debetsedel</string>
		<key>Word</key>
		<string>debetsedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>debil</string>
		<key>Word</key>
		<string>debil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>decibel</string>
		<key>Word</key>
		<string>decibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>decimal</string>
		<key>Word</key>
		<string>decimal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deckarnovell</string>
		<key>Word</key>
		<string>deckarnovell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>degel</string>
		<key>Word</key>
		<string>degel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dekal</string>
		<key>Word</key>
		<string>dekal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>del</string>
		<key>Word</key>
		<string>del</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dell</string>
		<key>Word</key>
		<string>Dell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deltagarantal</string>
		<key>Word</key>
		<string>deltagarantal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desinfektionsmedel</string>
		<key>Word</key>
		<string>desinfektionsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>detaljhandel</string>
		<key>Word</key>
		<string>detaljhandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diagonal</string>
		<key>Word</key>
		<string>diagonal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialektal</string>
		<key>Word</key>
		<string>dialektal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dialektmaterial</string>
		<key>Word</key>
		<string>dialektmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diametral</string>
		<key>Word</key>
		<string>diametral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diesel</string>
		<key>Word</key>
		<string>diesel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>differential</string>
		<key>Word</key>
		<string>differential</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>differentialkalkyl</string>
		<key>Word</key>
		<string>differentialkalkyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>differentiell</string>
		<key>Word</key>
		<string>differentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>digital</string>
		<key>Word</key>
		<string>digital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dill</string>
		<key>Word</key>
		<string>dill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dimensionell</string>
		<key>Word</key>
		<string>dimensionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskutabel</string>
		<key>Word</key>
		<string>diskutabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disponibel</string>
		<key>Word</key>
		<string>disponibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diversehandel</string>
		<key>Word</key>
		<string>diversehandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djungel</string>
		<key>Word</key>
		<string>djungel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurpool</string>
		<key>Word</key>
		<string>djurpool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djavel</string>
		<key>Word</key>
		<string>djävel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djavul</string>
		<key>Word</key>
		<string>djävul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dl</string>
		<key>Word</key>
		<string>dl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dll</string>
		<key>Word</key>
		<string>DLL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dll-fil</string>
		<key>Word</key>
		<string>DLL-fil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domkapitel</string>
		<key>Word</key>
		<string>domkapitel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domstol</string>
		<key>Word</key>
		<string>domstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dragspel</string>
		<key>Word</key>
		<string>dragspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dravel</string>
		<key>Word</key>
		<string>dravel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dregel</string>
		<key>Word</key>
		<string>dregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driftavfall</string>
		<key>Word</key>
		<string>driftavfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drill</string>
		<key>Word</key>
		<string>drill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drummel</string>
		<key>Word</key>
		<string>drummel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drall</string>
		<key>Word</key>
		<string>dräll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dratsel</string>
		<key>Word</key>
		<string>drätsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drojsmal</string>
		<key>Word</key>
		<string>dröjsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drombil</string>
		<key>Word</key>
		<string>drömbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dromspel</string>
		<key>Word</key>
		<string>drömspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dsl</string>
		<key>Word</key>
		<string>DSL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dual</string>
		<key>Word</key>
		<string>dual</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbel</string>
		<key>Word</key>
		<string>dubbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelmoral</string>
		<key>Word</key>
		<string>dubbelmoral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dubbelspel</string>
		<key>Word</key>
		<string>dubbelspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duell</string>
		<key>Word</key>
		<string>duell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dunkel</string>
		<key>Word</key>
		<string>dunkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dussintal</string>
		<key>Word</key>
		<string>dussintal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duwall</string>
		<key>Word</key>
		<string>Duwall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dvl</string>
		<key>Word</key>
		<string>DVL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dybedahl</string>
		<key>Word</key>
		<string>Dybedahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dyl</string>
		<key>Word</key>
		<string>dyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dypol</string>
		<key>Word</key>
		<string>dypöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dartill</string>
		<key>Word</key>
		<string>därtill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dodsfall</string>
		<key>Word</key>
		<string>dödsfall</string>
	</dict>
</array>
</plist>
