<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dab-radio</string>
		<key>Word</key>
		<string>DAB-radio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>daewoo</string>
		<key>Word</key>
		<string>Daewoo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dalarö</string>
		<key>Word</key>
		<string>Dalarö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dato</string>
		<key>Word</key>
		<string>dato</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delsbo</string>
		<key>Word</key>
		<string>Delsbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demo</string>
		<key>Word</key>
		<string>demo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>desto</string>
		<key>Word</key>
		<string>desto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diablo</string>
		<key>Word</key>
		<string>Diablo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diego</string>
		<key>Word</key>
		<string>Diego</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>digitalradio</string>
		<key>Word</key>
		<string>digitalradio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dino</string>
		<key>Word</key>
		<string>Dino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disco</string>
		<key>Word</key>
		<string>disco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskho</string>
		<key>Word</key>
		<string>diskho</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>diskonto</string>
		<key>Word</key>
		<string>diskonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dito</string>
		<key>Word</key>
		<string>dito</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domedagsscenario</string>
		<key>Word</key>
		<string>domedagsscenario</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>domino</string>
		<key>Word</key>
		<string>domino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drivsnö</string>
		<key>Word</key>
		<string>drivsnö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>duo</string>
		<key>Word</key>
		<string>duo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dynamo</string>
		<key>Word</key>
		<string>dynamo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dö</string>
		<key>Word</key>
		<string>dö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dödsbo</string>
		<key>Word</key>
		<string>dödsbo</string>
	</dict>
</array>
</plist>
