<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dativ</string>
		<key>Word</key>
		<string>dativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deduktiv</string>
		<key>Word</key>
		<string>deduktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>defensiv</string>
		<key>Word</key>
		<string>defensiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>definitiv</string>
		<key>Word</key>
		<string>definitiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dekorativ</string>
		<key>Word</key>
		<string>dekorativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delgav</string>
		<key>Word</key>
		<string>delgav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>delgiv</string>
		<key>Word</key>
		<string>delgiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>demonstrativ</string>
		<key>Word</key>
		<string>demonstrativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>depressiv</string>
		<key>Word</key>
		<string>depressiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>deskriptiv</string>
		<key>Word</key>
		<string>deskriptiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>destruktiv</string>
		<key>Word</key>
		<string>destruktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>detektiv</string>
		<key>Word</key>
		<string>detektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>direktiv</string>
		<key>Word</key>
		<string>direktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>disjunktiv</string>
		<key>Word</key>
		<string>disjunktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>div</string>
		<key>Word</key>
		<string>div</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djupperspektiv</string>
		<key>Word</key>
		<string>djupperspektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djurintensiv</string>
		<key>Word</key>
		<string>djurintensiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>djärv</string>
		<key>Word</key>
		<string>djärv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dov</string>
		<key>Word</key>
		<string>dov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>drev</string>
		<key>Word</key>
		<string>drev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>driv</string>
		<key>Word</key>
		<string>driv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>dsv</string>
		<key>Word</key>
		<string>DSV</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>därav</string>
		<key>Word</key>
		<string>därav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>därutav</string>
		<key>Word</key>
		<string>därutav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>döv</string>
		<key>Word</key>
		<string>döv</string>
	</dict>
</array>
</plist>
