<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>e-postmeddelande</string>
		<key>Word</key>
		<string>e-postmeddelande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ebbade</string>
		<key>Word</key>
		<string>ebbade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ebbe</string>
		<key>Word</key>
		<string>Ebbe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eclipse</string>
		<key>Word</key>
		<string>Eclipse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eddie</string>
		<key>Word</key>
		<string>Eddie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edge</string>
		<key>Word</key>
		<string>EDGE</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>editerade</string>
		<key>Word</key>
		<string>editerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektivare</string>
		<key>Word</key>
		<string>effektivare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektivaste</string>
		<key>Word</key>
		<string>effektivaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektiviserade</string>
		<key>Word</key>
		<string>effektiviserade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektiviserande</string>
		<key>Word</key>
		<string>effektiviserande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>effektuerade</string>
		<key>Word</key>
		<string>effektuerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterapade</string>
		<key>Word</key>
		<string>efterapade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterapare</string>
		<key>Word</key>
		<string>efterapare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterarbete</string>
		<key>Word</key>
		<string>efterarbete</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterbildade</string>
		<key>Word</key>
		<string>efterbildade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterblivne</string>
		<key>Word</key>
		<string>efterblivne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterforskade</string>
		<key>Word</key>
		<string>efterforskade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfragade</string>
		<key>Word</key>
		<string>efterfrågade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfoljande</string>
		<key>Word</key>
		<string>efterföljande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfoljare</string>
		<key>Word</key>
		<string>efterföljare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfoljde</string>
		<key>Word</key>
		<string>efterföljde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterfoljelse</string>
		<key>Word</key>
		<string>efterföljelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterkloke</string>
		<key>Word</key>
		<string>efterkloke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterkommande</string>
		<key>Word</key>
		<string>efterkommande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlevande</string>
		<key>Word</key>
		<string>efterlevande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlevde</string>
		<key>Word</key>
		<string>efterlevde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterliknade</string>
		<key>Word</key>
		<string>efterliknade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlyste</string>
		<key>Word</key>
		<string>efterlyste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlamnade</string>
		<key>Word</key>
		<string>efterlämnade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterlangtade</string>
		<key>Word</key>
		<string>efterlängtade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftermiddagskaffe</string>
		<key>Word</key>
		<string>eftermiddagskaffe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftermale</string>
		<key>Word</key>
		<string>eftermäle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterskickade</string>
		<key>Word</key>
		<string>efterskickade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterskankte</string>
		<key>Word</key>
		<string>efterskänkte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterslantrare</string>
		<key>Word</key>
		<string>eftersläntrare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterslapande</string>
		<key>Word</key>
		<string>eftersläpande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>efterstravade</string>
		<key>Word</key>
		<string>eftersträvade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersande</string>
		<key>Word</key>
		<string>eftersände</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersokande</string>
		<key>Word</key>
		<string>eftersökande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersokare</string>
		<key>Word</key>
		<string>eftersökare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftersokte</string>
		<key>Word</key>
		<string>eftersökte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertanke</string>
		<key>Word</key>
		<string>eftertanke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertraktade</string>
		<key>Word</key>
		<string>eftertraktade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertryckligare</string>
		<key>Word</key>
		<string>eftertryckligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertryckligaste</string>
		<key>Word</key>
		<string>eftertryckligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertradare</string>
		<key>Word</key>
		<string>efterträdare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertradde</string>
		<key>Word</key>
		<string>efterträdde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertranade</string>
		<key>Word</key>
		<string>eftertrånade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertanksammare</string>
		<key>Word</key>
		<string>eftertänksammare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eftertanksammaste</string>
		<key>Word</key>
		<string>eftertänksammaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenartade</string>
		<key>Word</key>
		<string>egenartade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendesignade</string>
		<key>Word</key>
		<string>egendesignade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendomligare</string>
		<key>Word</key>
		<string>egendomligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendomligaste</string>
		<key>Word</key>
		<string>egendomligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egendomlige</string>
		<key>Word</key>
		<string>egendomlige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenintresse</string>
		<key>Word</key>
		<string>egenintresse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egenkompilerade</string>
		<key>Word</key>
		<string>egenkompilerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egensinnigare</string>
		<key>Word</key>
		<string>egensinnigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egensinnigaste</string>
		<key>Word</key>
		<string>egensinnigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egensinnige</string>
		<key>Word</key>
		<string>egensinnige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egentlige</string>
		<key>Word</key>
		<string>egentlige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eggade</string>
		<key>Word</key>
		<string>eggade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eggande</string>
		<key>Word</key>
		<string>eggande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egnahemmare</string>
		<key>Word</key>
		<string>egnahemmare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egnahemsbygge</string>
		<key>Word</key>
		<string>egnahemsbygge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egnahemsrorelse</string>
		<key>Word</key>
		<string>egnahemsrörelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egnahemsstyrelse</string>
		<key>Word</key>
		<string>egnahemsstyrelse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>egyptiske</string>
		<key>Word</key>
		<string>egyptiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eidgenossische</string>
		<key>Word</key>
		<string>Eidgenössische</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eje</string>
		<key>Word</key>
		<string>Eje</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekade</string>
		<key>Word</key>
		<string>ekade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekipage</string>
		<key>Word</key>
		<string>ekipage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomimote</string>
		<key>Word</key>
		<string>ekonomimöte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekonomiske</string>
		<key>Word</key>
		<string>ekonomiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekorre</string>
		<key>Word</key>
		<string>ekorre</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elaine</string>
		<key>Word</key>
		<string>Elaine</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elakare</string>
		<key>Word</key>
		<string>elakare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elakartade</string>
		<key>Word</key>
		<string>elakartade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elakaste</string>
		<key>Word</key>
		<string>elakaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elake</string>
		<key>Word</key>
		<string>elake</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elbe</string>
		<key>Word</key>
		<string>Elbe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldade</string>
		<key>Word</key>
		<string>eldade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldare</string>
		<key>Word</key>
		<string>eldare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldkastare</string>
		<key>Word</key>
		<string>eldkastare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldslackare</string>
		<key>Word</key>
		<string>eldsläckare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elegantare</string>
		<key>Word</key>
		<string>elegantare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elegantaste</string>
		<key>Word</key>
		<string>elegantaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elegante</string>
		<key>Word</key>
		<string>elegante</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elektrifierade</string>
		<key>Word</key>
		<string>elektrifierade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elementarare</string>
		<key>Word</key>
		<string>elementärare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elementaraste</string>
		<key>Word</key>
		<string>elementäraste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elfte</string>
		<key>Word</key>
		<string>elfte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eliminerade</string>
		<key>Word</key>
		<string>eliminerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eliminerande</string>
		<key>Word</key>
		<string>eliminerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elise</string>
		<key>Word</key>
		<string>Elise</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elitserie</string>
		<key>Word</key>
		<string>elitserie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elke</string>
		<key>Word</key>
		<string>Elke</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elle</string>
		<key>Word</key>
		<string>Elle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elmatare</string>
		<key>Word</key>
		<string>elmätare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eloge</string>
		<key>Word</key>
		<string>eloge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elsie</string>
		<key>Word</key>
		<string>Elsie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elvaarige</string>
		<key>Word</key>
		<string>elvaårige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elvarme</string>
		<key>Word</key>
		<string>elvärme</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elande</string>
		<key>Word</key>
		<string>elände</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elandigare</string>
		<key>Word</key>
		<string>eländigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elandigaste</string>
		<key>Word</key>
		<string>eländigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elandige</string>
		<key>Word</key>
		<string>eländige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emaljerade</string>
		<key>Word</key>
		<string>emaljerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emanerade</string>
		<key>Word</key>
		<string>emanerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emanerande</string>
		<key>Word</key>
		<string>emanerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emballage</string>
		<key>Word</key>
		<string>emballage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>embarkerade</string>
		<key>Word</key>
		<string>embarkerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emelie</string>
		<key>Word</key>
		<string>Emelie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emigrerade</string>
		<key>Word</key>
		<string>emigrerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emilie</string>
		<key>Word</key>
		<string>Emilie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eminente</string>
		<key>Word</key>
		<string>eminente</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emitterade</string>
		<key>Word</key>
		<string>emitterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emotse</string>
		<key>Word</key>
		<string>emotse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emulerade</string>
		<key>Word</key>
		<string>emulerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enade</string>
		<key>Word</key>
		<string>enade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enande</string>
		<key>Word</key>
		<string>enande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enare</string>
		<key>Word</key>
		<string>Enare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enare</string>
		<key>Word</key>
		<string>enare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enarmade</string>
		<key>Word</key>
		<string>enarmade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enastaende</string>
		<key>Word</key>
		<string>enastående</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ende</string>
		<key>Word</key>
		<string>ende</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>endraktigare</string>
		<key>Word</key>
		<string>endräktigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>endraktigaste</string>
		<key>Word</key>
		<string>endräktigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ene</string>
		<key>Word</key>
		<string>ene</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energiknippe</string>
		<key>Word</key>
		<string>energiknippe</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energiske</string>
		<key>Word</key>
		<string>energiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>energisparlage</string>
		<key>Word</key>
		<string>energisparläge</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enerverade</string>
		<key>Word</key>
		<string>enerverade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enerverande</string>
		<key>Word</key>
		<string>enerverande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfaldigare</string>
		<key>Word</key>
		<string>enfaldigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfaldigaste</string>
		<key>Word</key>
		<string>enfaldigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfaldige</string>
		<key>Word</key>
		<string>enfaldige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enformigare</string>
		<key>Word</key>
		<string>enformigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enformigaste</string>
		<key>Word</key>
		<string>enformigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enfargade</string>
		<key>Word</key>
		<string>enfärgade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engagerade</string>
		<key>Word</key>
		<string>engagerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engagerande</string>
		<key>Word</key>
		<string>engagerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>engelske</string>
		<key>Word</key>
		<string>engelske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhetligare</string>
		<key>Word</key>
		<string>enhetligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhetligaste</string>
		<key>Word</key>
		<string>enhetligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhetshanterare</string>
		<key>Word</key>
		<string>enhetshanterare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enhetssamhalle</string>
		<key>Word</key>
		<string>enhetssamhälle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enigare</string>
		<key>Word</key>
		<string>enigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enigaste</string>
		<key>Word</key>
		<string>enigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkelsparige</string>
		<key>Word</key>
		<string>enkelspårige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enklare</string>
		<key>Word</key>
		<string>enklare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enklaste</string>
		<key>Word</key>
		<string>enklaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkle</string>
		<key>Word</key>
		<string>enkle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enkonade</string>
		<key>Word</key>
		<string>enkönade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enormare</string>
		<key>Word</key>
		<string>enormare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enormaste</string>
		<key>Word</key>
		<string>enormaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enrollerade</string>
		<key>Word</key>
		<string>enrollerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enrummare</string>
		<key>Word</key>
		<string>enrummare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensammare</string>
		<key>Word</key>
		<string>ensammare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensammaste</string>
		<key>Word</key>
		<string>ensammaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensamme</string>
		<key>Word</key>
		<string>ensamme</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensamstaende</string>
		<key>Word</key>
		<string>ensamstående</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ense</string>
		<key>Word</key>
		<string>ense</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensemble</string>
		<key>Word</key>
		<string>ensemble</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensidigare</string>
		<key>Word</key>
		<string>ensidigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensidigaste</string>
		<key>Word</key>
		<string>ensidigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enskede</string>
		<key>Word</key>
		<string>Enskede</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enskilde</string>
		<key>Word</key>
		<string>enskilde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensligare</string>
		<key>Word</key>
		<string>ensligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ensligaste</string>
		<key>Word</key>
		<string>ensligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entledigade</string>
		<key>Word</key>
		<string>entledigade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entledigande</string>
		<key>Word</key>
		<string>entledigande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entonigare</string>
		<key>Word</key>
		<string>entonigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entonigaste</string>
		<key>Word</key>
		<string>entonigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entourage</string>
		<key>Word</key>
		<string>Entourage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entrecote</string>
		<key>Word</key>
		<string>entrecote</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entragnare</string>
		<key>Word</key>
		<string>enträgnare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entragnaste</string>
		<key>Word</key>
		<string>enträgnaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entragne</string>
		<key>Word</key>
		<string>enträgne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entre</string>
		<key>Word</key>
		<string>entré</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiasmerade</string>
		<key>Word</key>
		<string>entusiasmerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiasmerande</string>
		<key>Word</key>
		<string>entusiasmerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiastiskare</string>
		<key>Word</key>
		<string>entusiastiskare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiastiskaste</string>
		<key>Word</key>
		<string>entusiastiskaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entusiastiske</string>
		<key>Word</key>
		<string>entusiastiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entydigare</string>
		<key>Word</key>
		<string>entydigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>entydigaste</string>
		<key>Word</key>
		<string>entydigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envetnare</string>
		<key>Word</key>
		<string>envetnare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envetnaste</string>
		<key>Word</key>
		<string>envetnaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envetne</string>
		<key>Word</key>
		<string>envetne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envisare</string>
		<key>Word</key>
		<string>envisare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envisaste</string>
		<key>Word</key>
		<string>envisaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envise</string>
		<key>Word</key>
		<string>envise</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envoye</string>
		<key>Word</key>
		<string>envoyé</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envalde</string>
		<key>Word</key>
		<string>envälde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envaldige</string>
		<key>Word</key>
		<string>enväldige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>envaldsharskare</string>
		<key>Word</key>
		<string>envåldshärskare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enogde</string>
		<key>Word</key>
		<string>enögde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epikure</string>
		<key>Word</key>
		<string>epikuré</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>episteme</string>
		<key>Word</key>
		<string>episteme</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>epokgorande</string>
		<key>Word</key>
		<string>epokgörande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eqade</string>
		<key>Word</key>
		<string>EQade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erbarmligare</string>
		<key>Word</key>
		<string>erbarmligare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erbarmligaste</string>
		<key>Word</key>
		<string>erbarmligaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erbjudande</string>
		<key>Word</key>
		<string>erbjudande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfarenhetsutbyte</string>
		<key>Word</key>
		<string>erfarenhetsutbyte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfarnare</string>
		<key>Word</key>
		<string>erfarnare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfarnaste</string>
		<key>Word</key>
		<string>erfarnaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfarne</string>
		<key>Word</key>
		<string>erfarne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erfordrade</string>
		<key>Word</key>
		<string>erfordrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erhallande</string>
		<key>Word</key>
		<string>erhållande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erinrade</string>
		<key>Word</key>
		<string>erinrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erinrande</string>
		<key>Word</key>
		<string>erinrande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erkande</string>
		<key>Word</key>
		<string>erkände</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erkannande</string>
		<key>Word</key>
		<string>erkännande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erlade</string>
		<key>Word</key>
		<string>erlade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erlaggande</string>
		<key>Word</key>
		<string>erläggande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ernie</string>
		<key>Word</key>
		<string>Ernie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ernadde</string>
		<key>Word</key>
		<string>ernådde</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eroderade</string>
		<key>Word</key>
		<string>eroderade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ersatte</string>
		<key>Word</key>
		<string>ersatte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ersattande</string>
		<key>Word</key>
		<string>ersättande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ersattare</string>
		<key>Word</key>
		<string>ersättare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ertappade</string>
		<key>Word</key>
		<string>ertappade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ertappande</string>
		<key>Word</key>
		<string>ertappande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erovrade</string>
		<key>Word</key>
		<string>erövrade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erovrande</string>
		<key>Word</key>
		<string>erövrande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>erovrare</string>
		<key>Word</key>
		<string>erövrare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eskorterade</string>
		<key>Word</key>
		<string>eskorterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>espace</string>
		<key>Word</key>
		<string>Espace</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>esse</string>
		<key>Word</key>
		<string>esse</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>esselte</string>
		<key>Word</key>
		<string>Esselte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estelle</string>
		<key>Word</key>
		<string>Estelle</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estimerade</string>
		<key>Word</key>
		<string>estimerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>estniske</string>
		<key>Word</key>
		<string>estniske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etablerade</string>
		<key>Word</key>
		<string>etablerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etablerande</string>
		<key>Word</key>
		<string>etablerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etage</string>
		<key>Word</key>
		<string>etage</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etienne</string>
		<key>Word</key>
		<string>Etienne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etiketterade</string>
		<key>Word</key>
		<string>etiketterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>etsade</string>
		<key>Word</key>
		<string>etsade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettrigare</string>
		<key>Word</key>
		<string>ettrigare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettrigaste</string>
		<key>Word</key>
		<string>ettrigaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettrige</string>
		<key>Word</key>
		<string>ettrige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ettarige</string>
		<key>Word</key>
		<string>ettårige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eu-toppmote</string>
		<key>Word</key>
		<string>EU-toppmöte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eugene</string>
		<key>Word</key>
		<string>Eugène</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eunice</string>
		<key>Word</key>
		<string>Eunice</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>europeiske</string>
		<key>Word</key>
		<string>europeiske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>europe</string>
		<key>Word</key>
		<string>europé</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evakuerade</string>
		<key>Word</key>
		<string>evakuerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evaluerade</string>
		<key>Word</key>
		<string>evaluerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evige</string>
		<key>Word</key>
		<string>evige</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>evonne</string>
		<key>Word</key>
		<string>Evonne</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exaktare</string>
		<key>Word</key>
		<string>exaktare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exaktaste</string>
		<key>Word</key>
		<string>exaktaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exalterade</string>
		<key>Word</key>
		<string>exalterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>examensarbete</string>
		<key>Word</key>
		<string>examensarbete</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>examinerade</string>
		<key>Word</key>
		<string>examinerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excellente</string>
		<key>Word</key>
		<string>excellente</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excellerade</string>
		<key>Word</key>
		<string>excellerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>excentriske</string>
		<key>Word</key>
		<string>excentriske</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exchange</string>
		<key>Word</key>
		<string>Exchange</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exciterade</string>
		<key>Word</key>
		<string>exciterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exekverade</string>
		<key>Word</key>
		<string>exekverade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exemplifierade</string>
		<key>Word</key>
		<string>exemplifierade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>existerade</string>
		<key>Word</key>
		<string>existerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>existerande</string>
		<key>Word</key>
		<string>existerande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exkluderade</string>
		<key>Word</key>
		<string>exkluderade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exklusivare</string>
		<key>Word</key>
		<string>exklusivare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exklusivaste</string>
		<key>Word</key>
		<string>exklusivaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exklusive</string>
		<key>Word</key>
		<string>exklusive</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exmerade</string>
		<key>Word</key>
		<string>exmerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expanderade</string>
		<key>Word</key>
		<string>expanderade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expanderande</string>
		<key>Word</key>
		<string>expanderande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expanderare</string>
		<key>Word</key>
		<string>expanderare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expedierade</string>
		<key>Word</key>
		<string>expedierade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expeditionssekreterare</string>
		<key>Word</key>
		<string>expeditionssekreterare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>experimenterade</string>
		<key>Word</key>
		<string>experimenterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>experimenterande</string>
		<key>Word</key>
		<string>experimenterande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exploaterade</string>
		<key>Word</key>
		<string>exploaterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exploaterande</string>
		<key>Word</key>
		<string>exploaterande</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exploderade</string>
		<key>Word</key>
		<string>exploderade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>explosionsartade</string>
		<key>Word</key>
		<string>explosionsartade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>explosivare</string>
		<key>Word</key>
		<string>explosivare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>explosivaste</string>
		<key>Word</key>
		<string>explosivaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exponentierade</string>
		<key>Word</key>
		<string>exponentierade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exponerade</string>
		<key>Word</key>
		<string>exponerade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exporterade</string>
		<key>Word</key>
		<string>exporterade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>exproprierade</string>
		<key>Word</key>
		<string>exproprierade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extraherade</string>
		<key>Word</key>
		<string>extraherade</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extraknackte</string>
		<key>Word</key>
		<string>extraknäckte</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extraordinarie</string>
		<key>Word</key>
		<string>extraordinarie</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extremare</string>
		<key>Word</key>
		<string>extremare</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extremaste</string>
		<key>Word</key>
		<string>extremaste</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>extremvarde</string>
		<key>Word</key>
		<string>extremvärde</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Emile</string>
		<key>Word</key>
		<string>Émile</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Etienne</string>
		<key>Word</key>
		<string>Étienne</string>
	</dict>
</array>
</plist>
