<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edith</string>
		<key>Word</key>
		<string>Edith</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eisenach</string>
		<key>Word</key>
		<string>Eisenach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elisabeth</string>
		<key>Word</key>
		<string>Elisabeth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>elizabeth</string>
		<key>Word</key>
		<string>Elizabeth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ermenrich</string>
		<key>Word</key>
		<string>Ermenrich</string>
	</dict>
</array>
</plist>
