<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>edsbro</string>
		<key>Word</key>
		<string>Edsbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ego</string>
		<key>Word</key>
		<string>ego</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eizo</string>
		<key>Word</key>
		<string>EIZO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekero</string>
		<key>Word</key>
		<string>Ekerö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eko</string>
		<key>Word</key>
		<string>eko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ekorrbo</string>
		<key>Word</key>
		<string>ekorrbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eksjo</string>
		<key>Word</key>
		<string>Eksjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eldorado</string>
		<key>Word</key>
		<string>eldorado</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>embargo</string>
		<key>Word</key>
		<string>embargo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>embryo</string>
		<key>Word</key>
		<string>embryo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>emiliano</string>
		<key>Word</key>
		<string>Emiliano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eniro</string>
		<key>Word</key>
		<string>Eniro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>enso</string>
		<key>Word</key>
		<string>Enso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>esperanto</string>
		<key>Word</key>
		<string>esperanto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>espresso</string>
		<key>Word</key>
		<string>espresso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>esso</string>
		<key>Word</key>
		<string>Esso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>euro</string>
		<key>Word</key>
		<string>euro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>eurodisco</string>
		<key>Word</key>
		<string>eurodisco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>expo</string>
		<key>Word</key>
		<string>expo</string>
	</dict>
</array>
</plist>
