<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>f.d.</string>
		<key>Word</key>
		<string>f.d.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>f.n.</string>
		<key>Word</key>
		<string>f.n.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>f.o.</string>
		<key>Word</key>
		<string>f.ö.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fig.</string>
		<key>Word</key>
		<string>fig.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fl.</string>
		<key>Word</key>
		<string>fl.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fr.a.</string>
		<key>Word</key>
		<string>fr.a.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fys.</string>
		<key>Word</key>
		<string>fys.</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysiol.</string>
		<key>Word</key>
		<string>fysiol.</string>
	</dict>
</array>
</plist>
