<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farah</string>
		<key>Word</key>
		<string>Farah</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fasth</string>
		<key>Word</key>
		<string>Fasth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fetisch</string>
		<key>Word</key>
		<string>fetisch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finch</string>
		<key>Word</key>
		<string>Finch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finish</string>
		<key>Word</key>
		<string>finish</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flach</string>
		<key>Word</key>
		<string>Flach</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flash</string>
		<key>Word</key>
		<string>Flash</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsgårdh</string>
		<key>Word</key>
		<string>Forsgårdh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frammarsch</string>
		<key>Word</key>
		<string>frammarsch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fridh</string>
		<key>Word</key>
		<string>Fridh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>friedrich</string>
		<key>Word</key>
		<string>Friedrich</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fräsch</string>
		<key>Word</key>
		<string>fräsch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fröjdh</string>
		<key>Word</key>
		<string>Fröjdh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frölich</string>
		<key>Word</key>
		<string>Frölich</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färgplansch</string>
		<key>Word</key>
		<string>färgplansch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förlagsbranch</string>
		<key>Word</key>
		<string>förlagsbranch</string>
	</dict>
</array>
</plist>
