<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faktori</string>
		<key>Word</key>
		<string>faktori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fantasi</string>
		<key>Word</key>
		<string>fantasi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farmakologi</string>
		<key>Word</key>
		<string>farmakologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fcgi</string>
		<key>Word</key>
		<string>FCGI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fddi</string>
		<key>Word</key>
		<string>FDDI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>februari</string>
		<key>Word</key>
		<string>februari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fedeli</string>
		<key>Word</key>
		<string>Fedeli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>felfri</string>
		<key>Word</key>
		<string>felfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femti</string>
		<key>Word</key>
		<string>femti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ferrari</string>
		<key>Word</key>
		<string>Ferrari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>festeri</string>
		<key>Word</key>
		<string>festeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fi</string>
		<key>Word</key>
		<string>FI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fibonacci</string>
		<key>Word</key>
		<string>Fibonacci</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fibromyalgi</string>
		<key>Word</key>
		<string>fibromyalgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiji</string>
		<key>Word</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filantropi</string>
		<key>Word</key>
		<string>filantropi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filateli</string>
		<key>Word</key>
		<string>filateli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filmindustri</string>
		<key>Word</key>
		<string>filmindustri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filologi</string>
		<key>Word</key>
		<string>filologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filosofi</string>
		<key>Word</key>
		<string>filosofi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finsnickeri</string>
		<key>Word</key>
		<string>finsnickeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiskeri</string>
		<key>Word</key>
		<string>fiskeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foi</string>
		<key>Word</key>
		<string>FOI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkparti</string>
		<key>Word</key>
		<string>folkparti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkpsykologi</string>
		<key>Word</key>
		<string>folkpsykologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotografi</string>
		<key>Word</key>
		<string>fotografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frenesi</string>
		<key>Word</key>
		<string>frenesi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frescati</string>
		<key>Word</key>
		<string>Frescati</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fri</string>
		<key>Word</key>
		<string>fri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frieri</string>
		<key>Word</key>
		<string>frieri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frimureri</string>
		<key>Word</key>
		<string>frimureri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frostfri</string>
		<key>Word</key>
		<string>frostfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frövi</string>
		<key>Word</key>
		<string>Frövi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fsi</string>
		<key>Word</key>
		<string>FSI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fylleri</string>
		<key>Word</key>
		<string>fylleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrti</string>
		<key>Word</key>
		<string>fyrti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrverkeri</string>
		<key>Word</key>
		<string>fyrverkeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysiologi</string>
		<key>Word</key>
		<string>fysiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysionomi</string>
		<key>Word</key>
		<string>fysionomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fåneri</string>
		<key>Word</key>
		<string>fåneri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fögderi</string>
		<key>Word</key>
		<string>fögderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbi</string>
		<key>Word</key>
		<string>förbi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbli</string>
		<key>Word</key>
		<string>förbli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förmynderi</string>
		<key>Word</key>
		<string>förmynderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förräderi</string>
		<key>Word</key>
		<string>förräderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försäljningspsykologi</string>
		<key>Word</key>
		<string>försäljningspsykologi</string>
	</dict>
</array>
</plist>
