<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fabrik</string>
		<key>Word</key>
		<string>fabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fack</string>
		<key>Word</key>
		<string>fack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fackspråk</string>
		<key>Word</key>
		<string>fackspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faktisk</string>
		<key>Word</key>
		<string>faktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falk</string>
		<key>Word</key>
		<string>falk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falsk</string>
		<key>Word</key>
		<string>falsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>familjebok</string>
		<key>Word</key>
		<string>familjebok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fanatisk</string>
		<key>Word</key>
		<string>fanatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fantastisk</string>
		<key>Word</key>
		<string>fantastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farmaceutisk</string>
		<key>Word</key>
		<string>farmaceutisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farnebäck</string>
		<key>Word</key>
		<string>Farnebäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fascistisk</string>
		<key>Word</key>
		<string>fascistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>favoritbok</string>
		<key>Word</key>
		<string>favoritbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>feedback</string>
		<key>Word</key>
		<string>feedback</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>felsök</string>
		<key>Word</key>
		<string>felsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>feltänk</string>
		<key>Word</key>
		<string>feltänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>feministisk</string>
		<key>Word</key>
		<string>feministisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fibk</string>
		<key>Word</key>
		<string>FIBK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fick</string>
		<key>Word</key>
		<string>fick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fik</string>
		<key>Word</key>
		<string>fik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filmduk</string>
		<key>Word</key>
		<string>filmduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filmisk</string>
		<key>Word</key>
		<string>filmisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filmjölk</string>
		<key>Word</key>
		<string>filmjölk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filmmusik</string>
		<key>Word</key>
		<string>filmmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filosofisk</string>
		<key>Word</key>
		<string>filosofisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filstorlek</string>
		<key>Word</key>
		<string>filstorlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fingeravtryck</string>
		<key>Word</key>
		<string>fingeravtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fink</string>
		<key>Word</key>
		<string>fink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finlandssvensk</string>
		<key>Word</key>
		<string>finlandssvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finländsk</string>
		<key>Word</key>
		<string>finländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finsk</string>
		<key>Word</key>
		<string>finsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finsk-ugrisk</string>
		<key>Word</key>
		<string>finsk-ugrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fisk</string>
		<key>Word</key>
		<string>fisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjällik</string>
		<key>Word</key>
		<string>fjällik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjällvråk</string>
		<key>Word</key>
		<string>fjällvråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjäsk</string>
		<key>Word</key>
		<string>fjäsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flack</string>
		<key>Word</key>
		<string>flack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flak</string>
		<key>Word</key>
		<string>flak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flamländsk</string>
		<key>Word</key>
		<string>flamländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flank</string>
		<key>Word</key>
		<string>flank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flegmatisk</string>
		<key>Word</key>
		<string>flegmatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flik</string>
		<key>Word</key>
		<string>flik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flink</string>
		<key>Word</key>
		<string>flink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flock</string>
		<key>Word</key>
		<string>flock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fläck</string>
		<key>Word</key>
		<string>fläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fläk</string>
		<key>Word</key>
		<string>fläk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fläsk</string>
		<key>Word</key>
		<string>fläsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fn-attack</string>
		<key>Word</key>
		<string>FN-attack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folk</string>
		<key>Word</key>
		<string>folk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkbibliotek</string>
		<key>Word</key>
		<string>folkbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkmusik</string>
		<key>Word</key>
		<string>folkmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkpark</string>
		<key>Word</key>
		<string>folkpark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkpartistisk</string>
		<key>Word</key>
		<string>folkpartistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fonetik</string>
		<key>Word</key>
		<string>fonetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fonetisk</string>
		<key>Word</key>
		<string>fonetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formalistisk</string>
		<key>Word</key>
		<string>formalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forngrekisk</string>
		<key>Word</key>
		<string>forngrekisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fornnordisk</string>
		<key>Word</key>
		<string>fornnordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forskningsfusk</string>
		<key>Word</key>
		<string>forskningsfusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsmark</string>
		<key>Word</key>
		<string>Forsmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fortgick</string>
		<key>Word</key>
		<string>fortgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fosterländsk</string>
		<key>Word</key>
		<string>fosterländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotfolk</string>
		<key>Word</key>
		<string>fotfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotografisk</string>
		<key>Word</key>
		<string>fotografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frack</string>
		<key>Word</key>
		<string>frack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fragmentarisk</string>
		<key>Word</key>
		<string>fragmentarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framdäck</string>
		<key>Word</key>
		<string>framdäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framgick</string>
		<key>Word</key>
		<string>framgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framgångsrik</string>
		<key>Word</key>
		<string>framgångsrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frank</string>
		<key>Word</key>
		<string>frank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fransk</string>
		<key>Word</key>
		<string>fransk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frederick</string>
		<key>Word</key>
		<string>Frederick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frederik</string>
		<key>Word</key>
		<string>Frederik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frederiksværk</string>
		<key>Word</key>
		<string>Frederiksværk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fredrik</string>
		<key>Word</key>
		<string>Fredrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fredspark</string>
		<key>Word</key>
		<string>fredspark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frenetisk</string>
		<key>Word</key>
		<string>frenetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fresk</string>
		<key>Word</key>
		<string>fresk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>freudiansk</string>
		<key>Word</key>
		<string>freudiansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>friesisk</string>
		<key>Word</key>
		<string>friesisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frisk</string>
		<key>Word</key>
		<string>frisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frontalkrock</string>
		<key>Word</key>
		<string>frontalkrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frostemark</string>
		<key>Word</key>
		<string>Frostemark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fräck</string>
		<key>Word</key>
		<string>fräck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frångick</string>
		<key>Word</key>
		<string>frångick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>funck</string>
		<key>Word</key>
		<string>Funck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fundamentalistisk</string>
		<key>Word</key>
		<string>fundamentalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>funk</string>
		<key>Word</key>
		<string>funk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fusk</string>
		<key>Word</key>
		<string>fusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>futuristisk</string>
		<key>Word</key>
		<string>futuristisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrfärgstryck</string>
		<key>Word</key>
		<string>fyrfärgstryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysik</string>
		<key>Word</key>
		<string>fysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysikalisk</string>
		<key>Word</key>
		<string>fysikalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysiologisk</string>
		<key>Word</key>
		<string>fysiologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fysisk</string>
		<key>Word</key>
		<string>fysisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fältmarskalk</string>
		<key>Word</key>
		<string>fältmarskalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fänrik</string>
		<key>Word</key>
		<string>fänrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färgstark</string>
		<key>Word</key>
		<string>färgstark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färgtryck</string>
		<key>Word</key>
		<string>färgtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färjetrafik</string>
		<key>Word</key>
		<string>färjetrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färsk</string>
		<key>Word</key>
		<string>färsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färöisk</string>
		<key>Word</key>
		<string>färöisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fågelholk</string>
		<key>Word</key>
		<string>fågelholk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fåvitsk</string>
		<key>Word</key>
		<string>fåvitsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbigick</string>
		<key>Word</key>
		<string>förbigick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbrytarspråk</string>
		<key>Word</key>
		<string>förbrytarspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbundsark</string>
		<key>Word</key>
		<string>förbundsark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbundsrepublik</string>
		<key>Word</key>
		<string>förbundsrepublik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föregick</string>
		<key>Word</key>
		<string>föregick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föregångsfolk</string>
		<key>Word</key>
		<string>föregångsfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>företagspark</string>
		<key>Word</key>
		<string>företagspark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förförisk</string>
		<key>Word</key>
		<string>förförisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förgick</string>
		<key>Word</key>
		<string>förgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förhandlingsteknik</string>
		<key>Word</key>
		<string>förhandlingsteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förhistorisk</string>
		<key>Word</key>
		<string>förhistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förkärlek</string>
		<key>Word</key>
		<string>förkärlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förmak</string>
		<key>Word</key>
		<string>förmak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förrädisk</string>
		<key>Word</key>
		<string>förrädisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försiggick</string>
		<key>Word</key>
		<string>försiggick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försjunk</string>
		<key>Word</key>
		<string>försjunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försjönk</string>
		<key>Word</key>
		<string>försjönk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förskräck</string>
		<key>Word</key>
		<string>förskräck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försmak</string>
		<key>Word</key>
		<string>försmak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förstaspråk</string>
		<key>Word</key>
		<string>förstaspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förstärk</string>
		<key>Word</key>
		<string>förstärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försänk</string>
		<key>Word</key>
		<string>försänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försök</string>
		<key>Word</key>
		<string>försök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förtryck</string>
		<key>Word</key>
		<string>förtryck</string>
	</dict>
</array>
</plist>
