<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fabel</string>
		<key>Word</key>
		<string>fabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fabriksmöbel</string>
		<key>Word</key>
		<string>fabriksmöbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faksimil</string>
		<key>Word</key>
		<string>faksimil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faktafel</string>
		<key>Word</key>
		<string>faktafel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faktainnehåll</string>
		<key>Word</key>
		<string>faktainnehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faktaportal</string>
		<key>Word</key>
		<string>faktaportal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fal</string>
		<key>Word</key>
		<string>fal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falafel</string>
		<key>Word</key>
		<string>falafel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fall</string>
		<key>Word</key>
		<string>fall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fallskärmsavtal</string>
		<key>Word</key>
		<string>fallskärmsavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falwell</string>
		<key>Word</key>
		<string>Falwell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fantasifull</string>
		<key>Word</key>
		<string>fantasifull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farväl</string>
		<key>Word</key>
		<string>farväl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fasansfull</string>
		<key>Word</key>
		<string>fasansfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fashionabel</string>
		<key>Word</key>
		<string>fashionabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fasthåll</string>
		<key>Word</key>
		<string>fasthåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fasthöll</string>
		<key>Word</key>
		<string>fasthöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fastställ</string>
		<key>Word</key>
		<string>fastställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fatal</string>
		<key>Word</key>
		<string>fatal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>favoritbil</string>
		<key>Word</key>
		<string>favoritbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fdl</string>
		<key>Word</key>
		<string>FDL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>febril</string>
		<key>Word</key>
		<string>febril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>federal</string>
		<key>Word</key>
		<string>federal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fekal</string>
		<key>Word</key>
		<string>fekal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fel</string>
		<key>Word</key>
		<string>fel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>felmarginal</string>
		<key>Word</key>
		<string>felmarginal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femtedel</string>
		<key>Word</key>
		<string>femtedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femtiotal</string>
		<key>Word</key>
		<string>femtiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fenomenal</string>
		<key>Word</key>
		<string>fenomenal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>feodal</string>
		<key>Word</key>
		<string>feodal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fertil</string>
		<key>Word</key>
		<string>fertil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>festival</string>
		<key>Word</key>
		<string>festival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>festspel</string>
		<key>Word</key>
		<string>festspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fetstil</string>
		<key>Word</key>
		<string>fetstil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiffel</string>
		<key>Word</key>
		<string>fiffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fil</string>
		<key>Word</key>
		<string>fil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filial</string>
		<key>Word</key>
		<string>filial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>final</string>
		<key>Word</key>
		<string>final</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finansiell</string>
		<key>Word</key>
		<string>finansiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fingal</string>
		<key>Word</key>
		<string>Fingal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finkel</string>
		<key>Word</key>
		<string>finkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiol</string>
		<key>Word</key>
		<string>fiol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiskal</string>
		<key>Word</key>
		<string>fiskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjol</string>
		<key>Word</key>
		<string>fjol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjäll</string>
		<key>Word</key>
		<string>fjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjärdedel</string>
		<key>Word</key>
		<string>fjärdedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjäril</string>
		<key>Word</key>
		<string>fjäril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fjärrkontroll</string>
		<key>Word</key>
		<string>fjärrkontroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flerdimensionell</string>
		<key>Word</key>
		<string>flerdimensionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flerdubbel</string>
		<key>Word</key>
		<string>flerdubbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flertal</string>
		<key>Word</key>
		<string>flertal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flexibel</string>
		<key>Word</key>
		<string>flexibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flipperspel</string>
		<key>Word</key>
		<string>flipperspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flordal</string>
		<key>Word</key>
		<string>Flordal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>floskel</string>
		<key>Word</key>
		<string>floskel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flygel</string>
		<key>Word</key>
		<string>flygel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flyttal</string>
		<key>Word</key>
		<string>flyttal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flyttfågel</string>
		<key>Word</key>
		<string>flyttfågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flöjel</string>
		<key>Word</key>
		<string>flöjel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fn-anfall</string>
		<key>Word</key>
		<string>FN-anfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fodermedel</string>
		<key>Word</key>
		<string>fodermedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fodral</string>
		<key>Word</key>
		<string>fodral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkkapital</string>
		<key>Word</key>
		<string>folkkapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folkmaterial</string>
		<key>Word</key>
		<string>folkmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folköl</string>
		<key>Word</key>
		<string>folköl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forell</string>
		<key>Word</key>
		<string>forell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formatmall</string>
		<key>Word</key>
		<string>formatmall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formel</string>
		<key>Word</key>
		<string>formel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formell</string>
		<key>Word</key>
		<string>formell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>formidabel</string>
		<key>Word</key>
		<string>formidabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forsell</string>
		<key>Word</key>
		<string>Forsell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forskarsal</string>
		<key>Word</key>
		<string>forskarsal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forskningscentral</string>
		<key>Word</key>
		<string>forskningscentral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>forssell</string>
		<key>Word</key>
		<string>Forssell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fossil</string>
		<key>Word</key>
		<string>fossil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotboll</string>
		<key>Word</key>
		<string>fotboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotbollsmål</string>
		<key>Word</key>
		<string>fotbollsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fotomodell</string>
		<key>Word</key>
		<string>fotomodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fraktal</string>
		<key>Word</key>
		<string>fraktal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fraktsedel</string>
		<key>Word</key>
		<string>fraktsedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framdel</string>
		<key>Word</key>
		<string>framdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framfall</string>
		<key>Word</key>
		<string>framfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framhjul</string>
		<key>Word</key>
		<string>framhjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framhåll</string>
		<key>Word</key>
		<string>framhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framhöll</string>
		<key>Word</key>
		<string>framhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framställ</string>
		<key>Word</key>
		<string>framställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framtidsmodell</string>
		<key>Word</key>
		<string>framtidsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>framtill</string>
		<key>Word</key>
		<string>framtill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frihandel</string>
		<key>Word</key>
		<string>frihandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frihandelsavtal</string>
		<key>Word</key>
		<string>frihandelsavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frikadell</string>
		<key>Word</key>
		<string>frikadell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>friställ</string>
		<key>Word</key>
		<string>friställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frivol</string>
		<key>Word</key>
		<string>frivol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fryxell</string>
		<key>Word</key>
		<string>Fryxell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fröjdefull</string>
		<key>Word</key>
		<string>fröjdefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ftp-spegel</string>
		<key>Word</key>
		<string>FTP-spegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ful</string>
		<key>Word</key>
		<string>ful</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>full</string>
		<key>Word</key>
		<string>full</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fundamental</string>
		<key>Word</key>
		<string>fundamental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>funktionell</string>
		<key>Word</key>
		<string>funktionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyll</string>
		<key>Word</key>
		<string>fyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyllecell</string>
		<key>Word</key>
		<string>fyllecell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrisvall</string>
		<key>Word</key>
		<string>Fyrisvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrtiotal</string>
		<key>Word</key>
		<string>fyrtiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fäll</string>
		<key>Word</key>
		<string>fäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fänkål</string>
		<key>Word</key>
		<string>fänkål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färdigställ</string>
		<key>Word</key>
		<string>färdigställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fågel</string>
		<key>Word</key>
		<string>fågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fåll</string>
		<key>Word</key>
		<string>fåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fåtal</string>
		<key>Word</key>
		<string>fåtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>födsel</string>
		<key>Word</key>
		<string>födsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föl</string>
		<key>Word</key>
		<string>föl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>följesedel</string>
		<key>Word</key>
		<string>följesedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föll</string>
		<key>Word</key>
		<string>föll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föranmäl</string>
		<key>Word</key>
		<string>föranmäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbehåll</string>
		<key>Word</key>
		<string>förbehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbehöll</string>
		<key>Word</key>
		<string>förbehöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbindelsepatrull</string>
		<key>Word</key>
		<string>förbindelsepatrull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förbrukningsmaterial</string>
		<key>Word</key>
		<string>förbrukningsmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fördel</string>
		<key>Word</key>
		<string>fördel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fördenskull</string>
		<key>Word</key>
		<string>fördenskull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förefall</string>
		<key>Word</key>
		<string>förefall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föreföll</string>
		<key>Word</key>
		<string>föreföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förehåll</string>
		<key>Word</key>
		<string>förehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förehöll</string>
		<key>Word</key>
		<string>förehöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föreläsningssal</string>
		<key>Word</key>
		<string>föreläsningssal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föremål</string>
		<key>Word</key>
		<string>föremål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>föreställ</string>
		<key>Word</key>
		<string>föreställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>företal</string>
		<key>Word</key>
		<string>företal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förfall</string>
		<key>Word</key>
		<string>förfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förföll</string>
		<key>Word</key>
		<string>förföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förgyll</string>
		<key>Word</key>
		<string>förgyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förhoppningsfull</string>
		<key>Word</key>
		<string>förhoppningsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förhåll</string>
		<key>Word</key>
		<string>förhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förhöll</string>
		<key>Word</key>
		<string>förhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förlagsartikel</string>
		<key>Word</key>
		<string>förlagsartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förmaningstal</string>
		<key>Word</key>
		<string>förmaningstal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förmäl</string>
		<key>Word</key>
		<string>förmäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förrfjol</string>
		<key>Word</key>
		<string>förrfjol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förspill</string>
		<key>Word</key>
		<string>förspill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förställ</string>
		<key>Word</key>
		<string>förställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försvarsavtal</string>
		<key>Word</key>
		<string>försvarsavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>försvarstal</string>
		<key>Word</key>
		<string>försvarstal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förtal</string>
		<key>Word</key>
		<string>förtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förtjänstfull</string>
		<key>Word</key>
		<string>förtjänstfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förtröstansfull</string>
		<key>Word</key>
		<string>förtröstansfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förväntansfull</string>
		<key>Word</key>
		<string>förväntansfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förändringspotential</string>
		<key>Word</key>
		<string>förändringspotential</string>
	</dict>
</array>
</plist>
