<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>facto</string>
		<key>Word</key>
		<string>facto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fagersjö</string>
		<key>Word</key>
		<string>Fagersjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falco</string>
		<key>Word</key>
		<string>Falco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>falsterbo</string>
		<key>Word</key>
		<string>Falsterbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>farao</string>
		<key>Word</key>
		<string>farao</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faro</string>
		<key>Word</key>
		<string>Faro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>faso</string>
		<key>Word</key>
		<string>Faso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fellingsbro</string>
		<key>Word</key>
		<string>Fellingsbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femtio</string>
		<key>Word</key>
		<string>femtio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>femtionio</string>
		<key>Word</key>
		<string>femtionio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fiasko</string>
		<key>Word</key>
		<string>fiasko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fido</string>
		<key>Word</key>
		<string>Fido</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>figaro</string>
		<key>Word</key>
		<string>Figaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>filmstudio</string>
		<key>Word</key>
		<string>filmstudio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>finansnetto</string>
		<key>Word</key>
		<string>finansnetto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>flamenco</string>
		<key>Word</key>
		<string>flamenco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folio</string>
		<key>Word</key>
		<string>folio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>folktro</string>
		<key>Word</key>
		<string>folktro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>foto</string>
		<key>Word</key>
		<string>foto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>francesco</string>
		<key>Word</key>
		<string>Francesco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>francisco</string>
		<key>Word</key>
		<string>Francisco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>franco</string>
		<key>Word</key>
		<string>Franco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frånvaro</string>
		<key>Word</key>
		<string>frånvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>frö</string>
		<key>Word</key>
		<string>frö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fullo</string>
		<key>Word</key>
		<string>fullo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrtio</string>
		<key>Word</key>
		<string>fyrtio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fyrtionio</string>
		<key>Word</key>
		<string>fyrtionio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>färnebo</string>
		<key>Word</key>
		<string>Färnebo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fästmö</string>
		<key>Word</key>
		<string>fästmö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fågelbo</string>
		<key>Word</key>
		<string>fågelbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>fårö</string>
		<key>Word</key>
		<string>Fårö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förortsbo</string>
		<key>Word</key>
		<string>förortsbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>församlingsbo</string>
		<key>Word</key>
		<string>församlingsbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förströ</string>
		<key>Word</key>
		<string>förströ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förstubro</string>
		<key>Word</key>
		<string>förstubro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>förvisso</string>
		<key>Word</key>
		<string>förvisso</string>
	</dict>
</array>
</plist>
