<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gad</string>
		<key>Word</key>
		<string>Gad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gadd</string>
		<key>Word</key>
		<string>gadd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gagnad</string>
		<key>Word</key>
		<string>gagnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gallrad</string>
		<key>Word</key>
		<string>gallrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garamond</string>
		<key>Word</key>
		<string>Garamond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garanterad</string>
		<key>Word</key>
		<string>garanterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garbad</string>
		<key>Word</key>
		<string>garbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gard</string>
		<key>Word</key>
		<string>gard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garderad</string>
		<key>Word</key>
		<string>garderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garnerad</string>
		<key>Word</key>
		<string>garnerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garvad</string>
		<key>Word</key>
		<string>garvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasad</string>
		<key>Word</key>
		<string>gasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generad</string>
		<key>Word</key>
		<string>generad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generaliserad</string>
		<key>Word</key>
		<string>generaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generationsskillnad</string>
		<key>Word</key>
		<string>generationsskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genererad</string>
		<key>Word</key>
		<string>genererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genforandrad</string>
		<key>Word</key>
		<string>genförändrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gengald</string>
		<key>Word</key>
		<string>gengäld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genljud</string>
		<key>Word</key>
		<string>genljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genljod</string>
		<key>Word</key>
		<string>genljöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genmanipulerad</string>
		<key>Word</key>
		<string>genmanipulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genmodifierad</string>
		<key>Word</key>
		<string>genmodifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomarbetad</string>
		<key>Word</key>
		<string>genomarbetad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomblodd</string>
		<key>Word</key>
		<string>genomblödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomborrad</string>
		<key>Word</key>
		<string>genomborrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomfartsled</string>
		<key>Word</key>
		<string>genomfartsled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomforskad</string>
		<key>Word</key>
		<string>genomforskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomford</string>
		<key>Word</key>
		<string>genomförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomilad</string>
		<key>Word</key>
		<string>genomilad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomkorsad</string>
		<key>Word</key>
		<string>genomkorsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomled</string>
		<key>Word</key>
		<string>genomled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomlid</string>
		<key>Word</key>
		<string>genomlid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomskadad</string>
		<key>Word</key>
		<string>genomskådad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomstrommad</string>
		<key>Word</key>
		<string>genomströmmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomsyrad</string>
		<key>Word</key>
		<string>genomsyrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomtrangd</string>
		<key>Word</key>
		<string>genomträngd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomvandrad</string>
		<key>Word</key>
		<string>genomvandrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gepard</string>
		<key>Word</key>
		<string>gepard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gerald</string>
		<key>Word</key>
		<string>Gerald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gerd</string>
		<key>Word</key>
		<string>Gerd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gerhard</string>
		<key>Word</key>
		<string>Gerhard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>germund</string>
		<key>Word</key>
		<string>Germund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gertrud</string>
		<key>Word</key>
		<string>Gertrud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gestaltad</string>
		<key>Word</key>
		<string>gestaltad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gestikulerad</string>
		<key>Word</key>
		<string>gestikulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gilead</string>
		<key>Word</key>
		<string>Gilead</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gillad</string>
		<key>Word</key>
		<string>gillad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gillrad</string>
		<key>Word</key>
		<string>gillrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giltighetstid</string>
		<key>Word</key>
		<string>giltighetstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gipsad</string>
		<key>Word</key>
		<string>gipsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>girland</string>
		<key>Word</key>
		<string>girland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gislaved</string>
		<key>Word</key>
		<string>Gislaved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gissad</string>
		<key>Word</key>
		<string>gissad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gisslad</string>
		<key>Word</key>
		<string>gisslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>givmild</string>
		<key>Word</key>
		<string>givmild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gjord</string>
		<key>Word</key>
		<string>gjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glad</string>
		<key>Word</key>
		<string>glad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glasartad</string>
		<key>Word</key>
		<string>glasartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gled</string>
		<key>Word</key>
		<string>gled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glesbygd</string>
		<key>Word</key>
		<string>glesbygd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glid</string>
		<key>Word</key>
		<string>glid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glorifierad</string>
		<key>Word</key>
		<string>glorifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glad</string>
		<key>Word</key>
		<string>gläd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glattad</string>
		<key>Word</key>
		<string>glättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glapord</string>
		<key>Word</key>
		<string>glåpord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glod</string>
		<key>Word</key>
		<string>glöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glodgad</string>
		<key>Word</key>
		<string>glödgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glomd</string>
		<key>Word</key>
		<string>glömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gned</string>
		<key>Word</key>
		<string>gned</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnid</string>
		<key>Word</key>
		<string>gnid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnodd</string>
		<key>Word</key>
		<string>gnodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnolad</string>
		<key>Word</key>
		<string>gnolad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnuggad</string>
		<key>Word</key>
		<string>gnuggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>god</string>
		<key>Word</key>
		<string>god</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godhjartad</string>
		<key>Word</key>
		<string>godhjärtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godkand</string>
		<key>Word</key>
		<string>godkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>googlad</string>
		<key>Word</key>
		<string>googlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotland</string>
		<key>Word</key>
		<string>Gotland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottfrid</string>
		<key>Word</key>
		<string>Gottfrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottfried</string>
		<key>Word</key>
		<string>Gottfried</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottgjord</string>
		<key>Word</key>
		<string>gottgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotthard</string>
		<key>Word</key>
		<string>Gotthard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotthild</string>
		<key>Word</key>
		<string>Gotthild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grad</string>
		<key>Word</key>
		<string>grad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graderad</string>
		<key>Word</key>
		<string>graderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gradskillnad</string>
		<key>Word</key>
		<string>gradskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grand</string>
		<key>Word</key>
		<string>grand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granngard</string>
		<key>Word</key>
		<string>granngård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grannland</string>
		<key>Word</key>
		<string>grannland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grannstad</string>
		<key>Word</key>
		<string>grannstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granskad</string>
		<key>Word</key>
		<string>granskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granskningsnamnd</string>
		<key>Word</key>
		<string>granskningsnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granved</string>
		<key>Word</key>
		<string>granved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gratulerad</string>
		<key>Word</key>
		<string>gratulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravad</string>
		<key>Word</key>
		<string>gravad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graverad</string>
		<key>Word</key>
		<string>graverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravid</string>
		<key>Word</key>
		<string>gravid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravvard</string>
		<key>Word</key>
		<string>gravvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grebbestad</string>
		<key>Word</key>
		<string>Grebbestad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>greifswald</string>
		<key>Word</key>
		<string>Greifswald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grejad</string>
		<key>Word</key>
		<string>grejad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grekland</string>
		<key>Word</key>
		<string>Grekland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>griljerad</string>
		<key>Word</key>
		<string>griljerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grillad</string>
		<key>Word</key>
		<string>grillad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grind</string>
		<key>Word</key>
		<string>grind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grindad</string>
		<key>Word</key>
		<string>grindad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grodd</string>
		<key>Word</key>
		<string>grodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grogrund</string>
		<key>Word</key>
		<string>grogrund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grovbyggd</string>
		<key>Word</key>
		<string>grovbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grovfoderbaserad</string>
		<key>Word</key>
		<string>grovfoderbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grovstickad</string>
		<key>Word</key>
		<string>grovstickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grumlad</string>
		<key>Word</key>
		<string>grumlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grund</string>
		<key>Word</key>
		<string>grund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundad</string>
		<key>Word</key>
		<string>grundad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundlagd</string>
		<key>Word</key>
		<string>grundlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundlagsskydd</string>
		<key>Word</key>
		<string>grundlagsskydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundmurad</string>
		<key>Word</key>
		<string>grundmurad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundskoletid</string>
		<key>Word</key>
		<string>grundskoletid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grupperad</string>
		<key>Word</key>
		<string>grupperad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grusad</string>
		<key>Word</key>
		<string>grusad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gruvarbetarbostad</string>
		<key>Word</key>
		<string>gruvarbetarbostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graddad</string>
		<key>Word</key>
		<string>gräddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graddstuvad</string>
		<key>Word</key>
		<string>gräddstuvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grand</string>
		<key>Word</key>
		<string>gränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gransland</string>
		<key>Word</key>
		<string>gränsland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graskladd</string>
		<key>Word</key>
		<string>gräsklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravd</string>
		<key>Word</key>
		<string>grävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grakladd</string>
		<key>Word</key>
		<string>gråklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granad</string>
		<key>Word</key>
		<string>grånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grasprangd</string>
		<key>Word</key>
		<string>gråsprängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gratogd</string>
		<key>Word</key>
		<string>gråtögd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronkladd</string>
		<key>Word</key>
		<string>grönklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronland</string>
		<key>Word</key>
		<string>Grönland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronsaksbaserad</string>
		<key>Word</key>
		<string>grönsaksbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronsallad</string>
		<key>Word</key>
		<string>grönsallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gud</string>
		<key>Word</key>
		<string>gud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudabild</string>
		<key>Word</key>
		<string>gudabild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudagod</string>
		<key>Word</key>
		<string>gudagod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudmund</string>
		<key>Word</key>
		<string>Gudmund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guld</string>
		<key>Word</key>
		<string>guld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldfargad</string>
		<key>Word</key>
		<string>guldfärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldkantad</string>
		<key>Word</key>
		<string>guldkantad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldsmed</string>
		<key>Word</key>
		<string>guldsmed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gummisnodd</string>
		<key>Word</key>
		<string>gummisnodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gungad</string>
		<key>Word</key>
		<string>gungad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunhild</string>
		<key>Word</key>
		<string>Gunhild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunvald</string>
		<key>Word</key>
		<string>Gunvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyckelbild</string>
		<key>Word</key>
		<string>gyckelbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gynnad</string>
		<key>Word</key>
		<string>gynnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gackad</string>
		<key>Word</key>
		<string>gäckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gald</string>
		<key>Word</key>
		<string>gäld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galdad</string>
		<key>Word</key>
		<string>gäldad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gard</string>
		<key>Word</key>
		<string>gärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gardesgard</string>
		<key>Word</key>
		<string>gärdesgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garstad</string>
		<key>Word</key>
		<string>Gärstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastabud</string>
		<key>Word</key>
		<string>gästabud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastad</string>
		<key>Word</key>
		<string>gästad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastgivaregard</string>
		<key>Word</key>
		<string>gästgivaregård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastgivargard</string>
		<key>Word</key>
		<string>gästgivargård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastrikland</string>
		<key>Word</key>
		<string>Gästrikland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gard</string>
		<key>Word</key>
		<string>gård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gashud</string>
		<key>Word</key>
		<string>gåshud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>god</string>
		<key>Word</key>
		<string>göd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godd</string>
		<key>Word</key>
		<string>gödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godselstad</string>
		<key>Word</key>
		<string>gödselstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godslad</string>
		<key>Word</key>
		<string>gödslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gomd</string>
		<key>Word</key>
		<string>gömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotaland</string>
		<key>Word</key>
		<string>Götaland</string>
	</dict>
</array>
</plist>
