<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gaggig</string>
		<key>Word</key>
		<string>gaggig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gallring</string>
		<key>Word</key>
		<string>gallring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gallupundersökning</string>
		<key>Word</key>
		<string>Gallupundersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galning</string>
		<key>Word</key>
		<string>galning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gamling</string>
		<key>Word</key>
		<string>gamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gammalkyrklig</string>
		<key>Word</key>
		<string>gammalkyrklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gammalmodig</string>
		<key>Word</key>
		<string>gammalmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gammaltestamentlig</string>
		<key>Word</key>
		<string>gammaltestamentlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garbning</string>
		<key>Word</key>
		<string>garbning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garnering</string>
		<key>Word</key>
		<string>garnering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garvning</string>
		<key>Word</key>
		<string>garvning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasavgång</string>
		<key>Word</key>
		<string>gasavgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasfjädring</string>
		<key>Word</key>
		<string>gasfjädring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasformig</string>
		<key>Word</key>
		<string>gasformig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gehäng</string>
		<key>Word</key>
		<string>gehäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gemytlig</string>
		<key>Word</key>
		<string>gemytlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genealog</string>
		<key>Word</key>
		<string>genealog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generalförsamling</string>
		<key>Word</key>
		<string>generalförsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generalisering</string>
		<key>Word</key>
		<string>generalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generationsväxling</string>
		<key>Word</key>
		<string>generationsväxling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>generering</string>
		<key>Word</key>
		<string>generering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genitivböjning</string>
		<key>Word</key>
		<string>genitivböjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genmanipulering</string>
		<key>Word</key>
		<string>genmanipulering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomdålig</string>
		<key>Word</key>
		<string>genomdålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomfuktig</string>
		<key>Word</key>
		<string>genomfuktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomgång</string>
		<key>Word</key>
		<string>genomgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomklappning</string>
		<key>Word</key>
		<string>genomklappning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomläsning</string>
		<key>Word</key>
		<string>genomläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomskinlig</string>
		<key>Word</key>
		<string>genomskinlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomslag</string>
		<key>Word</key>
		<string>genomslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomsläpplig</string>
		<key>Word</key>
		<string>genomsläpplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomsnittlig</string>
		<key>Word</key>
		<string>genomsnittlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomströmning</string>
		<key>Word</key>
		<string>genomströmning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomsökning</string>
		<key>Word</key>
		<string>genomsökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomträng</string>
		<key>Word</key>
		<string>genomträng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gensträvig</string>
		<key>Word</key>
		<string>gensträvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genväg</string>
		<key>Word</key>
		<string>genväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geocaching</string>
		<key>Word</key>
		<string>geocaching</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geolog</string>
		<key>Word</key>
		<string>geolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>georg</string>
		<key>Word</key>
		<string>Georg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geting</string>
		<key>Word</key>
		<string>geting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giftbesprutning</string>
		<key>Word</key>
		<string>giftbesprutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giftig</string>
		<key>Word</key>
		<string>giftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>giltig</string>
		<key>Word</key>
		<string>giltig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>girering</string>
		<key>Word</key>
		<string>girering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>girig</string>
		<key>Word</key>
		<string>girig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gissning</string>
		<key>Word</key>
		<string>gissning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glansig</string>
		<key>Word</key>
		<string>glansig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glasblåsning</string>
		<key>Word</key>
		<string>glasblåsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glasvägg</string>
		<key>Word</key>
		<string>glasvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glidning</string>
		<key>Word</key>
		<string>glidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gliring</string>
		<key>Word</key>
		<string>gliring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>globalisering</string>
		<key>Word</key>
		<string>globalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glugg</string>
		<key>Word</key>
		<string>glugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glädjeyttring</string>
		<key>Word</key>
		<string>glädjeyttring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glättig</string>
		<key>Word</key>
		<string>glättig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glåmig</string>
		<key>Word</key>
		<string>glåmig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glögg</string>
		<key>Word</key>
		<string>glögg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnag</string>
		<key>Word</key>
		<string>gnag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnistsändning</string>
		<key>Word</key>
		<string>gnistsändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnisturladdning</string>
		<key>Word</key>
		<string>gnisturladdning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnägg</string>
		<key>Word</key>
		<string>gnägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnäggning</string>
		<key>Word</key>
		<string>gnäggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gnällig</string>
		<key>Word</key>
		<string>gnällig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gobeläng</string>
		<key>Word</key>
		<string>gobeläng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>goddag</string>
		<key>Word</key>
		<string>goddag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>goding</string>
		<key>Word</key>
		<string>goding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godmodig</string>
		<key>Word</key>
		<string>godmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godtag</string>
		<key>Word</key>
		<string>godtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godtog</string>
		<key>Word</key>
		<string>godtog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godtycklig</string>
		<key>Word</key>
		<string>godtycklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godvillig</string>
		<key>Word</key>
		<string>godvillig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gog</string>
		<key>Word</key>
		<string>Gog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gottfridsberg</string>
		<key>Word</key>
		<string>Gottfridsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gradbeteckning</string>
		<key>Word</key>
		<string>gradbeteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gradering</string>
		<key>Word</key>
		<string>gradering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granskning</string>
		<key>Word</key>
		<string>granskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>granskog</string>
		<key>Word</key>
		<string>granskog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gratistidning</string>
		<key>Word</key>
		<string>gratistidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravallvarlig</string>
		<key>Word</key>
		<string>gravallvarlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravhög</string>
		<key>Word</key>
		<string>gravhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravsång</string>
		<key>Word</key>
		<string>gravsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>greg</string>
		<key>Word</key>
		<string>Greg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grenig</string>
		<key>Word</key>
		<string>grenig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grevlig</string>
		<key>Word</key>
		<string>grevlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grinig</string>
		<key>Word</key>
		<string>grinig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>griskulting</string>
		<key>Word</key>
		<string>griskulting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>groening</string>
		<key>Word</key>
		<string>Groening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grogg</string>
		<key>Word</key>
		<string>grogg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gropig</string>
		<key>Word</key>
		<string>gropig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grovgallring</string>
		<key>Word</key>
		<string>grovgallring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grovkornig</string>
		<key>Word</key>
		<string>grovkornig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grumlig</string>
		<key>Word</key>
		<string>grumlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundforskning</string>
		<key>Word</key>
		<string>grundforskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundlag</string>
		<key>Word</key>
		<string>grundlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundlig</string>
		<key>Word</key>
		<string>grundlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundlägg</string>
		<key>Word</key>
		<string>grundlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundläggning</string>
		<key>Word</key>
		<string>grundläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundritning</string>
		<key>Word</key>
		<string>grundritning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundskolebetyg</string>
		<key>Word</key>
		<string>grundskolebetyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundutbildning</string>
		<key>Word</key>
		<string>grundutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gruppering</string>
		<key>Word</key>
		<string>gruppering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gruppövning</string>
		<key>Word</key>
		<string>gruppövning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grustag</string>
		<key>Word</key>
		<string>grustag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grusväg</string>
		<key>Word</key>
		<string>grusväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gruvlig</string>
		<key>Word</key>
		<string>gruvlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grymtning</string>
		<key>Word</key>
		<string>grymtning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grynig</string>
		<key>Word</key>
		<string>grynig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gryning</string>
		<key>Word</key>
		<string>gryning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gränsdragning</string>
		<key>Word</key>
		<string>gränsdragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gräslig</string>
		<key>Word</key>
		<string>gräslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grävling</string>
		<key>Word</key>
		<string>grävling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gråaktig</string>
		<key>Word</key>
		<string>gråaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grådammig</string>
		<key>Word</key>
		<string>grådammig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grönaktig</string>
		<key>Word</key>
		<string>grönaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grönberg</string>
		<key>Word</key>
		<string>Grönberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gröngöling</string>
		<key>Word</key>
		<string>gröngöling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grönköping</string>
		<key>Word</key>
		<string>Grönköping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guangdong</string>
		<key>Word</key>
		<string>Guangdong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudaboning</string>
		<key>Word</key>
		<string>gudaboning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudfruktig</string>
		<key>Word</key>
		<string>gudfruktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudomlig</string>
		<key>Word</key>
		<string>gudomlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gulaktig</string>
		<key>Word</key>
		<string>gulaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldfärg</string>
		<key>Word</key>
		<string>guldfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gulfärg</string>
		<key>Word</key>
		<string>gulfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gullig</string>
		<key>Word</key>
		<string>gullig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gullspång</string>
		<key>Word</key>
		<string>Gullspång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gummiaktig</string>
		<key>Word</key>
		<string>gummiaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunborg</string>
		<key>Word</key>
		<string>Gunborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunlög</string>
		<key>Word</key>
		<string>Gunlög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunstig</string>
		<key>Word</key>
		<string>gunstig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gunstling</string>
		<key>Word</key>
		<string>gunstling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gustafsberg</string>
		<key>Word</key>
		<string>Gustafsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gutenberg</string>
		<key>Word</key>
		<string>Gutenberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyllenborg</string>
		<key>Word</key>
		<string>Gyllenborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gyllenfrasig</string>
		<key>Word</key>
		<string>gyllenfrasig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gymnasiebetyg</string>
		<key>Word</key>
		<string>gymnasiebetyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gynekolog</string>
		<key>Word</key>
		<string>gynekolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gäng</string>
		<key>Word</key>
		<string>gäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gärning</string>
		<key>Word</key>
		<string>gärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gäspning</string>
		<key>Word</key>
		<string>gäspning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gävleborg</string>
		<key>Word</key>
		<string>Gävleborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gång</string>
		<key>Word</key>
		<string>gång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gårdag</string>
		<key>Word</key>
		<string>gårdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödkyckling</string>
		<key>Word</key>
		<string>gödkyckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödning</string>
		<key>Word</key>
		<string>gödning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödselhög</string>
		<key>Word</key>
		<string>gödselhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gödsling</string>
		<key>Word</key>
		<string>gödsling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>göring</string>
		<key>Word</key>
		<string>Göring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>görlig</string>
		<key>Word</key>
		<string>görlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>göteborg</string>
		<key>Word</key>
		<string>Göteborg</string>
	</dict>
</array>
</plist>
