<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gagnrik</string>
		<key>Word</key>
		<string>gagnrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galaktisk</string>
		<key>Word</key>
		<string>galaktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galileisk</string>
		<key>Word</key>
		<string>galileisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gallsjuk</string>
		<key>Word</key>
		<string>gallsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gallskrik</string>
		<key>Word</key>
		<string>gallskrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>galvanisk</string>
		<key>Word</key>
		<string>galvanisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gangtok</string>
		<key>Word</key>
		<string>Gangtok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>garagerock</string>
		<key>Word</key>
		<string>garagerock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gask</string>
		<key>Word</key>
		<string>gask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gaskognisk</string>
		<key>Word</key>
		<string>gaskognisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gasmask</string>
		<key>Word</key>
		<string>gasmask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastronomisk</string>
		<key>Word</key>
		<string>gastronomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gatwick</string>
		<key>Word</key>
		<string>Gatwick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gdansk</string>
		<key>Word</key>
		<string>Gdansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gemak</string>
		<key>Word</key>
		<string>gemak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genealogisk</string>
		<key>Word</key>
		<string>genealogisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genetik</string>
		<key>Word</key>
		<string>genetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genetisk</string>
		<key>Word</key>
		<string>genetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genialisk</string>
		<key>Word</key>
		<string>genialisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomgick</string>
		<key>Word</key>
		<string>genomgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genomsok</string>
		<key>Word</key>
		<string>genomsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>genteknik</string>
		<key>Word</key>
		<string>genteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geofysik</string>
		<key>Word</key>
		<string>geofysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geografisk</string>
		<key>Word</key>
		<string>geografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geologisk</string>
		<key>Word</key>
		<string>geologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geometrisk</string>
		<key>Word</key>
		<string>geometrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>georgisk</string>
		<key>Word</key>
		<string>georgisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geriatrik</string>
		<key>Word</key>
		<string>geriatrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>geriatrisk</string>
		<key>Word</key>
		<string>geriatrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>germansk</string>
		<key>Word</key>
		<string>germansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gestik</string>
		<key>Word</key>
		<string>gestik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>getabock</string>
		<key>Word</key>
		<string>getabock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gick</string>
		<key>Word</key>
		<string>gick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gigantisk</string>
		<key>Word</key>
		<string>gigantisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gimmick</string>
		<key>Word</key>
		<string>gimmick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glupsk</string>
		<key>Word</key>
		<string>glupsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gladjerik</string>
		<key>Word</key>
		<string>glädjerik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>glomsk</string>
		<key>Word</key>
		<string>glömsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gordisk</string>
		<key>Word</key>
		<string>gordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gothrock</string>
		<key>Word</key>
		<string>gothrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotik</string>
		<key>Word</key>
		<string>gotik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotisk</string>
		<key>Word</key>
		<string>gotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotlandsk</string>
		<key>Word</key>
		<string>gotländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grafik</string>
		<key>Word</key>
		<string>grafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grafisk</string>
		<key>Word</key>
		<string>grafisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grammatik</string>
		<key>Word</key>
		<string>grammatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grammatikalisk</string>
		<key>Word</key>
		<string>grammatikalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grammatisk</string>
		<key>Word</key>
		<string>grammatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grannfolk</string>
		<key>Word</key>
		<string>grannfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grannsprak</string>
		<key>Word</key>
		<string>grannspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graviditetsdagbok</string>
		<key>Word</key>
		<string>graviditetsdagbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravlik</string>
		<key>Word</key>
		<string>gravlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gravskick</string>
		<key>Word</key>
		<string>gravskick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gregoriansk</string>
		<key>Word</key>
		<string>gregoriansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grek</string>
		<key>Word</key>
		<string>grek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grekisk</string>
		<key>Word</key>
		<string>grekisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gripenback</string>
		<key>Word</key>
		<string>Gripenbäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grotesk</string>
		<key>Word</key>
		<string>grotesk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundbok</string>
		<key>Word</key>
		<string>grundbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grundorsak</string>
		<key>Word</key>
		<string>grundorsak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grytlock</string>
		<key>Word</key>
		<string>grytlock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>graslok</string>
		<key>Word</key>
		<string>gräslök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>grablek</string>
		<key>Word</key>
		<string>gråblek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronblek</string>
		<key>Word</key>
		<string>grönblek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronlandsk</string>
		<key>Word</key>
		<string>grönländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gronsak</string>
		<key>Word</key>
		<string>grönsak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gudalik</string>
		<key>Word</key>
		<string>gudalik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gulblek</string>
		<key>Word</key>
		<string>gulblek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>guldfisk</string>
		<key>Word</key>
		<string>guldfisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gustaviansk</string>
		<key>Word</key>
		<string>gustaviansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gymnastik</string>
		<key>Word</key>
		<string>gymnastik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gynekologisk</string>
		<key>Word</key>
		<string>gynekologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gack</string>
		<key>Word</key>
		<string>gäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gastbok</string>
		<key>Word</key>
		<string>gästbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>godselstack</string>
		<key>Word</key>
		<string>gödselstack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gok</string>
		<key>Word</key>
		<string>gök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>goteborgsk</string>
		<key>Word</key>
		<string>göteborgsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>gotisk</string>
		<key>Word</key>
		<string>götisk</string>
	</dict>
</array>
</plist>
