<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hackad</string>
		<key>Word</key>
		<string>hackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hadad</string>
		<key>Word</key>
		<string>Hadad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haffad</string>
		<key>Word</key>
		<string>haffad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagbard</string>
		<key>Word</key>
		<string>Hagbard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hakad</string>
		<key>Word</key>
		<string>hakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halland</string>
		<key>Word</key>
		<string>Halland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halmstad</string>
		<key>Word</key>
		<string>Halmstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsband</string>
		<key>Word</key>
		<string>halsband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvard</string>
		<key>Word</key>
		<string>Halvard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvdod</string>
		<key>Word</key>
		<string>halvdöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halverad</string>
		<key>Word</key>
		<string>halverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halveringstid</string>
		<key>Word</key>
		<string>halveringstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvhjartad</string>
		<key>Word</key>
		<string>halvhjärtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvintresserad</string>
		<key>Word</key>
		<string>halvintresserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvkvavd</string>
		<key>Word</key>
		<string>halvkvävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvtid</string>
		<key>Word</key>
		<string>halvtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamid</string>
		<key>Word</key>
		<string>Hamid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammarskjold</string>
		<key>Word</key>
		<string>Hammarskjöld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammarskold</string>
		<key>Word</key>
		<string>Hammarsköld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammarstrand</string>
		<key>Word</key>
		<string>Hammarstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamnstad</string>
		<key>Word</key>
		<string>hamnstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamrad</string>
		<key>Word</key>
		<string>hamrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamstrad</string>
		<key>Word</key>
		<string>hamstrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hand</string>
		<key>Word</key>
		<string>hand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handelsbod</string>
		<key>Word</key>
		<string>handelsbod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handikappad</string>
		<key>Word</key>
		<string>handikappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlagd</string>
		<key>Word</key>
		<string>handlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handled</string>
		<key>Word</key>
		<string>handled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handledd</string>
		<key>Word</key>
		<string>handledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlingsfixerad</string>
		<key>Word</key>
		<string>handlingsfixerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handlingsforlamad</string>
		<key>Word</key>
		<string>handlingsförlamad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handplockad</string>
		<key>Word</key>
		<string>handplockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanterad</string>
		<key>Word</key>
		<string>hanterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harald</string>
		<key>Word</key>
		<string>Harald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmad</string>
		<key>Word</key>
		<string>harmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harold</string>
		<key>Word</key>
		<string>Harold</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hartford</string>
		<key>Word</key>
		<string>Hartford</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harvad</string>
		<key>Word</key>
		<string>harvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harvard</string>
		<key>Word</key>
		<string>Harvard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hasad</string>
		<key>Word</key>
		<string>hasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hasard</string>
		<key>Word</key>
		<string>hasard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hastad</string>
		<key>Word</key>
		<string>hastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hatad</string>
		<key>Word</key>
		<string>hatad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hatfylld</string>
		<key>Word</key>
		<string>hatfylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haugesund</string>
		<key>Word</key>
		<string>Haugesund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haussad</string>
		<key>Word</key>
		<string>haussad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havererad</string>
		<key>Word</key>
		<string>havererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havsbad</string>
		<key>Word</key>
		<string>havsbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havsgud</string>
		<key>Word</key>
		<string>havsgud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haywood</string>
		<key>Word</key>
		<string>Haywood</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hd</string>
		<key>Word</key>
		<string>HD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hed</string>
		<key>Word</key>
		<string>hed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedersmord</string>
		<key>Word</key>
		<string>hedersmord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedervard</string>
		<key>Word</key>
		<string>hedervärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedlund</string>
		<key>Word</key>
		<string>Hedlund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hedrad</string>
		<key>Word</key>
		<string>hedrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hejad</string>
		<key>Word</key>
		<string>hejad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hejd</string>
		<key>Word</key>
		<string>hejd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hejdad</string>
		<key>Word</key>
		<string>hejdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helad</string>
		<key>Word</key>
		<string>helad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helenelund</string>
		<key>Word</key>
		<string>Helenelund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helfrid</string>
		<key>Word</key>
		<string>Helfrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgad</string>
		<key>Word</key>
		<string>helgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgarderad</string>
		<key>Word</key>
		<string>helgarderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgd</string>
		<key>Word</key>
		<string>helgd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgrind</string>
		<key>Word</key>
		<string>Helgrind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helhetsbild</string>
		<key>Word</key>
		<string>helhetsbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helhjartad</string>
		<key>Word</key>
		<string>helhjärtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helintegrerad</string>
		<key>Word</key>
		<string>helintegrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helnojd</string>
		<key>Word</key>
		<string>helnöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helskinnad</string>
		<key>Word</key>
		<string>helskinnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heltid</string>
		<key>Word</key>
		<string>heltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembrand</string>
		<key>Word</key>
		<string>hembränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembygd</string>
		<key>Word</key>
		<string>hembygd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hembygdsvard</string>
		<key>Word</key>
		<string>hembygdsvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemfard</string>
		<key>Word</key>
		<string>hemfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemgjord</string>
		<key>Word</key>
		<string>hemgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemkallad</string>
		<key>Word</key>
		<string>hemkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemkord</string>
		<key>Word</key>
		<string>hemkörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemlagad</string>
		<key>Word</key>
		<string>hemlagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemland</string>
		<key>Word</key>
		<string>hemland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemligstamplad</string>
		<key>Word</key>
		<string>hemligstämplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemmagjord</string>
		<key>Word</key>
		<string>hemmagjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemmamarknad</string>
		<key>Word</key>
		<string>hemmamarknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemmastadd</string>
		<key>Word</key>
		<string>hemmastadd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemskickad</string>
		<key>Word</key>
		<string>hemskickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemslojd</string>
		<key>Word</key>
		<string>hemslöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemslojdad</string>
		<key>Word</key>
		<string>hemslöjdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemstad</string>
		<key>Word</key>
		<string>hemstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemstalld</string>
		<key>Word</key>
		<string>hemställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemtrevnad</string>
		<key>Word</key>
		<string>hemtrevnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemvavd</string>
		<key>Word</key>
		<string>hemvävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemvavnad</string>
		<key>Word</key>
		<string>hemvävnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemvard</string>
		<key>Word</key>
		<string>hemvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hermod</string>
		<key>Word</key>
		<string>Hermod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>herrgard</string>
		<key>Word</key>
		<string>herrgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hertsgaard</string>
		<key>Word</key>
		<string>Hertsgaard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hetlevrad</string>
		<key>Word</key>
		<string>hetlevrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hetsad</string>
		<key>Word</key>
		<string>hetsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hewlett-packard</string>
		<key>Word</key>
		<string>Hewlett-Packard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hildebrand</string>
		<key>Word</key>
		<string>Hildebrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hildegard</string>
		<key>Word</key>
		<string>Hildegard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himmelsfard</string>
		<key>Word</key>
		<string>himmelsfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himmelsvid</string>
		<key>Word</key>
		<string>himmelsvid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hind</string>
		<key>Word</key>
		<string>hind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hindrad</string>
		<key>Word</key>
		<string>hindrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hiphopband</string>
		<key>Word</key>
		<string>hiphopband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hissad</string>
		<key>Word</key>
		<string>hissad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hitford</string>
		<key>Word</key>
		<string>hitförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hitkallad</string>
		<key>Word</key>
		<string>hitkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hittad</string>
		<key>Word</key>
		<string>hittad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hiv-besked</string>
		<key>Word</key>
		<string>hiv-besked</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hivad</string>
		<key>Word</key>
		<string>hivad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjord</string>
		<key>Word</key>
		<string>hjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjorthufvud</string>
		<key>Word</key>
		<string>Hjorthufvud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjalmared</string>
		<key>Word</key>
		<string>Hjälmared</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjaltemod</string>
		<key>Word</key>
		<string>hjältemod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjarndod</string>
		<key>Word</key>
		<string>hjärndöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjarnskadad</string>
		<key>Word</key>
		<string>hjärnskadad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjarntvattad</string>
		<key>Word</key>
		<string>hjärntvättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjartstillestand</string>
		<key>Word</key>
		<string>hjärtstillestånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hochschwarzwald</string>
		<key>Word</key>
		<string>Hochschwarzwald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogenskild</string>
		<key>Word</key>
		<string>Hogenskild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogsved</string>
		<key>Word</key>
		<string>Hogsved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holland</string>
		<key>Word</key>
		<string>Holland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hollywood</string>
		<key>Word</key>
		<string>Hollywood</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holmfrid</string>
		<key>Word</key>
		<string>Holmfrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holmlund</string>
		<key>Word</key>
		<string>Holmlund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>homostad</string>
		<key>Word</key>
		<string>homostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>honnorsord</string>
		<key>Word</key>
		<string>honnörsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopad</string>
		<key>Word</key>
		<string>hopad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopblandad</string>
		<key>Word</key>
		<string>hopblandad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopbrand</string>
		<key>Word</key>
		<string>hopbränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopbyltad</string>
		<key>Word</key>
		<string>hopbyltad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopflatad</string>
		<key>Word</key>
		<string>hopflätad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopfogad</string>
		<key>Word</key>
		<string>hopfogad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopklamd</string>
		<key>Word</key>
		<string>hopklämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopkopplad</string>
		<key>Word</key>
		<string>hopkopplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoppackad</string>
		<key>Word</key>
		<string>hoppackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoprasad</string>
		<key>Word</key>
		<string>hoprasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoprullad</string>
		<key>Word</key>
		<string>hoprullad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopsamlad</string>
		<key>Word</key>
		<string>hopsamlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopstampad</string>
		<key>Word</key>
		<string>hopstampad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hopsydd</string>
		<key>Word</key>
		<string>hopsydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoptrangd</string>
		<key>Word</key>
		<string>hopträngd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hord</string>
		<key>Word</key>
		<string>hord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hotad</string>
		<key>Word</key>
		<string>hotad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>howard</string>
		<key>Word</key>
		<string>Howard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hud</string>
		<key>Word</key>
		<string>hud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hudflangd</string>
		<key>Word</key>
		<string>hudflängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hudfargad</string>
		<key>Word</key>
		<string>hudfärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hugad</string>
		<key>Word</key>
		<string>hugad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hugnad</string>
		<key>Word</key>
		<string>hugnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hugsvalad</string>
		<key>Word</key>
		<string>hugsvalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hukad</string>
		<key>Word</key>
		<string>hukad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huld</string>
		<key>Word</key>
		<string>huld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hullingforsedd</string>
		<key>Word</key>
		<string>hullingförsedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hultsfred</string>
		<key>Word</key>
		<string>Hultsfred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humaniserad</string>
		<key>Word</key>
		<string>humaniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hummelstrand</string>
		<key>Word</key>
		<string>Hummelstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hund</string>
		<key>Word</key>
		<string>hund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundgard</string>
		<key>Word</key>
		<string>hundgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hungersnod</string>
		<key>Word</key>
		<string>hungersnöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hunsad</string>
		<key>Word</key>
		<string>hunsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husgerad</string>
		<key>Word</key>
		<string>husgeråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvud</string>
		<key>Word</key>
		<string>huvud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudbonad</string>
		<key>Word</key>
		<string>huvudbonad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudbyggnad</string>
		<key>Word</key>
		<string>huvudbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudgard</string>
		<key>Word</key>
		<string>huvudgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudprydnad</string>
		<key>Word</key>
		<string>huvudprydnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudskillnad</string>
		<key>Word</key>
		<string>huvudskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudstad</string>
		<key>Word</key>
		<string>huvudstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hybrid</string>
		<key>Word</key>
		<string>hybrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hycklad</string>
		<key>Word</key>
		<string>hycklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyderabad</string>
		<key>Word</key>
		<string>Hyderabad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyfsad</string>
		<key>Word</key>
		<string>hyfsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyland</string>
		<key>Word</key>
		<string>Hyland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyllad</string>
		<key>Word</key>
		<string>hyllad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hylleblad</string>
		<key>Word</key>
		<string>hylleblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hypnotiserad</string>
		<key>Word</key>
		<string>hypnotiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyrd</string>
		<key>Word</key>
		<string>hyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyresvard</string>
		<key>Word</key>
		<string>hyresvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyvlad</string>
		<key>Word</key>
		<string>hyvlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hacklad</string>
		<key>Word</key>
		<string>häcklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haftad</string>
		<key>Word</key>
		<string>häftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagerstalund</string>
		<key>Word</key>
		<string>Hägerstalund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagglund</string>
		<key>Word</key>
		<string>Hägglund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagnad</string>
		<key>Word</key>
		<string>hägnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haktad</string>
		<key>Word</key>
		<string>häktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halld</string>
		<key>Word</key>
		<string>hälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsad</string>
		<key>Word</key>
		<string>hälsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsingland</string>
		<key>Word</key>
		<string>Hälsingland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsotillstand</string>
		<key>Word</key>
		<string>hälsotillstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsovard</string>
		<key>Word</key>
		<string>hälsovård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halsovardsnamnd</string>
		<key>Word</key>
		<string>hälsovårdsnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammad</string>
		<key>Word</key>
		<string>hämmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamnad</string>
		<key>Word</key>
		<string>hämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamnd</string>
		<key>Word</key>
		<string>hämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hamtad</string>
		<key>Word</key>
		<string>hämtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hand</string>
		<key>Word</key>
		<string>händ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanford</string>
		<key>Word</key>
		<string>hänförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hangd</string>
		<key>Word</key>
		<string>hängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanvisad</string>
		<key>Word</key>
		<string>hänvisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hapnad</string>
		<key>Word</key>
		<string>häpnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harad</string>
		<key>Word</key>
		<string>härad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harbargerad</string>
		<key>Word</key>
		<string>härbärgerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hard</string>
		<key>Word</key>
		<string>härd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hardad</string>
		<key>Word</key>
		<string>härdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harjad</string>
		<key>Word</key>
		<string>härjad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harled</string>
		<key>Word</key>
		<string>härled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harledd</string>
		<key>Word</key>
		<string>härledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmad</string>
		<key>Word</key>
		<string>härmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmed</string>
		<key>Word</key>
		<string>härmed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harnad</string>
		<key>Word</key>
		<string>härnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harnosand</string>
		<key>Word</key>
		<string>Härnösand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harsklystnad</string>
		<key>Word</key>
		<string>härsklystnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harvid</string>
		<key>Word</key>
		<string>härvid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havd</string>
		<key>Word</key>
		<string>hävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>havdad</string>
		<key>Word</key>
		<string>hävdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hagad</string>
		<key>Word</key>
		<string>hågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halad</string>
		<key>Word</key>
		<string>hålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halland</string>
		<key>Word</key>
		<string>Hålland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanad</string>
		<key>Word</key>
		<string>hånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hard</string>
		<key>Word</key>
		<string>hård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hardhudad</string>
		<key>Word</key>
		<string>hårdhudad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hardnackad</string>
		<key>Word</key>
		<string>hårdnackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hardvarustod</string>
		<key>Word</key>
		<string>hårdvarustöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogaktad</string>
		<key>Word</key>
		<string>högaktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogalid</string>
		<key>Word</key>
		<string>Högalid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogbarmad</string>
		<key>Word</key>
		<string>högbarmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogerhand</string>
		<key>Word</key>
		<string>högerhand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogerklickad</string>
		<key>Word</key>
		<string>högerklickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogfard</string>
		<key>Word</key>
		<string>högfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogklackad</string>
		<key>Word</key>
		<string>högklackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogland</string>
		<key>Word</key>
		<string>högland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogljudd</string>
		<key>Word</key>
		<string>högljudd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoglund</string>
		<key>Word</key>
		<string>Höglund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hoglard</string>
		<key>Word</key>
		<string>höglärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogmod</string>
		<key>Word</key>
		<string>högmod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogrod</string>
		<key>Word</key>
		<string>högröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogskoleutbildad</string>
		<key>Word</key>
		<string>högskoleutbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogstamd</string>
		<key>Word</key>
		<string>högstämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogtbenadad</string>
		<key>Word</key>
		<string>högtbenådad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogtid</string>
		<key>Word</key>
		<string>högtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogtarad</string>
		<key>Word</key>
		<string>högtärad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogutbildad</string>
		<key>Word</key>
		<string>högutbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogattad</string>
		<key>Word</key>
		<string>högättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hojd</string>
		<key>Word</key>
		<string>höjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hojdled</string>
		<key>Word</key>
		<string>höjdled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hokhufvud</string>
		<key>Word</key>
		<string>Hökhufvud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>holjd</string>
		<key>Word</key>
		<string>höljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>honsgard</string>
		<key>Word</key>
		<string>hönsgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hord</string>
		<key>Word</key>
		<string>hörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horsammad</string>
		<key>Word</key>
		<string>hörsammad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>horselskadad</string>
		<key>Word</key>
		<string>hörselskadad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hostveteskord</string>
		<key>Word</key>
		<string>höstveteskörd</string>
	</dict>
</array>
</plist>
