<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haggai</string>
		<key>Word</key>
		<string>Haggai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hai</string>
		<key>Word</key>
		<string>Hai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haiti</string>
		<key>Word</key>
		<string>Haiti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hammadi</string>
		<key>Word</key>
		<string>Hammadi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>handkirurgi</string>
		<key>Word</key>
		<string>handkirurgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hanoi</string>
		<key>Word</key>
		<string>Hanoi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harakiri</string>
		<key>Word</key>
		<string>harakiri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hari</string>
		<key>Word</key>
		<string>Hari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harmoni</string>
		<key>Word</key>
		<string>harmoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haveri</string>
		<key>Word</key>
		<string>haveri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hawaii</string>
		<key>Word</key>
		<string>Hawaii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hegemoni</string>
		<key>Word</key>
		<string>hegemoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>heidi</string>
		<key>Word</key>
		<string>Heidi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helgi</string>
		<key>Word</key>
		<string>Helgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helvi</string>
		<key>Word</key>
		<string>Helvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hematologi</string>
		<key>Word</key>
		<string>hematologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hemlighetsmakeri</string>
		<key>Word</key>
		<string>hemlighetsmakeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>henri</string>
		<key>Word</key>
		<string>Henri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hepatologi</string>
		<key>Word</key>
		<string>hepatologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hi-fi</string>
		<key>Word</key>
		<string>Hi-Fi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hierarki</string>
		<key>Word</key>
		<string>hierarki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hillevi</string>
		<key>Word</key>
		<string>Hillevi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>histologi</string>
		<key>Word</key>
		<string>histologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hitachi</string>
		<key>Word</key>
		<string>Hitachi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hjalpenergi</string>
		<key>Word</key>
		<string>hjälpenergi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>humorteori</string>
		<key>Word</key>
		<string>humorteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husai</string>
		<key>Word</key>
		<string>Husai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huvudmelodi</string>
		<key>Word</key>
		<string>huvudmelodi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyckleri</string>
		<key>Word</key>
		<string>hyckleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hydrologi</string>
		<key>Word</key>
		<string>hydrologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hysteri</string>
		<key>Word</key>
		<string>hysteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hyundai</string>
		<key>Word</key>
		<string>Hyundai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>haleri</string>
		<key>Word</key>
		<string>häleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hari</string>
		<key>Word</key>
		<string>häri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harskri</string>
		<key>Word</key>
		<string>härskri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harklyveri</string>
		<key>Word</key>
		<string>hårklyveri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hogerparti</string>
		<key>Word</key>
		<string>högerparti</string>
	</dict>
</array>
</plist>
