<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halv</string>
		<key>Word</key>
		<string>halv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvsov</string>
		<key>Word</key>
		<string>halvsov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>halvtolv</string>
		<key>Word</key>
		<string>halvtolv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>harv</string>
		<key>Word</key>
		<string>harv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hav</string>
		<key>Word</key>
		<string>hav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hdtv</string>
		<key>Word</key>
		<string>HDTV</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>helikopterperspektiv</string>
		<key>Word</key>
		<string>helikopterperspektiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>himlavalv</string>
		<key>Word</key>
		<string>himlavalv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hiv</string>
		<key>Word</key>
		<string>hiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hotbrev</string>
		<key>Word</key>
		<string>hotbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hov</string>
		<key>Word</key>
		<string>hov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hundliv</string>
		<key>Word</key>
		<string>hundliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>husbehov</string>
		<key>Word</key>
		<string>husbehov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>huv</string>
		<key>Word</key>
		<string>huv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hängav</string>
		<key>Word</key>
		<string>hängav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>hängiv</string>
		<key>Word</key>
		<string>hängiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>härav</string>
		<key>Word</key>
		<string>härav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>häv</string>
		<key>Word</key>
		<string>häv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>håv</string>
		<key>Word</key>
		<string>håv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högkvalitativ</string>
		<key>Word</key>
		<string>högkvalitativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högradioaktiv</string>
		<key>Word</key>
		<string>högradioaktiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>högskoleprov</string>
		<key>Word</key>
		<string>högskoleprov</string>
	</dict>
</array>
</plist>
