<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ibland</string>
		<key>Word</key>
		<string>ibland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>id</string>
		<key>Word</key>
		<string>id</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idealiserad</string>
		<key>Word</key>
		<string>idealiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>identifierad</string>
		<key>Word</key>
		<string>identifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idisslad</string>
		<key>Word</key>
		<string>idisslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idkad</string>
		<key>Word</key>
		<string>idkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idrottsförbund</string>
		<key>Word</key>
		<string>idrottsförbund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifred</string>
		<key>Word</key>
		<string>ifred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifylld</string>
		<key>Word</key>
		<string>ifylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifyllnad</string>
		<key>Word</key>
		<string>ifyllnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iförd</string>
		<key>Word</key>
		<string>iförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igenkorkad</string>
		<key>Word</key>
		<string>igenkorkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igenkänd</string>
		<key>Word</key>
		<string>igenkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ignorerad</string>
		<key>Word</key>
		<string>ignorerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihjälkörd</string>
		<key>Word</key>
		<string>ihjälkörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ikläd</string>
		<key>Word</key>
		<string>ikläd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iklädd</string>
		<key>Word</key>
		<string>iklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iland</string>
		<key>Word</key>
		<string>iland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ilbud</string>
		<key>Word</key>
		<string>ilbud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illasinnad</string>
		<key>Word</key>
		<string>illasinnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illdåd</string>
		<key>Word</key>
		<string>illdåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illustrerad</string>
		<key>Word</key>
		<string>illustrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imiterad</string>
		<key>Word</key>
		<string>imiterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>implementerad</string>
		<key>Word</key>
		<string>implementerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>implicerad</string>
		<key>Word</key>
		<string>implicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imponerad</string>
		<key>Word</key>
		<string>imponerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>importerad</string>
		<key>Word</key>
		<string>importerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>improviserad</string>
		<key>Word</key>
		<string>improviserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inaktiverad</string>
		<key>Word</key>
		<string>inaktiverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inarbetad</string>
		<key>Word</key>
		<string>inarbetad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbakad</string>
		<key>Word</key>
		<string>inbakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inband</string>
		<key>Word</key>
		<string>inband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inberäknad</string>
		<key>Word</key>
		<string>inberäknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbesparad</string>
		<key>Word</key>
		<string>inbesparad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbetalad</string>
		<key>Word</key>
		<string>inbetalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbetald</string>
		<key>Word</key>
		<string>inbetald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbillad</string>
		<key>Word</key>
		<string>inbillad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbind</string>
		<key>Word</key>
		<string>inbind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbjud</string>
		<key>Word</key>
		<string>inbjud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbjöd</string>
		<key>Word</key>
		<string>inbjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inblandad</string>
		<key>Word</key>
		<string>inblandad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbokad</string>
		<key>Word</key>
		<string>inbokad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbringad</string>
		<key>Word</key>
		<string>inbringad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbränd</string>
		<key>Word</key>
		<string>inbränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inburad</string>
		<key>Word</key>
		<string>inburad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbyggd</string>
		<key>Word</key>
		<string>inbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbyggnad</string>
		<key>Word</key>
		<string>inbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbäddad</string>
		<key>Word</key>
		<string>inbäddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbärgad</string>
		<key>Word</key>
		<string>inbärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>incheckad</string>
		<key>Word</key>
		<string>incheckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indelad</string>
		<key>Word</key>
		<string>indelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indenterad</string>
		<key>Word</key>
		<string>indenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indexerad</string>
		<key>Word</key>
		<string>indexerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indignerad</string>
		<key>Word</key>
		<string>indignerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indikerad</string>
		<key>Word</key>
		<string>indikerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>individ</string>
		<key>Word</key>
		<string>individ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>individualiserad</string>
		<key>Word</key>
		<string>individualiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indoktrinerad</string>
		<key>Word</key>
		<string>indoktrinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industrialiserad</string>
		<key>Word</key>
		<string>industrialiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infattad</string>
		<key>Word</key>
		<string>infattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infekterad</string>
		<key>Word</key>
		<string>infekterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infettad</string>
		<key>Word</key>
		<string>infettad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infiltrerad</string>
		<key>Word</key>
		<string>infiltrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflammerad</string>
		<key>Word</key>
		<string>inflammerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflikad</string>
		<key>Word</key>
		<string>inflikad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>influerad</string>
		<key>Word</key>
		<string>influerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflyttad</string>
		<key>Word</key>
		<string>inflyttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infogad</string>
		<key>Word</key>
		<string>infogad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infordrad</string>
		<key>Word</key>
		<string>infordrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationsblad</string>
		<key>Word</key>
		<string>informationsblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationsmängd</string>
		<key>Word</key>
		<string>informationsmängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informerad</string>
		<key>Word</key>
		<string>informerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infraljud</string>
		<key>Word</key>
		<string>infraljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infraröd</string>
		<key>Word</key>
		<string>infraröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infriad</string>
		<key>Word</key>
		<string>infriad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infälld</string>
		<key>Word</key>
		<string>infälld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infångad</string>
		<key>Word</key>
		<string>infångad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infödd</string>
		<key>Word</key>
		<string>infödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>införd</string>
		<key>Word</key>
		<string>införd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>införlivad</string>
		<key>Word</key>
		<string>införlivad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>införseltillstånd</string>
		<key>Word</key>
		<string>införseltillstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>införskaffad</string>
		<key>Word</key>
		<string>införskaffad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>införstådd</string>
		<key>Word</key>
		<string>införstådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingegerd</string>
		<key>Word</key>
		<string>Ingegerd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingegärd</string>
		<key>Word</key>
		<string>Ingegärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingemund</string>
		<key>Word</key>
		<string>Ingemund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingenmansland</string>
		<key>Word</key>
		<string>ingenmansland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingermanland</string>
		<key>Word</key>
		<string>Ingermanland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingesund</string>
		<key>Word</key>
		<string>Ingesund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inglasad</string>
		<key>Word</key>
		<string>inglasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingrid</string>
		<key>Word</key>
		<string>Ingrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingrodd</string>
		<key>Word</key>
		<string>ingrodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingvald</string>
		<key>Word</key>
		<string>Ingvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhandlad</string>
		<key>Word</key>
		<string>inhandlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhyrd</string>
		<key>Word</key>
		<string>inhyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhägnad</string>
		<key>Word</key>
		<string>inhägnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhämtad</string>
		<key>Word</key>
		<string>inhämtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhöstad</string>
		<key>Word</key>
		<string>inhöstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>initialiserad</string>
		<key>Word</key>
		<string>initialiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>initierad</string>
		<key>Word</key>
		<string>initierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>injicerad</string>
		<key>Word</key>
		<string>injicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkallad</string>
		<key>Word</key>
		<string>inkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkapslad</string>
		<key>Word</key>
		<string>inkapslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkastad</string>
		<key>Word</key>
		<string>inkastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inklistrad</string>
		<key>Word</key>
		<string>inklistrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkluderad</string>
		<key>Word</key>
		<string>inkluderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inklämd</string>
		<key>Word</key>
		<string>inklämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkopplad</string>
		<key>Word</key>
		<string>inkopplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkorporerad</string>
		<key>Word</key>
		<string>inkorporerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkubationstid</string>
		<key>Word</key>
		<string>inkubationstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkänd</string>
		<key>Word</key>
		<string>inkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkörd</string>
		<key>Word</key>
		<string>inkörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inladdad</string>
		<key>Word</key>
		<string>inladdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlagd</string>
		<key>Word</key>
		<string>inlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlagrad</string>
		<key>Word</key>
		<string>inlagrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inland</string>
		<key>Word</key>
		<string>inland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inled</string>
		<key>Word</key>
		<string>inled</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inledd</string>
		<key>Word</key>
		<string>inledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlemmad</string>
		<key>Word</key>
		<string>inlemmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlindad</string>
		<key>Word</key>
		<string>inlindad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inloggad</string>
		<key>Word</key>
		<string>inloggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inloggnings-id</string>
		<key>Word</key>
		<string>inloggnings-ID</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inloggnings-id</string>
		<key>Word</key>
		<string>inloggnings-id</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlämnad</string>
		<key>Word</key>
		<string>inlämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlärd</string>
		<key>Word</key>
		<string>inlärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmatad</string>
		<key>Word</key>
		<string>inmatad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmonterad</string>
		<key>Word</key>
		<string>inmonterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmundigad</string>
		<key>Word</key>
		<string>inmundigad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmurad</string>
		<key>Word</key>
		<string>inmurad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmutad</string>
		<key>Word</key>
		<string>inmutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmönstrad</string>
		<key>Word</key>
		<string>inmönstrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innebränd</string>
		<key>Word</key>
		<string>innebränd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innebörd</string>
		<key>Word</key>
		<string>innebörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innefattad</string>
		<key>Word</key>
		<string>innefattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehavd</string>
		<key>Word</key>
		<string>innehavd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehållsintegrerad</string>
		<key>Word</key>
		<string>innehållsintegrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innerstad</string>
		<key>Word</key>
		<string>innerstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innestängd</string>
		<key>Word</key>
		<string>innestängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inoljad</string>
		<key>Word</key>
		<string>inoljad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inopererad</string>
		<key>Word</key>
		<string>inopererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inordnad</string>
		<key>Word</key>
		<string>inordnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inpackad</string>
		<key>Word</key>
		<string>inpackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inpassad</string>
		<key>Word</key>
		<string>inpassad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inpiskad</string>
		<key>Word</key>
		<string>inpiskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inplacerad</string>
		<key>Word</key>
		<string>inplacerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inplanerad</string>
		<key>Word</key>
		<string>inplanerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inplastad</string>
		<key>Word</key>
		<string>inplastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inpräntad</string>
		<key>Word</key>
		<string>inpräntad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inramad</string>
		<key>Word</key>
		<string>inramad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrangerad</string>
		<key>Word</key>
		<string>inrangerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrapporterad</string>
		<key>Word</key>
		<string>inrapporterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inred</string>
		<key>Word</key>
		<string>inred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inredd</string>
		<key>Word</key>
		<string>inredd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inregistrerad</string>
		<key>Word</key>
		<string>inregistrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inriktad</string>
		<key>Word</key>
		<string>inriktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inristad</string>
		<key>Word</key>
		<string>inristad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inropad</string>
		<key>Word</key>
		<string>inropad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrotad</string>
		<key>Word</key>
		<string>inrotad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrutad</string>
		<key>Word</key>
		<string>inrutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrymd</string>
		<key>Word</key>
		<string>inrymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inräknad</string>
		<key>Word</key>
		<string>inräknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrättad</string>
		<key>Word</key>
		<string>inrättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insamlad</string>
		<key>Word</key>
		<string>insamlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insedd</string>
		<key>Word</key>
		<string>insedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insinuerad</string>
		<key>Word</key>
		<string>insinuerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insjuknad</string>
		<key>Word</key>
		<string>insjuknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskickad</string>
		<key>Word</key>
		<string>inskickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskiftad</string>
		<key>Word</key>
		<string>inskiftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insnärjd</string>
		<key>Word</key>
		<string>insnärjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insnöad</string>
		<key>Word</key>
		<string>insnöad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insomnad</string>
		<key>Word</key>
		<string>insomnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspekterad</string>
		<key>Word</key>
		<string>inspekterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspelad</string>
		<key>Word</key>
		<string>inspelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspelningsbord</string>
		<key>Word</key>
		<string>inspelningsbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspirerad</string>
		<key>Word</key>
		<string>inspirerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insprängd</string>
		<key>Word</key>
		<string>insprängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspärrad</string>
		<key>Word</key>
		<string>inspärrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>installerad</string>
		<key>Word</key>
		<string>installerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instansierad</string>
		<key>Word</key>
		<string>instansierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instantierad</string>
		<key>Word</key>
		<string>instantierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instiftad</string>
		<key>Word</key>
		<string>instiftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>institutionaliserad</string>
		<key>Word</key>
		<string>institutionaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instoppad</string>
		<key>Word</key>
		<string>instoppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instruerad</string>
		<key>Word</key>
		<string>instruerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inströmmad</string>
		<key>Word</key>
		<string>inströmmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inställd</string>
		<key>Word</key>
		<string>inställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instämd</string>
		<key>Word</key>
		<string>instämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instängd</string>
		<key>Word</key>
		<string>instängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insydd</string>
		<key>Word</key>
		<string>insydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insyltad</string>
		<key>Word</key>
		<string>insyltad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insänd</string>
		<key>Word</key>
		<string>insänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insådd</string>
		<key>Word</key>
		<string>insådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insövd</string>
		<key>Word</key>
		<string>insövd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intalad</string>
		<key>Word</key>
		<string>intalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intecknad</string>
		<key>Word</key>
		<string>intecknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integrand</string>
		<key>Word</key>
		<string>integrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integrerad</string>
		<key>Word</key>
		<string>integrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intellektualiserad</string>
		<key>Word</key>
		<string>intellektualiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intensifierad</string>
		<key>Word</key>
		<string>intensifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intensivvård</string>
		<key>Word</key>
		<string>intensivvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internationaliserad</string>
		<key>Word</key>
		<string>internationaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internatskolevärld</string>
		<key>Word</key>
		<string>internatskolevärld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internerad</string>
		<key>Word</key>
		<string>internerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetworld</string>
		<key>Word</key>
		<string>Internetworld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interpolerad</string>
		<key>Word</key>
		<string>interpolerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intervjuad</string>
		<key>Word</key>
		<string>intervjuad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intjänad</string>
		<key>Word</key>
		<string>intjänad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intorkad</string>
		<key>Word</key>
		<string>intorkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intresserad</string>
		<key>Word</key>
		<string>intresserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>introducerad</string>
		<key>Word</key>
		<string>introducerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inträd</string>
		<key>Word</key>
		<string>inträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inträdd</string>
		<key>Word</key>
		<string>inträdd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inträffad</string>
		<key>Word</key>
		<string>inträffad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inträngd</string>
		<key>Word</key>
		<string>inträngd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intygad</string>
		<key>Word</key>
		<string>intygad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invaderad</string>
		<key>Word</key>
		<string>invaderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invaggad</string>
		<key>Word</key>
		<string>invaggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invald</string>
		<key>Word</key>
		<string>invald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invalid</string>
		<key>Word</key>
		<string>invalid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invalidiserad</string>
		<key>Word</key>
		<string>invalidiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invand</string>
		<key>Word</key>
		<string>invand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invandrad</string>
		<key>Word</key>
		<string>invandrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invecklad</string>
		<key>Word</key>
		<string>invecklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inventerad</string>
		<key>Word</key>
		<string>inventerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inverkad</string>
		<key>Word</key>
		<string>inverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inverterad</string>
		<key>Word</key>
		<string>inverterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>investerad</string>
		<key>Word</key>
		<string>investerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invid</string>
		<key>Word</key>
		<string>invid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invigd</string>
		<key>Word</key>
		<string>invigd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inviterad</string>
		<key>Word</key>
		<string>inviterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>involverad</string>
		<key>Word</key>
		<string>involverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invänd</string>
		<key>Word</key>
		<string>invänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inväntad</string>
		<key>Word</key>
		<string>inväntad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invävd</string>
		<key>Word</key>
		<string>invävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inympad</string>
		<key>Word</key>
		<string>inympad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inåtvänd</string>
		<key>Word</key>
		<string>inåtvänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inövad</string>
		<key>Word</key>
		<string>inövad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iordningställd</string>
		<key>Word</key>
		<string>iordningställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ip-baserad</string>
		<key>Word</key>
		<string>IP-baserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irland</string>
		<key>Word</key>
		<string>Irland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ironiserad</string>
		<key>Word</key>
		<string>ironiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irrfärd</string>
		<key>Word</key>
		<string>irrfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irriterad</string>
		<key>Word</key>
		<string>irriterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isad</string>
		<key>Word</key>
		<string>isad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isbelagd</string>
		<key>Word</key>
		<string>isbelagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ishöljd</string>
		<key>Word</key>
		<string>ishöljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>island</string>
		<key>Word</key>
		<string>Island</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isolerad</string>
		<key>Word</key>
		<string>isolerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isterband</string>
		<key>Word</key>
		<string>isterband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>istid</string>
		<key>Word</key>
		<string>istid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-baserad</string>
		<key>Word</key>
		<string>IT-baserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-marknad</string>
		<key>Word</key>
		<string>IT-marknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>italienskägd</string>
		<key>Word</key>
		<string>italienskägd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ivägkörd</string>
		<key>Word</key>
		<string>ivägkörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ivägskickad</string>
		<key>Word</key>
		<string>ivägskickad</string>
	</dict>
</array>
</plist>
