<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iakttag</string>
		<key>Word</key>
		<string>iakttag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iakttog</string>
		<key>Word</key>
		<string>iakttog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>icing</string>
		<key>Word</key>
		<string>icing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>icke-spridningsfördrag</string>
		<key>Word</key>
		<string>icke-spridningsfördrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idag</string>
		<key>Word</key>
		<string>idag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idelig</string>
		<key>Word</key>
		<string>idelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>identifiering</string>
		<key>Word</key>
		<string>identifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ideolog</string>
		<key>Word</key>
		<string>ideolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idg</string>
		<key>Word</key>
		<string>IDG</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idog</string>
		<key>Word</key>
		<string>idog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idrottsförening</string>
		<key>Word</key>
		<string>idrottsförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idrottslig</string>
		<key>Word</key>
		<string>idrottslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idrottstidning</string>
		<key>Word</key>
		<string>idrottstidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idémässig</string>
		<key>Word</key>
		<string>idémässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igenkänning</string>
		<key>Word</key>
		<string>igenkänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igenkännlig</string>
		<key>Word</key>
		<string>igenkännlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igenväxning</string>
		<key>Word</key>
		<string>igenväxning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igång</string>
		<key>Word</key>
		<string>igång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihärdig</string>
		<key>Word</key>
		<string>ihärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihåg</string>
		<key>Word</key>
		<string>ihåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihålig</string>
		<key>Word</key>
		<string>ihålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ikring</string>
		<key>Word</key>
		<string>ikring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illgärning</string>
		<key>Word</key>
		<string>illgärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illustrering</string>
		<key>Word</key>
		<string>illustrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illvillig</string>
		<key>Word</key>
		<string>illvillig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ilning</string>
		<key>Word</key>
		<string>ilning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>immersionsundervisning</string>
		<key>Word</key>
		<string>immersionsundervisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>impedansomvandling</string>
		<key>Word</key>
		<string>impedansomvandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>implementering</string>
		<key>Word</key>
		<string>implementering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inackordering</string>
		<key>Word</key>
		<string>inackordering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbesparing</string>
		<key>Word</key>
		<string>inbesparing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbetalning</string>
		<key>Word</key>
		<string>inbetalning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbetalningsdag</string>
		<key>Word</key>
		<string>inbetalningsdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbillning</string>
		<key>Word</key>
		<string>inbillning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbindning</string>
		<key>Word</key>
		<string>inbindning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbjudning</string>
		<key>Word</key>
		<string>inbjudning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inblandning</string>
		<key>Word</key>
		<string>inblandning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbromsning</string>
		<key>Word</key>
		<string>inbromsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbrytning</string>
		<key>Word</key>
		<string>inbrytning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbygg</string>
		<key>Word</key>
		<string>inbygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbärgning</string>
		<key>Word</key>
		<string>inbärgning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbördeskrig</string>
		<key>Word</key>
		<string>inbördeskrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indelning</string>
		<key>Word</key>
		<string>indelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indentering</string>
		<key>Word</key>
		<string>indentering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indexering</string>
		<key>Word</key>
		<string>indexering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indikering</string>
		<key>Word</key>
		<string>indikering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indoktrinering</string>
		<key>Word</key>
		<string>indoktrinering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indrag</string>
		<key>Word</key>
		<string>indrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indragning</string>
		<key>Word</key>
		<string>indragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indrivning</string>
		<key>Word</key>
		<string>indrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indrog</string>
		<key>Word</key>
		<string>indrog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industrialisering</string>
		<key>Word</key>
		<string>industrialisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industrianläggning</string>
		<key>Word</key>
		<string>industrianläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industriledning</string>
		<key>Word</key>
		<string>industriledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industrisammanslutning</string>
		<key>Word</key>
		<string>industrisammanslutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industriutställning</string>
		<key>Word</key>
		<string>industriutställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflygning</string>
		<key>Word</key>
		<string>inflygning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflyttning</string>
		<key>Word</key>
		<string>inflyttning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationshantering</string>
		<key>Word</key>
		<string>informationshantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationssatsning</string>
		<key>Word</key>
		<string>informationssatsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inföding</string>
		<key>Word</key>
		<string>inföding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingeborg</string>
		<key>Word</key>
		<string>Ingeborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingenjörsmässig</string>
		<key>Word</key>
		<string>ingenjörsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingenjörsutbildning</string>
		<key>Word</key>
		<string>ingenjörsutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingenting</string>
		<key>Word</key>
		<string>ingenting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingång</string>
		<key>Word</key>
		<string>ingång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>initialisering</string>
		<key>Word</key>
		<string>initialisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>initiering</string>
		<key>Word</key>
		<string>initiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>injicering</string>
		<key>Word</key>
		<string>injicering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkapsling</string>
		<key>Word</key>
		<string>inkapsling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkassering</string>
		<key>Word</key>
		<string>inkassering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkassoföretag</string>
		<key>Word</key>
		<string>inkassoföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkodning</string>
		<key>Word</key>
		<string>inkodning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkomstökning</string>
		<key>Word</key>
		<string>inkomstökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkoppling</string>
		<key>Word</key>
		<string>inkoppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkorg</string>
		<key>Word</key>
		<string>inkorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkvartering</string>
		<key>Word</key>
		<string>inkvartering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkörning</string>
		<key>Word</key>
		<string>inkörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlagring</string>
		<key>Word</key>
		<string>inlagring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inledning</string>
		<key>Word</key>
		<string>inledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inloggning</string>
		<key>Word</key>
		<string>inloggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlägg</string>
		<key>Word</key>
		<string>inlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inläggning</string>
		<key>Word</key>
		<string>inläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlämning</string>
		<key>Word</key>
		<string>inlämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlärning</string>
		<key>Word</key>
		<string>inlärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inläsning</string>
		<key>Word</key>
		<string>inläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlåning</string>
		<key>Word</key>
		<string>inlåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlåsning</string>
		<key>Word</key>
		<string>inlåsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmatning</string>
		<key>Word</key>
		<string>inmatning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmutning</string>
		<key>Word</key>
		<string>inmutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inmätning</string>
		<key>Word</key>
		<string>inmätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehållsförteckning</string>
		<key>Word</key>
		<string>innehållsförteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehållshantering</string>
		<key>Word</key>
		<string>innehållshantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehållslig</string>
		<key>Word</key>
		<string>innehållslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehållsmässig</string>
		<key>Word</key>
		<string>innehållsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innekrog</string>
		<key>Word</key>
		<string>innekrog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innerlig</string>
		<key>Word</key>
		<string>innerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inordning</string>
		<key>Word</key>
		<string>inordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inpassering</string>
		<key>Word</key>
		<string>inpassering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inplantering</string>
		<key>Word</key>
		<string>inplantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inramning</string>
		<key>Word</key>
		<string>inramning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inredning</string>
		<key>Word</key>
		<string>inredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inregistrering</string>
		<key>Word</key>
		<string>inregistrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inriktning</string>
		<key>Word</key>
		<string>inriktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrättning</string>
		<key>Word</key>
		<string>inrättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insamling</string>
		<key>Word</key>
		<string>insamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inscanning</string>
		<key>Word</key>
		<string>inscanning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskrivning</string>
		<key>Word</key>
		<string>inskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskränkning</string>
		<key>Word</key>
		<string>inskränkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inslag</string>
		<key>Word</key>
		<string>inslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insomning</string>
		<key>Word</key>
		<string>insomning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insortering</string>
		<key>Word</key>
		<string>insortering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspelning</string>
		<key>Word</key>
		<string>inspelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspelningsutrustning</string>
		<key>Word</key>
		<string>inspelningsutrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insprutning</string>
		<key>Word</key>
		<string>insprutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inspärrning</string>
		<key>Word</key>
		<string>inspärrning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>installering</string>
		<key>Word</key>
		<string>installering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instansiering</string>
		<key>Word</key>
		<string>instansiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instantiering</string>
		<key>Word</key>
		<string>instantiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insteg</string>
		<key>Word</key>
		<string>insteg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instruktionsuppsättning</string>
		<key>Word</key>
		<string>instruktionsuppsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instrumentering</string>
		<key>Word</key>
		<string>instrumentering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inställning</string>
		<key>Word</key>
		<string>inställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instäng</string>
		<key>Word</key>
		<string>instäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insättning</string>
		<key>Word</key>
		<string>insättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insåg</string>
		<key>Word</key>
		<string>insåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insåning</string>
		<key>Word</key>
		<string>insåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intag</string>
		<key>Word</key>
		<string>intag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intagning</string>
		<key>Word</key>
		<string>intagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inteckning</string>
		<key>Word</key>
		<string>inteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integrering</string>
		<key>Word</key>
		<string>integrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intensivvårdsavdelning</string>
		<key>Word</key>
		<string>intensivvårdsavdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internationalisering</string>
		<key>Word</key>
		<string>internationalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetanslutning</string>
		<key>Word</key>
		<string>Internetanslutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetanslutningsdelning</string>
		<key>Word</key>
		<string>Internetanslutningsdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetanvändning</string>
		<key>Word</key>
		<string>Internetanvändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetbolag</string>
		<key>Word</key>
		<string>Internetbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interneträkning</string>
		<key>Word</key>
		<string>Interneträkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetutredning</string>
		<key>Word</key>
		<string>Internetutredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetutveckling</string>
		<key>Word</key>
		<string>Internetutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetverktyg</string>
		<key>Word</key>
		<string>Internetverktyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intig</string>
		<key>Word</key>
		<string>intig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intog</string>
		<key>Word</key>
		<string>intog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intresseförening</string>
		<key>Word</key>
		<string>intresseförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intrig</string>
		<key>Word</key>
		<string>intrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inträng</string>
		<key>Word</key>
		<string>inträng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intrång</string>
		<key>Word</key>
		<string>intrång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intyg</string>
		<key>Word</key>
		<string>intyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intåg</string>
		<key>Word</key>
		<string>intåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invandring</string>
		<key>Word</key>
		<string>invandring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inventering</string>
		<key>Word</key>
		<string>inventering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inverkning</string>
		<key>Word</key>
		<string>inverkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>investering</string>
		<key>Word</key>
		<string>investering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invig</string>
		<key>Word</key>
		<string>invig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invigning</string>
		<key>Word</key>
		<string>invigning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>involvering</string>
		<key>Word</key>
		<string>involvering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invändig</string>
		<key>Word</key>
		<string>invändig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invändning</string>
		<key>Word</key>
		<string>invändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iordning</string>
		<key>Word</key>
		<string>iordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irakkrig</string>
		<key>Word</key>
		<string>Irakkrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irc-slang</string>
		<key>Word</key>
		<string>IRC-slang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irrgång</string>
		<key>Word</key>
		<string>irrgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irving</string>
		<key>Word</key>
		<string>Irving</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isberg</string>
		<key>Word</key>
		<string>isberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isbildning</string>
		<key>Word</key>
		<string>isbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isdn-abonnemang</string>
		<key>Word</key>
		<string>ISDN-abonnemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isig</string>
		<key>Word</key>
		<string>isig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>islossning</string>
		<key>Word</key>
		<string>islossning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>islänning</string>
		<key>Word</key>
		<string>islänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isolering</string>
		<key>Word</key>
		<string>isolering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-användning</string>
		<key>Word</key>
		<string>IT-användning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-bolag</string>
		<key>Word</key>
		<string>IT-bolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-forskning</string>
		<key>Word</key>
		<string>IT-forskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-företag</string>
		<key>Word</key>
		<string>IT-företag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-rättslig</string>
		<key>Word</key>
		<string>IT-rättslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-utveckling</string>
		<key>Word</key>
		<string>IT-utveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ivrig</string>
		<key>Word</key>
		<string>ivrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iväg</string>
		<key>Word</key>
		<string>iväg</string>
	</dict>
</array>
</plist>
