<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ickefysisk</string>
		<key>Word</key>
		<string>ickefysisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ide-disk</string>
		<key>Word</key>
		<string>IDE-disk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idealisk</string>
		<key>Word</key>
		<string>idealisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idealistisk</string>
		<key>Word</key>
		<string>idealistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>identisk</string>
		<key>Word</key>
		<string>identisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ideologisk</string>
		<key>Word</key>
		<string>ideologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idiomatisk</string>
		<key>Word</key>
		<string>idiomatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idiotisk</string>
		<key>Word</key>
		<string>idiotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idyllisk</string>
		<key>Word</key>
		<string>idyllisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iderik</string>
		<key>Word</key>
		<string>idérik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ifk</string>
		<key>Word</key>
		<string>IFK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ik</string>
		<key>Word</key>
		<string>IK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illusorisk</string>
		<key>Word</key>
		<string>illusorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imagemagick</string>
		<key>Word</key>
		<string>ImageMagick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imperialistisk</string>
		<key>Word</key>
		<string>imperialistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbilsk</string>
		<key>Word</key>
		<string>inbilsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inblick</string>
		<key>Word</key>
		<string>inblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indeterministisk</string>
		<key>Word</key>
		<string>indeterministisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indiansprak</string>
		<key>Word</key>
		<string>indianspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indierock</string>
		<key>Word</key>
		<string>indierock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indisk</string>
		<key>Word</key>
		<string>indisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>individualistisk</string>
		<key>Word</key>
		<string>individualistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indoeuropeisk</string>
		<key>Word</key>
		<string>indoeuropeisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indonesisk</string>
		<key>Word</key>
		<string>indonesisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infernalisk</string>
		<key>Word</key>
		<string>infernalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inflytelserik</string>
		<key>Word</key>
		<string>inflytelserik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationsteknik</string>
		<key>Word</key>
		<string>informationsteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingick</string>
		<key>Word</key>
		<string>ingick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhemsk</string>
		<key>Word</key>
		<string>inhemsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innehallsrik</string>
		<key>Word</key>
		<string>innehållsrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innertak</string>
		<key>Word</key>
		<string>innertak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>innsbruck</string>
		<key>Word</key>
		<string>Innsbruck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inomhusbruk</string>
		<key>Word</key>
		<string>inomhusbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrikespolitik</string>
		<key>Word</key>
		<string>inrikespolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrikespolitisk</string>
		<key>Word</key>
		<string>inrikespolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskrank</string>
		<key>Word</key>
		<string>inskränk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instruktionsbok</string>
		<key>Word</key>
		<string>instruktionsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integrationspolitik</string>
		<key>Word</key>
		<string>integrationspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integrationspolitisk</string>
		<key>Word</key>
		<string>integrationspolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>integrationsverk</string>
		<key>Word</key>
		<string>integrationsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intergalaktisk</string>
		<key>Word</key>
		<string>intergalaktisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internetbank</string>
		<key>Word</key>
		<string>Internetbank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>internettrafik</string>
		<key>Word</key>
		<string>Internettrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interplanetarisk</string>
		<key>Word</key>
		<string>interplanetarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>introduktionsbok</string>
		<key>Word</key>
		<string>introduktionsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intryck</string>
		<key>Word</key>
		<string>intryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invandrarsprak</string>
		<key>Word</key>
		<string>invandrarspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>invartesmedicinsk</string>
		<key>Word</key>
		<string>invärtesmedicinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ip-natmask</string>
		<key>Word</key>
		<string>IP-nätmask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irak</string>
		<key>Word</key>
		<string>Irak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irakisk</string>
		<key>Word</key>
		<string>irakisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>iransk</string>
		<key>Word</key>
		<string>iransk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irisk</string>
		<key>Word</key>
		<string>irisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>irlandsk</string>
		<key>Word</key>
		<string>irländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ironisk</string>
		<key>Word</key>
		<string>ironisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isak</string>
		<key>Word</key>
		<string>Isak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isdn-lank</string>
		<key>Word</key>
		<string>ISDN-länk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isflak</string>
		<key>Word</key>
		<string>isflak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>islamisk</string>
		<key>Word</key>
		<string>islamisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>islamsk</string>
		<key>Word</key>
		<string>islamsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>islandsk</string>
		<key>Word</key>
		<string>isländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isolationistisk</string>
		<key>Word</key>
		<string>isolationistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>israelisk</string>
		<key>Word</key>
		<string>israelisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>israelitisk</string>
		<key>Word</key>
		<string>israelitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-folk</string>
		<key>Word</key>
		<string>IT-folk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-politik</string>
		<key>Word</key>
		<string>IT-politik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>italiensk</string>
		<key>Word</key>
		<string>italiensk</string>
	</dict>
</array>
</plist>
