<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ibidem</string>
		<key>Word</key>
		<string>ibidem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ibm</string>
		<key>Word</key>
		<string>IBM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ibrahim</string>
		<key>Word</key>
		<string>Ibrahim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idealism</string>
		<key>Word</key>
		<string>idealism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idiom</string>
		<key>Word</key>
		<string>idiom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idrottsgymnasium</string>
		<key>Word</key>
		<string>idrottsgymnasium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>idrottsterm</string>
		<key>Word</key>
		<string>idrottsterm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igenom</string>
		<key>Word</key>
		<string>igenom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihågkom</string>
		<key>Word</key>
		<string>ihågkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ikläm</string>
		<key>Word</key>
		<string>ikläm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>illegitim</string>
		<key>Word</key>
		<string>illegitim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imperialism</string>
		<key>Word</key>
		<string>imperialism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imperium</string>
		<key>Word</key>
		<string>imperium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>impressionism</string>
		<key>Word</key>
		<string>impressionism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indicium</string>
		<key>Word</key>
		<string>indicium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>individualism</string>
		<key>Word</key>
		<string>individualism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industrialism</string>
		<key>Word</key>
		<string>industrialism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>industriarbetarhem</string>
		<key>Word</key>
		<string>industriarbetarhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infam</string>
		<key>Word</key>
		<string>infam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>infektionssjukdom</string>
		<key>Word</key>
		<string>infektionssjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationssystem</string>
		<key>Word</key>
		<string>informationssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkom</string>
		<key>Word</key>
		<string>inkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inom</string>
		<key>Word</key>
		<string>inom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrym</string>
		<key>Word</key>
		<string>inrym</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>installationsprogram</string>
		<key>Word</key>
		<string>installationsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inställsam</string>
		<key>Word</key>
		<string>inställsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>instäm</string>
		<key>Word</key>
		<string>instäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interim</string>
		<key>Word</key>
		<string>interim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>intim</string>
		<key>Word</key>
		<string>intim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inventarium</string>
		<key>Word</key>
		<string>inventarium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>islam</string>
		<key>Word</key>
		<string>islam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ism</string>
		<key>Word</key>
		<string>ism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isolationism</string>
		<key>Word</key>
		<string>isolationism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-system</string>
		<key>Word</key>
		<string>IT-system</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>itanium</string>
		<key>Word</key>
		<string>Itanium</string>
	</dict>
</array>
</plist>
