<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>icmp</string>
		<key>Word</key>
		<string>ICMP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>igmp</string>
		<key>Word</key>
		<string>IGMP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ihop</string>
		<key>Word</key>
		<string>ihop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ikapp</string>
		<key>Word</key>
		<string>ikapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>imap</string>
		<key>Word</key>
		<string>IMAP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>improvisationskunskap</string>
		<key>Word</key>
		<string>improvisationskunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbegrep</string>
		<key>Word</key>
		<string>inbegrep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inbegrip</string>
		<key>Word</key>
		<string>inbegrip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>indiepop</string>
		<key>Word</key>
		<string>indiepop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>informationsvetenskap</string>
		<key>Word</key>
		<string>informationsvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingenjorsvetenskap</string>
		<key>Word</key>
		<string>ingenjörsvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingrep</string>
		<key>Word</key>
		<string>ingrep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingrepp</string>
		<key>Word</key>
		<string>ingrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ingrip</string>
		<key>Word</key>
		<string>ingrip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inhopp</string>
		<key>Word</key>
		<string>inhopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inkop</string>
		<key>Word</key>
		<string>inköp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inlopp</string>
		<key>Word</key>
		<string>inlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inrop</string>
		<key>Word</key>
		<string>inrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inskarp</string>
		<key>Word</key>
		<string>inskärp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>inslapp</string>
		<key>Word</key>
		<string>insläpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insup</string>
		<key>Word</key>
		<string>insup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insvep</string>
		<key>Word</key>
		<string>insvep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>insop</string>
		<key>Word</key>
		<string>insöp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>interlisp</string>
		<key>Word</key>
		<string>Interlisp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ip</string>
		<key>Word</key>
		<string>IP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isklump</string>
		<key>Word</key>
		<string>isklump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isotop</string>
		<key>Word</key>
		<string>isotop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>isp</string>
		<key>Word</key>
		<string>ISP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>istapp</string>
		<key>Word</key>
		<string>istapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>it-referensgrupp</string>
		<key>Word</key>
		<string>IT-referensgrupp</string>
	</dict>
</array>
</plist>
