<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ja</string>
		<key>Word</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jabra</string>
		<key>Word</key>
		<string>Jabra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jacka</string>
		<key>Word</key>
		<string>jacka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jackorna</string>
		<key>Word</key>
		<string>jackorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jada</string>
		<key>Word</key>
		<string>jadå</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaga</string>
		<key>Word</key>
		<string>jaga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagarna</string>
		<key>Word</key>
		<string>jagarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaguarerna</string>
		<key>Word</key>
		<string>jaguarerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaha</string>
		<key>Word</key>
		<string>jaha</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaka</string>
		<key>Word</key>
		<string>jaka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakarna</string>
		<key>Word</key>
		<string>jakarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakobina</string>
		<key>Word</key>
		<string>Jakobina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakterna</string>
		<key>Word</key>
		<string>jakterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktstyrka</string>
		<key>Word</key>
		<string>jaktstyrka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktstyrkorna</string>
		<key>Word</key>
		<string>jaktstyrkorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jama</string>
		<key>Word</key>
		<string>jama</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamaica</string>
		<key>Word</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jannika</string>
		<key>Word</key>
		<string>Jannika</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanerna</string>
		<key>Word</key>
		<string>japanerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanisera</string>
		<key>Word</key>
		<string>japanisera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanska</string>
		<key>Word</key>
		<string>japanska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanskorna</string>
		<key>Word</key>
		<string>japanskorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jargongerna</string>
		<key>Word</key>
		<string>jargongerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarla</string>
		<key>Word</key>
		<string>Jarla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarlarna</string>
		<key>Word</key>
		<string>jarlarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasminerna</string>
		<key>Word</key>
		<string>jasminerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaspisarna</string>
		<key>Word</key>
		<string>jaspisarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasa</string>
		<key>Word</key>
		<string>jaså</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>java</string>
		<key>Word</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>java</string>
		<key>Word</key>
		<string>java</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jebuseerna</string>
		<key>Word</key>
		<string>jebuséerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeeparna</string>
		<key>Word</key>
		<string>jeeparna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jefta</string>
		<key>Word</key>
		<string>Jefta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jehova</string>
		<key>Word</key>
		<string>Jehova</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jelena</string>
		<key>Word</key>
		<string>Jelena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jena</string>
		<key>Word</key>
		<string>Jena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jenuofa</string>
		<key>Word</key>
		<string>Jenuofa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeremia</string>
		<key>Word</key>
		<string>Jeremia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesaja</string>
		<key>Word</key>
		<string>Jesaja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jessica</string>
		<key>Word</key>
		<string>Jessica</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jessika</string>
		<key>Word</key>
		<string>Jessika</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesua</string>
		<key>Word</key>
		<string>Jesua</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesuiterna</string>
		<key>Word</key>
		<string>jesuiterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetmotorerna</string>
		<key>Word</key>
		<string>jetmotorerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobba</string>
		<key>Word</key>
		<string>jobba</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbannonserna</string>
		<key>Word</key>
		<string>jobbannonserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbarna</string>
		<key>Word</key>
		<string>jobbarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbiga</string>
		<key>Word</key>
		<string>jobbiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joda</string>
		<key>Word</key>
		<string>jodå</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jogga</string>
		<key>Word</key>
		<string>jogga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggarna</string>
		<key>Word</key>
		<string>joggarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johanna</string>
		<key>Word</key>
		<string>Johanna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jointarna</string>
		<key>Word</key>
		<string>jointarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojada</string>
		<key>Word</key>
		<string>Jojada</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojka</string>
		<key>Word</key>
		<string>jojka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojkarna</string>
		<key>Word</key>
		<string>jojkarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojorna</string>
		<key>Word</key>
		<string>jojorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokrarna</string>
		<key>Word</key>
		<string>jokrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollarna</string>
		<key>Word</key>
		<string>jollarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jollra</string>
		<key>Word</key>
		<string>jollra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jona</string>
		<key>Word</key>
		<string>Jona</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonerna</string>
		<key>Word</key>
		<string>jonerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonglorerna</string>
		<key>Word</key>
		<string>jonglörerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonisera</string>
		<key>Word</key>
		<string>jonisera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joniska</string>
		<key>Word</key>
		<string>Joniska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonna</string>
		<key>Word</key>
		<string>Jonna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jorda</string>
		<key>Word</key>
		<string>jorda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordanska</string>
		<key>Word</key>
		<string>jordanska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordarna</string>
		<key>Word</key>
		<string>jordarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordarterna</string>
		<key>Word</key>
		<string>jordarterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbana</string>
		<key>Word</key>
		<string>jordbana</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukarna</string>
		<key>Word</key>
		<string>jordbrukarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksarbetarna</string>
		<key>Word</key>
		<string>jordbruksarbetarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksbygderna</string>
		<key>Word</key>
		<string>jordbruksbygderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksmaskinerna</string>
		<key>Word</key>
		<string>jordbruksmaskinerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksprodukterna</string>
		<key>Word</key>
		<string>jordbruksprodukterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksresa</string>
		<key>Word</key>
		<string>jordbruksresa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksresorna</string>
		<key>Word</key>
		<string>jordbruksresorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukssamhallena</string>
		<key>Word</key>
		<string>jordbrukssamhällena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbavningarna</string>
		<key>Word</key>
		<string>jordbävningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfasta</string>
		<key>Word</key>
		<string>jordfästa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubbarna</string>
		<key>Word</key>
		<string>jordgubbarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordiska</string>
		<key>Word</key>
		<string>jordiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkula</string>
		<key>Word</key>
		<string>jordkula</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkulorna</string>
		<key>Word</key>
		<string>jordkulorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordkallarna</string>
		<key>Word</key>
		<string>jordkällarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordloppa</string>
		<key>Word</key>
		<string>jordloppa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordlopporna</string>
		<key>Word</key>
		<string>jordlopporna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordlotterna</string>
		<key>Word</key>
		<string>jordlotterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordmanniska</string>
		<key>Word</key>
		<string>jordmänniska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordmanniskorna</string>
		<key>Word</key>
		<string>jordmänniskorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordnara</string>
		<key>Word</key>
		<string>jordnära</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordnotterna</string>
		<key>Word</key>
		<string>jordnötterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordplattarna</string>
		<key>Word</key>
		<string>jordplättarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordskorpa</string>
		<key>Word</key>
		<string>jordskorpa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordslinga</string>
		<key>Word</key>
		<string>jordslinga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordslingorna</string>
		<key>Word</key>
		<string>jordslingorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordstammarna</string>
		<key>Word</key>
		<string>jordstammarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordyta</string>
		<key>Word</key>
		<string>jordyta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jornada</string>
		<key>Word</key>
		<string>Jornada</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joschka</string>
		<key>Word</key>
		<string>Joschka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josefina</string>
		<key>Word</key>
		<string>Josefina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joserna</string>
		<key>Word</key>
		<string>joserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josia</string>
		<key>Word</key>
		<string>Josia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josua</string>
		<key>Word</key>
		<string>Josua</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jourerna</string>
		<key>Word</key>
		<string>jourerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalerna</string>
		<key>Word</key>
		<string>journalerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalisterna</string>
		<key>Word</key>
		<string>journalisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalistiska</string>
		<key>Word</key>
		<string>journalistiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jovialiska</string>
		<key>Word</key>
		<string>jovialiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubelfesterna</string>
		<key>Word</key>
		<string>jubelfesterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubilarerna</string>
		<key>Word</key>
		<string>jubilarerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubileerna</string>
		<key>Word</key>
		<string>jubileerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubla</string>
		<key>Word</key>
		<string>jubla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juda</string>
		<key>Word</key>
		<string>Juda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judarna</string>
		<key>Word</key>
		<string>judarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judekristna</string>
		<key>Word</key>
		<string>judekristna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judiciella</string>
		<key>Word</key>
		<string>judiciella</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judinna</string>
		<key>Word</key>
		<string>judinna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judinnorna</string>
		<key>Word</key>
		<string>judinnorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judiska</string>
		<key>Word</key>
		<string>judiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslaverna</string>
		<key>Word</key>
		<string>jugoslaverna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslaviska</string>
		<key>Word</key>
		<string>jugoslaviska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juicerna</string>
		<key>Word</key>
		<string>juicerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jukeboxarna</string>
		<key>Word</key>
		<string>jukeboxarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julaftnarna</string>
		<key>Word</key>
		<string>julaftnarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jularna</string>
		<key>Word</key>
		<string>jularna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juldagarna</string>
		<key>Word</key>
		<string>juldagarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julfesterna</string>
		<key>Word</key>
		<string>julfesterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julgranarna</string>
		<key>Word</key>
		<string>julgranarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhelgerna</string>
		<key>Word</key>
		<string>julhelgerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhalsningarna</string>
		<key>Word</key>
		<string>julhälsningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julia</string>
		<key>Word</key>
		<string>Julia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juliana</string>
		<key>Word</key>
		<string>Juliana</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julianska</string>
		<key>Word</key>
		<string>julianska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julklapparna</string>
		<key>Word</key>
		<string>julklapparna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullarna</string>
		<key>Word</key>
		<string>jullarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullra</string>
		<key>Word</key>
		<string>jullra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullriga</string>
		<key>Word</key>
		<string>jullriga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julnatterna</string>
		<key>Word</key>
		<string>julnätterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julstamningarna</string>
		<key>Word</key>
		<string>julstämningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultallrikarna</string>
		<key>Word</key>
		<string>jultallrikarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultomtarna</string>
		<key>Word</key>
		<string>jultomtarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jumprarna</string>
		<key>Word</key>
		<string>jumprarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfruliga</string>
		<key>Word</key>
		<string>jungfruliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfrurna</string>
		<key>Word</key>
		<string>jungfrurna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfruoarna</string>
		<key>Word</key>
		<string>Jungfruöarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juniorerna</string>
		<key>Word</key>
		<string>juniorerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>junta</string>
		<key>Word</key>
		<string>junta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juntorna</string>
		<key>Word</key>
		<string>juntorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juridiska</string>
		<key>Word</key>
		<string>juridiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristerna</string>
		<key>Word</key>
		<string>juristerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristkontingenterna</string>
		<key>Word</key>
		<string>juristkontingenterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juryerna</string>
		<key>Word</key>
		<string>juryerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justera</string>
		<key>Word</key>
		<string>justera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerbara</string>
		<key>Word</key>
		<string>justerbara</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justeringarna</string>
		<key>Word</key>
		<string>justeringarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justina</string>
		<key>Word</key>
		<string>Justina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justitieministrarna</string>
		<key>Word</key>
		<string>justitieministrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelerarna</string>
		<key>Word</key>
		<string>juvelerarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelerna</string>
		<key>Word</key>
		<string>juvelerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelprydda</string>
		<key>Word</key>
		<string>juvelprydda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvmerna</string>
		<key>Word</key>
		<string>JVMerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jyllanningarna</string>
		<key>Word</key>
		<string>jyllänningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jyvaskyla</string>
		<key>Word</key>
		<string>Jyväskylä</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagarna</string>
		<key>Word</key>
		<string>jägarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagmastarna</string>
		<key>Word</key>
		<string>jägmästarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakla</string>
		<key>Word</key>
		<string>jäkla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakliga</string>
		<key>Word</key>
		<string>jäkliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakta</string>
		<key>Word</key>
		<string>jäkta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktiga</string>
		<key>Word</key>
		<string>jäktiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jambordiga</string>
		<key>Word</key>
		<string>jämbördiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamfota</string>
		<key>Word</key>
		<string>jämfota</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamfora</string>
		<key>Word</key>
		<string>jämföra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforbara</string>
		<key>Word</key>
		<string>jämförbara</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforda</string>
		<key>Word</key>
		<string>jämförda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforelserna</string>
		<key>Word</key>
		<string>jämförelserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforliga</string>
		<key>Word</key>
		<string>jämförliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamka</string>
		<key>Word</key>
		<string>jämka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamkningarna</string>
		<key>Word</key>
		<string>jämkningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamlika</string>
		<key>Word</key>
		<string>jämlika</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamlikarna</string>
		<key>Word</key>
		<string>jämlikarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jammerliga</string>
		<key>Word</key>
		<string>jämmerliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamna</string>
		<key>Word</key>
		<string>jämna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnbreda</string>
		<key>Word</key>
		<string>jämnbreda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnklippta</string>
		<key>Word</key>
		<string>jämnklippta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnstora</string>
		<key>Word</key>
		<string>jämnstora</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnariga</string>
		<key>Word</key>
		<string>jämnåriga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamra</string>
		<key>Word</key>
		<string>jämra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamspelta</string>
		<key>Word</key>
		<string>jämspelta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalla</string>
		<key>Word</key>
		<string>jämställa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstallda</string>
		<key>Word</key>
		<string>jämställda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfraga</string>
		<key>Word</key>
		<string>jämställdhetsfråga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfragorna</string>
		<key>Word</key>
		<string>jämställdhetsfrågorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfalla</string>
		<key>Word</key>
		<string>jämställdhetsfälla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsfallorna</string>
		<key>Word</key>
		<string>jämställdhetsfällorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstalldhetsministrarna</string>
		<key>Word</key>
		<string>jämställdhetsministrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamtarna</string>
		<key>Word</key>
		<string>jämtarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamtlandska</string>
		<key>Word</key>
		<string>jämtländska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>janta</string>
		<key>Word</key>
		<string>jänta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jantorna</string>
		<key>Word</key>
		<string>jäntorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarfalla</string>
		<key>Word</key>
		<string>Järfälla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarna</string>
		<key>Word</key>
		<string>Järna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnbeslagna</string>
		<key>Word</key>
		<string>järnbeslagna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarngrytsgra</string>
		<key>Word</key>
		<string>järngrytsgrå</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarngrytsgraa</string>
		<key>Word</key>
		<string>järngrytsgråa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnharda</string>
		<key>Word</key>
		<string>järnhårda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnrida</string>
		<key>Word</key>
		<string>järnridå</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnringarna</string>
		<key>Word</key>
		<string>järnringarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnskodda</string>
		<key>Word</key>
		<string>järnskodda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnspisarna</string>
		<key>Word</key>
		<string>järnspisarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagarna</string>
		<key>Word</key>
		<string>järnvägarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagskupeerna</string>
		<key>Word</key>
		<string>järnvägskupéerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvagsstationerna</string>
		<key>Word</key>
		<string>järnvägsstationerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarta</string>
		<key>Word</key>
		<string>Järta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarva</string>
		<key>Word</key>
		<string>Järva</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarvaborna</string>
		<key>Word</key>
		<string>Järvaborna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarvarna</string>
		<key>Word</key>
		<string>järvarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasa</string>
		<key>Word</key>
		<string>jäsa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasta</string>
		<key>Word</key>
		<string>jästa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattarna</string>
		<key>Word</key>
		<string>jättarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattebra</string>
		<key>Word</key>
		<string>jättebra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatteduktiga</string>
		<key>Word</key>
		<string>jätteduktiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattefina</string>
		<key>Word</key>
		<string>jättefina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatteglada</string>
		<key>Word</key>
		<string>jätteglada</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattegoda</string>
		<key>Word</key>
		<string>jättegoda</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattehaftiga</string>
		<key>Word</key>
		<string>jättehäftiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattehoga</string>
		<key>Word</key>
		<string>jättehöga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattekvinna</string>
		<key>Word</key>
		<string>jättekvinna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattekvinnorna</string>
		<key>Word</key>
		<string>jättekvinnorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattelika</string>
		<key>Word</key>
		<string>jättelika</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattelanga</string>
		<key>Word</key>
		<string>jättelånga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatteroliga</string>
		<key>Word</key>
		<string>jätteroliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattestora</string>
		<key>Word</key>
		<string>jättestora</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattesvara</string>
		<key>Word</key>
		<string>jättesvåra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattinna</string>
		<key>Word</key>
		<string>jättinna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattinnorna</string>
		<key>Word</key>
		<string>jättinnorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>java</string>
		<key>Word</key>
		<string>jäva</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javiga</string>
		<key>Word</key>
		<string>jäviga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javla</string>
		<key>Word</key>
		<string>jävla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javlarna</string>
		<key>Word</key>
		<string>jävlarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javliga</string>
		<key>Word</key>
		<string>jävliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joklarna</string>
		<key>Word</key>
		<string>jöklarna</string>
	</dict>
</array>
</plist>
