<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>j-ljud</string>
		<key>Word</key>
		<string>j-ljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jagad</string>
		<key>Word</key>
		<string>jagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japaniserad</string>
		<key>Word</key>
		<string>japaniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesusord</string>
		<key>Word</key>
		<string>Jesusord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jod</string>
		<key>Word</key>
		<string>jod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joniserad</string>
		<key>Word</key>
		<string>joniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jord</string>
		<key>Word</key>
		<string>jord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordad</string>
		<key>Word</key>
		<string>jordad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksbygd</string>
		<key>Word</key>
		<string>jordbruksbygd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksland</string>
		<key>Word</key>
		<string>jordbruksland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordfärgad</string>
		<key>Word</key>
		<string>jordfärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordgubbsland</string>
		<key>Word</key>
		<string>jordgubbsland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jormungrund</string>
		<key>Word</key>
		<string>Jormungrund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josabad</string>
		<key>Word</key>
		<string>Josabad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julbord</string>
		<key>Word</key>
		<string>julbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juletid</string>
		<key>Word</key>
		<string>juletid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justerad</string>
		<key>Word</key>
		<string>justerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvelprydd</string>
		<key>Word</key>
		<string>juvelprydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvm-guld</string>
		<key>Word</key>
		<string>JVM-guld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jylland</string>
		<key>Word</key>
		<string>Jylland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jäktad</string>
		<key>Word</key>
		<string>jäktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämförd</string>
		<key>Word</key>
		<string>jämförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämkad</string>
		<key>Word</key>
		<string>jämkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnad</string>
		<key>Word</key>
		<string>jämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnbred</string>
		<key>Word</key>
		<string>jämnbred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämnhöjd</string>
		<key>Word</key>
		<string>jämnhöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämställd</string>
		<key>Word</key>
		<string>jämställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämtland</string>
		<key>Word</key>
		<string>Jämtland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnhård</string>
		<key>Word</key>
		<string>järnhård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järnskodd</string>
		<key>Word</key>
		<string>järnskodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>järvstrand</string>
		<key>Word</key>
		<string>Järvstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jästid</string>
		<key>Word</key>
		<string>jästid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteglad</string>
		<key>Word</key>
		<string>jätteglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättegod</string>
		<key>Word</key>
		<string>jättegod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jätteträd</string>
		<key>Word</key>
		<string>jätteträd</string>
	</dict>
</array>
</plist>
