<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jag</string>
		<key>Word</key>
		<string>jag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakobsberg</string>
		<key>Word</key>
		<string>Jakobsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japanisering</string>
		<key>Word</key>
		<string>japanisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jardenberg</string>
		<key>Word</key>
		<string>Jardenberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jargong</string>
		<key>Word</key>
		<string>jargong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jernberg</string>
		<key>Word</key>
		<string>Jernberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jerring</string>
		<key>Word</key>
		<string>Jerring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jetflyg</string>
		<key>Word</key>
		<string>jetflyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jiang</string>
		<key>Word</key>
		<string>Jiang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jobbig</string>
		<key>Word</key>
		<string>jobbig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joggning</string>
		<key>Word</key>
		<string>joggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johanneberg</string>
		<key>Word</key>
		<string>Johanneberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>johannesburg</string>
		<key>Word</key>
		<string>Johannesburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jong</string>
		<key>Word</key>
		<string>Jong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksforetag</string>
		<key>Word</key>
		<string>jordbruksföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbavning</string>
		<key>Word</key>
		<string>jordbävning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordformedling</string>
		<key>Word</key>
		<string>jordförmedling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalskrivning</string>
		<key>Word</key>
		<string>journalskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juldag</string>
		<key>Word</key>
		<string>juldag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhelg</string>
		<key>Word</key>
		<string>julhelg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julhalsning</string>
		<key>Word</key>
		<string>julhälsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jullrig</string>
		<key>Word</key>
		<string>jullrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julstamning</string>
		<key>Word</key>
		<string>julstämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jungfrulig</string>
		<key>Word</key>
		<string>jungfrulig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juristinventering</string>
		<key>Word</key>
		<string>juristinventering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>justering</string>
		<key>Word</key>
		<string>justering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaklig</string>
		<key>Word</key>
		<string>jäklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaktig</string>
		<key>Word</key>
		<string>jäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jambordig</string>
		<key>Word</key>
		<string>jämbördig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamforlig</string>
		<key>Word</key>
		<string>jämförlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamkning</string>
		<key>Word</key>
		<string>jämkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jammerlig</string>
		<key>Word</key>
		<string>jämmerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnhog</string>
		<key>Word</key>
		<string>Jämnhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamnarig</string>
		<key>Word</key>
		<string>jämnårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamshog</string>
		<key>Word</key>
		<string>Jämshög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnbeslag</string>
		<key>Word</key>
		<string>järnbeslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnring</string>
		<key>Word</key>
		<string>järnring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarnvag</string>
		<key>Word</key>
		<string>järnväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jasning</string>
		<key>Word</key>
		<string>jäsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatteduktig</string>
		<key>Word</key>
		<string>jätteduktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattehaftig</string>
		<key>Word</key>
		<string>jättehäftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattehog</string>
		<key>Word</key>
		<string>jättehög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattelang</string>
		<key>Word</key>
		<string>jättelång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jatterolig</string>
		<key>Word</key>
		<string>jätterolig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javig</string>
		<key>Word</key>
		<string>jävig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javlig</string>
		<key>Word</key>
		<string>jävlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jonkoping</string>
		<key>Word</key>
		<string>Jönköping</string>
	</dict>
</array>
</plist>
