<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jack</string>
		<key>Word</key>
		<string>Jack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jack</string>
		<key>Word</key>
		<string>jack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jak</string>
		<key>Word</key>
		<string>jak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jakutsk</string>
		<key>Word</key>
		<string>Jakutsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>janácek</string>
		<key>Word</key>
		<string>Janácek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japansk</string>
		<key>Word</key>
		<string>japansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jfk</string>
		<key>Word</key>
		<string>JFK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojk</string>
		<key>Word</key>
		<string>jojk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokkmokk</string>
		<key>Word</key>
		<string>Jokkmokk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordabalk</string>
		<key>Word</key>
		<string>jordabalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordansk</string>
		<key>Word</key>
		<string>jordansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruk</string>
		<key>Word</key>
		<string>jordbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksmark</string>
		<key>Word</key>
		<string>jordbruksmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordisk</string>
		<key>Word</key>
		<string>jordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>josadak</string>
		<key>Word</key>
		<string>Josadak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalistik</string>
		<key>Word</key>
		<string>journalistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalistisk</string>
		<key>Word</key>
		<string>journalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jovialisk</string>
		<key>Word</key>
		<string>jovialisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judisk</string>
		<key>Word</key>
		<string>judisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jugoslavisk</string>
		<key>Word</key>
		<string>jugoslavisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juliansk</string>
		<key>Word</key>
		<string>juliansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jultallrik</string>
		<key>Word</key>
		<string>jultallrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juridik</string>
		<key>Word</key>
		<string>juridik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juridisk</string>
		<key>Word</key>
		<string>juridisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämlik</string>
		<key>Word</key>
		<string>jämlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jämtländsk</string>
		<key>Word</key>
		<string>jämtländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jättelik</string>
		<key>Word</key>
		<string>jättelik</string>
	</dict>
</array>
</plist>
