<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jardevall</string>
		<key>Word</key>
		<string>Jardevall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarl</string>
		<key>Word</key>
		<string>Jarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarl</string>
		<key>Word</key>
		<string>jarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jaroslavl</string>
		<key>Word</key>
		<string>Jaroslavl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jill</string>
		<key>Word</key>
		<string>Jill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jisreel</string>
		<key>Word</key>
		<string>Jisreel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joel</string>
		<key>Word</key>
		<string>Joel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordaxel</string>
		<key>Word</key>
		<string>jordaxel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journal</string>
		<key>Word</key>
		<string>journal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubel</string>
		<key>Word</key>
		<string>jubel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judiciell</string>
		<key>Word</key>
		<string>judiciell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jul</string>
		<key>Word</key>
		<string>jul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>juvel</string>
		<key>Word</key>
		<string>juvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamstall</string>
		<key>Word</key>
		<string>jämställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamval</string>
		<key>Word</key>
		<string>jämväl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jattekul</string>
		<key>Word</key>
		<string>jättekul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javel</string>
		<key>Word</key>
		<string>jävel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jokel</string>
		<key>Word</key>
		<string>jökel</string>
	</dict>
</array>
</plist>
