<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>javaprogram</string>
		<key>Word</key>
		<string>Javaprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jerobeam</string>
		<key>Word</key>
		<string>Jerobeam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jerusalem</string>
		<key>Word</key>
		<string>Jerusalem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jim</string>
		<key>Word</key>
		<string>Jim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joachim</string>
		<key>Word</key>
		<string>Joachim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joakim</string>
		<key>Word</key>
		<string>Joakim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jockum</string>
		<key>Word</key>
		<string>Jockum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jojakim</string>
		<key>Word</key>
		<string>Jojakim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>joram</string>
		<key>Word</key>
		<string>Joram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbrukarungdom</string>
		<key>Word</key>
		<string>jordbrukarungdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordstam</string>
		<key>Word</key>
		<string>jordstam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jotam</string>
		<key>Word</key>
		<string>Jotam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jotunheim</string>
		<key>Word</key>
		<string>Jotunheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>journalism</string>
		<key>Word</key>
		<string>journalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jubileum</string>
		<key>Word</key>
		<string>jubileum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>judendom</string>
		<key>Word</key>
		<string>judendom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jvm</string>
		<key>Word</key>
		<string>JVM</string>
	</dict>
</array>
</plist>
