<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>japp</string>
		<key>Word</key>
		<string>japp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jeep</string>
		<key>Word</key>
		<string>jeep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jesup</string>
		<key>Word</key>
		<string>Jesup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jordbruksredskap</string>
		<key>Word</key>
		<string>jordbruksredskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>julklapp</string>
		<key>Word</key>
		<string>julklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jamfotahopp</string>
		<key>Word</key>
		<string>jämfotahopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarngrepp</string>
		<key>Word</key>
		<string>järngrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>jarstorp</string>
		<key>Word</key>
		<string>Järstorp</string>
	</dict>
</array>
</plist>
