<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kablad</string>
		<key>Word</key>
		<string>kablad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaffebord</string>
		<key>Word</key>
		<string>kaffebord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaffebrod</string>
		<key>Word</key>
		<string>kaffebröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kakelmurad</string>
		<key>Word</key>
		<string>kakelmurad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalendermanad</string>
		<key>Word</key>
		<string>kalendermånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalibrerad</string>
		<key>Word</key>
		<string>kalibrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaliningrad</string>
		<key>Word</key>
		<string>Kaliningrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkad</string>
		<key>Word</key>
		<string>kalkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkblad</string>
		<key>Word</key>
		<string>kalkblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkylblad</string>
		<key>Word</key>
		<string>kalkylblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkylerad</string>
		<key>Word</key>
		<string>kalkylerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallad</string>
		<key>Word</key>
		<string>kallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallhamrad</string>
		<key>Word</key>
		<string>kallhamrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallnad</string>
		<key>Word</key>
		<string>kallnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalmarsund</string>
		<key>Word</key>
		<string>Kalmarsund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kammad</string>
		<key>Word</key>
		<string>kammad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kammarrad</string>
		<key>Word</key>
		<string>kammarråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kamprad</string>
		<key>Word</key>
		<string>Kamprad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanaliserad</string>
		<key>Word</key>
		<string>kanaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanderad</string>
		<key>Word</key>
		<string>kanderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanonad</string>
		<key>Word</key>
		<string>kanonad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanslirad</string>
		<key>Word</key>
		<string>kansliråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kantad</string>
		<key>Word</key>
		<string>kantad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kantstalld</string>
		<key>Word</key>
		<string>kantställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapad</string>
		<key>Word</key>
		<string>kapad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapitulerad</string>
		<key>Word</key>
		<string>kapitulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapsejsad</string>
		<key>Word</key>
		<string>kapsejsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapslad</string>
		<key>Word</key>
		<string>kapslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karakteriserad</string>
		<key>Word</key>
		<string>karakteriserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karaktariserad</string>
		<key>Word</key>
		<string>karaktäriserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karbid</string>
		<key>Word</key>
		<string>karbid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kardad</string>
		<key>Word</key>
		<string>kardad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karenstid</string>
		<key>Word</key>
		<string>karenstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karikerad</string>
		<key>Word</key>
		<string>karikerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlsbad</string>
		<key>Word</key>
		<string>Karlsbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlstad</string>
		<key>Word</key>
		<string>Karlstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartblad</string>
		<key>Word</key>
		<string>kartblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartlagd</string>
		<key>Word</key>
		<string>kartlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karvad</string>
		<key>Word</key>
		<string>karvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kasernerad</string>
		<key>Word</key>
		<string>kasernerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaserntid</string>
		<key>Word</key>
		<string>kaserntid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaskad</string>
		<key>Word</key>
		<string>kaskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kasserad</string>
		<key>Word</key>
		<string>kasserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastad</string>
		<key>Word</key>
		<string>kastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastrerad</string>
		<key>Word</key>
		<string>kastrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katalogiserad</string>
		<key>Word</key>
		<string>katalogiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kategoriserad</string>
		<key>Word</key>
		<string>kategoriserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kavalkad</string>
		<key>Word</key>
		<string>kavalkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kavlad</string>
		<key>Word</key>
		<string>kavlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kedjad</string>
		<key>Word</key>
		<string>kedjad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kemtvattad</string>
		<key>Word</key>
		<string>kemtvättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kexchoklad</string>
		<key>Word</key>
		<string>kexchoklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kickad</string>
		<key>Word</key>
		<string>kickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kid</string>
		<key>Word</key>
		<string>kid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kidnappad</string>
		<key>Word</key>
		<string>kidnappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kilad</string>
		<key>Word</key>
		<string>kilad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kind</string>
		<key>Word</key>
		<string>kind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kiselkarbid</string>
		<key>Word</key>
		<string>kiselkarbid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kissad</string>
		<key>Word</key>
		<string>kissad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kittlad</string>
		<key>Word</key>
		<string>kittlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klackad</string>
		<key>Word</key>
		<string>klackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladd</string>
		<key>Word</key>
		<string>kladd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladdad</string>
		<key>Word</key>
		<string>kladdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klagad</string>
		<key>Word</key>
		<string>klagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klandervard</string>
		<key>Word</key>
		<string>klandervärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klandrad</string>
		<key>Word</key>
		<string>klandrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klappad</string>
		<key>Word</key>
		<string>klappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarad</string>
		<key>Word</key>
		<string>klarad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarerad</string>
		<key>Word</key>
		<string>klarerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klargjord</string>
		<key>Word</key>
		<string>klargjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarlagd</string>
		<key>Word</key>
		<string>klarlagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarnad</string>
		<key>Word</key>
		<string>klarnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarrod</string>
		<key>Word</key>
		<string>klarröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassad</string>
		<key>Word</key>
		<string>klassad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassificerad</string>
		<key>Word</key>
		<string>klassificerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klasskillnad</string>
		<key>Word</key>
		<string>klasskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klenmod</string>
		<key>Word</key>
		<string>klenmod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klenod</string>
		<key>Word</key>
		<string>klenod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kletad</string>
		<key>Word</key>
		<string>kletad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kliad</string>
		<key>Word</key>
		<string>kliad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klickad</string>
		<key>Word</key>
		<string>klickad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klientiserad</string>
		<key>Word</key>
		<string>klientiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klistrad</string>
		<key>Word</key>
		<string>klistrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klockad</string>
		<key>Word</key>
		<string>klockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klonad</string>
		<key>Word</key>
		<string>klonad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klorerad</string>
		<key>Word</key>
		<string>klorerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klosterbyggnad</string>
		<key>Word</key>
		<string>klosterbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klottrad</string>
		<key>Word</key>
		<string>klottrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klubbad</string>
		<key>Word</key>
		<string>klubbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klad</string>
		<key>Word</key>
		<string>kläd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladd</string>
		<key>Word</key>
		<string>klädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladnad</string>
		<key>Word</key>
		<string>klädnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klamd</string>
		<key>Word</key>
		<string>klämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladd</string>
		<key>Word</key>
		<string>klådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knackad</string>
		<key>Word</key>
		<string>knackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knipsad</string>
		<key>Word</key>
		<string>knipsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knivdodad</string>
		<key>Word</key>
		<string>knivdödad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knockad</string>
		<key>Word</key>
		<string>knockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knoppningstid</string>
		<key>Word</key>
		<string>knoppningstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knuffad</string>
		<key>Word</key>
		<string>knuffad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knullad</string>
		<key>Word</key>
		<string>knullad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knycklad</string>
		<key>Word</key>
		<string>knycklad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knystad</string>
		<key>Word</key>
		<string>knystad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knaad</string>
		<key>Word</key>
		<string>knäad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knabojd</string>
		<key>Word</key>
		<string>knäböjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knackebrod</string>
		<key>Word</key>
		<string>knäckebröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knadad</string>
		<key>Word</key>
		<string>knådad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kod</string>
		<key>Word</key>
		<string>kod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kodad</string>
		<key>Word</key>
		<string>kodad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kodord</string>
		<key>Word</key>
		<string>kodord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokablad</string>
		<key>Word</key>
		<string>kokablad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokad</string>
		<key>Word</key>
		<string>kokad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokard</string>
		<key>Word</key>
		<string>kokard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolbaserad</string>
		<key>Word</key>
		<string>kolbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koldioxid</string>
		<key>Word</key>
		<string>koldioxid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollad</string>
		<key>Word</key>
		<string>kollad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollapsad</string>
		<key>Word</key>
		<string>kollapsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektiviserad</string>
		<key>Word</key>
		<string>kollektiviserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolliderad</string>
		<key>Word</key>
		<string>kolliderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolmonoxid</string>
		<key>Word</key>
		<string>kolmonoxid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koloniserad</string>
		<key>Word</key>
		<string>koloniserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolonnad</string>
		<key>Word</key>
		<string>kolonnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koloxid</string>
		<key>Word</key>
		<string>koloxid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kombinerad</string>
		<key>Word</key>
		<string>kombinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommandorad</string>
		<key>Word</key>
		<string>kommandorad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommaterad</string>
		<key>Word</key>
		<string>kommaterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommenderad</string>
		<key>Word</key>
		<string>kommenderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommenterad</string>
		<key>Word</key>
		<string>kommenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommerserad</string>
		<key>Word</key>
		<string>kommerseråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommersialiserad</string>
		<key>Word</key>
		<string>kommersialiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommod</string>
		<key>Word</key>
		<string>kommod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunalnamnd</string>
		<key>Word</key>
		<string>kommunalnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunicerad</string>
		<key>Word</key>
		<string>kommunicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompaktifierad</string>
		<key>Word</key>
		<string>kompaktifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompenserad</string>
		<key>Word</key>
		<string>kompenserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompilerad</string>
		<key>Word</key>
		<string>kompilerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplementmangd</string>
		<key>Word</key>
		<string>komplementmängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompletterad</string>
		<key>Word</key>
		<string>kompletterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplexvard</string>
		<key>Word</key>
		<string>komplexvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplicerad</string>
		<key>Word</key>
		<string>komplicerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplimenterad</string>
		<key>Word</key>
		<string>komplimenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komponerad</string>
		<key>Word</key>
		<string>komponerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komposterad</string>
		<key>Word</key>
		<string>komposterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komprimerad</string>
		<key>Word</key>
		<string>komprimerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komprometterad</string>
		<key>Word</key>
		<string>komprometterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koncentrerad</string>
		<key>Word</key>
		<string>koncentrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kondenserad</string>
		<key>Word</key>
		<string>kondenserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfigurerad</string>
		<key>Word</key>
		<string>konfigurerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfirmerad</string>
		<key>Word</key>
		<string>konfirmerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfiskerad</string>
		<key>Word</key>
		<string>konfiskerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfliktfylld</string>
		<key>Word</key>
		<string>konfliktfylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfronterad</string>
		<key>Word</key>
		<string>konfronterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfunderad</string>
		<key>Word</key>
		<string>konfunderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konjugerad</string>
		<key>Word</key>
		<string>konjugerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkatenerad</string>
		<key>Word</key>
		<string>konkatenerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkretiserad</string>
		<key>Word</key>
		<string>konkretiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkurrerad</string>
		<key>Word</key>
		<string>konkurrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konrad</string>
		<key>Word</key>
		<string>Konrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konserverad</string>
		<key>Word</key>
		<string>konserverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsoliderad</string>
		<key>Word</key>
		<string>konsoliderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstaterad</string>
		<key>Word</key>
		<string>konstaterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstgjord</string>
		<key>Word</key>
		<string>konstgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstituerad</string>
		<key>Word</key>
		<string>konstituerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstlad</string>
		<key>Word</key>
		<string>konstlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstruerad</string>
		<key>Word</key>
		<string>konstruerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsulterad</string>
		<key>Word</key>
		<string>konsulterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsumerad</string>
		<key>Word</key>
		<string>konsumerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontaktad</string>
		<key>Word</key>
		<string>kontaktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontrakterad</string>
		<key>Word</key>
		<string>kontrakterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontrasterad</string>
		<key>Word</key>
		<string>kontrasterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontrollerad</string>
		<key>Word</key>
		<string>kontrollerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konverserad</string>
		<key>Word</key>
		<string>konverserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konverterad</string>
		<key>Word</key>
		<string>konverterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koordinerad</string>
		<key>Word</key>
		<string>koordinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopierad</string>
		<key>Word</key>
		<string>kopierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopieringsskydd</string>
		<key>Word</key>
		<string>kopieringsskydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koppartrad</string>
		<key>Word</key>
		<string>koppartråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopplad</string>
		<key>Word</key>
		<string>kopplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korad</string>
		<key>Word</key>
		<string>korad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korkad</string>
		<key>Word</key>
		<string>korkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrelerad</string>
		<key>Word</key>
		<string>korrelerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrigerad</string>
		<key>Word</key>
		<string>korrigerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrugerad</string>
		<key>Word</key>
		<string>korrugerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrumperad</string>
		<key>Word</key>
		<string>korrumperad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsad</string>
		<key>Word</key>
		<string>korsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsord</string>
		<key>Word</key>
		<string>korsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsvaliderad</string>
		<key>Word</key>
		<string>korsvaliderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortad</string>
		<key>Word</key>
		<string>kortad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortfattad</string>
		<key>Word</key>
		<string>kortfattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortlivad</string>
		<key>Word</key>
		<string>kortlivad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortsnaggad</string>
		<key>Word</key>
		<string>kortsnaggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korttidsutbildad</string>
		<key>Word</key>
		<string>korttidsutbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortvagsband</string>
		<key>Word</key>
		<string>kortvågsband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortarmad</string>
		<key>Word</key>
		<string>kortärmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnad</string>
		<key>Word</key>
		<string>kostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kramad</string>
		<key>Word</key>
		<string>kramad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kransad</string>
		<key>Word</key>
		<string>kransad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraschad</string>
		<key>Word</key>
		<string>kraschad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraschlandad</string>
		<key>Word</key>
		<string>kraschlandad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krattad</string>
		<key>Word</key>
		<string>krattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kretskopplad</string>
		<key>Word</key>
		<string>kretskopplad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigsgud</string>
		<key>Word</key>
		<string>krigsgud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigsrad</string>
		<key>Word</key>
		<string>krigsråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigstid</string>
		<key>Word</key>
		<string>krigstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminaliserad</string>
		<key>Word</key>
		<string>kriminaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminalvard</string>
		<key>Word</key>
		<string>kriminalvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kringbyggd</string>
		<key>Word</key>
		<string>kringbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kringjublad</string>
		<key>Word</key>
		<string>kringjublad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kringkastad</string>
		<key>Word</key>
		<string>kringkastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kringord</string>
		<key>Word</key>
		<string>kringord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kringspridd</string>
		<key>Word</key>
		<string>kringspridd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristianstad</string>
		<key>Word</key>
		<string>Kristianstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristnad</string>
		<key>Word</key>
		<string>kristnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristusbild</string>
		<key>Word</key>
		<string>Kristusbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kritiserad</string>
		<key>Word</key>
		<string>kritiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krockad</string>
		<key>Word</key>
		<string>krockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronblad</string>
		<key>Word</key>
		<string>kronblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronogard</string>
		<key>Word</key>
		<string>kronogård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kroppsvisiterad</string>
		<key>Word</key>
		<string>kroppsvisiterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krossad</string>
		<key>Word</key>
		<string>krossad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krusad</string>
		<key>Word</key>
		<string>krusad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryddad</string>
		<key>Word</key>
		<string>kryddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryddgard</string>
		<key>Word</key>
		<string>kryddgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krypterad</string>
		<key>Word</key>
		<string>krypterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryssad</string>
		<key>Word</key>
		<string>kryssad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krystad</string>
		<key>Word</key>
		<string>krystad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krangd</string>
		<key>Word</key>
		<string>krängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krasmagad</string>
		<key>Word</key>
		<string>kräsmagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kravd</string>
		<key>Word</key>
		<string>krävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuggad</string>
		<key>Word</key>
		<string>kuggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kukad</string>
		<key>Word</key>
		<string>kukad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulad</string>
		<key>Word</key>
		<string>kulad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullad</string>
		<key>Word</key>
		<string>kullad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullerstenslagd</string>
		<key>Word</key>
		<string>kullerstenslagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullkastad</string>
		<key>Word</key>
		<string>kullkastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulminerad</string>
		<key>Word</key>
		<string>kulminerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kultiverad</string>
		<key>Word</key>
		<string>kultiverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturfond</string>
		<key>Word</key>
		<string>kulturfond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturrad</string>
		<key>Word</key>
		<string>kulturråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kund</string>
		<key>Word</key>
		<string>kund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kundinformationsblad</string>
		<key>Word</key>
		<string>kundinformationsblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungablod</string>
		<key>Word</key>
		<string>kungablod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungjord</string>
		<key>Word</key>
		<string>kungjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungsgard</string>
		<key>Word</key>
		<string>kungsgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungsord</string>
		<key>Word</key>
		<string>kungsord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapsbaserad</string>
		<key>Word</key>
		<string>kunskapsbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapsuppbyggnad</string>
		<key>Word</key>
		<string>kunskapsuppbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kupad</string>
		<key>Word</key>
		<string>kupad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuperad</string>
		<key>Word</key>
		<string>kuperad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurd</string>
		<key>Word</key>
		<string>kurd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurerad</string>
		<key>Word</key>
		<string>kurerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurland</string>
		<key>Word</key>
		<string>Kurland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kursiverad</string>
		<key>Word</key>
		<string>kursiverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuschad</string>
		<key>Word</key>
		<string>kuschad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kustland</string>
		<key>Word</key>
		<string>kustland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuvad</string>
		<key>Word</key>
		<string>kuvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvad</string>
		<key>Word</key>
		<string>kvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvaddad</string>
		<key>Word</key>
		<string>kvaddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvald</string>
		<key>Word</key>
		<string>kvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvalificerad</string>
		<key>Word</key>
		<string>kvalificerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantifierad</string>
		<key>Word</key>
		<string>kvantifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarglomd</string>
		<key>Word</key>
		<string>kvarglömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarlamnad</string>
		<key>Word</key>
		<string>kvarlämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarstad</string>
		<key>Word</key>
		<string>kvarstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarstod</string>
		<key>Word</key>
		<string>kvarstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kved</string>
		<key>Word</key>
		<string>kved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvid</string>
		<key>Word</key>
		<string>kvid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvinnodominerad</string>
		<key>Word</key>
		<string>kvinnodominerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvinnoforbund</string>
		<key>Word</key>
		<string>kvinnoförbund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvistad</string>
		<key>Word</key>
		<string>kvistad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvittad</string>
		<key>Word</key>
		<string>kvittad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvitterad</string>
		<key>Word</key>
		<string>kvitterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvoterad</string>
		<key>Word</key>
		<string>kvoterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvad</string>
		<key>Word</key>
		<string>kväd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvaljd</string>
		<key>Word</key>
		<string>kväljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvallsvard</string>
		<key>Word</key>
		<string>kvällsvard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvavd</string>
		<key>Word</key>
		<string>kvävd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvaveforrad</string>
		<key>Word</key>
		<string>kväveförråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvaveoxid</string>
		<key>Word</key>
		<string>kväveoxid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyld</string>
		<key>Word</key>
		<string>kyld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkerud</string>
		<key>Word</key>
		<string>Kyrkerud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkobyggnad</string>
		<key>Word</key>
		<string>kyrkobyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkogard</string>
		<key>Word</key>
		<string>kyrkogård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kakad</string>
		<key>Word</key>
		<string>käkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallkod</string>
		<key>Word</key>
		<string>källkod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kand</string>
		<key>Word</key>
		<string>känd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kannetecknad</string>
		<key>Word</key>
		<string>kännetecknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karleksgud</string>
		<key>Word</key>
		<string>kärleksgud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karnad</string>
		<key>Word</key>
		<string>kärnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kakstad</string>
		<key>Word</key>
		<string>kåkstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalland</string>
		<key>Word</key>
		<string>Kålland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koksbord</string>
		<key>Word</key>
		<string>köksbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kold</string>
		<key>Word</key>
		<string>köld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koldgrad</string>
		<key>Word</key>
		<string>köldgrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsskillnad</string>
		<key>Word</key>
		<string>könsskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koprad</string>
		<key>Word</key>
		<string>köpråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kord</string>
		<key>Word</key>
		<string>körd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsbarstrad</string>
		<key>Word</key>
		<string>körsbärsträd</string>
	</dict>
</array>
</plist>
