<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kakelvägg</string>
		<key>Word</key>
		<string>kakelvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalhugg</string>
		<key>Word</key>
		<string>kalhugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalhögg</string>
		<key>Word</key>
		<string>kalhögg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalibrering</string>
		<key>Word</key>
		<string>kalibrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kallsinnig</string>
		<key>Word</key>
		<string>kallsinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalsong</string>
		<key>Word</key>
		<string>kalsong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kamratlig</string>
		<key>Word</key>
		<string>kamratlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanalisering</string>
		<key>Word</key>
		<string>kanalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kantig</string>
		<key>Word</key>
		<string>kantig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapning</string>
		<key>Word</key>
		<string>kapning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapplöpning</string>
		<key>Word</key>
		<string>kapplöpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapsling</string>
		<key>Word</key>
		<string>kapsling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karakterisering</string>
		<key>Word</key>
		<string>karakterisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karaktärsdaning</string>
		<key>Word</key>
		<string>karaktärsdaning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karaktärsdrag</string>
		<key>Word</key>
		<string>karaktärsdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kardiolog</string>
		<key>Word</key>
		<string>kardiolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karensdag</string>
		<key>Word</key>
		<string>karensdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karg</string>
		<key>Word</key>
		<string>karg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlatag</string>
		<key>Word</key>
		<string>karlatag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlberg</string>
		<key>Word</key>
		<string>Karlberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlsborg</string>
		<key>Word</key>
		<string>Karlsborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartering</string>
		<key>Word</key>
		<string>kartering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartlägg</string>
		<key>Word</key>
		<string>kartlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartläggning</string>
		<key>Word</key>
		<string>kartläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartong</string>
		<key>Word</key>
		<string>kartong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastrering</string>
		<key>Word</key>
		<string>kastrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katalog</string>
		<key>Word</key>
		<string>katalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katalogföretag</string>
		<key>Word</key>
		<string>katalogföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katalogisering</string>
		<key>Word</key>
		<string>katalogisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kategorisering</string>
		<key>Word</key>
		<string>kategorisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katrineberg</string>
		<key>Word</key>
		<string>Katrineberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaxig</string>
		<key>Word</key>
		<string>kaxig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kejserlig</string>
		<key>Word</key>
		<string>kejserlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kelig</string>
		<key>Word</key>
		<string>kelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kenning</string>
		<key>Word</key>
		<string>kenning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kg</string>
		<key>Word</key>
		<string>kg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kidnappning</string>
		<key>Word</key>
		<string>kidnappning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>killing</string>
		<key>Word</key>
		<string>killing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>king</string>
		<key>Word</key>
		<string>King</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kinkig</string>
		<key>Word</key>
		<string>kinkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kirurg</string>
		<key>Word</key>
		<string>kirurg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kitslig</string>
		<key>Word</key>
		<string>kitslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kittlig</string>
		<key>Word</key>
		<string>kittlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kjellberg</string>
		<key>Word</key>
		<string>Kjellberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kladdig</string>
		<key>Word</key>
		<string>kladdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klagosång</string>
		<key>Word</key>
		<string>klagosång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klang</string>
		<key>Word</key>
		<string>klang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klantig</string>
		<key>Word</key>
		<string>klantig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarlägg</string>
		<key>Word</key>
		<string>klarlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassificering</string>
		<key>Word</key>
		<string>klassificering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassning</string>
		<key>Word</key>
		<string>klassning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klatschig</string>
		<key>Word</key>
		<string>klatschig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klemming</string>
		<key>Word</key>
		<string>Klemming</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klenmodig</string>
		<key>Word</key>
		<string>klenmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kletig</string>
		<key>Word</key>
		<string>kletig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klibbig</string>
		<key>Word</key>
		<string>klibbig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klientisering</string>
		<key>Word</key>
		<string>klientisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kling</string>
		<key>Word</key>
		<string>Kling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klippig</string>
		<key>Word</key>
		<string>klippig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klippning</string>
		<key>Word</key>
		<string>klippning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klippvarning</string>
		<key>Word</key>
		<string>klippvarning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klockslag</string>
		<key>Word</key>
		<string>klockslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klong</string>
		<key>Word</key>
		<string>Klong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kloning</string>
		<key>Word</key>
		<string>kloning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klubbtidning</string>
		<key>Word</key>
		<string>klubbtidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klumpig</string>
		<key>Word</key>
		<string>klumpig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klurig</string>
		<key>Word</key>
		<string>klurig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klyftig</string>
		<key>Word</key>
		<string>klyftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klyvning</string>
		<key>Word</key>
		<string>klyvning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klädesplagg</string>
		<key>Word</key>
		<string>klädesplagg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klädföretag</string>
		<key>Word</key>
		<string>klädföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klädinsamling</string>
		<key>Word</key>
		<string>klädinsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klädning</string>
		<key>Word</key>
		<string>klädning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kläng</string>
		<key>Word</key>
		<string>kläng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klänning</string>
		<key>Word</key>
		<string>klänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klättring</string>
		<key>Word</key>
		<string>klättring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klåfingrig</string>
		<key>Word</key>
		<string>klåfingrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knackig</string>
		<key>Word</key>
		<string>knackig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knackning</string>
		<key>Word</key>
		<string>knackning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knagglig</string>
		<key>Word</key>
		<string>knagglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knapphändig</string>
		<key>Word</key>
		<string>knapphändig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knaprig</string>
		<key>Word</key>
		<string>knaprig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knarrig</string>
		<key>Word</key>
		<string>knarrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knasig</string>
		<key>Word</key>
		<string>knasig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knastrig</string>
		<key>Word</key>
		<string>knastrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kneg</string>
		<key>Word</key>
		<string>kneg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knepig</string>
		<key>Word</key>
		<string>knepig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knifving</string>
		<key>Word</key>
		<string>Knifving</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knipslug</string>
		<key>Word</key>
		<string>knipslug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knivhugg</string>
		<key>Word</key>
		<string>knivhugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knivhögg</string>
		<key>Word</key>
		<string>knivhögg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knivig</string>
		<key>Word</key>
		<string>knivig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knog</string>
		<key>Word</key>
		<string>knog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knorring</string>
		<key>Word</key>
		<string>Knorring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knotig</string>
		<key>Word</key>
		<string>knotig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knottrig</string>
		<key>Word</key>
		<string>knottrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knubbig</string>
		<key>Word</key>
		<string>knubbig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knusslig</string>
		<key>Word</key>
		<string>knusslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knyckig</string>
		<key>Word</key>
		<string>knyckig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knyppling</string>
		<key>Word</key>
		<string>knyppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knäppning</string>
		<key>Word</key>
		<string>knäppning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knölig</string>
		<key>Word</key>
		<string>knölig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koagulering</string>
		<key>Word</key>
		<string>koagulering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kocklag</string>
		<key>Word</key>
		<string>kocklag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kodning</string>
		<key>Word</key>
		<string>kodning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokning</string>
		<key>Word</key>
		<string>kokning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokong</string>
		<key>Word</key>
		<string>kokong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolhög</string>
		<key>Word</key>
		<string>kolhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektivanslutning</string>
		<key>Word</key>
		<string>kollektivanslutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolonisering</string>
		<key>Word</key>
		<string>kolonisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommatering</string>
		<key>Word</key>
		<string>kommatering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommersialisering</string>
		<key>Word</key>
		<string>kommersialisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommittéförordning</string>
		<key>Word</key>
		<string>kommittéförordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunalfullmäktig</string>
		<key>Word</key>
		<string>kommunalfullmäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunallag</string>
		<key>Word</key>
		<string>kommunallag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunfullmäktig</string>
		<key>Word</key>
		<string>kommunfullmäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunikationslösning</string>
		<key>Word</key>
		<string>kommunikationslösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompendieförmedling</string>
		<key>Word</key>
		<string>kompendieförmedling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompensering</string>
		<key>Word</key>
		<string>kompensering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompetenshöjning</string>
		<key>Word</key>
		<string>kompetenshöjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompetensutveckling</string>
		<key>Word</key>
		<string>kompetensutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompilering</string>
		<key>Word</key>
		<string>kompilering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplettering</string>
		<key>Word</key>
		<string>komplettering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplimang</string>
		<key>Word</key>
		<string>komplimang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komprimering</string>
		<key>Word</key>
		<string>komprimering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfigurationshantering</string>
		<key>Word</key>
		<string>konfigurationshantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfigurering</string>
		<key>Word</key>
		<string>konfigurering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konfiskering</string>
		<key>Word</key>
		<string>konfiskering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kong</string>
		<key>Word</key>
		<string>Kong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkursmässig</string>
		<key>Word</key>
		<string>konkursmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsekvensbedömning</string>
		<key>Word</key>
		<string>konsekvensbedömning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konservering</string>
		<key>Word</key>
		<string>konservering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstbevattning</string>
		<key>Word</key>
		<string>konstbevattning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstig</string>
		<key>Word</key>
		<string>konstig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstnärlig</string>
		<key>Word</key>
		<string>konstnärlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstriktning</string>
		<key>Word</key>
		<string>konstriktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstruktionsritning</string>
		<key>Word</key>
		<string>konstruktionsritning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstsamling</string>
		<key>Word</key>
		<string>konstsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstutställning</string>
		<key>Word</key>
		<string>konstutställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsultbolag</string>
		<key>Word</key>
		<string>konsultbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsultföretag</string>
		<key>Word</key>
		<string>konsultföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontinuerlig</string>
		<key>Word</key>
		<string>kontinuerlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontring</string>
		<key>Word</key>
		<string>kontring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontrolläsning</string>
		<key>Word</key>
		<string>kontrolläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konung</string>
		<key>Word</key>
		<string>konung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konungslig</string>
		<key>Word</key>
		<string>konungslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konvertering</string>
		<key>Word</key>
		<string>konvertering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopiering</string>
		<key>Word</key>
		<string>kopiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopieringsutrustning</string>
		<key>Word</key>
		<string>kopieringsutrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopparberg</string>
		<key>Word</key>
		<string>Kopparberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koppling</string>
		<key>Word</key>
		<string>koppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korg</string>
		<key>Word</key>
		<string>korg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kornig</string>
		<key>Word</key>
		<string>kornig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrekturläsning</string>
		<key>Word</key>
		<string>korrekturläsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korrigering</string>
		<key>Word</key>
		<string>korrigering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsning</string>
		<key>Word</key>
		<string>korsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsordslösning</string>
		<key>Word</key>
		<string>korsordslösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korståg</string>
		<key>Word</key>
		<string>korståg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsvalidering</string>
		<key>Word</key>
		<string>korsvalidering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortsiktig</string>
		<key>Word</key>
		<string>kortsiktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortslutning</string>
		<key>Word</key>
		<string>kortslutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortvarig</string>
		<key>Word</key>
		<string>kortvarig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortvåg</string>
		<key>Word</key>
		<string>kortvåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korvgrillning</string>
		<key>Word</key>
		<string>korvgrillning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korvstoppning</string>
		<key>Word</key>
		<string>korvstoppning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmolog</string>
		<key>Word</key>
		<string>kosmolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kospillning</string>
		<key>Word</key>
		<string>kospillning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostlig</string>
		<key>Word</key>
		<string>kostlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnadsberäkning</string>
		<key>Word</key>
		<string>kostnadsberäkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnadstäckning</string>
		<key>Word</key>
		<string>kostnadstäckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kotteribildning</string>
		<key>Word</key>
		<string>kotteribildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftansträngning</string>
		<key>Word</key>
		<string>kraftansträngning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftbolag</string>
		<key>Word</key>
		<string>kraftbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftföretag</string>
		<key>Word</key>
		<string>kraftföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftgärning</string>
		<key>Word</key>
		<string>kraftgärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftig</string>
		<key>Word</key>
		<string>kraftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krafttag</string>
		<key>Word</key>
		<string>krafttag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftyttring</string>
		<key>Word</key>
		<string>kraftyttring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kragg</string>
		<key>Word</key>
		<string>kragg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krampaktig</string>
		<key>Word</key>
		<string>krampaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krasslig</string>
		<key>Word</key>
		<string>krasslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kreditupplysning</string>
		<key>Word</key>
		<string>kreditupplysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krig</string>
		<key>Word</key>
		<string>krig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigföring</string>
		<key>Word</key>
		<string>krigföring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigslag</string>
		<key>Word</key>
		<string>krigslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminalisering</string>
		<key>Word</key>
		<string>kriminalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminolog</string>
		<key>Word</key>
		<string>kriminolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kring</string>
		<key>Word</key>
		<string>kring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krispig</string>
		<key>Word</key>
		<string>krispig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristlig</string>
		<key>Word</key>
		<string>kristlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krog</string>
		<key>Word</key>
		<string>krog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krokig</string>
		<key>Word</key>
		<string>krokig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronberg</string>
		<key>Word</key>
		<string>Kronberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronoberg</string>
		<key>Word</key>
		<string>Kronoberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kroppslig</string>
		<key>Word</key>
		<string>kroppslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krullig</string>
		<key>Word</key>
		<string>krullig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krusig</string>
		<key>Word</key>
		<string>krusig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krusning</string>
		<key>Word</key>
		<string>krusning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryddning</string>
		<key>Word</key>
		<string>kryddning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krympling</string>
		<key>Word</key>
		<string>krympling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krympning</string>
		<key>Word</key>
		<string>krympning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krypning</string>
		<key>Word</key>
		<string>krypning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryptering</string>
		<key>Word</key>
		<string>kryptering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryssning</string>
		<key>Word</key>
		<string>kryssning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kräkning</string>
		<key>Word</key>
		<string>kräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krämig</string>
		<key>Word</key>
		<string>krämig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kräng</string>
		<key>Word</key>
		<string>kräng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kränkning</string>
		<key>Word</key>
		<string>kränkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kräslig</string>
		<key>Word</key>
		<string>kräslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kråksång</string>
		<key>Word</key>
		<string>kråksång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krånglig</string>
		<key>Word</key>
		<string>krånglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krökning</string>
		<key>Word</key>
		<string>krökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kröning</string>
		<key>Word</key>
		<string>kröning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kualatanjung</string>
		<key>Word</key>
		<string>Kualatanjung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullaberg</string>
		<key>Word</key>
		<string>Kullaberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullberg</string>
		<key>Word</key>
		<string>Kullberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullrig</string>
		<key>Word</key>
		<string>kullrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturyttring</string>
		<key>Word</key>
		<string>kulturyttring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kung</string>
		<key>Word</key>
		<string>kung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunglig</string>
		<key>Word</key>
		<string>kunglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunnig</string>
		<key>Word</key>
		<string>kunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapsföretag</string>
		<key>Word</key>
		<string>kunskapsföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskapsmässig</string>
		<key>Word</key>
		<string>kunskapsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kupering</string>
		<key>Word</key>
		<string>kupering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kupferberg</string>
		<key>Word</key>
		<string>Kupferberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kupong</string>
		<key>Word</key>
		<string>kupong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurbitsmålning</string>
		<key>Word</key>
		<string>kurbitsmålning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurlberg</string>
		<key>Word</key>
		<string>Kurlberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kursivering</string>
		<key>Word</key>
		<string>kursivering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kursändring</string>
		<key>Word</key>
		<string>kursändring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurvig</string>
		<key>Word</key>
		<string>kurvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuslig</string>
		<key>Word</key>
		<string>kuslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvalitetsförbättring</string>
		<key>Word</key>
		<string>kvalitetsförbättring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantifiering</string>
		<key>Word</key>
		<string>kvantifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarligg</string>
		<key>Word</key>
		<string>kvarligg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarlåg</string>
		<key>Word</key>
		<string>kvarlåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvarsittning</string>
		<key>Word</key>
		<string>kvarsittning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvinnlig</string>
		<key>Word</key>
		<string>kvinnlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvinnoförening</string>
		<key>Word</key>
		<string>kvinnoförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvistig</string>
		<key>Word</key>
		<string>kvistig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvistning</string>
		<key>Word</key>
		<string>kvistning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvotering</string>
		<key>Word</key>
		<string>kvotering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväljning</string>
		<key>Word</key>
		<string>kväljning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvällsföreställning</string>
		<key>Word</key>
		<string>kvällsföreställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvällsmjölkning</string>
		<key>Word</key>
		<string>kvällsmjölkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvällstidning</string>
		<key>Word</key>
		<string>kvällstidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväveavgång</string>
		<key>Word</key>
		<string>kväveavgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvävefattig</string>
		<key>Word</key>
		<string>kvävefattig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvävefixering</string>
		<key>Word</key>
		<string>kvävefixering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväveförsörjning</string>
		<key>Word</key>
		<string>kväveförsörjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvävegödsling</string>
		<key>Word</key>
		<string>kvävegödsling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvävning</string>
		<key>Word</key>
		<string>kvävning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyckling</string>
		<key>Word</key>
		<string>kyckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kylig</string>
		<key>Word</key>
		<string>kylig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kylning</string>
		<key>Word</key>
		<string>kylning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrklig</string>
		<key>Word</key>
		<string>kyrklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkofullmäktig</string>
		<key>Word</key>
		<string>kyrkofullmäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkolag</string>
		<key>Word</key>
		<string>kyrkolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkoordning</string>
		<key>Word</key>
		<string>kyrkoordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkorestaurering</string>
		<key>Word</key>
		<string>kyrkorestaurering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkovetenskaplig</string>
		<key>Word</key>
		<string>kyrkovetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källarvåning</string>
		<key>Word</key>
		<string>källarvåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källberg</string>
		<key>Word</key>
		<string>Källberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>källförteckning</string>
		<key>Word</key>
		<string>källförteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kämpig</string>
		<key>Word</key>
		<string>kämpig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känning</string>
		<key>Word</key>
		<string>känning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känslig</string>
		<key>Word</key>
		<string>känslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känslobindning</string>
		<key>Word</key>
		<string>känslobindning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känslomässig</string>
		<key>Word</key>
		<string>känslomässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>käring</string>
		<key>Word</key>
		<string>käring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärleksförklaring</string>
		<key>Word</key>
		<string>kärleksförklaring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärlig</string>
		<key>Word</key>
		<string>kärlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärlvägg</string>
		<key>Word</key>
		<string>kärlvägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärntekniklag</string>
		<key>Word</key>
		<string>kärntekniklag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnvapenkrig</string>
		<key>Word</key>
		<string>kärnvapenkrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärvänlig</string>
		<key>Word</key>
		<string>kärvänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kätting</string>
		<key>Word</key>
		<string>kätting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kådig</string>
		<key>Word</key>
		<string>kådig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köbildning</string>
		<key>Word</key>
		<string>köbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köksingång</string>
		<key>Word</key>
		<string>köksingång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köksinredning</string>
		<key>Word</key>
		<string>köksinredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>königsberg</string>
		<key>Word</key>
		<string>Königsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könsdiskriminering</string>
		<key>Word</key>
		<string>könsdiskriminering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könsfördelning</string>
		<key>Word</key>
		<string>könsfördelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könskvotering</string>
		<key>Word</key>
		<string>könskvotering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könslig</string>
		<key>Word</key>
		<string>könslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>könssegregering</string>
		<key>Word</key>
		<string>könssegregering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köping</string>
		<key>Word</key>
		<string>Köping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köping</string>
		<key>Word</key>
		<string>köping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köpslog</string>
		<key>Word</key>
		<string>köpslog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>körning</string>
		<key>Word</key>
		<string>körning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>körsång</string>
		<key>Word</key>
		<string>körsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köttig</string>
		<key>Word</key>
		<string>köttig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köttslig</string>
		<key>Word</key>
		<string>köttslig</string>
	</dict>
</array>
</plist>
