<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kakofoni</string>
		<key>Word</key>
		<string>kakofoni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalori</string>
		<key>Word</key>
		<string>kalori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kansli</string>
		<key>Word</key>
		<string>kansli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapai</string>
		<key>Word</key>
		<string>Kapai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kardiologi</string>
		<key>Word</key>
		<string>kardiologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kari</string>
		<key>Word</key>
		<string>Kari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartografi</string>
		<key>Word</key>
		<string>kartografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karzai</string>
		<key>Word</key>
		<string>Karzai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kategori</string>
		<key>Word</key>
		<string>kategori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kavalleri</string>
		<key>Word</key>
		<string>kavalleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kemi</string>
		<key>Word</key>
		<string>kemi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kersti</string>
		<key>Word</key>
		<string>Kersti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>khomeini</string>
		<key>Word</key>
		<string>Khomeini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ki</string>
		<key>Word</key>
		<string>Ki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kibaki</string>
		<key>Word</key>
		<string>Kibaki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kigali</string>
		<key>Word</key>
		<string>Kigali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kirurgi</string>
		<key>Word</key>
		<string>kirurgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kiwi</string>
		<key>Word</key>
		<string>kiwi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klammeri</string>
		<key>Word</key>
		<string>klammeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klaustrofobi</string>
		<key>Word</key>
		<string>klaustrofobi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kli</string>
		<key>Word</key>
		<string>kli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klimpfri</string>
		<key>Word</key>
		<string>klimpfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kofi</string>
		<key>Word</key>
		<string>Kofi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kognitionspsykologi</string>
		<key>Word</key>
		<string>kognitionspsykologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koi</string>
		<key>Word</key>
		<string>Koi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koketteri</string>
		<key>Word</key>
		<string>koketteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolli</string>
		<key>Word</key>
		<string>kolli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koloni</string>
		<key>Word</key>
		<string>koloni</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kombi</string>
		<key>Word</key>
		<string>kombi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komedi</string>
		<key>Word</key>
		<string>komedi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunistparti</string>
		<key>Word</key>
		<string>kommunistparti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompani</string>
		<key>Word</key>
		<string>kompani</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komplexitetsteori</string>
		<key>Word</key>
		<string>komplexitetsteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konditori</string>
		<key>Word</key>
		<string>konditori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konspirationsteori</string>
		<key>Word</key>
		<string>konspirationsteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstakademi</string>
		<key>Word</key>
		<string>konstakademi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koreografi</string>
		<key>Word</key>
		<string>koreografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmologi</string>
		<key>Word</key>
		<string>kosmologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kostnadsfri</string>
		<key>Word</key>
		<string>kostnadsfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kotteri</string>
		<key>Word</key>
		<string>kotteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kpi</string>
		<key>Word</key>
		<string>KPI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krabi</string>
		<key>Word</key>
		<string>Krabi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kreti</string>
		<key>Word</key>
		<string>kreti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kretsfri</string>
		<key>Word</key>
		<string>kretsfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigsakademi</string>
		<key>Word</key>
		<string>krigsakademi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminologi</string>
		<key>Word</key>
		<string>kriminologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristi</string>
		<key>Word</key>
		<string>Kristi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kroki</string>
		<key>Word</key>
		<string>kroki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronologi</string>
		<key>Word</key>
		<string>kronologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryptografi</string>
		<key>Word</key>
		<string>kryptografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurunmäki</string>
		<key>Word</key>
		<string>Kurunmäki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kustartilleri</string>
		<key>Word</key>
		<string>kustartilleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvartalsekonomi</string>
		<key>Word</key>
		<string>kvartalsekonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>känslosvärmeri</string>
		<key>Word</key>
		<string>känslosvärmeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kätteri</string>
		<key>Word</key>
		<string>kätteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kåseri</string>
		<key>Word</key>
		<string>kåseri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köteori</string>
		<key>Word</key>
		<string>köteori</string>
	</dict>
</array>
</plist>
