<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaj</string>
		<key>Word</key>
		<string>Kaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaj</string>
		<key>Word</key>
		<string>kaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kampanj</string>
		<key>Word</key>
		<string>kampanj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastanj</string>
		<key>Word</key>
		<string>kastanj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kavaj</string>
		<key>Word</key>
		<string>kavaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knaboj</string>
		<key>Word</key>
		<string>knäböj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koj</string>
		<key>Word</key>
		<string>koj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konselj</string>
		<key>Word</key>
		<string>konselj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konvoj</string>
		<key>Word</key>
		<string>konvoj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigskonselj</string>
		<key>Word</key>
		<string>krigskonselj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kungafamilj</string>
		<key>Word</key>
		<string>kungafamilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvardroj</string>
		<key>Word</key>
		<string>kvardröj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvalj</string>
		<key>Word</key>
		<string>kvälj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karnfamilj</string>
		<key>Word</key>
		<string>kärnfamilj</string>
	</dict>
</array>
</plist>
