<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kabbalistisk</string>
		<key>Word</key>
		<string>kabbalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaffeburk</string>
		<key>Word</key>
		<string>kaffeburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kajak</string>
		<key>Word</key>
		<string>kajak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalabalik</string>
		<key>Word</key>
		<string>kalabalik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaliumrik</string>
		<key>Word</key>
		<string>kaliumrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalk</string>
		<key>Word</key>
		<string>kalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kalkylark</string>
		<key>Word</key>
		<string>kalkylark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kambrisk</string>
		<key>Word</key>
		<string>kambrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kammarmusik</string>
		<key>Word</key>
		<string>kammarmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanadensisk</string>
		<key>Word</key>
		<string>kanadensisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kananeisk</string>
		<key>Word</key>
		<string>kananeisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kanonisk</string>
		<key>Word</key>
		<string>kanonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kaotisk</string>
		<key>Word</key>
		<string>kaotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapitalistisk</string>
		<key>Word</key>
		<string>kapitalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapitalstark</string>
		<key>Word</key>
		<string>kapitalstark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karakteristik</string>
		<key>Word</key>
		<string>karakteristik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karakteristisk</string>
		<key>Word</key>
		<string>karakteristisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karaktäristik</string>
		<key>Word</key>
		<string>karaktäristik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karaktäristisk</string>
		<key>Word</key>
		<string>karaktäristisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karamellkiosk</string>
		<key>Word</key>
		<string>karamellkiosk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karelsk</string>
		<key>Word</key>
		<string>karelsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karibisk</string>
		<key>Word</key>
		<string>karibisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karismatisk</string>
		<key>Word</key>
		<string>karismatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karl-erik</string>
		<key>Word</key>
		<string>Karl-Erik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karolinsk</string>
		<key>Word</key>
		<string>karolinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karsk</string>
		<key>Word</key>
		<string>karsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartesisk</string>
		<key>Word</key>
		<string>kartesisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kartotek</string>
		<key>Word</key>
		<string>kartotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastrullock</string>
		<key>Word</key>
		<string>kastrullock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katafalk</string>
		<key>Word</key>
		<string>katafalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katalansk</string>
		<key>Word</key>
		<string>katalansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katalonisk</string>
		<key>Word</key>
		<string>katalonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kategorisk</string>
		<key>Word</key>
		<string>kategorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katolik</string>
		<key>Word</key>
		<string>katolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katolsk</string>
		<key>Word</key>
		<string>katolsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kautschuk</string>
		<key>Word</key>
		<string>kautschuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>keltisk</string>
		<key>Word</key>
		<string>keltisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kemisk</string>
		<key>Word</key>
		<string>kemisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>keramik</string>
		<key>Word</key>
		<string>keramik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>keramisk</string>
		<key>Word</key>
		<string>keramisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kick</string>
		<key>Word</key>
		<string>kick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kikuik</string>
		<key>Word</key>
		<string>Kikuik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kinesisk</string>
		<key>Word</key>
		<string>kinesisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kinetisk</string>
		<key>Word</key>
		<string>kinetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kiosk</string>
		<key>Word</key>
		<string>kiosk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kirurgisk</string>
		<key>Word</key>
		<string>kirurgisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klack</string>
		<key>Word</key>
		<string>klack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klarspråk</string>
		<key>Word</key>
		<string>klarspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassbibliotek</string>
		<key>Word</key>
		<string>klassbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klassisk</string>
		<key>Word</key>
		<string>klassisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klerk</string>
		<key>Word</key>
		<string>klerk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klick</string>
		<key>Word</key>
		<string>klick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klimatisk</string>
		<key>Word</key>
		<string>klimatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klinik</string>
		<key>Word</key>
		<string>klinik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klinisk</string>
		<key>Word</key>
		<string>klinisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klipsk</string>
		<key>Word</key>
		<string>klipsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kloak</string>
		<key>Word</key>
		<string>kloak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klok</string>
		<key>Word</key>
		<string>klok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klotterplank</string>
		<key>Word</key>
		<string>klotterplank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klunk</string>
		<key>Word</key>
		<string>klunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kläck</string>
		<key>Word</key>
		<string>kläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knak</string>
		<key>Word</key>
		<string>knak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knark</string>
		<key>Word</key>
		<string>knark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knock</string>
		<key>Word</key>
		<string>knock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knyck</string>
		<key>Word</key>
		<string>knyck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knäck</string>
		<key>Word</key>
		<string>knäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knölpåk</string>
		<key>Word</key>
		<string>knölpåk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kock</string>
		<key>Word</key>
		<string>kock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kodak</string>
		<key>Word</key>
		<string>Kodak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kok</string>
		<key>Word</key>
		<string>kok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kokbok</string>
		<key>Word</key>
		<string>kokbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolerisk</string>
		<key>Word</key>
		<string>kolerisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolik</string>
		<key>Word</key>
		<string>kolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektivistisk</string>
		<key>Word</key>
		<string>kollektivistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kollektivtrafik</string>
		<key>Word</key>
		<string>kollektivtrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolonialfolk</string>
		<key>Word</key>
		<string>kolonialfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kolonialistisk</string>
		<key>Word</key>
		<string>kolonialistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kombinatorik</string>
		<key>Word</key>
		<string>kombinatorik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kombinatorisk</string>
		<key>Word</key>
		<string>kombinatorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komik</string>
		<key>Word</key>
		<string>komik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>komisk</string>
		<key>Word</key>
		<string>komisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommentarslänk</string>
		<key>Word</key>
		<string>kommentarslänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunalpolitik</string>
		<key>Word</key>
		<string>kommunalpolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunikationsteknik</string>
		<key>Word</key>
		<string>kommunikationsteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kommunistisk</string>
		<key>Word</key>
		<string>kommunistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koncernspråk</string>
		<key>Word</key>
		<string>koncernspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konformistisk</string>
		<key>Word</key>
		<string>konformistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konjak</string>
		<key>Word</key>
		<string>konjak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konkordiebok</string>
		<key>Word</key>
		<string>konkordiebok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konservburk</string>
		<key>Word</key>
		<string>konservburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konspiratorisk</string>
		<key>Word</key>
		<string>konspiratorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstantinopolitansk</string>
		<key>Word</key>
		<string>konstantinopolitansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsthistorisk</string>
		<key>Word</key>
		<string>konsthistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstverk</string>
		<key>Word</key>
		<string>konstverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konsumentverk</string>
		<key>Word</key>
		<string>konsumentverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kontorsbruk</string>
		<key>Word</key>
		<string>kontorsbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopparstick</string>
		<key>Word</key>
		<string>kopparstick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koptisk</string>
		<key>Word</key>
		<string>koptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>koreansk</string>
		<key>Word</key>
		<string>koreansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kork</string>
		<key>Word</key>
		<string>kork</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korkek</string>
		<key>Word</key>
		<string>korkek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korsikansk</string>
		<key>Word</key>
		<string>korsikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kortlek</string>
		<key>Word</key>
		<string>kortlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korvkiosk</string>
		<key>Word</key>
		<string>korvkiosk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosack</string>
		<key>Word</key>
		<string>kosack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmetik</string>
		<key>Word</key>
		<string>kosmetik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmetisk</string>
		<key>Word</key>
		<string>kosmetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmisk</string>
		<key>Word</key>
		<string>kosmisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmologisk</string>
		<key>Word</key>
		<string>kosmologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kosmopolitisk</string>
		<key>Word</key>
		<string>kosmopolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftverk</string>
		<key>Word</key>
		<string>kraftverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftwerk</string>
		<key>Word</key>
		<string>Kraftwerk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krank</string>
		<key>Word</key>
		<string>krank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigisk</string>
		<key>Word</key>
		<string>krigisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krigsfolk</string>
		<key>Word</key>
		<string>krigsfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kriminalpolitik</string>
		<key>Word</key>
		<string>kriminalpolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kringgick</string>
		<key>Word</key>
		<string>kringgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kristdemokratisk</string>
		<key>Word</key>
		<string>kristdemokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kritik</string>
		<key>Word</key>
		<string>kritik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kritisk</string>
		<key>Word</key>
		<string>kritisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kroatisk</string>
		<key>Word</key>
		<string>kroatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krock</string>
		<key>Word</key>
		<string>krock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krok</string>
		<key>Word</key>
		<string>krok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronisk</string>
		<key>Word</key>
		<string>kronisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronokusk</string>
		<key>Word</key>
		<string>kronokusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kronologisk</string>
		<key>Word</key>
		<string>kronologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krutrök</string>
		<key>Word</key>
		<string>krutrök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryptisk</string>
		<key>Word</key>
		<string>kryptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryptografisk</string>
		<key>Word</key>
		<string>kryptografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kräk</string>
		<key>Word</key>
		<string>kräk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kränk</string>
		<key>Word</key>
		<string>kränk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krök</string>
		<key>Word</key>
		<string>krök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krönikebok</string>
		<key>Word</key>
		<string>krönikebok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kubansk</string>
		<key>Word</key>
		<string>kubansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kubasvensk</string>
		<key>Word</key>
		<string>Kubasvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kubik</string>
		<key>Word</key>
		<string>kubik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kubisk</string>
		<key>Word</key>
		<string>kubisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kufisk</string>
		<key>Word</key>
		<string>kufisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuk</string>
		<key>Word</key>
		<string>kuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulinarisk</string>
		<key>Word</key>
		<string>kulinarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kullagerfabrik</string>
		<key>Word</key>
		<string>kullagerfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturfolk</string>
		<key>Word</key>
		<string>kulturfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturhistorisk</string>
		<key>Word</key>
		<string>kulturhistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturimperialistisk</string>
		<key>Word</key>
		<string>kulturimperialistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturpolitik</string>
		<key>Word</key>
		<string>kulturpolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kulturpolitisk</string>
		<key>Word</key>
		<string>kulturpolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurck</string>
		<key>Word</key>
		<string>Kurck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kurdisk</string>
		<key>Word</key>
		<string>kurdisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kusk</string>
		<key>Word</key>
		<string>kusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kuwaitisk</string>
		<key>Word</key>
		<string>kuwaitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvadratisk</string>
		<key>Word</key>
		<string>kvadratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantelektrodynamik</string>
		<key>Word</key>
		<string>kvantelektrodynamik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantfysik</string>
		<key>Word</key>
		<string>kvantfysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvantmekanik</string>
		<key>Word</key>
		<string>kvantmekanik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvark</string>
		<key>Word</key>
		<string>kvark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvick</string>
		<key>Word</key>
		<string>kvick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvinnfolk</string>
		<key>Word</key>
		<string>kvinnfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväk</string>
		<key>Word</key>
		<string>kväk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kväverik</string>
		<key>Word</key>
		<string>kväverik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrillisk</string>
		<key>Word</key>
		<string>kyrillisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkbok</string>
		<key>Word</key>
		<string>kyrkbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkohandbok</string>
		<key>Word</key>
		<string>kyrkohandbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kysk</string>
		<key>Word</key>
		<string>kysk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>käck</string>
		<key>Word</key>
		<string>käck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>käk</string>
		<key>Word</key>
		<string>käk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärlek</string>
		<key>Word</key>
		<string>kärlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnbränslefabrik</string>
		<key>Word</key>
		<string>kärnbränslefabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnfrisk</string>
		<key>Word</key>
		<string>kärnfrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnkraftverk</string>
		<key>Word</key>
		<string>kärnkraftverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnspråk</string>
		<key>Word</key>
		<string>kärnspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kärnvapenattack</string>
		<key>Word</key>
		<string>kärnvapenattack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kättersk</string>
		<key>Word</key>
		<string>kättersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kåk</string>
		<key>Word</key>
		<string>kåk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kök</string>
		<key>Word</key>
		<string>kök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>königsmark</string>
		<key>Word</key>
		<string>Königsmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>köpstark</string>
		<key>Word</key>
		<string>köpstark</string>
	</dict>
</array>
</plist>
