<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kabelstump</string>
		<key>Word</key>
		<string>kabelstump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kafferep</string>
		<key>Word</key>
		<string>kafferep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kamp</string>
		<key>Word</key>
		<string>kamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kamratskap</string>
		<key>Word</key>
		<string>kamratskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kap</string>
		<key>Word</key>
		<string>Kap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kap</string>
		<key>Word</key>
		<string>kap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapp</string>
		<key>Word</key>
		<string>kapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapslingstyp</string>
		<key>Word</key>
		<string>kapslingstyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karaktarstyp</string>
		<key>Word</key>
		<string>karaktärstyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karp</string>
		<key>Word</key>
		<string>karp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kassaskap</string>
		<key>Word</key>
		<string>kassaskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kastrup</string>
		<key>Word</key>
		<string>Kastrup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>katastrofberedskap</string>
		<key>Word</key>
		<string>katastrofberedskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ketchup</string>
		<key>Word</key>
		<string>ketchup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klagorop</string>
		<key>Word</key>
		<string>klagorop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klapp</string>
		<key>Word</key>
		<string>klapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klasskamp</string>
		<key>Word</key>
		<string>klasskamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klimp</string>
		<key>Word</key>
		<string>klimp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klipp</string>
		<key>Word</key>
		<string>klipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>klump</string>
		<key>Word</key>
		<string>klump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knapp</string>
		<key>Word</key>
		<string>knapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knep</string>
		<key>Word</key>
		<string>knep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knip</string>
		<key>Word</key>
		<string>knip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knop</string>
		<key>Word</key>
		<string>knop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knopp</string>
		<key>Word</key>
		<string>knopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knapp</string>
		<key>Word</key>
		<string>knäpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>knap</string>
		<key>Word</key>
		<string>knåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kognitionsvetenskap</string>
		<key>Word</key>
		<string>kognitionsvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kompanjonskap</string>
		<key>Word</key>
		<string>kompanjonskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>konstnarskap</string>
		<key>Word</key>
		<string>konstnärskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopp</string>
		<key>Word</key>
		<string>kopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>korp</string>
		<key>Word</key>
		<string>korp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kraftgrupp</string>
		<key>Word</key>
		<string>Kraftgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kramp</string>
		<key>Word</key>
		<string>kramp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kretslopp</string>
		<key>Word</key>
		<string>kretslopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kropp</string>
		<key>Word</key>
		<string>kropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krupp</string>
		<key>Word</key>
		<string>krupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krymp</string>
		<key>Word</key>
		<string>krymp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kryp</string>
		<key>Word</key>
		<string>kryp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>krop</string>
		<key>Word</key>
		<string>kröp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kundgrupp</string>
		<key>Word</key>
		<string>kundgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kunskap</string>
		<key>Word</key>
		<string>kunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kupp</string>
		<key>Word</key>
		<string>kupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kvaljningskramp</string>
		<key>Word</key>
		<string>kväljningskramp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kylskap</string>
		<key>Word</key>
		<string>kylskåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkkapp</string>
		<key>Word</key>
		<string>kyrkkäpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kyrkovetenskap</string>
		<key>Word</key>
		<string>kyrkovetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kapp</string>
		<key>Word</key>
		<string>käpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karlkramp</string>
		<key>Word</key>
		<string>kärlkramp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>karntrupp</string>
		<key>Word</key>
		<string>kärntrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kop</string>
		<key>Word</key>
		<string>köp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>kopenskap</string>
		<key>Word</key>
		<string>köpenskap</string>
	</dict>
</array>
</plist>
