<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lackad</string>
		<key>Word</key>
		<string>lackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lackerad</string>
		<key>Word</key>
		<string>lackerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laddad</string>
		<key>Word</key>
		<string>laddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ladugård</string>
		<key>Word</key>
		<string>ladugård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagad</string>
		<key>Word</key>
		<string>lagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagd</string>
		<key>Word</key>
		<string>lagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagrad</string>
		<key>Word</key>
		<string>lagrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagstadgad</string>
		<key>Word</key>
		<string>lagstadgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagstiftad</string>
		<key>Word</key>
		<string>lagstiftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagård</string>
		<key>Word</key>
		<string>lagård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakad</string>
		<key>Word</key>
		<string>lakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>land</string>
		<key>Word</key>
		<string>land</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landad</string>
		<key>Word</key>
		<string>landad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsbygd</string>
		<key>Word</key>
		<string>landsbygd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landskod</string>
		<key>Word</key>
		<string>landskod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landstingsförbund</string>
		<key>Word</key>
		<string>landstingsförbund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langad</string>
		<key>Word</key>
		<string>langad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lanserad</string>
		<key>Word</key>
		<string>lanserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lantarbetarbostad</string>
		<key>Word</key>
		<string>lantarbetarbostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lapad</string>
		<key>Word</key>
		<string>lapad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lappad</string>
		<key>Word</key>
		<string>lappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lappland</string>
		<key>Word</key>
		<string>Lappland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lappstad</string>
		<key>Word</key>
		<string>Lappstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larmad</string>
		<key>Word</key>
		<string>larmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larmtid</string>
		<key>Word</key>
		<string>larmtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lastad</string>
		<key>Word</key>
		<string>lastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lathund</string>
		<key>Word</key>
		<string>lathund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>latitud</string>
		<key>Word</key>
		<string>latitud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lavinartad</string>
		<key>Word</key>
		<string>lavinartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laxsallad</string>
		<key>Word</key>
		<string>laxsallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lcd</string>
		<key>Word</key>
		<string>LCD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>led</string>
		<key>Word</key>
		<string>led</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledd</string>
		<key>Word</key>
		<string>ledd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledsagad</string>
		<key>Word</key>
		<string>ledsagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledtråd</string>
		<key>Word</key>
		<string>ledtråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legad</string>
		<key>Word</key>
		<string>legad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legaliserad</string>
		<key>Word</key>
		<string>legaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legend</string>
		<key>Word</key>
		<string>legend</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legitimerad</string>
		<key>Word</key>
		<string>legitimerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leijonhufvud</string>
		<key>Word</key>
		<string>Leijonhufvud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lejd</string>
		<key>Word</key>
		<string>lejd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leksand</string>
		<key>Word</key>
		<string>Leksand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lemlästad</string>
		<key>Word</key>
		<string>lemlästad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leningrad</string>
		<key>Word</key>
		<string>Leningrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leonard</string>
		<key>Word</key>
		<string>Leonard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leopard</string>
		<key>Word</key>
		<string>leopard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leopold</string>
		<key>Word</key>
		<string>Leopold</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lerjord</string>
		<key>Word</key>
		<string>lerjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lettland</string>
		<key>Word</key>
		<string>Lettland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levd</string>
		<key>Word</key>
		<string>levd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levebröd</string>
		<key>Word</key>
		<string>levebröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levengood</string>
		<key>Word</key>
		<string>Levengood</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levererad</string>
		<key>Word</key>
		<string>levererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levnad</string>
		<key>Word</key>
		<string>levnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levnadskostnad</string>
		<key>Word</key>
		<string>levnadskostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levnadsstandard</string>
		<key>Word</key>
		<string>levnadsstandard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liberaliserad</string>
		<key>Word</key>
		<string>liberaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>licensierad</string>
		<key>Word</key>
		<string>licensierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lid</string>
		<key>Word</key>
		<string>lid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lierad</string>
		<key>Word</key>
		<string>lierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likartad</string>
		<key>Word</key>
		<string>likartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likasinnad</string>
		<key>Word</key>
		<string>likasinnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liknad</string>
		<key>Word</key>
		<string>liknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liknöjd</string>
		<key>Word</key>
		<string>liknöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likställd</string>
		<key>Word</key>
		<string>likställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likviderad</string>
		<key>Word</key>
		<string>likviderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lilafärgad</string>
		<key>Word</key>
		<string>lilafärgad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lillryssland</string>
		<key>Word</key>
		<string>Lillryssland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lillsved</string>
		<key>Word</key>
		<string>Lillsved</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>limmad</string>
		<key>Word</key>
		<string>limmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lind</string>
		<key>Word</key>
		<string>lind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindad</string>
		<key>Word</key>
		<string>lindad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindblad</string>
		<key>Word</key>
		<string>Lindblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindrad</string>
		<key>Word</key>
		<string>lindrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linead</string>
		<key>Word</key>
		<string>linead</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linjerad</string>
		<key>Word</key>
		<string>linjerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linneefod</string>
		<key>Word</key>
		<string>linneefod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linneförråd</string>
		<key>Word</key>
		<string>linneförråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lirad</string>
		<key>Word</key>
		<string>lirad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>listad</string>
		<key>Word</key>
		<string>listad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livad</string>
		<key>Word</key>
		<string>livad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liveband</string>
		<key>Word</key>
		<string>liveband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livklädnad</string>
		<key>Word</key>
		<string>livklädnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livland</string>
		<key>Word</key>
		<string>Livland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livrädd</string>
		<key>Word</key>
		<string>livrädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livslängd</string>
		<key>Word</key>
		<string>livslängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmod</string>
		<key>Word</key>
		<string>livsmod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livstid</string>
		<key>Word</key>
		<string>livstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljud</string>
		<key>Word</key>
		<string>ljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudband</string>
		<key>Word</key>
		<string>ljudband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudbild</string>
		<key>Word</key>
		<string>ljudbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljungeld</string>
		<key>Word</key>
		<string>ljungeld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusbild</string>
		<key>Word</key>
		<string>ljusbild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljushyad</string>
		<key>Word</key>
		<string>ljushyad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusmålad</string>
		<key>Word</key>
		<string>ljusmålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusröd</string>
		<key>Word</key>
		<string>ljusröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljöd</string>
		<key>Word</key>
		<string>ljöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lo-anställd</string>
		<key>Word</key>
		<string>LO-anställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lockad</string>
		<key>Word</key>
		<string>lockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lod</string>
		<key>Word</key>
		<string>lod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lodad</string>
		<key>Word</key>
		<string>lodad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loggad</string>
		<key>Word</key>
		<string>loggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logoped</string>
		<key>Word</key>
		<string>logoped</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lohärad</string>
		<key>Word</key>
		<string>Lohärad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokaliserad</string>
		<key>Word</key>
		<string>lokaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokalkostnad</string>
		<key>Word</key>
		<string>lokalkostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokalljud</string>
		<key>Word</key>
		<string>lokalljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>longitud</string>
		<key>Word</key>
		<string>longitud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lord</string>
		<key>Word</key>
		<string>lord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lossad</string>
		<key>Word</key>
		<string>lossad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lossnad</string>
		<key>Word</key>
		<string>lossnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lotsad</string>
		<key>Word</key>
		<string>lotsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lottad</string>
		<key>Word</key>
		<string>lottad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lottorad</string>
		<key>Word</key>
		<string>lottorad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovad</string>
		<key>Word</key>
		<string>lovad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovord</string>
		<key>Word</key>
		<string>lovord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovordad</string>
		<key>Word</key>
		<string>lovordad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovprisad</string>
		<key>Word</key>
		<string>lovprisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lsd</string>
		<key>Word</key>
		<string>LSD</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luckrad</string>
		<key>Word</key>
		<string>luckrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ludd</string>
		<key>Word</key>
		<string>ludd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luftad</string>
		<key>Word</key>
		<string>luftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lugnad</string>
		<key>Word</key>
		<string>lugnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lund</string>
		<key>Word</key>
		<string>Lund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lund</string>
		<key>Word</key>
		<string>lund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundblad</string>
		<key>Word</key>
		<string>Lundblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lunnevad</string>
		<key>Word</key>
		<string>Lunnevad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lurad</string>
		<key>Word</key>
		<string>lurad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lustgård</string>
		<key>Word</key>
		<string>lustgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lustmord</string>
		<key>Word</key>
		<string>lustmord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lutad</string>
		<key>Word</key>
		<string>lutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luttrad</string>
		<key>Word</key>
		<string>luttrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyckad</string>
		<key>Word</key>
		<string>lyckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyd</string>
		<key>Word</key>
		<string>lyd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lydd</string>
		<key>Word</key>
		<string>lydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lydnad</string>
		<key>Word</key>
		<string>lydnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyhörd</string>
		<key>Word</key>
		<string>lyhörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyrestad</string>
		<key>Word</key>
		<string>Lyrestad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lysdiod</string>
		<key>Word</key>
		<string>lysdiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyssnad</string>
		<key>Word</key>
		<string>lyssnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lystnad</string>
		<key>Word</key>
		<string>lystnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läderartad</string>
		<key>Word</key>
		<string>läderartad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lägereld</string>
		<key>Word</key>
		<string>lägereld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lägrad</string>
		<key>Word</key>
		<string>lägrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läkarbostad</string>
		<key>Word</key>
		<string>läkarbostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läkarvård</string>
		<key>Word</key>
		<string>läkarvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lämnad</string>
		<key>Word</key>
		<string>lämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lämpad</string>
		<key>Word</key>
		<string>lämpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länd</string>
		<key>Word</key>
		<string>länd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>längd</string>
		<key>Word</key>
		<string>längd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>längdgrad</string>
		<key>Word</key>
		<string>längdgrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>längtad</string>
		<key>Word</key>
		<string>längtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länkad</string>
		<key>Word</key>
		<string>länkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länsad</string>
		<key>Word</key>
		<string>länsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärad</string>
		<key>Word</key>
		<string>Lärad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärd</string>
		<key>Word</key>
		<string>lärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärostrid</string>
		<key>Word</key>
		<string>lärostrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsarhuvudstad</string>
		<key>Word</key>
		<string>läsarhuvudstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lässkyddad</string>
		<key>Word</key>
		<string>lässkyddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lästid</string>
		<key>Word</key>
		<string>lästid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsvärd</string>
		<key>Word</key>
		<string>läsvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättad</string>
		<key>Word</key>
		<string>lättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättadministrerad</string>
		<key>Word</key>
		<string>lättadministrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättanvänd</string>
		<key>Word</key>
		<string>lättanvänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättgjord</string>
		<key>Word</key>
		<string>lättgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättklädd</string>
		<key>Word</key>
		<string>lättklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättkontrollerad</string>
		<key>Word</key>
		<string>lättkontrollerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättnad</string>
		<key>Word</key>
		<string>lättnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lättrörd</string>
		<key>Word</key>
		<string>lättrörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>låd</string>
		<key>Word</key>
		<string>låd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lågblad</string>
		<key>Word</key>
		<string>lågblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lågland</string>
		<key>Word</key>
		<string>lågland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lågmäld</string>
		<key>Word</key>
		<string>lågmäld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lågutbildad</string>
		<key>Word</key>
		<string>lågutbildad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lånad</string>
		<key>Word</key>
		<string>lånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>låneord</string>
		<key>Word</key>
		<string>låneord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långbord</string>
		<key>Word</key>
		<string>långbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långhalsad</string>
		<key>Word</key>
		<string>långhalsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långskaftad</string>
		<key>Word</key>
		<string>långskaftad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långärmad</string>
		<key>Word</key>
		<string>långärmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lånord</string>
		<key>Word</key>
		<string>lånord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>låtsad</string>
		<key>Word</key>
		<string>låtsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löd</string>
		<key>Word</key>
		<string>löd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lödd</string>
		<key>Word</key>
		<string>lödd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löfvenskiöld</string>
		<key>Word</key>
		<string>Löfvenskiöld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lönad</string>
		<key>Word</key>
		<string>lönad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lönebostad</string>
		<key>Word</key>
		<string>lönebostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löntagarfond</string>
		<key>Word</key>
		<string>löntagarfond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löpeld</string>
		<key>Word</key>
		<string>löpeld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löptid</string>
		<key>Word</key>
		<string>löptid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösenord</string>
		<key>Word</key>
		<string>lösenord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösgjord</string>
		<key>Word</key>
		<string>lösgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösningsmetod</string>
		<key>Word</key>
		<string>lösningsmetod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lövad</string>
		<key>Word</key>
		<string>lövad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lövhyddohögtid</string>
		<key>Word</key>
		<string>lövhyddohögtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lövprydd</string>
		<key>Word</key>
		<string>lövprydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lövträd</string>
		<key>Word</key>
		<string>lövträd</string>
	</dict>
</array>
</plist>
