<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laddning</string>
		<key>Word</key>
		<string>laddning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lag</string>
		<key>Word</key>
		<string>lag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagberedning</string>
		<key>Word</key>
		<string>lagberedning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagerbring</string>
		<key>Word</key>
		<string>Lagerbring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laglig</string>
		<key>Word</key>
		<string>laglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laglydig</string>
		<key>Word</key>
		<string>laglydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagning</string>
		<key>Word</key>
		<string>lagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagring</string>
		<key>Word</key>
		<string>lagring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagstiftning</string>
		<key>Word</key>
		<string>lagstiftning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagstridig</string>
		<key>Word</key>
		<string>lagstridig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagandring</string>
		<key>Word</key>
		<string>lagändring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laing</string>
		<key>Word</key>
		<string>Laing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lamslog</string>
		<key>Word</key>
		<string>lamslog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landhojning</string>
		<key>Word</key>
		<string>landhöjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landmatning</string>
		<key>Word</key>
		<string>landmätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landning</string>
		<key>Word</key>
		<string>landning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsbygdsbefolkning</string>
		<key>Word</key>
		<string>landsbygdsbefolkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsforsamling</string>
		<key>Word</key>
		<string>landsförsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsforvisning</string>
		<key>Word</key>
		<string>landsförvisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landshovding</string>
		<key>Word</key>
		<string>landshövding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landskapsfarg</string>
		<key>Word</key>
		<string>landskapsfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landslag</string>
		<key>Word</key>
		<string>landslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsmalsforening</string>
		<key>Word</key>
		<string>landsmålsförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsortstidning</string>
		<key>Word</key>
		<string>landsortstidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsteg</string>
		<key>Word</key>
		<string>landsteg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landstig</string>
		<key>Word</key>
		<string>landstig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landstigning</string>
		<key>Word</key>
		<string>landstigning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsting</string>
		<key>Word</key>
		<string>landsting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landstingsfullmaktig</string>
		<key>Word</key>
		<string>landstingsfullmäktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsvag</string>
		<key>Word</key>
		<string>landsväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landvinning</string>
		<key>Word</key>
		<string>landvinning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landvag</string>
		<key>Word</key>
		<string>landväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lang</string>
		<key>Word</key>
		<string>Lang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langning</string>
		<key>Word</key>
		<string>langning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lansering</string>
		<key>Word</key>
		<string>lansering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lantarbetarefackforening</string>
		<key>Word</key>
		<string>lantarbetarefackförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lantlig</string>
		<key>Word</key>
		<string>lantlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larvig</string>
		<key>Word</key>
		<string>larvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lastning</string>
		<key>Word</key>
		<string>lastning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lauenburg</string>
		<key>Word</key>
		<string>Lauenburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laxpudding</string>
		<key>Word</key>
		<string>laxpudding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledig</string>
		<key>Word</key>
		<string>ledig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledning</string>
		<key>Word</key>
		<string>ledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledningsdragning</string>
		<key>Word</key>
		<string>ledningsdragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legering</string>
		<key>Word</key>
		<string>legering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legotillverkning</string>
		<key>Word</key>
		<string>legotillverkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lehnberg</string>
		<key>Word</key>
		<string>Lehnberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leijonborg</string>
		<key>Word</key>
		<string>Leijonborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leipzig</string>
		<key>Word</key>
		<string>Leipzig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lekamlig</string>
		<key>Word</key>
		<string>lekamlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lekeberg</string>
		<key>Word</key>
		<string>Lekeberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lekmannagarning</string>
		<key>Word</key>
		<string>lekmannagärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lerig</string>
		<key>Word</key>
		<string>lerig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lessig</string>
		<key>Word</key>
		<string>Lessig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levang</string>
		<key>Word</key>
		<string>levang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levnadsdag</string>
		<key>Word</key>
		<string>levnadsdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>licensiering</string>
		<key>Word</key>
		<string>licensiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lidkoping</string>
		<key>Word</key>
		<string>Lidköping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ligg</string>
		<key>Word</key>
		<string>ligg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likformig</string>
		<key>Word</key>
		<string>likformig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likgiltig</string>
		<key>Word</key>
		<string>likgiltig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likspanning</string>
		<key>Word</key>
		<string>likspänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liktydig</string>
		<key>Word</key>
		<string>liktydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likvardig</string>
		<key>Word</key>
		<string>likvärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>limnolog</string>
		<key>Word</key>
		<string>limnolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindberg</string>
		<key>Word</key>
		<string>Lindberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindeborg</string>
		<key>Word</key>
		<string>Lindeborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindesberg</string>
		<key>Word</key>
		<string>Lindesberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindning</string>
		<key>Word</key>
		<string>lindning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindrig</string>
		<key>Word</key>
		<string>lindrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindring</string>
		<key>Word</key>
		<string>lindring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ling</string>
		<key>Word</key>
		<string>Ling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linjeflyg</string>
		<key>Word</key>
		<string>Linjeflyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linkoping</string>
		<key>Word</key>
		<string>Linköping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liseberg</string>
		<key>Word</key>
		<string>Liseberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lispanvandning</string>
		<key>Word</key>
		<string>lispanvändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lispprogrammering</string>
		<key>Word</key>
		<string>lispprogrammering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>listig</string>
		<key>Word</key>
		<string>listig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>listning</string>
		<key>Word</key>
		<string>listning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litteraturforteckning</string>
		<key>Word</key>
		<string>litteraturförteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livaktig</string>
		<key>Word</key>
		<string>livaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livforsakring</string>
		<key>Word</key>
		<string>livförsäkring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livlig</string>
		<key>Word</key>
		<string>livlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsduglig</string>
		<key>Word</key>
		<string>livsduglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsfarlig</string>
		<key>Word</key>
		<string>livsfarlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livshallning</string>
		<key>Word</key>
		<string>livshållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsinstallning</string>
		<key>Word</key>
		<string>livsinställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livslang</string>
		<key>Word</key>
		<string>livslång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmedelshantering</string>
		<key>Word</key>
		<string>livsmedelshantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmedelslag</string>
		<key>Word</key>
		<string>livsmedelslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsnodvandig</string>
		<key>Word</key>
		<string>livsnödvändig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsoduglig</string>
		<key>Word</key>
		<string>livsoduglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsviktig</string>
		<key>Word</key>
		<string>livsviktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsaskadning</string>
		<key>Word</key>
		<string>livsåskådning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livtag</string>
		<key>Word</key>
		<string>livtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudanlaggning</string>
		<key>Word</key>
		<string>ljudanläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudisolering</string>
		<key>Word</key>
		<string>ljudisolering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudlig</string>
		<key>Word</key>
		<string>ljudlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudsammanhang</string>
		<key>Word</key>
		<string>ljudsammanhang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudupptagning</string>
		<key>Word</key>
		<string>ljudupptagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudvag</string>
		<key>Word</key>
		<string>ljudvåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljug</string>
		<key>Word</key>
		<string>ljug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljung</string>
		<key>Word</key>
		<string>ljung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusharig</string>
		<key>Word</key>
		<string>ljushårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusnarsberg</string>
		<key>Word</key>
		<string>Ljusnarsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusning</string>
		<key>Word</key>
		<string>ljusning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljuvlig</string>
		<key>Word</key>
		<string>ljuvlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljog</string>
		<key>Word</key>
		<string>ljög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lo-ledning</string>
		<key>Word</key>
		<string>LO-ledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loborg</string>
		<key>Word</key>
		<string>Loborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lockig</string>
		<key>Word</key>
		<string>lockig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>log</string>
		<key>Word</key>
		<string>log</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logg</string>
		<key>Word</key>
		<string>logg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loggning</string>
		<key>Word</key>
		<string>loggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokalforening</string>
		<key>Word</key>
		<string>lokalförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokalisering</string>
		<key>Word</key>
		<string>lokalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokomobilsag</string>
		<key>Word</key>
		<string>lokomobilsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lomborg</string>
		<key>Word</key>
		<string>Lomborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>long</string>
		<key>Word</key>
		<string>Long</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lossning</string>
		<key>Word</key>
		<string>lossning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lottkastning</string>
		<key>Word</key>
		<string>lottkastning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lottning</string>
		<key>Word</key>
		<string>lottning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovlig</string>
		<key>Word</key>
		<string>lovlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovning</string>
		<key>Word</key>
		<string>lovning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovsjung</string>
		<key>Word</key>
		<string>lovsjung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovsjong</string>
		<key>Word</key>
		<string>lovsjöng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovsang</string>
		<key>Word</key>
		<string>lovsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luddig</string>
		<key>Word</key>
		<string>luddig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ludvig</string>
		<key>Word</key>
		<string>Ludvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ludwig</string>
		<key>Word</key>
		<string>Ludwig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luftfororening</string>
		<key>Word</key>
		<string>luftförorening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luftig</string>
		<key>Word</key>
		<string>luftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luftkonditionering</string>
		<key>Word</key>
		<string>luftkonditionering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luftlandsattning</string>
		<key>Word</key>
		<string>luftlandsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luftvaxling</string>
		<key>Word</key>
		<string>luftväxling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lugg</string>
		<key>Word</key>
		<string>lugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lullig</string>
		<key>Word</key>
		<string>lullig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lummig</string>
		<key>Word</key>
		<string>lummig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lumpig</string>
		<key>Word</key>
		<string>lumpig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundberg</string>
		<key>Word</key>
		<string>Lundberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lurig</string>
		<key>Word</key>
		<string>lurig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lurvig</string>
		<key>Word</key>
		<string>lurvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lustig</string>
		<key>Word</key>
		<string>lustig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lutning</string>
		<key>Word</key>
		<string>lutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luxemburg</string>
		<key>Word</key>
		<string>Luxemburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lycklig</string>
		<key>Word</key>
		<string>lycklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lycksalig</string>
		<key>Word</key>
		<string>lycksalig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyckonskning</string>
		<key>Word</key>
		<string>lyckönskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lydig</string>
		<key>Word</key>
		<string>lydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lysning</string>
		<key>Word</key>
		<string>lysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyxig</string>
		<key>Word</key>
		<string>lyxig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>labbig</string>
		<key>Word</key>
		<string>läbbig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagersang</string>
		<key>Word</key>
		<string>lägersång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagg</string>
		<key>Word</key>
		<string>lägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laggning</string>
		<key>Word</key>
		<string>läggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laglig</string>
		<key>Word</key>
		<string>läglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakarintyg</string>
		<key>Word</key>
		<string>läkarintyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakarundersokning</string>
		<key>Word</key>
		<string>läkarundersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakarutbildning</string>
		<key>Word</key>
		<string>läkarutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakemedelsforsaljning</string>
		<key>Word</key>
		<string>läkemedelsförsäljning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakning</string>
		<key>Word</key>
		<string>läkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lamning</string>
		<key>Word</key>
		<string>lämning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lamplig</string>
		<key>Word</key>
		<string>lämplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langdskidakning</string>
		<key>Word</key>
		<string>längdskidåkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lankning</string>
		<key>Word</key>
		<string>länkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lanksokning</string>
		<key>Word</key>
		<string>länksökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laraktig</string>
		<key>Word</key>
		<string>läraktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lararanvisning</string>
		<key>Word</key>
		<string>läraranvisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lararhandledning</string>
		<key>Word</key>
		<string>lärarhandledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lararutbildning</string>
		<key>Word</key>
		<string>lärarutbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larling</string>
		<key>Word</key>
		<string>lärling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lasarundersokning</string>
		<key>Word</key>
		<string>läsarundersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laskig</string>
		<key>Word</key>
		<string>läskig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laskunnig</string>
		<key>Word</key>
		<string>läskunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laslig</string>
		<key>Word</key>
		<string>läslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lasning</string>
		<key>Word</key>
		<string>läsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lasordning</string>
		<key>Word</key>
		<string>läsordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lasvanlig</string>
		<key>Word</key>
		<string>läsvänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattbegriplig</string>
		<key>Word</key>
		<string>lättbegriplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattfattlig</string>
		<key>Word</key>
		<string>lättfattlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattforstaelig</string>
		<key>Word</key>
		<string>lättförståelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>latthanterlig</string>
		<key>Word</key>
		<string>lätthanterlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattillganglig</string>
		<key>Word</key>
		<string>lättillgänglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattrorlig</string>
		<key>Word</key>
		<string>lättrörlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattsinnig</string>
		<key>Word</key>
		<string>lättsinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattvindig</string>
		<key>Word</key>
		<string>lättvindig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lag</string>
		<key>Word</key>
		<string>låg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagkyrklig</string>
		<key>Word</key>
		<string>lågkyrklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagprisflyg</string>
		<key>Word</key>
		<string>lågprisflyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagprisflygbolag</string>
		<key>Word</key>
		<string>lågprisflygbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagpriskrig</string>
		<key>Word</key>
		<string>lågpriskrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagvarvig</string>
		<key>Word</key>
		<string>lågvarvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lang</string>
		<key>Word</key>
		<string>lång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langharig</string>
		<key>Word</key>
		<string>långhårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langkorning</string>
		<key>Word</key>
		<string>långkörning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langmodig</string>
		<key>Word</key>
		<string>långmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langrandig</string>
		<key>Word</key>
		<string>långrandig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langsiktig</string>
		<key>Word</key>
		<string>långsiktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langtidsbevaring</string>
		<key>Word</key>
		<string>långtidsbevaring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langtidslagring</string>
		<key>Word</key>
		<string>långtidslagring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langtidssjukskrivning</string>
		<key>Word</key>
		<string>långtidssjukskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langtrakig</string>
		<key>Word</key>
		<string>långtråkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langvarig</string>
		<key>Word</key>
		<string>långvarig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lasning</string>
		<key>Word</key>
		<string>låsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loddrig</string>
		<key>Word</key>
		<string>löddrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lodning</string>
		<key>Word</key>
		<string>lödning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lofberg</string>
		<key>Word</key>
		<string>Löfberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lognaktig</string>
		<key>Word</key>
		<string>lögnaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lojlig</string>
		<key>Word</key>
		<string>löjlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loneavdrag</string>
		<key>Word</key>
		<string>löneavdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loneberedning</string>
		<key>Word</key>
		<string>löneberedning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loneforhandling</string>
		<key>Word</key>
		<string>löneförhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loneforhojning</string>
		<key>Word</key>
		<string>löneförhöjning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lonesankning</string>
		<key>Word</key>
		<string>lönesänkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loneokning</string>
		<key>Word</key>
		<string>löneökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lopning</string>
		<key>Word</key>
		<string>löpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lordag</string>
		<key>Word</key>
		<string>lördag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lordagseftermiddag</string>
		<key>Word</key>
		<string>lördagseftermiddag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>losaktig</string>
		<key>Word</key>
		<string>lösaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>losenordsverifiering</string>
		<key>Word</key>
		<string>lösenordsverifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>losning</string>
		<key>Word</key>
		<string>lösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>losningsforslag</string>
		<key>Word</key>
		<string>lösningsförslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovskog</string>
		<key>Word</key>
		<string>lövskog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovsprickning</string>
		<key>Word</key>
		<string>lövsprickning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lowenborg</string>
		<key>Word</key>
		<string>Löwenborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luneburg</string>
		<key>Word</key>
		<string>Lüneburg</string>
	</dict>
</array>
</plist>
