<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsförräderi</string>
		<key>Word</key>
		<string>landsförräderi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lantmäteri</string>
		<key>Word</key>
		<string>lantmäteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laurentii</string>
		<key>Word</key>
		<string>Laurentii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levi</string>
		<key>Word</key>
		<string>Levi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lewi</string>
		<key>Word</key>
		<string>Lewi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lexikografi</string>
		<key>Word</key>
		<string>lexikografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>li</string>
		<key>Word</key>
		<string>li</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lii</string>
		<key>Word</key>
		<string>lii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liii</string>
		<key>Word</key>
		<string>liii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>limnologi</string>
		<key>Word</key>
		<string>limnologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litografi</string>
		<key>Word</key>
		<string>litografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litteraturteori</string>
		<key>Word</key>
		<string>litteraturteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmedelsindustri</string>
		<key>Word</key>
		<string>livsmedelsindustri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logi</string>
		<key>Word</key>
		<string>logi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lotteri</string>
		<key>Word</key>
		<string>lotteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lugi</string>
		<key>Word</key>
		<string>Lugi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luigi</string>
		<key>Word</key>
		<string>Luigi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lvi</string>
		<key>Word</key>
		<string>lvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lvii</string>
		<key>Word</key>
		<string>lvii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lviii</string>
		<key>Word</key>
		<string>lviii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxi</string>
		<key>Word</key>
		<string>lxi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxii</string>
		<key>Word</key>
		<string>lxii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxiii</string>
		<key>Word</key>
		<string>lxiii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxvi</string>
		<key>Word</key>
		<string>lxvi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxvii</string>
		<key>Word</key>
		<string>lxvii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lxviii</string>
		<key>Word</key>
		<string>lxviii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösdriveri</string>
		<key>Word</key>
		<string>lösdriveri</string>
	</dict>
</array>
</plist>
