<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakej</string>
		<key>Word</key>
		<string>lakej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lastkaj</string>
		<key>Word</key>
		<string>lastkaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lej</string>
		<key>Word</key>
		<string>lej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leverpastej</string>
		<key>Word</key>
		<string>leverpastej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liljekonvalj</string>
		<key>Word</key>
		<string>liljekonvalj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livboj</string>
		<key>Word</key>
		<string>livboj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loj</string>
		<key>Word</key>
		<string>loj</string>
	</dict>
</array>
</plist>
