<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lack</string>
		<key>Word</key>
		<string>lack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagbok</string>
		<key>Word</key>
		<string>lagbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagklok</string>
		<key>Word</key>
		<string>lagklok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lakonisk</string>
		<key>Word</key>
		<string>lakonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landstingspolitik</string>
		<key>Word</key>
		<string>landstingspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lansettlik</string>
		<key>Word</key>
		<string>lansettlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lantbruk</string>
		<key>Word</key>
		<string>lantbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lantmäteriverk</string>
		<key>Word</key>
		<string>lantmäteriverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lappländsk</string>
		<key>Word</key>
		<string>lappländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>latinsk</string>
		<key>Word</key>
		<string>latinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>latmask</string>
		<key>Word</key>
		<string>latmask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legendarisk</string>
		<key>Word</key>
		<string>legendarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lek</string>
		<key>Word</key>
		<string>lek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leksak</string>
		<key>Word</key>
		<string>leksak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leninistisk</string>
		<key>Word</key>
		<string>leninistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lesbisk</string>
		<key>Word</key>
		<string>lesbisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lettisk</string>
		<key>Word</key>
		<string>lettisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>levitisk</string>
		<key>Word</key>
		<string>levitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lexikalisk</string>
		<key>Word</key>
		<string>lexikalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lidnersk</string>
		<key>Word</key>
		<string>lidnersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lidvik</string>
		<key>Word</key>
		<string>Lidvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ligurisk</string>
		<key>Word</key>
		<string>ligurisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lik</string>
		<key>Word</key>
		<string>lik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lilliehöök</string>
		<key>Word</key>
		<string>Lilliehöök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>limerick</string>
		<key>Word</key>
		<string>limerick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindbäck</string>
		<key>Word</key>
		<string>Lindbäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lingvistik</string>
		<key>Word</key>
		<string>lingvistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lingvistisk</string>
		<key>Word</key>
		<string>lingvistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linneduk</string>
		<key>Word</key>
		<string>linneduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linuxburk</string>
		<key>Word</key>
		<string>Linuxburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litauisk</string>
		<key>Word</key>
		<string>litauisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litteraturhistorisk</string>
		<key>Word</key>
		<string>litteraturhistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litteraturkritik</string>
		<key>Word</key>
		<string>litteraturkritik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liturgisk</string>
		<key>Word</key>
		<string>liturgisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livländsk</string>
		<key>Word</key>
		<string>livländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsverk</string>
		<key>Word</key>
		<string>livsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudteknik</string>
		<key>Word</key>
		<string>ljudteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljugarbänk</string>
		<key>Word</key>
		<string>ljugarbänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusstark</string>
		<key>Word</key>
		<string>ljusstark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lock</string>
		<key>Word</key>
		<string>lock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logaritmisk</string>
		<key>Word</key>
		<string>logaritmisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loggbok</string>
		<key>Word</key>
		<string>loggbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logik</string>
		<key>Word</key>
		<string>logik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logisk</string>
		<key>Word</key>
		<string>logisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lok</string>
		<key>Word</key>
		<string>lok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokalhistorisk</string>
		<key>Word</key>
		<string>lokalhistorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundmark</string>
		<key>Word</key>
		<string>Lundmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luspank</string>
		<key>Word</key>
		<string>luspank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luthersk</string>
		<key>Word</key>
		<string>luthersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>luuk</string>
		<key>Word</key>
		<string>Luuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lybsk</string>
		<key>Word</key>
		<string>lybsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyck</string>
		<key>Word</key>
		<string>lyck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lydisk</string>
		<key>Word</key>
		<string>lydisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyrik</string>
		<key>Word</key>
		<string>lyrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyrisk</string>
		<key>Word</key>
		<string>lyrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyteskomik</string>
		<key>Word</key>
		<string>lyteskomik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läck</string>
		<key>Word</key>
		<string>läck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läk</string>
		<key>Word</key>
		<string>läk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länk</string>
		<key>Word</key>
		<string>länk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärobok</string>
		<key>Word</key>
		<string>lärobok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärorik</string>
		<key>Word</key>
		<string>lärorik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läroverk</string>
		<key>Word</key>
		<string>läroverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsebok</string>
		<key>Word</key>
		<string>läsebok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsk</string>
		<key>Word</key>
		<string>läsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läskeblask</string>
		<key>Word</key>
		<string>läskeblask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läskedryck</string>
		<key>Word</key>
		<string>läskedryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lågtryck</string>
		<key>Word</key>
		<string>lågtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långträsk</string>
		<key>Word</key>
		<string>Långträsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lök</string>
		<key>Word</key>
		<string>lök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lömsk</string>
		<key>Word</key>
		<string>lömsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lönestatistik</string>
		<key>Word</key>
		<string>lönestatistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lövrik</string>
		<key>Word</key>
		<string>lövrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lübeck</string>
		<key>Word</key>
		<string>Lübeck</string>
	</dict>
</array>
</plist>
