<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>labil</string>
		<key>Word</key>
		<string>labil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagerlokal</string>
		<key>Word</key>
		<string>lagerlokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landareal</string>
		<key>Word</key>
		<string>landareal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsbygdsidyll</string>
		<key>Word</key>
		<string>landsbygdsidyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsdel</string>
		<key>Word</key>
		<string>landsdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsfiskal</string>
		<key>Word</key>
		<string>landsfiskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landstingskommunal</string>
		<key>Word</key>
		<string>landstingskommunal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lastbil</string>
		<key>Word</key>
		<string>lastbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laurel</string>
		<key>Word</key>
		<string>Laurel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lavendel</string>
		<key>Word</key>
		<string>lavendel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legal</string>
		<key>Word</key>
		<string>legal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legalxml</string>
		<key>Word</key>
		<string>LegalXML</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lerkärl</string>
		<key>Word</key>
		<string>lerkärl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lexikal</string>
		<key>Word</key>
		<string>lexikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liberal</string>
		<key>Word</key>
		<string>liberal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>licensavtal</string>
		<key>Word</key>
		<string>licensavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likaväl</string>
		<key>Word</key>
		<string>likaväl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likställ</string>
		<key>Word</key>
		<string>likställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likväl</string>
		<key>Word</key>
		<string>likväl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lill</string>
		<key>Word</key>
		<string>Lill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lillgammal</string>
		<key>Word</key>
		<string>lillgammal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindahl</string>
		<key>Word</key>
		<string>Lindahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindell</string>
		<key>Word</key>
		<string>Lindell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linesignal</string>
		<key>Word</key>
		<string>linesignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lingul</string>
		<key>Word</key>
		<string>lingul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linjal</string>
		<key>Word</key>
		<string>linjal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liverpool</string>
		<key>Word</key>
		<string>Liverpool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livfull</string>
		<key>Word</key>
		<string>livfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmedel</string>
		<key>Word</key>
		<string>livsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmedelspersonal</string>
		<key>Word</key>
		<string>livsmedelspersonal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsmål</string>
		<key>Word</key>
		<string>livsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsstil</string>
		<key>Word</key>
		<string>livsstil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudideal</string>
		<key>Word</key>
		<string>ljudideal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljungdahl</string>
		<key>Word</key>
		<string>Ljungdahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusdal</string>
		<key>Word</key>
		<string>Ljusdal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusgul</string>
		<key>Word</key>
		<string>ljusgul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lockmedel</string>
		<key>Word</key>
		<string>lockmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loggfil</string>
		<key>Word</key>
		<string>loggfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lojal</string>
		<key>Word</key>
		<string>lojal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokal</string>
		<key>Word</key>
		<string>lokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokomobil</string>
		<key>Word</key>
		<string>lokomobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokstall</string>
		<key>Word</key>
		<string>lokstall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lufttillförsel</string>
		<key>Word</key>
		<string>lufttillförsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lull</string>
		<key>Word</key>
		<string>lull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundamodell</string>
		<key>Word</key>
		<string>Lundamodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundell</string>
		<key>Word</key>
		<string>Lundell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundwall</string>
		<key>Word</key>
		<string>Lundwall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lunnefågel</string>
		<key>Word</key>
		<string>lunnefågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lustspel</string>
		<key>Word</key>
		<string>lustspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lymmel</string>
		<key>Word</key>
		<string>lymmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lysekil</string>
		<key>Word</key>
		<string>Lysekil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyxhotell</string>
		<key>Word</key>
		<string>lyxhotell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lägel</string>
		<key>Word</key>
		<string>lägel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läkemedel</string>
		<key>Word</key>
		<string>läkemedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lämmel</string>
		<key>Word</key>
		<string>lämmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>länstol</string>
		<key>Word</key>
		<string>länstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läromedel</string>
		<key>Word</key>
		<string>läromedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärosal</string>
		<key>Word</key>
		<string>lärosal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärostol</string>
		<key>Word</key>
		<string>lärostol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsfel</string>
		<key>Word</key>
		<string>läsfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lågprismodell</string>
		<key>Word</key>
		<string>lågprismodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>låttitel</string>
		<key>Word</key>
		<string>låttitel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lönsamhetskalkyl</string>
		<key>Word</key>
		<string>lönsamhetskalkyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löpsedel</string>
		<key>Word</key>
		<string>löpsedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lösningsmedel</string>
		<key>Word</key>
		<string>lösningsmedel</string>
	</dict>
</array>
</plist>
