<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laboratorium</string>
		<key>Word</key>
		<string>laboratorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laestadianism</string>
		<key>Word</key>
		<string>laestadianism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagerheim</string>
		<key>Word</key>
		<string>Lagerheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagom</string>
		<key>Word</key>
		<string>lagom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lagringsmedium</string>
		<key>Word</key>
		<string>lagringsmedium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laholm</string>
		<key>Word</key>
		<string>Laholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lam</string>
		<key>Word</key>
		<string>lam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lamm</string>
		<key>Word</key>
		<string>lamm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lapphem</string>
		<key>Word</key>
		<string>lapphem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lapproblem</string>
		<key>Word</key>
		<string>lapproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larm</string>
		<key>Word</key>
		<string>larm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>latrinrum</string>
		<key>Word</key>
		<string>latrinrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lcd-skarm</string>
		<key>Word</key>
		<string>LCD-skärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledsam</string>
		<key>Word</key>
		<string>ledsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legalism</string>
		<key>Word</key>
		<string>legalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legitim</string>
		<key>Word</key>
		<string>legitim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lem</string>
		<key>Word</key>
		<string>lem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leninism</string>
		<key>Word</key>
		<string>leninism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lerum</string>
		<key>Word</key>
		<string>Lerum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liberalism</string>
		<key>Word</key>
		<string>liberalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likasom</string>
		<key>Word</key>
		<string>likasom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>liksom</string>
		<key>Word</key>
		<string>liksom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>likstrom</string>
		<key>Word</key>
		<string>likström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lim</string>
		<key>Word</key>
		<string>lim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindholm</string>
		<key>Word</key>
		<string>Lindholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lindstrom</string>
		<key>Word</key>
		<string>Lindström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linoleum</string>
		<key>Word</key>
		<string>linoleum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>linuxsystem</string>
		<key>Word</key>
		<string>Linuxsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>listmedlem</string>
		<key>Word</key>
		<string>listmedlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litium</string>
		<key>Word</key>
		<string>litium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsform</string>
		<key>Word</key>
		<string>livsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljudsystem</string>
		<key>Word</key>
		<string>ljudsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljum</string>
		<key>Word</key>
		<string>ljum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljusbom</string>
		<key>Word</key>
		<string>ljusbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lo-ekonom</string>
		<key>Word</key>
		<string>LO-ekonom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lo-medlem</string>
		<key>Word</key>
		<string>LO-medlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logaritm</string>
		<key>Word</key>
		<string>logaritm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lom</string>
		<key>Word</key>
		<string>lom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lunarstorm</string>
		<key>Word</key>
		<string>LunarStorm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundstrom</string>
		<key>Word</key>
		<string>Lundström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lungsjukdom</string>
		<key>Word</key>
		<string>lungsjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyckosam</string>
		<key>Word</key>
		<string>lyckosam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lyskom</string>
		<key>Word</key>
		<string>LysKOM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lardom</string>
		<key>Word</key>
		<string>lärdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laroschism</string>
		<key>Word</key>
		<string>läroschism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lattsam</string>
		<key>Word</key>
		<string>lättsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langsam</string>
		<key>Word</key>
		<string>långsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laestadianism</string>
		<key>Word</key>
		<string>læstadianism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lonsam</string>
		<key>Word</key>
		<string>lönsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lowenhielm</string>
		<key>Word</key>
		<string>Löwenhielm</string>
	</dict>
</array>
</plist>
