<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landsortsbo</string>
		<key>Word</key>
		<string>landsortsbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>larsmo</string>
		<key>Word</key>
		<string>Larsmo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lassbo</string>
		<key>Word</key>
		<string>Lassbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>legio</string>
		<key>Word</key>
		<string>legio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lego</string>
		<key>Word</key>
		<string>LEGO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leo</string>
		<key>Word</key>
		<string>Leo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lesotho</string>
		<key>Word</key>
		<string>Lesotho</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lessebo</string>
		<key>Word</key>
		<string>Lessebo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>libretto</string>
		<key>Word</key>
		<string>libretto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lidingo</string>
		<key>Word</key>
		<string>Lidingö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livorno</string>
		<key>Word</key>
		<string>Livorno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livsnarvaro</string>
		<key>Word</key>
		<string>livsnärvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ljustero</string>
		<key>Word</key>
		<string>Ljusterö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lo</string>
		<key>Word</key>
		<string>lo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logo</string>
		<key>Word</key>
		<string>logo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lokko</string>
		<key>Word</key>
		<string>Lokko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lombroso</string>
		<key>Word</key>
		<string>Lombroso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lotto</string>
		<key>Word</key>
		<string>lotto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lozano</string>
		<key>Word</key>
		<string>Lozano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lumbago</string>
		<key>Word</key>
		<string>lumbago</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lundabo</string>
		<key>Word</key>
		<string>lundabo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>langbro</string>
		<key>Word</key>
		<string>Långbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lovsjo</string>
		<key>Word</key>
		<string>Lövsjö</string>
	</dict>
</array>
</plist>
