<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>landskap</string>
		<key>Word</key>
		<string>landskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lapp</string>
		<key>Word</key>
		<string>lapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>laptop</string>
		<key>Word</key>
		<string>laptop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ldap</string>
		<key>Word</key>
		<string>LDAP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledamotskap</string>
		<key>Word</key>
		<string>ledamotskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledaregenskap</string>
		<key>Word</key>
		<string>ledaregenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ledarskap</string>
		<key>Word</key>
		<string>ledarskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>leverop</string>
		<key>Word</key>
		<string>leverop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lisp</string>
		<key>Word</key>
		<string>Lisp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>litteraturvetenskap</string>
		<key>Word</key>
		<string>litteraturvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>livegenskap</string>
		<key>Word</key>
		<string>livegenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>logotyp</string>
		<key>Word</key>
		<string>logotyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>loop</string>
		<key>Word</key>
		<string>loop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lopp</string>
		<key>Word</key>
		<string>lopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lp</string>
		<key>Word</key>
		<string>LP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lump</string>
		<key>Word</key>
		<string>lump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lupp</string>
		<key>Word</key>
		<string>lupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läkaresällskap</string>
		<key>Word</key>
		<string>läkaresällskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läpp</string>
		<key>Word</key>
		<string>läpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lärjungaskap</string>
		<key>Word</key>
		<string>lärjungaskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>läsargrupp</string>
		<key>Word</key>
		<string>läsargrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>långstrump</string>
		<key>Word</key>
		<string>Långstrump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>lönegrupp</string>
		<key>Word</key>
		<string>lönegrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>löp</string>
		<key>Word</key>
		<string>löp</string>
	</dict>
</array>
</plist>
