<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mack</string>
		<key>Word</key>
		<string>mack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maersk</string>
		<key>Word</key>
		<string>Maersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maffialook</string>
		<key>Word</key>
		<string>maffialook</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magisk</string>
		<key>Word</key>
		<string>magisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnetisk</string>
		<key>Word</key>
		<string>magnetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnifik</string>
		<key>Word</key>
		<string>magnifik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magsjuk</string>
		<key>Word</key>
		<string>magsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magstark</string>
		<key>Word</key>
		<string>magstark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>majestatisk</string>
		<key>Word</key>
		<string>majestätisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mak</string>
		<key>Word</key>
		<string>Mak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manick</string>
		<key>Word</key>
		<string>manick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manisk</string>
		<key>Word</key>
		<string>manisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mark</string>
		<key>Word</key>
		<string>mark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marschmusik</string>
		<key>Word</key>
		<string>marschmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marskalk</string>
		<key>Word</key>
		<string>marskalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>martialisk</string>
		<key>Word</key>
		<string>martialisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marulk</string>
		<key>Word</key>
		<string>marulk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marxistisk</string>
		<key>Word</key>
		<string>marxistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mask</string>
		<key>Word</key>
		<string>mask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>masochistisk</string>
		<key>Word</key>
		<string>masochistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>masurbjork</string>
		<key>Word</key>
		<string>masurbjörk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matematik</string>
		<key>Word</key>
		<string>matematik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matematisk</string>
		<key>Word</key>
		<string>matematisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matsack</string>
		<key>Word</key>
		<string>matsäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medelstark</string>
		<key>Word</key>
		<string>medelstark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medicinsk</string>
		<key>Word</key>
		<string>medicinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mednick</string>
		<key>Word</key>
		<string>Mednick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medryck</string>
		<key>Word</key>
		<string>medryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mefitisk</string>
		<key>Word</key>
		<string>mefitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mekanik</string>
		<key>Word</key>
		<string>mekanik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mekanisk</string>
		<key>Word</key>
		<string>mekanisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>melankolisk</string>
		<key>Word</key>
		<string>melankolisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanmok</string>
		<key>Word</key>
		<string>mellanmök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellansvensk</string>
		<key>Word</key>
		<string>mellansvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>melodisk</string>
		<key>Word</key>
		<string>melodisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>menisk</string>
		<key>Word</key>
		<string>menisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mentalsjuk</string>
		<key>Word</key>
		<string>mentalsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>merkantilistisk</string>
		<key>Word</key>
		<string>merkantilistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mesak</string>
		<key>Word</key>
		<string>Mesak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metaforisk</string>
		<key>Word</key>
		<string>metaforisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metafysik</string>
		<key>Word</key>
		<string>metafysik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metafysisk</string>
		<key>Word</key>
		<string>metafysisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metallbestick</string>
		<key>Word</key>
		<string>metallbestick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metallisk</string>
		<key>Word</key>
		<string>metallisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meteorologisk</string>
		<key>Word</key>
		<string>meteorologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metodik</string>
		<key>Word</key>
		<string>metodik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metodisk</string>
		<key>Word</key>
		<string>metodisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metodologisk</string>
		<key>Word</key>
		<string>metodologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>middagsdisk</string>
		<key>Word</key>
		<string>middagsdisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>midjanitisk</string>
		<key>Word</key>
		<string>midjanitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikroskopisk</string>
		<key>Word</key>
		<string>mikroskopisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>militaristisk</string>
		<key>Word</key>
		<string>militaristisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>militarisk</string>
		<key>Word</key>
		<string>militärisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>militarmusik</string>
		<key>Word</key>
		<string>militärmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljopolitik</string>
		<key>Word</key>
		<string>miljöpolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljopolitisk</string>
		<key>Word</key>
		<string>miljöpolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljoteknik</string>
		<key>Word</key>
		<string>miljöteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mindark</string>
		<key>Word</key>
		<string>Mindark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mineralisk</string>
		<key>Word</key>
		<string>mineralisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimalistisk</string>
		<key>Word</key>
		<string>minimalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mink</string>
		<key>Word</key>
		<string>mink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minnesstark</string>
		<key>Word</key>
		<string>minnesstark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minoritetspolitik</string>
		<key>Word</key>
		<string>minoritetspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minoritetssprak</string>
		<key>Word</key>
		<string>minoritetsspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minsk</string>
		<key>Word</key>
		<string>Minsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misantropisk</string>
		<key>Word</key>
		<string>misantropisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missbruk</string>
		<key>Word</key>
		<string>missbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstank</string>
		<key>Word</key>
		<string>misstänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjuk</string>
		<key>Word</key>
		<string>mjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjaltsjuk</string>
		<key>Word</key>
		<string>mjältsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjolk</string>
		<key>Word</key>
		<string>mjölk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moback</string>
		<key>Word</key>
		<string>Moback</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moldavisk</string>
		<key>Word</key>
		<string>moldavisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molekylarbiologisk</string>
		<key>Word</key>
		<string>molekylärbiologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mollusk</string>
		<key>Word</key>
		<string>mollusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monark</string>
		<key>Word</key>
		<string>monark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mongolisk</string>
		<key>Word</key>
		<string>mongolisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monistisk</string>
		<key>Word</key>
		<string>monistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>montauk</string>
		<key>Word</key>
		<string>Montauk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moralisk</string>
		<key>Word</key>
		<string>moralisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moralpanik</string>
		<key>Word</key>
		<string>moralpanik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mordforsok</string>
		<key>Word</key>
		<string>mordförsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mordisk</string>
		<key>Word</key>
		<string>mordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morsk</string>
		<key>Word</key>
		<string>morsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mosaik</string>
		<key>Word</key>
		<string>mosaik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mosebok</string>
		<key>Word</key>
		<string>Mosebok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moskovitisk</string>
		<key>Word</key>
		<string>moskovitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motbok</string>
		<key>Word</key>
		<string>motbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motorik</string>
		<key>Word</key>
		<string>motorik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>msk</string>
		<key>Word</key>
		<string>msk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mullbank</string>
		<key>Word</key>
		<string>mullbänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multietnisk</string>
		<key>Word</key>
		<string>multietnisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munck</string>
		<key>Word</key>
		<string>Munck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munk</string>
		<key>Word</key>
		<string>munk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munskank</string>
		<key>Word</key>
		<string>munskänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>murbruk</string>
		<key>Word</key>
		<string>murbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>murmansk</string>
		<key>Word</key>
		<string>Murmansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musik</string>
		<key>Word</key>
		<string>musik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikalisk</string>
		<key>Word</key>
		<string>musikalisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikdramatik</string>
		<key>Word</key>
		<string>musikdramatik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikjournalistik</string>
		<key>Word</key>
		<string>musikjournalistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musiksmak</string>
		<key>Word</key>
		<string>musiksmak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muslimsk</string>
		<key>Word</key>
		<string>muslimsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muzak</string>
		<key>Word</key>
		<string>muzak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myndighetssprak</string>
		<key>Word</key>
		<string>myndighetsspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myrmark</string>
		<key>Word</key>
		<string>myrmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myrstack</string>
		<key>Word</key>
		<string>myrstack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mystik</string>
		<key>Word</key>
		<string>mystik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mystisk</string>
		<key>Word</key>
		<string>mystisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mytisk</string>
		<key>Word</key>
		<string>mytisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mytologisk</string>
		<key>Word</key>
		<string>mytologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mahrisk</string>
		<key>Word</key>
		<string>mährisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manniskoblick</string>
		<key>Word</key>
		<string>människoblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manniskolik</string>
		<key>Word</key>
		<string>människolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manniskotrask</string>
		<key>Word</key>
		<string>människoträsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mark</string>
		<key>Word</key>
		<string>märk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mask</string>
		<key>Word</key>
		<string>mäsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>masterkock</string>
		<key>Word</key>
		<string>mästerkock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>masterverk</string>
		<key>Word</key>
		<string>mästerverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mattstock</string>
		<key>Word</key>
		<string>måttstock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobelfabrik</string>
		<key>Word</key>
		<string>möbelfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mork</string>
		<key>Word</key>
		<string>mörk</string>
	</dict>
</array>
</plist>
