<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>madrigal</string>
		<key>Word</key>
		<string>madrigal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mail</string>
		<key>Word</key>
		<string>mail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mal</string>
		<key>Word</key>
		<string>mal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mall</string>
		<key>Word</key>
		<string>mall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mamsell</string>
		<key>Word</key>
		<string>mamsell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mandel</string>
		<key>Word</key>
		<string>mandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mangel</string>
		<key>Word</key>
		<string>mangel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mankell</string>
		<key>Word</key>
		<string>Mankell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mantal</string>
		<key>Word</key>
		<string>mantal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mantel</string>
		<key>Word</key>
		<string>mantel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manual</string>
		<key>Word</key>
		<string>manual</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manuel</string>
		<key>Word</key>
		<string>Manuel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manuell</string>
		<key>Word</key>
		<string>manuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manoverpanel</string>
		<key>Word</key>
		<string>manöverpanel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marcel</string>
		<key>Word</key>
		<string>Marcel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marginal</string>
		<key>Word</key>
		<string>marginal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marginell</string>
		<key>Word</key>
		<string>marginell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markmineral</string>
		<key>Word</key>
		<string>markmineral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsdomstol</string>
		<key>Word</key>
		<string>marknadsdomstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marknadsliberal</string>
		<key>Word</key>
		<string>marknadsliberal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markpool</string>
		<key>Word</key>
		<string>markpool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marshall</string>
		<key>Word</key>
		<string>Marshall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskinell</string>
		<key>Word</key>
		<string>maskinell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>material</string>
		<key>Word</key>
		<string>material</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>materiel</string>
		<key>Word</key>
		<string>materiel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>materiell</string>
		<key>Word</key>
		<string>materiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matrikel</string>
		<key>Word</key>
		<string>matrikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matsal</string>
		<key>Word</key>
		<string>matsal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maximal</string>
		<key>Word</key>
		<string>maximal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mcgraw-hill</string>
		<key>Word</key>
		<string>McGraw-Hill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medel</string>
		<key>Word</key>
		<string>medel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medeltal</string>
		<key>Word</key>
		<string>medeltal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medhall</string>
		<key>Word</key>
		<string>medhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medicinal</string>
		<key>Word</key>
		<string>medicinal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlemsantal</string>
		<key>Word</key>
		<string>medlemsantal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>megapixel</string>
		<key>Word</key>
		<string>megapixel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>megapol</string>
		<key>Word</key>
		<string>Megapol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mejl</string>
		<key>Word</key>
		<string>mejl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mejsel</string>
		<key>Word</key>
		<string>mejsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanmal</string>
		<key>Word</key>
		<string>mellanmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellansel</string>
		<key>Word</key>
		<string>Mellansel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanol</string>
		<key>Word</key>
		<string>mellanöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>melodifestival</string>
		<key>Word</key>
		<string>melodifestival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>meningsfull</string>
		<key>Word</key>
		<string>meningsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mental</string>
		<key>Word</key>
		<string>mental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metall</string>
		<key>Word</key>
		<string>metall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metropol</string>
		<key>Word</key>
		<string>metropol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>michael</string>
		<key>Word</key>
		<string>Michael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>michail</string>
		<key>Word</key>
		<string>Michail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>michel</string>
		<key>Word</key>
		<string>Michel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mickel</string>
		<key>Word</key>
		<string>Mickel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>middagssol</string>
		<key>Word</key>
		<string>middagssol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>middagstal</string>
		<key>Word</key>
		<string>middagstal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>midnattssol</string>
		<key>Word</key>
		<string>midnattssol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>midsommarsol</string>
		<key>Word</key>
		<string>midsommarsol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miguel</string>
		<key>Word</key>
		<string>Miguel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikael</string>
		<key>Word</key>
		<string>Mikael</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikal</string>
		<key>Word</key>
		<string>Mikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikrobiell</string>
		<key>Word</key>
		<string>mikrobiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikrofonkabel</string>
		<key>Word</key>
		<string>mikrofonkabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mil</string>
		<key>Word</key>
		<string>mil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljontal</string>
		<key>Word</key>
		<string>miljontal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljodomstol</string>
		<key>Word</key>
		<string>miljödomstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljovariabel</string>
		<key>Word</key>
		<string>miljövariabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mineral</string>
		<key>Word</key>
		<string>mineral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minikjol</string>
		<key>Word</key>
		<string>minikjol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimal</string>
		<key>Word</key>
		<string>minimal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mirakel</string>
		<key>Word</key>
		<string>mirakel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misshandel</string>
		<key>Word</key>
		<string>misshandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missil</string>
		<key>Word</key>
		<string>missil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misskotsel</string>
		<key>Word</key>
		<string>misskötsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mistel</string>
		<key>Word</key>
		<string>mistel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mitchell</string>
		<key>Word</key>
		<string>Mitchell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mjol</string>
		<key>Word</key>
		<string>mjöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ml</string>
		<key>Word</key>
		<string>ml</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobbningsfall</string>
		<key>Word</key>
		<string>mobbningsfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobil</string>
		<key>Word</key>
		<string>mobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modeartikel</string>
		<key>Word</key>
		<string>modeartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modell</string>
		<key>Word</key>
		<string>modell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modemobil</string>
		<key>Word</key>
		<string>modemobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modempool</string>
		<key>Word</key>
		<string>modempool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modersmal</string>
		<key>Word</key>
		<string>modersmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modul</string>
		<key>Word</key>
		<string>modul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mol</string>
		<key>Word</key>
		<string>mol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molekyl</string>
		<key>Word</key>
		<string>molekyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moll</string>
		<key>Word</key>
		<string>moll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monitorsignal</string>
		<key>Word</key>
		<string>monitorsignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monopol</string>
		<key>Word</key>
		<string>monopol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monsterkabel</string>
		<key>Word</key>
		<string>monsterkabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monumental</string>
		<key>Word</key>
		<string>monumental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>moral</string>
		<key>Word</key>
		<string>moral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motell</string>
		<key>Word</key>
		<string>motell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motorcykel</string>
		<key>Word</key>
		<string>motorcykel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motpol</string>
		<key>Word</key>
		<string>motpol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motsagelsefull</string>
		<key>Word</key>
		<string>motsägelsefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mull</string>
		<key>Word</key>
		<string>mull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multilateral</string>
		<key>Word</key>
		<string>multilateral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multinationell</string>
		<key>Word</key>
		<string>multinationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>multipel</string>
		<key>Word</key>
		<string>multipel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mummel</string>
		<key>Word</key>
		<string>mummel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munkavel</string>
		<key>Word</key>
		<string>munkavel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munkedal</string>
		<key>Word</key>
		<string>Munkedal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>munktell</string>
		<key>Word</key>
		<string>Munktell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>museiforemal</string>
		<key>Word</key>
		<string>museiföremål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikal</string>
		<key>Word</key>
		<string>musikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikfestival</string>
		<key>Word</key>
		<string>musikfestival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikstil</string>
		<key>Word</key>
		<string>musikstil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muskel</string>
		<key>Word</key>
		<string>muskel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musselskal</string>
		<key>Word</key>
		<string>musselskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myrdal</string>
		<key>Word</key>
		<string>Myrdal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myspell</string>
		<key>Word</key>
		<string>MySpell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mysql</string>
		<key>Word</key>
		<string>MySQL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mytravel</string>
		<key>Word</key>
		<string>MyTravel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manniskokapital</string>
		<key>Word</key>
		<string>människokapital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manniskopool</string>
		<key>Word</key>
		<string>människopool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mal</string>
		<key>Word</key>
		<string>mål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mangdimensionell</string>
		<key>Word</key>
		<string>mångdimensionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mangdubbel</string>
		<key>Word</key>
		<string>mångdubbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mangkulturell</string>
		<key>Word</key>
		<string>mångkulturell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mattfull</string>
		<key>Word</key>
		<string>måttfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mobel</string>
		<key>Word</key>
		<string>möbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mogel</string>
		<key>Word</key>
		<string>mögel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molndal</string>
		<key>Word</key>
		<string>Mölndal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monstergill</string>
		<key>Word</key>
		<string>mönstergill</string>
	</dict>
</array>
</plist>
