<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>magnetism</string>
		<key>Word</key>
		<string>magnetism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mahanaim</string>
		<key>Word</key>
		<string>Mahanaim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maktcentrum</string>
		<key>Word</key>
		<string>maktcentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malkolm</string>
		<key>Word</key>
		<string>Malkolm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malm</string>
		<key>Word</key>
		<string>malm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malmström</string>
		<key>Word</key>
		<string>Malmström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malmögymnasium</string>
		<key>Word</key>
		<string>Malmögymnasium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mandom</string>
		<key>Word</key>
		<string>mandom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mannheim</string>
		<key>Word</key>
		<string>Mannheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mardröm</string>
		<key>Word</key>
		<string>mardröm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mariehem</string>
		<key>Word</key>
		<string>Mariehem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maritim</string>
		<key>Word</key>
		<string>maritim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>markmikroorganism</string>
		<key>Word</key>
		<string>markmikroorganism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marxism</string>
		<key>Word</key>
		<string>marxism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskinrum</string>
		<key>Word</key>
		<string>maskinrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maskinöversättningssystem</string>
		<key>Word</key>
		<string>maskinöversättningssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>massmedium</string>
		<key>Word</key>
		<string>massmedium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>matrum</string>
		<key>Word</key>
		<string>matrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mausoleum</string>
		<key>Word</key>
		<string>mausoleum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maxim</string>
		<key>Word</key>
		<string>maxim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maximum</string>
		<key>Word</key>
		<string>maximum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medicum</string>
		<key>Word</key>
		<string>medicum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medium</string>
		<key>Word</key>
		<string>medium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlem</string>
		<key>Word</key>
		<string>medlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mekanism</string>
		<key>Word</key>
		<string>mekanism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanrum</string>
		<key>Word</key>
		<string>mellanrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mellanstadium</string>
		<key>Word</key>
		<string>mellanstadium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mem</string>
		<key>Word</key>
		<string>Mem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>memorandum</string>
		<key>Word</key>
		<string>memorandum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>merkantilism</string>
		<key>Word</key>
		<string>merkantilism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mesullam</string>
		<key>Word</key>
		<string>Mesullam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikrofilm</string>
		<key>Word</key>
		<string>mikrofilm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikroorganism</string>
		<key>Word</key>
		<string>mikroorganism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljöproblem</string>
		<key>Word</key>
		<string>miljöproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>millennium</string>
		<key>Word</key>
		<string>millennium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimalism</string>
		<key>Word</key>
		<string>minimalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>minimum</string>
		<key>Word</key>
		<string>minimum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miniproblem</string>
		<key>Word</key>
		<string>miniproblem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ministerium</string>
		<key>Word</key>
		<string>ministerium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mirjam</string>
		<key>Word</key>
		<string>Mirjam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstänksam</string>
		<key>Word</key>
		<string>misstänksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mm</string>
		<key>Word</key>
		<string>mm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modem</string>
		<key>Word</key>
		<string>modem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modeprogram</string>
		<key>Word</key>
		<string>modeprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>modernism</string>
		<key>Word</key>
		<string>modernism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>molkom</string>
		<key>Word</key>
		<string>Molkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>morfem</string>
		<key>Word</key>
		<string>morfem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motionsform</string>
		<key>Word</key>
		<string>motionsform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mottagningsrum</string>
		<key>Word</key>
		<string>mottagningsrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>museum</string>
		<key>Word</key>
		<string>museum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikform</string>
		<key>Word</key>
		<string>musikform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikterm</string>
		<key>Word</key>
		<string>musikterm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muslim</string>
		<key>Word</key>
		<string>muslim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>muspelhem</string>
		<key>Word</key>
		<string>Muspelhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mycelium</string>
		<key>Word</key>
		<string>mycelium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mysterium</string>
		<key>Word</key>
		<string>mysterium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>märkesreklam</string>
		<key>Word</key>
		<string>märkesreklam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måttsystem</string>
		<key>Word</key>
		<string>måttsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>möbelkram</string>
		<key>Word</key>
		<string>möbelkram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mödosam</string>
		<key>Word</key>
		<string>mödosam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörkrum</string>
		<key>Word</key>
		<string>mörkrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mörrum</string>
		<key>Word</key>
		<string>Mörrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mösskärm</string>
		<key>Word</key>
		<string>mösskärm</string>
	</dict>
</array>
</plist>
