<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maestro</string>
		<key>Word</key>
		<string>maestro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>makro</string>
		<key>Word</key>
		<string>makro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malabo</string>
		<key>Word</key>
		<string>Malabo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malmsjö</string>
		<key>Word</key>
		<string>Malmsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malmö</string>
		<key>Word</key>
		<string>Malmö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>malö</string>
		<key>Word</key>
		<string>Malö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mambo</string>
		<key>Word</key>
		<string>mambo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mango</string>
		<key>Word</key>
		<string>mango</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mannbro</string>
		<key>Word</key>
		<string>Mannbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maphrao</string>
		<key>Word</key>
		<string>Maphrao</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maputo</string>
		<key>Word</key>
		<string>Maputo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marco</string>
		<key>Word</key>
		<string>Marco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marino</string>
		<key>Word</key>
		<string>Marino</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mario</string>
		<key>Word</key>
		<string>Mario</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>marocko</string>
		<key>Word</key>
		<string>Marocko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mateo</string>
		<key>Word</key>
		<string>Mateo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>melodiradio</string>
		<key>Word</key>
		<string>melodiradio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>menlo</string>
		<key>Word</key>
		<string>Menlo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metro</string>
		<key>Word</key>
		<string>Metro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metro</string>
		<key>Word</key>
		<string>metro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>metspö</string>
		<key>Word</key>
		<string>metspö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mexico</string>
		<key>Word</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mexiko</string>
		<key>Word</key>
		<string>Mexiko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikro</string>
		<key>Word</key>
		<string>mikro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>milano</string>
		<key>Word</key>
		<string>Milano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>miljö</string>
		<key>Word</key>
		<string>miljö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misstro</string>
		<key>Word</key>
		<string>misstro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mo</string>
		<key>Word</key>
		<string>Mo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mo</string>
		<key>Word</key>
		<string>mo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mojo</string>
		<key>Word</key>
		<string>mojo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>monaco</string>
		<key>Word</key>
		<string>Monaco</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mondeo</string>
		<key>Word</key>
		<string>Mondeo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mono</string>
		<key>Word</key>
		<string>mono</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>montenegro</string>
		<key>Word</key>
		<string>Montenegro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>motto</string>
		<key>Word</key>
		<string>motto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mullsjö</string>
		<key>Word</key>
		<string>Mullsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikvideo</string>
		<key>Word</key>
		<string>musikvideo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>myresjö</string>
		<key>Word</key>
		<string>Myresjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mysko</string>
		<key>Word</key>
		<string>mysko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målkonto</string>
		<key>Word</key>
		<string>målkonto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>måtto</string>
		<key>Word</key>
		<string>måtto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mö</string>
		<key>Word</key>
		<string>mö</string>
	</dict>
</array>
</plist>
