<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maktkamp</string>
		<key>Word</key>
		<string>maktkamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manchesterpop</string>
		<key>Word</key>
		<string>manchesterpop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maningsrop</string>
		<key>Word</key>
		<string>maningsrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>manskap</string>
		<key>Word</key>
		<string>manskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mantorp</string>
		<key>Word</key>
		<string>Mantorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mapp</string>
		<key>Word</key>
		<string>mapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>maratonlopp</string>
		<key>Word</key>
		<string>maratonlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medaljhopp</string>
		<key>Word</key>
		<string>medaljhopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medborgarskap</string>
		<key>Word</key>
		<string>medborgarskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>medlemskap</string>
		<key>Word</key>
		<string>medlemskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mikroskop</string>
		<key>Word</key>
		<string>mikroskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>misantrop</string>
		<key>Word</key>
		<string>misantrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>missgrepp</string>
		<key>Word</key>
		<string>missgrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mp</string>
		<key>Word</key>
		<string>mp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musikgrupp</string>
		<key>Word</key>
		<string>musikgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>musknapp</string>
		<key>Word</key>
		<string>musknapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mälarlandskap</string>
		<key>Word</key>
		<string>Mälarlandskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>människokropp</string>
		<key>Word</key>
		<string>människokropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mästerskap</string>
		<key>Word</key>
		<string>mästerskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målgrupp</string>
		<key>Word</key>
		<string>målgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>målmapp</string>
		<key>Word</key>
		<string>målmapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>mögelsvamp</string>
		<key>Word</key>
		<string>mögelsvamp</string>
	</dict>
</array>
</plist>
