<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nag</string>
		<key>Word</key>
		<string>Nag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nagelfaring</string>
		<key>Word</key>
		<string>nagelfaring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnbildning</string>
		<key>Word</key>
		<string>namnbildning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnkunnig</string>
		<key>Word</key>
		<string>namnkunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnsdag</string>
		<key>Word</key>
		<string>namnsdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnteckning</string>
		<key>Word</key>
		<string>namnteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nang</string>
		<key>Word</key>
		<string>Nang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nanjing</string>
		<key>Word</key>
		<string>Nanjing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalsang</string>
		<key>Word</key>
		<string>nationalsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natt-och-dag</string>
		<key>Word</key>
		<string>natt-och-dag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattjanstgoring</string>
		<key>Word</key>
		<string>nattjänstgöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattlig</string>
		<key>Word</key>
		<string>nattlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattovning</string>
		<key>Word</key>
		<string>nattövning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturlag</string>
		<key>Word</key>
		<string>naturlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturlig</string>
		<key>Word</key>
		<string>naturlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturskildring</string>
		<key>Word</key>
		<string>naturskildring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturtillgang</string>
		<key>Word</key>
		<string>naturtillgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturvetenskaplig</string>
		<key>Word</key>
		<string>naturvetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>navigering</string>
		<key>Word</key>
		<string>navigering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedbrytning</string>
		<key>Word</key>
		<string>nedbrytning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neddrag</string>
		<key>Word</key>
		<string>neddrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neddragning</string>
		<key>Word</key>
		<string>neddragning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neddrog</string>
		<key>Word</key>
		<string>neddrog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedergang</string>
		<key>Word</key>
		<string>nedergång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nederlag</string>
		<key>Word</key>
		<string>nederlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedervaning</string>
		<key>Word</key>
		<string>nedervåning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedgang</string>
		<key>Word</key>
		<string>nedgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedisning</string>
		<key>Word</key>
		<string>nedisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkoppling</string>
		<key>Word</key>
		<string>nedkoppling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedkylning</string>
		<key>Word</key>
		<string>nedkylning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedladdning</string>
		<key>Word</key>
		<string>nedladdning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedledning</string>
		<key>Word</key>
		<string>nedledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlagg</string>
		<key>Word</key>
		<string>nedlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedlaggning</string>
		<key>Word</key>
		<string>nedläggning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedmontering</string>
		<key>Word</key>
		<string>nedmontering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrustning</string>
		<key>Word</key>
		<string>nedrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrakning</string>
		<key>Word</key>
		<string>nedräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedskarning</string>
		<key>Word</key>
		<string>nedskärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedslag</string>
		<key>Word</key>
		<string>nedslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedslog</string>
		<key>Word</key>
		<string>nedslog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsteg</string>
		<key>Word</key>
		<string>nedsteg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedstig</string>
		<key>Word</key>
		<string>nedstig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedsattning</string>
		<key>Word</key>
		<string>nedsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtag</string>
		<key>Word</key>
		<string>nedtag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtog</string>
		<key>Word</key>
		<string>nedtog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtoning</string>
		<key>Word</key>
		<string>nedtoning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedtyng</string>
		<key>Word</key>
		<string>nedtyng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neg</string>
		<key>Word</key>
		<string>neg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerladdning</string>
		<key>Word</key>
		<string>nerladdning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerslag</string>
		<key>Word</key>
		<string>nerslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neslig</string>
		<key>Word</key>
		<string>neslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nettoforbrukning</string>
		<key>Word</key>
		<string>nettoförbrukning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nettomineralisering</string>
		<key>Word</key>
		<string>nettomineralisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nettominskning</string>
		<key>Word</key>
		<string>nettominskning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nettookning</string>
		<key>Word</key>
		<string>nettoökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neubrandenburg</string>
		<key>Word</key>
		<string>Neubrandenburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neurolog</string>
		<key>Word</key>
		<string>neurolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nickning</string>
		<key>Word</key>
		<string>nickning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nidhogg</string>
		<key>Word</key>
		<string>Nidhögg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>niding</string>
		<key>Word</key>
		<string>niding</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nig</string>
		<key>Word</key>
		<string>nig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>niofaldig</string>
		<key>Word</key>
		<string>niofaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nioarig</string>
		<key>Word</key>
		<string>nioårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nioaring</string>
		<key>Word</key>
		<string>nioåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nivaforandring</string>
		<key>Word</key>
		<string>nivåförändring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njutning</string>
		<key>Word</key>
		<string>njutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nog</string>
		<key>Word</key>
		<string>nog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nollning</string>
		<key>Word</key>
		<string>nollning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nollstallning</string>
		<key>Word</key>
		<string>nollställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nominering</string>
		<key>Word</key>
		<string>nominering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norberg</string>
		<key>Word</key>
		<string>Norberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordanstig</string>
		<key>Word</key>
		<string>Nordanstig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordlig</string>
		<key>Word</key>
		<string>nordlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordmaling</string>
		<key>Word</key>
		<string>Nordmaling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normalbefolkning</string>
		<key>Word</key>
		<string>normalbefolkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normalfordelning</string>
		<key>Word</key>
		<string>normalfördelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normalviktig</string>
		<key>Word</key>
		<string>normalviktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normering</string>
		<key>Word</key>
		<string>normering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normgivning</string>
		<key>Word</key>
		<string>normgivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrkoping</string>
		<key>Word</key>
		<string>Norrköping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrlanning</string>
		<key>Word</key>
		<string>norrlänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrmalmstorg</string>
		<key>Word</key>
		<string>Norrmalmstorg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norsborg</string>
		<key>Word</key>
		<string>Norsborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>notering</string>
		<key>Word</key>
		<string>notering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>notifiering</string>
		<key>Word</key>
		<string>notifiering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>novellsamling</string>
		<key>Word</key>
		<string>novellsamling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nummerordning</string>
		<key>Word</key>
		<string>nummerordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nummerupplysning</string>
		<key>Word</key>
		<string>nummerupplysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>numrering</string>
		<key>Word</key>
		<string>numrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanlagg</string>
		<key>Word</key>
		<string>nyanlägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyanskaffning</string>
		<key>Word</key>
		<string>nyanskaffning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyberg</string>
		<key>Word</key>
		<string>Nyberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybyggnadsbidrag</string>
		<key>Word</key>
		<string>nybyggnadsbidrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyetablering</string>
		<key>Word</key>
		<string>nyetablering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsrapportering</string>
		<key>Word</key>
		<string>nyhetsrapportering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetssandning</string>
		<key>Word</key>
		<string>nyhetssändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetstidning</string>
		<key>Word</key>
		<string>nyhetstidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyinvestering</string>
		<key>Word</key>
		<string>nyinvestering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nykomling</string>
		<key>Word</key>
		<string>nykomling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nykoping</string>
		<key>Word</key>
		<string>Nyköping</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nymodig</string>
		<key>Word</key>
		<string>nymodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyodling</string>
		<key>Word</key>
		<string>nyodling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyordning</string>
		<key>Word</key>
		<string>nyordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyrekrytering</string>
		<key>Word</key>
		<string>nyrekrytering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyttig</string>
		<key>Word</key>
		<string>nyttig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyutveckling</string>
		<key>Word</key>
		<string>nyutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyarsdag</string>
		<key>Word</key>
		<string>nyårsdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyarshelg</string>
		<key>Word</key>
		<string>nyårshelg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naring</string>
		<key>Word</key>
		<string>näring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naringsfattig</string>
		<key>Word</key>
		<string>näringsfattig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naringsupptag</string>
		<key>Word</key>
		<string>näringsupptag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narmicning</string>
		<key>Word</key>
		<string>närmicning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nattidning</string>
		<key>Word</key>
		<string>nättidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natverksanslutning</string>
		<key>Word</key>
		<string>nätverksanslutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natverksutrustning</string>
		<key>Word</key>
		<string>nätverksutrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natovervakning</string>
		<key>Word</key>
		<string>nätövervakning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nadig</string>
		<key>Word</key>
		<string>nådig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nagonting</string>
		<key>Word</key>
		<string>någonting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nanting</string>
		<key>Word</key>
		<string>nånting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodig</string>
		<key>Word</key>
		<string>nödig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodlosning</string>
		<key>Word</key>
		<string>nödlösning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodtorftig</string>
		<key>Word</key>
		<string>nödtorftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodtvang</string>
		<key>Word</key>
		<string>nödtvång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodvandig</string>
		<key>Word</key>
		<string>nödvändig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nojaktig</string>
		<key>Word</key>
		<string>nöjaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nojesetablissemang</string>
		<key>Word</key>
		<string>nöjesetablissemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nurnberg</string>
		<key>Word</key>
		<string>Nürnberg</string>
	</dict>
</array>
</plist>
