<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naivism</string>
		<key>Word</key>
		<string>naivism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nam</string>
		<key>Word</key>
		<string>Nam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nam-nam</string>
		<key>Word</key>
		<string>nam-nam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnam</string>
		<key>Word</key>
		<string>namnam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narcissism</string>
		<key>Word</key>
		<string>narcissism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narkotikum</string>
		<key>Word</key>
		<string>narkotikum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalekonom</string>
		<key>Word</key>
		<string>nationalekonom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalism</string>
		<key>Word</key>
		<string>nationalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalmuseum</string>
		<key>Word</key>
		<string>nationalmuseum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natrium</string>
		<key>Word</key>
		<string>natrium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nazism</string>
		<key>Word</key>
		<string>nazism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedom</string>
		<key>Word</key>
		<string>nedom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedrakningsmekanism</string>
		<key>Word</key>
		<string>nedräkningsmekanism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedstam</string>
		<key>Word</key>
		<string>nedstäm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negativism</string>
		<key>Word</key>
		<string>negativism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nervsystem</string>
		<key>Word</key>
		<string>nervsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neutrum</string>
		<key>Word</key>
		<string>neutrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nifelheim</string>
		<key>Word</key>
		<string>Nifelheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nifelhem</string>
		<key>Word</key>
		<string>Nifelhem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nilstam</string>
		<key>Word</key>
		<string>Nilstam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittiofem</string>
		<key>Word</key>
		<string>nittiofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>njursjukdom</string>
		<key>Word</key>
		<string>njursjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nm</string>
		<key>Word</key>
		<string>nm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nogsam</string>
		<key>Word</key>
		<string>nogsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordstrom</string>
		<key>Word</key>
		<string>Nordström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norm</string>
		<key>Word</key>
		<string>norm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norrmalm</string>
		<key>Word</key>
		<string>Norrmalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>northstream</string>
		<key>Word</key>
		<string>Northstream</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyblom</string>
		<key>Word</key>
		<string>Nyblom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsmedium</string>
		<key>Word</key>
		<string>nyhetsmedium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsprogram</string>
		<key>Word</key>
		<string>nyhetsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyliberalism</string>
		<key>Word</key>
		<string>nyliberalism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nynazism</string>
		<key>Word</key>
		<string>nynazism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nystrom</string>
		<key>Word</key>
		<string>Nyström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>natverksdiagram</string>
		<key>Word</key>
		<string>nätverksdiagram</string>
	</dict>
</array>
</plist>
