<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namnlogo</string>
		<key>Word</key>
		<string>namnlogo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nato</string>
		<key>Word</key>
		<string>Nato</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negro</string>
		<key>Word</key>
		<string>negro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nero</string>
		<key>Word</key>
		<string>Nero</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>netto</string>
		<key>Word</key>
		<string>netto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>neuvo</string>
		<key>Word</key>
		<string>Neuvo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nevö</string>
		<key>Word</key>
		<string>nevö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nexø</string>
		<key>Word</key>
		<string>Nexø</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nicolò</string>
		<key>Word</key>
		<string>Nicolò</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nintendo</string>
		<key>Word</key>
		<string>Nintendo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nio</string>
		<key>Word</key>
		<string>nio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittio</string>
		<key>Word</key>
		<string>nittio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nittionio</string>
		<key>Word</key>
		<string>nittionio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordbo</string>
		<key>Word</key>
		<string>nordbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>norsjö</string>
		<key>Word</key>
		<string>Norsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nossebro</string>
		<key>Word</key>
		<string>Nossebro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>novo</string>
		<key>Word</key>
		<string>Novo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>numro</string>
		<key>Word</key>
		<string>numro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nutidsmiljö</string>
		<key>Word</key>
		<string>nutidsmiljö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nybro</string>
		<key>Word</key>
		<string>Nybro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närmiljö</string>
		<key>Word</key>
		<string>närmiljö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närradio</string>
		<key>Word</key>
		<string>närradio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>närvaro</string>
		<key>Word</key>
		<string>närvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nässjö</string>
		<key>Word</key>
		<string>Nässjö</string>
	</dict>
</array>
</plist>
