<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>napp</string>
		<key>Word</key>
		<string>napp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nationalrakenskap</string>
		<key>Word</key>
		<string>nationalräkenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naturvetenskap</string>
		<key>Word</key>
		<string>naturvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nordkap</string>
		<key>Word</key>
		<string>Nordkap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>normgrupp</string>
		<key>Word</key>
		<string>normgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nsdap</string>
		<key>Word</key>
		<string>NSDAP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyp</string>
		<key>Word</key>
		<string>nyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nastipp</string>
		<key>Word</key>
		<string>nästipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nodrop</string>
		<key>Word</key>
		<string>nödrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nop</string>
		<key>Word</key>
		<string>nöp</string>
	</dict>
</array>
</plist>
