<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naiv</string>
		<key>Word</key>
		<string>naiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namngav</string>
		<key>Word</key>
		<string>namngav</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>namngiv</string>
		<key>Word</key>
		<string>namngiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>narv</string>
		<key>Word</key>
		<string>narv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nazarbajev</string>
		<key>Word</key>
		<string>Nazarbajev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedskrev</string>
		<key>Word</key>
		<string>nedskrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nedskriv</string>
		<key>Word</key>
		<string>nedskriv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>negativ</string>
		<key>Word</key>
		<string>negativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nerv</string>
		<key>Word</key>
		<string>nerv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nijazov</string>
		<key>Word</key>
		<string>Nijazov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nomadliv</string>
		<key>Word</key>
		<string>nomadliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nominativ</string>
		<key>Word</key>
		<string>nominativ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nov</string>
		<key>Word</key>
		<string>nov</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsarkiv</string>
		<key>Word</key>
		<string>nyhetsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nyhetsbrev</string>
		<key>Word</key>
		<string>nyhetsbrev</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naringsliv</string>
		<key>Word</key>
		<string>näringsliv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>naringslivsarkiv</string>
		<key>Word</key>
		<string>näringslivsarkiv</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>nojesliv</string>
		<key>Word</key>
		<string>nöjesliv</string>
	</dict>
</array>
</plist>
