<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odontologi</string>
		<key>Word</key>
		<string>odontologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ofri</string>
		<key>Word</key>
		<string>ofri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olai</string>
		<key>Word</key>
		<string>Olai</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olavi</string>
		<key>Word</key>
		<string>Olavi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olivetti</string>
		<key>Word</key>
		<string>Olivetti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omri</string>
		<key>Word</key>
		<string>Omri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onetti</string>
		<key>Word</key>
		<string>Onetti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onkologi</string>
		<key>Word</key>
		<string>onkologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onlinegalleri</string>
		<key>Word</key>
		<string>onlinegalleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>organisationsteori</string>
		<key>Word</key>
		<string>organisationsteori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortodoxi</string>
		<key>Word</key>
		<string>ortodoxi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortografi</string>
		<key>Word</key>
		<string>ortografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortopedi</string>
		<key>Word</key>
		<string>ortopedi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>översitteri</string>
		<key>Word</key>
		<string>översitteri</string>
	</dict>
</array>
</plist>
