<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oacceptabel</string>
		<key>Word</key>
		<string>oacceptabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ocaml</string>
		<key>Word</key>
		<string>OCaml</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odal</string>
		<key>Word</key>
		<string>odal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odbc-fel</string>
		<key>Word</key>
		<string>ODBC-fel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>odiskutabel</string>
		<key>Word</key>
		<string>odiskutabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>officiell</string>
		<key>Word</key>
		<string>officiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>offlinefil</string>
		<key>Word</key>
		<string>offlinefil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ohemul</string>
		<key>Word</key>
		<string>ohemul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ohalsotal</string>
		<key>Word</key>
		<string>ohälsotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>okontroversiell</string>
		<key>Word</key>
		<string>okontroversiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>okonventionell</string>
		<key>Word</key>
		<string>okonventionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oktal</string>
		<key>Word</key>
		<string>oktal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oligopol</string>
		<key>Word</key>
		<string>oligopol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olycksfall</string>
		<key>Word</key>
		<string>olycksfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olycksfallscentral</string>
		<key>Word</key>
		<string>olycksfallscentral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omdomesgill</string>
		<key>Word</key>
		<string>omdömesgill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omkull</string>
		<key>Word</key>
		<string>omkull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omoral</string>
		<key>Word</key>
		<string>omoral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omsorgsfull</string>
		<key>Word</key>
		<string>omsorgsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omstall</string>
		<key>Word</key>
		<string>omställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omval</string>
		<key>Word</key>
		<string>omval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ondskefull</string>
		<key>Word</key>
		<string>ondskefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onkel</string>
		<key>Word</key>
		<string>onkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onormal</string>
		<key>Word</key>
		<string>onormal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>opel</string>
		<key>Word</key>
		<string>Opel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>operationell</string>
		<key>Word</key>
		<string>operationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oppositionell</string>
		<key>Word</key>
		<string>oppositionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oprofessionell</string>
		<key>Word</key>
		<string>oprofessionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oproportionell</string>
		<key>Word</key>
		<string>oproportionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>optimal</string>
		<key>Word</key>
		<string>optimal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oral</string>
		<key>Word</key>
		<string>oral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordningsregel</string>
		<key>Word</key>
		<string>ordningsregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordningstal</string>
		<key>Word</key>
		<string>ordningstal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordval</string>
		<key>Word</key>
		<string>ordval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orgel</string>
		<key>Word</key>
		<string>orgel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orgelspel</string>
		<key>Word</key>
		<string>orgelspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oriental</string>
		<key>Word</key>
		<string>oriental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>original</string>
		<key>Word</key>
		<string>original</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>originaldel</string>
		<key>Word</key>
		<string>originaldel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>originaltitel</string>
		<key>Word</key>
		<string>originaltitel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>originell</string>
		<key>Word</key>
		<string>originell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oriskabel</string>
		<key>Word</key>
		<string>oriskabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orkestersignal</string>
		<key>Word</key>
		<string>orkestersignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orkestral</string>
		<key>Word</key>
		<string>orkestral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ortogonal</string>
		<key>Word</key>
		<string>ortogonal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oskuldsfull</string>
		<key>Word</key>
		<string>oskuldsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>osloavtal</string>
		<key>Word</key>
		<string>Osloavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>otal</string>
		<key>Word</key>
		<string>otal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oval</string>
		<key>Word</key>
		<string>oval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ovantill</string>
		<key>Word</key>
		<string>ovantill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overall</string>
		<key>Word</key>
		<string>overall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ogonbindel</string>
		<key>Word</key>
		<string>ögonbindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ol</string>
		<key>Word</key>
		<string>öl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>onskemal</string>
		<key>Word</key>
		<string>önskemål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orfil</string>
		<key>Word</key>
		<string>örfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overdel</string>
		<key>Word</key>
		<string>överdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overfall</string>
		<key>Word</key>
		<string>överfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overfull</string>
		<key>Word</key>
		<string>överfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>overfoll</string>
		<key>Word</key>
		<string>överföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ovningsdel</string>
		<key>Word</key>
		<string>övningsdel</string>
	</dict>
</array>
</plist>
