<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>obed-edom</string>
		<key>Word</key>
		<string>Obed-Edom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>obekväm</string>
		<key>Word</key>
		<string>obekväm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>obeslutsam</string>
		<key>Word</key>
		<string>obeslutsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>obetänksam</string>
		<key>Word</key>
		<string>obetänksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>objektivism</string>
		<key>Word</key>
		<string>objektivism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>observatorium</string>
		<key>Word</key>
		<string>observatorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ockultism</string>
		<key>Word</key>
		<string>ockultism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oem</string>
		<key>Word</key>
		<string>OEM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>offerlamm</string>
		<key>Word</key>
		<string>offerlamm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ofruktsam</string>
		<key>Word</key>
		<string>ofruktsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ogynnsam</string>
		<key>Word</key>
		<string>ogynnsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ohm</string>
		<key>Word</key>
		<string>Ohm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ohm</string>
		<key>Word</key>
		<string>ohm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ohörsam</string>
		<key>Word</key>
		<string>ohörsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olofström</string>
		<key>Word</key>
		<string>Olofström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>olönsam</string>
		<key>Word</key>
		<string>olönsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>om</string>
		<key>Word</key>
		<string>om</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>omkom</string>
		<key>Word</key>
		<string>omkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>operativsystem</string>
		<key>Word</key>
		<string>operativsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>optimism</string>
		<key>Word</key>
		<string>optimism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordbehandlingsprogram</string>
		<key>Word</key>
		<string>ordbehandlingsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ordbehandlingssystem</string>
		<key>Word</key>
		<string>ordbehandlingssystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>organism</string>
		<key>Word</key>
		<string>organism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orgasm</string>
		<key>Word</key>
		<string>orgasm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orkestermedlem</string>
		<key>Word</key>
		<string>orkestermedlem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>orm</string>
		<key>Word</key>
		<string>orm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>otacksam</string>
		<key>Word</key>
		<string>otacksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ovarsam</string>
		<key>Word</key>
		<string>ovarsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>oöm</string>
		<key>Word</key>
		<string>oöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ödem</string>
		<key>Word</key>
		<string>ödem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ögonsjukdom</string>
		<key>Word</key>
		<string>ögonsjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>öm</string>
		<key>Word</key>
		<string>öm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ömsom</string>
		<key>Word</key>
		<string>ömsom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>önskedröm</string>
		<key>Word</key>
		<string>önskedröm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>överarm</string>
		<key>Word</key>
		<string>överarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>överenskom</string>
		<key>Word</key>
		<string>överenskom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>överensstäm</string>
		<key>Word</key>
		<string>överensstäm</string>
	</dict>
</array>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Öhrström</string>
		<key>Word</key>
		<string>Öhrström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Östermalm</string>
		<key>Word</key>
		<string>Östermalm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>Östrom</string>
		<key>Word</key>
		<string>Östrom</string>
	</dict>
</array>
</plist>
