<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pasch</string>
		<key>Word</key>
		<string>Pasch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pastisch</string>
		<key>Word</key>
		<string>pastisch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patch</string>
		<key>Word</key>
		<string>patch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>penh</string>
		<key>Word</key>
		<string>Penh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perth</string>
		<key>Word</key>
		<string>Perth</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pittsburgh</string>
		<key>Word</key>
		<string>Pittsburgh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plansch</string>
		<key>Word</key>
		<string>plansch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plysch</string>
		<key>Word</key>
		<string>plysch</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pradesh</string>
		<key>Word</key>
		<string>Pradesh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pugh</string>
		<key>Word</key>
		<string>Pugh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puh</string>
		<key>Word</key>
		<string>puh</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>punsch</string>
		<key>Word</key>
		<string>punsch</string>
	</dict>
</array>
</plist>
