<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paganini</string>
		<key>Word</key>
		<string>Paganini</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paleontologi</string>
		<key>Word</key>
		<string>paleontologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pali</string>
		<key>Word</key>
		<string>pali</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parapsykologi</string>
		<key>Word</key>
		<string>parapsykologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parodi</string>
		<key>Word</key>
		<string>parodi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parti</string>
		<key>Word</key>
		<string>parti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patologi</string>
		<key>Word</key>
		<string>patologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pci</string>
		<key>Word</key>
		<string>PCI</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedanteri</string>
		<key>Word</key>
		<string>pedanteri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pentalogi</string>
		<key>Word</key>
		<string>pentalogi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pepsi</string>
		<key>Word</key>
		<string>Pepsi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>periferi</string>
		<key>Word</key>
		<string>periferi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personfotografi</string>
		<key>Word</key>
		<string>personfotografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>persongalleri</string>
		<key>Word</key>
		<string>persongalleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>petri</string>
		<key>Word</key>
		<string>Petri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pi</string>
		<key>Word</key>
		<string>pi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pippi</string>
		<key>Word</key>
		<string>pippi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>planekonomi</string>
		<key>Word</key>
		<string>planekonomi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plastikkirurgi</string>
		<key>Word</key>
		<string>plastikkirurgi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>playboyfilosofi</string>
		<key>Word</key>
		<string>playboyfilosofi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pleti</string>
		<key>Word</key>
		<string>pleti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pli</string>
		<key>Word</key>
		<string>pli</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plageri</string>
		<key>Word</key>
		<string>plågeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poesi</string>
		<key>Word</key>
		<string>poesi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pohnpei</string>
		<key>Word</key>
		<string>Pohnpei</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pojkfantasi</string>
		<key>Word</key>
		<string>pojkfantasi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polygami</string>
		<key>Word</key>
		<string>polygami</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pornografi</string>
		<key>Word</key>
		<string>pornografi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portrattmaleri</string>
		<key>Word</key>
		<string>porträttmåleri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potocki</string>
		<key>Word</key>
		<string>Potocki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potpurri</string>
		<key>Word</key>
		<string>potpurri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prickfri</string>
		<key>Word</key>
		<string>prickfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>priori</string>
		<key>Word</key>
		<string>priori</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykiatri</string>
		<key>Word</key>
		<string>psykiatri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykologi</string>
		<key>Word</key>
		<string>psykologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykoterapi</string>
		<key>Word</key>
		<string>psykoterapi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pudasjarvi</string>
		<key>Word</key>
		<string>Pudasjärvi</string>
	</dict>
</array>
</plist>
