<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>packsedel</string>
		<key>Word</key>
		<string>packsedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pajskal</string>
		<key>Word</key>
		<string>pajskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pall</string>
		<key>Word</key>
		<string>pall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panel</string>
		<key>Word</key>
		<string>panel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>panncentral</string>
		<key>Word</key>
		<string>panncentral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>papegojfågel</string>
		<key>Word</key>
		<string>papegojfågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parabol</string>
		<key>Word</key>
		<string>parabol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paracel</string>
		<key>Word</key>
		<string>Paracel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paradoxal</string>
		<key>Word</key>
		<string>paradoxal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parallell</string>
		<key>Word</key>
		<string>parallell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paranormal</string>
		<key>Word</key>
		<string>paranormal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parasoll</string>
		<key>Word</key>
		<string>parasoll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parerbygel</string>
		<key>Word</key>
		<string>parerbygel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paroll</string>
		<key>Word</key>
		<string>paroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partiell</string>
		<key>Word</key>
		<string>partiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>partikel</string>
		<key>Word</key>
		<string>partikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>parvel</string>
		<key>Word</key>
		<string>parvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pascal</string>
		<key>Word</key>
		<string>Pascal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pastill</string>
		<key>Word</key>
		<string>pastill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pastoral</string>
		<key>Word</key>
		<string>pastoral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patientjournal</string>
		<key>Word</key>
		<string>patientjournal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>patrull</string>
		<key>Word</key>
		<string>patrull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>paul</string>
		<key>Word</key>
		<string>Paul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pearl</string>
		<key>Word</key>
		<string>Pearl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedal</string>
		<key>Word</key>
		<string>pedal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pedofil</string>
		<key>Word</key>
		<string>pedofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peel</string>
		<key>Word</key>
		<string>Peel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>peeringavtal</string>
		<key>Word</key>
		<string>peeringavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pekoral</string>
		<key>Word</key>
		<string>pekoral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pendel</string>
		<key>Word</key>
		<string>pendel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pendyl</string>
		<key>Word</key>
		<string>pendyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensel</string>
		<key>Word</key>
		<string>pensel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pensionsavtal</string>
		<key>Word</key>
		<string>pensionsavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>percentil</string>
		<key>Word</key>
		<string>percentil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perejil</string>
		<key>Word</key>
		<string>Perejil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>perl</string>
		<key>Word</key>
		<string>Perl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personal</string>
		<key>Word</key>
		<string>personal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personbil</string>
		<key>Word</key>
		<string>personbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>personell</string>
		<key>Word</key>
		<string>personell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>phil</string>
		<key>Word</key>
		<string>Phil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pietetsfull</string>
		<key>Word</key>
		<string>pietetsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pil</string>
		<key>Word</key>
		<string>pil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pingel</string>
		<key>Word</key>
		<string>pingel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pinnstol</string>
		<key>Word</key>
		<string>pinnstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piratdel</string>
		<key>Word</key>
		<string>piratdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>piratkopieringsmål</string>
		<key>Word</key>
		<string>piratkopieringsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pistill</string>
		<key>Word</key>
		<string>pistill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pistol</string>
		<key>Word</key>
		<string>pistol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pivottabell</string>
		<key>Word</key>
		<string>pivottabell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pixel</string>
		<key>Word</key>
		<string>pixel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>platinadegel</string>
		<key>Word</key>
		<string>platinadegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plattformsspel</string>
		<key>Word</key>
		<string>plattformsspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plausibel</string>
		<key>Word</key>
		<string>plausibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plogbill</string>
		<key>Word</key>
		<string>plogbill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>plural</string>
		<key>Word</key>
		<string>plural</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pokal</string>
		<key>Word</key>
		<string>pokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pol</string>
		<key>Word</key>
		<string>pol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polcirkel</string>
		<key>Word</key>
		<string>polcirkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>polisanmäl</string>
		<key>Word</key>
		<string>polisanmäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poll</string>
		<key>Word</key>
		<string>poll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pool</string>
		<key>Word</key>
		<string>pool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>poppel</string>
		<key>Word</key>
		<string>poppel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portabel</string>
		<key>Word</key>
		<string>portabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portal</string>
		<key>Word</key>
		<string>portal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>portugal</string>
		<key>Word</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potatisskal</string>
		<key>Word</key>
		<string>potatisskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potensmedel</string>
		<key>Word</key>
		<string>potensmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potential</string>
		<key>Word</key>
		<string>potential</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>potentiell</string>
		<key>Word</key>
		<string>potentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>povel</string>
		<key>Word</key>
		<string>Povel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>povl</string>
		<key>Word</key>
		<string>Povl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>powell</string>
		<key>Word</key>
		<string>Powell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>praktfull</string>
		<key>Word</key>
		<string>praktfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>predikstol</string>
		<key>Word</key>
		<string>predikstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>premenstruell</string>
		<key>Word</key>
		<string>premenstruell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prenatal</string>
		<key>Word</key>
		<string>prenatal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>presidentval</string>
		<key>Word</key>
		<string>presidentval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pressbil</string>
		<key>Word</key>
		<string>pressbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>preventivmedel</string>
		<key>Word</key>
		<string>preventivmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>primtal</string>
		<key>Word</key>
		<string>primtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>primärval</string>
		<key>Word</key>
		<string>primärval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>principiell</string>
		<key>Word</key>
		<string>principiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prismodell</string>
		<key>Word</key>
		<string>prismodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>procentandel</string>
		<key>Word</key>
		<string>procentandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>procentuell</string>
		<key>Word</key>
		<string>procentuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktionsmedel</string>
		<key>Word</key>
		<string>produktionsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>produktnyckel</string>
		<key>Word</key>
		<string>produktnyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>professionell</string>
		<key>Word</key>
		<string>professionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>profil</string>
		<key>Word</key>
		<string>profil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>programvarufel</string>
		<key>Word</key>
		<string>programvarufel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projektil</string>
		<key>Word</key>
		<string>projektil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>projektstyrningsmodell</string>
		<key>Word</key>
		<string>projektstyrningsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proportional</string>
		<key>Word</key>
		<string>proportional</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proportionell</string>
		<key>Word</key>
		<string>proportionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>proppfull</string>
		<key>Word</key>
		<string>proppfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>protokoll</string>
		<key>Word</key>
		<string>protokoll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>provinsiell</string>
		<key>Word</key>
		<string>provinsiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pryl</string>
		<key>Word</key>
		<string>pryl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prägel</string>
		<key>Word</key>
		<string>prägel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>prål</string>
		<key>Word</key>
		<string>prål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>psykosocial</string>
		<key>Word</key>
		<string>psykosocial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pubertal</string>
		<key>Word</key>
		<string>pubertal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>puckel</string>
		<key>Word</key>
		<string>puckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pudel</string>
		<key>Word</key>
		<string>pudel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pueril</string>
		<key>Word</key>
		<string>pueril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pul</string>
		<key>Word</key>
		<string>PUL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pupill</string>
		<key>Word</key>
		<string>pupill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pussel</string>
		<key>Word</key>
		<string>pussel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyramidspel</string>
		<key>Word</key>
		<string>pyramidspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyramidtal</string>
		<key>Word</key>
		<string>pyramidtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pyssel</string>
		<key>Word</key>
		<string>pyssel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pål</string>
		<key>Word</key>
		<string>Pål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pöbel</string>
		<key>Word</key>
		<string>pöbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>pöl</string>
		<key>Word</key>
		<string>pöl</string>
	</dict>
</array>
</plist>
