<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quennerstedt</string>
		<key>Word</key>
		<string>Quennerstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>quist</string>
		<key>Word</key>
		<string>Quist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qveckfelt</string>
		<key>Word</key>
		<string>Qveckfelt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvist</string>
		<key>Word</key>
		<string>Qvist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>qvitt</string>
		<key>Word</key>
		<string>Qvitt</string>
	</dict>
</array>
</plist>
