<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rabblad</string>
		<key>Word</key>
		<string>rabblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rad</string>
		<key>Word</key>
		<string>rad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radavstand</string>
		<key>Word</key>
		<string>radavstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radband</string>
		<key>Word</key>
		<string>radband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raderad</string>
		<key>Word</key>
		<string>raderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radlangd</string>
		<key>Word</key>
		<string>radlängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raffinerad</string>
		<key>Word</key>
		<string>raffinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raggad</string>
		<key>Word</key>
		<string>raggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragnhild</string>
		<key>Word</key>
		<string>Ragnhild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragnvald</string>
		<key>Word</key>
		<string>Ragnvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raid</string>
		<key>Word</key>
		<string>raid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raidad</string>
		<key>Word</key>
		<string>raidad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakad</string>
		<key>Word</key>
		<string>rakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramad</string>
		<key>Word</key>
		<string>ramad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rand</string>
		<key>Word</key>
		<string>rand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>randad</string>
		<key>Word</key>
		<string>randad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rangordnad</string>
		<key>Word</key>
		<string>rangordnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rankad</string>
		<key>Word</key>
		<string>rankad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rannsakad</string>
		<key>Word</key>
		<string>rannsakad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ransonerad</string>
		<key>Word</key>
		<string>ransonerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ranstad</string>
		<key>Word</key>
		<string>Ranstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapid</string>
		<key>Word</key>
		<string>rapid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rappad</string>
		<key>Word</key>
		<string>rappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapporterad</string>
		<key>Word</key>
		<string>rapporterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasad</string>
		<key>Word</key>
		<string>rasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raserad</string>
		<key>Word</key>
		<string>raserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raspad</string>
		<key>Word</key>
		<string>raspad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rastad</string>
		<key>Word</key>
		<string>rastad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ratificerad</string>
		<key>Word</key>
		<string>ratificerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rationaliserad</string>
		<key>Word</key>
		<string>rationaliserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raymond</string>
		<key>Word</key>
		<string>Raymond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reaktorhard</string>
		<key>Word</key>
		<string>reaktorhärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realiserad</string>
		<key>Word</key>
		<string>realiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realtid</string>
		<key>Word</key>
		<string>realtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>recenserad</string>
		<key>Word</key>
		<string>recenserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>recirkulerad</string>
		<key>Word</key>
		<string>recirkulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reciterad</string>
		<key>Word</key>
		<string>reciterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>red</string>
		<key>Word</key>
		<string>red</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redd</string>
		<key>Word</key>
		<string>redd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigerad</string>
		<key>Word</key>
		<string>redigerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigeringsavstand</string>
		<key>Word</key>
		<string>redigeringsavstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redmond</string>
		<key>Word</key>
		<string>Redmond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redogjord</string>
		<key>Word</key>
		<string>redogjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redovisad</string>
		<key>Word</key>
		<string>redovisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reducerad</string>
		<key>Word</key>
		<string>reducerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redwood</string>
		<key>Word</key>
		<string>Redwood</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reed</string>
		<key>Word</key>
		<string>Reed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>refererad</string>
		<key>Word</key>
		<string>refererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reflekterad</string>
		<key>Word</key>
		<string>reflekterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reformerad</string>
		<key>Word</key>
		<string>reformerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regelstyrd</string>
		<key>Word</key>
		<string>regelstyrd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regentlangd</string>
		<key>Word</key>
		<string>regentlängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regerad</string>
		<key>Word</key>
		<string>regerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reggad</string>
		<key>Word</key>
		<string>reggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reginald</string>
		<key>Word</key>
		<string>Reginald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regisserad</string>
		<key>Word</key>
		<string>regisserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>registrerad</string>
		<key>Word</key>
		<string>registrerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reglad</string>
		<key>Word</key>
		<string>reglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reglerad</string>
		<key>Word</key>
		<string>reglerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regnperiod</string>
		<key>Word</key>
		<string>regnperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regntid</string>
		<key>Word</key>
		<string>regntid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rehabiliterad</string>
		<key>Word</key>
		<string>rehabiliterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rehabiliteringsmetod</string>
		<key>Word</key>
		<string>rehabiliteringsmetod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reinhard</string>
		<key>Word</key>
		<string>Reinhard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reinhold</string>
		<key>Word</key>
		<string>Reinhold</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekapitulerad</string>
		<key>Word</key>
		<string>rekapitulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reklamblad</string>
		<key>Word</key>
		<string>reklamblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekommenderad</string>
		<key>Word</key>
		<string>rekommenderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekonstruerad</string>
		<key>Word</key>
		<string>rekonstruerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekord</string>
		<key>Word</key>
		<string>rekord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekordskord</string>
		<key>Word</key>
		<string>rekordskörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekordtid</string>
		<key>Word</key>
		<string>rekordtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekryterad</string>
		<key>Word</key>
		<string>rekryterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekvirerad</string>
		<key>Word</key>
		<string>rekvirerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>relaterad</string>
		<key>Word</key>
		<string>relaterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>relokerad</string>
		<key>Word</key>
		<string>relokerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>remitterad</string>
		<key>Word</key>
		<string>remitterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renad</string>
		<key>Word</key>
		<string>renad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renderad</string>
		<key>Word</key>
		<string>renderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rengjord</string>
		<key>Word</key>
		<string>rengjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renhjord</string>
		<key>Word</key>
		<string>renhjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renhjartad</string>
		<key>Word</key>
		<string>renhjärtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reningsbad</string>
		<key>Word</key>
		<string>reningsbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renodlad</string>
		<key>Word</key>
		<string>renodlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renoverad</string>
		<key>Word</key>
		<string>renoverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rensad</string>
		<key>Word</key>
		<string>rensad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renskurad</string>
		<key>Word</key>
		<string>renskurad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rentvattad</string>
		<key>Word</key>
		<string>rentvättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rentvadd</string>
		<key>Word</key>
		<string>rentvådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renassanstid</string>
		<key>Word</key>
		<string>renässanstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renogd</string>
		<key>Word</key>
		<string>renögd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>repad</string>
		<key>Word</key>
		<string>repad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reparerad</string>
		<key>Word</key>
		<string>reparerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>repeterad</string>
		<key>Word</key>
		<string>repeterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>replikerad</string>
		<key>Word</key>
		<string>replikerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>representerad</string>
		<key>Word</key>
		<string>representerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reproducerad</string>
		<key>Word</key>
		<string>reproducerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resekostnad</string>
		<key>Word</key>
		<string>resekostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reserverad</string>
		<key>Word</key>
		<string>reserverad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>residensstad</string>
		<key>Word</key>
		<string>residensstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resignerad</string>
		<key>Word</key>
		<string>resignerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resonerad</string>
		<key>Word</key>
		<string>resonerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>respekterad</string>
		<key>Word</key>
		<string>respekterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restaurangvarld</string>
		<key>Word</key>
		<string>restaurangvärld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restaurerad</string>
		<key>Word</key>
		<string>restaurerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restid</string>
		<key>Word</key>
		<string>restid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retad</string>
		<key>Word</key>
		<string>retad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retrograd</string>
		<key>Word</key>
		<string>retrograd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>returkod</string>
		<key>Word</key>
		<string>returkod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>returnerad</string>
		<key>Word</key>
		<string>returnerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retuscherad</string>
		<key>Word</key>
		<string>retuscherad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reviderad</string>
		<key>Word</key>
		<string>reviderad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>revolterad</string>
		<key>Word</key>
		<string>revolterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>revolutionerad</string>
		<key>Word</key>
		<string>revolutionerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ribbefjord</string>
		<key>Word</key>
		<string>Ribbefjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>richard</string>
		<key>Word</key>
		<string>Richard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>richmond</string>
		<key>Word</key>
		<string>Richmond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rickard</string>
		<key>Word</key>
		<string>Rickard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rid</string>
		<key>Word</key>
		<string>rid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riggad</string>
		<key>Word</key>
		<string>riggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rigid</string>
		<key>Word</key>
		<string>rigid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rikard</string>
		<key>Word</key>
		<string>Rikard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksforbund</string>
		<key>Word</key>
		<string>riksförbund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksgald</string>
		<key>Word</key>
		<string>riksgäld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksrad</string>
		<key>Word</key>
		<string>riksråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riktad</string>
		<key>Word</key>
		<string>riktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riktningsbestamd</string>
		<key>Word</key>
		<string>riktningsbestämd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rimmad</string>
		<key>Word</key>
		<string>rimmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rimsmed</string>
		<key>Word</key>
		<string>rimsmed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ringaktad</string>
		<key>Word</key>
		<string>ringaktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rippad</string>
		<key>Word</key>
		<string>rippad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskerad</string>
		<key>Word</key>
		<string>riskerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskkapitalfinansierad</string>
		<key>Word</key>
		<string>riskkapitalfinansierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rispad</string>
		<key>Word</key>
		<string>rispad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ristad</string>
		<key>Word</key>
		<string>ristad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ritad</string>
		<key>Word</key>
		<string>ritad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>road</string>
		<key>Word</key>
		<string>road</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockad</string>
		<key>Word</key>
		<string>rockad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockband</string>
		<key>Word</key>
		<string>rockband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rodd</string>
		<key>Word</key>
		<string>rodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rodnad</string>
		<key>Word</key>
		<string>rodnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rofylld</string>
		<key>Word</key>
		<string>rofylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roland</string>
		<key>Word</key>
		<string>Roland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>romantiserad</string>
		<key>Word</key>
		<string>romantiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ronald</string>
		<key>Word</key>
		<string>Ronald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rond</string>
		<key>Word</key>
		<string>rond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ropad</string>
		<key>Word</key>
		<string>ropad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosennosad</string>
		<key>Word</key>
		<string>rosennosad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosenrod</string>
		<key>Word</key>
		<string>rosenröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosettblad</string>
		<key>Word</key>
		<string>rosettblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roslund</string>
		<key>Word</key>
		<string>Roslund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosslad</string>
		<key>Word</key>
		<string>rosslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostad</string>
		<key>Word</key>
		<string>rostad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotad</string>
		<key>Word</key>
		<string>rotad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roterad</string>
		<key>Word</key>
		<string>roterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotfylld</string>
		<key>Word</key>
		<string>rotfylld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rubbad</string>
		<key>Word</key>
		<string>rubbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rubricerad</string>
		<key>Word</key>
		<string>rubricerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruckad</string>
		<key>Word</key>
		<string>ruckad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rudenschold</string>
		<key>Word</key>
		<string>Rudenschöld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruinerad</string>
		<key>Word</key>
		<string>ruinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rullad</string>
		<key>Word</key>
		<string>rullad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rumsfeld</string>
		<key>Word</key>
		<string>Rumsfeld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rund</string>
		<key>Word</key>
		<string>rund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rundad</string>
		<key>Word</key>
		<string>rundad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rundtripptid</string>
		<key>Word</key>
		<string>rundtripptid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>runkad</string>
		<key>Word</key>
		<string>runkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruskad</string>
		<key>Word</key>
		<string>ruskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rusningstid</string>
		<key>Word</key>
		<string>rusningstid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rustad</string>
		<key>Word</key>
		<string>rustad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rutad</string>
		<key>Word</key>
		<string>rutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rutinerad</string>
		<key>Word</key>
		<string>rutinerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruvad</string>
		<key>Word</key>
		<string>ruvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryd</string>
		<key>Word</key>
		<string>Ryd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryggrad</string>
		<key>Word</key>
		<string>ryggrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryggstod</string>
		<key>Word</key>
		<string>ryggstöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryktad</string>
		<key>Word</key>
		<string>ryktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymd</string>
		<key>Word</key>
		<string>rymd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdfard</string>
		<key>Word</key>
		<string>rymdfärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdsond</string>
		<key>Word</key>
		<string>rymdsond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rynkad</string>
		<key>Word</key>
		<string>rynkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryssland</string>
		<key>Word</key>
		<string>Ryssland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rackvidd</string>
		<key>Word</key>
		<string>räckvidd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rad</string>
		<key>Word</key>
		<string>räd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radd</string>
		<key>Word</key>
		<string>rädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raddad</string>
		<key>Word</key>
		<string>räddad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rafflad</string>
		<key>Word</key>
		<string>räfflad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raknad</string>
		<key>Word</key>
		<string>räknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakneord</string>
		<key>Word</key>
		<string>räkneord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramnad</string>
		<key>Word</key>
		<string>rämnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rantekostnad</string>
		<key>Word</key>
		<string>räntekostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattad</string>
		<key>Word</key>
		<string>rättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattfardigad</string>
		<key>Word</key>
		<string>rättfärdigad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattslard</string>
		<key>Word</key>
		<string>rättslärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rattvand</string>
		<key>Word</key>
		<string>rättvänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rabarkad</string>
		<key>Word</key>
		<string>råbarkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rad</string>
		<key>Word</key>
		<string>råd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radd</string>
		<key>Word</key>
		<string>rådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radfragad</string>
		<key>Word</key>
		<string>rådfrågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragad</string>
		<key>Word</key>
		<string>rågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ranad</string>
		<key>Word</key>
		<string>rånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ranmordad</string>
		<key>Word</key>
		<string>rånmördad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rarord</string>
		<key>Word</key>
		<string>rårörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rod</string>
		<key>Word</key>
		<string>röd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rodkladd</string>
		<key>Word</key>
		<string>rödklädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rodlistad</string>
		<key>Word</key>
		<string>rödlistad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rodmalad</string>
		<key>Word</key>
		<string>rödmålad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rojd</string>
		<key>Word</key>
		<string>röjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rokbord</string>
		<key>Word</key>
		<string>rökbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rord</string>
		<key>Word</key>
		<string>rörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rorstrand</string>
		<key>Word</key>
		<string>Rörstrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostberattigad</string>
		<key>Word</key>
		<string>röstberättigad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostlangd</string>
		<key>Word</key>
		<string>röstlängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotad</string>
		<key>Word</key>
		<string>rötad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rovad</string>
		<key>Word</key>
		<string>rövad</string>
	</dict>
</array>
</plist>
