<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>racing</string>
		<key>Word</key>
		<string>racing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radarutrustning</string>
		<key>Word</key>
		<string>radarutrustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radering</string>
		<key>Word</key>
		<string>radering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiodramatisering</string>
		<key>Word</key>
		<string>radiodramatisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radioföredrag</string>
		<key>Word</key>
		<string>radioföredrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radioinspelning</string>
		<key>Word</key>
		<string>radioinspelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiostrålning</string>
		<key>Word</key>
		<string>radiostrålning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radiovåg</string>
		<key>Word</key>
		<string>radiovåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ragg</string>
		<key>Word</key>
		<string>ragg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raggig</string>
		<key>Word</key>
		<string>raggig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raketuppskjutning</string>
		<key>Word</key>
		<string>raketuppskjutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rakning</string>
		<key>Word</key>
		<string>rakning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramberg</string>
		<key>Word</key>
		<string>Ramberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramhandling</string>
		<key>Word</key>
		<string>ramhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>randig</string>
		<key>Word</key>
		<string>randig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rang</string>
		<key>Word</key>
		<string>rang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rangordning</string>
		<key>Word</key>
		<string>rangordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rankig</string>
		<key>Word</key>
		<string>rankig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rannsakning</string>
		<key>Word</key>
		<string>rannsakning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ranong</string>
		<key>Word</key>
		<string>Ranong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ransonering</string>
		<key>Word</key>
		<string>ransonering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapportering</string>
		<key>Word</key>
		<string>rapportering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapportskrivning</string>
		<key>Word</key>
		<string>rapportskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasdiskriminering</string>
		<key>Word</key>
		<string>rasdiskriminering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasförsämring</string>
		<key>Word</key>
		<string>rasförsämring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rationalisering</string>
		<key>Word</key>
		<string>rationalisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ravensburg</string>
		<key>Word</key>
		<string>Ravensburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reading</string>
		<key>Word</key>
		<string>Reading</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reaktorsäkerhetsutredning</string>
		<key>Word</key>
		<string>reaktorsäkerhetsutredning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>realisering</string>
		<key>Word</key>
		<string>realisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>recirkulering</string>
		<key>Word</key>
		<string>recirkulering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redig</string>
		<key>Word</key>
		<string>redig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigering</string>
		<key>Word</key>
		<string>redigering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigeringskrig</string>
		<key>Word</key>
		<string>redigeringskrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigeringslåsning</string>
		<key>Word</key>
		<string>redigeringslåsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redlig</string>
		<key>Word</key>
		<string>redlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redovisning</string>
		<key>Word</key>
		<string>redovisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reducering</string>
		<key>Word</key>
		<string>reducering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reformering</string>
		<key>Word</key>
		<string>reformering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reformvänlig</string>
		<key>Word</key>
		<string>reformvänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>refräng</string>
		<key>Word</key>
		<string>refräng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>refug</string>
		<key>Word</key>
		<string>refug</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regelbeskrivning</string>
		<key>Word</key>
		<string>regelbeskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regelmässig</string>
		<key>Word</key>
		<string>regelmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regering</string>
		<key>Word</key>
		<string>regering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regeringsförhandling</string>
		<key>Word</key>
		<string>regeringsförhandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regeringsställning</string>
		<key>Word</key>
		<string>regeringsställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>registeruppdatering</string>
		<key>Word</key>
		<string>registeruppdatering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>registrering</string>
		<key>Word</key>
		<string>registrering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reglering</string>
		<key>Word</key>
		<string>reglering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>regnig</string>
		<key>Word</key>
		<string>regnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rehabilitering</string>
		<key>Word</key>
		<string>rehabilitering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reklamsammanhang</string>
		<key>Word</key>
		<string>reklamsammanhang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekognoscering</string>
		<key>Word</key>
		<string>rekognoscering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekordbillig</string>
		<key>Word</key>
		<string>rekordbillig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rekrytering</string>
		<key>Word</key>
		<string>rekrytering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>religionsfientlig</string>
		<key>Word</key>
		<string>religionsfientlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>religionslagstiftning</string>
		<key>Word</key>
		<string>religionslagstiftning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reling</string>
		<key>Word</key>
		<string>reling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>remittering</string>
		<key>Word</key>
		<string>remittering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rendering</string>
		<key>Word</key>
		<string>rendering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rendsburg</string>
		<key>Word</key>
		<string>Rendsburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renhållning</string>
		<key>Word</key>
		<string>renhållning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rening</string>
		<key>Word</key>
		<string>rening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renlig</string>
		<key>Word</key>
		<string>renlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renlärig</string>
		<key>Word</key>
		<string>renlärig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>renovering</string>
		<key>Word</key>
		<string>renovering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rensning</string>
		<key>Word</key>
		<string>rensning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>replikering</string>
		<key>Word</key>
		<string>replikering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>replikuppsättning</string>
		<key>Word</key>
		<string>replikuppsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>representationsförändring</string>
		<key>Word</key>
		<string>representationsförändring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reseanteckning</string>
		<key>Word</key>
		<string>reseanteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reseavdrag</string>
		<key>Word</key>
		<string>reseavdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resebokning</string>
		<key>Word</key>
		<string>resebokning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reseföretag</string>
		<key>Word</key>
		<string>reseföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reseskildring</string>
		<key>Word</key>
		<string>reseskildring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resfärdig</string>
		<key>Word</key>
		<string>resfärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>reslig</string>
		<key>Word</key>
		<string>reslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resonemang</string>
		<key>Word</key>
		<string>resonemang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restaurang</string>
		<key>Word</key>
		<string>restaurang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>restaurering</string>
		<key>Word</key>
		<string>restaurering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resultatredovisning</string>
		<key>Word</key>
		<string>resultatredovisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resultattolkning</string>
		<key>Word</key>
		<string>resultattolkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>retlig</string>
		<key>Word</key>
		<string>retlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>revidering</string>
		<key>Word</key>
		<string>revidering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rheborg</string>
		<key>Word</key>
		<string>Rheborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ribbing</string>
		<key>Word</key>
		<string>Ribbing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ridderlig</string>
		<key>Word</key>
		<string>ridderlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rig</string>
		<key>Word</key>
		<string>Rig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rigg</string>
		<key>Word</key>
		<string>rigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rikhaltig</string>
		<key>Word</key>
		<string>rikhaltig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riklig</string>
		<key>Word</key>
		<string>riklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksdag</string>
		<key>Word</key>
		<string>riksdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riksväg</string>
		<key>Word</key>
		<string>riksväg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riktig</string>
		<key>Word</key>
		<string>riktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riktning</string>
		<key>Word</key>
		<string>riktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rimlig</string>
		<key>Word</key>
		<string>rimlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rimlighetsbedömning</string>
		<key>Word</key>
		<string>rimlighetsbedömning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ring</string>
		<key>Word</key>
		<string>ring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ringning</string>
		<key>Word</key>
		<string>ringning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rishög</string>
		<key>Word</key>
		<string>rishög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>risig</string>
		<key>Word</key>
		<string>risig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskkapitalbolag</string>
		<key>Word</key>
		<string>riskkapitalbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ritning</string>
		<key>Word</key>
		<string>ritning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roaming</string>
		<key>Word</key>
		<string>roaming</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockig</string>
		<key>Word</key>
		<string>rockig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockuppsättning</string>
		<key>Word</key>
		<string>rockuppsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rolig</string>
		<key>Word</key>
		<string>rolig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rolltolkning</string>
		<key>Word</key>
		<string>rolltolkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosenberg</string>
		<key>Word</key>
		<string>Rosenberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosig</string>
		<key>Word</key>
		<string>rosig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rospigg</string>
		<key>Word</key>
		<string>rospigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rostig</string>
		<key>Word</key>
		<string>rostig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rot-avdrag</string>
		<key>Word</key>
		<string>rot-avdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rotkatalog</string>
		<key>Word</key>
		<string>rotkatalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>routing</string>
		<key>Word</key>
		<string>routing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>routning</string>
		<key>Word</key>
		<string>routning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>roverlag</string>
		<key>Word</key>
		<string>roverlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rowling</string>
		<key>Word</key>
		<string>Rowling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rubricering</string>
		<key>Word</key>
		<string>rubricering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rucklig</string>
		<key>Word</key>
		<string>rucklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruffig</string>
		<key>Word</key>
		<string>ruffig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruinhög</string>
		<key>Word</key>
		<string>ruinhög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rullning</string>
		<key>Word</key>
		<string>rullning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rumslig</string>
		<key>Word</key>
		<string>rumslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rumsuppvärmning</string>
		<key>Word</key>
		<string>rumsuppvärmning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rundgång</string>
		<key>Word</key>
		<string>rundgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rundlig</string>
		<key>Word</key>
		<string>rundlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>runeberg</string>
		<key>Word</key>
		<string>Runeberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>runtomkring</string>
		<key>Word</key>
		<string>runtomkring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rusig</string>
		<key>Word</key>
		<string>rusig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ruskig</string>
		<key>Word</key>
		<string>ruskig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rustning</string>
		<key>Word</key>
		<string>rustning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rutinmässig</string>
		<key>Word</key>
		<string>rutinmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rutinräkning</string>
		<key>Word</key>
		<string>rutinräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryckig</string>
		<key>Word</key>
		<string>ryckig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryckning</string>
		<key>Word</key>
		<string>ryckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rydberg</string>
		<key>Word</key>
		<string>Rydberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rygg</string>
		<key>Word</key>
		<string>rygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryktesspridning</string>
		<key>Word</key>
		<string>ryktesspridning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdfärjeuppskjutning</string>
		<key>Word</key>
		<string>rymdfärjeuppskjutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdsatsning</string>
		<key>Word</key>
		<string>rymdsatsning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymlig</string>
		<key>Word</key>
		<string>rymlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rysarlottning</string>
		<key>Word</key>
		<string>rysarlottning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ryslig</string>
		<key>Word</key>
		<string>ryslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rysning</string>
		<key>Word</key>
		<string>rysning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>räddning</string>
		<key>Word</key>
		<string>räddning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>räkning</string>
		<key>Word</key>
		<string>räkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ränteavdrag</string>
		<key>Word</key>
		<string>ränteavdrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ränteinbetalning</string>
		<key>Word</key>
		<string>ränteinbetalning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättarting</string>
		<key>Word</key>
		<string>rättarting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättegång</string>
		<key>Word</key>
		<string>rättegång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättfärdig</string>
		<key>Word</key>
		<string>rättfärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättmätig</string>
		<key>Word</key>
		<string>rättmätig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättning</string>
		<key>Word</key>
		<string>rättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättshandling</string>
		<key>Word</key>
		<string>rättshandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättsinnig</string>
		<key>Word</key>
		<string>rättsinnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättskrivning</string>
		<key>Word</key>
		<string>rättskrivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättslig</string>
		<key>Word</key>
		<string>rättslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättsskipning</string>
		<key>Word</key>
		<string>rättsskipning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättstavning</string>
		<key>Word</key>
		<string>rättstavning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rättsundersökning</string>
		<key>Word</key>
		<string>rättsundersökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rätvinklig</string>
		<key>Word</key>
		<string>rätvinklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rådgivning</string>
		<key>Word</key>
		<string>rådgivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rådlig</string>
		<key>Word</key>
		<string>rådlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rådsförslag</string>
		<key>Word</key>
		<string>rådsförslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rådslag</string>
		<key>Word</key>
		<string>rådslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rådslog</string>
		<key>Word</key>
		<string>rådslog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>råg</string>
		<key>Word</key>
		<string>råg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rågång</string>
		<key>Word</key>
		<string>rågång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>råvaruförbrukning</string>
		<key>Word</key>
		<string>råvaruförbrukning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödaktig</string>
		<key>Word</key>
		<string>rödaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödbrusig</string>
		<key>Word</key>
		<string>rödbrusig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödflammig</string>
		<key>Word</key>
		<string>rödflammig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödfärg</string>
		<key>Word</key>
		<string>rödfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödhårig</string>
		<key>Word</key>
		<string>rödhårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödlistning</string>
		<key>Word</key>
		<string>rödlistning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödrutig</string>
		<key>Word</key>
		<string>rödrutig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rödskägg</string>
		<key>Word</key>
		<string>rödskägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rökig</string>
		<key>Word</key>
		<string>rökig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rökning</string>
		<key>Word</key>
		<string>rökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rörig</string>
		<key>Word</key>
		<string>rörig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rörledning</string>
		<key>Word</key>
		<string>rörledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rörlig</string>
		<key>Word</key>
		<string>rörlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>röstigenkänning</string>
		<key>Word</key>
		<string>röstigenkänning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rötägg</string>
		<key>Word</key>
		<string>rötägg</string>
	</dict>
</array>
</plist>
