<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>radioteleskop</string>
		<key>Word</key>
		<string>radioteleskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>raketvetenskap</string>
		<key>Word</key>
		<string>raketvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ramp</string>
		<key>Word</key>
		<string>ramp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rap</string>
		<key>Word</key>
		<string>rap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rapp</string>
		<key>Word</key>
		<string>rapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rasp</string>
		<key>Word</key>
		<string>rasp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redigeringsförlopp</string>
		<key>Word</key>
		<string>redigeringsförlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>redskap</string>
		<key>Word</key>
		<string>redskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>referensgrupp</string>
		<key>Word</key>
		<string>referensgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rehabiliteringstyp</string>
		<key>Word</key>
		<string>rehabiliteringstyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rep</string>
		<key>Word</key>
		<string>rep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>resp</string>
		<key>Word</key>
		<string>resp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ressällskap</string>
		<key>Word</key>
		<string>ressällskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ridderskap</string>
		<key>Word</key>
		<string>ridderskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>riskgrupp</string>
		<key>Word</key>
		<string>riskgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rockgrupp</string>
		<key>Word</key>
		<string>rockgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rop</string>
		<key>Word</key>
		<string>rop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rosenknopp</string>
		<key>Word</key>
		<string>rosenknopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rundtripp</string>
		<key>Word</key>
		<string>rundtripp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rup</string>
		<key>Word</key>
		<string>RUP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>rymdskepp</string>
		<key>Word</key>
		<string>rymdskepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>räkenskap</string>
		<key>Word</key>
		<string>räkenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>röttorp</string>
		<key>Word</key>
		<string>Röttorp</string>
	</dict>
</array>
</plist>
