<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saab</string>
		<key>Word</key>
		<string>Saab</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sab</string>
		<key>Word</key>
		<string>SAB</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sanherib</string>
		<key>Word</key>
		<string>Sanherib</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saob</string>
		<key>Word</key>
		<string>SAOB</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scb</string>
		<key>Word</key>
		<string>SCB</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>serb</string>
		<key>Word</key>
		<string>serb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrubb</string>
		<key>Word</key>
		<string>skrubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snabb</string>
		<key>Word</key>
		<string>snabb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snobb</string>
		<key>Word</key>
		<string>snobb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sommarjobb</string>
		<key>Word</key>
		<string>sommarjobb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>speedwayklubb</string>
		<key>Word</key>
		<string>speedwayklubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stab</string>
		<key>Word</key>
		<string>stab</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stubb</string>
		<key>Word</key>
		<string>stubb</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>superb</string>
		<key>Word</key>
		<string>superb</string>
	</dict>
</array>
</plist>
