<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samuraj</string>
		<key>Word</key>
		<string>samuraj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sej</string>
		<key>Word</key>
		<string>sej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sj</string>
		<key>Word</key>
		<string>SJ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skilj</string>
		<key>Word</key>
		<string>skilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skoj</string>
		<key>Word</key>
		<string>skoj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skölj</string>
		<key>Word</key>
		<string>skölj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skönj</string>
		<key>Word</key>
		<string>skönj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smörj</string>
		<key>Word</key>
		<string>smörj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snärj</string>
		<key>Word</key>
		<string>snärj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprej</string>
		<key>Word</key>
		<string>sprej</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>språkfamilj</string>
		<key>Word</key>
		<string>språkfamilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spörj</string>
		<key>Word</key>
		<string>spörj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stoj</string>
		<key>Word</key>
		<string>stoj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svaj</string>
		<key>Word</key>
		<string>svaj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svälj</string>
		<key>Word</key>
		<string>svälj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säj</string>
		<key>Word</key>
		<string>säj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sälj</string>
		<key>Word</key>
		<string>sälj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>särskilj</string>
		<key>Word</key>
		<string>särskilj</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sörj</string>
		<key>Word</key>
		<string>sörj</string>
	</dict>
</array>
</plist>
