<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sachsisk</string>
		<key>Word</key>
		<string>sachsisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadistisk</string>
		<key>Word</key>
		<string>sadistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadok</string>
		<key>Word</key>
		<string>Sadok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadomasochistisk</string>
		<key>Word</key>
		<string>sadomasochistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadrak</string>
		<key>Word</key>
		<string>Sadrak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sagofolk</string>
		<key>Word</key>
		<string>sagofolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sagolik</string>
		<key>Word</key>
		<string>sagolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sak</string>
		<key>Word</key>
		<string>sak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salomonisk</string>
		<key>Word</key>
		<string>salomonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samaritisk</string>
		<key>Word</key>
		<string>samaritisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhallsekonomisk</string>
		<key>Word</key>
		<string>samhällsekonomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhallskritisk</string>
		<key>Word</key>
		<string>samhällskritisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samisk</string>
		<key>Word</key>
		<string>samisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samlingsverk</string>
		<key>Word</key>
		<string>samlingsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sammetsrock</string>
		<key>Word</key>
		<string>sammetsrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samsprak</string>
		<key>Word</key>
		<string>samspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samtrafik</string>
		<key>Word</key>
		<string>samtrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samtyck</string>
		<key>Word</key>
		<string>samtyck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sandsack</string>
		<key>Word</key>
		<string>sandsäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sank</string>
		<key>Word</key>
		<string>sank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sannolik</string>
		<key>Word</key>
		<string>sannolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sarkastisk</string>
		<key>Word</key>
		<string>sarkastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>satirisk</string>
		<key>Word</key>
		<string>satirisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saudisk</string>
		<key>Word</key>
		<string>saudisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scenisk</string>
		<key>Word</key>
		<string>scenisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schabrak</string>
		<key>Word</key>
		<string>schabrak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schack</string>
		<key>Word</key>
		<string>schack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schematisk</string>
		<key>Word</key>
		<string>schematisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schweizisk</string>
		<key>Word</key>
		<string>schweizisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schuck</string>
		<key>Word</key>
		<string>Schück</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sek</string>
		<key>Word</key>
		<string>SEK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>semantik</string>
		<key>Word</key>
		<string>semantik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>semantisk</string>
		<key>Word</key>
		<string>semantisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>semitisk</string>
		<key>Word</key>
		<string>semitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>serbisk</string>
		<key>Word</key>
		<string>serbisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexistisk</string>
		<key>Word</key>
		<string>sexistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sfarisk</string>
		<key>Word</key>
		<string>sfärisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sidbeskrivningssprak</string>
		<key>Word</key>
		<string>sidbeskrivningsspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sidrubrik</string>
		<key>Word</key>
		<string>sidrubrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>siffersprak</string>
		<key>Word</key>
		<string>sifferspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sik</string>
		<key>Word</key>
		<string>sik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sillburk</string>
		<key>Word</key>
		<string>sillburk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>silvertak</string>
		<key>Word</key>
		<string>silvertak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>simplistisk</string>
		<key>Word</key>
		<string>simplistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinnessjuk</string>
		<key>Word</key>
		<string>sinnessjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinnrik</string>
		<key>Word</key>
		<string>sinnrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sionistisk</string>
		<key>Word</key>
		<string>sionistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>situationskomik</string>
		<key>Word</key>
		<string>situationskomik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjok</string>
		<key>Word</key>
		<string>sjok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuk</string>
		<key>Word</key>
		<string>sjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukbesok</string>
		<key>Word</key>
		<string>sjukbesök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukgymnastik</string>
		<key>Word</key>
		<string>sjukgymnastik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjunk</string>
		<key>Word</key>
		<string>sjunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttiotalistisk</string>
		<key>Word</key>
		<string>sjuttiotalistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvbiografisk</string>
		<key>Word</key>
		<string>självbiografisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvisk</string>
		<key>Word</key>
		<string>självisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvmordsattack</string>
		<key>Word</key>
		<string>självmordsattack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvmordsforsok</string>
		<key>Word</key>
		<string>självmordsförsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjoflik</string>
		<key>Word</key>
		<string>sjöflik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjonk</string>
		<key>Word</key>
		<string>sjönk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjosjuk</string>
		<key>Word</key>
		<string>sjösjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjovik</string>
		<key>Word</key>
		<string>Sjövik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sk</string>
		<key>Word</key>
		<string>sk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skagerrak</string>
		<key>Word</key>
		<string>Skagerrak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skaldeforsok</string>
		<key>Word</key>
		<string>skaldeförsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skaldeverk</string>
		<key>Word</key>
		<string>skaldeverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalk</string>
		<key>Word</key>
		<string>skalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skamflack</string>
		<key>Word</key>
		<string>skamfläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skandinavisk</string>
		<key>Word</key>
		<string>skandinavisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skansdack</string>
		<key>Word</key>
		<string>skansdäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skarpnack</string>
		<key>Word</key>
		<string>Skarpnäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skatepunk</string>
		<key>Word</key>
		<string>skatepunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattefusk</string>
		<key>Word</key>
		<string>skattefusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skavank</string>
		<key>Word</key>
		<string>skavank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skeptisk</string>
		<key>Word</key>
		<string>skeptisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skick</string>
		<key>Word</key>
		<string>skick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitsnack</string>
		<key>Word</key>
		<string>skitsnack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skock</string>
		<key>Word</key>
		<string>skock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogsbruk</string>
		<key>Word</key>
		<string>skogsbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogsmark</string>
		<key>Word</key>
		<string>skogsmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogspark</string>
		<key>Word</key>
		<string>skogspark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolastik</string>
		<key>Word</key>
		<string>skolastik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolbibliotek</string>
		<key>Word</key>
		<string>skolbibliotek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skolk</string>
		<key>Word</key>
		<string>skolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skotsk</string>
		<key>Word</key>
		<string>skotsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrank</string>
		<key>Word</key>
		<string>skrank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrek</string>
		<key>Word</key>
		<string>skrek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skriftsprak</string>
		<key>Word</key>
		<string>skriftspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrik</string>
		<key>Word</key>
		<string>skrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skriptsprak</string>
		<key>Word</key>
		<string>skriptspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivblock</string>
		<key>Word</key>
		<string>skrivblock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrock</string>
		<key>Word</key>
		<string>skrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrack</string>
		<key>Word</key>
		<string>skräck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrackjournalistik</string>
		<key>Word</key>
		<string>skräckjournalistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skuggrik</string>
		<key>Word</key>
		<string>skuggrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skulhink</string>
		<key>Word</key>
		<string>skulhink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skumrask</string>
		<key>Word</key>
		<string>skumrask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skurk</string>
		<key>Word</key>
		<string>skurk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalmsk</string>
		<key>Word</key>
		<string>skälmsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skank</string>
		<key>Word</key>
		<string>skänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skansk</string>
		<key>Word</key>
		<string>skånsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slagverk</string>
		<key>Word</key>
		<string>slagverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slak</string>
		<key>Word</key>
		<string>slak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slanguttryck</string>
		<key>Word</key>
		<string>slanguttryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slask</string>
		<key>Word</key>
		<string>slask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slavisk</string>
		<key>Word</key>
		<string>slavisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slik</string>
		<key>Word</key>
		<string>slik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slink</string>
		<key>Word</key>
		<string>slink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slottsgemak</string>
		<key>Word</key>
		<string>slottsgemak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slottspark</string>
		<key>Word</key>
		<string>slottspark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slovakisk</string>
		<key>Word</key>
		<string>slovakisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slack</string>
		<key>Word</key>
		<string>släck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smack</string>
		<key>Word</key>
		<string>smack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smak</string>
		<key>Word</key>
		<string>smak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smakrik</string>
		<key>Word</key>
		<string>smakrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smaksak</string>
		<key>Word</key>
		<string>smaksak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smalltalk</string>
		<key>Word</key>
		<string>smalltalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smek</string>
		<key>Word</key>
		<string>smek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smink</string>
		<key>Word</key>
		<string>smink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smittorisk</string>
		<key>Word</key>
		<string>smittorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smutsstank</string>
		<key>Word</key>
		<string>smutsstänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smalek</string>
		<key>Word</key>
		<string>smälek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smabruk</string>
		<key>Word</key>
		<string>småbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smafisk</string>
		<key>Word</key>
		<string>småfisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smalandsk</string>
		<key>Word</key>
		<string>småländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smasak</string>
		<key>Word</key>
		<string>småsak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snack</string>
		<key>Word</key>
		<string>snack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snarlik</string>
		<key>Word</key>
		<string>snarlik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snarskank</string>
		<key>Word</key>
		<string>snarskank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snask</string>
		<key>Word</key>
		<string>snask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snedstreck</string>
		<key>Word</key>
		<string>snedstreck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snillrik</string>
		<key>Word</key>
		<string>snillrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snobbistisk</string>
		<key>Word</key>
		<string>snobbistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snok</string>
		<key>Word</key>
		<string>snok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snusk</string>
		<key>Word</key>
		<string>snusk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snoflack</string>
		<key>Word</key>
		<string>snöfläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialdemokratisk</string>
		<key>Word</key>
		<string>socialdemokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialistisk</string>
		<key>Word</key>
		<string>socialistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialpolitik</string>
		<key>Word</key>
		<string>socialpolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialpolitisk</string>
		<key>Word</key>
		<string>socialpolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socioekonomisk</string>
		<key>Word</key>
		<string>socioekonomisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sociologisk</string>
		<key>Word</key>
		<string>sociologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sockerbruk</string>
		<key>Word</key>
		<string>sockerbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sockerfabrik</string>
		<key>Word</key>
		<string>sockerfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sokratisk</string>
		<key>Word</key>
		<string>sokratisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solflack</string>
		<key>Word</key>
		<string>solfläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solidarisk</string>
		<key>Word</key>
		<string>solidarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solvik</string>
		<key>Word</key>
		<string>Solvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>somatisk</string>
		<key>Word</key>
		<string>somatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sophink</string>
		<key>Word</key>
		<string>sophink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sork</string>
		<key>Word</key>
		<string>sork</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soulmusik</string>
		<key>Word</key>
		<string>soulmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soulseek</string>
		<key>Word</key>
		<string>Soulseek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sovjetisk</string>
		<key>Word</key>
		<string>sovjetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spak</string>
		<key>Word</key>
		<string>spak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spansk</string>
		<key>Word</key>
		<string>spansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sparbank</string>
		<key>Word</key>
		<string>sparbank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spark</string>
		<key>Word</key>
		<string>spark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spartansk</string>
		<key>Word</key>
		<string>spartansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>specifik</string>
		<key>Word</key>
		<string>specifik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelbutik</string>
		<key>Word</key>
		<string>spelbutik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spetalsk</string>
		<key>Word</key>
		<string>spetälsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spik</string>
		<key>Word</key>
		<string>spik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spikrak</string>
		<key>Word</key>
		<string>spikrak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spinnrock</string>
		<key>Word</key>
		<string>spinnrock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spock</string>
		<key>Word</key>
		<string>Spock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sporadisk</string>
		<key>Word</key>
		<string>sporadisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sporrstrack</string>
		<key>Word</key>
		<string>sporrsträck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spotsk</string>
		<key>Word</key>
		<string>spotsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprack</string>
		<key>Word</key>
		<string>sprack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprak</string>
		<key>Word</key>
		<string>sprak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprick</string>
		<key>Word</key>
		<string>sprick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spritbutik</string>
		<key>Word</key>
		<string>spritbutik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprack</string>
		<key>Word</key>
		<string>spräck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprak</string>
		<key>Word</key>
		<string>språk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakbank</string>
		<key>Word</key>
		<string>språkbank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakbruk</string>
		<key>Word</key>
		<string>språkbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spraklank</string>
		<key>Word</key>
		<string>språklänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakpolitik</string>
		<key>Word</key>
		<string>språkpolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakpolitisk</string>
		<key>Word</key>
		<string>språkpolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakteknologisk</string>
		<key>Word</key>
		<string>språkteknologisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spack</string>
		<key>Word</key>
		<string>späck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stack</string>
		<key>Word</key>
		<string>stack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stalinistisk</string>
		<key>Word</key>
		<string>stalinistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>standardsprak</string>
		<key>Word</key>
		<string>standardspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stank</string>
		<key>Word</key>
		<string>stank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>starback</string>
		<key>Word</key>
		<string>Starbäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>starck</string>
		<key>Word</key>
		<string>Starck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stark</string>
		<key>Word</key>
		<string>stark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statarkok</string>
		<key>Word</key>
		<string>statarkök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statfolk</string>
		<key>Word</key>
		<string>statfolk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statisk</string>
		<key>Word</key>
		<string>statisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statistik</string>
		<key>Word</key>
		<string>statistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statistisk</string>
		<key>Word</key>
		<string>statistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statsskick</string>
		<key>Word</key>
		<string>statsskick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stedingk</string>
		<key>Word</key>
		<string>Stedingk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stek</string>
		<key>Word</key>
		<string>stek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenbeck</string>
		<key>Word</key>
		<string>Stenbeck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenblock</string>
		<key>Word</key>
		<string>stenblock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenbock</string>
		<key>Word</key>
		<string>stenbock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenmark</string>
		<key>Word</key>
		<string>Stenmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenmark</string>
		<key>Word</key>
		<string>stenmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stick</string>
		<key>Word</key>
		<string>stick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stilistik</string>
		<key>Word</key>
		<string>stilistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stilistisk</string>
		<key>Word</key>
		<string>stilistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stink</string>
		<key>Word</key>
		<string>stink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjalk</string>
		<key>Word</key>
		<string>stjälk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjarnhok</string>
		<key>Word</key>
		<string>Stjärnhök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stock</string>
		<key>Word</key>
		<string>stock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stokastisk</string>
		<key>Word</key>
		<string>stokastisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storbrak</string>
		<key>Word</key>
		<string>storbråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storgodsbruk</string>
		<key>Word</key>
		<string>storgodsbruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stork</string>
		<key>Word</key>
		<string>stork</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storlek</string>
		<key>Word</key>
		<string>storlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storverk</string>
		<key>Word</key>
		<string>storverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strategisk</string>
		<key>Word</key>
		<string>strategisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>streck</string>
		<key>Word</key>
		<string>streck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strejk</string>
		<key>Word</key>
		<string>strejk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stryk</string>
		<key>Word</key>
		<string>stryk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strack</string>
		<key>Word</key>
		<string>sträck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strackbank</string>
		<key>Word</key>
		<string>sträckbänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strak</string>
		<key>Word</key>
		<string>stråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strok</string>
		<key>Word</key>
		<string>strök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stromback</string>
		<key>Word</key>
		<string>Strömbäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studentmusik</string>
		<key>Word</key>
		<string>studentmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studiebesok</string>
		<key>Word</key>
		<string>studiebesök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studsvik</string>
		<key>Word</key>
		<string>Studsvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stuk</string>
		<key>Word</key>
		<string>stuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sturmark</string>
		<key>Word</key>
		<string>Sturmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stursk</string>
		<key>Word</key>
		<string>stursk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styck</string>
		<key>Word</key>
		<string>styck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styckebruk</string>
		<key>Word</key>
		<string>styckebruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styrk</string>
		<key>Word</key>
		<string>styrk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stank</string>
		<key>Word</key>
		<string>stänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stark</string>
		<key>Word</key>
		<string>stärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stalbalk</string>
		<key>Word</key>
		<string>stålbalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>suck</string>
		<key>Word</key>
		<string>suck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sulfatfabrik</string>
		<key>Word</key>
		<string>sulfatfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>summarisk</string>
		<key>Word</key>
		<string>summarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>surfpunk</string>
		<key>Word</key>
		<string>surfpunk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>surrealistisk</string>
		<key>Word</key>
		<string>surrealistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svartsjuk</string>
		<key>Word</key>
		<string>svartsjuk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svedjebruk</string>
		<key>Word</key>
		<string>svedjebruk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svek</string>
		<key>Word</key>
		<string>svek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svensk</string>
		<key>Word</key>
		<string>svensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svensk-norsk</string>
		<key>Word</key>
		<string>svensk-norsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svenstavik</string>
		<key>Word</key>
		<string>Svenstavik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sverigefinsk</string>
		<key>Word</key>
		<string>sverigefinsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svik</string>
		<key>Word</key>
		<string>svik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarmisk</string>
		<key>Word</key>
		<string>svärmisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sydafrikansk</string>
		<key>Word</key>
		<string>sydafrikansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sydfransk</string>
		<key>Word</key>
		<string>sydfransk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sydlandsk</string>
		<key>Word</key>
		<string>sydländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sydsvensk</string>
		<key>Word</key>
		<string>sydsvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symbolik</string>
		<key>Word</key>
		<string>symbolik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symbolisk</string>
		<key>Word</key>
		<string>symbolisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symfonirock</string>
		<key>Word</key>
		<string>symfonirock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symfonisk</string>
		<key>Word</key>
		<string>symfonisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symmetrisk</string>
		<key>Word</key>
		<string>symmetrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sympatisk</string>
		<key>Word</key>
		<string>sympatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symptomatisk</string>
		<key>Word</key>
		<string>symptomatisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syndabock</string>
		<key>Word</key>
		<string>syndabock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synintryck</string>
		<key>Word</key>
		<string>synintryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synk</string>
		<key>Word</key>
		<string>synk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syntetisk</string>
		<key>Word</key>
		<string>syntetisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synthmusik</string>
		<key>Word</key>
		<string>synthmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syrerik</string>
		<key>Word</key>
		<string>syrerik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syrisk</string>
		<key>Word</key>
		<string>syrisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systematik</string>
		<key>Word</key>
		<string>systematik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systematisk</string>
		<key>Word</key>
		<string>systematisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systembutik</string>
		<key>Word</key>
		<string>systembutik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sack</string>
		<key>Word</key>
		<string>säck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sakerhetspolitisk</string>
		<key>Word</key>
		<string>säkerhetspolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sank</string>
		<key>Word</key>
		<string>sänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sartryck</string>
		<key>Word</key>
		<string>särtryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sagbock</string>
		<key>Word</key>
		<string>sågbock</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sok</string>
		<key>Word</key>
		<string>sök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soklank</string>
		<key>Word</key>
		<string>söklänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sokvaback</string>
		<key>Word</key>
		<string>Sökvabäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sormlandsek</string>
		<key>Word</key>
		<string>sörmlandsek</string>
	</dict>
</array>
</plist>
