<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saab-special</string>
		<key>Word</key>
		<string>Saab-special</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sabel</string>
		<key>Word</key>
		<string>sabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadel</string>
		<key>Word</key>
		<string>sadel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sakfel</string>
		<key>Word</key>
		<string>sakfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sal</string>
		<key>Word</key>
		<string>sal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samlingslokal</string>
		<key>Word</key>
		<string>samlingslokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sammanfall</string>
		<key>Word</key>
		<string>sammanfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sammanföll</string>
		<key>Word</key>
		<string>sammanföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sammanställ</string>
		<key>Word</key>
		<string>sammanställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samspel</string>
		<key>Word</key>
		<string>samspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samtal</string>
		<key>Word</key>
		<string>samtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samtrafiksavtal</string>
		<key>Word</key>
		<string>samtrafiksavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samuel</string>
		<key>Word</key>
		<string>Samuel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sandal</string>
		<key>Word</key>
		<string>sandal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sandell</string>
		<key>Word</key>
		<string>Sandell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saol</string>
		<key>Word</key>
		<string>SAOL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>satellitdel</string>
		<key>Word</key>
		<string>satellitdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saul</string>
		<key>Word</key>
		<string>Saul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scart-kabel</string>
		<key>Word</key>
		<string>SCART-kabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schal</string>
		<key>Word</key>
		<string>schal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schangdobel</string>
		<key>Word</key>
		<string>schangdobel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schlagerfestival</string>
		<key>Word</key>
		<string>schlagerfestival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schlegel</string>
		<key>Word</key>
		<string>Schlegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schönwell</string>
		<key>Word</key>
		<string>Schönwell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scoutpatrull</string>
		<key>Word</key>
		<string>scoutpatrull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sedel</string>
		<key>Word</key>
		<string>sedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>segel</string>
		<key>Word</key>
		<string>segel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>segerjubel</string>
		<key>Word</key>
		<string>segerjubel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>segersäll</string>
		<key>Word</key>
		<string>segersäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>seipel</string>
		<key>Word</key>
		<string>Seipel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sekel</string>
		<key>Word</key>
		<string>sekel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sekretesskäl</string>
		<key>Word</key>
		<string>sekretesskäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sekvensiell</string>
		<key>Word</key>
		<string>sekvensiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>senegal</string>
		<key>Word</key>
		<string>Senegal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>senil</string>
		<key>Word</key>
		<string>senil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sensationell</string>
		<key>Word</key>
		<string>sensationell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sensibel</string>
		<key>Word</key>
		<string>sensibel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sensmoral</string>
		<key>Word</key>
		<string>sensmoral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sensuell</string>
		<key>Word</key>
		<string>sensuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sentimental</string>
		<key>Word</key>
		<string>sentimental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sergel</string>
		<key>Word</key>
		<string>Sergel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>seriell</string>
		<key>Word</key>
		<string>seriell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>serubbabel</string>
		<key>Word</key>
		<string>Serubbabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sessionsnyckel</string>
		<key>Word</key>
		<string>sessionsnyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexmejl</string>
		<key>Word</key>
		<string>sexmejl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextiotal</string>
		<key>Word</key>
		<string>sextiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextonhundratal</string>
		<key>Word</key>
		<string>sextonhundratal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexuell</string>
		<key>Word</key>
		<string>sexuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sgml</string>
		<key>Word</key>
		<string>SGML</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>shell</string>
		<key>Word</key>
		<string>Shell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sigill</string>
		<key>Word</key>
		<string>sigill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>signal</string>
		<key>Word</key>
		<string>signal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sikel</string>
		<key>Word</key>
		<string>sikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sil</string>
		<key>Word</key>
		<string>sil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sill</string>
		<key>Word</key>
		<string>sill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>silverskål</string>
		<key>Word</key>
		<string>silverskål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>simpel</string>
		<key>Word</key>
		<string>simpel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>singel</string>
		<key>Word</key>
		<string>singel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjal</string>
		<key>Word</key>
		<string>sjal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjangdobel</string>
		<key>Word</key>
		<string>sjangdobel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukfall</string>
		<key>Word</key>
		<string>sjukfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjumilastövel</string>
		<key>Word</key>
		<string>sjumilastövel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttiotal</string>
		<key>Word</key>
		<string>sjuttiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttonhundratal</string>
		<key>Word</key>
		<string>sjuttonhundratal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>själ</string>
		<key>Word</key>
		<string>själ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>själfull</string>
		<key>Word</key>
		<string>själfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>självändamål</string>
		<key>Word</key>
		<string>självändamål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjöfågel</string>
		<key>Word</key>
		<string>sjöfågel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skal</string>
		<key>Word</key>
		<string>skal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalfördel</string>
		<key>Word</key>
		<string>skalfördel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skall</string>
		<key>Word</key>
		<string>skall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skandal</string>
		<key>Word</key>
		<string>skandal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skanstull</string>
		<key>Word</key>
		<string>Skanstull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattefiffel</string>
		<key>Word</key>
		<string>skattefiffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skattsedel</string>
		<key>Word</key>
		<string>skattsedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skimmel</string>
		<key>Word</key>
		<string>skimmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skinnlägel</string>
		<key>Word</key>
		<string>skinnlägel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitenkel</string>
		<key>Word</key>
		<string>skitenkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitfull</string>
		<key>Word</key>
		<string>skitfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitkul</string>
		<key>Word</key>
		<string>skitkul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitsnäll</string>
		<key>Word</key>
		<string>skitsnäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skitstövel</string>
		<key>Word</key>
		<string>skitstövel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skjul</string>
		<key>Word</key>
		<string>skjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skoghall</string>
		<key>Word</key>
		<string>Skoghall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogskarl</string>
		<key>Word</key>
		<string>skogskarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skotthåll</string>
		<key>Word</key>
		<string>skotthåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skovel</string>
		<key>Word</key>
		<string>skovel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skral</string>
		<key>Word</key>
		<string>skral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrammel</string>
		<key>Word</key>
		<string>skrammel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivfel</string>
		<key>Word</key>
		<string>skrivfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivmateriel</string>
		<key>Word</key>
		<string>skrivmateriel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivregel</string>
		<key>Word</key>
		<string>skrivregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skruvmejsel</string>
		<key>Word</key>
		<string>skruvmejsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skräckexempel</string>
		<key>Word</key>
		<string>skräckexempel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skräll</string>
		<key>Word</key>
		<string>skräll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrämsel</string>
		<key>Word</key>
		<string>skrämsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrål</string>
		<key>Word</key>
		<string>skrål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skull</string>
		<key>Word</key>
		<string>skull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skulptural</string>
		<key>Word</key>
		<string>skulptural</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyddsängel</string>
		<key>Word</key>
		<string>skyddsängel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyffel</string>
		<key>Word</key>
		<string>skyffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyl</string>
		<key>Word</key>
		<string>skyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyll</string>
		<key>Word</key>
		<string>skyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skymmel</string>
		<key>Word</key>
		<string>skymmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skyttel</string>
		<key>Word</key>
		<string>skyttel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skäl</string>
		<key>Word</key>
		<string>skäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skäll</string>
		<key>Word</key>
		<string>skäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skådespel</string>
		<key>Word</key>
		<string>skådespel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skål</string>
		<key>Word</key>
		<string>skål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skötsel</string>
		<key>Word</key>
		<string>skötsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sl</string>
		<key>Word</key>
		<string>SL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slaganfall</string>
		<key>Word</key>
		<string>slaganfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slagsmål</string>
		<key>Word</key>
		<string>slagsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slaktavfall</string>
		<key>Word</key>
		<string>slaktavfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slakteriavfall</string>
		<key>Word</key>
		<string>slakteriavfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slarvfel</string>
		<key>Word</key>
		<string>slarvfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slashdotartikel</string>
		<key>Word</key>
		<string>Slashdotartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slumptal</string>
		<key>Word</key>
		<string>slumptal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slyngel</string>
		<key>Word</key>
		<string>slyngel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sm-final</string>
		<key>Word</key>
		<string>SM-final</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smal</string>
		<key>Word</key>
		<string>smal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>small</string>
		<key>Word</key>
		<string>small</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smil</string>
		<key>Word</key>
		<string>smil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smul</string>
		<key>Word</key>
		<string>smul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smäll</string>
		<key>Word</key>
		<string>smäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>småbil</string>
		<key>Word</key>
		<string>småbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smågräl</string>
		<key>Word</key>
		<string>smågräl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smörgul</string>
		<key>Word</key>
		<string>smörgul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snabel</string>
		<key>Word</key>
		<string>snabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snickerimöbel</string>
		<key>Word</key>
		<string>snickerimöbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snigel</string>
		<key>Word</key>
		<string>snigel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snuskhål</string>
		<key>Word</key>
		<string>snuskhål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snäckskal</string>
		<key>Word</key>
		<string>snäckskal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snäll</string>
		<key>Word</key>
		<string>snäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snål</string>
		<key>Word</key>
		<string>snål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snöboll</string>
		<key>Word</key>
		<string>snöboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snöfall</string>
		<key>Word</key>
		<string>snöfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snöskyffel</string>
		<key>Word</key>
		<string>snöskyffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sobel</string>
		<key>Word</key>
		<string>sobel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>social</string>
		<key>Word</key>
		<string>social</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sockel</string>
		<key>Word</key>
		<string>sockel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sol</string>
		<key>Word</key>
		<string>sol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solnedgångsidyll</string>
		<key>Word</key>
		<string>solnedgångsidyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solsegel</string>
		<key>Word</key>
		<string>solsegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sommarkväll</string>
		<key>Word</key>
		<string>sommarkväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sorgefull</string>
		<key>Word</key>
		<string>sorgefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sorgespel</string>
		<key>Word</key>
		<string>sorgespel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sorl</string>
		<key>Word</key>
		<string>sorl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soul</string>
		<key>Word</key>
		<string>soul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spackel</string>
		<key>Word</key>
		<string>spackel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spannmål</string>
		<key>Word</key>
		<string>spannmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sparkcykel</string>
		<key>Word</key>
		<string>sparkcykel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sparsamhetsskäl</string>
		<key>Word</key>
		<string>sparsamhetsskäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spatel</string>
		<key>Word</key>
		<string>spatel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spatial</string>
		<key>Word</key>
		<string>spatial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>special</string>
		<key>Word</key>
		<string>special</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>specialfall</string>
		<key>Word</key>
		<string>specialfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>speciell</string>
		<key>Word</key>
		<string>speciell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spegel</string>
		<key>Word</key>
		<string>spegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spektakel</string>
		<key>Word</key>
		<string>spektakel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spel</string>
		<key>Word</key>
		<string>spel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelkonsol</string>
		<key>Word</key>
		<string>spelkonsol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelmobil</string>
		<key>Word</key>
		<string>spelmobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelregel</string>
		<key>Word</key>
		<string>spelregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spelstil</string>
		<key>Word</key>
		<string>spelstil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spill</string>
		<key>Word</key>
		<string>spill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spindel</string>
		<key>Word</key>
		<string>spindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spiritual</string>
		<key>Word</key>
		<string>spiritual</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spirituell</string>
		<key>Word</key>
		<string>spirituell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spisel</string>
		<key>Word</key>
		<string>spisel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spjäll</string>
		<key>Word</key>
		<string>spjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>språkval</string>
		<key>Word</key>
		<string>språkval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spörsmål</string>
		<key>Word</key>
		<string>spörsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sql</string>
		<key>Word</key>
		<string>SQL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ssl</string>
		<key>Word</key>
		<string>SSL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stabil</string>
		<key>Word</key>
		<string>stabil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadsdel</string>
		<key>Word</key>
		<string>stadsdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadshotell</string>
		<key>Word</key>
		<string>stadshotell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stal</string>
		<key>Word</key>
		<string>stal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stall</string>
		<key>Word</key>
		<string>stall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stallgödsel</string>
		<key>Word</key>
		<string>stallgödsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>standard-signalställ</string>
		<key>Word</key>
		<string>standard-signalställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stapel</string>
		<key>Word</key>
		<string>stapel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stavfel</string>
		<key>Word</key>
		<string>stavfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stavningskontroll</string>
		<key>Word</key>
		<string>stavningskontroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>staël</string>
		<key>Word</key>
		<string>Staël</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stegel</string>
		<key>Word</key>
		<string>stegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>steinvall</string>
		<key>Word</key>
		<string>Steinvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stel</string>
		<key>Word</key>
		<string>stel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stencil</string>
		<key>Word</key>
		<string>stencil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenkil</string>
		<key>Word</key>
		<string>Stenkil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>steril</string>
		<key>Word</key>
		<string>steril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stil</string>
		<key>Word</key>
		<string>stil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>still</string>
		<key>Word</key>
		<string>still</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjäl</string>
		<key>Word</key>
		<string>stjäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjärnhimmel</string>
		<key>Word</key>
		<string>stjärnhimmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stl</string>
		<key>Word</key>
		<string>stl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stofil</string>
		<key>Word</key>
		<string>stofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stol</string>
		<key>Word</key>
		<string>stol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storcirkel</string>
		<key>Word</key>
		<string>storcirkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stordriftsfördel</string>
		<key>Word</key>
		<string>stordriftsfördel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>storstadsdjungel</string>
		<key>Word</key>
		<string>storstadsdjungel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strategispel</string>
		<key>Word</key>
		<string>strategispel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stridsmedel</string>
		<key>Word</key>
		<string>stridsmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stril</string>
		<key>Word</key>
		<string>stril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strimmel</string>
		<key>Word</key>
		<string>strimmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strul</string>
		<key>Word</key>
		<string>strul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strängaspel</string>
		<key>Word</key>
		<string>strängaspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strömedel</string>
		<key>Word</key>
		<string>strömedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studentorkesterfestival</string>
		<key>Word</key>
		<string>studentorkesterfestival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studiecirkel</string>
		<key>Word</key>
		<string>studiecirkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studieuppehåll</string>
		<key>Word</key>
		<string>studieuppehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styrmedel</string>
		<key>Word</key>
		<string>styrmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styrningssignal</string>
		<key>Word</key>
		<string>styrningssignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>styrsignal</string>
		<key>Word</key>
		<string>styrsignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ställ</string>
		<key>Word</key>
		<string>ställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stämningsfull</string>
		<key>Word</key>
		<string>stämningsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stämpel</string>
		<key>Word</key>
		<string>stämpel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stängel</string>
		<key>Word</key>
		<string>stängel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stängsel</string>
		<key>Word</key>
		<string>stängsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stål</string>
		<key>Word</key>
		<string>stål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ståndarmjöl</string>
		<key>Word</key>
		<string>ståndarmjöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stövel</string>
		<key>Word</key>
		<string>stövel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>subgruppsregel</string>
		<key>Word</key>
		<string>subgruppsregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>substantiell</string>
		<key>Word</key>
		<string>substantiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>subtil</string>
		<key>Word</key>
		<string>subtil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>suhl</string>
		<key>Word</key>
		<string>Suhl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sundsvall</string>
		<key>Word</key>
		<string>Sundsvall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sval</string>
		<key>Word</key>
		<string>sval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svall</string>
		<key>Word</key>
		<string>svall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svaromål</string>
		<key>Word</key>
		<string>svaromål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarsfil</string>
		<key>Word</key>
		<string>svarsfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svartmetall</string>
		<key>Word</key>
		<string>svartmetall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svavel</string>
		<key>Word</key>
		<string>svavel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svindel</string>
		<key>Word</key>
		<string>svindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sväll</string>
		<key>Word</key>
		<string>sväll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svänghjul</string>
		<key>Word</key>
		<string>svänghjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>swapfil</string>
		<key>Word</key>
		<string>swapfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>swimmingpool</string>
		<key>Word</key>
		<string>swimmingpool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sydpol</string>
		<key>Word</key>
		<string>sydpol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syl</string>
		<key>Word</key>
		<string>syl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syll</string>
		<key>Word</key>
		<string>syll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>symbol</string>
		<key>Word</key>
		<string>symbol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syndafall</string>
		<key>Word</key>
		<string>syndafall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synhjälpmedel</string>
		<key>Word</key>
		<string>synhjälpmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synhåll</string>
		<key>Word</key>
		<string>synhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syntaxfel</string>
		<key>Word</key>
		<string>syntaxfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synvinkel</string>
		<key>Word</key>
		<string>synvinkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syreinnehåll</string>
		<key>Word</key>
		<string>syreinnehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syretillförsel</string>
		<key>Word</key>
		<string>syretillförsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systemfel</string>
		<key>Word</key>
		<string>systemfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systemfil</string>
		<key>Word</key>
		<string>systemfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säkerhetsmarginal</string>
		<key>Word</key>
		<string>säkerhetsmarginal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säkerställ</string>
		<key>Word</key>
		<string>säkerställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säl</string>
		<key>Word</key>
		<string>säl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säll</string>
		<key>Word</key>
		<string>säll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sändardel</string>
		<key>Word</key>
		<string>sändardel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>såll</string>
		<key>Word</key>
		<string>såll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>såväl</string>
		<key>Word</key>
		<string>såväl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sökmedel</string>
		<key>Word</key>
		<string>sökmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sömnmedel</string>
		<key>Word</key>
		<string>sömnmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sönderfall</string>
		<key>Word</key>
		<string>sönderfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sönderföll</string>
		<key>Word</key>
		<string>sönderföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>söul</string>
		<key>Word</key>
		<string>Söul</string>
	</dict>
</array>
</plist>
