<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sacramento</string>
		<key>Word</key>
		<string>Sacramento</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saldo</string>
		<key>Word</key>
		<string>saldo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>salomo</string>
		<key>Word</key>
		<string>Salomo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sambo</string>
		<key>Word</key>
		<string>sambo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samvaro</string>
		<key>Word</key>
		<string>samvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sandemo</string>
		<key>Word</key>
		<string>Sandemo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>santiago</string>
		<key>Word</key>
		<string>Santiago</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sapfo</string>
		<key>Word</key>
		<string>Sapfo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sarajevo</string>
		<key>Word</key>
		<string>Sarajevo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>saxo</string>
		<key>Word</key>
		<string>Saxo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scenario</string>
		<key>Word</key>
		<string>scenario</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schlagertrio</string>
		<key>Word</key>
		<string>schlagertrio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>scorpio</string>
		<key>Word</key>
		<string>Scorpio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sendo</string>
		<key>Word</key>
		<string>Sendo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sereno</string>
		<key>Word</key>
		<string>Sereno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>serrano</string>
		<key>Word</key>
		<string>Serrano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sexhundrafemtio</string>
		<key>Word</key>
		<string>sexhundrafemtio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextio</string>
		<key>Word</key>
		<string>sextio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sextionio</string>
		<key>Word</key>
		<string>sextionio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>silo</string>
		<key>Word</key>
		<string>silo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sinnesslö</string>
		<key>Word</key>
		<string>sinnesslö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjukfrånvaro</string>
		<key>Word</key>
		<string>sjukfrånvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttio</string>
		<key>Word</key>
		<string>sjuttio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjuttionio</string>
		<key>Word</key>
		<string>sjuttionio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>självdö</string>
		<key>Word</key>
		<string>självdö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjö</string>
		<key>Word</key>
		<string>sjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjöbo</string>
		<key>Word</key>
		<string>Sjöbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjöö</string>
		<key>Word</key>
		<string>Sjöö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skatbo</string>
		<key>Word</key>
		<string>skatbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sko</string>
		<key>Word</key>
		<string>sko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogssjö</string>
		<key>Word</key>
		<string>skogssjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skridsko</string>
		<key>Word</key>
		<string>skridsko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivarkö</string>
		<key>Word</key>
		<string>skrivarkö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skärgårdsö</string>
		<key>Word</key>
		<string>skärgårdsö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slö</string>
		<key>Word</key>
		<string>slö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sno</string>
		<key>Word</key>
		<string>sno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snurrskiveretro</string>
		<key>Word</key>
		<string>snurrskiveretro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snö</string>
		<key>Word</key>
		<string>snö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>so</string>
		<key>Word</key>
		<string>so</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>solo</string>
		<key>Word</key>
		<string>solo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soprano</string>
		<key>Word</key>
		<string>Soprano</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spillo</string>
		<key>Word</key>
		<string>spillo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spö</string>
		<key>Word</key>
		<string>spö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadsbo</string>
		<key>Word</key>
		<string>stadsbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stenbro</string>
		<key>Word</key>
		<string>stenbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stereo</string>
		<key>Word</key>
		<string>stereo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sto</string>
		<key>Word</key>
		<string>sto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>strö</string>
		<key>Word</key>
		<string>strö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>studio</string>
		<key>Word</key>
		<string>studio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>superego</string>
		<key>Word</key>
		<string>superego</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svarsporto</string>
		<key>Word</key>
		<string>svarsporto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svartsjö</string>
		<key>Word</key>
		<string>Svartsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svevo</string>
		<key>Word</key>
		<string>Svevo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svinho</string>
		<key>Word</key>
		<string>svinho</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svullo</string>
		<key>Word</key>
		<string>Svullo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>são</string>
		<key>Word</key>
		<string>São</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säpo</string>
		<key>Word</key>
		<string>Säpo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sävsjö</string>
		<key>Word</key>
		<string>Sävsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sångmö</string>
		<key>Word</key>
		<string>sångmö</string>
	</dict>
</array>
</plist>
