<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sadelknapp</string>
		<key>Word</key>
		<string>sadelknapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhallskropp</string>
		<key>Word</key>
		<string>samhällskropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhallskunskap</string>
		<key>Word</key>
		<string>samhällskunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samhallsvetenskap</string>
		<key>Word</key>
		<string>samhällsvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samlingsbegrepp</string>
		<key>Word</key>
		<string>samlingsbegrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>samradsgrupp</string>
		<key>Word</key>
		<string>samrådsgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sap</string>
		<key>Word</key>
		<string>SAP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>senap</string>
		<key>Word</key>
		<string>senap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sep</string>
		<key>Word</key>
		<string>sep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sharp</string>
		<key>Word</key>
		<string>Sharp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>silverbrollop</string>
		<key>Word</key>
		<string>silverbröllop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>simpevarp</string>
		<key>Word</key>
		<string>Simpevarp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sip</string>
		<key>Word</key>
		<string>SIP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sirap</string>
		<key>Word</key>
		<string>sirap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalsgemenskap</string>
		<key>Word</key>
		<string>själsgemenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjalvhjalp</string>
		<key>Word</key>
		<string>självhjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sjolandskap</string>
		<key>Word</key>
		<string>sjölandskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skaldskap</string>
		<key>Word</key>
		<string>skaldskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skalp</string>
		<key>Word</key>
		<string>skalp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skarp</string>
		<key>Word</key>
		<string>skarp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skepp</string>
		<key>Word</key>
		<string>skepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skivslapp</string>
		<key>Word</key>
		<string>skivsläpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skogstorp</string>
		<key>Word</key>
		<string>skogstorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrivkramp</string>
		<key>Word</key>
		<string>skrivkramp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skrap</string>
		<key>Word</key>
		<string>skräp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skurup</string>
		<key>Word</key>
		<string>Skurup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skvalp</string>
		<key>Word</key>
		<string>skvalp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skaggetorp</string>
		<key>Word</key>
		<string>Skäggetorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skarmdump</string>
		<key>Word</key>
		<string>skärmdump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skarp</string>
		<key>Word</key>
		<string>skärp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skap</string>
		<key>Word</key>
		<string>skåp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slapp</string>
		<key>Word</key>
		<string>slapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slapparklapp</string>
		<key>Word</key>
		<string>slapparklapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slip</string>
		<key>Word</key>
		<string>slip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slipp</string>
		<key>Word</key>
		<string>slipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slump</string>
		<key>Word</key>
		<string>slump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slup</string>
		<key>Word</key>
		<string>slup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sluttamp</string>
		<key>Word</key>
		<string>sluttamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slaktskap</string>
		<key>Word</key>
		<string>släktskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slap</string>
		<key>Word</key>
		<string>släp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>slapp</string>
		<key>Word</key>
		<string>släpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smtp</string>
		<key>Word</key>
		<string>SMTP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smaboskap</string>
		<key>Word</key>
		<string>småboskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snabbkop</string>
		<key>Word</key>
		<string>snabbköp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snmp</string>
		<key>Word</key>
		<string>SNMP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snapp</string>
		<key>Word</key>
		<string>snäpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snodjup</string>
		<key>Word</key>
		<string>snödjup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soap</string>
		<key>Word</key>
		<string>SOAP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialgrupp</string>
		<key>Word</key>
		<string>socialgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>socialhjalp</string>
		<key>Word</key>
		<string>socialhjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>soptipp</string>
		<key>Word</key>
		<string>soptipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spatserkapp</string>
		<key>Word</key>
		<string>spatserkäpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakangrepp</string>
		<key>Word</key>
		<string>språkangrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakgemenskap</string>
		<key>Word</key>
		<string>språkgemenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakkunskap</string>
		<key>Word</key>
		<string>språkkunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sprakvetenskap</string>
		<key>Word</key>
		<string>språkvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stadsjeep</string>
		<key>Word</key>
		<string>stadsjeep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>staffanstorp</string>
		<key>Word</key>
		<string>Staffanstorp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>standardlisp</string>
		<key>Word</key>
		<string>standardlisp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>standardtyp</string>
		<key>Word</key>
		<string>standardtyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>startup</string>
		<key>Word</key>
		<string>startup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statshjalp</string>
		<key>Word</key>
		<string>statshjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statskunskap</string>
		<key>Word</key>
		<string>statskunskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>statusgrupp</string>
		<key>Word</key>
		<string>statusgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stereoskop</string>
		<key>Word</key>
		<string>stereoskop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stereosubgrupp</string>
		<key>Word</key>
		<string>stereosubgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stereotyp</string>
		<key>Word</key>
		<string>stereotyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stilgrepp</string>
		<key>Word</key>
		<string>stilgrepp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjalktopp</string>
		<key>Word</key>
		<string>stjälktopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stjalp</string>
		<key>Word</key>
		<string>stjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stop</string>
		<key>Word</key>
		<string>stop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stopp</string>
		<key>Word</key>
		<string>stopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stp</string>
		<key>Word</key>
		<string>STP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stripp</string>
		<key>Word</key>
		<string>stripp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stropp</string>
		<key>Word</key>
		<string>stropp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stroustrup</string>
		<key>Word</key>
		<string>Stroustrup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stryp</string>
		<key>Word</key>
		<string>stryp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stump</string>
		<key>Word</key>
		<string>stump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stup</string>
		<key>Word</key>
		<string>stup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sturup</string>
		<key>Word</key>
		<string>Sturup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stapp</string>
		<key>Word</key>
		<string>stäpp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>standarknapp</string>
		<key>Word</key>
		<string>ståndarknapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stop</string>
		<key>Word</key>
		<string>stöp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stortlopp</string>
		<key>Word</key>
		<string>störtlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>subgrupp</string>
		<key>Word</key>
		<string>subgrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sump</string>
		<key>Word</key>
		<string>sump</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sup</string>
		<key>Word</key>
		<string>sup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>superchip</string>
		<key>Word</key>
		<string>superchip</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svamp</string>
		<key>Word</key>
		<string>svamp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>svep</string>
		<key>Word</key>
		<string>svep</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>syntaxhjalp</string>
		<key>Word</key>
		<string>syntaxhjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>synthpop</string>
		<key>Word</key>
		<string>synthpop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>systemvetenskap</string>
		<key>Word</key>
		<string>systemvetenskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sallskap</string>
		<key>Word</key>
		<string>sällskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sop</string>
		<key>Word</key>
		<string>söp</string>
	</dict>
</array>
</plist>
