<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sally</string>
		<key>Word</key>
		<string>Sally</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sanny</string>
		<key>Word</key>
		<string>Sanny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>savoy</string>
		<key>Word</key>
		<string>Savoy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>schottky</string>
		<key>Word</key>
		<string>Schottky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>signy</string>
		<key>Word</key>
		<string>Signy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skräddarsy</string>
		<key>Word</key>
		<string>skräddarsy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sky</string>
		<key>Word</key>
		<string>sky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>skälby</string>
		<key>Word</key>
		<string>Skälby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sly</string>
		<key>Word</key>
		<string>sly</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>släktby</string>
		<key>Word</key>
		<string>släktby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>smiley</string>
		<key>Word</key>
		<string>smiley</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snabbmeny</string>
		<key>Word</key>
		<string>snabbmeny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snoilsky</string>
		<key>Word</key>
		<string>Snoilsky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>snuskby</string>
		<key>Word</key>
		<string>snuskby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sonny</string>
		<key>Word</key>
		<string>Sonny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sony</string>
		<key>Word</key>
		<string>Sony</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sorry</string>
		<key>Word</key>
		<string>sorry</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>speedway</string>
		<key>Word</key>
		<string>speedway</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>splitterny</string>
		<key>Word</key>
		<string>splitterny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spray</string>
		<key>Word</key>
		<string>spray</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>spy</string>
		<key>Word</key>
		<string>spy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stanley</string>
		<key>Word</key>
		<string>Stanley</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>startmeny</string>
		<key>Word</key>
		<string>startmeny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>staty</string>
		<key>Word</key>
		<string>staty</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>story</string>
		<key>Word</key>
		<string>story</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>stugby</string>
		<key>Word</key>
		<string>stugby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sulky</string>
		<key>Word</key>
		<string>sulky</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sundby</string>
		<key>Word</key>
		<string>Sundby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sunderby</string>
		<key>Word</key>
		<string>Sunderby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sussy</string>
		<key>Word</key>
		<string>Sussy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sy</string>
		<key>Word</key>
		<string>sy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>sydney</string>
		<key>Word</key>
		<string>Sydney</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>säby</string>
		<key>Word</key>
		<string>Säby</string>
	</dict>
</array>
</plist>
