<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>t-banebrand</string>
		<key>Word</key>
		<string>t-banebrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tabulerad</string>
		<key>Word</key>
		<string>tabulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tackad</string>
		<key>Word</key>
		<string>tackad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tacksamhetsskuld</string>
		<key>Word</key>
		<string>tacksamhetsskuld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tadlad</string>
		<key>Word</key>
		<string>tadlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taggtrad</string>
		<key>Word</key>
		<string>taggtråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>takhojd</string>
		<key>Word</key>
		<string>takhöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talad</string>
		<key>Word</key>
		<string>talad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taltid</string>
		<key>Word</key>
		<string>taltid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tand</string>
		<key>Word</key>
		<string>tand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tandad</string>
		<key>Word</key>
		<string>tandad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tandrad</string>
		<key>Word</key>
		<string>tandrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tandvard</string>
		<key>Word</key>
		<string>tandvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tangentbord</string>
		<key>Word</key>
		<string>tangentbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tangerad</string>
		<key>Word</key>
		<string>tangerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankad</string>
		<key>Word</key>
		<string>tankad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankred</string>
		<key>Word</key>
		<string>Tankred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankspridd</string>
		<key>Word</key>
		<string>tankspridd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tapetvad</string>
		<key>Word</key>
		<string>tapetvåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tappad</string>
		<key>Word</key>
		<string>tappad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tarvad</string>
		<key>Word</key>
		<string>tarvad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tatuerad</string>
		<key>Word</key>
		<string>tatuerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tavastland</string>
		<key>Word</key>
		<string>Tavastland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taxerad</string>
		<key>Word</key>
		<string>taxerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taxeringsnamnd</string>
		<key>Word</key>
		<string>taxeringsnämnd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tchad</string>
		<key>Word</key>
		<string>Tchad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teblad</string>
		<key>Word</key>
		<string>teblad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckenkod</string>
		<key>Word</key>
		<string>teckenkod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tecknad</string>
		<key>Word</key>
		<string>tecknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ted</string>
		<key>Word</key>
		<string>Ted</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tejpad</string>
		<key>Word</key>
		<string>tejpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonbud</string>
		<key>Word</key>
		<string>telefonbud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telegraferad</string>
		<key>Word</key>
		<string>telegraferad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tempererad</string>
		<key>Word</key>
		<string>tempererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teoretiserad</string>
		<key>Word</key>
		<string>teoretiserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terrordad</string>
		<key>Word</key>
		<string>terrordåd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tesked</string>
		<key>Word</key>
		<string>tesked</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testad</string>
		<key>Word</key>
		<string>testad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testamenterad</string>
		<key>Word</key>
		<string>testamenterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>texastillverkad</string>
		<key>Word</key>
		<string>Texastillverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textad</string>
		<key>Word</key>
		<string>textad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textbaserad</string>
		<key>Word</key>
		<string>textbaserad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thailand</string>
		<key>Word</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thorild</string>
		<key>Word</key>
		<string>Thorild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tid</string>
		<key>Word</key>
		<string>tid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsbegransad</string>
		<key>Word</key>
		<string>tidsbegränsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsperiod</string>
		<key>Word</key>
		<string>tidsperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsplanerad</string>
		<key>Word</key>
		<string>tidsplanerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsskillnad</string>
		<key>Word</key>
		<string>tidsskillnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillagad</string>
		<key>Word</key>
		<string>tillagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillagd</string>
		<key>Word</key>
		<string>tillagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbad</string>
		<key>Word</key>
		<string>tillbad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbakaflyttad</string>
		<key>Word</key>
		<string>tillbakaflyttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbakalutad</string>
		<key>Word</key>
		<string>tillbakalutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbakatrangd</string>
		<key>Word</key>
		<string>tillbakaträngd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbakavisad</string>
		<key>Word</key>
		<string>tillbakavisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbed</string>
		<key>Word</key>
		<string>tillbed</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbedd</string>
		<key>Word</key>
		<string>tillbedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbommad</string>
		<key>Word</key>
		<string>tillbommad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbringad</string>
		<key>Word</key>
		<string>tillbringad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbyggd</string>
		<key>Word</key>
		<string>tillbyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbyggnad</string>
		<key>Word</key>
		<string>tillbyggnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilldelad</string>
		<key>Word</key>
		<string>tilldelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilldomd</string>
		<key>Word</key>
		<string>tilldömd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillerkand</string>
		<key>Word</key>
		<string>tillerkänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfogad</string>
		<key>Word</key>
		<string>tillfogad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfredsstalld</string>
		<key>Word</key>
		<string>tillfredsställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfragad</string>
		<key>Word</key>
		<string>tillfrågad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillford</string>
		<key>Word</key>
		<string>tillförd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillforordnad</string>
		<key>Word</key>
		<string>tillförordnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgjord</string>
		<key>Word</key>
		<string>tillgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgodogjord</string>
		<key>Word</key>
		<string>tillgodogjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgodoraknad</string>
		<key>Word</key>
		<string>tillgodoräknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgodosedd</string>
		<key>Word</key>
		<string>tillgodosedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgangliggjord</string>
		<key>Word</key>
		<string>tillgängliggjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillintetgjord</string>
		<key>Word</key>
		<string>tillintetgjord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillkallad</string>
		<key>Word</key>
		<string>tillkallad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillkranglad</string>
		<key>Word</key>
		<string>tillkrånglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillkampad</string>
		<key>Word</key>
		<string>tillkämpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillplattad</string>
		<key>Word</key>
		<string>tillplattad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillred</string>
		<key>Word</key>
		<string>tillred</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillredd</string>
		<key>Word</key>
		<string>tillredd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillryggalagd</string>
		<key>Word</key>
		<string>tillryggalagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillraknad</string>
		<key>Word</key>
		<string>tillräknad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillrattavisad</string>
		<key>Word</key>
		<string>tillrättavisad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillsagd</string>
		<key>Word</key>
		<string>tillsagd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillsedd</string>
		<key>Word</key>
		<string>tillsedd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillspetsad</string>
		<key>Word</key>
		<string>tillspetsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillstod</string>
		<key>Word</key>
		<string>tillstod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillstad</string>
		<key>Word</key>
		<string>tillstäd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillstand</string>
		<key>Word</key>
		<string>tillstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltalad</string>
		<key>Word</key>
		<string>tilltalad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltrasslad</string>
		<key>Word</key>
		<string>tilltrasslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltrad</string>
		<key>Word</key>
		<string>tillträd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltradd</string>
		<key>Word</key>
		<string>tillträdd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltvingad</string>
		<key>Word</key>
		<string>tilltvingad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltygad</string>
		<key>Word</key>
		<string>tilltygad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillverkad</string>
		<key>Word</key>
		<string>tillverkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillverkningskostnad</string>
		<key>Word</key>
		<string>tillverkningskostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillyxad</string>
		<key>Word</key>
		<string>tillyxad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillagnad</string>
		<key>Word</key>
		<string>tillägnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillampad</string>
		<key>Word</key>
		<string>tillämpad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillokad</string>
		<key>Word</key>
		<string>tillökad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillonskad</string>
		<key>Word</key>
		<string>tillönskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timanstalld</string>
		<key>Word</key>
		<string>timanställd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timavlonad</string>
		<key>Word</key>
		<string>timavlönad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timid</string>
		<key>Word</key>
		<string>timid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timkostnad</string>
		<key>Word</key>
		<string>timkostnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tinad</string>
		<key>Word</key>
		<string>tinad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tingsryd</string>
		<key>Word</key>
		<string>Tingsryd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tioarsperiod</string>
		<key>Word</key>
		<string>tioårsperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tippad</string>
		<key>Word</key>
		<string>tippad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tipsad</string>
		<key>Word</key>
		<string>tipsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>titulerad</string>
		<key>Word</key>
		<string>titulerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiundaland</string>
		<key>Word</key>
		<string>Tiundaland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tje-ljud</string>
		<key>Word</key>
		<string>tje-ljud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjusad</string>
		<key>Word</key>
		<string>tjusad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjuvnad</string>
		<key>Word</key>
		<string>tjuvnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjanad</string>
		<key>Word</key>
		<string>tjänad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjanstetid</string>
		<key>Word</key>
		<string>tjänstetid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toddybord</string>
		<key>Word</key>
		<string>toddybord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tofsprydd</string>
		<key>Word</key>
		<string>tofsprydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolererad</string>
		<key>Word</key>
		<string>tolererad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolkad</string>
		<key>Word</key>
		<string>tolkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tonad</string>
		<key>Word</key>
		<string>tonad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tord</string>
		<key>Word</key>
		<string>Tord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torhild</string>
		<key>Word</key>
		<string>Torhild</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torkad</string>
		<key>Word</key>
		<string>torkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torped</string>
		<key>Word</key>
		<string>torped</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torrtid</string>
		<key>Word</key>
		<string>torrtid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torvald</string>
		<key>Word</key>
		<string>Torvald</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>totalforbjud</string>
		<key>Word</key>
		<string>totalförbjud</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>totalforbjod</string>
		<key>Word</key>
		<string>totalförbjöd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>totalforstord</string>
		<key>Word</key>
		<string>totalförstörd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trafikerad</string>
		<key>Word</key>
		<string>trafikerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traktad</string>
		<key>Word</key>
		<string>traktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trakterad</string>
		<key>Word</key>
		<string>trakterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trampad</string>
		<key>Word</key>
		<string>trampad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transformationsperiod</string>
		<key>Word</key>
		<string>transformationsperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transformerad</string>
		<key>Word</key>
		<string>transformerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transkriberad</string>
		<key>Word</key>
		<string>transkriberad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transmitterad</string>
		<key>Word</key>
		<string>transmitterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transponerad</string>
		<key>Word</key>
		<string>transponerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transportavstand</string>
		<key>Word</key>
		<string>transportavstånd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transporterad</string>
		<key>Word</key>
		<string>transporterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traryd</string>
		<key>Word</key>
		<string>Traryd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trasad</string>
		<key>Word</key>
		<string>trasad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traskad</string>
		<key>Word</key>
		<string>traskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trasslad</string>
		<key>Word</key>
		<string>trasslad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>travesterad</string>
		<key>Word</key>
		<string>travesterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trehovdad</string>
		<key>Word</key>
		<string>trehövdad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trend</string>
		<key>Word</key>
		<string>trend</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trevnad</string>
		<key>Word</key>
		<string>trevnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trevnadsvard</string>
		<key>Word</key>
		<string>trevnadsvård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>triggad</string>
		<key>Word</key>
		<string>triggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>triljard</string>
		<key>Word</key>
		<string>triljard</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trimmad</string>
		<key>Word</key>
		<string>trimmad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trind</string>
		<key>Word</key>
		<string>trind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trinidad</string>
		<key>Word</key>
		<string>Trinidad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>triumferad</string>
		<key>Word</key>
		<string>triumferad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trodd</string>
		<key>Word</key>
		<string>trodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trohjartad</string>
		<key>Word</key>
		<string>trohjärtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trollad</string>
		<key>Word</key>
		<string>trollad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trollband</string>
		<key>Word</key>
		<string>trollband</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trollbind</string>
		<key>Word</key>
		<string>trollbind</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolovad</string>
		<key>Word</key>
		<string>trolovad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trond</string>
		<key>Word</key>
		<string>Trond</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trossamfund</string>
		<key>Word</key>
		<string>trossamfund</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trotsad</string>
		<key>Word</key>
		<string>trotsad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trugad</string>
		<key>Word</key>
		<string>trugad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trumfad</string>
		<key>Word</key>
		<string>trumfad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trunkerad</string>
		<key>Word</key>
		<string>trunkerad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tryggad</string>
		<key>Word</key>
		<string>tryggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trabebyggd</string>
		<key>Word</key>
		<string>träbebyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trabord</string>
		<key>Word</key>
		<string>träbord</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trad</string>
		<key>Word</key>
		<string>träd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradd</string>
		<key>Word</key>
		<string>trädd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradgard</string>
		<key>Word</key>
		<string>trädgård</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradgardsland</string>
		<key>Word</key>
		<string>trädgårdsland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradomkransad</string>
		<key>Word</key>
		<string>trädomkransad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traffad</string>
		<key>Word</key>
		<string>träffad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tranad</string>
		<key>Word</key>
		<string>tränad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trangd</string>
		<key>Word</key>
		<string>trängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traningsperiod</string>
		<key>Word</key>
		<string>träningsperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traslojd</string>
		<key>Word</key>
		<string>träslöjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trad</string>
		<key>Word</key>
		<string>tråd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trakad</string>
		<key>Word</key>
		<string>tråkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tranad</string>
		<key>Word</key>
		<string>trånad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trangbodd</string>
		<key>Word</key>
		<string>trångbodd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>troskad</string>
		<key>Word</key>
		<string>tröskad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trostad</string>
		<key>Word</key>
		<string>tröstad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trottad</string>
		<key>Word</key>
		<string>tröttad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tudelad</string>
		<key>Word</key>
		<string>tudelad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tuggad</string>
		<key>Word</key>
		<string>tuggad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tuktad</string>
		<key>Word</key>
		<string>tuktad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tullstrid</string>
		<key>Word</key>
		<string>tullstrid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tumlad</string>
		<key>Word</key>
		<string>tumlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tummad</string>
		<key>Word</key>
		<string>tummad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tumsbredd</string>
		<key>Word</key>
		<string>tumsbredd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tunnbrod</string>
		<key>Word</key>
		<string>tunnbröd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tunnlad</string>
		<key>Word</key>
		<string>tunnlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tunnland</string>
		<key>Word</key>
		<string>tunnland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turid</string>
		<key>Word</key>
		<string>Turid</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turistland</string>
		<key>Word</key>
		<string>turistland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tutad</string>
		<key>Word</key>
		<string>tutad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvagad</string>
		<key>Word</key>
		<string>tvagad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvingad</string>
		<key>Word</key>
		<string>tvingad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvinnad</string>
		<key>Word</key>
		<string>tvinnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvistad</string>
		<key>Word</key>
		<string>tvistad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvivlad</string>
		<key>Word</key>
		<string>tvivlad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvarhand</string>
		<key>Word</key>
		<string>tvärhand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvarrand</string>
		<key>Word</key>
		<string>tvärrand</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvattad</string>
		<key>Word</key>
		<string>tvättad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvadd</string>
		<key>Word</key>
		<string>tvådd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvahornad</string>
		<key>Word</key>
		<string>tvåhornad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvakonad</string>
		<key>Word</key>
		<string>tvåkönad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvangsmatad</string>
		<key>Word</key>
		<string>tvångsmatad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvaarsperiod</string>
		<key>Word</key>
		<string>tvåårsperiod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyd</string>
		<key>Word</key>
		<string>tyd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tydd</string>
		<key>Word</key>
		<string>tydd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyglad</string>
		<key>Word</key>
		<string>tyglad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tygmangd</string>
		<key>Word</key>
		<string>tygmängd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyngd</string>
		<key>Word</key>
		<string>tyngd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typifierad</string>
		<key>Word</key>
		<string>typifierad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyskland</string>
		<key>Word</key>
		<string>Tyskland</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tystad</string>
		<key>Word</key>
		<string>tystad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tystnad</string>
		<key>Word</key>
		<string>tystnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taljd</string>
		<key>Word</key>
		<string>täljd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tamjd</string>
		<key>Word</key>
		<string>tämjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tand</string>
		<key>Word</key>
		<string>tänd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tanjd</string>
		<key>Word</key>
		<string>tänjd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankvard</string>
		<key>Word</key>
		<string>tänkvärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tard</string>
		<key>Word</key>
		<string>tärd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tarnad</string>
		<key>Word</key>
		<string>tärnad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tatad</string>
		<key>Word</key>
		<string>tätad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tattbebyggd</string>
		<key>Word</key>
		<string>tättbebyggd</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tattbefolkad</string>
		<key>Word</key>
		<string>tättbefolkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talamod</string>
		<key>Word</key>
		<string>tålamod</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tald</string>
		<key>Word</key>
		<string>tåld</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tartad</string>
		<key>Word</key>
		<string>tårtad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tomd</string>
		<key>Word</key>
		<string>tömd</string>
	</dict>
</array>
</plist>
