<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tackling</string>
		<key>Word</key>
		<string>tackling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tacknämlig</string>
		<key>Word</key>
		<string>tacknämlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tafflig</string>
		<key>Word</key>
		<string>tafflig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tag</string>
		<key>Word</key>
		<string>tag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tagg</string>
		<key>Word</key>
		<string>tagg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taggig</string>
		<key>Word</key>
		<string>taggig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tagning</string>
		<key>Word</key>
		<string>tagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>takutsprång</string>
		<key>Word</key>
		<string>takutsprång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talang</string>
		<key>Word</key>
		<string>talang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talong</string>
		<key>Word</key>
		<string>talong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talrubbning</string>
		<key>Word</key>
		<string>talrubbning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tangentnedslag</string>
		<key>Word</key>
		<string>tangentnedslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankegång</string>
		<key>Word</key>
		<string>tankegång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tappning</string>
		<key>Word</key>
		<string>tappning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taskig</string>
		<key>Word</key>
		<string>taskig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tatuering</string>
		<key>Word</key>
		<string>tatuering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckenuppsättning</string>
		<key>Word</key>
		<string>teckenuppsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckning</string>
		<key>Word</key>
		<string>teckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teg</string>
		<key>Word</key>
		<string>teg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknikutveckling</string>
		<key>Word</key>
		<string>teknikutveckling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknolog</string>
		<key>Word</key>
		<string>teknolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telebolag</string>
		<key>Word</key>
		<string>telebolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonbeställning</string>
		<key>Word</key>
		<string>telefonbeställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonbolag</string>
		<key>Word</key>
		<string>telefonbolag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonförsäljning</string>
		<key>Word</key>
		<string>telefonförsäljning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonkatalog</string>
		<key>Word</key>
		<string>telefonkatalog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonledning</string>
		<key>Word</key>
		<string>telefonledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telelag</string>
		<key>Word</key>
		<string>telelag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telning</string>
		<key>Word</key>
		<string>telning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>temomätning</string>
		<key>Word</key>
		<string>Temomätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tentamensplugg</string>
		<key>Word</key>
		<string>tentamensplugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teolog</string>
		<key>Word</key>
		<string>teolog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terräng</string>
		<key>Word</key>
		<string>terräng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testning</string>
		<key>Word</key>
		<string>testning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testverktyg</string>
		<key>Word</key>
		<string>testverktyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textbehandling</string>
		<key>Word</key>
		<string>textbehandling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textning</string>
		<key>Word</key>
		<string>textning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textsträng</string>
		<key>Word</key>
		<string>textsträng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thong</string>
		<key>Word</key>
		<string>Thong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>thung</string>
		<key>Word</key>
		<string>Thung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tideräkning</string>
		<key>Word</key>
		<string>tideräkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidig</string>
		<key>Word</key>
		<string>tidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidning</string>
		<key>Word</key>
		<string>tidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidningsförlag</string>
		<key>Word</key>
		<string>tidningsförlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsdelning</string>
		<key>Word</key>
		<string>tidsdelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsenlig</string>
		<key>Word</key>
		<string>tidsenlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsmässig</string>
		<key>Word</key>
		<string>tidsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsordning</string>
		<key>Word</key>
		<string>tidsordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsredovisning</string>
		<key>Word</key>
		<string>tidsredovisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidtagning</string>
		<key>Word</key>
		<string>tidtagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tig</string>
		<key>Word</key>
		<string>tig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tigersåg</string>
		<key>Word</key>
		<string>tigersåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tigg</string>
		<key>Word</key>
		<string>tigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbakagång</string>
		<key>Word</key>
		<string>tillbakagång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillbörlig</string>
		<key>Word</key>
		<string>tillbörlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilldelning</string>
		<key>Word</key>
		<string>tilldelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilldrag</string>
		<key>Word</key>
		<string>tilldrag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilldrog</string>
		<key>Word</key>
		<string>tilldrog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfällig</string>
		<key>Word</key>
		<string>tillfällig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillförlitlig</string>
		<key>Word</key>
		<string>tillförlitlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgodosåg</string>
		<key>Word</key>
		<string>tillgodosåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgänglig</string>
		<key>Word</key>
		<string>tillgänglig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgång</string>
		<key>Word</key>
		<string>tillgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillhörig</string>
		<key>Word</key>
		<string>tillhörig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillordning</string>
		<key>Word</key>
		<string>tillordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillryggalägg</string>
		<key>Word</key>
		<string>tillryggalägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillräcklig</string>
		<key>Word</key>
		<string>tillräcklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillräknelig</string>
		<key>Word</key>
		<string>tillräknelig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillrättavisning</string>
		<key>Word</key>
		<string>tillrättavisning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillslag</string>
		<key>Word</key>
		<string>tillslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillspillogivning</string>
		<key>Word</key>
		<string>tillspillogivning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillställning</string>
		<key>Word</key>
		<string>tillställning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillsäg</string>
		<key>Word</key>
		<string>tillsäg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillsättning</string>
		<key>Word</key>
		<string>tillsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillsåg</string>
		<key>Word</key>
		<string>tillsåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltag</string>
		<key>Word</key>
		<string>tilltag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltog</string>
		<key>Word</key>
		<string>tilltog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltugg</string>
		<key>Word</key>
		<string>tilltugg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillvaratag</string>
		<key>Word</key>
		<string>tillvaratag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillvaratog</string>
		<key>Word</key>
		<string>tillvaratog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillverkning</string>
		<key>Word</key>
		<string>tillverkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillvägagång</string>
		<key>Word</key>
		<string>tillvägagång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillägg</string>
		<key>Word</key>
		<string>tillägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillämplig</string>
		<key>Word</key>
		<string>tillämplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillämpning</string>
		<key>Word</key>
		<string>tillämpning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillökning</string>
		<key>Word</key>
		<string>tillökning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timesharing</string>
		<key>Word</key>
		<string>timesharing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ting</string>
		<key>Word</key>
		<string>ting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tingslag</string>
		<key>Word</key>
		<string>tingslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tinning</string>
		<key>Word</key>
		<string>tinning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiofaldig</string>
		<key>Word</key>
		<string>tiofaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tioårig</string>
		<key>Word</key>
		<string>tioårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tioåring</string>
		<key>Word</key>
		<string>tioåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tirfing</string>
		<key>Word</key>
		<string>Tirfing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tisdag</string>
		<key>Word</key>
		<string>tisdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjabbig</string>
		<key>Word</key>
		<string>tjabbig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjafsig</string>
		<key>Word</key>
		<string>tjafsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjatig</string>
		<key>Word</key>
		<string>tjatig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjattrig</string>
		<key>Word</key>
		<string>tjattrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjog</string>
		<key>Word</key>
		<string>tjog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugondag</string>
		<key>Word</key>
		<string>tjugondag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugondedag</string>
		<key>Word</key>
		<string>tjugondedag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugoårig</string>
		<key>Word</key>
		<string>tjugoårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugoåring</string>
		<key>Word</key>
		<string>tjugoåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjurig</string>
		<key>Word</key>
		<string>tjurig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjusig</string>
		<key>Word</key>
		<string>tjusig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjusning</string>
		<key>Word</key>
		<string>tjusning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjänlig</string>
		<key>Word</key>
		<string>tjänlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjänstemannamässig</string>
		<key>Word</key>
		<string>tjänstemannamässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjänstgöring</string>
		<key>Word</key>
		<string>tjänstgöring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjärbränning</string>
		<key>Word</key>
		<string>tjärbränning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tog</string>
		<key>Word</key>
		<string>tog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tokig</string>
		<key>Word</key>
		<string>tokig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tokrolig</string>
		<key>Word</key>
		<string>tokrolig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toksänkning</string>
		<key>Word</key>
		<string>toksänkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolkning</string>
		<key>Word</key>
		<string>tolkning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolvslag</string>
		<key>Word</key>
		<string>tolvslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolvårig</string>
		<key>Word</key>
		<string>tolvårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tolvåring</string>
		<key>Word</key>
		<string>tolvåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tongång</string>
		<key>Word</key>
		<string>tongång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tonårig</string>
		<key>Word</key>
		<string>tonårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tonåring</string>
		<key>Word</key>
		<string>tonåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toppig</string>
		<key>Word</key>
		<string>toppig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torborg</string>
		<key>Word</key>
		<string>Torborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torftig</string>
		<key>Word</key>
		<string>torftig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torg</string>
		<key>Word</key>
		<string>torg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tornering</string>
		<key>Word</key>
		<string>tornering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torsdag</string>
		<key>Word</key>
		<string>torsdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torvbrytning</string>
		<key>Word</key>
		<string>torvbrytning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>touring</string>
		<key>Word</key>
		<string>touring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tovig</string>
		<key>Word</key>
		<string>tovig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traditionsenlig</string>
		<key>Word</key>
		<string>traditionsenlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trafikstockning</string>
		<key>Word</key>
		<string>trafikstockning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traktamentsersättning</string>
		<key>Word</key>
		<string>traktamentsersättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traktering</string>
		<key>Word</key>
		<string>traktering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trang</string>
		<key>Word</key>
		<string>Trang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transaktionshantering</string>
		<key>Word</key>
		<string>transaktionshantering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transferering</string>
		<key>Word</key>
		<string>transferering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transformering</string>
		<key>Word</key>
		<string>transformering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transkribering</string>
		<key>Word</key>
		<string>transkribering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transponering</string>
		<key>Word</key>
		<string>transponering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trappnedgång</string>
		<key>Word</key>
		<string>trappnedgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trappsteg</string>
		<key>Word</key>
		<string>trappsteg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trappuppgång</string>
		<key>Word</key>
		<string>trappuppgång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trasig</string>
		<key>Word</key>
		<string>trasig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trasslig</string>
		<key>Word</key>
		<string>trasslig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>travestering</string>
		<key>Word</key>
		<string>travestering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>travtävling</string>
		<key>Word</key>
		<string>travtävling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>treenig</string>
		<key>Word</key>
		<string>treenig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trefaldig</string>
		<key>Word</key>
		<string>trefaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trehjuling</string>
		<key>Word</key>
		<string>trehjuling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>treklang</string>
		<key>Word</key>
		<string>treklang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trelleborg</string>
		<key>Word</key>
		<string>Trelleborg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trendig</string>
		<key>Word</key>
		<string>trendig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tresiffrig</string>
		<key>Word</key>
		<string>tresiffrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettioårig</string>
		<key>Word</key>
		<string>trettioårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettioåring</string>
		<key>Word</key>
		<string>trettioåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettondag</string>
		<key>Word</key>
		<string>trettondag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettondedag</string>
		<key>Word</key>
		<string>trettondedag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trevlig</string>
		<key>Word</key>
		<string>trevlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>treårig</string>
		<key>Word</key>
		<string>treårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>treåring</string>
		<key>Word</key>
		<string>treåring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trilling</string>
		<key>Word</key>
		<string>trilling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trimning</string>
		<key>Word</key>
		<string>trimning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trivialisering</string>
		<key>Word</key>
		<string>trivialisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trixig</string>
		<key>Word</key>
		<string>trixig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolig</string>
		<key>Word</key>
		<string>trolig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trollkunnig</string>
		<key>Word</key>
		<string>trollkunnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trollsång</string>
		<key>Word</key>
		<string>trollsång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolovning</string>
		<key>Word</key>
		<string>trolovning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trotsig</string>
		<key>Word</key>
		<string>trotsig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trovärdig</string>
		<key>Word</key>
		<string>trovärdig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trudvang</string>
		<key>Word</key>
		<string>Trudvang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trumslag</string>
		<key>Word</key>
		<string>trumslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trunkledning</string>
		<key>Word</key>
		<string>trunkledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tryckfrihetsförordning</string>
		<key>Word</key>
		<string>tryckfrihetsförordning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tryckning</string>
		<key>Word</key>
		<string>tryckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trygg</string>
		<key>Word</key>
		<string>trygg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träaktig</string>
		<key>Word</key>
		<string>träaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trädgårdsnäring</string>
		<key>Word</key>
		<string>trädgårdsnäring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trädgårdsodling</string>
		<key>Word</key>
		<string>trädgårdsodling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trädgårdspaviljong</string>
		<key>Word</key>
		<string>trädgårdspaviljong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träffning</string>
		<key>Word</key>
		<string>träffning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träig</string>
		<key>Word</key>
		<string>träig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träng</string>
		<key>Word</key>
		<string>träng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träning</string>
		<key>Word</key>
		<string>träning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träsäng</string>
		<key>Word</key>
		<string>träsäng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trådning</string>
		<key>Word</key>
		<string>trådning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tråg</string>
		<key>Word</key>
		<string>tråg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tråkig</string>
		<key>Word</key>
		<string>tråkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trång</string>
		<key>Word</key>
		<string>trång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trög</string>
		<key>Word</key>
		<string>trög</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tudelning</string>
		<key>Word</key>
		<string>tudelning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tuktig</string>
		<key>Word</key>
		<string>tuktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tung</string>
		<key>Word</key>
		<string>tung</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tureberg</string>
		<key>Word</key>
		<string>Tureberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turing</string>
		<key>Word</key>
		<string>Turing</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turistförening</string>
		<key>Word</key>
		<string>turistförening</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turistföretag</string>
		<key>Word</key>
		<string>turistföretag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tusenfaldig</string>
		<key>Word</key>
		<string>tusenfaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tusenfoting</string>
		<key>Word</key>
		<string>tusenfoting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tusenårig</string>
		<key>Word</key>
		<string>tusenårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tutning</string>
		<key>Word</key>
		<string>tutning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-sändning</string>
		<key>Word</key>
		<string>TV-sändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-sändning</string>
		<key>Word</key>
		<string>tv-sändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvagning</string>
		<key>Word</key>
		<string>tvagning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvang</string>
		<key>Word</key>
		<string>tvang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvefaldig</string>
		<key>Word</key>
		<string>tvefaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvetydig</string>
		<key>Word</key>
		<string>tvetydig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvilling</string>
		<key>Word</key>
		<string>tvilling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tving</string>
		<key>Word</key>
		<string>tving</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvivelaktig</string>
		<key>Word</key>
		<string>tvivelaktig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvärrandig</string>
		<key>Word</key>
		<string>tvärrandig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvärstång</string>
		<key>Word</key>
		<string>tvärstång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvärvetenskaplig</string>
		<key>Word</key>
		<string>tvärvetenskaplig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvärvigg</string>
		<key>Word</key>
		<string>Tvärvigg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvättning</string>
		<key>Word</key>
		<string>tvättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåfaldig</string>
		<key>Word</key>
		<string>tvåfaldig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåhjulig</string>
		<key>Word</key>
		<string>tvåhjulig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåhjuling</string>
		<key>Word</key>
		<string>tvåhjuling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåhjärtbladig</string>
		<key>Word</key>
		<string>tvåhjärtbladig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåkammarriksdag</string>
		<key>Word</key>
		<string>tvåkammarriksdag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvång</string>
		<key>Word</key>
		<string>tvång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvångsdemokratisering</string>
		<key>Word</key>
		<string>tvångsdemokratisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvångsinslag</string>
		<key>Word</key>
		<string>tvångsinslag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvångsmässig</string>
		<key>Word</key>
		<string>tvångsmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåsidig</string>
		<key>Word</key>
		<string>tvåsidig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåsiffrig</string>
		<key>Word</key>
		<string>tvåsiffrig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåspråkig</string>
		<key>Word</key>
		<string>tvåspråkig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåstavig</string>
		<key>Word</key>
		<string>tvåstavig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvåårig</string>
		<key>Word</key>
		<string>tvåårig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvååring</string>
		<key>Word</key>
		<string>tvååring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tydlig</string>
		<key>Word</key>
		<string>tydlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tydning</string>
		<key>Word</key>
		<string>tydning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyg</string>
		<key>Word</key>
		<string>tyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tylöskog</string>
		<key>Word</key>
		<string>Tylöskog</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyng</string>
		<key>Word</key>
		<string>tyng</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typologisering</string>
		<key>Word</key>
		<string>typologisering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typsättning</string>
		<key>Word</key>
		<string>typsättning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>täckning</string>
		<key>Word</key>
		<string>täckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tändning</string>
		<key>Word</key>
		<string>tändning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tärning</string>
		<key>Word</key>
		<string>tärning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tätning</string>
		<key>Word</key>
		<string>tätning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tätting</string>
		<key>Word</key>
		<string>tätting</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tävling</string>
		<key>Word</key>
		<string>tävling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tävlingsledning</string>
		<key>Word</key>
		<string>tävlingsledning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tåg</string>
		<key>Word</key>
		<string>tåg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tålig</string>
		<key>Word</key>
		<string>tålig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tålmodig</string>
		<key>Word</key>
		<string>tålmodig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tång</string>
		<key>Word</key>
		<string>tång</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tårtning</string>
		<key>Word</key>
		<string>tårtning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tömning</string>
		<key>Word</key>
		<string>tömning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>töntig</string>
		<key>Word</key>
		<string>töntig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>törnig</string>
		<key>Word</key>
		<string>törnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>törstig</string>
		<key>Word</key>
		<string>törstig</string>
	</dict>
</array>
</plist>
