<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tabell</string>
		<key>Word</key>
		<string>tabell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tabernakel</string>
		<key>Word</key>
		<string>tabernakel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tackel</string>
		<key>Word</key>
		<string>tackel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tadel</string>
		<key>Word</key>
		<string>tadel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taffel</string>
		<key>Word</key>
		<string>taffel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taktfull</string>
		<key>Word</key>
		<string>taktfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tal</string>
		<key>Word</key>
		<string>tal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talangfull</string>
		<key>Word</key>
		<string>talangfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talarstol</string>
		<key>Word</key>
		<string>talarstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tall</string>
		<key>Word</key>
		<string>tall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tamil</string>
		<key>Word</key>
		<string>tamil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tandlakarstol</string>
		<key>Word</key>
		<string>tandläkarstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tangentiell</string>
		<key>Word</key>
		<string>tangentiell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankbil</string>
		<key>Word</key>
		<string>tankbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tankfull</string>
		<key>Word</key>
		<string>tankfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taxameterbil</string>
		<key>Word</key>
		<string>taxameterbil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckenfel</string>
		<key>Word</key>
		<string>teckenfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teckentabell</string>
		<key>Word</key>
		<string>teckentabell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tegel</string>
		<key>Word</key>
		<string>tegel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknikneutral</string>
		<key>Word</key>
		<string>teknikneutral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tel</string>
		<key>Word</key>
		<string>tel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonsamtal</string>
		<key>Word</key>
		<string>telefonsamtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telefonvaxel</string>
		<key>Word</key>
		<string>telefonväxel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tell</string>
		<key>Word</key>
		<string>Tell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tempel</string>
		<key>Word</key>
		<string>tempel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tempelsal</string>
		<key>Word</key>
		<string>tempelsal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tennisboll</string>
		<key>Word</key>
		<string>tennisboll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teofil</string>
		<key>Word</key>
		<string>Teofil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terminal</string>
		<key>Word</key>
		<string>terminal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terminalvaxel</string>
		<key>Word</key>
		<string>terminalväxel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>territoriell</string>
		<key>Word</key>
		<string>territoriell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testduell</string>
		<key>Word</key>
		<string>testduell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testikel</string>
		<key>Word</key>
		<string>testikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>testpanel</string>
		<key>Word</key>
		<string>testpanel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textfil</string>
		<key>Word</key>
		<string>textfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textil</string>
		<key>Word</key>
		<string>textil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textilmaterial</string>
		<key>Word</key>
		<string>textilmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>textinnehall</string>
		<key>Word</key>
		<string>textinnehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>theorell</string>
		<key>Word</key>
		<string>Theorell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidningsartikel</string>
		<key>Word</key>
		<string>tidningsartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidsmarginal</string>
		<key>Word</key>
		<string>tidsmarginal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidssignal</string>
		<key>Word</key>
		<string>tidssignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidtabell</string>
		<key>Word</key>
		<string>tidtabell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>till</string>
		<key>Word</key>
		<string>till</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfall</string>
		<key>Word</key>
		<string>tillfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfredsstall</string>
		<key>Word</key>
		<string>tillfredsställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillfoll</string>
		<key>Word</key>
		<string>tillföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillforsel</string>
		<key>Word</key>
		<string>tillförsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillhandahall</string>
		<key>Word</key>
		<string>tillhandahåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillhandaholl</string>
		<key>Word</key>
		<string>tillhandahöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillhall</string>
		<key>Word</key>
		<string>tillhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltal</string>
		<key>Word</key>
		<string>tilltal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillval</string>
		<key>Word</key>
		<string>tillval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timtal</string>
		<key>Word</key>
		<string>timtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiondel</string>
		<key>Word</key>
		<string>tiondel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiotal</string>
		<key>Word</key>
		<string>tiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tiotusental</string>
		<key>Word</key>
		<string>tiotusental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tirol</string>
		<key>Word</key>
		<string>Tirol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tistel</string>
		<key>Word</key>
		<string>tistel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>titel</string>
		<key>Word</key>
		<string>titel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>titelroll</string>
		<key>Word</key>
		<string>titelroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>titthal</string>
		<key>Word</key>
		<string>titthål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjabbel</string>
		<key>Word</key>
		<string>tjabbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjall</string>
		<key>Word</key>
		<string>tjall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjernobyl</string>
		<key>Word</key>
		<string>Tjernobyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjogtal</string>
		<key>Word</key>
		<string>tjogtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugotal</string>
		<key>Word</key>
		<string>tjugotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjall</string>
		<key>Word</key>
		<string>tjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjanstefel</string>
		<key>Word</key>
		<string>tjänstefel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjanstemannaroll</string>
		<key>Word</key>
		<string>tjänstemannaroll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toalettavfall</string>
		<key>Word</key>
		<string>toalettavfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toalettstol</string>
		<key>Word</key>
		<string>toalettstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toll</string>
		<key>Word</key>
		<string>Toll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tomfjall</string>
		<key>Word</key>
		<string>tomfjäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tonfall</string>
		<key>Word</key>
		<string>tonfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torgil</string>
		<key>Word</key>
		<string>Torgil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toril</string>
		<key>Word</key>
		<string>Toril</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torkel</string>
		<key>Word</key>
		<string>Torkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tornerspel</string>
		<key>Word</key>
		<string>tornerspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>total</string>
		<key>Word</key>
		<string>total</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traditionell</string>
		<key>Word</key>
		<string>traditionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradjazzfestival</string>
		<key>Word</key>
		<string>tradjazzfestival</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trafikmal</string>
		<key>Word</key>
		<string>trafikmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trall</string>
		<key>Word</key>
		<string>trall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transaktionskrangel</string>
		<key>Word</key>
		<string>transaktionskrångel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trassel</string>
		<key>Word</key>
		<string>trassel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tredimensionell</string>
		<key>Word</key>
		<string>tredimensionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tredjedel</string>
		<key>Word</key>
		<string>tredjedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tremil</string>
		<key>Word</key>
		<string>tremil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettiotal</string>
		<key>Word</key>
		<string>trettiotal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>triangel</string>
		<key>Word</key>
		<string>triangel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tribunal</string>
		<key>Word</key>
		<string>tribunal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trippel</string>
		<key>Word</key>
		<string>trippel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trivial</string>
		<key>Word</key>
		<string>trivial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trivsel</string>
		<key>Word</key>
		<string>trivsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>troll</string>
		<key>Word</key>
		<string>troll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trollkarl</string>
		<key>Word</key>
		<string>trollkarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trotjanareideal</string>
		<key>Word</key>
		<string>trotjänareideal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trubbel</string>
		<key>Word</key>
		<string>trubbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trumvirvel</string>
		<key>Word</key>
		<string>trumvirvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tryckfel</string>
		<key>Word</key>
		<string>tryckfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trysil</string>
		<key>Word</key>
		<string>Trysil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trakarl</string>
		<key>Word</key>
		<string>träkarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tral</string>
		<key>Word</key>
		<string>träl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trangsel</string>
		<key>Word</key>
		<string>trängsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trastol</string>
		<key>Word</key>
		<string>trästol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tradsmal</string>
		<key>Word</key>
		<string>trådsmal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tral</string>
		<key>Word</key>
		<string>trål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trangmal</string>
		<key>Word</key>
		<string>trångmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>troskel</string>
		<key>Word</key>
		<string>tröskel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tull</string>
		<key>Word</key>
		<string>tull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tumregel</string>
		<key>Word</key>
		<string>tumregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tungmetall</string>
		<key>Word</key>
		<string>tungmetall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tungomal</string>
		<key>Word</key>
		<string>tungomål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tungomalstal</string>
		<key>Word</key>
		<string>tungomålstal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tunnel</string>
		<key>Word</key>
		<string>tunnel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turbomobil</string>
		<key>Word</key>
		<string>turbomobil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turisthotell</string>
		<key>Word</key>
		<string>turisthotell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tusenkronorssedel</string>
		<key>Word</key>
		<string>tusenkronorssedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tusental</string>
		<key>Word</key>
		<string>tusental</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-kanal</string>
		<key>Word</key>
		<string>TV-kanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-kanal</string>
		<key>Word</key>
		<string>tv-kanal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-spel</string>
		<key>Word</key>
		<string>TV-spel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-spel</string>
		<key>Word</key>
		<string>tv-spel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvistemal</string>
		<key>Word</key>
		<string>tvistemål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvivel</string>
		<key>Word</key>
		<string>tvivel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvattmedel</string>
		<key>Word</key>
		<string>tvättmedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvadimensionell</string>
		<key>Word</key>
		<string>tvådimensionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tval</string>
		<key>Word</key>
		<string>tvål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tygel</string>
		<key>Word</key>
		<string>tygel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typexempel</string>
		<key>Word</key>
		<string>typexempel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typfall</string>
		<key>Word</key>
		<string>typfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tackmantel</string>
		<key>Word</key>
		<string>täckmantel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tagtidtabell</string>
		<key>Word</key>
		<string>tågtidtabell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tal</string>
		<key>Word</key>
		<string>tål</string>
	</dict>
</array>
</plist>
