<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tacksam</string>
		<key>Word</key>
		<string>tacksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>talsystem</string>
		<key>Word</key>
		<string>talsystem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tam</string>
		<key>Word</key>
		<string>tam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tamm</string>
		<key>Word</key>
		<string>Tamm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tandem</string>
		<key>Word</key>
		<string>tandem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tanum</string>
		<key>Word</key>
		<string>Tanum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tappstrom</string>
		<key>Word</key>
		<string>Tappström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tarm</string>
		<key>Word</key>
		<string>tarm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tarmsjukdom</string>
		<key>Word</key>
		<string>tarmsjukdom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>team</string>
		<key>Word</key>
		<string>team</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teknik-sm</string>
		<key>Word</key>
		<string>teknik-SM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telegram</string>
		<key>Word</key>
		<string>telegram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telekom</string>
		<key>Word</key>
		<string>telekom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teorem</string>
		<key>Word</key>
		<string>teorem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teracom</string>
		<key>Word</key>
		<string>Teracom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>term</string>
		<key>Word</key>
		<string>term</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terminologicentrum</string>
		<key>Word</key>
		<string>terminologicentrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>territorium</string>
		<key>Word</key>
		<string>territorium</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terrorism</string>
		<key>Word</key>
		<string>terrorism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tft-skarm</string>
		<key>Word</key>
		<string>TFT-skärm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tham</string>
		<key>Word</key>
		<string>Tham</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tidaholm</string>
		<key>Word</key>
		<string>Tidaholm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilldom</string>
		<key>Word</key>
		<string>tilldöm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillkom</string>
		<key>Word</key>
		<string>tillkom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tim</string>
		<key>Word</key>
		<string>Tim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugofem</string>
		<key>Word</key>
		<string>tjugofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tm</string>
		<key>Word</key>
		<string>TM</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tom</string>
		<key>Word</key>
		<string>Tom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tom</string>
		<key>Word</key>
		<string>tom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tomrum</string>
		<key>Word</key>
		<string>tomrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torkrum</string>
		<key>Word</key>
		<string>torkrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tornerhjelm</string>
		<key>Word</key>
		<string>Tornerhjelm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>transform</string>
		<key>Word</key>
		<string>transform</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettiofem</string>
		<key>Word</key>
		<string>trettiofem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trim</string>
		<key>Word</key>
		<string>trim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trivsam</string>
		<key>Word</key>
		<string>trivsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trolldom</string>
		<key>Word</key>
		<string>trolldom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trondheim</string>
		<key>Word</key>
		<string>Trondheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>truism</string>
		<key>Word</key>
		<string>truism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traldom</string>
		<key>Word</key>
		<string>träldom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>traram</string>
		<key>Word</key>
		<string>träram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trottsam</string>
		<key>Word</key>
		<string>tröttsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tum</string>
		<key>Word</key>
		<string>tum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turism</string>
		<key>Word</key>
		<string>turism</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tursam</string>
		<key>Word</key>
		<string>tursam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-program</string>
		<key>Word</key>
		<string>TV-program</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-program</string>
		<key>Word</key>
		<string>tv-program</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-reklam</string>
		<key>Word</key>
		<string>TV-reklam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tv-reklam</string>
		<key>Word</key>
		<string>tv-reklam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tveksam</string>
		<key>Word</key>
		<string>tveksam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvivelsam</string>
		<key>Word</key>
		<string>tvivelsam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvarsigenom</string>
		<key>Word</key>
		<string>tvärsigenom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvartom</string>
		<key>Word</key>
		<string>tvärtom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tvattrum</string>
		<key>Word</key>
		<string>tvättrum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>typsattningsprogram</string>
		<key>Word</key>
		<string>typsättningsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tom</string>
		<key>Word</key>
		<string>töm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tornblom</string>
		<key>Word</key>
		<string>Törnblom</string>
	</dict>
</array>
</plist>
