<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tallmo</string>
		<key>Word</key>
		<string>Tallmo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tallmo</string>
		<key>Word</key>
		<string>tallmo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tango</string>
		<key>Word</key>
		<string>tango</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tapto</string>
		<key>Word</key>
		<string>tapto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tco</string>
		<key>Word</key>
		<string>TCO</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>techno</string>
		<key>Word</key>
		<string>techno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tejo</string>
		<key>Word</key>
		<string>Tejo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>telo</string>
		<key>Word</key>
		<string>Telo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>temo</string>
		<key>Word</key>
		<string>Temo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tempo</string>
		<key>Word</key>
		<string>tempo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tho</string>
		<key>Word</key>
		<string>Tho</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tibro</string>
		<key>Word</key>
		<string>Tibro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tieto</string>
		<key>Word</key>
		<string>Tieto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillgodo</string>
		<key>Word</key>
		<string>tillgodo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillspillo</string>
		<key>Word</key>
		<string>tillspillo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilltro</string>
		<key>Word</key>
		<string>tilltro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tillvaro</string>
		<key>Word</key>
		<string>tillvaro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timbro</string>
		<key>Word</key>
		<string>Timbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tio</string>
		<key>Word</key>
		<string>tio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjernenko</string>
		<key>Word</key>
		<string>Tjernenko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjo</string>
		<key>Word</key>
		<string>tjo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjoho</string>
		<key>Word</key>
		<string>tjoho</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugo</string>
		<key>Word</key>
		<string>tjugo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tjugonio</string>
		<key>Word</key>
		<string>tjugonio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tobago</string>
		<key>Word</key>
		<string>Tobago</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>togo</string>
		<key>Word</key>
		<string>Togo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toivo</string>
		<key>Word</key>
		<string>Toivo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tokyo</string>
		<key>Word</key>
		<string>Tokyo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toledo</string>
		<key>Word</key>
		<string>Toledo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toronto</string>
		<key>Word</key>
		<string>Toronto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torvströ</string>
		<key>Word</key>
		<string>torvströ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trafikinfo</string>
		<key>Word</key>
		<string>trafikinfo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tranemo</string>
		<key>Word</key>
		<string>Tranemo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettio</string>
		<key>Word</key>
		<string>trettio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trettionio</string>
		<key>Word</key>
		<string>trettionio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>trio</string>
		<key>Word</key>
		<string>trio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tro</string>
		<key>Word</key>
		<string>tro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>träsko</string>
		<key>Word</key>
		<string>träsko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>turbo</string>
		<key>Word</key>
		<string>turbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyko</string>
		<key>Word</key>
		<string>Tyko</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tynningö</string>
		<key>Word</key>
		<string>Tynningö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tyresö</string>
		<key>Word</key>
		<string>Tyresö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tärendö</string>
		<key>Word</key>
		<string>Tärendö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tö</string>
		<key>Word</key>
		<string>tö</string>
	</dict>
</array>
</plist>
