<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teddy</string>
		<key>Word</key>
		<string>Teddy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>teddy</string>
		<key>Word</key>
		<string>teddy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>terry</string>
		<key>Word</key>
		<string>Terry</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tessy</string>
		<key>Word</key>
		<string>Tessy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tilly</string>
		<key>Word</key>
		<string>Tilly</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>timothy</string>
		<key>Word</key>
		<string>Timothy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toby</string>
		<key>Word</key>
		<string>Toby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toddy</string>
		<key>Word</key>
		<string>toddy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tommy</string>
		<key>Word</key>
		<string>Tommy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tony</string>
		<key>Word</key>
		<string>Tony</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>toppmeny</string>
		<key>Word</key>
		<string>toppmeny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torgny</string>
		<key>Word</key>
		<string>Torgny</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>torsby</string>
		<key>Word</key>
		<string>Torsby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tuy</string>
		<key>Word</key>
		<string>Tuy</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ty</string>
		<key>Word</key>
		<string>ty</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>taby</string>
		<key>Word</key>
		<string>Täby</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>tarnaby</string>
		<key>Word</key>
		<string>Tärnaby</string>
	</dict>
</array>
</plist>
