<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ulrik</string>
		<key>Word</key>
		<string>Ulrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>umgängesspråk</string>
		<key>Word</key>
		<string>umgängesspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undergick</string>
		<key>Word</key>
		<string>undergick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underjordisk</string>
		<key>Word</key>
		<string>underjordisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understreck</string>
		<key>Word</key>
		<string>understreck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>understryk</string>
		<key>Word</key>
		<string>understryk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underströk</string>
		<key>Word</key>
		<string>underströk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undersök</string>
		<key>Word</key>
		<string>undersök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undertryck</string>
		<key>Word</key>
		<string>undertryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underverk</string>
		<key>Word</key>
		<string>underverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undervisningsspråk</string>
		<key>Word</key>
		<string>undervisningsspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undfick</string>
		<key>Word</key>
		<string>undfick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undgick</string>
		<key>Word</key>
		<string>undgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undvek</string>
		<key>Word</key>
		<string>undvek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undvik</string>
		<key>Word</key>
		<string>undvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungersk</string>
		<key>Word</key>
		<string>ungersk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>unik</string>
		<key>Word</key>
		<string>unik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdyk</string>
		<key>Word</key>
		<string>uppdyk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdök</string>
		<key>Word</key>
		<string>uppdök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfinningsrik</string>
		<key>Word</key>
		<string>uppfinningsrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppgick</string>
		<key>Word</key>
		<string>uppgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprorisk</string>
		<key>Word</key>
		<string>upprorisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppslagsbok</string>
		<key>Word</key>
		<string>uppslagsbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppslagsverk</string>
		<key>Word</key>
		<string>uppslagsverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsvensk</string>
		<key>Word</key>
		<string>uppsvensk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsök</string>
		<key>Word</key>
		<string>uppsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptäck</string>
		<key>Word</key>
		<string>upptäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppväck</string>
		<key>Word</key>
		<string>uppväck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uregoistisk</string>
		<key>Word</key>
		<string>uregoistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uridiotisk</string>
		<key>Word</key>
		<string>uridiotisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urindividualistisk</string>
		<key>Word</key>
		<string>urindividualistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urspråk</string>
		<key>Word</key>
		<string>urspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urtypisk</string>
		<key>Word</key>
		<string>urtypisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urverk</string>
		<key>Word</key>
		<string>urverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utanverk</string>
		<key>Word</key>
		<string>utanverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utblick</string>
		<key>Word</key>
		<string>utblick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgick</string>
		<key>Word</key>
		<string>utgick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utkik</string>
		<key>Word</key>
		<string>utkik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utländsk</string>
		<key>Word</key>
		<string>utländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utmärk</string>
		<key>Word</key>
		<string>utmärk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utnyttjandestatistik</string>
		<key>Word</key>
		<string>utnyttjandestatistik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utomparlamentarisk</string>
		<key>Word</key>
		<string>utomparlamentarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrikespolitik</string>
		<key>Word</key>
		<string>utrikespolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrikespolitisk</string>
		<key>Word</key>
		<string>utrikespolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskick</string>
		<key>Word</key>
		<string>utskick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsläck</string>
		<key>Word</key>
		<string>utsläck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsträck</string>
		<key>Word</key>
		<string>utsträck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsök</string>
		<key>Word</key>
		<string>utsök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsökningsbalk</string>
		<key>Word</key>
		<string>utsökningsbalk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttryck</string>
		<key>Word</key>
		<string>uttryck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttänk</string>
		<key>Word</key>
		<string>uttänk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utvecklingsmetodik</string>
		<key>Word</key>
		<string>utvecklingsmetodik</string>
	</dict>
</array>
</plist>
