<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ull</string>
		<key>Word</key>
		<string>ull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ulriksdal</string>
		<key>Word</key>
		<string>Ulriksdal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>umgall</string>
		<key>Word</key>
		<string>umgäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uml</string>
		<key>Word</key>
		<string>UML</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanhall</string>
		<key>Word</key>
		<string>undanhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undanholl</string>
		<key>Word</key>
		<string>undanhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undantagsfall</string>
		<key>Word</key>
		<string>undantagsfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undantagsfel</string>
		<key>Word</key>
		<string>undantagsfel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underhall</string>
		<key>Word</key>
		<string>underhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>underholl</string>
		<key>Word</key>
		<string>underhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undernyckel</string>
		<key>Word</key>
		<string>undernyckel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undertill</string>
		<key>Word</key>
		<string>undertill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undfall</string>
		<key>Word</key>
		<string>undfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undfoll</string>
		<key>Word</key>
		<string>undföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungdjavel</string>
		<key>Word</key>
		<string>ungdjävel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungkarl</string>
		<key>Word</key>
		<string>ungkarl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>unionell</string>
		<key>Word</key>
		<string>unionell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>universal</string>
		<key>Word</key>
		<string>universal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>universell</string>
		<key>Word</key>
		<string>universell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppdateringsintervall</string>
		<key>Word</key>
		<string>uppdateringsintervall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppehall</string>
		<key>Word</key>
		<string>uppehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppeholl</string>
		<key>Word</key>
		<string>uppehöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppfyll</string>
		<key>Word</key>
		<string>uppfyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upphovsrattssymbol</string>
		<key>Word</key>
		<string>upphovsrättssymbol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppratthall</string>
		<key>Word</key>
		<string>upprätthåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprattholl</string>
		<key>Word</key>
		<string>upprätthöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsalamodell</string>
		<key>Word</key>
		<string>Uppsalamodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppstall</string>
		<key>Word</key>
		<string>uppställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upptill</string>
		<key>Word</key>
		<string>upptill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ural</string>
		<key>Word</key>
		<string>Ural</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urgammal</string>
		<key>Word</key>
		<string>urgammal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>url</string>
		<key>Word</key>
		<string>URL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urusel</string>
		<key>Word</key>
		<string>urusel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urval</string>
		<key>Word</key>
		<string>urval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>usel</string>
		<key>Word</key>
		<string>usel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utantill</string>
		<key>Word</key>
		<string>utantill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfall</string>
		<key>Word</key>
		<string>utfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfil</string>
		<key>Word</key>
		<string>utfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utflyktsmal</string>
		<key>Word</key>
		<string>utflyktsmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfyll</string>
		<key>Word</key>
		<string>utfyll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfyllnadsartikel</string>
		<key>Word</key>
		<string>utfyllnadsartikel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utfoll</string>
		<key>Word</key>
		<string>utföll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utgammal</string>
		<key>Word</key>
		<string>utgammal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsignal</string>
		<key>Word</key>
		<string>utsignal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslappshandel</string>
		<key>Word</key>
		<string>utsläppshandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utslappsregel</string>
		<key>Word</key>
		<string>utsläppsregel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utspel</string>
		<key>Word</key>
		<string>utspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstyrsel</string>
		<key>Word</key>
		<string>utstyrsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstall</string>
		<key>Word</key>
		<string>utställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uttal</string>
		<key>Word</key>
		<string>uttal</string>
	</dict>
</array>
</plist>
