<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>umebo</string>
		<key>Word</key>
		<string>Umebo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ungmo</string>
		<key>Word</key>
		<string>ungmö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uno</string>
		<key>Word</key>
		<string>Uno</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplands-bro</string>
		<key>Word</key>
		<string>Upplands-Bro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppsjo</string>
		<key>Word</key>
		<string>uppsjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utdo</string>
		<key>Word</key>
		<string>utdö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsago</string>
		<key>Word</key>
		<string>utsago</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskriftsko</string>
		<key>Word</key>
		<string>utskriftskö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utstro</string>
		<key>Word</key>
		<string>utströ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uto</string>
		<key>Word</key>
		<string>Utö</string>
	</dict>
</array>
</plist>
