<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>u-hjälp</string>
		<key>Word</key>
		<string>u-hjälp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>udp</string>
		<key>Word</key>
		<string>UDP</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undergrupp</string>
		<key>Word</key>
		<string>undergrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undermapp</string>
		<key>Word</key>
		<string>undermapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undslapp</string>
		<key>Word</key>
		<string>undslapp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>undslipp</string>
		<key>Word</key>
		<string>undslipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upp</string>
		<key>Word</key>
		<string>upp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>uppköp</string>
		<key>Word</key>
		<string>uppköp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upplopp</string>
		<key>Word</key>
		<string>upplopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>upprop</string>
		<key>Word</key>
		<string>upprop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urklipp</string>
		<key>Word</key>
		<string>urklipp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>urtyp</string>
		<key>Word</key>
		<string>urtyp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbrytargrupp</string>
		<key>Word</key>
		<string>utbrytargrupp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utbyggnadsstopp</string>
		<key>Word</key>
		<string>utbyggnadsstopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utlopp</string>
		<key>Word</key>
		<string>utlopp</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utomkvedshavandeskap</string>
		<key>Word</key>
		<string>utomkvedshavandeskap</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utrop</string>
		<key>Word</key>
		<string>utrop</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utskriftspopup</string>
		<key>Word</key>
		<string>utskriftspopup</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>utsläpp</string>
		<key>Word</key>
		<string>utsläpp</string>
	</dict>
</array>
</plist>
