<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaktmästeri</string>
		<key>Word</key>
		<string>vaktmästeri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valfri</string>
		<key>Word</key>
		<string>valfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vapenfri</string>
		<key>Word</key>
		<string>vapenfri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vari</string>
		<key>Word</key>
		<string>vari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varuti</string>
		<key>Word</key>
		<string>varuti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vasti</string>
		<key>Word</key>
		<string>Vasti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verdandi</string>
		<key>Word</key>
		<string>Verdandi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verdi</string>
		<key>Word</key>
		<string>Verdi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verkstadsindustri</string>
		<key>Word</key>
		<string>verkstadsindustri</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vi</string>
		<key>Word</key>
		<string>vi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vii</string>
		<key>Word</key>
		<string>vii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viii</string>
		<key>Word</key>
		<string>viii</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinci</string>
		<key>Word</key>
		<string>Vinci</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virologi</string>
		<key>Word</key>
		<string>virologi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virtasalmi</string>
		<key>Word</key>
		<string>Virtasalmi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visavi</string>
		<key>Word</key>
		<string>visavi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viti</string>
		<key>Word</key>
		<string>Viti</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittangi</string>
		<key>Word</key>
		<string>Vittangi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vivaldi</string>
		<key>Word</key>
		<string>Vivaldi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vivari</string>
		<key>Word</key>
		<string>Vivari</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vivendi</string>
		<key>Word</key>
		<string>Vivendi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vivi</string>
		<key>Word</key>
		<string>Vivi</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vuolijoki</string>
		<key>Word</key>
		<string>Vuolijoki</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänsterparti</string>
		<key>Word</key>
		<string>vänsterparti</string>
	</dict>
</array>
</plist>
