<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vak</string>
		<key>Word</key>
		<string>vak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valdemarsvik</string>
		<key>Word</key>
		<string>Valdemarsvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valk</string>
		<key>Word</key>
		<string>valk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valspråk</string>
		<key>Word</key>
		<string>valspråk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanesak</string>
		<key>Word</key>
		<string>vanesak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vank</string>
		<key>Word</key>
		<string>vank</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vapenfabrik</string>
		<key>Word</key>
		<string>vapenfabrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vapenlek</string>
		<key>Word</key>
		<string>vapenlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>variationsrik</string>
		<key>Word</key>
		<string>variationsrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vask</string>
		<key>Word</key>
		<string>vask</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenkraftverk</string>
		<key>Word</key>
		<string>vattenkraftverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenrik</string>
		<key>Word</key>
		<string>vattenrik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenverk</string>
		<key>Word</key>
		<string>vattenverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxduk</string>
		<key>Word</key>
		<string>vaxduk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veck</string>
		<key>Word</key>
		<string>veck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vederkvick</string>
		<key>Word</key>
		<string>vederkvick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vegesack</string>
		<key>Word</key>
		<string>Vegesack</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vegetabilisk</string>
		<key>Word</key>
		<string>vegetabilisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vegetarisk</string>
		<key>Word</key>
		<string>vegetarisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vek</string>
		<key>Word</key>
		<string>vek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vektorgrafik</string>
		<key>Word</key>
		<string>vektorgrafik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vellingk</string>
		<key>Word</key>
		<string>Vellingk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>venetiansk</string>
		<key>Word</key>
		<string>venetiansk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verk</string>
		<key>Word</key>
		<string>verk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viebäck</string>
		<key>Word</key>
		<string>Viebäck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vigselbok</string>
		<key>Word</key>
		<string>vigselbok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vik</string>
		<key>Word</key>
		<string>vik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vildmark</string>
		<key>Word</key>
		<string>vildmark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viljestark</string>
		<key>Word</key>
		<string>viljestark</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinbutik</string>
		<key>Word</key>
		<string>vinbutik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindkraftteknik</string>
		<key>Word</key>
		<string>vindkraftteknik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindkraftverk</string>
		<key>Word</key>
		<string>vindkraftverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vink</string>
		<key>Word</key>
		<string>vink</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinterpicknick</string>
		<key>Word</key>
		<string>vinterpicknick</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vismusik</string>
		<key>Word</key>
		<string>vismusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitlök</string>
		<key>Word</key>
		<string>vitlök</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitrysk</string>
		<key>Word</key>
		<string>vitrysk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vladivostok</string>
		<key>Word</key>
		<string>Vladivostok</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vpk</string>
		<key>Word</key>
		<string>VPK</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vrak</string>
		<key>Word</key>
		<string>vrak</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vreeswijk</string>
		<key>Word</key>
		<string>Vreeswijk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vräk</string>
		<key>Word</key>
		<string>vräk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väck</string>
		<key>Word</key>
		<string>väck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väderlek</string>
		<key>Word</key>
		<string>väderlek</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väderstreck</string>
		<key>Word</key>
		<string>väderstreck</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vägverk</string>
		<key>Word</key>
		<string>vägverk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>välsk</string>
		<key>Word</key>
		<string>välsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vänsterpartistisk</string>
		<key>Word</key>
		<string>vänsterpartistisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värk</string>
		<key>Word</key>
		<string>värk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världsmusik</string>
		<key>Word</key>
		<string>världsmusik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världspolitik</string>
		<key>Word</key>
		<string>världspolitik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>världspolitisk</string>
		<key>Word</key>
		<string>världspolitisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmländsk</string>
		<key>Word</key>
		<string>värmländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västanvik</string>
		<key>Word</key>
		<string>Västanvik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västerbottnisk</string>
		<key>Word</key>
		<string>västerbottnisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västerländsk</string>
		<key>Word</key>
		<string>västerländsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västervik</string>
		<key>Word</key>
		<string>Västervik</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västeuropeisk</string>
		<key>Word</key>
		<string>västeuropeisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västgötsk</string>
		<key>Word</key>
		<string>västgötsk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västindisk</string>
		<key>Word</key>
		<string>västindisk</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>västtysk</string>
		<key>Word</key>
		<string>västtysk</string>
	</dict>
</array>
</plist>
