<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vadmal</string>
		<key>Word</key>
		<string>vadmal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagnshjul</string>
		<key>Word</key>
		<string>vagnshjul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaktel</string>
		<key>Word</key>
		<string>vaktel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>val</string>
		<key>Word</key>
		<string>val</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valhall</string>
		<key>Word</key>
		<string>Valhall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vall</string>
		<key>Word</key>
		<string>vall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vallareal</string>
		<key>Word</key>
		<string>vallareal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valsedel</string>
		<key>Word</key>
		<string>valsedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valvel</string>
		<key>Word</key>
		<string>valvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vandal</string>
		<key>Word</key>
		<string>vandal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vandel</string>
		<key>Word</key>
		<string>vandel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanstall</string>
		<key>Word</key>
		<string>vanställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>variabel</string>
		<key>Word</key>
		<string>variabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varnagel</string>
		<key>Word</key>
		<string>varnagel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varsel</string>
		<key>Word</key>
		<string>varsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vartill</string>
		<key>Word</key>
		<string>vartill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenfall</string>
		<key>Word</key>
		<string>vattenfall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenfallsmodell</string>
		<key>Word</key>
		<string>vattenfallsmodell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vattenpol</string>
		<key>Word</key>
		<string>vattenpöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vedergall</string>
		<key>Word</key>
		<string>vedergäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vemodsfull</string>
		<key>Word</key>
		<string>vemodsfull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vendel</string>
		<key>Word</key>
		<string>Vendel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ventil</string>
		<key>Word</key>
		<string>ventil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verbal</string>
		<key>Word</key>
		<string>verbal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veritabel</string>
		<key>Word</key>
		<string>veritabel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>verkstall</string>
		<key>Word</key>
		<string>verkställ</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>versal</string>
		<key>Word</key>
		<string>versal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vertikal</string>
		<key>Word</key>
		<string>vertikal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetemjol</string>
		<key>Word</key>
		<string>vetemjöl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vetenskapsmaterial</string>
		<key>Word</key>
		<string>vetenskapsmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vhdl</string>
		<key>Word</key>
		<string>VHDL</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidhall</string>
		<key>Word</key>
		<string>vidhåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidholl</string>
		<key>Word</key>
		<string>vidhöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidmakthall</string>
		<key>Word</key>
		<string>vidmakthåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidmaktholl</string>
		<key>Word</key>
		<string>vidmakthöll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidsel</string>
		<key>Word</key>
		<string>Vidsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vigsel</string>
		<key>Word</key>
		<string>vigsel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vill</string>
		<key>Word</key>
		<string>vill</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vimmel</string>
		<key>Word</key>
		<string>vimmel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vimpel</string>
		<key>Word</key>
		<string>vimpel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindel</string>
		<key>Word</key>
		<string>vindel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vindil</string>
		<key>Word</key>
		<string>vindil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinkel</string>
		<key>Word</key>
		<string>vinkel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinstmarginal</string>
		<key>Word</key>
		<string>vinstmarginal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vinyl</string>
		<key>Word</key>
		<string>vinyl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viol</string>
		<key>Word</key>
		<string>viol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>violoncell</string>
		<key>Word</key>
		<string>violoncell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virsockel</string>
		<key>Word</key>
		<string>virsockel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virtuell</string>
		<key>Word</key>
		<string>virtuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virvel</string>
		<key>Word</key>
		<string>virvel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visuell</string>
		<key>Word</key>
		<string>visuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vital</string>
		<key>Word</key>
		<string>vital</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vitgul</string>
		<key>Word</key>
		<string>vitgul</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vittnesmal</string>
		<key>Word</key>
		<string>vittnesmål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vm-final</string>
		<key>Word</key>
		<string>VM-final</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vogel</string>
		<key>Word</key>
		<string>Vogel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vokal</string>
		<key>Word</key>
		<string>vokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>volvo-special</string>
		<key>Word</key>
		<string>Volvo-special</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>volymavtal</string>
		<key>Word</key>
		<string>volymavtal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>volymfil</string>
		<key>Word</key>
		<string>volymfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vpn-tunnel</string>
		<key>Word</key>
		<string>VPN-tunnel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vral</string>
		<key>Word</key>
		<string>vrål</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vabel</string>
		<key>Word</key>
		<string>väbel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagskal</string>
		<key>Word</key>
		<string>vägskäl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagval</string>
		<key>Word</key>
		<string>vägval</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>val</string>
		<key>Word</key>
		<string>väl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vall</string>
		<key>Word</key>
		<string>väll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansterintellektuell</string>
		<key>Word</key>
		<string>vänsterintellektuell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansterpil</string>
		<key>Word</key>
		<string>vänsterpil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansterprassel</string>
		<key>Word</key>
		<string>vänsterprassel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansall</string>
		<key>Word</key>
		<string>vänsäll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vanthall</string>
		<key>Word</key>
		<string>vänthall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vantsal</string>
		<key>Word</key>
		<string>väntsal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardefull</string>
		<key>Word</key>
		<string>värdefull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varldsdel</string>
		<key>Word</key>
		<string>världsdel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varldskulturell</string>
		<key>Word</key>
		<string>världskulturell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vavstol</string>
		<key>Word</key>
		<string>vävstol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxel</string>
		<key>Word</key>
		<string>växel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxlingsfil</string>
		<key>Word</key>
		<string>växlingsfil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxtlokal</string>
		<key>Word</key>
		<string>växtlokal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxtmaterial</string>
		<key>Word</key>
		<string>växtmaterial</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxtnaringsinnehall</string>
		<key>Word</key>
		<string>växtnäringsinnehåll</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxtnaringspool</string>
		<key>Word</key>
		<string>växtnäringspool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vaxtpool</string>
		<key>Word</key>
		<string>växtpool</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vagspel</string>
		<key>Word</key>
		<string>vågspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valdsdataspel</string>
		<key>Word</key>
		<string>våldsdataspel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardcentral</string>
		<key>Word</key>
		<string>vårdcentral</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vardpersonal</string>
		<key>Word</key>
		<string>vårdpersonal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>varsol</string>
		<key>Word</key>
		<string>vårsol</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vordnadsfull</string>
		<key>Word</key>
		<string>vördnadsfull</string>
	</dict>
</array>
</plist>
