<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>valbo</string>
		<key>Word</key>
		<string>Valbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vallmo</string>
		<key>Word</key>
		<string>vallmo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vansbro</string>
		<key>Word</key>
		<string>Vansbro</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>veto</string>
		<key>Word</key>
		<string>veto</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vidbo</string>
		<key>Word</key>
		<string>Vidbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>video</string>
		<key>Word</key>
		<string>video</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viggo</string>
		<key>Word</key>
		<string>Viggo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vilkakommando</string>
		<key>Word</key>
		<string>vilkakommando</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virgo</string>
		<key>Word</key>
		<string>Virgo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>virmo</string>
		<key>Word</key>
		<string>Virmo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visingsö</string>
		<key>Word</key>
		<string>Visingsö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visio</string>
		<key>Word</key>
		<string>Visio</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>visso</string>
		<key>Word</key>
		<string>visso</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>viterbo</string>
		<key>Word</key>
		<string>Viterbo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>volvo</string>
		<key>Word</key>
		<string>Volvo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>voodoo</string>
		<key>Word</key>
		<string>voodoo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väddö</string>
		<key>Word</key>
		<string>Väddö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>väntekö</string>
		<key>Word</key>
		<string>väntekö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värmdö</string>
		<key>Word</key>
		<string>Värmdö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>värnamo</string>
		<key>Word</key>
		<string>Värnamo</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vätö</string>
		<key>Word</key>
		<string>Vätö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>växjö</string>
		<key>Word</key>
		<string>Växjö</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>vårdö</string>
		<key>Word</key>
		<string>Vårdö</string>
	</dict>
</array>
</plist>
