<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wanja</string>
		<key>Word</key>
		<string>Wanja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>warszawa</string>
		<key>Word</key>
		<string>Warszawa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wattimmarna</string>
		<key>Word</key>
		<string>wattimmarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wcm-programvara</string>
		<key>Word</key>
		<string>WCM-programvara</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wcm-programvarorna</string>
		<key>Word</key>
		<string>WCM-programvarorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbcheferna</string>
		<key>Word</key>
		<string>webbcheferna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbfraga</string>
		<key>Word</key>
		<string>webbfråga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbfragorna</string>
		<key>Word</key>
		<string>webbfrågorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbkamera</string>
		<key>Word</key>
		<string>webbkamera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbkamerorna</string>
		<key>Word</key>
		<string>webbkamerorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbloggarna</string>
		<key>Word</key>
		<string>webbloggarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webblasarna</string>
		<key>Word</key>
		<string>webbläsarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastertjansterna</string>
		<key>Word</key>
		<string>webbmastertjänsterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastrarna</string>
		<key>Word</key>
		<string>webbmastrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbplatserna</string>
		<key>Word</key>
		<string>webbplatserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbportalerna</string>
		<key>Word</key>
		<string>webbportalerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsajterna</string>
		<key>Word</key>
		<string>webbsajterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbservrarna</string>
		<key>Word</key>
		<string>webbservrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsida</string>
		<key>Word</key>
		<string>webbsida</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsidorna</string>
		<key>Word</key>
		<string>webbsidorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbskola</string>
		<key>Word</key>
		<string>webbskola</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbskolorna</string>
		<key>Word</key>
		<string>webbskolorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsoktjansterna</string>
		<key>Word</key>
		<string>webbsöktjänsterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtidningarna</string>
		<key>Word</key>
		<string>webbtidningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtjansterna</string>
		<key>Word</key>
		<string>webbtjänsterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbutvecklarna</string>
		<key>Word</key>
		<string>webbutvecklarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbyra</string>
		<key>Word</key>
		<string>webbyrå</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbyraerna</string>
		<key>Word</key>
		<string>webbyråerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whiplashskada</string>
		<key>Word</key>
		<string>whiplashskada</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whiplashskadorna</string>
		<key>Word</key>
		<string>whiplashskadorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wienerkorvarna</string>
		<key>Word</key>
		<string>wienerkorvarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wienervalserna</string>
		<key>Word</key>
		<string>wienervalserna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikifiera</string>
		<key>Word</key>
		<string>wikifiera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikipedia</string>
		<key>Word</key>
		<string>Wikipedia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikisida</string>
		<key>Word</key>
		<string>wikisida</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikisidorna</string>
		<key>Word</key>
		<string>wikisidorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilhelmina</string>
		<key>Word</key>
		<string>Wilhelmina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilma</string>
		<key>Word</key>
		<string>Wilma</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiltonmatta</string>
		<key>Word</key>
		<string>wiltonmatta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiltonmattorna</string>
		<key>Word</key>
		<string>wiltonmattorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winchesterdiskarna</string>
		<key>Word</key>
		<string>winchesterdiskarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsapplikationerna</string>
		<key>Word</key>
		<string>Windowsapplikationerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowskomponenterna</string>
		<key>Word</key>
		<string>Windowskomponenterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wins-servrarna</string>
		<key>Word</key>
		<string>WINS-servrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wulfvenstjerna</string>
		<key>Word</key>
		<string>Wulfvenstjerna</string>
	</dict>
</array>
</plist>
