<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wahlberg</string>
		<key>Word</key>
		<string>Wahlberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallberg</string>
		<key>Word</key>
		<string>Wallberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallenberg</string>
		<key>Word</key>
		<string>Wallenberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>warburg</string>
		<key>Word</key>
		<string>Warburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webblogg</string>
		<key>Word</key>
		<string>webblogg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbpublicering</string>
		<key>Word</key>
		<string>webbpublicering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtidning</string>
		<key>Word</key>
		<string>webbtidning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wendelsberg</string>
		<key>Word</key>
		<string>Wendelsberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wennerberg</string>
		<key>Word</key>
		<string>Wennerberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westerberg</string>
		<key>Word</key>
		<string>Westerberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wieselberg</string>
		<key>Word</key>
		<string>Wieselberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winnipeg</string>
		<key>Word</key>
		<string>Winnipeg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wittenberg</string>
		<key>Word</key>
		<string>Wittenberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wolfgang</string>
		<key>Word</key>
		<string>Wolfgang</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wolfsburg</string>
		<key>Word</key>
		<string>Wolfsburg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wollongong</string>
		<key>Word</key>
		<string>Wollongong</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>woxberg</string>
		<key>Word</key>
		<string>Woxberg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wyoming</string>
		<key>Word</key>
		<string>Wyoming</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wurzburg</string>
		<key>Word</key>
		<string>Würzburg</string>
	</dict>
</array>
</plist>
