<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wahl</string>
		<key>Word</key>
		<string>Wahl</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wall</string>
		<key>Word</key>
		<string>Wall</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbhotell</string>
		<key>Word</key>
		<string>webbhotell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbportal</string>
		<key>Word</key>
		<string>webbportal</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webmail</string>
		<key>Word</key>
		<string>webmail</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>weibull</string>
		<key>Word</key>
		<string>Weibull</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>weil</string>
		<key>Word</key>
		<string>Weil</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>weinigel</string>
		<key>Word</key>
		<string>Weinigel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wessel</string>
		<key>Word</key>
		<string>Wessel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiksell</string>
		<key>Word</key>
		<string>Wiksell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>will</string>
		<key>Word</key>
		<string>Will</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winzell</string>
		<key>Word</key>
		<string>Winzell</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wolfenbüttel</string>
		<key>Word</key>
		<string>Wolfenbüttel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wrangel</string>
		<key>Word</key>
		<string>Wrangel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wundsiedel</string>
		<key>Word</key>
		<string>Wundsiedel</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wupperthal</string>
		<key>Word</key>
		<string>Wupperthal</string>
	</dict>
</array>
</plist>
