<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wadstrom</string>
		<key>Word</key>
		<string>Wadström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wahlstrom</string>
		<key>Word</key>
		<string>Wahlström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>waldheim</string>
		<key>Word</key>
		<string>Waldheim</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallstrom</string>
		<key>Word</key>
		<string>Wallström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>walstrom</string>
		<key>Word</key>
		<string>Walström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>warnstam</string>
		<key>Word</key>
		<string>Warnstam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>welam</string>
		<key>Word</key>
		<string>Welam</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westblom</string>
		<key>Word</key>
		<string>Westblom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikstrom</string>
		<key>Word</key>
		<string>Wikström</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilhelm</string>
		<key>Word</key>
		<string>Wilhelm</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>willem</string>
		<key>Word</key>
		<string>Willem</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>william</string>
		<key>Word</key>
		<string>William</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winbom</string>
		<key>Word</key>
		<string>Winbom</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsprogram</string>
		<key>Word</key>
		<string>Windowsprogram</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wlan-forum</string>
		<key>Word</key>
		<string>WLAN-Forum</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wolfram</string>
		<key>Word</key>
		<string>wolfram</string>
	</dict>
</array>
</plist>
