<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>waern</string>
		<key>Word</key>
		<string>Waern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wahlgren</string>
		<key>Word</key>
		<string>Wahlgren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallenbergsfären</string>
		<key>Word</key>
		<string>Wallenbergsfären</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallin</string>
		<key>Word</key>
		<string>Wallin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>washington</string>
		<key>Word</key>
		<string>Washington</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>watergateskandalen</string>
		<key>Word</key>
		<string>Watergateskandalen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wattimmen</string>
		<key>Word</key>
		<string>wattimmen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wcm-programvaran</string>
		<key>Word</key>
		<string>WCM-programvaran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webb-radion</string>
		<key>Word</key>
		<string>webb-radion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbchefen</string>
		<key>Word</key>
		<string>webbchefen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbdisken</string>
		<key>Word</key>
		<string>webbdisken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webben</string>
		<key>Word</key>
		<string>webben</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbfrågan</string>
		<key>Word</key>
		<string>webbfrågan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbgränssnitten</string>
		<key>Word</key>
		<string>webbgränssnitten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbhotellen</string>
		<key>Word</key>
		<string>webbhotellen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbkameran</string>
		<key>Word</key>
		<string>webbkameran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbloggen</string>
		<key>Word</key>
		<string>webbloggen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbläsaren</string>
		<key>Word</key>
		<string>webbläsaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastern</string>
		<key>Word</key>
		<string>webbmastern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastertjänsten</string>
		<key>Word</key>
		<string>webbmastertjänsten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbplatsen</string>
		<key>Word</key>
		<string>webbplatsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbportalen</string>
		<key>Word</key>
		<string>webbportalen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbpubliceringen</string>
		<key>Word</key>
		<string>webbpubliceringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbpublikation</string>
		<key>Word</key>
		<string>webbpublikation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbpublikationen</string>
		<key>Word</key>
		<string>webbpublikationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbradion</string>
		<key>Word</key>
		<string>webbradion</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbredaktören</string>
		<key>Word</key>
		<string>webbredaktören</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsajten</string>
		<key>Word</key>
		<string>webbsajten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbservern</string>
		<key>Word</key>
		<string>webbservern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbserverstatistiken</string>
		<key>Word</key>
		<string>webbserverstatistiken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsidan</string>
		<key>Word</key>
		<string>webbsidan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbskolan</string>
		<key>Word</key>
		<string>webbskolan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbstatistiken</string>
		<key>Word</key>
		<string>webbstatistiken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsupporten</string>
		<key>Word</key>
		<string>webbsupporten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsöktjänsten</string>
		<key>Word</key>
		<string>webbsöktjänsten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtidningen</string>
		<key>Word</key>
		<string>webbtidningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtjänsten</string>
		<key>Word</key>
		<string>webbtjänsten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbutvecklaren</string>
		<key>Word</key>
		<string>webbutvecklaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbyrån</string>
		<key>Word</key>
		<string>webbyrån</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webmailen</string>
		<key>Word</key>
		<string>webmailen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>welamson</string>
		<key>Word</key>
		<string>Welamson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>welamsson</string>
		<key>Word</key>
		<string>Welamsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wellington</string>
		<key>Word</key>
		<string>Wellington</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wessén</string>
		<key>Word</key>
		<string>Wessén</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westin</string>
		<key>Word</key>
		<string>Westin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westman</string>
		<key>Word</key>
		<string>Westman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westrin</string>
		<key>Word</key>
		<string>Westrin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whiplashskadan</string>
		<key>Word</key>
		<string>whiplashskadan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whiskeyn</string>
		<key>Word</key>
		<string>whiskeyn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whiskyn</string>
		<key>Word</key>
		<string>whiskyn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whitman</string>
		<key>Word</key>
		<string>Whitman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whyteboarden</string>
		<key>Word</key>
		<string>whyteboarden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>widman</string>
		<key>Word</key>
		<string>Widman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wien</string>
		<key>Word</key>
		<string>Wien</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wienerkorven</string>
		<key>Word</key>
		<string>wienerkorven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wienervalsen</string>
		<key>Word</key>
		<string>wienervalsen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiesbaden</string>
		<key>Word</key>
		<string>Wiesbaden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wieselgren</string>
		<key>Word</key>
		<string>Wieselgren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiki-tekniken</string>
		<key>Word</key>
		<string>wiki-tekniken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikin</string>
		<key>Word</key>
		<string>wikin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikisidan</string>
		<key>Word</key>
		<string>wikisidan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikitekniken</string>
		<key>Word</key>
		<string>wikitekniken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikströmen</string>
		<key>Word</key>
		<string>Wikströmen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>willgren</string>
		<key>Word</key>
		<string>Willgren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>william-olsson</string>
		<key>Word</key>
		<string>William-Olsson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilson</string>
		<key>Word</key>
		<string>Wilson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiltonmattan</string>
		<key>Word</key>
		<string>wiltonmattan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winchesterdisken</string>
		<key>Word</key>
		<string>winchesterdisken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsapplikation</string>
		<key>Word</key>
		<string>Windowsapplikation</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsapplikationen</string>
		<key>Word</key>
		<string>Windowsapplikationen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowskomponenten</string>
		<key>Word</key>
		<string>Windowskomponenten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsprogrammen</string>
		<key>Word</key>
		<string>Windowsprogrammen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wins-servern</string>
		<key>Word</key>
		<string>WINS-servern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winston</string>
		<key>Word</key>
		<string>Winston</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winther-hansen</string>
		<key>Word</key>
		<string>Winther-Hansen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wirsén</string>
		<key>Word</key>
		<string>Wirsén</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wisconsin</string>
		<key>Word</key>
		<string>Wisconsin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wlan</string>
		<key>Word</key>
		<string>WLAN</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wobegon</string>
		<key>Word</key>
		<string>Wobegon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>worddokumenten</string>
		<key>Word</key>
		<string>Worddokumenten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wotan</string>
		<key>Word</key>
		<string>Wotan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wretman</string>
		<key>Word</key>
		<string>Wretman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wuhan</string>
		<key>Word</key>
		<string>Wuhan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wåhlin</string>
		<key>Word</key>
		<string>Wåhlin</string>
	</dict>
</array>
</plist>
