<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wachtmeister</string>
		<key>Word</key>
		<string>Wachtmeister</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wagner</string>
		<key>Word</key>
		<string>Wagner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>walter</string>
		<key>Word</key>
		<string>Walter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>warner</string>
		<key>Word</key>
		<string>Warner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wattimmar</string>
		<key>Word</key>
		<string>wattimmar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wcm-programvaror</string>
		<key>Word</key>
		<string>WCM-programvaror</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbchefer</string>
		<key>Word</key>
		<string>webbchefer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbfrågor</string>
		<key>Word</key>
		<string>webbfrågor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbkameror</string>
		<key>Word</key>
		<string>webbkameror</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbloggar</string>
		<key>Word</key>
		<string>webbloggar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmaster</string>
		<key>Word</key>
		<string>webbmaster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastertjänster</string>
		<key>Word</key>
		<string>webbmastertjänster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastrar</string>
		<key>Word</key>
		<string>webbmastrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbplatser</string>
		<key>Word</key>
		<string>webbplatser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbportaler</string>
		<key>Word</key>
		<string>webbportaler</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbredaktör</string>
		<key>Word</key>
		<string>webbredaktör</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsajter</string>
		<key>Word</key>
		<string>webbsajter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbserver</string>
		<key>Word</key>
		<string>webbserver</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbservrar</string>
		<key>Word</key>
		<string>webbservrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsidor</string>
		<key>Word</key>
		<string>webbsidor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbskolor</string>
		<key>Word</key>
		<string>webbskolor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsöktjänster</string>
		<key>Word</key>
		<string>webbsöktjänster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtidningar</string>
		<key>Word</key>
		<string>webbtidningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtjänster</string>
		<key>Word</key>
		<string>webbtjänster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbyråer</string>
		<key>Word</key>
		<string>webbyråer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>weber</string>
		<key>Word</key>
		<string>Weber</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>weimar</string>
		<key>Word</key>
		<string>Weimar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>weir</string>
		<key>Word</key>
		<string>Weir</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>werner</string>
		<key>Word</key>
		<string>Werner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>werther</string>
		<key>Word</key>
		<string>Werther</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whiplashskador</string>
		<key>Word</key>
		<string>whiplashskador</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>whitepaper</string>
		<key>Word</key>
		<string>whitepaper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiener</string>
		<key>Word</key>
		<string>Wiener</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wienerkorvar</string>
		<key>Word</key>
		<string>wienerkorvar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wienervalser</string>
		<key>Word</key>
		<string>wienervalser</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wieslander</string>
		<key>Word</key>
		<string>Wieslander</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wijkander</string>
		<key>Word</key>
		<string>Wijkander</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikifierar</string>
		<key>Word</key>
		<string>wikifierar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikisidor</string>
		<key>Word</key>
		<string>wikisidor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiktor</string>
		<key>Word</key>
		<string>Wiktor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wilander</string>
		<key>Word</key>
		<string>Wilander</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>willander</string>
		<key>Word</key>
		<string>Willander</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wiltonmattor</string>
		<key>Word</key>
		<string>wiltonmattor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winchester</string>
		<key>Word</key>
		<string>Winchester</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winchesterdiskar</string>
		<key>Word</key>
		<string>winchesterdiskar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsapplikationer</string>
		<key>Word</key>
		<string>Windowsapplikationer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowskomponenter</string>
		<key>Word</key>
		<string>Windowskomponenter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wins-server</string>
		<key>Word</key>
		<string>WINS-server</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wins-servrar</string>
		<key>Word</key>
		<string>WINS-servrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>winther</string>
		<key>Word</key>
		<string>Winther</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wismar</string>
		<key>Word</key>
		<string>Wismar</string>
	</dict>
</array>
</plist>
