<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wahlquist</string>
		<key>Word</key>
		<string>Wahlquist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallenquist</string>
		<key>Word</key>
		<string>Wallenquist</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wallenstedt</string>
		<key>Word</key>
		<string>Wallenstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>walt</string>
		<key>Word</key>
		<string>Walt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>watt</string>
		<key>Word</key>
		<string>Watt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>watt</string>
		<key>Word</key>
		<string>watt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbaserat</string>
		<key>Word</key>
		<string>webbaserat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbförnuft</string>
		<key>Word</key>
		<string>webbförnuft</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbförnuftet</string>
		<key>Word</key>
		<string>webbförnuftet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbgränssnitt</string>
		<key>Word</key>
		<string>webbgränssnitt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbgränssnittet</string>
		<key>Word</key>
		<string>webbgränssnittet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbhotellet</string>
		<key>Word</key>
		<string>webbhotellet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbmastertjänst</string>
		<key>Word</key>
		<string>webbmastertjänst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsajt</string>
		<key>Word</key>
		<string>webbsajt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsupport</string>
		<key>Word</key>
		<string>webbsupport</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbsöktjänst</string>
		<key>Word</key>
		<string>webbsöktjänst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>webbtjänst</string>
		<key>Word</key>
		<string>webbtjänst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>west</string>
		<key>Word</key>
		<string>West</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>westcoast</string>
		<key>Word</key>
		<string>Westcoast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wetterstedt</string>
		<key>Word</key>
		<string>Wetterstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wikifierat</string>
		<key>Word</key>
		<string>wikifierat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowskomponent</string>
		<key>Word</key>
		<string>Windowskomponent</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>windowsprogrammet</string>
		<key>Word</key>
		<string>Windowsprogrammet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wingstedt</string>
		<key>Word</key>
		<string>Wingstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wolframet</string>
		<key>Word</key>
		<string>wolframet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>worddokument</string>
		<key>Word</key>
		<string>Worddokument</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>worddokumentet</string>
		<key>Word</key>
		<string>Worddokumentet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wordperfect</string>
		<key>Word</key>
		<string>WordPerfect</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wright</string>
		<key>Word</key>
		<string>Wright</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>wyandot</string>
		<key>Word</key>
		<string>Wyandot</string>
	</dict>
</array>
</plist>
