<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>x-servern</string>
		<key>Word</key>
		<string>X-servern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xiamen</string>
		<key>Word</key>
		<string>Xiamen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xian</string>
		<key>Word</key>
		<string>Xian</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-teknologin</string>
		<key>Word</key>
		<string>XML-teknologin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xuan</string>
		<key>Word</key>
		<string>Xuan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofon</string>
		<key>Word</key>
		<string>xylofon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofonen</string>
		<key>Word</key>
		<string>xylofonen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylografen</string>
		<key>Word</key>
		<string>xylografen</string>
	</dict>
</array>
</plist>
