<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>x-serverns</string>
		<key>Word</key>
		<string>X-serverns</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>x-servers</string>
		<key>Word</key>
		<string>X-servers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>x-servrarnas</string>
		<key>Word</key>
		<string>X-servrarnas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>x-servrars</string>
		<key>Word</key>
		<string>X-servrars</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xantippas</string>
		<key>Word</key>
		<string>Xantippas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xaviers</string>
		<key>Word</key>
		<string>Xaviers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xerografiskas</string>
		<key>Word</key>
		<string>xerografiskas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xerografisks</string>
		<key>Word</key>
		<string>xerografisks</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xerografiskts</string>
		<key>Word</key>
		<string>xerografiskts</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xiamens</string>
		<key>Word</key>
		<string>Xiamens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xians</string>
		<key>Word</key>
		<string>Xians</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xinjiangs</string>
		<key>Word</key>
		<string>Xinjiangs</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xircoms</string>
		<key>Word</key>
		<string>Xircoms</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-baserades</string>
		<key>Word</key>
		<string>XML-baserades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-baserads</string>
		<key>Word</key>
		<string>XML-baserads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-baserats</string>
		<key>Word</key>
		<string>XML-baserats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-relaterades</string>
		<key>Word</key>
		<string>XML-relaterades</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-relaterads</string>
		<key>Word</key>
		<string>XML-relaterads</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-relaterats</string>
		<key>Word</key>
		<string>XML-relaterats</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-teknologins</string>
		<key>Word</key>
		<string>XML-teknologins</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xml-teknologis</string>
		<key>Word</key>
		<string>XML-teknologis</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xuans</string>
		<key>Word</key>
		<string>Xuans</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofonens</string>
		<key>Word</key>
		<string>xylofonens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofonernas</string>
		<key>Word</key>
		<string>xylofonernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofoners</string>
		<key>Word</key>
		<string>xylofoners</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylofons</string>
		<key>Word</key>
		<string>xylofons</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylografens</string>
		<key>Word</key>
		<string>xylografens</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylografernas</string>
		<key>Word</key>
		<string>xylografernas</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylografers</string>
		<key>Word</key>
		<string>xylografers</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>xylografs</string>
		<key>Word</key>
		<string>xylografs</string>
	</dict>
</array>
</plist>
