<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachterna</string>
		<key>Word</key>
		<string>yachterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantennerna</string>
		<key>Word</key>
		<string>yagiantennerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yahaba</string>
		<key>Word</key>
		<string>Yahaba</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamaga</string>
		<key>Word</key>
		<string>Yamaga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamagata</string>
		<key>Word</key>
		<string>Yamagata</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamaha</string>
		<key>Word</key>
		<string>Yamaha</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yamatotakada</string>
		<key>Word</key>
		<string>Yamatotakada</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yashima</string>
		<key>Word</key>
		<string>Yashima</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yla</string>
		<key>Word</key>
		<string>yla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yliharma</string>
		<key>Word</key>
		<string>Ylihärmä</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylivieska</string>
		<key>Word</key>
		<string>Ylivieska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylva</string>
		<key>Word</key>
		<string>Ylva</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylamaa</string>
		<key>Word</key>
		<string>Ylämaa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymniga</string>
		<key>Word</key>
		<string>ymniga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknopparna</string>
		<key>Word</key>
		<string>yngelknopparna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngla</string>
		<key>Word</key>
		<string>yngla</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingarna</string>
		<key>Word</key>
		<string>ynglingarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngsta</string>
		<key>Word</key>
		<string>yngsta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkliga</string>
		<key>Word</key>
		<string>ynkliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yokawa</string>
		<key>Word</key>
		<string>Yokawa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yokogawa</string>
		<key>Word</key>
		<string>Yokogawa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppa</string>
		<key>Word</key>
		<string>yppa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperliga</string>
		<key>Word</key>
		<string>ypperliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppersta</string>
		<key>Word</key>
		<string>yppersta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppiga</string>
		<key>Word</key>
		<string>yppiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypaja</string>
		<key>Word</key>
		<string>Ypäjä</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yra</string>
		<key>Word</key>
		<string>yra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfa</string>
		<key>Word</key>
		<string>yrfä</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfana</string>
		<key>Word</key>
		<string>yrfäna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhatta</string>
		<key>Word</key>
		<string>yrhätta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhattorna</string>
		<key>Word</key>
		<string>yrhättorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrka</string>
		<key>Word</key>
		<string>yrka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkandena</string>
		<key>Word</key>
		<string>yrkandena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkena</string>
		<key>Word</key>
		<string>yrkena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckningarna</string>
		<key>Word</key>
		<string>yrkesbeteckningarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgrupperna</string>
		<key>Word</key>
		<string>yrkesgrupperna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinna</string>
		<key>Word</key>
		<string>yrkeskvinna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnorna</string>
		<key>Word</key>
		<string>yrkeskvinnorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmassiga</string>
		<key>Word</key>
		<string>yrkesmässiga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesomradena</string>
		<key>Word</key>
		<string>yrkesområdena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesrollerna</string>
		<key>Word</key>
		<string>yrkesrollerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesutovarna</string>
		<key>Word</key>
		<string>yrkesutövarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesverksamma</string>
		<key>Word</key>
		<string>yrkesverksamma</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrorna</string>
		<key>Word</key>
		<string>yrorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrsa</string>
		<key>Word</key>
		<string>Yrsa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrvakna</string>
		<key>Word</key>
		<string>yrvakna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ysta</string>
		<key>Word</key>
		<string>ysta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystra</string>
		<key>Word</key>
		<string>ystra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ysatters-kajsa</string>
		<key>Word</key>
		<string>Ysätters-Kajsa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yta</string>
		<key>Word</key>
		<string>yta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenheterna</string>
		<key>Word</key>
		<string>ytenheterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfargerna</string>
		<key>Word</key>
		<string>ytfärgerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytliga</string>
		<key>Word</key>
		<string>ytliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytorna</string>
		<key>Word</key>
		<string>ytorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdorrarna</string>
		<key>Word</key>
		<string>ytterdörrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterkladerna</string>
		<key>Word</key>
		<string>ytterkläderna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterledarna</string>
		<key>Word</key>
		<string>ytterledarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterliga</string>
		<key>Word</key>
		<string>ytterliga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligheterna</string>
		<key>Word</key>
		<string>ytterligheterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttermera</string>
		<key>Word</key>
		<string>yttermera</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrockarna</string>
		<key>Word</key>
		<string>ytterrockarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttersida</string>
		<key>Word</key>
		<string>yttersida</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttersta</string>
		<key>Word</key>
		<string>yttersta</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttervaggarna</string>
		<key>Word</key>
		<string>ytterväggarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttra</string>
		<key>Word</key>
		<string>yttra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandena</string>
		<key>Word</key>
		<string>yttrandena</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrarna</string>
		<key>Word</key>
		<string>yttrarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttringarna</string>
		<key>Word</key>
		<string>yttringarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yuba</string>
		<key>Word</key>
		<string>Yuba</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yuzawa</string>
		<key>Word</key>
		<string>Yuzawa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yviga</string>
		<key>Word</key>
		<string>yviga</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxa</string>
		<key>Word</key>
		<string>yxa</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxorna</string>
		<key>Word</key>
		<string>yxorna</string>
	</dict>
</array>
</plist>
