<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppad</string>
		<key>Word</key>
		<string>yppad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkad</string>
		<key>Word</key>
		<string>yrkad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystad</string>
		<key>Word</key>
		<string>Ystad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystad</string>
		<key>Word</key>
		<string>ystad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterad</string>
		<key>Word</key>
		<string>ytmonterad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrad</string>
		<key>Word</key>
		<string>yttrad</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvidd</string>
		<key>Word</key>
		<string>ytvidd</string>
	</dict>
</array>
</plist>
