<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylletyg</string>
		<key>Word</key>
		<string>ylletyg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymnig</string>
		<key>Word</key>
		<string>ymnig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngling</string>
		<key>Word</key>
		<string>yngling</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynklig</string>
		<key>Word</key>
		<string>ynklig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperlig</string>
		<key>Word</key>
		<string>ypperlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppig</string>
		<key>Word</key>
		<string>yppig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckning</string>
		<key>Word</key>
		<string>yrkesbeteckning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesinriktning</string>
		<key>Word</key>
		<string>yrkesinriktning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmässig</string>
		<key>Word</key>
		<string>yrkesmässig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytavrinning</string>
		<key>Word</key>
		<string>ytavrinning</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärg</string>
		<key>Word</key>
		<string>ytfärg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytlig</string>
		<key>Word</key>
		<string>ytlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmontering</string>
		<key>Word</key>
		<string>ytmontering</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterlig</string>
		<key>Word</key>
		<string>ytterlig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttervägg</string>
		<key>Word</key>
		<string>yttervägg</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihetsgrundlag</string>
		<key>Word</key>
		<string>yttrandefrihetsgrundlag</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttring</string>
		<key>Word</key>
		<string>yttring</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvig</string>
		<key>Word</key>
		<string>yvig</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxkastning</string>
		<key>Word</key>
		<string>yxkastning</string>
	</dict>
</array>
</plist>
