<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>y-fronten</string>
		<key>Word</key>
		<string>Y-fronten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachten</string>
		<key>Word</key>
		<string>yachten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantenn</string>
		<key>Word</key>
		<string>yagiantenn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantennen</string>
		<key>Word</key>
		<string>yagiantennen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yaren</string>
		<key>Word</key>
		<string>Yaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yemen</string>
		<key>Word</key>
		<string>Yemen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yen</string>
		<key>Word</key>
		<string>yen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yenen</string>
		<key>Word</key>
		<string>yenen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylletygen</string>
		<key>Word</key>
		<string>ylletygen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknoppen</string>
		<key>Word</key>
		<string>yngelknoppen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglen</string>
		<key>Word</key>
		<string>ynglen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingasagan</string>
		<key>Word</key>
		<string>ynglingasagan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingaätten</string>
		<key>Word</key>
		<string>ynglingaätten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingen</string>
		<key>Word</key>
		<string>ynglingen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkedomen</string>
		<key>Word</key>
		<string>ynkedomen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoghurten</string>
		<key>Word</key>
		<string>yoghurten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yomitan</string>
		<key>Word</key>
		<string>Yomitan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yran</string>
		<key>Word</key>
		<string>yran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfän</string>
		<key>Word</key>
		<string>yrfän</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhättan</string>
		<key>Word</key>
		<string>yrhättan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkanden</string>
		<key>Word</key>
		<string>yrkanden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrken</string>
		<key>Word</key>
		<string>yrken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckningen</string>
		<key>Word</key>
		<string>yrkesbeteckningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeserfarenheten</string>
		<key>Word</key>
		<string>yrkeserfarenheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgruppen</string>
		<key>Word</key>
		<string>yrkesgruppen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesinriktningen</string>
		<key>Word</key>
		<string>yrkesinriktningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnan</string>
		<key>Word</key>
		<string>yrkeskvinnan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesman</string>
		<key>Word</key>
		<string>yrkesman</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmannen</string>
		<key>Word</key>
		<string>yrkesmannen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmän</string>
		<key>Word</key>
		<string>yrkesmän</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmännen</string>
		<key>Word</key>
		<string>yrkesmännen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesområden</string>
		<key>Word</key>
		<string>yrkesområden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesrollen</string>
		<key>Word</key>
		<string>yrkesrollen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesutövaren</string>
		<key>Word</key>
		<string>yrkesutövaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrseln</string>
		<key>Word</key>
		<string>yrseln</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrvaken</string>
		<key>Word</key>
		<string>yrvaken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytan</string>
		<key>Word</key>
		<string>ytan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytavrinningen</string>
		<key>Word</key>
		<string>ytavrinningen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenheten</string>
		<key>Word</key>
		<string>ytenheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärgen</string>
		<key>Word</key>
		<string>ytfärgen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytjämnheten</string>
		<key>Word</key>
		<string>ytjämnheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonteringen</string>
		<key>Word</key>
		<string>ytmonteringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmåtten</string>
		<key>Word</key>
		<string>ytmåtten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytposten</string>
		<key>Word</key>
		<string>ytposten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterblomfjällen</string>
		<key>Word</key>
		<string>ytterblomfjällen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörren</string>
		<key>Word</key>
		<string>ytterdörren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterledaren</string>
		<key>Word</key>
		<string>ytterledaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligheten</string>
		<key>Word</key>
		<string>ytterligheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttern</string>
		<key>Word</key>
		<string>yttern</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrocken</string>
		<key>Word</key>
		<string>ytterrocken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttersidan</string>
		<key>Word</key>
		<string>yttersidan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterväggen</string>
		<key>Word</key>
		<string>ytterväggen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttervärlden</string>
		<key>Word</key>
		<string>yttervärlden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefriheten</string>
		<key>Word</key>
		<string>yttrandefriheten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihetsgrundlagen</string>
		<key>Word</key>
		<string>yttrandefrihetsgrundlagen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttranden</string>
		<key>Word</key>
		<string>yttranden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttringen</string>
		<key>Word</key>
		<string>yttringen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvatten</string>
		<key>Word</key>
		<string>ytvatten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvidden</string>
		<key>Word</key>
		<string>ytvidden</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yukon</string>
		<key>Word</key>
		<string>Yukon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yunnan</string>
		<key>Word</key>
		<string>Yunnan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxan</string>
		<key>Word</key>
		<string>yxan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxkastningen</string>
		<key>Word</key>
		<string>yxkastningen</string>
	</dict>
</array>
</plist>
