<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yachter</string>
		<key>Word</key>
		<string>yachter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yagiantenner</string>
		<key>Word</key>
		<string>yagiantenner</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yassir</string>
		<key>Word</key>
		<string>Yassir</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylar</string>
		<key>Word</key>
		<string>ylar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymer</string>
		<key>Word</key>
		<string>Ymer</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngelknoppar</string>
		<key>Word</key>
		<string>yngelknoppar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglar</string>
		<key>Word</key>
		<string>ynglar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglingar</string>
		<key>Word</key>
		<string>ynglingar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppar</string>
		<key>Word</key>
		<string>yppar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yr</string>
		<key>Word</key>
		<string>yr</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrar</string>
		<key>Word</key>
		<string>yrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrhättor</string>
		<key>Word</key>
		<string>yrhättor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkar</string>
		<key>Word</key>
		<string>yrkar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesbeteckningar</string>
		<key>Word</key>
		<string>yrkesbeteckningar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesgrupper</string>
		<key>Word</key>
		<string>yrkesgrupper</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeskvinnor</string>
		<key>Word</key>
		<string>yrkeskvinnor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesroller</string>
		<key>Word</key>
		<string>yrkesroller</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yror</string>
		<key>Word</key>
		<string>yror</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystar</string>
		<key>Word</key>
		<string>ystar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yster</string>
		<key>Word</key>
		<string>yster</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenheter</string>
		<key>Word</key>
		<string>ytenheter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytfärger</string>
		<key>Word</key>
		<string>ytfärger</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytor</string>
		<key>Word</key>
		<string>ytor</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytter</string>
		<key>Word</key>
		<string>ytter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörr</string>
		<key>Word</key>
		<string>ytterdörr</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterdörrar</string>
		<key>Word</key>
		<string>ytterdörrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterkläder</string>
		<key>Word</key>
		<string>ytterkläder</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligheter</string>
		<key>Word</key>
		<string>ytterligheter</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterrockar</string>
		<key>Word</key>
		<string>ytterrockar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterväggar</string>
		<key>Word</key>
		<string>ytterväggar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrar</string>
		<key>Word</key>
		<string>yttrar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttringar</string>
		<key>Word</key>
		<string>yttringar</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yxor</string>
		<key>Word</key>
		<string>yxor</string>
	</dict>
</array>
</plist>
