<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>y-front</string>
		<key>Word</key>
		<string>Y-front</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yacht</string>
		<key>Word</key>
		<string>yacht</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylandet</string>
		<key>Word</key>
		<string>ylandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylat</string>
		<key>Word</key>
		<string>ylat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yllet</string>
		<key>Word</key>
		<string>yllet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ylletyget</string>
		<key>Word</key>
		<string>ylletyget</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ymnigt</string>
		<key>Word</key>
		<string>ymnigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglat</string>
		<key>Word</key>
		<string>ynglat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynglet</string>
		<key>Word</key>
		<string>ynglet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yngst</string>
		<key>Word</key>
		<string>yngst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligast</string>
		<key>Word</key>
		<string>ynkligast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynkligt</string>
		<key>Word</key>
		<string>ynkligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ynnest</string>
		<key>Word</key>
		<string>ynnest</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yoghurt</string>
		<key>Word</key>
		<string>yoghurt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppandet</string>
		<key>Word</key>
		<string>yppandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppat</string>
		<key>Word</key>
		<string>yppat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperligt</string>
		<key>Word</key>
		<string>ypperligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ypperst</string>
		<key>Word</key>
		<string>ypperst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigast</string>
		<key>Word</key>
		<string>yppigast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yppigt</string>
		<key>Word</key>
		<string>yppigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrandet</string>
		<key>Word</key>
		<string>yrandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrast</string>
		<key>Word</key>
		<string>yrast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrat</string>
		<key>Word</key>
		<string>yrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrfat</string>
		<key>Word</key>
		<string>yrfät</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkandet</string>
		<key>Word</key>
		<string>yrkandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkat</string>
		<key>Word</key>
		<string>yrkat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeserfarenhet</string>
		<key>Word</key>
		<string>yrkeserfarenhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkeslivet</string>
		<key>Word</key>
		<string>yrkeslivet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesmassigt</string>
		<key>Word</key>
		<string>yrkesmässigt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesomradet</string>
		<key>Word</key>
		<string>yrkesområdet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrkesverksamt</string>
		<key>Word</key>
		<string>yrkesverksamt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrket</string>
		<key>Word</key>
		<string>yrket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrt</string>
		<key>Word</key>
		<string>yrt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yrvaket</string>
		<key>Word</key>
		<string>yrvaket</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystat</string>
		<key>Word</key>
		<string>ystat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystert</string>
		<key>Word</key>
		<string>ystert</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ystrast</string>
		<key>Word</key>
		<string>ystrast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytenhet</string>
		<key>Word</key>
		<string>ytenhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytjamnhet</string>
		<key>Word</key>
		<string>ytjämnhet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligast</string>
		<key>Word</key>
		<string>ytligast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytligt</string>
		<key>Word</key>
		<string>ytligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmonterat</string>
		<key>Word</key>
		<string>ytmonterat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmatt</string>
		<key>Word</key>
		<string>ytmått</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytmattet</string>
		<key>Word</key>
		<string>ytmåttet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytpost</string>
		<key>Word</key>
		<string>ytpost</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterblomfjallet</string>
		<key>Word</key>
		<string>ytterblomfjället</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligast</string>
		<key>Word</key>
		<string>ytterligast</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterlighet</string>
		<key>Word</key>
		<string>ytterlighet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterligt</string>
		<key>Word</key>
		<string>ytterligt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytterst</string>
		<key>Word</key>
		<string>ytterst</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandefrihet</string>
		<key>Word</key>
		<string>yttrandefrihet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrandet</string>
		<key>Word</key>
		<string>yttrandet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yttrat</string>
		<key>Word</key>
		<string>yttrat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>ytvattnet</string>
		<key>Word</key>
		<string>ytvattnet</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>yvigt</string>
		<key>Word</key>
		<string>yvigt</string>
	</dict>
</array>
</plist>
