<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zambia</string>
		<key>Word</key>
		<string>Zambia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zapata</string>
		<key>Word</key>
		<string>Zapata</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zapatisterna</string>
		<key>Word</key>
		<string>zapatisterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zarathustra</string>
		<key>Word</key>
		<string>Zarathustra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zdenka</string>
		<key>Word</key>
		<string>Zdenka</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zebra</string>
		<key>Word</key>
		<string>zebra</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zebrorna</string>
		<key>Word</key>
		<string>zebrorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zeloterna</string>
		<key>Word</key>
		<string>zeloterna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zemlja</string>
		<key>Word</key>
		<string>Zemlja</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zerlina</string>
		<key>Word</key>
		<string>Zerlina</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zigenarna</string>
		<key>Word</key>
		<string>zigenarna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zigenska</string>
		<key>Word</key>
		<string>zigenska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zinnia</string>
		<key>Word</key>
		<string>zinnia</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zinniorna</string>
		<key>Word</key>
		<string>zinniorna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zonerna</string>
		<key>Word</key>
		<string>zonerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoologerna</string>
		<key>Word</key>
		<string>zoologerna</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoologiska</string>
		<key>Word</key>
		<string>zoologiska</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zooma</string>
		<key>Word</key>
		<string>zooma</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoombara</string>
		<key>Word</key>
		<string>zoombara</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zuluerna</string>
		<key>Word</key>
		<string>zuluerna</string>
	</dict>
</array>
</plist>
