<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zachrisson</string>
		<key>Word</key>
		<string>Zachrisson</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zebran</string>
		<key>Word</key>
		<string>zebran</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zeloten</string>
		<key>Word</key>
		<string>zeloten</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zemin</string>
		<key>Word</key>
		<string>Zemin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zen</string>
		<key>Word</key>
		<string>zen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zenon</string>
		<key>Word</key>
		<string>Zenon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zigenaren</string>
		<key>Word</key>
		<string>zigenaren</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zingon</string>
		<key>Word</key>
		<string>Zingon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zinken</string>
		<key>Word</key>
		<string>zinken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zinnian</string>
		<key>Word</key>
		<string>zinnian</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zlatan</string>
		<key>Word</key>
		<string>Zlatan</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zlotyn</string>
		<key>Word</key>
		<string>zlotyn</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zodiaken</string>
		<key>Word</key>
		<string>zodiaken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zon</string>
		<key>Word</key>
		<string>zon</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zonen</string>
		<key>Word</key>
		<string>zonen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoologen</string>
		<key>Word</key>
		<string>zoologen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoologin</string>
		<key>Word</key>
		<string>zoologin</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoomobjektiven</string>
		<key>Word</key>
		<string>zoomobjektiven</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoroastrismen</string>
		<key>Word</key>
		<string>zoroastrismen</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zulun</string>
		<key>Word</key>
		<string>zulun</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zweibrucken</string>
		<key>Word</key>
		<string>Zweibrücken</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zundappen</string>
		<key>Word</key>
		<string>Zündappen</string>
	</dict>
</array>
</plist>
