<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zelot</string>
		<key>Word</key>
		<string>zelot</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zenit</string>
		<key>Word</key>
		<string>zenit</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zetterstedt</string>
		<key>Word</key>
		<string>Zetterstedt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zigenskt</string>
		<key>Word</key>
		<string>zigenskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoologiskt</string>
		<key>Word</key>
		<string>zoologiskt</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoomat</string>
		<key>Word</key>
		<string>zoomat</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoombart</string>
		<key>Word</key>
		<string>zoombart</string>
	</dict>
	<dict>
		<key>Count</key>
		<integer>0</integer>
		<key>Match</key>
		<string>zoomobjektivet</string>
		<key>Word</key>
		<string>zoomobjektivet</string>
	</dict>
</array>
</plist>
